---
layout: blog/de/travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true
active_nav: travel-blog
title: November in Sydney
date: 2012-12-04 03:11:27.000000000 +01:00
type: post
published: true
status: publish
categories:
  - de
  - Reiseblog
locations:
  - Sydney
overview:
  external_link: https://sebastian301082.wordpress.com/2012/12/04/november-in-sydney/
  intro: "Nun ist schon wieder ein Monat rum und ich bin nun schon zwei ganze Monate unterwegs. Mein Gott wie die Zeit rennt. Da Australien ein gutes St&uuml;ck teurer ist als geplant und ich auch den Oktober einen sch&ouml;nen Urlaub in Neuseeland hatte, beschloss ich im November erst einmal etwas k&uuml;rzer zu treten. Trotzdem habe ich hier in Sydney schon viel gesehen und erlebt. Von einigen dieser Erlebnisse m&ouml;chte ich heute Berichten."
  image:
    url: /assets/img/blog/auszeit/small/20121206-224444.jpg
    alt: Die Harbour Bridge ist wesentlich gr&ouml;&szlig;er als man denkt
---
<p>Nun ist schon wieder ein Monat rum und ich bin nun schon zwei ganze Monate unterwegs. Mein Gott wie die Zeit rennt. Da Australien ein gutes St&uuml;ck teurer ist als geplant und ich auch den Oktober einen sch&ouml;nen Urlaub in Neuseeland hatte, beschloss ich im November erst einmal etwas k&uuml;rzer zu treten. Trotzdem habe ich hier in Sydney schon viel gesehen und erlebt. Von einigen dieser Erlebnisse m&ouml;chte ich heute Berichten.</p>
<p><!--more--></p>
<p>[caption id="attachment_697" align="alignleft" width="300"]<img class="size-medium wp-image-697" alt="Harbour Bridge in Sydney von F&auml;hre aus fotografiert" src="{{ site.url }}/assets/img/blog/auszeit/small/20121206-224444.jpg" width="300" height="99" /> Die Harbour Bridge ist wesentlich gr&ouml;&szlig;er als man denkt[/caption]</p>
<h2 style="display:inline;">Attraktionen h&auml;ppchenweise</h2>
<p>Wie ich in den letzten Beitr&auml;gen schon berichtet habe verbrachte ich die ersten paar Wochen in 3 Hostels und hab mir w&auml;hrend der Zeit einen Job und eine Wohnung gesucht. In der restlichen Zeit habe ich mir auch schon Teile einiger der gro&szlig;en Hauptattraktionen in Sydney angeschaut.</p>
<p>[caption id="attachment_694" align="alignright" width="300"]<img class="size-medium wp-image-694" alt="Foto vom Opernhaus in Sydney" src="{{ site.url }}/assets/img/blog/auszeit/small/20121206-221611.jpg" width="300" height="200" /> Das Opernhaus durch die Palme[/caption]</p>
<p>Ich habe unter anderem nat&uuml;rlich schon das Opernhaus gesehen und die Harbour Bridge. R&uuml;bergelaufen &uuml;ber die echt riesige Br&uuml;cke bin ich aber noch nicht. Auch um das Opernhaus bin ich noch nicht herum gekommen. Das liegt aber ganz einfach daran, dass ich beschlossen habe mir die Attraktionen St&uuml;ck f&uuml;r St&uuml;ck anzusehen und bei den ersten versuchen kam mir halt spontan etwas dazwischen oder es wurde schon dunkel. Von meinem aktuellen Zuhause sind die Attraktionen ja ein Gl&uuml;ck nicht sehr weit entfernt. Ich habe ja auch noch genug Zeit alles in Ruhe zu besichtigen.</p>
<p>[caption id="attachment_696" align="alignleft" width="300"]<img class="size-medium wp-image-696" alt="Ein Wombats in voller Gr&ouml;&szlig;e" src="{{ site.url }}/assets/img/blog/auszeit/small/20121206-224429.jpg" width="300" height="200" /> Wombats sehen tr&auml;ge aus k&ouml;nnen aber echt schnell rennen[/caption]</p>
<h2 style="display:inline;">Merlin annual pass</h2>
<p>Weiterhin hab ich mir eine Jahreskarte (Merlin annual pass) f&uuml;r 11 Attraktionen in Australien und Sydney besorgt, da diese g&uuml;nstiger ist wenn man mindestens 4 Attraktionen besichtigt. Somit hab ich nun mehr als genug ein und Gelegenheit mir etwas an zu sehen. An einem recht hei&szlig;en Nachmittag zum Beispiel. Da spazierte ich gem&uuml;tlich am echt sehenswerten Darlin Harbour entlang. Kam bei WildLife Australia vorbei, wo der Eintritt f&uuml;r mich auf kostenfrei ist. Da ich dankbar f&uuml;r ein wenig Abwechslung war und zus&auml;tzlich froh war so ein wenig aus der Sonne zu kommen, beschloss ich hinein zu gehen.</p>
<p>[caption id="attachment_698" align="alignright" width="300"]<img class="size-medium wp-image-698" alt="Rex das Salzwasserkrokodil" src="{{ site.url }}/assets/img/blog/auszeit/small/20121206-224451.jpg" width="300" height="200" /> Der kleine, 4,50m lange Rex mit seinen stolzen 750kg (gesch&auml;tzt versteht sich)[/caption]</p>
<p>Das WildLife hier muss man sich ein wenig wie Zoo einmal anders herum vorstellen. Man selbst ist in einer Art klimatisierten Glasr&ouml;hre unterwegs und die Tiere sind drau&szlig;en. Zu sehen gibt es nur einheimische Tiere. Was echt beeindruckend ist. Sogar ein riesiges Salzwasser Krokodil und Helmkasuare sind dort anzufinden. Nat&uuml;rlich sind auch die bekanteren Vertreter wie K&auml;ngurus, Wombats und alle m&ouml;glichen Arten von Schlangen vertreten. Aber auch hier habe ich mir nicht gleich allesbeim ersten Besuch angeschaut sondern nur einen Teil und bin dann wieder raus in die Sonne um den Rest des Nachmittags zu genie&szlig;en. Beim n&auml;chsten Besuch dort habe ich unter anderem die Schmetterlingsfarm, die Koalas und noch viele weitere Tierarten zu bestaunen. Es lohnt sich also noch einmal hinein zu gehen.</p>
<p>[caption id="attachment_737" align="alignleft" width="300"]<img class="size-medium wp-image-737" alt="Zwei Jungs gut ausger&uuml;stet" src="{{ site.url }}/assets/img/blog/auszeit/small/20121210-205108.jpg" width="300" height="280" /> Meine beiden neuen Mitbewohner auf dem Weg zur Party. Nat&uuml;rlich gut ausger&uuml;stet.[/caption]</p>
<h2 style="display:inline;">Alte Bekannte</h2>
<p>Wie ich euch ja schon im letzten Beitrag angedeutet habe, sollte ich noch einmal auf die beiden deutschen Jungs Jan und Fabian treffen, die ich im Hostel kennen gelernt habe. Hier nun die Aufl&ouml;sung. Ich hatte euch auch berichtet das bei mir in der WG das gro&szlig;e Doppelzimmer frei wurde. Ihr ahnt es schon. Ja genau! Jan und Fabian standen eines Tages in der Wohnungst&uuml;r und zogen ein. Ihr k&ouml;nnt euch die Verwunderung vorstellen. In einer Stadt mit mehr als 4,5 Millionen Einwohnern ziehen wir ganz zuf&auml;llig, ohne das vorher auch nur einmal ansatzweise dar&uuml;ber gesprochen wurde, in die selbe Wohnung. Ich finde es gut, da die Jungs so gut wie t&auml;glich lecker kochen und ich mich hier und da mal mit einklinken kann. Somit muss ich nicht mehr ganz so h&auml;ufig die typischen Nudeln mit Ketchup essen.</p>
<p>[caption id="attachment_678" align="alignright" width="300"]<img class="size-medium wp-image-678" alt="Silhouette von Balmain mit Sonne" src="{{ site.url }}/assets/img/blog/auszeit/small/20121206-141612.jpg" width="300" height="200" /> Traumhafte Goldene Stunde[/caption]</p>
<h2 style="display:inline;">Weitere Ausfl&uuml;ge</h2>
<p>Zus&auml;tzlich zu den oben bereits genannten Aktionen hab ich noch viele Kleinigkeiten erlebt. Ich bin schon einige male schwimmen gewesen auch wenn noch nicht im Meer sondern nur in Schwimmhallen und Freib&auml;dern. Was mir gerade so auff&auml;llt: Ich war hier sogar schon das eine oder andere mal am Meer aber in Ber&uuml;hrung mit Meerwasser bin ich noch nicht gekommen. Wird Zeit das ich das nachhole!</p>
<p>Weiterin gehe ich hier in Sydney mehrere Abende in der Woche einfach so durch die Stadt wandern und die Gegend erkunden.</p>
<p>[caption id="attachment_752" align="alignleft" width="300"]<img class="size-medium wp-image-752" alt="&Uuml;bergang in die Blaue Stunde" src="{{ site.url }}/assets/img/blog/auszeit/small/20121210-212945.jpg" width="300" height="200" /> Blaue Stunde &uuml;ber Sydney[/caption]</p>
<p>Dabei habe ich auch Chinatown entdeckt. Wo ich mit einigen vom Hostel ein paar Tage sp&auml;ter essen gegangen bin. Da wir nun nicht wirklich Mandarin lesen k&ouml;nnen, beschlossen die meisten von uns auf Nummer sicher zu gehen und Bratreis mit H&auml;nchen zu bestellen, was wirklich lecker war. Melinda aber bestellte sich, wegen fehlendem Hunger, nur ein paar H&auml;nchen Spie&szlig;e. Sie bestelle einfach die ersten von oben da au&szlig;er dem Wort H&auml;nchen nichts weiter auf Englisch &uuml;bersetzt war. Das war ein zimlicher Reinfall. Die Spie&szlig;e waren so dermassen scharf das Sie einige Gl&auml;ser Wasser zum heruntersp&uuml;hlen ben&ouml;tigte.</p>
<p>Eine Woche zuvor waren wir schon alle zusammen auf der anderen Seite des Hafens unter der Harbour Bridge und genossen den Sonnenuntergang mit dem Finger auf dem Ausl&ouml;ser unserer Kameras. Wir hatten Gl&uuml;ck und bekamen eine echt traumhafte goldene Stunde die wahnsinnig sch&ouml;n in die blaue Stunde &uuml;ber ging. Absolut perfekt f&uuml;r Fotos. Leider kam sp&auml;ter recht h&auml;ftiger Wind auf und wirklich gute Nachtaufnahmen von Sydney's Skyline musste ich auf einen anderen Tag verschieben.</p>
<p>Weiterhin fuhren wir noch mit einigen Leuten nach Manly ins SeaLife Aquarium und ich schaute mir das eine oder andere Feuerwerk sowie die offizielle Einleitung der Weihnachtszeit an. Dazu bekommt ihr aber in den n&auml;chsten Tagen detaliertere Berichte.</p>
