---
layout: de_travel-blog
sitemap: false
active_nav: travel-blog
title: 'Widerlich: Balmain Backpacker''s'
date: 2012-11-01 20:40:41.000000000 +01:00
type: post
published: true
status: publish
categories:
  - de
  - Reiseblog
locations:
  - Newcastle
  - Sydney
overview:
  external_link: https://sebastian301082.wordpress.com/2012/11/01/widerlich-balmain-backpackers/
  intro: "tja wenn ich an dieses Hostel denke fallen mir nur W&ouml;rter ein wie: eckelig, drecking, verwohnt, nicht gepflegt und einfach nur pfui."
  image:
    url: /assets/img/blog/20121104-154521.jpg
    alt: 
---
<p>tja wenn ich an dieses Hostel denke fallen mir nur W&ouml;rter ein wie: eckelig, drecking, verwohnt, nicht gepflegt und einfach nur pfui.</p>
<p><!--more--></p>
<p><img src="{{ site.url }}/assets/img/blog/20121104-154521.jpg" alt="20121104-154521.jpg" class="alignleft size-full" />Ich hatte das Balmain Backpacker's Hostel in Sydney f&uuml;r meine ersten 6 N&auml;chte in Sydney gebucht da es g&uuml;nstig war und ein klein wenig ab vom Zentrum gelegen ist. Die Probleme mit dem Hostel gingen schon los bevor ich &uuml;berhaupt da war. Da am Flughafen alles etwas l&auml;nger gedauert hat versuchte ich das Hostel per Telefon zu erreichen und sicher zu stellen das ich trotzdem noch rein komme da die Rezeption nur bis 17 Uhr besetzt ist. Erreichen konnte ich nat&uuml;rlich niemanden außer den AB. somit fuhr ich einfach hin in der Hoffnung das mich schon irgendwer rein l&auml;sst.</p>
<p>Ein freundlicher Junger Mann &ouml;ffnete mir dann auch die T&uuml;r und wusste auch &uuml;ber meine Ankunft bescheid. Nachdem wir durch die nichts sagende T&uuml;r gingen wurde es erst mal komisch. Der Gang der hinter der T&uuml;r war endete in einer Garage. Dort standen mehrere Fahrzeuge, eine Waschmaschine zwei Autmaten und eine Gruppe echt ranziger St&uuml;hle um eine noch ranzigeren Tisch. L&auml;chelnd erz&auml;hlte mir der Junge Herr das dies hier eine der Aufenthaltsbereiche sei. Ich hoffte noch das es besser wird. Ward es aber nicht.</p>
<p><img src="{{ site.url }}/assets/img/blog/20121104-154511.jpg" alt="20121104-154511.jpg" class="alignright size-full" />Mittig in der Garage ging dann eine Treppe hoch in die erste Etage in der sich eine der zwei K&uuml;chen befand. Diese sah nicht wirklich einladend aus und war außerdem voll mit Leuten. Wir gingen dann weiter in die zweite Etage wo sich einige G&auml;stezimmer und die zweite K&uuml;che befindet. Diese war eigentlich nicht mehr benutzbar. Der Ofen fehlte ganz und im K&uuml;hlschrank fehlten die meisten Einlegeb&ouml;den. Die Sitzm&ouml;bel die vor der K&uuml;chenzeile standen sahen aus als h&auml;tte man sie schon 3 mal zum Sperrm&uuml;ll gebracht und wieder hier abgeladen. Durchgesessen mit L&ouml;chern und Schlitzen. Der Holzfußboden ist auch schon mehrfach nass gewesen da er an einigen Stellen schon aufgegangen war wie ein Schwamm.</p>
<p><img src="{{ site.url }}/assets/img/blog/20121104-154502.jpg" alt="20121104-154502.jpg" class="alignleft size-full" />Es ging dann weiter &uuml;ber eine Terasse, mit verdreckten und ungepflegten Gartenm&ouml;beln, zu einem anderen Treppenhaus. In der n&auml;chsten Etage zeigte er mir dann weitere verranzte R&auml;ume, wie Badezimmer, Toiletten, ein echt eckeliges B&uuml;gelbrett und auch das Zimmer in dem ich f&uuml;r die n&auml;chsten 6 N&auml;chte schlafen sollte. Das Zimmer war sogar halbwegs sauber. Daf&uuml;r aber so klein, dass kein Platz f&uuml;r anst&auml;ndige Ablagefl&auml;chen gab. Somit musste ich meine Sachen einfach auf dem Boden ablegen. Außerdem gab es keine M&ouml;glichkeit f&uuml;r mich meine Wertsachen ordentlich weg zu schließen.</p>
<p>Die T&uuml;r ließ sich nur nach innen &ouml;ffnen. Also muss man sich beim verlassen des Zimmer immer sehr nah an einem der Betten vorbei dr&auml;ngeln. Das Fenster ging zur Hauptstraße raus und war die gesamte Zeit offen da wir sonst in eigen Saft schmoren w&uuml;rden. Klimaanlage gibt es nicht. Das obere Ende der Wand zum Flur ist aus Glasssteinen gebaut. Somit wird der Raum nachts stark erhellt wenn jemand die T&uuml;r  zum Flur auf macht und den Bewegunsmelder f&uuml;rs Licht ausl&ouml;st. Das Doppelstockbett selbst hat keine Leiter und wackelte verd&auml;chtig.</p>
<p><img src="{{ site.url }}/assets/img/blog/20121104-154452.jpg" alt="20121104-154452.jpg" class="alignright size-full" />Das Badezimmer war so dreckig und ekelig, dass ich mir beibrachte wie man ein Bad benutzt inklusive duschen ohne irgendetwas zu ber&uuml;hren. Die Sagrotanflasche wurde dort zu meinem besten Freund. Das Waschbecken wackelte. Die Amatur saß nur lose in der Halterung. Die T&uuml;r der Duschkabine war durch einen schlecht angebrachten Duschvorhang ersetzt worden. Die Fliesen selbst sahen noch garnicht so alt aus aber die Fugen waren so verdreckt, dass man die ohne Hammer und Meißel nicht wieder sauber bekommt.</p>
<p>Abends roch es dann unten in der Garage verd&auml;chtig nach Hanf und zwar so stark das einem echt &uuml;bel werden konnte. Ich war froh das ich noch nicht gleich f&uuml;r alle 6 N&auml;chte bezahlt hatte. Es war mir sehr schnell klar, dass ich es hier nicht sehr lange aushalten werde. Am n&auml;chsten Tag ging ich dann zum Management um die Probleme anzusprechen. Die Dame nahm das alles zur Kenntnis, schaute mich aber dabei an als w&uuml;rde sich eh nichts &auml;ndern.</p>
<p><img src="{{ site.url }}/assets/img/blog/20121104-154439.jpg" alt="20121104-154439.jpg" class="alignleft size-full" />Ich beschloss noch eine zweite Nacht zu bleiben da ich am n&auml;chsten Tag nach Newcastle f&uuml;r ein Probearbeitstag bei einer Agentur eingeladen war. Ich musste dann trotzdem f&uuml;r 3 N&auml;chte bezahlen da im Balmain Backpacker's Hostel mindestens 3 N&auml;chte gebucht werden m&uuml;ssen. Die bedaure nur das Deutsche M&auml;del was mit mir auf einem Zimmer war. Sie dachte &auml;hnlich wie ich hatte aber beschlossen, alle gebuchten N&auml;chte auch dort zu bleiben. ich hoffe das sie hinterher etwas besseres gefunden hat.</p>
<p>N&auml;chstes mal dann wie es in Newcastle war.</p>
