---
layout: blog/de/travel-blog
title: 'Neuseeland: Greymouth - Haast'
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Fox Glacier
  - Franz Josef Galcier
  - Greymouth
  - Haast

headline:
  image:
    url: "/assets/img/blog/auszeit/IGP5179_haast.jpg"
    alt: "Die blaue Stunde auf dem Parkplatz bei Haast"

overview:
  intro: "Gott war das wieder eine Nacht. Ich wurde schon wieder ziemlich gut durchgesch&uuml;ttelt da der Wind leider nicht weniger wurde. Dieses mal kam der Wind aber ein Gl&uuml;ck nicht direkt &uuml;ber den Strand. Somit standen wir wenigsten nicht wieder mitten im Sandsturm. Nach einigen Fotos beschlossen wir trotzdem z&uuml;gig weiter zu fahren da wir heute auch wieder etwas echt interessantes auf der Liste hatten."
  image:
    url: /assets/img/blog/auszeit/small/20121031-073420.jpg
    alt: "Ein Kea am Parkplatz vorm Franz Josef Gletscher"
---
<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-073420.jpg" alt="Ein Kea am Parkplatz vorm Franz Josef Gletscher"
    />
  </div>
  <div class="col-md-8">
    <p>Gott, war das wieder eine Nacht. Ich wurde schon wieder ziemlich gut durchgesch&uuml;ttelt da der Wind leider nicht weniger wurde. Dieses mal kam der Wind aber ein Gl&uuml;ck nicht direkt &uuml;ber den Strand. Somit standen wir wenigsten nicht wieder mitten im Sandsturm. Nach einigen Fotos, beschlossen wir trotzdem z&uuml;gig weiter zu fahren da wir heute auch wieder etwas echt interessantes auf der Liste hatten.</p>
    <p>Etwas was ich hier in Neuseeland unbedingt sehen wollte und somit weit oben auf meiner Must-Do Liste stand, war mir endlich mal einen Gletscher aus der N&auml;he anzuschauen. Da wir 4 Tage schneller durch Neuseeland kamen als ich anfangs gedacht hatte, hatte ich doch genug Zeit die Westk&uuml;ste Richtung S&uuml;den zu fahren. Dort sollen n&auml;mlich laut Reisef&uuml;hrer und Freunden zwei echt sch&ouml;ne Gletscher sein. Somit beschlossen wir uns die beiden mal aus der N&auml;he anzuschauen.</p>
    <p>Beim ersten, dem Franz Josef Gletscher, g&ouml;nnten wir uns eine l&auml;ngere Pause und wanderten erst wieder durch dichten Regenwald bevor dieser schlagartig endet und den Blick auf eine grosse Ebene und den Gletscher in der Ferne frei gibt. Auf dem etwa 45 min&uuml;tigen Spaziergang durch die Ebene ging es entlang vieler wundersch&ouml;ner Wasserf&auml;lle. </p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-073547.jpg"
         alt="Einer der vielen Wasserf&auml;lle im Tal des Franz Josef Gletschers"
     />
  </div>
  <div class="col-md-8">
    <p>Circa 300m vor dem Gletscher endete der Pfad schlagartig. Dort steht eine Infotafel, das es angeblich zu gef&auml;hrlich sei weiter zu gehen, man k&ouml;nne aber f&uuml;r teuer Geld eine gef&uuml;hrte Wanderung dort hin machen.</p>
    <p>Die Nacht verbrachten wir auf einem sch&ouml;n gelegenen kostenfreien Campingplatz in der N&auml;he des Strandes. Der Weg dorthin, f&uuml;hrte wieder durch sch&ouml;nen Regenwald. Es ging um enge Kurven und Berg auf und ab. Manchmal ging es rechts von der Stra&szlig;e ziemlich steil den Berg hinunter und ich dachte mehrfach, dass man dort nicht runterfallen will. Dort wird man definitiv nicht wiedergefunden. Aber nach wenigen Minuten &ouml;ffnete sich die Stra&szlig;e richtung Strand. Am Stra&szlig;enrand standen sehr buschellige/struppige Str&auml;ucher an denen man recht knapp vorbei musste. Oh F%#k! VOLLBREMSUNG! Die Str&auml;ucher bewegten sich. Und zwar auf die Stra&szlig;e. Es waren gar keine Str&auml;ucher. Es waren Schafe die dringend mal ne Schur ben&ouml;tigten. Nach wenigen Momenten, machten sie aber die Stra&szlig;e wieder frei und verschwanden im Unterholz des Regenwaldes.</p>
    <p>Wenige hundert meter weiter kam auch schon der Stellplatz. Er war recht klein und von dichten B&uuml;schen umwachsen.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-073547.jpg"
         alt="Einer der vielen Wasserf&auml;lle im Tal des Franz Josef Gletschers"
    />
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-073617.jpg"
         alt="Das zur&uuml;ckgelassene F&ouml;rderband aus Goldgr&auml;berzeiten"
    />
  </div>
  <div class="col-md-8">
    <p>Wir g&ouml;nnten uns dort noch einen Spaziergang, bei dem wir auf &Uuml;berreste von Goldsch&uuml;rfern stie&szlig;en. Wir lernten, dass es sich dabei um mehrfach gescheiterte Versuche handelt, den Sand nach Gold zu durchsuchen. Wir fanden ein durchgerostetes F&ouml;rderband und einige alte gro&szlig;e Zahnr&auml;der aus verrostetem Stahl.</p>
    <p>Am n&auml;chsten Morgen ging es dann, den Weg zur&uuml;ck bis zum Fox Gletscher. Dort angekommen, gingen wir erst zur Touristeninfo und fanden heraus das wir auch dort nicht n&auml;her heran kommen. Somit beschlossen wir in den SEHR sauren Apfel zu bei&szlig;en und die 115$ (75&euro;) auszugeben. Wir bekamen daf&uuml;r eine 3-4 Stunden Wanderung zum und auf den Gletscher. Wir bekamen einiegs an Klamoten gestellt. Der Guide sagte uns aber, dass wir nicht alle Schichten brauchen w&uuml;rden, da seit Tagen das Weter auf dem Gletscher super w&auml;re und wir sonst zu sehr schwitzen w&uuml;rden.</p>
    <p>Leider hat uns das Wetter einen Strich durch wirklich gute Fotos gemacht.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-073525.jpg"
         alt="Gletscherwanderung auf dem Fox Gletscher"
    />
  </div>
  <div class="col-md-8">
    <p>Sobald wir mit dem Gletscher auf Tuchf&uuml;hlung gingen, fing es heftig an zu Hageln und h&ouml;rte erst wieder auf als wir vom Eis runter waren. Es war trotzdem sch&ouml;n zu sehen und man bekommt ein gutes Gef&uuml;hl daf&uuml;r, wie sensibel die Natur eigentlich ist und wieviel Kraft so ein Gletscher besitzt.</p>
    <p>Abends fuhren wir dann noch bis kurz vor Haast.
      Wir stoppten auf einem gr&ouml;&szlig;eren Parkplatz der nett hinter einer D&uuml;ne am Strand gelegen ist und sogar einen Hochsitz hat von dem aus ich den Sonnenuntergang fotografieren konnte.
      Wir beschlossen das wir zu kaputt sind, um weiter zu fahren und die Nacht hier zu bleiben.
      Die Nacht war so klar, dass ich noch wirklich tolle Fotos von der blauen Stunde machen konnte bevor es ins Bett bin.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-073525.jpg"
         alt="Gletscherwanderung auf dem Fox Gletscher"
    />
  </div>
</div>
