---
layout: de_travel-blog
sitemap: false
active_nav: travel-blog
title: 26.02. Koalas und Apostel
date: 2013-02-26 02:40:59.000000000 +01:00
type: post
published: true
status: publish
categories:
  - de
  - Reiseblog
locations:
  - Apollo Bay
  - Great Ocean Road
  - Port Campbell
  - Zw&ouml;lf Apostel
overview:
  external_link: https://sebastian301082.wordpress.com/2013/02/26/26-02-koalas-und-apostel/
  intro: "Heute haben wir uns das schreiben mal wieder geteilt. DANKE   Basti Nach dem Auschecken fuhren wir zu einem Regenwald-Rundgang kurz hinter Apollo Bay. Dieser war wirklich nicht sehr lang aber daf&uuml;r beeindruckender als der bezahlte Rundgang gestern im Otway Fly Treetop. Wir machten echt einige Fotos und ließen uns auch das eine oder andere mal zusammen Ablichten."
  image:
    url: /assets/img/blog/20130714-143019.jpg
    alt: der ist eindeutig &auml;lter als wir
---
<p>Heute haben wir uns das schreiben mal wieder geteilt. DANKE</p>
<p>[caption id="attachment_1612" align="alignleft" width="225"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1612" rel="attachment wp-att-1612"><img class="size-medium wp-image-1612" alt="der ist eindeutig &auml;lter als wir" src="{{ site.url }}/assets/img/blog/20130714-143019.jpg" width="225" height="300" /></a> der ist eindeutig &auml;lter als wir[/caption]</p>
<p><strong>Basti</strong></p>
<p>Nach dem Auschecken fuhren wir zu einem Regenwald-Rundgang kurz hinter Apollo Bay. Dieser war wirklich nicht sehr lang aber daf&uuml;r beeindruckender als der bezahlte Rundgang gestern im Otway Fly Treetop. Wir machten echt einige Fotos und ließen uns auch das eine oder andere mal zusammen Ablichten.</p>
<p><!--more--></p>
<p><strong>Steffi</strong></p>
<p>Als die Fahrt dann weiterging, meldete sich kurz darauf das "sanit&auml;re Anlagen"-Problem. Die n&auml;chste M&ouml;glichkeit sollte viele viele Kilometer entfernt sein laut Navi und so schlugen wir einen Umweg von einigen km ein, da dort ein Campingplatz sein sollte. Dieser Umweg stellte sich dann als eine verdammt gute Entscheidung heraus, denn nach kurzer Zeit entdeckten wir am Fahrbahnrand 2-3 Autos und deren Besitzer davor, welche alle in die Luft starrten. "Was ist denn hier los?" Tempo gedrosselt und dann sahen wir es: In den B&auml;umen saßen lauter Koalas!!! Also links angehalten, Kamera gez&uuml;ckt und ran an die Koalas! Juhu, unsere ersten freilebenden Koalas auf dieser Reise. Die auf Philipp Island z&auml;hlen nicht, die standen schließlich unter Betreuung!</p>
<p>[caption id="attachment_1613" align="alignright" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1613" rel="attachment wp-att-1613"><img class="size-medium wp-image-1613" alt="&quot;oh Zuschauer - da mal freundlich pr&auml;sentieren&quot;" src="{{ site.url }}/assets/img/blog/20130714-143106.jpg" width="300" height="225" /></a> "oh Zuschauer - da mal freundlich pr&auml;sentieren"[/caption]</p>
<p>Die Koalas in den B&auml;umen waren sogar ziemlich aktiv und kletterten von A nach B und pr&auml;sentierten sich den "Zuschauern". So war nat&uuml;rlich alles andere vergessen und wir blieben einige Zeit dort. Mit der Zeit stellte sich dann aber das eigentliche Vorhaben wieder ein und wir fuhren weiter, aber nicht ohne weiterhin in die B&auml;ume zu schauen, wo wir tats&auml;chlich immer wieder Koalas ausmachen konnten. An einer Stelle blieben wir nochmals stehen, da die Koalas hier recht weit unten waren, wo man sie super beobachten konnten.</p>
<p>Dann f&uuml;hrte uns die Fahrt endlich zu dem langersehnten Campingplatz! Unter Vorwand einiger Fragen im Allgemeinen konnten wir dann auch die sanit&auml;ren Anlagen aufsuchen, bevor es dann wieder zur&uuml;ck auf die urspr&uuml;ngliche Strecke ging. Solch Umwege l&auml;sst man sich doch gefallen. Oder?</p>
<p><strong>Basti</strong><br />
Ja, die Strasse zum Otway Lighthouse zu fahren und dadurch die Koalas zu sehen war eine gute Idee. Es waren aber auch wirklich viele und vor allem auch aktive Tiere zu sehen.</p>
<p>[caption id="attachment_1614" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1614" rel="attachment wp-att-1614"><img class="size-medium wp-image-1614" alt="der erste Blick Teilblick auf die 12 Apostel" src="{{ site.url }}/assets/img/blog/20130714-143353.jpg" width="300" height="225" /></a> der erste Blick Teilblick auf die 12 Apostel[/caption]</p>
<p>Nachdem wir wieder zur&uuml;ck auf der Great Ocean Road waren, hatten wir noch einige km durch flaches Gebiet vor uns, bevor es dann nach oben an die sch&ouml;nste Steilk&uuml;ste der Welt geht. Wir beschlossen direkt am ersten Parkplatz anzuhalten und mal KURZ schauen zu gehen. Aus kurz wurde lang und wieder einmal lief Steffi's Kamera heiß vom vielen Fotos machen.</p>
<p>Es ist aber auch echt sch&ouml;n unten am Strand vor diesen riesigen Felsformationen zu stehen, mit den F&uuml;ßen im viel zu kalten Wasser und einfach nur den Tag zu genießen. An diesem Strand waren dann doch ein paar mehr Menschen. Trotzdem waren nicht mehr als 10 oder 15 Personen. Nat&uuml;rlich meist Asiatisch und dementsprechend schnell wieder weg.</p>
<p>Nachdem wir uns endlich von dem Anblick losgerissen hatten und die Stufen wieder hinauf waren, ging es weiter die wenigen fehlenden km bis zum offiziellen Ausguck auf die Zw&ouml;lf Apostel. Der Parkplatz war nat&uuml;rlich schon gerammelt voll, so dass wir auf einem Busparkplatz zusammen mit einem anderen Camper parken mussten. Direkt neben dem Parkplatz war dann auch gleich die Startbahn f&uuml;r die Rundfl&uuml;ge. Anf&auml;nglich hatte ich eigentlich geplant hier in einen Hubschrauber zu steigen und mir die Apostel von oben anzusehen. Nachdem wir aber gesehen hatten wie kurz die Fl&uuml;ge sind und wie extrem &uuml;berteuert sie daf&uuml;r auch noch sind, ließen wir es bleiben und machten uns zu Fuß auf den Weg zur Aussichtsplattform. Dort ließen wir nat&uuml;rlich auch wieder die Kamera heiß laufen und genossen den Anblick der Felsformationen im Nebel der brechenden Wellen.</p>
<p>[caption id="attachment_1615" align="alignright" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1615" rel="attachment wp-att-1615"><img class="size-medium wp-image-1615" alt="4 der noch 7 verbliebenen der &quot;12 Apostel&quot;" src="{{ site.url }}/assets/img/blog/20130714-144128.jpg" width="300" height="225" /></a> 4 der noch 7 verbliebenen "12 Apostel"[/caption]</p>
<p>Nach einiger Zeit gingen wir zur&uuml;ck zum Auto und g&ouml;nnten uns noch f&uuml;r den langen Weg von nur 150m ein Eis als Wegverpflegung. Man k&ouml;nnte ja verhungern. Nachdem wir den Parkplatz verlassen hatten mussten wir sehr schnell feststellen, dass wir heute nicht mehr sehr weit kommen werden. Alle paar hundert Meter kam n&auml;mlich wieder ein Parkplatz mit einem Aussichtspunkt entlang eines sehr sch&ouml;nen K&uuml;stenstreifens.</p>
<p>Nachdem die Kameras unz&auml;hlige Male heiß gelaufen waren, kamen wir in Port Campbell an. Dort fuhren wir erst zum Campingplatz aus unserem Campingf&uuml;hrer. Dieser war leider nicht nach unserem Geschmack und wir fuhren weiter auf einen gr&ouml;ßeren der auch noch im "Stadtzentrum" lag. Sofern man dieses Nest als Stadt bezeichnen kann. Dieser war, wie so oft, nicht der g&uuml;nstigste, aber gut ausgestattet und direkt an einer Flussm&uuml;ndung mit eigenem Strandzugang.</p>
<p>Wir hatten aber wieder einmal Hunger und beschlossen uns auf die Suche nach etwas essbaren zu machen. Sehr schnell mussten wir auch hier feststellen das wir einfach zu fr&uuml;h hungrig sind. Wir hatten dann aber doch gutes Gl&uuml;ck und landeten in einem Restaurant/Kneipe mit Blick auf die Bucht und den Sonnenuntergang. Zu essen gab es f&uuml;r uns beide Rumpsteak, was lecker aber wie immer zu viel war. Eine Portion f&uuml;r uns beide h&auml;tte v&ouml;llig ausgereicht.</p>
<p>[caption id="attachment_1616" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1616" rel="attachment wp-att-1616"><img class="size-medium wp-image-1616" alt="Die rosa-rote Bucht von Port Campbell" src="{{ site.url }}/assets/img/blog/20130714-144254.jpg" width="300" height="225" /></a> Die rosa-rote Bucht von Port Campbell[/caption]</p>
<p>Nach dem Essen rollten wir uns beide gegenseitig in Richtung Strand und genossen den immer bunter werdenden Himmel vor der untergehenden Sonne. Als es uns dann langsam zu frisch wurde gingen wir gem&uuml;tlich zur&uuml;ck um Campingplatz und begannen mit dem Pflichtprogramm f&uuml;r heute Abend. W&auml;sche waschen! Mittlerweile sind wir geduscht und im Bett, eine Ladung Klamotten wackelt noch im Trockner. Den leeren wir dann einfach morgen fr&uuml;h. Jetzt wir aber erst einmal an der Matratze gehorcht.</p>
<p>Gute Nacht.</p>
