---
layout: blog/de/travel-blog
title: Dezember in Sydney
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Sydney

overview:
  intro: "Im Dezember kam ich leider nicht wirklich zum schreiben. Das m&ouml;chte ich heute endlich nachholen."
  image:
    url: /assets/img/blog/auszeit/small/igp1617.jpg
    alt: Da steht er. Leider immer noch nicht verkauft!
---
<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp1617.jpg" alt="Blauer Mini One 2008 R56"
    />
  </div>
  <div class="col-md-8">
    <p>Im Dezember kam ich leider nicht wirklich zum schreiben. Das m&ouml;chte ich heute endlich nachholen.</p>
<h2>Mein hei&szlig; geliebter MINI</h2>
<p>Da der MINI leider immer noch nicht verkauft war schickte ich ihn anfang des Monats in die Werkstatt in der Hoffnung das er sich danach vielleicht besser verkaufen l&auml;sst. Ich fiel fast hinten &uuml;ber als ich h&ouml;rte was mich die Reparatur kostet. Ein Gl&uuml;ck arbeite ich aktuell in einer echt coolen Firma. Mein Manager erlaubte mir so viele bezalte &Uuml;berstunden zu machen wie und wann ich m&ouml;chte. Selbst an Feiertagen war es kein Problem. Somit verbrachte ich im Dezember sehr viel Zeit im B&uuml;ro. Ich bin nur froh, dass ich meinen Beruf mag und mich deswegen nicht zu der Mehrarbeit zwingen musste.</p>
<h2>Ein wenig Zeit &uuml;brig</h2>
<p>Die wenigen Stunden die mir neben arbeiten und schlafen noch geblieben sind habe ich versucht so gut wie m&ouml;glich zu nutzen. Ich war das eine oder andere mal im Schwimmbad oder Freibad und viel zu Fu&szlig; unterwegs.</p>

  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp7032_1.jpg" alt="Lawn Bowl Rasen mit vielen bunten Kugeln"
     />
  </div>
  <div class="col-md-7">
    <h2>Weihnachtsfeier</h2>
    <p>Nat&uuml;rlich hatten wir auch eine Weihnachtsfeier in der Firma. Wir gingen Mittags schon Vietnamesisch essen. Danach ging es zum Bowls spielen. Dort verbrachten wir den Nachmittag mit spielen, trinken und spass haben. Abends hatte die Firma dann in ein echt leckeres aber viel zu teures Fischrestaurant eingeladen. Es Gab Austern und Tunfischsteak. Es stellte sich raus das, dass Tunfischsteak in Key West einfach unschlagbar ist. Zum Schluss schlossen wir uns noch der Feiergesellschaft von Hotelscombined an und feierten bis sp&auml;t in die Nacht. Der N&auml;chste Tag war dementsprechen nicht sehr, naja, angenehm.</p>
    <h2>Spaziergang nach Bondi</h2>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp7032_1.jpg" alt="Lawn Bowl Rasen mit vielen bunten Kugeln"
    />
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>Am Wochenende darauf wollte ich dann mal wieder eine neue Gegend in Sydney entdecken und beschloss mal zu Fu&szlig; Richtung Meer zu laufen. Ich bin dann das erste sch&ouml;ne St&uuml;ck durch Wohngebiete Zu Fu&szlig; gelaufen. Auf dem Weg ans Wasser war dann noch ein Aldi in dem ich ganz nebenbei noch einmal schnell angehalten um noch ein wenig f&uuml;r Weihnachten einzukaufen. Damit ich nicht f&uuml;r viele km an einer stark befahrenen Hauptstrasse laufen muss, beschloss ich zu einer Bucht zu laufen und mit der F&auml;hre nach Watson Bay zu fahrn. Das ist einige km n&ouml;rdlich von Bondi Beach. Von dort aus bin ich dann immer an der K&uuml;ste entlang Richtung S&uuml;den nach Bondi gelaufen. Die Strecke f&uuml;hrt meistens &uuml;ber Wiesen zwischen Wohnh&auml;usern und den Klippen entlang. Dabei habe ich einige echt sch&ouml;ne Fotos von Flora und Fauna bekommen.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp7543_1.jpg" alt="Leutturm mit gro&szlig;er Wiese davor"
    />
  </div>
  <div class="col-md-7">
    <h2>Fotosessons</h2>
    <p>Wo wir grad bei dem Thema Fotos sind. Da f&auml;llt mir glatt ein das ich ja im Dezember auch das eine oder andere Mal mit meinem Mitbewohner Jan unterwegs war auf der Suche nach tollen Fotomotiven. Wir hatten viel Spa&szlig; denn babei sind uns Z&uuml;ge &uuml;ber den Kopf gefahren, wir und ein Objektivdeckel sind baden gegangen, wir wurden f&uuml;r Geschwindigkeitsblitzer gehalten und haben den Jan bis auf einen seiner F&uuml;&szlig;e komplett verschwinden lassen. Dabei sind einige sehr nette Fotos, wie auch dieses hier, entstanden.</p>
    <h2>Feuerwerke</h2>
    <p>Mit Feuerwerk, als Fotomotiv, habe ich mich nat&uuml;rlich auch mehr als einmal angelegt und bin nat&uuml;rlich auch mehr als einmal gescheitert. Ein mal war ich zu nah dran und beim n&auml;chsten mal war ich wieder zu weit weg. </p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
         alt="Feuerwerk von unten Fotografiert" src="{{ site.url }}/assets/img/blog/auszeit/small/igp7132_1.jpg"    />
  </div>
  <div class="col-md-7">
    <p>Ein mal sogar zu weit oben und mal hatte ich das gef&uuml;hle direkt darunter zu liegen. Der eine oder andere Schnappschuss ist mir aber trotzdem gelungen. Was H&auml;ufigkeit von Feuerwerken angeht ist Sydney aber unschlagbar. An einem Samstag im Dezember bekamen ich 5 gro&szlig;e Feuerwerke im Stadzentrum von Sydney zu sehen.</p>
    <h2>Museen und Austellugen</h2>
    <p>Davon habe ich weniger gesehen als ich mir vor genommen hatte. Ich war nur zwei mal im Sydney Tower Eye. Was die h&ouml;chste Aussichtsplattform in Sydney ist und einmal im Sea-Life. Die anderen Museen und Ausstellungen hebe ich mir f&uuml;r Januar auf.</p>
    <h2>Weihnachten</h2>
    <p>Stimmt. Weihnachten war auch im Dezember. Da war ich mit einigen Mitbewohnern in einem Deutschen Restaurant essen. Dar&uuml;ber hab ich ja schon beim letzten mal berichtet.</p>
    <p>Nach Weihnachten kommt nat&uuml;rlich auch Silvester. Dazu erz&auml;hl und vor allem zeige ich euch beim n&auml;chsten mal mehr!<br />
      <br />
    <h2>2013 Was kommt jetzt</h2>
    <p>In 2013 steht wieder viel an. Vor allem habe ich mir vor genommen endlich was von Australien zu sehen und nicht nur in Sydney zu bleiben. </p>

  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center"
         alt="Feuerwerk von unten Fotografiert" src="{{ site.url }}/assets/img/blog/auszeit/small/igp7132_1.jpg"    />
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>Ich will die Tage einen Kleinbus besorgen und sobald Steffi hier ist geht die Tour Richtung Adelaide los. Weiter steht auf dem Plan f&uuml;r 2013 noch einiges mehr von Australien zu sehen und auch noch ein wenig arbeiten damit die Reiskasse nicht komplett leer wird. Im Europ&auml;ischen Sommer ist dann geplant meine Heimreise nach Europa anzutreten.</p>
    <p>So das war es erst einmal zum Thema Dezember in Sydney. Wie bereits versprochen gibt es beim n&auml;chsten mal mehr &uuml;ber mein Silvesterfest zu erfahren und was ich dort alles erlebt habe.</p>
    <p>Liebe Gr&uuml;&szlig;e und noch einmal<br />
      Ein frohes neues Jahr an alle</p>  </div>
</div>
