---
layout: blog/de/travel-blog
title: Tauchen mit Chance auf Hai
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Sydney

overview:
  intro: "Heute m&ouml;chte ich erz&auml;hlen wie ich zum tauchen kam und was es f&uuml;r riesigen Spa&szlig; machen kann."
  image:
    url: /assets/img/blog/auszeit/small/img_1913.jpg
    alt: So sieht Gordon's Bay bei gutem Wetter aus.
---
<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/img_1913.jpg" alt="Gordon&#039;s Bay, Sydney, Australia bei Sonnenschein"
    />
  </div>
  <div class="col-md-7">
    <p>Heute m&ouml;chte ich erz&auml;hlen wie ich zum tauchen kam und was es f&uuml;r riesigen Spa&szlig; machen kann.</p>
    <p>Um kurz auszuholen. Ich war in meinem Leben schon zweimal tauchen vor diesem Tauchkurs und fand es toll. Das erste mal tauchen war ich mit 13 in der Warnem&uuml;nder Schwimmhalle. Dort war eine riesige Kindertagsparty mit Schnuppertauchen. Wir Freunde Carola, Peer und ich fanden die Idee toll das Ganze mal auszuprobieren. Das zweite M&ouml;glichkeit zum tauchen schenkte mir Qype vor einigen Jahren. Im tiefsten Winter ging es mit ca. 20 Leuten in ein Hamburger Freibad. Es war kalt. Arschkalt! Aber toll war es trotzdem.</p>
    <p>Als f&uuml;r mich fest stand das ich nach Australien gehen werde war auch sofort klar, dass ich am Great Barrier Reef tauchen gehen m&ouml;chte und wenn m&ouml;glich nicht nur einmal. Nach einigem surfen im Internet fand ich sogar heraus, dass man dort sogar ohne offiziellen Tauchschein mit Tauchlehrern das Riff besichtigen kann. Die Preise daf&uuml;r sind aber echt horend. Oftmals das zwei bis dreifache des Preises, wie f&uuml;r Taucher mit Tauchschein.</p>
    <p>Vor 2 Wochen sa&szlig; ich mal wieder an meinem Schreibtisch und schm&ouml;ckerte bei Groupon nach tollen Deals und stolperte &uuml;ber einen Tauchkurs f&uuml;r nur schlappe 199$ bei PRODIVE. Das konnte ich erst fast nicht glauben und machte mich &uuml;ber die Tauchschule schlau. Einige Kollegen kannten die Filiale im Stadtteil Coogee schon und konnten mir versichern das er gar nicht schlecht sei. Nun schaute ich mir das Angebot noch einmal genauer an und es stellte sich heraus, wo hier gespart wird. Man muss den theoretischen Teil alleine &uuml;ber eine Onlineplattform erledigen, bevor der praktische Teil losgehen kann. Na das sollte ich doch hin bekommen. Der praktische Teil wird dann an 3 Tagen erledigt. 1 Tag im Pool und 2 Tage im offenen Gew&auml;sser.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/tauchen3.jpg" alt="Bare Island im Hintergund. Im Vordergrund 8 Personen inklusive mir"
     />
  </div>
  <div class="col-md-7">
    <p>Wie wir alle wissen, bin ich nicht der Fitteste und auch nicht der Schlankste. Deshalb wird mir in dem Angebot ans Herz gelegt erst zum Tauchmediziner zu gehen um mich durchchecken zu lassen. In Sydney's Innenstadt sind Tauchmediziner um einiges teurer daf&uuml;r sprechen Sie aber auch Deutsch. Der Test war ne Sache von ca. einer Stunde und zeigte mir das ich eigentlich verh&auml;ltnissm&auml;&szlig;ig Fit bin, mal abgesehen von meinem &Uuml;bergewicht. Sogar besser h&ouml;ren kann als ich erwartet h&auml;tte. Somit stand medizinisch gesehen dem Tauchschein nichts mehr im Wege.</p>
    <p>Nach kurzer R&uuml;cksprache mit meinem Chef wegen der Praxistage, buchte ich nun das Angebot. Beim buchen hatte ich noch die Wahl zwischen zwei verschiedenen Zertifizierungen. SSI und PADI. </p>
    <p>Da PADI noch einmal ca. 150$ extra kosten sollte und mir eine kurze Recherce im Netz zeigte das beide Zertifikate fast gleichermassen anerkannt sind, entschied ich mich f&uuml;r die kosteng&uuml;nstigere Varainte SSI. Das online Training von SSI ist sogar komplett kostenfrei und ohne Buchung des praktischen Teils absolvierbar.</p>
    <p>Nachdem ich nun den Gutschein hatte, mir ein Praxisdatum (08.04.2013 - 10.04.2013) ausgesucht und gebucht hatte machte ich mich an die Theorie. Die Theorie war wie so oft nat&uuml;rlich etwas trocken. Es kostete einige Nachmittage und Abende mich durch die Lekt&uuml;re zu boxen und die immer mal wieder auftauchenden Frageb&ouml;gen Richtig zu beantworten.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/tauchen3.jpg" alt="Bare Island im Hintergund. Im Vordergrund 8 Personen inklusive mir"
    />
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/tauchen4.jpg" alt="8 im Sprung fotogarfierte Menschen. Einer davon ich."
    />
  </div>
  <div class="col-md-7">
    <p>Nachdem die Online-Theorie durch war, fingen nun die praktischen Tage an. Als erstes mussten wir uns noch 3 Videos &uuml;ber Tauchsicherheit ansehen und noch eine Ankreuzpr&uuml;fung ablegen um zu beweisen, dass wir den Theorieteil auch gelesen und verstanden haben. Als n&auml;chstes suchten wir das Equipment zusammen und fuhren ins Freibad im Victoria Park.</p>
    <p>Dort angekommen sprang ich in meinen Neoprenanzug und musste erst einmal einige Bahnen schwimmen und dann noch 10 Minuten Wasser treten ohne mich irgendwo fest zu halten. Dies war gar nicht so einfach wenn man das auf kleiner Fl&auml;che mit vielen anderen tun soll. Danach wurden wir in zwei Gruppen eingeteilt und uns wurde noch einmal in der Praxis erkl&auml;rt wie das Equipment zusammen gebaut und getestet wird. Danach ging es wieder ins Wasser. Dort machten wir dann die Pflicht&uuml;bungen wie das an- und ausziehen der Tauchausr&uuml;stung im und unter Wasser oder das bel&uuml;ften der Taucherbrille unter Wasser.</p>
    <p>Es stellte sich auch heraus, dass ich ein ziemlich hohen Luftverbrauch unter Wasser habe. Da wir einige Stunden im Pool blieben, brauchte ich zwischendurch auch noch einen neuen Tank. Ganz zum Schluss mussten wir alle erst raus aus dem Wasser um dann mit dem Equipment auf dem R&uuml;cken noch einmal hinein zu h&uuml;pfen. Ich stellte sofort fest, dass die letzte Aufgabe und ich keine Freunde werden. Ich finde das Gef&uuml;hl doof mit so viel extra Gewicht ins Wasser zu h&uuml;pfen.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/tauchen2.jpg" alt="Viele Menschen vor sch&ouml;ner Kolisse"
    />
  </div>
  <div class="col-md-7">
    <p>Nachdem wir nun wieder alle aus dem Wasser waren, die Technik wieder in seine Einzelteile zerlegt war und ich mich aus der Neoprenhaut gek&ouml;pft hatte &uuml;berkam mich die Ersch&ouml;pfung. Ich war noch nie so im Eimer nach einem Tag im Freibad wie heute. Ich qu&auml;lte mich nur noch zu Fu&szlig; zur&uuml;ck zu meinem Auto und schaute mir noch nen Film an.</p>
    <p>Gestern ging es dann zu den ersten zwei Tauchg&auml;ngen im offenen Meer. Nachdem wir morgens schnell unser Equipment zusammen gesammelt hatten fuhren wir nur wenige Minuten bis zum n&auml;chstgelegenen Tauchspot Gordon's Bay. Dort qu&auml;lten wir uns bei Regen in unser Equipment und gingen los. Nach ca. 200 Metern kam wir auch endlich am Wasser an. Ich kann euch sagen 200 Meter in voller Tauchausr&uuml;stung sind kein Spaziergang. Was ich da noch nicht wusste, dass sp&auml;ter noch h&auml;rtere Wege ins Wasser auf mich warten w&uuml;rden.</p>
    <p>Am Wasser angekommen zeigte sich, dass der Weg in das 22 Grad warme Wasser nicht ganz einfach wird, da es ein paar Wellen gab. Da das Wasser w&auml;rmer als die Luft war, war ich froh endlich ins Wasser zu kommen. Nachdem wir uns alle gegenseitig in tieferes Wasser geholfen hatten ging das Training weiter. Nur dieses Mal war es viel sch&ouml;ner, da wir schon bei den &Uuml;bungen an der Oberfl&auml;che von sehr vielen wundersch&ouml;nen und bunten Fischen umzingelt wurden.</p>
    <p>Einer jungen Asiatin in meiner Gruppe war anzusehen, dass ihr nicht wohl war. Mach nur wenigen Minuten im Wasser und noch bevor wir abtauchten, beschloss Sie den Tauchgang abzubrechen und allein zur Basis zur&uuml;ck zu kehren.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/tauchen2.jpg" alt="Viele Menschen vor sch&ouml;ner Kolisse"
    />
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/tauchen1.jpg" alt="Menschen beim Grillen"
    />
  </div>
  <div class="col-md-7">
    <p>Wir warteten noch bis sie aus dem Wasser war bevor wir endlich in die wundersch&ouml;ne Unterwasserwelt eintauchten. Bei angenehmen 5 Metern Sicht machten wir uns an die &Uuml;bungen, die wir vor dem Tauchgang besprochen hatten. Nachdem wir damit durch waren, blieb uns noch ein wenig Luft um die Tierwelt dort unten zu genie&szlig;en. Sogar ein recht grosser Blue Grouper lie&szlig; sich blicken. Blue Grouper haben eine gro&szlig;e &Auml;hnlichkeit zu Karpfen nur das sie Blau wie Edelsteine sind. Wie ich im Meeting nach dem Tauchgang lernen sollte, hat dieser speziellen Fisch sogar einen Namen. Er hei&szlig;t Elvis. Elvis weil er angeblich schon einmal gefangen und f&uuml;r Tod erkl&auml;rt wurde aber doch immer wieder auftaucht.</p>
    <p>Beim zweiten Tauchgang des Tages verbrachten wir sogar noch mehr Zeit unter der Wasseroberfl&auml;che. Insgesamt kam ich auf 38 Minuten laut dem Computer an meiner Ausr&uuml;stung. Die &Uuml;bungen waren wieder nicht die schwierigsten. Dieses mal ging es um Situationen wenn einem mal die Luft ausgeht. Dabei drehte der Trainer einem Teilnehmer die Luft unter Wasser ab und kontrollierte dann das richtige Verhalten des Tauchers und dessen Buddy bis hoch an die Wasseroberfl&auml;che.</p>
    <p>Nachdem wir nun auch mit dem zweiten Tauchgang durch waren, ging es noch einmal ohne Flasche aber mit Weste ins Wasser um noch einmal ein paar &Uuml;bungen mit dem Schnorchel zu machen. Danach ging es dann zur&uuml;ck zur Tauchschule um unser Equipment zu reinigen und den n&auml;chsten Tag zu planen. Abends war ich dann nicht so im Eimer wie den Tag zuvor. Viel stellte ich wieder nicht an, da ja noch ein Tauchtag vor mir lag.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>Heute morgen gab es wieder die Einweisung was heute alles passieren wird und dann ging es auch schon wieder los zu zwei weiteren Tauchg&auml;ngen an einem anderen Platz als gestern. Heute ging es in den Stadtteil La Perouse. Von dort aus wollten wir zwei Tauchg&auml;nge um die Insel Bare Island machen. Die Insel und der Tauchspot sind f&uuml;r zwei Dinge bekannt. Erstens kennt jeder Mission Impossible 2 Fan die Insel, da ein gro&szlig;er Teil des Films auf der Insel gedreht wurde. Zweitens soll man um die Insel herum Seepferdchen und UNGEF&Auml;HRLICHE Port Jackson Haie antreffen k&ouml;nnen.</p>
  </div>
</div>
<div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/diver-verification-11-dives.png" alt="Offizelle Grafik meiner Tauchlizenz von SSI on Prodive."
    />
  </div>
  <div class="col-md-7">
    <p>Dort angekommen gingen wir erst zu Fu&szlig; und ohne Equipment den Weg bis zum ersten Tauchspot ab um uns anzusehen was uns erwartet. Danach machten wir uns daran das Equipment zusammen zu setzten und gingen auch noch einmal das Protokoll f&uuml;r den so genannten Buddy-Check durch. Sobald alle fertig waren, ging es endlich wieder ins Wasser. Leider war die Sicht heute nicht so gut. Nur ein bis zwei Meter. Wir machten also die vorher besprochenen &Uuml;bungen und genossen noch ein paar Minuten die Unterwasserwelt bevor wir wieder an die Oberfl&auml;che mussten.</p>
    <p>Mittlerweile war es Sonnig und angenehm warm. Perfekt f&uuml;r Mittag im freien. Danach machten wir uns an den zweiten und letzten, zur Pr&uuml;fung, geh&ouml;renden Tauchgang. Dieser war beim Einstieg ein gutes St&uuml;ck schwieriger, da wir in voller Montur eine ca. 2 Meter hohe Klippe herunter klettern mussten um an unseren neuen Einstiegstpunkt zu kommen. Bei diesem Tauchgang ging es nur noch um das Richtungstauchen. Somit musste jeder nacheinander einmal einige Meter mit dem Blick auf den Kompass und dem Trainer an der Seite von der Gruppe weg schwimmen. Dann wurde umgekehrt und wieder zur Gruppe zur&uuml;ck gefunden. Niemand ging verloren, wie zu erwarten war.</p>
    <p>Bei beiden Tauchg&auml;ngen heute, habe ich leider kein Gl&uuml;ck gehabt, was Haie oder Seepferdchen angeht. Daf&uuml;r habe ich ein paar beeindruckende Korallen gesichtet und konnte das gute Wetter genie&szlig;en. Die Aussicht &uuml;ber das Hafenbecken und Bare Island ist auch echt toll. Ach und ganz beil&auml;ufig habe ich meine Open Water Diver Pr&uuml;fung bestanden. Diese erlaubt mir nun bis auf eine Tiefe von 18 Meter zu tauchen.</p>
    <p>Great Barrier Reef ich komme!!!</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/diver-verification-11-dives.png" alt="Offizelle Grafik meiner Tauchlizenz von SSI on Prodive."
    />
  </div>
</div>





