---
layout: blog/de/travel-blog
title: "Hard Rocks und Santosa"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2017-asia-oz

locations:
  - Singapur
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170603-banner.jpg
    alt: "Die Weltkugel von Unisersal Studios Santosa mit blauem Himmel im Hintergrund"

overview:
  intro: "Da uns auf Schlag nichts besseres einfiel, beschlossen wir heute morgen spontan"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170603-11.jpg
    alt: "Ein Springbrunnen auf Santosa mit der roten Monrail im Hintergrund"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6 overflow-h visible-sm visible-xs margin-bottom-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }} erst einmal zum &ouml;rtlichen Hard Rock Cafe zu fahren, um zu schauen ob es f&uuml;r mich oder Steffi vielleicht noch was schickes zum anziehen gibt.
            Voll die Intelligente Idee, da unsere Rucks&auml;cke bereits &uuml;bervoll sind.
            Zu Not stopfen wir einfach alles weitere halt ins Handgep&auml;ck oder lose in die Transporttaschen der Rucks&auml;cke.
        </p>
		<p>
            Wir entschieden uns heute f&uuml;r die U-Bahn. Auf dem Weg zu Bahn, sa&szlig;en mehrfach Leute an der Stra&szlig;e mit kleinen St&auml;nden aus Pappkartons.
            Im Vorbeigehen stellten wir fest, dass es sich bei der angebotenen Ware um unverpackte Medikamente handelt.
            Beim zweiten hinschauen erkannten wir sogar ein rautenf&ouml;rmiges Medikament an der typischen blauen Farbe.
            Viagra. Ah ja. Hier kann man also Medikamente kaufen, die in Deutschland verschreibungspflichtig sind.
        </p>
        <p>
            U-Bahn fahren ist hier in Singapur extrem einfach und auch noch g&uuml;nstig dazu.
            Selbst ein Fahrt vom Flughafen in die Stadt kostet nur 2,30 SGD (ca. 1.50 Euro).
            Man holt sich einfach am Automaten eine Einzelfahrkarte und kann diese dann 5x am Automaten aufladen und wiederverwenden.
            So taten wir der Umwelt noch den kleinen Gefallen und sparten noch ein wenig dabei.
        </p>
        <p>
            Leider war das Hard Rock Cafe in der Innenstadt schon von aussen nicht so der Hit.
        </p>
    </div>
    <div class="col-md-6 overflow-h hidden-sm hidden-xs">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            Somit schauten wir uns nur im Shop um, der auch nicht viel her gab. Wie wir sp&auml;ter erfahren sollten, wurde es vor kurzem renoviert und w&auml;re vielleicht doch einen weiteren Blick in den Gastraum wert gewesen.
            Da wir noch immer keinen expliziten Plan f&uuml;r den Tag hatten, beschlossen wir noch zum Hard Rock Hotel auf der kleinen Insel Santosa zu fahren.
            Vielleicht ist das ja besser und neben einigen anderen interessant klingenden Attraktionen, gibt es dort auch einen Strand. Also gesagt getan.
        </p>
        <p>
            Nach Santosa kommt man auf 4 Arten. Mit dem Bus, dem Schiff, der Monorail oder der Seilbahn.
            Wir entschieden uns f&uuml;r die Monorail, da diese uns direkt zum Strand brachte. Auf dem Weg dorthin lernten wir, dass Santosa quasi die Attraktionsinsel ist.
            Dort ist nicht nur Strand und ein Hard Rock Hotel sondern unter anderen auch noch ein Universal Studios Erlebnispark, ein Aquarium und sogar Indoor Skydiving ist dort m&ouml;glich.
        </p>
        <p>
            Am Strand waren nicht lange, da dieser doch recht klein ausfiel und es einfach zu warm war, um in der Sonne zu braten.
            Somit ging es nach einem kalten Drink weiter durch die Hitze zum Hard Rock Hotel.
            Das Hotel war wirklich nett und die Bedienung war noch viel freundlicher.
            Dort fanden wir dann auch sogar noch einige sch&ouml;ne Shirts f&uuml;r uns.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 overflow-h margin-top-20 margin-bottom-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2017-asia-oz/small/20170603-10.jpg" alt="Der Hauptbaum des Gardens by the Bay bei Nacht">
        </div>
    </div>

    <div class="col-md-6">
        <p>
            Als n&auml;chstes wollten wir noch irgendeine weiter Attraktion der Insel ausprobieren.
            Leider war uns das Aquarium zu voll und f&uuml;r Universal Studios war es leider zu sp&auml;t.
            Wir beschlossen dann, dass wir uns langsam auf den Weg zum Garden by the Bay machen.
        </p>
        <p>
            Dabei handelt es sich um eine Art modernen Botanischen Garten, in dessen Zentrum mehrere hohe k&uuml;nstliche B&auml;ume stehen, die langsam von Blattwerk &uuml;berwachsen werden.
            Dort gibt es jeden Abend eine Licht und Musik Show. Aktuell steht dort Star Wars auf dem Programm.
            Diese hatten wir gestern bereits von der Aussichtsplattform des Marina Bay Sands Hotels gesehen.
        </p>
        <p>
            Als wir mit der U Bahn dort ankamen bewegte sich, wie erwartet, eine gro&szlig;e Menge Menschen in Richtung der k&uuml;nstlichen B&auml;ume.
            Wir folgten einfach der Masse und mit jedem Meter wurden es mehr Menschen.
            Nachdem die Show scheinbar Versp&auml;tung hatte und dann nicht einmal mit Star Wars Musik anfing, klickte es bei uns.
            Hier ist heute irgendwas besonderes los.
            Wir dr&auml;ngelten uns durch die Menschenmassen um besser sehen zu k&ouml;nnen und bekamen im vorbeigehen die Info, das es sich um eine Geburtstagsfeier f&uuml;r die G&auml;rten handle.
            Trotz das wir nur noch 50 m von den B&auml;umen entfernt waren, konnten wir so gut wie nichts von der Show sehen.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            Wir beschlossen dann ein wenig aus der Fluchtrichtung zu gehen, damit uns nach Ende der Show nicht alle umrennen auf dem Weg hier raus.
            Wir wollten n&auml;mlich f&uuml;r zweite Show am Abend noch da bleiben.
            Wir bekamen sogar einen sehr guten Platz direkt vor dem gr&ouml;&szlig;ten der B&auml;ume.
            Leider traten bei der zweiten Show keine Darsteller oder S&auml;nger auf und es gab nur die Musik und ein paar nette Animationen auf den B&auml;umen.
        </p>
        <p>
            Danach machten auch wir uns auf den Weg zur&uuml;ck ins Hotel.
            Unterwegs wollten wir dann noch schnell online nach guten Sitzpl&auml;tzen f&uuml;r unseren morgigen Flug nach Hause schauen und unsere Flugtickets auf die Handys laden.
            Leider kam dann auf einmal eine fette rote Warnung die uns erz&auml;hlte, dass etwas an unseren eingegebenen Daten nicht passen w&uuml;rde und das uns auch keiner des Service Teams helfen k&ouml;nnte.
            Wir bekamen nur einen Link zu einer Webseite auf der die Visaregularien aller Herren L&auml;nder erkl&auml;rt waren.
            Ich brauch doch aber kein Visa f&uuml;r zu Hause.
            Nach mehreren weiteren versuchen online irgendwie heraus zu finden was hier schief gelaufen ist, beschlossen wir einfach doch morgen fr&uuml;h direkt zum Flughafen zu fahren um den early Check-In zu nutzen und um das Problem zu kl&auml;ren.
            Danach wollen wir dann zur&uuml;ck in die Stadt fahren, um die restliche Zeit noch etwas zu sehen und zu erleben, bis wir sp&auml;t abends dann erst nach London und dann nach Hause fliegen.
                Hoffentlich klappt morgen alles.
        </p>
    </div>
</div>
<!--=== End Post ===-->
