---
layout: blog/de/travel-blog
title: "Bunter Garten"
active_nav: travel-blog
Author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Singapur
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170604-banner.jpg
    alt: "Orchideen im botanischen Garten Singapur"

overview:
  intro: "Heute fr&uuml;h hieß es mit Wecker aufstehen, fertig packen, auschecken und mit dem Taxi zum Flughafen."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170604-12.jpg
    alt: "Ein buntes Geb&auml;ude in Little India, Singapur"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6 overflow-h visible-sm visible-xs margin-bottom-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
            An der Info fragten wir erst nach dem Early Check-In und dann noch nach Duschm&ouml;glichkeiten.
            Denn wenn wir wieder den Fuß vor die T&uuml;r setzen, sind wir sofort durchgeschwitzt bei den Temperaturen und da wir erst abends fliegen...
            Die Dame sagte zum Gl&uuml;ck, dass es in Terminal 3 f&uuml;r 17$ die M&ouml;glichkeit zum duschen gibt und so machten wir uns auf dem Weg zum Check-In.
            Den Early Check-In Bereich fanden wir schnell, da unser Flug aber erst ab 10.35h zum Check-In bereit sein sollte, suchten wir uns erst einmal was zum fr&uuml;hst&uuml;cken.
            Zur&uuml;ck am Schalter hieß es Nummer ziehen, 5 Sekunden hinsetzen und dann wurden wir aufgerufen. Sinnfrei!!!
        </p>
		<p>
            Wie ja gestern schon berichtet, gab es Probleme beim online Check-In.
            Wir haben dieses dem Herr am Schalter erkl&auml;rt, der schaute sich unsere Ausweise an, sagte wir sollen hier warten und weg war er... samt Papiere!!!
            Und dann ging das Kopfkino los...
            Fremdes Land, nur ein Ausgang hinter uns, der hat unsere Dokumente... in allen Filmen w&uuml;rde kurz darauf die Polizei kommen und einen mitnehmen!
            Er kam und kam nicht wieder und wir &uuml;berlegten, was los sein k&ouml;nnte.
            Nach einer Ewigkeit kam er dann endlich wieder und zeigte Basti sein Pass sowie eine Bordkarte.
            Und da zeigte sich der Fehler... Sebastian Herr.
            Irgendwie hat sich in der Reisezeit als Zweitname "Herr" eingeschlichen und das sprengte das System bei British Airways.
        </p>
    </div>
    <div class="col-md-6 overflow-h hidden-sm hidden-xs">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            Basti erkl&auml;rte ihm, dass dieses das deutsche Wort f&uuml;r "Mister" sei, er schaute noch einige Male komisch, fragte ob das der erste Flug sei etc.  - was wir verneinten.
            Dann bekamen wir die Bordkarten "alles gut" und wir konnten gehen.
            Und das alles wegen solch einem bl&ouml;den Wort... gleich 5 Jahre gealtert bei dem Stress!
        </p>
        <p>
            Nachdem das erledigt war, brachten wir noch unsere Handgep&auml;ckskoffer zur Aufbewahrung, was sogar verh&auml;ltnism&auml;ßig g&uuml;nstig war f&uuml;r den ganzen Tag.
            Danach ging es Richtung Bahn, welche uns nach "Little India" bringen sollte.
            Vorher landeten wir allerdings in einem Schuhladen, wo ich leider f&uuml;ndig wurde.
            Wir ließen die Schuhe zur&uuml;cklegen und fuhren los.
            In Little India angekommen schlenderten wir ein wenig rum, kochten dazu mal wieder in der Sonne und dann beschlossen wir, weiter zum "Orchideen Garten" zu fahren.
            Um dort hin zu kommen mussten wir noch eine halbe Stunde durch die pralle Sonne laufen und in einem kleinen Shop noch Bargeld abheben.
            Denn es war nicht m&ouml;glich mit Karte zu zahlen, wenn der Betrag unter 10$ liegt.
            Also schickte uns die Dame zum Kiosk gegen&uuml;ber, wir holten was zu trinken und konnten zum Gl&uuml;ck gleichzeitig Geld abholen.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 overflow-h margin-top-20 margin-bottom-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2017-asia-oz/small/20170604-10.jpg" alt="Ein Varan im Botanischen Garten Singapur">
        </div>
    </div>

    <div class="col-md-6">
        <p>
            Dann endlich genossen wir die Farbenpracht an Bl&uuml;ten und die Vielfalt der verschiedenen Arten.
            Im &ouml;rtlichen Shop h&auml;tten wir gern welche gekauft und mit nach Deutschland genommen, aber da gibt es, wie uns das Internet verraten hat, zu viel Tamtam wegen der Quarant&auml;ne und dem Artenschutz.
            Dabei waren die Setzlinge doch extra sch&ouml;n in so kleine Gl&auml;ser verpackt etc., also perfekt eigentlich f&uuml;r den Transport.
            Gegen fr&uuml;hen Nachmittag machten wir uns dann langsam auf den Weg zur&uuml;ck zur Bahn.
            Auf dem Weg dahin trafen wir dann noch einen ziemlich großen Varan, welcher im Laub nach was essbarem suchte und dieses auch fand.
            Wieder am Flughafen angekommen, holten wir erst die Schuhe und besorgten mir dann was zu essen im Foodcourt.
            Nachdem wir anschließend das Handgep&auml;ck geholt hatten, ging es weiter zu Terminal 3 und der Lounge mit den Duschen.
            An der Lounge angekommen, 17$ pro Nase gezahlt und sofort konnten wir zu den Duschen.
            Nur ein paar Minuten sp&auml;ter und wir h&auml;tten sicherlich warten m&uuml;ssen, denn die Schlange hinter uns wurde ziemlich schnell sehr lang.
            Eine Dame wies uns jeweils einen Raum mit Dusche zu und so genossen wir das kalte und vor allem erfrischende nass.
            Es war wirklich alles sauber, Handt&uuml;cher, Shampoo und Co wurde einem gestellt und die R&auml;ume waren wirklich sehr groß.
            W&auml;hrend ich vor den Duschr&auml;umen anschließend die Haare f&ouml;hnte, bekam Basti zwischenzeitlich Hunger auf Pizza und so suchten wir uns danach eine Bar, welche Pizza im Angebot und dazu noch bequeme Sitzm&ouml;glichkeiten hatte.
            Dort verbrachten wir dann die restliche Zeit, bis es "Boarding" und "tsch&uuml;ss Singapur" hieß.
        </p>
    </div>
</div>
<!--=== End Post ===-->
