---
layout: blog/de/travel-blog
title: "ab in die Luft"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Australien
  - Bloomsbury
  - Airlie Beach
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170511-banner.jpg
    alt: "Die Einfahrt zum Flughafen von Airlie Beach"

overview:
  intro: "Verdammt war das eine frische Nacht... "
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170511-14.jpg
    alt: "Das Great Barrier Reef von oben"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6 overflow-h visible-sm visible-xs margin-bottom-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }} aber beide zu faul oder auch zu m&uuml;de die Fenster zu schlie&szlig;en.
			Gerade mal 14 Grad, das Auto komplett beschlagen, zog es uns zeitig auf die Stra&szlig;e, um die letzte 70 km bis Airlie Beach zu schaffen.
			Dort um kurz nach 9 Uhr angekommen, ging es f&uuml;r uns quasi sofort in die erste Infost&auml;tte zwecks Ausfl&uuml;ge.
			Hier wurde Basti auch leider gleich die Hoffnung auf Tauchen genommen, da die Sicht zu schlecht sei... wir reden hier von unter 7-10 Metern... &auml;&auml;&auml;&auml;h was?!?
		</p>
		<p>
			Sie erz&auml;hlte weiter das bis vor kurzen hier noch alles komplett in Schutt und Asche lag.
			Grund daf&uuml;r war Zyklon Debbie &uuml;ber den wir schon fr&uuml;her berichteten.
			Das Auge des Zyklon ging hier direkt vor der K&uuml;ste &uuml;ber die Inseln.
			Zm Gl&uuml;ck kam von &uuml;berall her Hilfe und selbst die Regierung schickte G&auml;rtner, Handwerker und sogar das Milit&auml;r zum Wiederaufbau.
			Mit diversen Informationen ging es in die n&auml;chste Infobude zu Simon, von der wir quasi 4 W&ouml;rter h&ouml;rten, uns anschauten und kurz um 200$ (ca. 135 Euro) statt 350$ pro Person  los wurden.
			Das erst Wort war "Bargain" was so viel wie Schn&auml;ppchen bedeutet.
			Die anderen 3 Worte waren "Fly over Heart" was so viel wie "Flug &uuml;bers Riff mit Blick auf Heart Reef".
			Um 15 Uhr sollte mit uns der Flieger &uuml;ber das Great Barrier Reef samt Heart-Reef gehen!!!
		</p>
    </div>
    <div class="col-md-6 overflow-h hidden-sm hidden-xs">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
		<p>
			Nun ging es aber erst einmal zum einkaufen... Reisetabletten und Essen f&uuml;rs Mittag.
			Am Campingplatz angekommen, eingecheckt, Kleinigkeit gegessen und schon ging es wieder los Richtung Flughafen.
			Am Terminal 1 eingecheckt, halbe Std. gewartet und dann kam Lee, unser Pilot. Dieser zeigte uns auf der gro&szlig;en Wandkarte die Route, briefte uns und dann ging es in die Konservendose, auch Wasserflugzeug genannt.
			Mit 6 weiteren G&auml;sten ging es in die L&uuml;fte.
		</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2017-asia-oz/small/20170511-15.jpg" alt="Das Hreat Reef">
        </div>
    </div>
    <div class="col-md-6">
		<p>
			Als erstes sah man dann auch noch weitere Auswirkung von Zyklon "Debbie". 
			Entlang der Startroute lagen &uuml;berall Boote oder ehr Wracks in Mangroven, auf der Stra&szlig;e sowie im Schlick herum.
			Es ging &uuml;ber div. kleine Inseln, bis es endlich hie&szlig; "da vorne kommt das Herz".
			Er drehte 4 Runden bis wirklich jeder sein Foto hatte und dann steuerten wir den Whithaven Beach an.
			Ich muss sagen, von oben sah dieser gar nicht so weiss aus.
			Oder aber es lang an meinem Wohlbefinden, denn die engen Kurven, die Lee zuvor geflogen ist, sind mir gar nicht bekommen.
			Oder aber "Debbie" hatte hier ebenfalls ihre Finger im Spiel?!?
		</p>
		<p>
			Ich versuchte meinen Kopf wieder in Einklang mit meinem Magen zubekommen, w&auml;hrend wir zum "Touch and Go" ansetzten... aufs Wasser aufsetzen, dr&uuml;ber gleiten und wieder nach oben.
			Dieses fand ich so genial, dass es mir kurzfristig wieder gut ging! Nach knapp 1 Std. waren wir dann wieder am Terminal und es gab noch das obligatorischen "k&ouml;nnten wir noch ein Foto machen?".
			Klar gab es dieses samt Pilot und Flieger und anschlie&szlig;end gab es f&uuml;r mich eine sch&ouml;ne kalte Zuckerdosis in Colaform samt Stuhl im Schatten.
			Zur&uuml;ck im Stadtkern ging es dann nochmals zu Simon vom Infob&uuml;ro, um eine Tour mit dem Boot f&uuml;r morgen zu buchen.
			Da wir wieder gekommen sind, gab's sogar noch ein wenig Rabatt! 
			Sp&auml;ter riefen wir dann noch einen lieben Freund an, der Geburtstag hatte und dann ging es zur&uuml;ck auf den Campingplatz zum waschen und Sachen packen.
			Schicht im Schacht!!!
		</p>
    </div>
</div>
<!--=== End Post ===-->
