---
layout: blog/de/travel-blog
title: "06.04. Balicasag und Virgin Island"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Balicasag
  - Virgin Island

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi"

overview:
  intro: "Wir trafen uns um kurz nach 8 Uhr mit den M&auml;dels an der Tauchbasis, packten unsere dort liegen gebliebenen Schnorchelsachen ein und zus&auml;tzlich"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5230.jpg"
    alt: "Katalog Foto auf der Sandbank von Virgin Island"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} noch Neoprenanz&uuml;ge, da die Quallen sich doch arg vermehrt hatten. Da kam auch schon ein Filipino um die Ecke und fragte, ob wir bereit w&auml;ren. Aber sicher doch! Also Kisten geschnappt und losgelaufen, denn es herrschte mal wieder Ebbe und das Boot lag ganz sch&ouml;n weit weg vom Strand. Endlich angekommen und alles verstaut, ging schon der Motor an und auuuuuua... unsere armen Ohren. Das Miniteil war so derma&szlig;en laut, das wir alle nicht ein Wort w&auml;hrend der Fahrt gewechselt haben und am Ende Tinnitus hatten. Die Fahrt ansonsten verlief entspannt und nach knapp 30 Minuten kamen wir an einer mit Booten belagerten Insel namens Balicasag an. Auf dem Weg dorthin gab es sogar kurz echte fliegende Fische zu sehen.
        </p>
        <p>
            Wir fuhren auf die nord&ouml;stliche Seite der Insel, da dort Windstille herrschte und somit keine Wellen waren. Zwischen all den Booten fanden wir tats&auml;chlich einen Platz und erstaunlicher Weise waren kaum Leute zu sehen.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5234.jpg" alt="Endlich eine Schildkr&ouml;te f&uuml;r Steffi" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Perfekt! Fix die Naturschutzgeb&uuml;hr unsere Crew in die Hand gedr&uuml;ckt, Sachen geschnappt und beschlossen, das wir bzw. drei von uns erst einmal ohne Neo ins Wasser gehen. Basti stellte da mit erschrecken fest, das er seine Flossen vergessen hat, aber das war nun leider nicht mehr zu &auml;ndern. Der erste sprang schon, Nummer zwei und drei folgten und dann ging ich zum Einstieg. Und schon br&uuml;llten sie „Schildkr&ouml;ten Schildkr&ouml;ten... koooooomm. Da sind welche, mach schnell, los“.
        </p>
        <p>
            Himmel Herrgott, echt jetzt... in Windeseile in Flossen und Maske gerutscht und rein ins Wasser und da waren sie... Schildkr&ouml;ten „f&uuml;r mich“... unter Wasser.... YEEEEEES! Sie zogen gem&auml;chlich ihre Kreise zwischen Riff und Abgrund und ich konnte in Ruhe staunen, mich einen Keks freuen und nat&uuml;rlichen Bilder machen! Und dann fiel mir auf, das um uns herum ewig viel Fisch war. Die Schildkr&ouml;ten verzogen sich in die ewigen Weiten des Meeres und wir zogen, bisher Quallenfrei, unsere Kreise zwischen den Fischen. Die Vielfalt war wirklich gro&szlig; und das Riff selbst ebenfalls sehr sch&ouml;n. Zumal dieses an einer Art Steilwand wirklich ziemlich tief runter ging und ins dunkle blau verschwand. Oberhalb der Kante, bis hin zur Oberfl&auml;che war alles bunt und das Wasser kristallklar. Hier und da zwickte es mal an der Haut und auf einmal sah man dann auch Quallen. Diese waren aber in so geringer Anzahl, das ich weiterhin ohne l&auml;stigen Anzug im Wasser blieb. Basti sah eine Schildkr&ouml;te weiter unten am Abgrund sitzen und beobachtete sie. Ich gesellte mich dazu, denn sie musste ja irgendwann mal wieder Luft holen. Nach einiger Zeit r&uuml;hrte sie sich dann und steuerte langsam die Oberfl&auml;che an. Ich heftete mich an ihre Fersen und begleitete sie, bis sie nach geraumer Zeit im Nichts verschwand.
        </p>
        <p>
            Ich selbst brauchte auch mal eine Auszeit und sagte Basti, das ich mich an den Strand verziehe. Im dem Zuge sagte er mir, dass wir gegen 11 Uhr weiter fahren - also hatte ich etwas &uuml;ber eine halbe Stunde. Durch absolut kristallklares Wasser, vorbei an sch&ouml;nen Korallen und Fischen landete ich am nicht sooo sch&ouml;nen Strand und setzte mich auf einen Palmenstamm. Der Strand war leider sehr ungepflegt und ziemlich dreckig und das drum herum sah leider auch nicht viel besser aus. Mich sprach ein &auml;lterer Filipino an und wir unterhielten uns, soweit es unsere beiden Sprachkenntnisse zulie&szlig;en. Er hatte zum Gl&uuml;ck eine Uhr und so konnte ich rechtzeitig wieder im Wasser sein. Auf dem Weg zum Boot entdeckte ich im Flachwasser dann eine Krake, aber leider war diese beim zweiten hinschauen nicht mehr wiederzufinden. Daf&uuml;r zeigte sich dann Khan aus „findet Nemo“ (ein Halfterfisch).
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Wieder am Boot angekommen, ging es dann recht schnell r&uuml;ber nach Virgin Island oder auch „bin ich in einem Katalog gelandet-Insel“. Eigentlich ist dort eine Sandbank, auf Grund von Hochwasser stand diese aber unter Wasser und zwar unter so kristall-t&uuml;rkisfarbenen Wasser, dass wir dachten, wir sind in einem Reisekatalog!!! Das Wasser reichte uns knapp bis zu den Knien und wir erkundeten zu viert die Gegend.
        </p>
        <p>
            Auf der Sandbank waren einige St&auml;nde aufgebaut. Die fliegenden H&auml;ndler lie&szlig;en nat&uuml;rlich nicht lange auf sich warten und wollten ihren Schmuck loswerden. Bei uns vergebens! An den St&auml;nden selbst gab es viel Getier aus dem Meer zu kaufen, welches f&uuml;r einen frisch zubereitet wurde oder aber frisches Obst. Dieses entweder pur oder karamellisiert und frittiert. Die M&auml;dels holten sich als ersten frittierte Bananen, nicht so meins, und dann landeten wir bei der Dame mit den Ananas. Diese waren beim probieren so lecker, das wir gleich eine gro&szlig;e T&uuml;te kauften und noch an ihrem Stand leer futterten. Die M&auml;dels holten sich f&uuml;r sp&auml;ter dann noch eine weitere T&uuml;te und wir zogen zum n&auml;chsten Stand. Dort holte Basti sich dann karamellisierte S&uuml;sskartoffeln, aber diese fielen bei uns leider auch durch. Die M&auml;dels holten sich noch s&uuml;&szlig;en, in Bananenbl&auml;tter gepressten Reis und fanden diesen zudem oberlecker.
        </p>
        <p>
            Wir bewegten uns nun langsam Richtung Boot und machten erst einmal ausreichend Bilder und genossen dieses unglaubliche Wasser und die Aussicht. Wir f&uuml;hlten uns eindeutig wie in einem Katalog - sowas unglaubliches hatten wir beide noch nicht gesehen.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Wir sind mitten im Ozean, es gibt einen Markt, kristall-t&uuml;rkisfarbenes Wasser und obwohl viele Boote da waren, war es nicht voll. Nachdem wir alle wieder auf dem Boot waren, setzte sich Basti ganz vorne auf die Spitze vom Boot und wir anderen lie&szlig;en ebenfalls die Beine vorne baumeln. Bei dem L&auml;rm vom Motor, war es eh die beste L&ouml;sung. So wie wir da sa&szlig;en, h&auml;tte die Fahrt noch ewig weiter gehen k&ouml;nnen, aber da waren wir auch schon wieder an der Unterkunft.
        </p>
        <p>
            Wir vier spielten noch ein paar Runden UNO, aber dann hie&szlig; es Abschied nehmen, denn wir mussten noch packen. Es stand der letzte Unterkunftswechsel dieses Urlaubes an. Wir verzogen uns in den Bungalow und f&uuml;llten erneut unsere Rucks&auml;cke, bis wir m&uuml;de ins Bett fielen.
        </p>
        <p>
            Fazit des Tages f&uuml;r mich:
            <br />
            Einer der sch&ouml;nsten Ausfl&uuml;ge, die ich bisher auf meinen Reisen erlebt habe.
        </p>
    </div>

</div>
<!--=== End Post ===-->
