---
layout: blog/de/travel-blog
title: "07.04. Pflege f&uuml;r Hand und Fu&szlig;"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Panglao
  - Manila

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi"

overview:
  intro: "Da sich ja meine Farbe an den Fingern&auml;geln mehr oder weniger verselbstst&auml;ndigt hatte, ging es heute nach dem Fr&uuml;hst&uuml;ck nochmal nach Alona"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5293.jpg"
    alt: "Sebastian Thoss als er sich seinen letzten Mangoshake des Urlaubs g&ouml;nnte."
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Beach rein, um das ganze nochmal zu erneuern. Basti begleitete mich, setzte mich allerdings nur beim Laden ab und ging dann spazieren.
        </p>
        <p>
            Heute wirkte der Laden bedeutend entspannter und so buchte ich neben Manik&uuml;re, gleich noch die Pedik&uuml;re dazu. Ich verbrachte knapp 1,5 Std. auf dem tuffigem Sofa und schrieb dann Basti. Dieser teilte mir mit, das er es sich bei Dunkin Donuts bequem gemacht hatte und so sammelte ich Ihn dort ein.
        </p>
        <p>
            Wieder am Resort angekommen, packten wir die restlichen Sachen ein und schon klopfte das Personal an der T&uuml;r „der Fahrer ist da“! Da er ein wenig fr&uuml;her als gedacht da war, haben wir am Ende vergessen noch ein paar Fotos von der Anlage zu machen, aber das lie&szlig; sich nun auch nicht mehr &auml;ndern.
        </p>
        <p>
            Die Fahrt zum Flughafen Tagbilaran dauerte knapp 1 Stunde und es herrschte reger Betrieb als wir ankamen. Das Aufgeben von unserem Gep&auml;ck ging dennoch recht schnell und so landeten wir wieder einmal in einer kleinen Wartehalle. Diese wurde mit der Zeit echt voll und laut und dann fingen auch noch drei Musiker zu musizieren an. Diese sind anscheinend von Flughafen, &uuml;ber den Blinden- und Behindertenverein, arrangiert,denn die Instrumente standen schon bei unser Ankunft da.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5283.jpg" alt="Die Aussicht von der Dachterasse des TRYP by Wyndham Mall of Asia by Nacht" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Sie spielten und sangen gar nicht schlecht, aber mich selbst nervte es schon in der eh viel zu lauten Halle. Dann hie&szlig; es endlich „Boarding“ und wir konnten unsere Notausgangspl&auml;tze in Reihe 12 einnehmen. Kaum in der Luft, bekamen wir auch schon unser Essen serviert, welches in unserem Paket mit inbegriffen war. Dieses war eigentlich sehr lecker (Rindfleisch, Reis, dunkle So&szlig;e, Gem&uuml;se, Chilli’s), nur ziemlich scharf. Der Flug verlief ruhig und so landeten wir p&uuml;nktlich in Manila. Unser Gep&auml;ck lies zum Gl&uuml;ck nicht lange auf sich warten, so dass wir schnell ein Uber bestellen konnten, welches auch nach ca. 10 min. da war. Die Stra&szlig;en Manila‘s waren dieses Mal zum Gl&uuml;ck recht leer, so dass die Fahrt zum Hotel „TRYP by Wyndham Mall of Asia“ auch nicht lange dauerte.
        </p>
        <p>
            Kaum vor dem Hotel vorgefahren, wurde uns schon die Autot&uuml;r aufgehalten und unser Gep&auml;ck auf Kofferwagen geladen. Wir wurden die Rolltreppe hinaufgeschickt und mussten uns erst einmal umsehen, da leider keine Beschilderung f&uuml;r die Rezeption zu finden war - diese versteckte sich hinter Bar und Konferenzraum. Das Einchecken verlief eigentlich ganz gut, aber zum Gl&uuml;ck war Basti dabei, denn ich verstand am Ende nur Bahnhof. Kreditkartenhinterlegung hier, Sicherheitseinbehalt da, Gutschrift hier, etc. Ich w&auml;re restlos aufgeschmissen gewesen! Am Ende bekamen wir dann unsere Zimmerkarte f&uuml;r Raum „807“, schlenderten zum Fahrstuhl und fuhren bis in die 8. Etage. Das Zimmer war recht ger&auml;umig, bot 2 gro&szlig;e kuschelige Betten und h&auml;tte zudem eine Sitzbank direkt am Fenster mit sch&ouml;ner Aussicht &uuml;ber Meer und Stadt. Wir genossen gerade die Aussicht auf der Fensterbank, da klingelte es auf einmal. Ich ging zur T&uuml;r und unsere Koffer wurden gebracht. Das klingelt nahm aber kein Ende und da merkten wir erst, dass es das Telefon war. Ups! Die Dame von der Rezeption wollte Basti nochmal was erkl&auml;ren und somit war am Ende wieder alles gut.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Nach kurzem ausspannen beschlossen wir noch ein St&uuml;ck spazieren zu gehen, wollten uns aber vorher noch den Pool auf dem Dach anschauen. Leider h&auml;lt der Fahrstuhl eine Etage tiefer und auch hier ist die Beschilderung nicht die beste, allerdings wird man mit einer sch&ouml;nen Dachterrasse und mit noch bessern Ausblick belohnt, wenn man den Zugang erst einmal gefunden hat. Wir schossen einige Fotos, genossen den Ausblick, bis es uns zu windig wurde und dann fuhren wir wieder herunter um loszuziehen. Wir spazierten die Promenade entlang, vorbei an vielen Restaurants und landeten dann auf einem Jahrmarkt, der fest installiert ist. Die Preise hier waren ebenfalls total lachhaft und eigentlich h&auml;tte man das gleich nutzen m&uuml;ssen, aber leider war mir so gar nicht nach Karussell fahren. Ungef&auml;hr in der Mitte angekommen, standen auf einmal viele Menschen und schauten Richtung Meer und da wir ja neugierige Touristen sind, blieben wir ebenfalls stehen. Die Promenade war ein St&uuml;ck abgesperrt und Basti entdeckte auf der Promenadenmauer vermeintliches Feuerwerksmaterial. Hm es war kurz vor 19 Uhr also warteten wir einfach mal und hofften, um kurz darauf mit einem sch&ouml;nen Feuerwerk belohnt zu werden. Wir hatten also wieder einmal alles richtig gemacht und waren zur richtigen Zeit, am richtigen Ort.
        </p>
        <p>
            Bei Basti meldete sich der Durst und so machten wir uns nach dem Feuerwerk auf die Suche und landeten bei einem wahrlich kleinem Stand. Dieser war so niedrig, das Basti nur geduckt darunter passt. Er g&ouml;nnte sich einen Mangoshake und dann gingen wir gem&auml;chlich r&uuml;ber zur Mall of Asia. Dort schlenderten wir gem&uuml;tlich von Laden zu Laden und fanden sogar kleine Pr&auml;sente f&uuml;r Daheim. Daf&uuml;r mussten wir schon einiges laufen, denn das Zentrum ist nach Kategorien unterteilt.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Der Hunger wurde nun auch laut und wir landeten bei einem chinesischen Imbiss-/Restaurant bei Dumplings und Bratreis. Via Promenade ging es dann langsam zur&uuml;ck zum Hotel und wir setzten uns noch in die Bar. Dort gab es f&uuml;r Basti dann einen Baileys und ich g&ouml;nnte mir einen Plastikbeutel mit Eisw&uuml;rfeln. Mich hatte irgendwann mal was kurz &uuml;berm Knie gestochen und durch das laufen scheuerte das nun und schwoll auf viel zu gro&szlig;e Ausma&szlig;e an und tat zudem auch noch weh. Entsprechend orderte ich an der Bar halt mal kein Getr&auml;nk, sondern einfach mal Eis im Beutel.
        </p>
        <p>
            Da die Akkus unserer Handys leer waren, ging es dann auch irgendwann samt Eisbeutel aufs Zimmer und sp&auml;ter unter die Regenwalddusche. Leider is auch hier mal wieder fehlgeplant worden, denn die Duschtrennwand war viel zu kurz, so dass das Bad kurz darauf teilweise unter Wasser stand. Naja ist ja nicht mein Bad, trotzdem immer nervig sowas. Beim Haare trocknen fiel dann auch auf, das die Reinigung im Bad leider nicht die Beste ist. Das Waschbecken hatte nach unten weg &uuml;berall graue Wasserl&auml;ufe. Schade f&uuml;r ein so neues Hotel.
        </p>
        <p>
            Wir quasselten dann noch kurz, aber die Betten riefen schon ganz laut und wir verschwanden ins Traumland.
        </p>
    </div>

</div>
<!--=== End Post ===-->
