---
layout: blog/de/travel-blog
title: "26.03.2018 Flug nach Mactan"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Dauin
  - Malatapay
  - Dumaguete
  - Mactan

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi &amp; Basti"

overview:
  intro: "Heute hie&szlig; es Abschied nehmen von der Insel Negros, denn es sollte f&uuml;r uns mit dem Flieger nach Cebu gehen. Besser gesagt nach Mactan."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4817.jpg"
    alt: "Der Menschenleere Markt in Malatapay"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Der Flughafen von Cebu liegt auf einer Nachbarinsel namens Mactan. Diese ist komplett von einem Riff umgeben. Daher ist fast jeder freie Centimeter Strand ist mit Luxus Resort- und Hotelanlagen bebaut. Eines davon ist das Costabella Tropical Beach Resort. Dort wollen wir heute hin.
        </p>
        <p>
            Gegen 11h verlie&szlig;en wir die Unterkunft und steuerten wieder einmal das Dauin Dive Café an, denn Basti hatte schon vorab mit dem Tauchlehrer Per gekl&auml;rt, dass wir unser Gep&auml;ck erst einmal dort lassen k&ouml;nnen. Eigentlich wollten wir schwimmen gehen, da wir beide aber keine Lust auf nass werden hatten, beschlossen wir mit dem Bus nach Malatapay zu fahren. Dort ist mittwochs immer Markt und zudem der Abfahrtsort, wenn man selbstorganisiert nach Apo Island r&uuml;ber m&ouml;chte. Leider ist da au&szlig;er am Mittwoch wirklich alles dicht und somit schlenderten wir nur kurz an den Strand und setzten uns dann auf einem Milchshake sowie widerliche Pommern in ein Beach Café. Von dort aus beobachteten wir dann einen Tauchlehrgang samt Such- und Rettungs&uuml;bung!
        </p>
        <p>
            Als wir uns dann auf den R&uuml;ckweg machten, erlebten wir das erste mal, was es hei&szlig;t, auf die philippinischen Verkehrsmittel angewiesen zu sein. Erst kam gar kein Bus, dann sahen wir endlich einen und der fuhr eiskalt an uns vorbei. Zwischenzeitlich standen noch zwei weitere Filipinas bei uns, der n&auml;chste kam und... er fuhr ebenfalls eiskalt an uns vorbei!
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Nat&uuml;rlich kam nicht mal ein Tricycle oder ein Jeppney vorbei, welche sonst in Massen fahren. Also weiter warten! Dann kam endlich ein Jeepney und es war sogar noch sowas wie Platz und wir konnten uns auf die Bank setzen. Leider mussten wir ganz durchrutschen, was sich beim aussteigen als ziemlich m&uuml;&szlig;ig erwiesen hat. Denn zwischenzeitlich  hat sich das Teil sehr gut gef&uuml;llt und die Leute sa&szlig;en schon im Gang und joa, wir mussten vorbei. Wir haben sicherlich den einen oder andern Fu&szlig; erwischt, aber die Leute hatten ihren Spa&szlig; an uns viel zu gro&szlig;en deutschen.
        </p>
        <p>
            Im Café gab es dann nochmal fix einen Drink und dann hie&szlig; es Sachen schnappen und wieder hoch an die Stra&szlig;e. Kaum da angekommen, sahen wir auch schon einen Bus, er hielt sogar und war zudem sogar ziemlich leer. Wieder in Dumaguete angekommen, stiegen wir dann direkt auf ein Tricycle um, welches uns zum Flughafen brachte. Da gab’s dann die b&ouml;se &Uuml;berraschung... Der Flieger hat 2 bis 3 Stunden Versp&auml;tung! Leider stellte sich die Abflughalle als Klimaanlagen-Monster, in Form von 11x 2m hohen Standger&auml;ten dar, und Versorgung gab‘s da leider auch keine. Man konnte weder Getr&auml;nke noch essen kaufen. Ich bekam nun aber doch ziemlich Durst und fragte bei der Sicherheitskontrolle nach M&ouml;glichkeiten. Dieser schickte mich nach ganz drau&szlig;en, da is ab und zu jemand. Leider war da so gar keiner und als ich zur&uuml;ck kam, blickte er mich ziemlich ratlos an. Sein Kollege kam dann auf die Idee, mir einen Plastikbecher in die Hand zu dr&uuml;cken und mir von Ihrem Wasserspender was abzugeben. Na wenigstens etwas! Nach einigen Runden Uno und Film gucken, ging es dann auf einmal recht schnell und wir konnten sogar vor der angek&uuml;ndigten Versp&auml;tung boarden.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4852.jpg" alt="der cebu pacific Flieger nach Cebu" />
        </div>
    </div>

    <div class="col-md-6">
        <p>
            Da stellten wir dann auch fest, dass wir diesmal ziemlich daneben gelegen haben, was Sitzpl&auml;tze aussuchen angeht. Wir haben extra die 1. Reihe gebucht, damit wir schnell drau&szlig;en sind... tja nur leider nicht bei einer Propellermaschine von Cebu Pazific. Dort befindet sich vorne keine normale T&uuml;r, sondern das Gep&auml;ckfach. Wir waren zwar die ersten die drinnen waren, daf&uuml;r aber auch die letzten, die drau&szlig;en waren. Super und daf&uuml;r haben wir extra bezahlt. Be&ouml;mmelt haben wir uns dennoch vor lachen, denn sowas kann auch nur uns passieren. Den Herren gegen&uuml;ber hat es aber noch schlimmer getroffen. Er hatte Reihe 1 gebucht und musste r&uuml;ckw&auml;rts fliegen. Mit nur wenig mehr als einer Std Versp&auml;tung landeten wir dann doch schon in Cebu.
        </p>
        <p>
            Nachdem wir unser Gep&auml;ck hatten, bestellten wir uns ein Uber (eine Art Taxi bei denen man von Privatpersonen gefahren wird) und es ging relativ fix zum Resort. Hier trafen dann 2 Welten aufeinander: auf dem Weg zu Unterkunft Armut und notd&uuml;rftig zusammengebaute Bambush&uuml;tten. Dann passierten wir auf einmal  2 Sicherheitsschleusen und landeten im Paradies. Wir wurden sehr freundlich empfangen, unser Gep&auml;ck auf ein Kofferwagen geladen und dann ging es nur noch: „Ich kann Ihnen eine freudige Mitteilung machen... sie haben ein kostenfreies Zimmer Upgrade bekommen“ Auf unsere Frage nach was essbarem: „Ich kann Ihnen eine freudige Mitteilung machen... unser Restaurant hat 24 Std ge&ouml;ffnet“
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Der Spruch flog uns nur so entgegen. Nachdem alle Formalit&auml;ten erledigt waren, wurden wir zu unserem Zimmer 226 gebracht. Dieses entpuppte sich als sch&ouml;n ger&auml;umiges Familienzimmer inkl. gro&szlig;em Bad. Da uns der Hunger und vor allem der Durst hetzte, ging es f&uuml;r uns gleich wieder raus und rein und die Tapas Bar „Luna“. Hier gab es zur Begr&uuml;&szlig;ung erst einmal 6 M&uuml;ckenstiche an ein und der selben Stelle und als Nachtisch einen Strawberry Daiquiri sowie Tortilla de Patata f&uuml;r mich und f&uuml;r Basti einen Mango Daiquri sowie eine Pizza. Mittlerweile war es dann auch schon 1h morgens und das Bett rief ganz laut!
        </p>
    </div>
</div>
<!--=== End Post ===-->
