---
layout: blog/de/travel-blog
title: "01.02.2018 Workation Philippinen"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Manila
  - Cebu

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Mit diesem Beitrag m&ouml;chte ich eine neue Reihe einleiten. Bei dieser geht es um eine neue Art des Reisens. Es handelt sich dabei um ein"
  image:
    url: "/assets/img/blog/2018-philippines/small/cartoon-2898206.png"
    alt: "Eine Zeichnung auf dem ein Mann auf einem Liegestuhl am Strand mit einem Laptop arbeitet."
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Experiment, welches ich zusammen mit meinem Arbeitgeber auf den Philippinen durchf&uuml;hren werde.
        </p>
        <p>
            Als erstes m&ouml;chte ich euch kurz den Begriff Workation erkl&auml;ren. Workation kommt aus dem Englischen und ist die Kombination der Worte Work (Arbeit) und Vacation (Urlaub). Es bedeutet so viel wie „arbeiten an einem selbst gew&auml;hlten Ort“, ohne festen Arbeitsplatz und oft w&auml;hrend einer l&auml;ngeren Reise.
        </p>
        <p>
            Wie oben beschrieben, handelt es sich dabei um Experiment, bei dem sich zeigen soll, ob das Unternehmen digital genug aufgestellt ist und es wirklich egal ist, von wo aus ein gut eingearbeiteter Kollege seine Leistung erbringt. Weiterhin m&ouml;chten wir den internationalen Kollegen anbieten, in besonderen Situationen auch mal zur Familie zu fliegen und den Aufenthalt durch Workation zu verl&auml;ngern.
        </p>
        <p>
            Da ich nun mal selbst Weltenbummler bin, habe ich mit meinem Chef zusammen beschlossen, dass ich dieses Experiment selbst durchf&uuml;hre. Mir pers&ouml;nlich soll es zeigen, ob ich Remote arbeite kann, ob es was f&uuml;r mich w&auml;re und ob ich mich trotz Urlaubsregion auf die Aufgaben konzentrieren kann.
        </p>
        <p>
            Folgend einige Bedingungen, die wir f&uuml;r das Experiment festgelegt haben, um es so aussagekr&auml;ftig wie m&ouml;glich zu machen.
        </p>
    </div>
    <div class="col-md-12">
        <ul>
            <li>Mindestens 4 Zeitzonen in der Zukunft</li>
            <li>Ein voller Monat soll gearbeitet werden</li>
            <li>Es solle die regul&auml;re Arbeitszeit eingehalten werden</li>
            <li>Es soll w&auml;hrenddessen Ortswechsel geben</li>
            <li>Die Kollegen und die Aufgaben sollen nicht beeintr&auml;chtigt werden</li>
        </ul>
        <p>
            Nach einiger Recherche habe ich mich f&uuml;r die Philippinen und den Monat M&auml;rz 2018 entschieden. Die Philippinen liegen 7 Stunden in der Zukunft. Mit der Umstellung auf Sommerzeit in Deutschland sind es dann aber nur noch 6 Stunden. Neben vielen Kriterien, die Thailand auch geboten hat, gewannen die Philippinen am Ende wegen Ihrer W&auml;hrung. Dort wird in Philippinischen Peso gehandelt. Die Abk&uuml;rzung daf&uuml;r lautet PHP. Da PHP auch eine Programmiersprache ist und ich sogar Abteilungsleiter der PHP Entwickler bin, war das dann das Z&uuml;nglein an der Waage. Ich weiss, wir sind halt alle Nerds!
        </p>
    </div>
    <div class="col-md-6">
        <p>
            Also der Finale Plan sieht aktuell wie folgt aus. Ich fliege am 23.02.2018 nach Manila. Da ich kein Freund von Mega Metropolen bin, bleibe ich dort nur 2 Tage um Handynummer und mobiles Internet sicher zu stellen und dann fliege ich weiter nach Cebu, in der Hoffnung dort Wasser, Strand und Tauchm&ouml;glichkeiten zu finden. Von 28.02.2018 bis Ostern (Ende M&auml;rz) will ich dann von verschiedenen Orten aus Arbeiten. Im Anschluss gibt es dann noch 10 Tage Urlaub, bevor es wieder nach Hause geht.
        </p>
        <p>
            Ihr werdet euch jetzt bestimmt Fragen: “Und was ist mit Steffi?“ Keine Sorge. Steffi kommt bereits am 17.03.2018 nach und macht die letzten zwei Wochen meiner Arbeitszeit schon mal Urlaub, bevor wir dann gemeinsam die &uuml;ber 7600 Inseln Ganztags unsicher machen. Ich m&ouml;chte damit auch herausfinden wie gut es mit dem arbeiten klappt, wenn man alleine Workation macht und wie es sich ver&auml;ndert, wenn man zu zweit unterwegs ist und nur einer arbeitet.
        </p>
        <p>
            Am 08.04.2018 geht unser Flug zur&uuml;ck von Manila nach Hamburg. Fast alle Reiseorte und Unterk&uuml;nfte dazwischen sind noch ungeplant und sollen sich ein wenig nach Handyempfang und Internet Geschwindigkeit richten.
        </p>
        <p>
            Soviel erst einmal f&uuml;r heute. Bald dazu aber mehr.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top0">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/apartment-1899964.jpg" alt="Laptop mit Kaffee und Aussicht" />
        </div>
    </div>
</div>
<!--=== End Post ===-->
