---
layout: blog/de/travel-blog
title: "14.05.2018 Langes WE im Harz"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Deutschland
  - Harz
  - Osterode
  - Nordhausen

overview:
  intro: "Nachdem Holly nun endlich wieder aus der Werkstatt zur&uuml;ck war, konnte das Vatertags-Wochenende kommen. Das Wetter war bisher ja super, aber"
  image:
    url: "/assets/img/blog/familienfoto-im-harz.jpg"
    alt: "Familienfoto im Harz"

author: "Steffi"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} die Aussichten f&uuml;r das lange Wochenende sahen wirklich mies aus und so entschieden wir nach Wetterkarte zu fahren. Eigentlich war mir absolut nach Strand und Meer, den Temperaturen und dem Niederschlagsradar nach sollte es aber eher Richtung Niederlande bzw. weiter s&uuml;dlich gehen.
        </p>
        <p>
            Basti und ich trafen uns nach Feierabend an unserem Stammplatz und a&szlig;en erst einmal gem&uuml;tlich und entschieden nebenbei, dass wir wieder Richtung Harz fahren. Leider bildete sich w&auml;hrend der Entscheidungsfindung direkt an der Auffahrt der Autobahn schon ein Stau, so dass wir darin erst einmal landeten.
        </p>
        <p>
            Den Stau endlich hinter uns gelassen, zeigte sich, dass Basti gar nicht mehr so fit war wie er gehofft hatte. Der n&auml;chste Stau lag vor uns und so landeten wir auf einem Rasthof zwischen Soltau und Hannover. Dieser war schon so mit LKWs und Co. &uuml;berlaufen, dass wir uns auf dem n&auml;chstbesten PKW-Parkplatz breit machten und uns anschlie&szlig;end mit Getr&auml;nk und UNO-Karten in die Gastro setzten. Bereits um 21 Uhr fielen uns schon die Augen zu, so dass wir uns im WoMo fertig machten und ins Bett packten. Basti machte sich noch einen Film an, w&auml;hrend ich quasi sofort weg war. Die Nacht war ziemlich unruhig und vor allem laut, so dass diese schon gegen 4 Uhr fr&uuml;h zu Ende war.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Ich blickte durch unseren Vorhang zur Fahrerkabine raus und entdeckte einen Zettel an unserer Windschutzscheibe. Schon am fluchen, machten wir uns fertig und gingen raus. Ich fischte den Zettel von der Windschutzscheibe, in der Erwartung eines Strafzettels, nur so einer sollte es aber nicht sein. Es war mal wieder ein Hinweis eines genervten PKW-Fahrers, indem er sich dar&uuml;ber mutierte, dass wir WoMo-Fahrer mal wieder alle Parkpl&auml;tze blockieren. Wir wollten uns gerade dar&uuml;ber aufregen, als Basti das „P“ ins Auge sprang. Er meinte sein alter Herr malt das genauso und dann fiel im auch noch auf, dass es ein Lieferschein f&uuml;r 11,5 Tonnen Fisch war. Wir machten uns nun aber erst einmal frisch und dann schrieb Basti seinen Papa an.
        </p>
        <p>
            Als wir wieder auf der Autobahn unterwegs waren, rief Peter dann zur&uuml;ck und es stellte sich heraus, dass er es wirklich war. Er kam aus dem Norden und sah auf dem „Freunde Finder“, dass wir dort standen. Leider war aber kein Platz mehr f&uuml;r seinen LKW frei, so dass er nur schnell halten konnte, um den Zettel anzubringen. Dies war wohl so gegen 3h und Basti erz&auml;hlte sp&auml;ter, das er kurz darauf schon wach war. Doooof! Wir schnackten eine Weile und es stellte sich heraus, dass er auch an seinem gro&szlig;en Kind vorbei fuhr. Dieser befand sich n&auml;mlich ebenfalls samt Familie im Harz, wo Peter nun gerade durch fuhr. Aber auch hier leider zu unchristlichen Zeiten!
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/taalsperre-im-harz.jpg" alt="Eine sch&ouml;ne Aussicht auf dei Taalsperre im Harz" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            F&uuml;r uns sollte es erst einmal nach Osterode gehen, genauer gesagt zum Aloha Erlebnisbad. Dort stellten wir uns auf den extra bereitgestellten Wohnmobilplatz und schliefen erst einmal noch eine stattliche Runde. Gegen 11h gingen wir dann zur Halle und ui... ganz sch&ouml;n klein das Teil und hm wo sind die Liegen zum entspannen bzw. die Sitzfl&auml;chen im allgemeinen? Ein Restaurant oder Kiosk war auch nicht zu finden und der Au&szlig;enbereich war ebenfalls noch gesperrt. Wir fanden zum Gl&uuml;ck noch einen leeren Strandkorb und gingen dann erst einmal ins Wasser. Nach 2 Stunden wurde es uns dann zu langweilig und der Hunger meldete sich ebenfalls, so dass wir uns wieder umzogen.
        </p>
        <p>
            Fazit von diesem Bad:
        </p>
        <p>
            Alle schw&auml;rmen von dem Saunabereich, welchen wir aufgrund der Temperaturen nicht getestet haben. Das Bad selbst ist nicht sehr einladend! Keine Entspannungsm&ouml;glichkeiten in Form von ausreichend Liegen und relativ klein, wenn man den Au&szlig;enbereich nicht mitz&auml;hlt. Somit wird es uns nicht wieder als Gast begr&uuml;&szlig;en d&uuml;rfen.
        </p>
        <p>
            Zur&uuml;ck bei Holly (unserem Wohnmobil) wieder alles abgeladen, ging es zu Fu&szlig; zum China-Restaurant, welches wir bei unserem letzten Besuch in Osterode schon entdeckt hatten. Wie waren zum Gl&uuml;ck rechtzeitig da, denn um 15h sollte es hier eine 2-st&uuml;ndige Pause geben. Zu Anfang lief es recht stockend im Restaurant, aber das Essen war wirklich sehr lecker und die Bedienung auch sehr freundlich, als es ruhiger wurde im Laden. Hier kommen wir gerne wieder her.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Auf dem R&uuml;ckweg zu Holly fing es dann leicht an zu regnen, so dass wir es uns erst einmal gem&uuml;tlich machten. Es war schlie&szlig;lich Unwetter angesagt und dabei wollten wir nicht gerade durch die Gegend fahren. Der Regen dauerte nicht wirklich lange und war auch nicht doll, so dass wir beschlossen auf einen Stellplatz vor dem Campingplatz „B&auml;renbache“bei Braunlage zu fahren. Bei Ankunft war leider niemand mehr vor Ort und ein Stellplatz war auch nicht in Sicht. Als wir gerade &uuml;berlegten, was wir machen kam ein paar aus Essen vorbei und erz&auml;hlten, Sie h&auml;tten sich hinten hingestellt. Hmmm also vor der Schranke war definitiv kein Platz, also fuhren wir auch weiter auf den Platz und gesellten uns zu einigen anderen Wagen und schlossen alles an. Das angek&uuml;ndigte Unwetter blieb aus, so dass wir noch eine Weile drau&szlig;en sa&szlig;en und Basti unter anderem mit Matze telefonierte, wobei sie den Treffpunkt f&uuml;r den morgigen Tag ausmachten. Den Abend verbrachten wir dann mit arbeiten bzw. Film schauen.
        </p>
        <p>
            Ich ging dann irgendwann Duschen. Diese sind gar nicht einladend. Es ist zwar alles sauber, aber leider haben die Kabinen, bis auf eine, nur einen Vorhang. Leider absolut keine Ablagefl&auml;che oder sonst was, so dass man sich im Hauptraum ausziehen und seine Sachen dort liegen lassen muss. Ich hatte Gl&uuml;ck, ich hab die einzige Dusche mit T&uuml;r und Extrabereich f&uuml;r Klamotten erwischt. Zudem war der Wasserdruck wirklich gut, selten auf einem Campingplatz!
        </p>
    </div>

</div>
<!--=== End Post ===-->
