---
layout: blog/de/travel-blog
title: "29.12.18 ab in die Luft"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-usa

locations:
  - USA
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Die Skyline von Downtown Manhattan in schwarz weiss am fruehen Vormittag"

author: "Steffi"

overview:
  intro: "Luft h&auml;tten wir gerne gehabt, aber nun hatte es uns vollst&auml;ndig erwischt und wir bekamen gar keine Luft mehr. Was sollte man dann anderes tun, als"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_7433.jpg"
    alt: "Mars Rover Marie Curie"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} bei sch&ouml;nstem Sonnenschein einen neuen Versuch starten, um ins Air & Space Museum zu kommen. Wenn wir schon keine Luft kriegen, dann eben alles was mit Luft zu tun hat.
        </p>
        <p>
            Wir waren 10 Minuten vor &Ouml;ffnung dort und nat&uuml;rlich gab es auch jetzt schon Warteschlangen. Diese waren aber zum Gl&uuml;ck bei weitem nicht so lang, so dass wir fix drinnen waren, als endlich die T&uuml;ren ge&ouml;ffnet wurden. Vorbei an Modellen von Raketen der NASA bis zu Airbus Modellen aus fr&uuml;heren Zeiten, beschlossen wir uns im Planetarium Dark Univers anzuschauen. Diese kostete uns 9 USD pro Nase, daf&uuml;r ist der Eintritt in so ziemlich jedem Museum in D.C. komplett frei.
        </p>
        <p>
            Verstanden habe ich von der Vorf&uuml;hrung nicht wirklich viel, zu einem wegen dem englischen zum anderen, weil ich eh mehr oder weniger im Erk&auml;ltungskoma lag. Sch&ouml;n anzuschauen war das aber daf&uuml;r! Wir tr&ouml;delten anschlie&szlig;end noch eine Weile durch das Museum, bis es uns dann wegen Hunger (essen ist strikt verboten im Museum) nach drau&szlig;en zog. Basti holte sich etwas an einem Food Truck, w&auml;hrend ich mir einen Bagel vom Fr&uuml;hst&uuml;ck einverleibte.
        </p>
        <p>
            Weiter ging es Richtung Capitol. Dieses ist wirklich sch&ouml;n anzuschauen und macht sich gut als Fotomotiv.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Nun sollte es f&uuml;r uns zu Pr&auml;sident Lincoln gehen. Dieser lag aber, f&uuml;r unseren Erk&auml;ltungsgeschmack viel zu weit weg (ca. 4 km), so dass wir uns ein Uber bestellten. Direkt brachte uns die Dame allerdings nicht hin, sie fuhr lieber quer durch Sie Stadt und au&szlig;en herum. Sollte uns egal sein, bei Uber gibt es Festpreise.
        </p>
        <p>
            Bei der Ankunft stellten wir fest, dass gef&uuml;hlt gerade alle Touristen an der selben Stelle waren. Es war mega voll und man m&uuml;sste sich schon durchdr&auml;ngeln, um einen Blick auf den steinernden Lincoln zu bekommen. Vorbei am Wasserbecken, wo Forrest Gump seine Jenny wieder traf, ging es zu Fu&szlig; zur&uuml;ck zum Washington Monument. Hier stiegen wir wieder in ein Uber, welches uns ins Hotel brachte. Dort endeten wir schlafend auf dem Sofa. Erk&auml;ltungen im Urlaub sind wirklich zum ko...!!!
        </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-usa/small/IMG_7517.jpg" alt="Zoolights">
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Da wir uns aber nun nicht alles dadurch vermiesen lassen wollten, fuhren wir abends mit dem Uber zum Smithsonian National Zoo. Dort finden aktuell die Zoolights statt, und der Typ mit der roten Krawatte und der komischen Frisur hat bekannt gegeben, dass sp&auml;testens ab dem 02.01 hier alles lahmgelegt wird. Daher wollten wir das unbedingt noch erledigen. Die Fahrt dahin dauerte l&auml;nger als gedacht, denn wieder einmal hatte alle anderen auch die Idee. Rund um den Zoo ging nichts mehr, daher entlie&szlig;en wir unseren Fahrer schon vorher und gingen den Rest zu Fu&szlig;.
        </p>
        <p>
            Die Zoolights sind ebenfalls kostenfrei und auf dem kompletten Hauptweg durch den Zoo angelegt, so dass die Tiere weitestgehend nicht gest&ouml;rt werden. Die B&auml;ume sind allesamt mit LEDs versehen und &uuml;berall stehen Tiere aus LEDs rum. Dazu gibt es hier und da noch passende Musik. Wie zb. bei den Meerestieren, da lief passender Weise die Musik von Arielle. Nach gut einer Stunde waren wir durch und vor allem durchgefroren, dass wir uns an geeigneter Stelle ein Uber in dem Verkehrschaos suchten, welches uns kurzentschlossener nochmal zum Capitol brachte. Hier sollten eigentlich schicke Nachtaufnahmen entstehen, aber sooo schick war es dann doch nicht beleuchtet. Dementsprechend gab es nur ein paar Bilder, bis es wieder zur&uuml;ck ins Hotel ging. Den Plan, die anderen Geb&auml;ude noch aufzusuchen, lie&szlig;en wir ausfallen.
        </p>
        <p>
            Die Erk&auml;ltung hatte uns doch noch voll unter Kontrolle.
        </p>
    </div>

</div>
<!--=== End Post ===-->
