---
layout: blog/de/travel-blog
title: "15.04.2018 Fazit Worcation"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Heute möchte noch einmal die Chance nutzen, unsere Reise auf die Philippinen zu rekapitulieren und mit euch ein Fazit zu teilen."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4826.jpg"
    alt: "Wir am Strand von Malatapay"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
        </p>
        <p>
            Wie Ihr ja am <a href="{{ site.url }}/de/reiseblog/2018/02/01/worcation-philippinen.html" target="_blank">Anfang bereist gelesen habt</a>, war diese Reise als Experiment für mich und meinen Arbeitgeber geplant. Es ging darum zu schauen, wie sehr die kartenmacherei bereits auf längerfristige Telearbeit eingestellt ist. Für mich war dabei interessant, ob ich mich während einer Reise und vor allem an schönen und interessanten Orten, volle 8 Stunden auf meinen Job konzentrieren kann. Weiterhin interessierte mich, wie sich meine Arbeitsmotivation verändert wenn Steffi dazu kommt und sie faulenzen kann während ich mich konzentrieren will.
        </p>
        <p>
            Da ich Teamleiter eines 14 köpfigen Programmierer-Teams bin, mich um 2  Auszubildende kümmere und auch gerne noch selbst programmiere, waren meine Erwartungen gespalten. Ich wollte gerne gewohnte Strukturen durchbrechen und mich mal wieder aus der Komfortzone heraus jagen.
        </p>
        <p>
            Dies ist mir definitiv gelungen.
            <br />
            Nach nur 2 Wochen auf den Philippinen, hatte ich einen Tag an dem ich am liebsten wieder in den nächsten Flieger gestiegen wäre und nach Hause gekommen wäre. An dem Tag war mir das alles zu viel.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Internetverbindung war schlecht, Weiterreise war noch immer unklar, wo würde ich sein, wenn Steffi landet, mit dem Blog war ich auch schon wieder einige Tage hinterher, mein eigenes Unternehmen hätte auch noch Zeit von mir haben wollen und zusätzlich arbeiten von 15:00 bis 24:00 stand auch noch an. Ausserdem wollte eine dämliche Erkältung, die ich mir aus Deutschland mitgebracht hatte, partout nicht weg gehen. Irgendwie war mit das in dem Moment alles zu viel.
        </p>
        <p>
            Nach einem langen Telefonat mit Steffi und einer guten Mütze schlaf, beschloss ich den folgenden Plan: Ich bleibe bis Steffi’s Ankunft in dem schicken Apartment in Dumaguete, lege mein Unternehmen erst einmal auf Eis und verbringe mehr Zeit draussen und am Strand. Da mir nun der Aufwand bezüglich Weiterreise, Unterkunftssuche und der Druck an <a href="https://www.smest.it" target="_blank">Smest.it</a> zu arbeiten weg fiel, hatte ich auch genug Zeit für diesen Blog. Mein Reiseblog ist mir wirklich wichtig. Vor allem seit ich weiss, dass meine Tante jeden Artikel meiner Oma vorliest und so beide irgendwie auch Teil unserer Reisen sind.
        </p>
        <p>
            Diese Entscheidung war absolut richtig alles andere war einfach zu viel auf dem Zettel. Einige Tage später konnte ich dann auch endlich wieder Tauchen gehen und meine Zeit hier geniessen. Als ich Steffi dann endlich bei mir hatte und wir auch noch von einem Traumresort zum nächsten reisten, wurde es noch viel entspannter. Dankenderweise nahm Steffi mir dann noch das Schreiben der Blogartikel ab und so musste ich mich nur um das Online stellen dieser und meine Arbeit für die kartenmacherei kümmern. Somit wurde alles noch viel entspannter.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5037.jpg" alt="Eine kleinere Banka" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Es stellte sich sogar heraus, dass die Zeitverschiebung von 7 bzw. 6 Stunden einen unerwarteten Vorteil darstellte. Da ich eigentlich immer vor Steffi aufstehe, konnte ich oft schon bis zu 2 meiner 8 Stunden Arbeitszeit erledigen bevor sie überhaupt einen Fuss aus dem Bett setzte. Die Stunden holte ich mir wieder wenn wir abends essen gehen wollten, denn dann war in Hamburg Mittagszeit und es ermöglichte mir regelmässig auch noch einen früheren Feierabend.
        </p>
        <p>
            Am Ende des Experiments, gönnten wir uns noch 10 Tage Urlaub. Diese nutzten wir voll und ganz für uns. Wir besuchten noch 5 weitere Orte. Wir genossen die Natur auf Bohol, besuchten die Chocolate Hills sowie die Tarsiere und genossen Mittag auf den Fluss Loboc. Auf Panglao ging es fast ausschließlich um’s Wasser. Ich war mehrmals tauchen und vor allem gönnten wir uns dort einen wunderschönen und unvergesslichen Tagesausflug nach Balicasag und Virgin Island bei dem wir mit Schildkröten schnorchelten, echte fliegende Fische sahen und an, im Wasser stehenden Marktständen, Ananas und frittierte Süßkartoffeln genossen. In Manila gönnten wir uns auf dem Weg nach Hause noch das eine oder andere Mitbringsel und gaben die letzten Pesos aus, die wir übrig hatten.
        </p>
        <p>
            Alles zusammen war es am Ende eine gelungene Reise mit kleinen Tiefs, aber um so größeren Hochs. Es sind wieder mehrere tausend Fotos entstanden, vor allem von Clownfischen. Wir waren in einem armen, aber auch sehr schönen Land mit vielen freundlichen und im ländlichen auch fröhlichen Menschen. Die Philippinen sind immer eine Reise wert und wenn man ein wenig recherchiert, wird dieses auch nicht all zu teuer. Um es mit Steffi’s Worten zu sagen: Philippinen, im wieder gerne!
        </p>
    </div>

</div>
<!--=== End Post ===-->
