---
layout: blog/de/travel-blog
title: "31.12.18 Rockefeller Center"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-usa

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-from-rockefeller.jpg"
    alt: "Die Skyline von New York in richtung Downtown vom Rockefeller aus gesehen"

author: "Steffi &amp; Basti"

overview:
  intro: "Neuer Tag Neues Glück. Heute morgen haben wir ein letztes Mal alle unsere Sachen ordentlich eingepackt und über alle Taschen strategisch verteilt,"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_7576.jpg"
    alt: "Wir zwei oben auf dem Rockefeller Center beim versuch Gesund auszusehen"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} denn heute Abend geht es wieder nach Hause.
        </p>
        <p>
            Aber erst heute Abend spät. Somit haben wir den ganzen Tag Zeit um noch ein paar Ecken von New York zu sehen. Nur leider war unsere Erkältung auch noch da und wir mussten weiterhin langsam machen. Als erstes besorgten wir uns Tickets für‘s Aussichtsdeck des Rockefeller Center. Da wir nun noch 1,5 std Zeit hatten bis wir hoch durften, suchten wir uns erst einmal ne Kleinigkeit zu essen und zu trinken. Aber immer nur kurze Fußmärsche wegen dieser doofen Erkältung. Die nervt echt.
        </p>
        <p>
            Als wir dann endlich hoch auf die obersten 3 Etagen des Rockefeller Centers durften, fing es auch noch an leicht zu regnen. Wir nutzten trotzdem die Chance unsere Eltern von hier oben per Videotelefonie anzurufen und die Aussicht mit Ihnen zu teilen. Leider war die Verbindung allerdings anderer Meinung, so dass wir schnell wieder abbrachen
        </p>
        <p>
            Nachdem wir uns satt gesehen hatten, fuhren wir wieder runter und der Hunger meldete sich. Dieser sollte gestillt werden, indem wir den nächsten Punkt unseres Sightseeing-Passes einlösten. Denn mit diesem kann man unter anderem auch in bestimmte Restaurant einkehren und sich was schönes gönnen.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            In diesem Fall zog es uns zu einem Italiener nah dem Times Square. Hier gab es für uns Pizza und Pasta- beides gar nicht mal schlecht.
        </p>
        <p>
            Das Wetter wurde leider nicht besser, unser Wohlbefinden auch nicht und so fuhren wir zurück zum Hotel, um unsere Koffer zu holen. Hier hieß es dann erst einmal Koffer auf, Klamotten und Waschkram raus, ins Bad vom Hotel verschwinden und umziehen sowie frisch machen.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-usa/small/IMG_7586.jpg" alt="Wir zwei, voellig im Ar... am Flughafen Amsterdam" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Nachdem wir dieses alles erledigt hatten, kam auch schon unser bestelltes UBER und brachte uns zum Flughafen.
        </p>
        <p>
            Beim Einchecken gab es Hoffnung auf einen früheren Flug, so dass wir die Beine in die Hand nahmen, um zum Schalter in Sicherheitsbereich zu kommen. Leider stellte es sich bei Ankunft aber als Fehlinfo raus, so dass wir nun doch noch ausreichend Zeit hatten. Diese nutzen wir mit der Suche nach Taschentücher, welche fehlgeschlagen ist, so dass wir die Restaurants um ihre Servietten erleichterten.
        </p>
        <p>
            Etwas zu essen blieb ebenfalls erfolglos, da uns dieses einfach zu ausverschämt war. Für ein simples Brötchen mit Aufschnitt knapp 15€ zu verlangen... sorry, da sind wir raus.
        </p>
        <p>
            Irgendwann ging endlich der Boarding los und wir konnten unsere Plätze einnehmen.
        </p>
        <p>
            Basti versuchte zu schlafen und bei mir stellte sich quasi unmittelbar beim hinsetzen Migräne ein. Mein Kopf war kurz vorm platzen und speiübel war mir blöderweise auch noch. Also erst einmal in den Vordersitz nach der Notfalltüte geschaut, diese zum Glück entdeckt, also versucht den Kopf auszumachen um zu schlafen. Dieses funktionierte leider mal wieder gar nicht und so wurde es wieder ein Flug, ohne gescheit zu schlafen.
        </p>
        <p>
            Meine Migräne ging zum Glück irgendwann halbwegs, so dass ich halbwegs klar mitbekam, das zu 5 Uhr deutscher Zeit im Flieger das neue Jahr begrüßt wurde. Dazu wurde Champus gereicht und im Flieger lief irgendein Neujahrslied.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Das Display sagte mir zudem, dass wir uns irgendwo über dem Sankt-Lorenz-Golf in Kanada befanden. In Amsterdam gelandet, ging es uns immer noch schlechter als recht, so dass die Wartezeit sich arg zog.
        </p>
        <p>
            Endlich in Hamburg angekommen, ging es für uns durch den roten Kanal vom Zoll. Hier haben wir ordnungsgemäß unsere Zuviel gekauften Sachen anmelden wollen. Auf Grund des niedrigen Betrages würden wir allerdings gleich durchgewunken und konnten in das bereitstehende Auto meiner Mama hüpfen. Die brachte uns lieberweise wieder nach Hause, wo wir uns noch bis zum frühen Abend quälten, um dann endlich ins Bett zu fallen
        </p>
        <p>
            Fazit:
            <br />
            Es war teurer als gedacht, es war schöner als gedacht und verdammt... ich bin immer noch nicht fertig mit New York!!!
        </p>
    </div>

</div>
<!--=== End Post ===-->
