---
layout: blog/de/travel-blog
title: "07.04. Pflege für Hand und Fuß"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Panglao
  - Manila

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi"

overview:
  intro: "Da sich ja meine Farbe an den Fingernägeln mehr oder weniger verselbstständigt hatte, ging es heute nach dem Frühstück nochmal nach Alona"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5293.jpg"
    alt: "Sebastian Thoss als er sich seinen letzten Mangoshake des Urlaubs gönnte."
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Beach rein, um das ganze nochmal zu erneuern. Basti begleitete mich, setzte mich allerdings nur beim Laden ab und ging dann spazieren.
        </p>
        <p>
            Heute wirkte der Laden bedeutend entspannter und so buchte ich neben Maniküre, gleich noch die Pediküre dazu. Ich verbrachte knapp 1,5 Std. auf dem tuffigem Sofa und schrieb dann Basti. Dieser teilte mir mir, das er es sich bei Dunkin Donuts bequem gemacht hatte und so sammelte ich Ihn dort ein.
        </p>
        <p>
            Wieder am Resort angekommen, packten wir die restlichen Sachen ein und schon klopfte das Personal an der Tür „der Fahrer ist da“! Da er ein wenig früher als gedacht da war, haben wir am Ende vergessen noch ein paar Fotos von der Anlage zu machen, aber das ließ sich nun auch nicht mehr ändern.
        </p>
        <p>
            Die Fahrt zum Flughafen Tagbilaran dauerte knapp 1 Stunde und es herrschte reger Betrieb als wir ankamen. Das Aufgeben von unserem Gepäck ging dennoch recht schnell und so landeten wir wieder einmal in einer kleinen Wartehalle. Diese wurde mit der Zeit echt voll und laut und dann fingen auch noch drei Musiker zu musizieren an. Diese sind anscheinend von Flughafen, über den Blinden- und Behindertenverein, arrangiert,denn die Instrumente standen schon bei unser Ankunft da.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5283.jpg" alt="Die Aussicht von der Dachterasse des TRYP by Wyndham Mall of Asia by Nacht" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Sie spielten und sangen gar nicht schlecht, aber mich selbst nervte es schon in der eh viel zu lauten Halle. Dann hieß es endlich „Boarding“ und wir konnten unsere Notausgangsplätze in Reihe 12 einnehmen. Kaum in der Luft, bekamen wir auch schon unser Essen serviert, welches in unserem Paket mit inbegriffen war. Dieses war eigentlich sehr lecker (Rindfleisch, Reis, dunkle Soße, Gemüse, Chilli’s), nur ziemlich scharf. Der Flug verlief ruhig und so landeten wir pünktlich in Manila. Unser Gepäck lies zum Glück nicht lange auf sich warten, so dass wir schnell ein Uber bestellen konnten, welches auch nach ca. 10 min. da war. Die Straßen Manila‘s waren dieses Mal zum Glück recht leer, so dass die Fahrt zum Hotel „TRYP by Wyndham Mall of Asia“ auch nicht lange dauerte.
        </p>
        <p>
            Kaum vor dem Hotel vorgefahren, wurde uns schon die Autotür aufgehalten und unser Gepäck auf Kofferwagen geladen. Wir wurden die Rolltreppe hinaufgeschickt und mussten uns erst einmal umsehen, da leider keine Beschilderung für die Rezeption zu finden war - diese versteckte sich hinter Bar und Konferenzraum. Das Einchecken verlief eigentlich ganz gut, aber zum Glück war Basti dabei, denn ich verstand am Ende nur Bahnhof. Kreditkartenhinterlegung hier, Sicherheitseinbehalt da, Gutschrift hier, etc. Ich wäre restlos aufgeschmissen gewesen! Am Ende bekamen wir dann unsere Zimmerkarte für Raum „807“, schlenderten zum Fahrstuhl und fuhren bis in die 8. Etage. Das Zimmer war recht geräumig, bot 2 große kuschelige Betten und hätte zudem eine Sitzbank direkt am Fenster mit schöner Aussicht über Meer und Stadt. Wir genossen gerade die Aussicht auf der Fensterbank, da klingelte es auf einmal. Ich ging zur Tür und unsere Koffer wurden gebracht. Das klingelt nahm aber kein Ende und da merkten wir erst, dass es das Telefon war. Ups! Die Dame von der Rezeption wollte Basti nochmal was erklären und somit war am Ende wieder alles gut.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Nach kurzem ausspannen beschlossen wir noch ein Stück spazieren zu gehen, wollten uns aber vorher noch den Pool auf dem Dach anschauen. Leider hält der Fahrstuhl eine Etage tiefer und auch hier ist die Beschilderung nicht die beste, allerdings wird man mit einer schönen Dachterrasse und mit noch bessern Ausblick belohnt, wenn man den Zugang erst einmal gefunden hat. Wir schossen einige Fotos, genossen den Ausblick, bis es uns zu windig wurde und dann fuhren wir wieder herunter um loszuziehen. Wir spazierten die Promenade entlang, vorbei an vielen Restaurants und landeten dann auf einem Jahrmarkt, der fest installiert ist. Die Preise hier waren ebenfalls total lachhaft und eigentlich hätte man das gleich nutzen müssen, aber leider war mir so gar nicht nach Karussell fahren. Ungefähr in der Mitte angekommen, standen auf einmal viele Menschen und schauten Richtung Meer und da wir ja neugierige Touristen sind, blieben wir ebenfalls stehen. Die Promenade war ein Stück abgesperrt und Basti entdeckte auf der Promenadenmauer vermeintliches Feuerwerksmaterial. Hm es war kurz vor 19 Uhr also warteten wir einfach mal und hofften, um kurz darauf mit einem schönen Feuerwerk belohnt zu werden. Wir hatten also wieder einmal alles richtig gemacht und waren zur richtigen Zeit, am richtigen Ort.
        </p>
        <p>
            Bei Basti meldete sich der Durst und so machten wir uns nach dem Feuerwerk auf die Suche und landeten bei einem wahrlich kleinem Stand. Dieser war so niedrig, das Basti nur geduckt darunter passt. Er gönnte sich einen Mangoshake und dann gingen wir gemächlich rüber zur Mall of Asia. Dort schlenderten wir gemütlich von Laden zu Laden und fanden sogar kleine Präsente für Daheim. Dafür mussten wir schon einiges laufen, denn das Zentrum ist nach Kategorien unterteilt.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Der Hunger wurde nun auch laut und wir landeten bei einem chinesischen Imbiss-/Restaurant bei Dumplings und Bratreis. Via Promenade ging es dann langsam zurück zum Hotel und wir setzten uns noch in die Bar. Dort gab es für Basti dann einen Baileys und ich gönnte mir einen Plastikbeutel mit Eiswürfeln. Mich hatte irgendwann mal was kurz überm Knie gestochen und durch das laufen scheuerte das nun und schwoll auf viel zu große Ausmaße an und tat zudem auch noch weh. Entsprechend orderte ich an der Bar halt mal kein Getränk, sondern einfach mal Eis im Beutel.
        </p>
        <p>
            Da die Akkus unserer Handys leer waren, ging es dann auch irgendwann samt Eisbeutel aufs Zimmer und später unter die Regenwalddusche. Leider is auch hier mal wieder fehlgeplant worden, denn die Duschtrennwand war viel zu kurz, so dass das Bad kurz darauf teilweise unter Wasser stand. Naja ist ja nicht mein Bad, trotzdem immer nervig sowas. Beim Haare trocknen fiel dann auch auf, das die Reinigung im Bad leider nicht die Beste ist. Das Waschbecken hatte nach unten weg überall graue Wasserläufe. Schade für ein so neues Hotel.
        </p>
        <p>
            Wir quasselten dann noch kurz, aber die Betten riefen schon ganz laut und wir verschwanden ins Traumland.
        </p>
    </div>

</div>
<!--=== End Post ===-->
