---
layout: blog/de/travel-blog
title: "08.04. & 09.04. Wir wooollen nicht!"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Manila
  - Dubai
  - Deutschland
  - Hamburg

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "F&uuml;r heute stand noch einmal einiges auf unserem Zettel. Als erstes: Shopping!!! Wir checkten aus und lie&szlig;en unsere Rucks&auml;cke und Koffer im"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5326.jpg"
    alt: "Wir wollen hier nicht weg!"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Hotel einlagern. Zu Fu&szlig; gingen wir dann noch einmal die Promenade bei Tageslicht entlang und genossen die sch&ouml;nen warmen Temperaturen. Irgendwie hatte wir noch immer nicht das Bed&uuml;rfnis nach Hause zu fliegen.
        </p>
        <p>
            Es ging zur Mall of Asia. Ein riesiges Shopping Center mit &uuml;ber 600 Gesch&auml;ften und &uuml;ber 200 Restaurants. Auf dem Weg dorthin sahen wir, dass nebenan f&uuml;r ein Open Air Konzert aufgebaut wurde. Wir bef&uuml;rchteten schon, dass es dann Abends zu Verkehrschaos kommen k&ouml;nnte. Was ziemlich doof w&auml;re, da wir uns gegen 19 Uhr mit einem Taxi Richtung Flughafen aufmachen m&uuml;ssen. Im Center angekommen machten wir uns erst einmal auf die Suche nach Fr&uuml;hst&uuml;ck bevor wir systematisch durch die Reihen wanderten und in einigen Shops h&auml;ngen blieben. Steffi fand noch einige Paar Schuhe und ich spendierte Ihr noch ein schickes Armband, welches Ihren neuen Nagellack unterstreicht. F&uuml;r mich gab es keine Schuhe. Gr&ouml;&szlig;e 45/46 ist dort nicht so einfach zu finden. Selbst bei Marken wie Adidas nicht.
        </p>
        <p>
            Zum Mittag landeten wir im TGI Fridays. Dort kl&auml;rte uns dann auch eine Kellnerin auf, dass die Open Air B&uuml;hne vorm Fenster f&uuml;r Ed Sheeran aufgebaut wird. Das erkl&auml;rte dann auch, warum den ganzen Tag bereits seine Musik in der Mall rauf und runter l&auml;uft. Steffi fand dann noch heraus, dass es sogar noch Karten zu kaufen gibt. Prompt hatten wir erst recht keinen Bock mehr heute noch nach Hause fliegen zu m&uuml;ssen. Das h&auml;tten wir uns doch schon gerne noch angeschaut.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5325.jpg" alt="Unser letzter Sonnenuntergang auf den Philippinen. Wundersch&ouml;n." />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Nachmittags kamen wir dann noch in eine Art Galeria Kaufhof. Dort wurde ich dann f&uuml;ndig. Erst spendierte ich mir eine neue Laptoptasche. Weiter ging es mit einer Gelb&ouml;rse, mehreren G&uuml;rteln, gleich zwei kurzen Hosen und einem Basecap. Beratung gibt es dort an jeder Ecke und gef&uuml;hlt hat jedes Regal seinen eigenen Angestellten. Alle waren nat&uuml;rlich sehr nett und bem&uuml;ht. Dies findet man in Deutschland leider immer seltener. Steffi kaufte sich dann auch noch schicken neuen Nagellack in einer &auml;hnlichen Farbe, f&uuml;r zu Hause.
        </p>
        <p>
            Uns taten dann langsam echt die F&uuml;&szlig;e weh. Somit machten wir uns auf den Weg zur&uuml;ck zum Hotel. Wie geahnt waren die Stra&szlig;en gerammelt voll und es gab kein Durchkommen mehr. Auf dem Weg zum Hotel sahen wir aber, dass die Kreuzung kurz davor in Richtung Westen frei war. Dies war nicht der k&uuml;rzeste Weg zum Flughafen aber der schnellste Weg raus aus dem Dunstkreis des Konzertes. Wir bestellten uns also wieder ein Uber und zwar genau an diese Kreuzung. Als der freundliche Hotelangestellte merkte, dass wir mit unseren schweren Taschen einige Meter laufen mussten, um zum Fahrzeug zu kommen, schnappte er sich gleich beide Rucks&auml;cke mit ca. 30kg und brachte Sie f&uuml;r uns dorthin. Wow. Was ein Service.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Durch die richtige Wahl der Kreuzung, verlief die Fahrt zum Flughafen reibungslos. Was uns nur wunderte, dass der Fahrer von seinen wenigen Peso die er mit der Fahrt verdient hat auch noch die Flughafenmaut bezahlen musste. Diese haben wir nat&uuml;rlich in Form eines gro&szlig;z&uuml;gigen Trinkgeldes wieder erstattet. Am Flughafen durch die erste Kontrolle am Eingang hindurch, machten wir es uns erst einmal ans umzupacken. Ich packte meine Technik gleich in meine neue Laptoptasche. Die alte Laptoptasche dr&uuml;ckte ich dann einem Wachmann in die Hand. Man soll ja schlie&szlig;lich keine Taschen herrenlos in einem Flughafen herumstehen lassen. Vormittags hatten wir ja grundlegend schon alle anderen Rucks&auml;cke und Koffer wieder Emirates freundlich gepackt und auch einiges an Sonnenschein und warmen Temperaturen eingepackt. Hoffentlich meckert der Zoll nichts. ;)
        </p>
        <p>
            Am Emirates Schalter erkl&auml;rte uns die Damen, dass es doch wieder genau anders herum sein muss. Die Atemregler sollen nun doch ins Handgep&auml;ck. Was denn nun? Dadurch lief ich nun mit einigen kleineren Taschen herum. Das wird echt nerven. Zus&auml;tzlich fand Steffi in einem Shop, dann auch noch die lange gesuchten Flip Flops... mit Fu&szlig;bett, passender Farbe, bequem und auch noch g&uuml;nstig. Gegen&uuml;ber sah ich dann einen schicken Adidas Rucksack, der nicht einmal teuer war.  Ich beschloss, dass ich keine Lust auf die vielen einzelnen Taschen habe, vor allem da wir ja auch noch in Dubai umsteigen m&uuml;ssen. Ich kaufte also den Rucksack und schwups waren es nur noch Rucksack und Laptoptsche.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Der Flug nach Dubai war wie bereits auf dem Hinweg einfach nur verdammt lang. Der Aufenthalt in Dubai sowieso und vom Weiterflug nach Hamburg will ich gar nicht erst anfangen. Alles war ruhig und wir flogen sogar an Calarasi in Rum&auml;nien vorbei. In Hamburg wartete bereits Steffi’s Mama auf uns, um uns nach Hause zu fahren. Wie bereits letztes Jahr lie&szlig;en wir den Tag in unserem Lieblingsrestaurant in Ahrensburg ausklingen. Morgen geht es dann wieder ganz normal zur Arbeit. Na toll!
        </p>
    </div>

</div>
<!--=== End Post ===-->
