---
layout: blog/de/travel-blog
title: "02.04.2018 Bohol Insel Tour"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Bohol
  - Anda

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi"

overview:
  intro: "Die Insel-Tour stand heute an und somit klingelte auch mal wieder der Wecker f&uuml;r uns. Als wir gerade fertig waren, h&ouml;rten wir schon ein Hupen"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5010.jpg"
    alt: "Der Schriftzug I love Chocolate Hills in Carmen"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} auf dem Hotelgel&auml;nde und ein Blick durch die Vorh&auml;nge best&auml;tigte, dass unser Wagen da war. Wir wurden freundlich von unserem Fahrer (den Namen hab ich vergessen, irgendwas mit E) begr&uuml;&szlig;t und wir machten es uns auf der Mittelbank des Vans bequem.
        </p>
        <p>
            Auf Nachfrage teilte er uns mit, dass wir als erstes die Chocolate Hills ansteuern, da diese am weitesten weg sind. Die Fahrt sollte knapp 1,5 Std. dauern und f&uuml;hrte vorbei an vielen sch&ouml;nen Reisfeldern, wo teilweise sogar noch mit Wasserb&uuml;ffeln gearbeitet wurde. Leider gab es an genau diesen Stellen keine Haltem&ouml;glichkeiten, so dass wir bildlich nichts davon festhalten konnten. Es folgten noch Unmengen an Reisfeldern und diesmal konnten wir sogar halten. Der Fahrer wollte sogar die M&auml;nnern und Frauen von der Arbeit abhalten, damit wir Bilder machen konnten, dieses lehnten wir aber dankend ab. Irgendwann f&uuml;hrte uns die Stra&szlig;e dann an einem See vorbei und am Ende hielt der Fahrer an und zeigte uns den „Pilar Staudamm“. Wir gingen &uuml;ber die Stra&szlig;e und machten nat&uuml;rlich Bilder. Der Damm schien golden zu gl&auml;nzen und der Fahrer erz&auml;hlte mir, dass dieser See bzw. der daran angrenzende Fluss die ganzen Felder weiter n&ouml;rdlich mit Wasser versorgt.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4973.jpg" alt="Reisfelder zwischen Palmen" />
        </div>
    </div>

    <div class="col-md-12">
        <p>
            Weiter f&uuml;hrte uns die Fahrt vorbei an etlichen Reis- und Maisfeldern, Ananas- und Wassermelonen Plantagen und selbstverst&auml;ndlich an ewig vielen Palmen mit Kokosn&uuml;ssen. Alles wurde durch &ouml;rtliche Bewohner am Stra&szlig;enrand verkauft und das zu so niedrigen Preisen, dass man am liebsten alles mitnehmen m&ouml;chte. Und dann n&auml;herten wir uns den Hills &uuml;ber den Ort Carmen. &Uuml;brigens sind die Chocolate Hills nicht von irgendeinem kreativen Menschen gemacht, sondern einzig durch die Natur vor vielen tausenden Jahren entstanden. Es handelt sich dabei um ca. 1.200 bis zu 120 m hohe kegelf&ouml;rmige H&uuml;gel. Diese sind mit Farnen und Wiesen bewachsen und schauen oben aus Palmenw&auml;ldern heraus. Im Sp&auml;tsommer f&auml;rben die H&uuml;gel sich braun, dann sieht das hier aus wie eine riesenpackung Pralinen.
        </p>
        <p>
            Um uns herum wurde es „touristischer“ und dann bogen wir schon links rein, vorbei an vielen Souvenir Shops und fuhren einen der H&uuml;gel hoch. Der Fahrer dr&uuml;ckte uns einen Zettel samt seinem Kennzeichen in die Hand, erkl&auml;rte das wir den Mann dort dr&uuml;ben Bescheid geben sollten und er w&uuml;rde wieder hochkommen, um uns einzusammeln. Wir irrten ein wenig verwirrt rum, unschl&uuml;ssig ob wir nun Eintritt zahlen m&uuml;ssen oder sonst was und so machten wir erst einmal Bilder von der Fl&auml;che hinter den Ladenfl&auml;chen. Dort konnte man schon einige der H&uuml;gel sehen! Trotz mehrerer Wolken, brannte die Sonne ganz sch&ouml;n und so gingen wir erst einmal in den Imbiss und sahen dort auch, das wir „Eintritt“ zahlen m&uuml;ssen. Eintritt kann man dieses aber eigentlich nicht nennen, denn man zahlt einfach die Geb&uuml;hr f&uuml;r das Fahrzeug. Daf&uuml;r also der Zettel von unserem Fahrer!
        </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Geb&uuml;hr von 50 Peso pro Nase (ca. 80 Cent) gezahlt und dann hie&szlig; es bei Affenhitze 214 Stufen nach oben. Es war zum Gl&uuml;ck nicht so viel los, so dass wir den Ausblick genie&szlig;en konnten und Bilder schossen. Leider brannte die Sonne so b&ouml;se, dass wir schnell den Schatten suchten und uns recht z&uuml;gig wieder auf den Weg nach unten machten. Dort tr&ouml;delten wir noch kurz durch die Souvenir Shops, bis wir im Klimaanlagen gek&uuml;hlten Restaurant einkehrten und erst einmal was tranken. Anschlie&szlig;end ging es wieder in die Hitze und Basti lie&szlig; den Fahrer rufen.
        </p>
        <p>
           Wieder im Auto ging es hinunter und da ich bisher noch kein schickes Shirt gefunden hatte, hielt der Fahrer nochmal bei den St&auml;nden am Fuss des H&uuml;gels an. Leider wurde ich auch hier nicht f&uuml;ndig und so ging die Fahrt weiter. Diesmal landeten wir bei den Tasieren, oder auch Koboldmakis genannt. Dieses sind kleine (max. 16 cm), auf Bohol lebende, nachtaktive Affen. Leider in freier Wildbahn fast gar nicht zu finden, daher f&uuml;hrte uns die Fahrt in die  „Tasier Conservation Area“ in Loboc. Aus dem Internet kannte ich bisher nur die „Tasier Sanctury“ in Corella, also war ich gespannt, was mich hier erwartete. Wir l&ouml;sten wieder einmal einen lachhaften Eintritt von unter 100 Peso (&euro; 1,70) pro Nase und los ging es. Wir waren kurz vor Feierabend da und so war nicht mehr viel los. Alles war wirklich sehr bauf&auml;llig und im Umbau oder aber einfach unaufger&auml;umt und es kam schon die Frage auf, wie man diese winzigen Tiere finden soll.
        </p>
    </div>

    <div class="col-md-12">
        <p>
            Dann sahen wir aber ein St&uuml;ck weiter einen Mitarbeiter. Diese stehen immer genau dort, wo gerade ein Tier sitzt, ansonsten w&uuml;rden man gnadenlos an den Tieren vorbei laufen. Zudem passen die Mitarbeiter aber auch auf, dass die Besucher den Tieren nicht zu nah kommen. Am Ende waren wir vielleicht 20 min. auf dem Gel&auml;nde und sahen 9 Tiere, die schlafend fast versteckt in den &Auml;sten sa&szlig;en.
        </p>
        <p>
            Der n&auml;chste Stop war dann der Loboc River. Der Weg dorthin f&uuml;hrte uns durch den menschengemachten Mahagoni Wald, wo einige Menschen am Stra&szlig;enrand standen und Fotos machten. Weiter ging es durch einige Haarnadelkurven runter zum Fluss. Hier sollte es f&uuml;r uns eine Bootsfahrt inkl. B&uuml;ffet geben. Fix die 550 Peso (&euro; 8,50) p. Person bezahlt und schon konnten wir aufs Boot und wurden an einen Tisch begleitet. Ich schaute mich erst einmal am B&uuml;ffet um und befand dieses f&uuml;r gut und ausreichend. Bisher hatte ich gar nicht so viel Hunger, aber das B&uuml;ffet &auml;nderte dies Recht schnell. Es befanden sich auch zwei Musiker an Bord und unterhielten uns w&auml;hrend der Fahrt. Obwohl es relativ eng auf dem Boot war, verlief alles entspannt und f&uuml;hrte uns sogar vorbei an einheimischen, die im Fluss ihre W&auml;sche machten oder auch einfach nur im Wasser plantschten. Dann legten wir einen Stop ein und wurden von einheimischen mit traditionellen Sing- und Tanzeinlage unterhalten. Am „Ende“ des befahrbaren Loboc Flusses sahen wir dann auch den Abenteuerpark, wo die Zipline durchf&uuml;hrt. Dieses ist eine Art Seilbahn, nur das man darin liegend festgeschnallt wird und quer &uuml;ber Baumkronen und Fluss fliegt.
        </p>
    </div>

    <div class="col-md-6">
        <p>
            Wir drehten und es ging bei Verzehr von Ananas und Wassermelone zur&uuml;ck. Basti probierte w&auml;hrenddessen die philippinische Milchkaffee Variante - bestehend aus Kokosgelee mit Kaffeegeschmack in Milch ertr&auml;nkt. Wieder am Anleger angekommen, gingen wir nochmal in einen der Souvenir Shops und ich fand endlich ein Shirt! Leider war es schon sp&auml;t, so dass wir uns schon dachten, dass wir die Schmetterling-Station ausfallen lassen m&uuml;ssen, da hier alles recht fr&uuml;h schlie&szlig;t. Am Auto ankommen erz&auml;hlte uns unser Fahrer aber, dass wir diese nun ansteuern. Cool!
        </p>
        <p>
            Die Fahrt dauerte nicht sehr lange und kurz darauf landeten wir bei der Schmetterlingsanlage, aber irgendwie sah das anders aus, als ich das aus dem Internet kannte. Und dann sah ich schon an den Schildern am Eingang, das wir woanders waren. Hier hingen auch Plakate von Riesenphytons etc. Davon hatte ich schon gelesen, aber da es mich nicht interessierte, hatte ich dies bei der Reiseplanung nicht als Ziel ausgesucht. Wir waren beim „Xzootic Animal Park“ gelandet!
        </p>
        <p>
            Der Eintritt war erneut lachhaft und so gingen wir rein und begangen einen verdammt gro&szlig;en Fehler, ohne es bis dahin zu wissen. Uns begleitete ein junger Filipino und fing gleich an, Dinge zu erkl&auml;ren und Werbung f&uuml;r die Schlangen zu machen. Wir wollten aber unbedingt die Schmetterlinge sehen und steuerten diese an.
        </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5027.jpg" alt="Loboc River Cruise mit Mittags Bufette" />
        </div>
    </div>

    <div class="col-md-12">
        <p>
            Die Area war eigentlich sehr nett angelegt und wir konnten gut die Makrofunktion der neuen Kamera testen. Der Guide dr&auml;ngelte immer wieder, aber wir lie&szlig;en uns nicht so sehr hetzen, wie er es gerne h&auml;tte. Nachdem wir alles hatten, gingen wir weiter und landeten im blanken Horror.
        </p>
        <p>
            Es erwarteten uns sehr kleine K&auml;fige mit blanken Beton- oder Fliesenboden, ohne jegliches Gr&uuml;nzeug, &Auml;ste, Wasser oder sonstigem. Daf&uuml;r sehr viel M&uuml;ll in den K&auml;figen und Touristen, die in den K&auml;figen die Tiere angrabbelten und Fotos machten. Unser Begleiter konnte so gar nicht nachvollziehen, dass wir das alles nicht wollten und schnellstens das Weite suchten. Unser Fahrer wollte uns mit den Schmetterlingen nat&uuml;rlich eine Freude machen und so sagten wir bei Ihm nichts. Wir beschlossen allerdings schon da, dass wir t&auml;tig werden m&uuml;ssen.
        </p>
        <p>
            Da dieses die letzte Station auf unserer Tagestour war, ging es nun zur&uuml;ck Richtung Hotel. Die Fahrt dauerte knapp 1,5 Std. und wir landeten eigentlich gl&uuml;cklich von dem sch&ouml;nen Tag, doch sehr geschockt durch den letzten Stop wieder im Resort. Wir dankten dem Fahrer, dr&uuml;ckten Ihm ein Trinkgeld in die Hand und verzogen uns erst einmal aufs Zimmer zum frisch machen. W&auml;hrenddessen ging ich auf Facebook und suchte diesen vermeintlichen Zoo und hinterlie&szlig; dort eine b&ouml;se Bewertung samt diverser Schlagw&ouml;rter, damit dieses auch bei allen wichtigen Organisation aufschl&auml;gt. Basti &uuml;bersetzte diese dann grob ins englische und schickte sie ebenfalls an einige Organisationen direkt. Hier muss dringend was getan werden und wir hoffen, dass jemand dort t&auml;tig wird.
        </p>
        <p>
            Wir machten es uns anschlie&szlig;end noch im Hotelrestaurant gem&uuml;tlich und dann hie&szlig; es noch packen, denn morgen steht schon wieder ein Hotelwechsel an. Gute Nacht.
        </p>
    </div>

</div>
<!--=== End Post ===-->
