---
layout: blog/de/travel-blog
title: "26.12.18 Trump verpasst!"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-usa

locations:
  - USA
  - New York
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Die Skyline von Downtown Manhattan in schwarz weiss am fruehen Vormittag"

overview:
  intro: "Der Tag begann mit einem Fr&uuml;hst&uuml;ck in der zweiten Etage unseres Hotel. Leider gibt es auch hier, wie fast &uuml;berall in den USA, Plastikteller sowie"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_7369.jpg"
    alt: "Das Wei&szlig;e Haus bei Sonnenuntergang"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Plastikbesteck. Der Sinn erschlie&szlig;t sich uns so gar nicht in einem Hotel! Das Fr&uuml;hst&uuml;ck selbst war typisch amerikanisch-deftig. Bacon, Burgerpatties, Bagels, Tortillas, R&uuml;hrei, etc. Aufschnitt suchte man hier leider vergebens. Wir lie&szlig;en zwei Bagels mitgehen und machten uns diese noch mit Aufschnitt im Zimmer fertig und zogen dann los.
        </p>
        <p>
            Da herrlichster Sonnenschein war, steuerten wir zuerst das Wei&szlig;e Haus an. Hier erwartete uns mehr Absperrung als man bisher aus den Medien kennt. Man kam nicht mal ansatzweise an den Zaun heran und &uuml;berall standen Polizei und Secret Service-Leute. Hmmm ok, im Gegensatz zu den anderen Pr&auml;sidenten, mag er wohl einfach keine Leute am Zaun - war bis dahin zumindest unsere Meinung.
        </p>
        <p>
            Wir begaben uns auf die andere Seite vom wei&szlig;en Haus und landeten bei dem „offiziellen nationalen Weihnachtsbaum“. Diesen kannten wir bereits aus der Presse, denn wegen des Shutdowns durch den aktuellen Pr&auml;sidenten, konnte die kurzzeitig ausgefallen Beleuchtung erst durch Spenden der Besucher und nach mehreren Stunden wieder zum Leben erweckt werden. Um den Bereich des Baumes sieht man jetzt auch noch viele M&uuml;nzen auf dem Boden liegen.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Als n&auml;chstes schlenderten wir Richtung zum Washington Monument und leider war auch hier alles eingez&auml;unt. Diesmal allerdings auf Grund einer Baustelle. Somit schnell nur ein paar Bilder und weiter ging es Richtung Capitol.
        </p>
        <p>
            Allerdings bogen wir vorher ab und landeten bei TJ-Maxx (Ja der hei&szlig;t hier wirklich so), wo Basti sich nochmal mit diversen Sachen eindeckte.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-usa/small/IMG_7364.jpg" alt="Der Habicht mit der frisch gefangenen Beute" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Da wir beide irgendwie tr&auml;ge waren, beschlossen wir nur noch fix mit dem Bus zu Walmart zu fahren, Lebensmittel zu kaufen und ins Hotel zur&uuml;ckzukehren. Im Supermarkt lie&szlig;en wir, f&uuml;r erstaunlich wenig im Wagen, erstaunlich viel Geld. Daf&uuml;r sollte es nun aber lecker Abendessen geben.
        </p>
        <p>
            Auf dem R&uuml;ckweg beschlossen wir, nochmal am wei&szlig;en Haus anzuhalten, da die Sonne nun besser stehen m&uuml;sste. Heut fr&uuml;h wurden die Fotos nicht so, da Gegenlicht herrschte. Angekommen sahen wir als erstes einen Habicht auf der Wiese sitzen. Dieser hatte gerade erfolgreich gejagt und ein Eichh&ouml;rnchen in seinen F&auml;ngen. Mein erster Gedanke war, da das Eichh&ouml;rnchen noch lebte, Habicht verjagen und somit leben retten. Aber das w&auml;re ja ein Eingriff in die Natur, somit zogen wir weiter und siehe da... die weitr&auml;umigen Absperrungen waren weg.
        </p>
        <p>
            Ganz an den Zaun kam man zwar immer noch nicht, aber immerhin schon ein St&uuml;ck n&auml;her. Wir fragten einen Herren vom Secret Service, was denn los gewesen sei, aber diese antwortete nur ausweichend “Wir sperren halt manchmal so ab”. Somit gehen wir mal davon aus, dass wir den Typen mit roter Krawatte verpasst haben.
        </p>
        <p>
            Zur&uuml;ck im Hotel ging es dann ans kochen und bem&uuml;hen, keinen Rauchmelder auszul&ouml;sen. Denn so nett das Zimmer auch ist, man kann nicht ein Fenster &ouml;ffnen und sobald der Rauchmelder ausl&ouml;st, wird es verdammt teuer. So steht es zumindest hier in den Infos
        </p>
    </div>

</div>
<!--=== End Post ===-->
