---
layout: blog/de/travel-blog
title: "08.04. & 09.04. Wir wooollen nicht!"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Manila
  - Dubai
  - Deutschland
  - Hamburg

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Für heute stand noch einmal einiges auf unserem Zettel. Als erstes: Shopping!!! Wir checkten aus und ließen unsere Rucksäcke und Koffer im"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5326.jpg"
    alt: "Wir wollen hier nicht weg!"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Hotel einlagern. Zu Fuß gingen wir dann noch einmal die Promenade bei Tageslicht entlang und genossen die schönen warmen Temperaturen. Irgendwie hatte wir noch immer nicht das Bedürfnis nach Hause zu fliegen.
        </p>
        <p>
            Es ging zur Mall of Asia. Ein riesiges Shopping Center mit über 600 Geschäften und über 200 Restaurants. Auf dem Weg dorthin sahen wir, dass nebenan für ein Open Air Konzert aufgebaut wurde. Wir befürchteten schon, dass es dann Abends zu Verkehrschaos kommen könnte. Was ziemlich doof wäre, da wir uns gegen 19 Uhr mit einem Taxi Richtung Flughafen aufmachen müssen. Im Center angekommen machten wir uns erst einmal auf die Suche nach Frühstück bevor wir systematisch durch die Reihen wanderten und in einigen Shops hängen blieben. Steffi fand noch einige Paar Schuhe und ich spendierte Ihr noch ein schickes Armband, welches Ihren neuen Nagellack unterstreicht. Für mich gab es keine Schuhe. Größe 45/46 ist dort nicht so einfach zu finden. Selbst bei Marken wie Adidas nicht.
        </p>
        <p>
            Zum Mittag landeten wir im TGI Fridays. Dort klärte uns dann auch eine Kellnerin auf, dass die Open Air Bühne vorm Fenster für Ed Sheeran aufgebaut wird. Das erklärte dann auch, warum den ganzen Tag bereits seine Musik in der Mall rauf und runter läuft. Steffi fand dann noch heraus, dass es sogar noch Karten zu kaufen gibt. Prompt hatten wir erst recht keinen Bock mehr heute noch nach Hause fliegen zu müssen. Das hätten wir uns doch schon gerne noch angeschaut.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5325.jpg" alt="Unser letzter Sonnenuntergang auf den Philippinen. Wunderschön." />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Nachmittags kamen wir dann noch in eine Art Galeria Kaufhof. Dort wurde ich dann fündig. Erst spendierte ich mir eine neue Laptoptasche. Weiter ging es mit einer Gelbörse, mehreren Gürteln, gleich zwei kurzen Hosen und einem Basecap. Beratung gibt es dort an jeder Ecke und gefühlt hat jedes Regal seinen eigenen Angestellten. Alle waren natürlich sehr nett und bemüht. Dies findet man in Deutschland leider immer seltener. Steffi kaufte sich dann auch noch schicken neuen Nagellack in einer ähnlichen Farbe, für zu Hause.
        </p>
        <p>
            Uns taten dann langsam echt die Füße weh. Somit machten wir uns auf den Weg zurück zum Hotel. Wie geahnt waren die Straßen gerammelt voll und es gab kein Durchkommen mehr. Auf dem Weg zum Hotel sahen wir aber, dass die Kreuzung kurz davor in Richtung Westen frei war. Dies war nicht der kürzeste Weg zum Flughafen aber der schnellste Weg raus aus dem Dunstkreis des Konzertes. Wir bestellten uns also wieder ein Uber und zwar genau an diese Kreuzung. Als der freundliche Hotelangestellte merkte, dass wir mit unseren schweren Taschen einige Meter laufen mussten, um zum Fahrzeug zu kommen, schnappte er sich gleich beide Rucksäcke mit ca. 30kg und brachte Sie für uns dorthin. Wow. Was ein Service.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Durch die richtige Wahl der Kreuzung, verlief die Fahrt zum Flughafen reibungslos. Was uns nur wunderte, dass der Fahrer von seinen wenigen Peso die er mit der Fahrt verdient hat auch noch die Flughafenmaut bezahlen musste. Diese haben wir natürlich in Form eines großzügigen Trinkgeldes wieder erstattet. Am Flughafen durch die erste Kontrolle am Eingang hindurch, machten wir es uns erst einmal ans umzupacken. Ich packte meine Technik gleich in meine neue Laptoptasche. Die alte Laptoptasche drückte ich dann einem Wachmann in die Hand. Man soll ja schließlich keine Taschen herrenlos in einem Flughafen herumstehen lassen. Vormittags hatten wir ja grundlegend schon alle anderen Rucksäcke und Koffer wieder Emirates freundlich gepackt und auch einiges an Sonnenschein und warmen Temperaturen eingepackt. Hoffentlich meckert der Zoll nichts. ;)
        </p>
        <p>
            Am Emirates Schalter erklärte uns die Damen, dass es doch wieder genau anders herum sein muss. Die Atemregler sollen nun doch ins Handgepäck. Was denn nun? Dadurch lief ich nun mit einigen kleineren Taschen herum. Das wird echt nerven. Zusätzlich fand Steffi in einem Shop, dann auch noch die lange gesuchten Flip Flops... mit Fußbett, passender Farbe, bequem und auch noch günstig. Gegenüber sah ich dann einen schicken Adidas Rucksack, der nicht einmal teuer war.  Ich beschloss, dass ich keine Lust auf die vielen einzelnen Taschen habe, vor allem da wir ja auch noch in Dubai umsteigen müssen. Ich kaufte also den Rucksack und schwups waren es nur noch Rucksack und Laptoptsche.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Der Flug nach Dubai war wie bereits auf dem Hinweg einfach nur verdammt lang. Der Aufenthalt in Dubai sowieso und vom Weiterflug nach Hamburg will ich gar nicht erst anfangen. Alles war ruhig und wir flogen sogar an Calarasi in Rumänien vorbei. In Hamburg wartete bereits Steffi’s Mama auf uns, um uns nach Hause zu fahren. Wie bereits letztes Jahr ließen wir den Tag in unserem Lieblingsrestaurant in Ahrensburg ausklingen. Morgen geht es dann wieder ganz normal zur Arbeit. Na toll!
        </p>
    </div>

</div>
<!--=== End Post ===-->
