---
layout: blog/de/travel-blog
title: "24.03.2018 Apo Island"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Apo Island
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi"

overview:
  intro: "Heute klingelte tatsächlich mal der Wecker, denn Per vom Dauin Dive Café hat für uns eine Tauch- und Schnorcheltour nach Apo Island organisiert."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4794.jpg"
    alt: "Nemo Familie beim tauchen afgenommen."
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Dort soll es ganz viele Schildkröten geben, die man sogar als Schnorchler gut sehen kann. Wir sollten um 7.15h am Café sein, hingen der Zeit aber 5 min. hinterher. Wir bogen gerade die 3te Kurve vom Hotel ab, da hörten wir von vorne was größeres kommen. Wir machen also Platz und huch... der Fahrer vom Café bog mit Minivan um die Ecke. &OpenCurlyDoubleQuote;Äh huch was macht du denn hier, etwa wegen uns?&CloseCurlyDoubleQuote; Das zeigen auf seine Uhr war eindeutig... soviel zur deutschen Pünktlichkeit
        </p>
        <p>
            Nachdem Basti seine Tauchsachen am Café zusammen gestellt hat, wir das Mittag eingepackt hatten, ging es einige Kilometer Richtung Norden, wo uns der Fahrer an einer anderen Tauchbasis absetzte. Um uns herum wusselten diverse Filipinos und beluden ein kleines Motorboot mit dem Equipment und brachten dieses zu einem größeren Banka-Boot. „Ääääh, soll ich da wirklich überall rein und vor allem raufklettern bei Wellengang???? Maaaaaaammmmii“. Nachdem alles verladen war, folgten nun auch wir. Also Hose hochkrempeln, durchs Wasser und über extrem rutschige Steine gehen und irgendwie heil in das kleine Motorboot krabbeln. Das wäre schon mal geschafft. Nach kurzer fahrt kamen wir beim Banka an und ich war blöderweise die Erste, die rüber musste. Also nicht mal ein Beispiel an anderen konnte ich mir nehmen. Zwei Filipinos oben auf dem Banka und einer in unserem Boot gaben mir dann Anweisung und vor allem helfende Hände und dann hieß es nur noch auf die Welle warten. Diese ließ unser Motorboot so hoch treiben, das man ganz gut rüber auf das andere Boot kam. Juhu heil und vor allem trocken geschafft!!!
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Die Fahrt verlief recht ruhig (Travacalm Tabletten sei dank) und es stellte sich heraus, dass das Mädel, welches mit uns an Bord ging, ebenfalls Deutsche ist. Wir unterhielten uns angeregt und vielleicht ist sogar noch ein Firmenkontakt für Basti dabei rausgesprungen. Das wird sich dann in Deutschland zeigen! Nach knapp einer Stunde legten wir vor Apo Island an und es wurde sich zum tauchen fertig gemacht. Hmm, aber wo bleibt mein Schnorchel-Guide? Dieser wurde mir extra organisiert und sollte von Apo Island auf unser Boot kommen. Auf einmal stand dann einer vor mir, welcher aber schon die ganze Zeit bei uns war. Der von der Insel ist nicht aufgetaucht, somit sprang nun jemand anderes ein.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4787.jpg" alt="Steffi und Sebastian auf dem Banka Boat for Apo Island" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Naja egal... hauptsache ich kam auch ins Wasser! Die drückten mir doch tatsächlich eine Weste in die Hand und erklärten mir zudem, ich müsse mich am Rettungsring festhalten, welcher vom Guide gezogen wird. Echt jetzt??? Gesagt, getan und leider einen, neben Franklands Island in Australien, der schlechtes Schnorcheltrips erlebt. Keine Zeit zum gucken, so tiefes Wasser, das eh fast nicht zu sehen war und dann auch noch viel zu viel und vor allem hoher Wellengang. Dann hielt der Guide endlich mal an und deutete nach unten Seasnake! Bitte was, hab ich mich gerade verhört?!?!? Ich guck runter, und da schwimmt tatsächlich eine verflucht lage Seeschlange genau unter uns am Meeresgrund.
        </p>
        <p>
            Warte mal, die sind doch giftig... ich beim Guide gefragt... ja sehr giftig... verflucht - jetzt hatte ich es eilig. Quasi im abhauen noch ein Bild gemacht und erledigt war das nächste Tier auf meiner „hab ich schon mal gesehen“-Liste! Wieder am Boot angekommen, begrüßte mich leider nicht nächste böse Überraschung. Viel zu große Feuerquallen mit ewiglangen Tentakeln... direkt am Ausstieg... na toll!!! Ich weiß nicht wie, aber ich bin heil aus der Nummer rausgekommen und habe dann erst einmal eine Verschnaufpause eingelegt. Danach bin ich nochmal zum Guide und klärte das mit der Seeschlange. Diese gibt es hier sehr häufig und ihr Gift ist vergleichbar mit dem der Cobra. Angeblich sind diese aber nicht sehr aggressiv... da muss wohl mehr passieren, als nur daran vorbei zu Schnorcheln bzw. zu tauchen.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Zwischenzeitlich zeigte sich dann doch tatsächlich eine recht große Schildkröte an der Meeresoberfläche, aber leider war ich mit der Kamera zu langsam bzw. die Schildkröte zu schnell wieder weg. Basti kam dann auch schon von seinem Tauchgang zurück und berichte, das er 2 Schildkröte gesehen hat. War ja mal wieder klar; alle sehen eine, nur ich nicht. Zumindest Unterwasser! Wir wechselten den Liegeplatz, ich gönnte Basti eine kurze Verschnaufpause und dann musste er mit zum Schnorcheln. Wir verabredeten mit dem Guide, das wir zum Strand schnorcheln und zudem konnte Basti die Jungs überreden, das ich ohne dämliche Weste ins Wasser kann. Schließlich kann ich schon von klein auf schwimmen!
        </p>
    </div>
    <div class="col-md-6">
        <p>
            Da Basti am Rettungsring hing, fiel es nicht mal auf, das ich mich diesmal nicht festgehalten hab, sondern meine Freiheit genießen konnte. Dennoch blieb auch hier wieder keine Zeit zum gucken. Am Strand angekommen, stellte dieser sich als ziemlich schick dar und zudem bekam ich endlich einmal türkisfarbenes Wasser und Bilder konnten wir auch noch machen. Auf dem Rückweg stupste Basti mich an und meinte nur „Seeschlange“ und ich guckte runter. Da ging der Blick nur leider falsch hin, denn diese befand sich direkt auf Augenhöhe bei uns. In Windeseile hab ich mich zurück fallen lassen und hab auf Bastis andere Seite gewechselt... blöderweise ihm dabei das Foto versaut. Uff... was ein Adrenalinschub! Kaum hatten wir die Schlange hinter uns gelassen, tauchten leider ziemlich viele Quallen auf. Von Miniatur und lustig leuchtend bis hin zu viel zu groß. Ab dar war für mich der Spaß endgültig vorbei... ich kann einfach gar nicht mit Quallen! Wenigstens kamen wir heil aus der Sache raus. Dann waren wir auch schon am Boot und es gab wieder mal keine Schildkröte für mich zu sehen. Soviel zu: hier sieht jeder Schildkröten!
        </p>
        <p>
            Nachdem die restlichen Taucher zurück waren, wechselten wir nochmal den Liegeplatz und die Wellen zeigten zudem auch noch, das sie noch höher können, als eh schon. Mir war die Lust am Schnorcheln eh vergangen, mein Guide sah auch ehr nach philippinischer Mittagspause aus und somit sonnte und entspannte ich mich am Buck des Schiffs. Das ging nur leider nicht sehr lange, denn die Wellen gingen immer höher und es zogen für philippinische Verhältnisse, dicke schwarze Wolken auf. Nicht einmal mehr das „Festland“ war zu sehen.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4796.jpg" alt="Steffi und Sebastian am Strand einer kleiner Seitenbucht von Apo Island" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Als die Taucher dann alle zurück waren, ging es nochmal zurück und mein Schnorchelguide setzt mit dem Beiboot nach Apo Island über, um dort die Gebühren fürs Schnorcheln und Tauchen zu bezahlen. Dieser hatte mit den Wellen und der Nussschale arg zu kämpfen und uns wurde schon mitgeteilt, das wir uns für die Rückfahrt lieber reinsetzen sollten.
        </p>
        <p>
            Dieses taten wir dann auch, aber irgendwie saß ich denkbar ungünstig, denn die Wellen schwappten schön zu mir. Also machten die Jungs die Plane vor, nur leider hielt diese so gar nicht mit dem Klettverschluss. Nach der nächsten Dusche setzte ich mich somit auf die andere Seite und fertig. Ab da wurde nur noch Bastis Arm nass, denn dieser versuchte die Plane zu halten. Wieder am Startpunkt angekommen, wartete schon unser Fahrer aus dem Dive Café auf uns. Dort angekommen, spülten wir erst einmal unser Equipment und bestellten uns dann etwas zu essen. Leider ohne die Rechnung mit den Mücken gemacht zu haben! Diese waren so dermaßen aggressiv, dass selbst unsere Teller voll mit ihnen war. Wir zogen dann mit unseren Essen nach drinnen um, und lieberweise hat die Chefin gleich Moskito-Räucherstäbchen um uns herum verteilt. Wieder im Hotel machten wir uns einfach nur frisch, ließen uns aufs Bett fallen und schauten noch einen Film.
        </p>
    </div>

</div>
<!--=== End Post ===-->
