---
layout: blog/de/travel-blog
title: "31.12.18 Rockefeller Center"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-usa

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-from-rockefeller.jpg"
    alt: "Die Skyline von New York in richtung Downtown vom Rockefeller aus gesehen"

author: "Steffi &amp; Basti"

overview:
  intro: "Neuer Tag Neues Gl&uuml;ck. Heute morgen haben wir ein letztes Mal alle unsere Sachen ordentlich eingepackt und &uuml;ber alle Taschen strategisch verteilt,"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_7576.jpg"
    alt: "Wir zwei oben auf dem Rockefeller Center beim versuch Gesund auszusehen"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} denn heute Abend geht es wieder nach Hause.
        </p>
        <p>
            Aber erst heute Abend sp&auml;t. Somit haben wir den ganzen Tag Zeit um noch ein paar Ecken von New York zu sehen. Nur leider war unsere Erk&auml;ltung auch noch da und wir mussten weiterhin langsam machen. Als erstes besorgten wir uns Tickets f&uuml;r‘s Aussichtsdeck des Rockefeller Center. Da wir nun noch 1,5 std Zeit hatten bis wir hoch durften, suchten wir uns erst einmal ne Kleinigkeit zu essen und zu trinken. Aber immer nur kurze Fu&szlig;m&auml;rsche wegen dieser doofen Erk&auml;ltung. Die nervt echt.
        </p>
        <p>
            Als wir dann endlich hoch auf die obersten 3 Etagen des Rockefeller Centers durften, fing es auch noch an leicht zu regnen. Wir nutzten trotzdem die Chance unsere Eltern von hier oben per Videotelefonie anzurufen und die Aussicht mit Ihnen zu teilen. Leider war die Verbindung allerdings anderer Meinung, so dass wir schnell wieder abbrachen
        </p>
        <p>
            Nachdem wir uns satt gesehen hatten, fuhren wir wieder runter und der Hunger meldete sich. Dieser sollte gestillt werden, indem wir den n&auml;chsten Punkt unseres Sightseeing-Passes einl&ouml;sten. Denn mit diesem kann man unter anderem auch in bestimmte Restaurant einkehren und sich was sch&ouml;nes g&ouml;nnen.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            In diesem Fall zog es uns zu einem Italiener nah dem Times Square. Hier gab es f&uuml;r uns Pizza und Pasta- beides gar nicht mal schlecht.
        </p>
        <p>
            Das Wetter wurde leider nicht besser, unser Wohlbefinden auch nicht und so fuhren wir zur&uuml;ck zum Hotel, um unsere Koffer zu holen. Hier hie&szlig; es dann erst einmal Koffer auf, Klamotten und Waschkram raus, ins Bad vom Hotel verschwinden und umziehen sowie frisch machen.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-usa/small/IMG_7586.jpg" alt="Wir zwei, voellig im Ar... am Flughafen Amsterdam" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Nachdem wir dieses alles erledigt hatten, kam auch schon unser bestelltes UBER und brachte uns zum Flughafen.
        </p>
        <p>
            Beim Einchecken gab es Hoffnung auf einen fr&uuml;heren Flug, so dass wir die Beine in die Hand nahmen, um zum Schalter in Sicherheitsbereich zu kommen. Leider stellte es sich bei Ankunft aber als Fehlinfo raus, so dass wir nun doch noch ausreichend Zeit hatten. Diese nutzen wir mit der Suche nach Taschent&uuml;cher, welche fehlgeschlagen ist, so dass wir die Restaurants um ihre Servietten erleichterten.
        </p>
        <p>
            Etwas zu essen blieb ebenfalls erfolglos, da uns dieses einfach zu ausversch&auml;mt war. F&uuml;r ein simples Br&ouml;tchen mit Aufschnitt knapp 15&euro; zu verlangen... sorry, da sind wir raus.
        </p>
        <p>
            Irgendwann ging endlich der Boarding los und wir konnten unsere Pl&auml;tze einnehmen.
        </p>
        <p>
            Basti versuchte zu schlafen und bei mir stellte sich quasi unmittelbar beim hinsetzen Migr&auml;ne ein. Mein Kopf war kurz vorm platzen und spei&uuml;bel war mir bl&ouml;derweise auch noch. Also erst einmal in den Vordersitz nach der Notfallt&uuml;te geschaut, diese zum Gl&uuml;ck entdeckt, also versucht den Kopf auszumachen um zu schlafen. Dieses funktionierte leider mal wieder gar nicht und so wurde es wieder ein Flug, ohne gescheit zu schlafen.
        </p>
        <p>
            Meine Migr&auml;ne ging zum Gl&uuml;ck irgendwann halbwegs, so dass ich halbwegs klar mitbekam, das zu 5 Uhr deutscher Zeit im Flieger das neue Jahr begr&uuml;&szlig;t wurde. Dazu wurde Champus gereicht und im Flieger lief irgendein Neujahrslied.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Das Display sagte mir zudem, dass wir uns irgendwo &uuml;ber dem Sankt-Lorenz-Golf in Kanada befanden. In Amsterdam gelandet, ging es uns immer noch schlechter als recht, so dass die Wartezeit sich arg zog.
        </p>
        <p>
            Endlich in Hamburg angekommen, ging es f&uuml;r uns durch den roten Kanal vom Zoll. Hier haben wir ordnungsgem&auml;&szlig; unsere Zuviel gekauften Sachen anmelden wollen. Auf Grund des niedrigen Betrages w&uuml;rden wir allerdings gleich durchgewunken und konnten in das bereitstehende Auto meiner Mama h&uuml;pfen. Die brachte uns lieberweise wieder nach Hause, wo wir uns noch bis zum fr&uuml;hen Abend qu&auml;lten, um dann endlich ins Bett zu fallen
        </p>
        <p>
            Fazit:
            <br />
            Es war teurer als gedacht, es war sch&ouml;ner als gedacht und verdammt... ich bin immer noch nicht fertig mit New York!!!
        </p>
    </div>

</div>
<!--=== End Post ===-->
