---
layout: blog/de/travel-blog
title: "23.12.18 Nachts im Museum"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-usa

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Die Skyline von Downtown Manhattan in schwarz weiss am fruehen Vormittag"

author: "Steffi"

overview:
  intro: "Da wir wieder einmal viel zu fr&uuml;h wach waren, ging es f&uuml;r uns zur Staten Island F&auml;hre, denn wir wollten diesmal den Sonnenaufgang von dort aus"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_4402.jpg"
    alt: "Sonnenaufgang ueber Brooklyn"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} genie&szlig;en. Bl&ouml;derweise haben wir vergessen, dass Sonntag ist und es andere Abfahrtzeiten gibt. Somit ging die Sonne ohne uns auf und wir nahmen die F&auml;hre um 7 Uhr anstatt 6.50 Uhr.
        </p>
        <p>
            Die &Uuml;berfahrt war dennoch nett und ein wenig rosa Himmel hatten wir auch noch. Nur leider war es wieder einmal vieeeeel zu kalt, da half nicht mal das Vermummungsprinzip inkl. Handschuhe, somit verzogen wir uns f&uuml;r das letzte St&uuml;ck wieder nach drinnen. Auf Staten Island angekommen machten wir erst einmal einige Fotos von der New Yorker Skyline und tr&ouml;delten anschlie&szlig;end die leeren Stra&szlig;en entlang, bis wir in einem Supermarkt landeten.
        </p>
        <p>
            Dort holten wir schon einmal einige Sachen f&uuml;r den 25. Dez., denn dann soll hier eigentlich alles lahm gelegt sein. Im Fleischregal entdeckten wir dann die Marke „Boar‘s Head“ und ich wurde schon ganz hippelig. Sollte ich hier etwa meine hei&szlig;geliebte So&szlig;e bekommen? An der Frischtheke wurden wir tats&auml;chlich f&uuml;ndig, ich griff voller Freude zu und dann kam die Ern&uuml;chterung: “Sell before 11/22/18” (zu verkauf vor dem 22.11.) alternative auch bis 02.12. Echt jetzt, ich bin doch so nah dran und doch so fern??? Verdammt!!! Aber abgelaufene Sachen mitnehmen, geht mal gar nicht. Wir schauten dann im Internet nach und fanden ein St&uuml;ckchen weiter einen Supermarkt f&uuml;r Fleisch. Naja eine M&ouml;glichkeit ist es, also liefen wir dort hin, denn auf Bildern im Internet war die Marke Boar’s Head bereits zu sehen.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Im Laden angekommen, gab es sogar eine extra Theke nur f&uuml;r Boar’s Head Produkte. Dort standen auch diese So&szlig;en, nur leider war meine nicht dabei. Wir fragten dann die Verk&auml;uferin, ob sie noch welche versteckte. Diese verneinte leider, aber typisch amerikanisch packte sie gleich den Service aus und rief den Zulieferer an und orderte f&uuml;r mich die So&szlig;e. Diese sollte am Mittag eintreffen, sp&auml;testens aber am morgen fr&uuml;h. Also geht es morgen nochmal nach staten Island!
        </p>
        <p>
            Wir kauften noch einiges an Aufschnitt unserer Lieblingsmarke hier und durften typisch amerikanisch auch erst einmal probieren. Yammmyyyy!!!!
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-usa/small/IMG_7020.jpg" alt="Schwer zu erkennen welcher der Tiere auf dem Bild echt sind und welche gezeichnet" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Zur&uuml;ck am F&auml;hrterminal g&ouml;nnten wir uns erst einmal jeder einen Fruchtsmoothie, da uns ja noch nicht kalt genug war. Sp&auml;ter auf der F&auml;hre gab es dann einen kurzen Videoanruf f&uuml;r meine Mama und zeigten Ihr die Skyline von NY.
        </p>
        <p>
            Auf Grund akuter Frostbeulen landeten wir nach Ankunft wieder im Hotel und fr&uuml;hst&uuml;ckten erst einmal und zappten durch die TV-Kan&auml;le.
        </p>
        <p>
            Endlich wieder aufgerafft, ging es dann mit der Metro zur 79. Stra&szlig;e, denn dort befindet sich das American Museum of Natural History. Kennt Ihr vielleicht, wenn Ihr „Nachts im Museum“ mit Ben Stiller kennt. Bevor wir zum Eingang gingen, gab es allerdings erst einmal einen Videoanruf f&uuml;r Basti’s Mama, inkl. Hotdog-Essen. Ich fand das W&uuml;rstchen leider gar nicht genie&szlig;bar und gab es Basti.
        </p>
        <p>
            Nach dem Anruf sahen wir den Haupteingang zum Museum und befanden diesen als viel zu voll, so dass wir es an einem Seiteneingang probierten, an dem wir vorher vorbei kamen. Dort waren wir sofort drinnen und gaben dann unsere Jacken ab und los ging das verlaufen und suchen. Dieses Museum hat so gar keine &Uuml;bersicht und etwas bestimmtes finden ist nur mit M&uuml;he drin. Allerdings muss man sagen, dass die Schauk&auml;sten mit den Tieren sehr gut gemacht sind und man teilweise nicht unterscheiden kann, ob man gerade Live im Geschehen steht oder nicht.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Mittlerweile war es so sp&auml;t, dass wir abbrechen wollten, denn wir wollten noch hoch zur Aussichtsplattform des neuen World Trade Centers. Somit verlie&szlig;en wir das Museum. Am One World Observatory angekommen, hie&szlig; es mit Ern&uuml;chterung festzustellen, dass aktuell wegen &Uuml;berf&uuml;llung kein Einlass ist.
        </p>
        <p>
            Also anstellen, Karte einl&ouml;sen und Ticket f&uuml;r 17.45 Uhr ergattert. Um die 1,5 Std. Wartezeit zu vertr&ouml;deln, setzten wir uns in ein Café mitten im Westfield Shopping Center. Entsprechend laut und hektisch war es, so dass ich mir Kopfh&ouml;rer auf die Ohren setzte und Basti sich mit dem Reiseblog besch&auml;ftigte.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            Um 17.40 Uhr standen wir dann wieder an den T&uuml;ren vom One World und konnten auch gleich durchgehen. Es folgten Sicherheitscheck und die Fahrstuhlfahrt. Dieser f&auml;hrt mit erstaunlichen 41 km/h in nur wenigen Sekunden zur 102. Etage. Von dort wird man zur einer Pflicht-Videovorf&uuml;hrung gef&uuml;hrt und man steht relativ eng gedr&auml;ngt vor einer grauen Wand mit Hochhaus -Absetzungen. Hier wurden dann diverse Bilder von NY gezeigt. Zum Schluss ging die Wand dann gaaaanz langsam hoch und man blickte auf einmal &uuml;ber die Skyline von New York.
        </p>
        <p>
            Das war schon echt cool! Die Wand ging allerdings fix wieder runter, genug angef&uuml;ttert quasi, und es ging in den n&auml;chsten Raum. Hier konnte man sich iPads f&uuml;r 15$ leihen, die einem die Skyline erkl&auml;rten und via virtuellen „Hubschrauber“ dr&uuml;ber flogen. Den Raum konnte man zum Gl&uuml;ck &uuml;berspringen, so dass wir gleich weiter zur 101 Etage gingen und endlich die Aussicht genie&szlig;en konnten. Allerdings konnte man von der 101 Etage nicht direkt an die Scheibe, so dass wir noch eine weitere Etage runter gingen und somit in der 100. Etage waren. Hier konnte man direkt an der Scheibe lehnen und halbwegs gut durch die Scheibe schauen, ohne Reflektionen der Beleuchtung, und Bilder machen. Leider sind oben keine Stative erlaubt, so dass die Auswahl der Bilder sehr Mau ausfallen wird. Wir umkreisten einmal die Aussicht und lie&szlig;en dann nochmal den Blick auf Hugh Jackmans Wohnhaus fallen, bevor es f&uuml;r uns nach knapp 30 min wieder runter ging.
        </p>
        <p>
            Nun f&uuml;hrte uns die Metro zum Kaufhaus Saks. Hier sollte die Hausfront weihnachtlich geschm&uuml;ckt sein. Wenn wir schon nirgendwo Weihnachten in dieser Stadt finden, dann vielleicht dort. Und tats&auml;chlich, als wir ankamen, lief gerade die Lichtshow und entsprechend herrschte auch mehr oder weniger Stillstand auf den Fu&szlig;wegen. Die Show war wirklich schick gemacht und endlich gab es mal was weihnachtliches auf die Augen. Dieses ist, entgegen der ganzen Bilder aus dem Fernsehen, n&auml;mlich totaler K&auml;se. Manhattan und Weihnachten... ha!!! Hier gibt es 2 - 3 Punkte, die weihnachtlich sind und dann ist Schluss. Da bietet die M&ouml;nckebergstra&szlig;e in Hamburg mehr Dekoration.
        </p>
        <p>
            Weiter ging es dann endlich im Schiebe-Quetsch-Gang zum Rockefeller-Weihnachtsbaum samt seiner Eisbahn davor. Leider herrschte auch hier wie zu erwarten extreme &Uuml;berf&uuml;llung, so dass man den Anblick nicht unbedingt genie&szlig;en konnte. Dar&uuml;ber nachdenken, an die Eisbahn ranzukommen, brauchte man schon mal gar nicht. Somit fix ein paar Bilder gemacht und Richtung Ausgang geschoben, um an den Times Square zu kommen.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-usa/small/IMG_4431.jpg" alt="Die Wasserf&auml;lle der alten World Trade Center aus dem 100ten Stock des neuen One World Observatory" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Diesen erreichten wir nach kurzem Fu&szlig;weg, voll war es hier nat&uuml;rlich auch, aber dennoch ist es irgendwie cool hier.
        </p>
        <p>
            Wir tr&ouml;delten durch einige Gesch&auml;fte, besorgten noch was f&uuml;r den Gewinner der WhatsApp Aktion „Love is stronger than hate“ und machten uns dann langsam auf den Weg ins Hotel.
        </p>
        <p>
            Gute Nacht und bis Morgen.
        </p>
    </div>

</div>
<!--=== End Post ===-->
