---
layout: blog/de/travel-blog
title: "15.04.2018 Fazit Workation"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Heute m&ouml;chte ich noch einmal die Chance nutzen, unsere Reise auf die Philippinen zu rekapitulieren und das Fazit mit euch zu teilen."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4826.jpg"
    alt: "Wir am Strand von Malatapay"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
        </p>
        <p>
            Wie Ihr ja am <a href="{{ site.url }}/de/reiseblog/2018/02/01/workation-philippinen.html" target="_blank">Anfang bereits gelesen habt</a>, war diese Reise als Experiment f&uuml;r mich und meinen Arbeitgeber geplant. Es ging darum zu schauen, wie sehr die kartenmacherei bereits auf l&auml;ngerfristige Telearbeit eingestellt ist. F&uuml;r mich war dabei interessant, ob ich mich w&auml;hrend einer Reise und vor allem an sch&ouml;nen und interessanten Orten, volle 8 Stunden auf meinen Job konzentrieren kann. Weiterhin interessierte mich, wie sich meine Arbeitsmotivation ver&auml;ndert wenn Steffi dazu kommt und sie faulenzen kann w&auml;hrend ich mich konzentrieren will.
        </p>
        <p>
            Da ich Teamleiter eines 14 k&ouml;pfigen Programmierer-Teams bin, mich um 2  Auszubildende k&uuml;mmere und auch gerne noch selbst programmiere, waren meine Erwartungen gespalten. Ich wollte gerne gewohnte Strukturen durchbrechen und mich mal wieder aus der Komfortzone heraus jagen.
        </p>
        <p>
            Dies ist mir definitiv gelungen.
            <br />
            Nach nur 2 Wochen auf den Philippinen, hatte ich einen Tag an dem ich am liebsten wieder in den n&auml;chsten Flieger gestiegen w&auml;re und nach Hause gekommen w&auml;re. An dem Tag war mir das alles zu viel.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Internetverbindung war schlecht, Weiterreise war noch immer unklar, wo w&uuml;rde ich sein, wenn Steffi landet, mit dem Blog war ich auch schon wieder einige Tage hinterher, mein eigenes Unternehmen h&auml;tte auch noch Zeit von mir haben wollen und zus&auml;tzlich arbeiten von 15:00 bis 24:00 stand auch noch an. Ausserdem wollte eine d&auml;mliche Erk&auml;ltung, die ich mir aus Deutschland mitgebracht hatte, partout nicht weg gehen. Irgendwie war mit das in dem Moment alles zu viel.
        </p>
        <p>
            Nach einem langen Telefonat mit Steffi und einer guten M&uuml;tze schlaf, beschloss ich den folgenden Plan: Ich bleibe bis Steffi’s Ankunft in dem schicken Apartment in Dumaguete, lege mein Unternehmen erst einmal auf Eis und verbringe mehr Zeit draussen und am Strand. Da mir nun der Aufwand bez&uuml;glich Weiterreise, Unterkunftssuche und der Druck an <a href="https://www.smest.it" target="_blank">Smest.it</a> zu arbeiten weg fiel, hatte ich auch genug Zeit f&uuml;r diesen Blog. Mein Reiseblog ist mir wirklich wichtig. Vor allem seit ich weiss, dass meine Tante jeden Artikel meiner Oma vorliest und so beide irgendwie auch Teil unserer Reisen sind.
        </p>
        <p>
            Diese Entscheidung war absolut richtig alles andere war einfach zu viel auf dem Zettel. Einige Tage sp&auml;ter konnte ich dann auch endlich wieder Tauchen gehen und meine Zeit hier geniessen. Als ich Steffi dann endlich bei mir hatte und wir auch noch von einem Traumresort zum n&auml;chsten reisten, wurde es noch viel entspannter. Dankenderweise nahm Steffi mir dann noch das Schreiben der Blogartikel ab und so musste ich mich nur um das Online stellen dieser und meine Arbeit f&uuml;r die kartenmacherei k&uuml;mmern. Somit wurde alles noch viel entspannter.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5037.jpg" alt="Eine kleine Banka" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Es stellte sich sogar heraus, dass die Zeitverschiebung von 7 bzw. 6 Stunden einen unerwarteten Vorteil darstellte. Da ich eigentlich immer vor Steffi aufstehe, konnte ich oft schon bis zu 2 meiner 8 Stunden Arbeitszeit erledigen bevor sie &uuml;berhaupt einen Fuss aus dem Bett setzte. Die Stunden holte ich mir wieder wenn wir abends essen gehen wollten, denn dann war in Hamburg Mittagszeit und es erm&ouml;glichte mir regelm&auml;ssig auch noch einen fr&uuml;heren Feierabend.
        </p>
        <p>
            Am Ende des Experiments, g&ouml;nnten wir uns noch 10 Tage Urlaub. Diese nutzten wir voll und ganz f&uuml;r uns. Wir besuchten noch 5 weitere Orte. Wir genossen die Natur auf Bohol, besuchten die Chocolate Hills sowie die Tarsiere und genossen Mittag auf den Fluss Loboc. Auf Panglao ging es fast ausschlie&szlig;lich um’s Wasser. Ich war mehrmals tauchen und vor allem g&ouml;nnten wir uns dort einen wundersch&ouml;nen und unvergesslichen Tagesausflug nach Balicasag und Virgin Island, bei dem wir mit Schildkr&ouml;ten schnorchelten, echte fliegende Fische sahen und an im Wasser stehenden Marktst&auml;nden, Ananas und frittierte S&uuml;&szlig;kartoffeln genossen. In Manila g&ouml;nnten wir uns auf dem Weg nach Hause noch das eine oder andere Mitbringsel und gaben die letzten Pesos aus, die wir &uuml;brig hatten.
        </p>
        <p>
            Alles zusammen war es am Ende eine gelungene Reise mit kleinen Tiefs, aber um so gr&ouml;&szlig;eren Hochs. Es sind wieder mehrere tausend Fotos entstanden, vor allem von Clownfischen. Wir waren in einem armen, aber auch sehr sch&ouml;nen Land mit vielen freundlichen und im l&auml;ndlichen auch fr&ouml;hlichen Menschen. Die Philippinen sind immer eine Reise wert und wenn man ein wenig recherchiert, wird dieses auch nicht all zu teuer. Um es mit Steffi’s Worten zu sagen: Philippinen, immer wieder gerne!
        </p>
    </div>

</div>
<!--=== End Post ===-->
