---
layout: blog/de/travel-blog
title: "30.03. Formel 1 rennen auf Bohol"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Mactan
  - Bohol
  - Anda

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Heute fing endlich mein Urlaub an. Nun musste ich nicht mehr dar&uuml;ber nachdenken, wo ich die n&auml;chsten Tage eine gute Internetverbindung zum arbeiten"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4933.jpg"
    alt: "Eine der Heiligen auf Bohol die &uuml;ber die Landstrasse gebracht wird."
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} finde, sondern nun kann ich diese Reise endlich in vollen Z&uuml;gen zusammen mit Steffi genie&szlig;en. Zus&auml;tzlich ist auch noch Ostern, was f&uuml;r mich schon seit vielen Jahre, Entspannung und Zeit nur f&uuml;r uns bedeutet. Ziel f&uuml;r heute war das Blue Star Dive Resort in Anda auf der 10t gr&ouml;&szlig;ten Insel der Philippinen: Bohol. Daf&uuml;r hatten wir auch einen echt einfachen und entspannten Plan.
        </p>
        <ul>
            <li>Erst einmal gem&uuml;tlich Fr&uuml;hst&uuml;cken</li>
            <li>Auschecken</li>
            <li>Shoppen gehen in einer Mall</li>
            <li>2 Stunden mit der F&auml;hre nach Tagbilaran fahren</li>
            <li>1,5 Stunden nach Anda gefahren werden</li>
            <li>Einchecken</li>
            <li>Entspannen</li>
        </ul>
        <p>
            Alles in allem war der Tag entspannt, auch wenn nicht alle Punkte auf der Liste klappten. Bis zum Auschecken lief noch alles glatt. Dort fragten wir wann heute die Mall &ouml;ffnet, da ja Karfreitag ist. Die Gesch&auml;fte haben hier im Land eigentlich t&auml;glich ge&ouml;ffnet und ich hab auch schon einige L&auml;den gesehen die damit warben, dass sie immer ge&ouml;ffnet sind. Leider schloss “immer” die Osterfeiertage (hier Gr&uuml;nen Donnerstag und Karfreitag) nicht mit ein.  Die Dame an der Rezeption teilte uns n&auml;mlich mit, dass die Malls heute geschlossen sind.

        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4910.jpg" alt="Noch ein letztes sch&ouml;nes Foto am Strand des Resorts" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Somit lie&szlig;en wir diesen Punkt auf unserer Liste einfach ausfallen und genossen noch eine weitere Stunde die sch&ouml;ne Hotelanlage. Wir machten noch einige Fotos und lie&szlig;en uns noch ein letztes Mal die leckern Ananas Smoothies schmecken bevor uns wieder ein Uber abholte und zur F&auml;hre brachte.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}" />
        </div>
    </div>

    <div class="col-md-6">
        <p>
            Am Hafen und auf dem Wasser lief wieder alles glatt. Steffi war so tiefenentspannt und schlummerte w&auml;hrend der &Uuml;berfahrt an meiner Schulter. Bei der Ankunft in Tagbilaran versuchten sich noch 3 &auml;ltere Koreanerinnen mit Steffi irgendwie zu verst&auml;ndigen. Leider klappte das nicht wirklich, denn die Damen sprachen schlecht bis kein Englisch. Steffi schaute mich hilfesuchend an, aber selbst ich hatte Sie nicht verstanden. Wir konnten uns gerade mal &uuml;ber unsere Nationalit&auml;t austauschen.
        </p>
        <p>
            Am Pier stand dann bereits ein junger Mann mit einem Schild in der Hand, auf dem mein Name stand. Dieser Herr war wie immer sehr hilfsbereit und brachte uns zu einem schicken modernen Minivan. Wir fuhren gem&uuml;tlich los und in der Stadt fuhr der junge Mann auch sehr r&uuml;cksichtsvoll und gem&uuml;tlich. Er erkl&auml;rte uns noch, dass jeder Ort auf der Insel heute eine Prozession ihrer Heiligenfiguren hat. Die erste davon sahen wir direkt in Tagbilaran. Sobald wir die Stadt verlassen hatten, gab der Fahrer mehr und mehr Gas. Landstra&szlig;e bedeutet hier aber nicht wie bei uns, dass man Gas geben sollte, denn hier sind immer H&auml;user und Hotels und Gesch&auml;fte am Stra&szlig;enrand. Trotzdem fuhr der Fahrer immer schneller. Gef&uuml;hlt fuhren wir 130 - 150 km/h. Steffi sagt aber, das wir nie schneller als 110 waren. Da es auch noch Nacht wurde f&uuml;hlte sich das einfach schneller an. Zwischendurch mussten wir aber ein Gl&uuml;ck auch immer wieder mal kurzzeitig langsam fahren, wenn wieder einmal eine Prozession unseren Weg kreuzte. F&uuml;r diese Pausen war ich verdammt dankbar.
        </p>
    </div>

    <div class="col-md-12">
        <p>
            Es war leicht zu erkennen, dass der Fahrer die Stra&szlig;en sehr gut kannte und er ziemlich genau wusste an welchen Stellen die Stra&szlig;e h&ouml;here Geschwindigkeiten zulie&szlig;. Trotzdem war es stock dunkel und viel zu oft Menschen auf der Stra&szlig;e.
        </p>
        <p>
            Naja. Nach etwas &uuml;ber 2 Stunden sind wir endlich heil und ohne Unfall im Blue Star Dive Resort angekommen. Nur mein gef&uuml;hltes Alter hat sich in der Zwischenzeit verdoppelt. Der Check-in ging erwartungsgem&auml;&szlig; schnell und das Personal war wie immer hilfsbereit und nahm uns einige Taschen ab und begleitete uns zu unserem Zimmer mit Terrasse mit Gartenblick. Ein gut ausgestattetes Zimmer und die Terrasse war auch stattlich gro&szlig;.
        </p>
        <p>
            Steffi packte bereits die wichtigsten Sachen aus, als ich noch einmal kurz zur Rezeption ging, um noch eine kleine Frage los zu werden. Als ich wieder kam, stand Steffi hinter der Verandat&uuml;r und winkte mich ran. Als ich n&auml;her kam sa&szlig; dort ein kleiner Kater vor der T&uuml;r und fauchte Steffi durch die Scheibe an und lie&szlig; sie partout nicht heraus. Ich schnappte mir den Stuhl und vertrieb das Tier. Nach wenigen Minuten stand das Tier wieder an der T&uuml;r. Wir beschlossen dann einfach das Tier zu ignorieren. Das half. Der Kater verschwand wieder und er hat sich nicht wieder bei uns an der T&uuml;r blicken lassen.
        </p>
        <p>
            Den Abend verbrachten wir auf der Terrasse, schauten uns einen Film an und genossen den Urlaub.
        </p>
    </div>

</div>
<!--=== End Post ===-->
