---
layout: blog/de/travel-blog
title: "03.04.2018 Bohol Sea Resort"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Panglao
  - Alona Beach
  - Bohol
  - Anda

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi"

overview:
  intro: "Heute ging es nach dem wach werden erst einmal ins Meer. Also rein in die Badesachen, Equipment geschnappt und mal wieder"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5122.jpg"
    alt: "Eingang des Alona Sea Resort"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} die Stufen nach unten genommen. Es waren wieder viele Fische anzutreffen, alles war zum Gl&uuml;ck Quallen frei und so schossen wir wieder unz&auml;hlige Fotos von Clownfisch und Co. und genossen vor allem das sch&ouml;ne Wasser. Zumindest kurzzeitig, denn irgendwie haben die Seeschlangen schon wieder vergessen, dass sie nachtaktiv sind. Es wurden immer mehr, wir wurden immer unruhiger und so beschlossen wir das Weite zu suchen. Zuerst ging es aufs Zimmer zum duschen und anschlie&szlig;end genossen wir das letzte Fr&uuml;hst&uuml;ck im „Blue Star Dive Resort“.
        </p>
        <p>
            Gegen 12 Uhr stand schon unser Fahrer bereit und zu unserer &Uuml;berraschung war es der selbe Fahrer wie bei unserer Inseltour. Die Fahrt dauerte fast 2 Stunden und endlich auf Panglao angekommen, zeigte sich, das es touristischer wurde. Kurz vor unserem Ziel fuhren wir durch Alona Beach und dort war es eindeutig auf Touristen ausgelegt. Nach weiteren 5 min. Fahrt, zum Gl&uuml;ck abseits von allem, sind wir am „Bohol Sea Resort“ angekommen. Wir wurden durch die Sicherheitskontrolle gewunken und dann waren wir und auch unser Fahrer recht planlos. Es war keine Rezeption zu sehen, ein Fahrweg ebenfalls nicht und so fuhr er so weit wie m&ouml;glich vor. Wir drei standen ziemlich planlos vor dem Auto und luden erst einmal aus, als schon mehrere Mitarbeiter von irgendwo herkamen und sich unserem Gep&auml;ck annahmen. Wir folgten Ihnen und landeten am Ende im Restaurant.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}" />
        </div>
    </div>

    <div class="col-md-12">
        <p>
            Da war die kleine Rezeption untergebracht und bevor &uuml;berhaupt irgendwas erledigt war, hatten wir schon unseren Begr&uuml;&szlig;ungsdrink in der Hand. Dieser bestand aus Gurken- und Limettensaft und w&auml;re eigentlich gar nicht so schlecht gewesen, w&auml;re da nicht wieder extra viel Zucker drin gewesen. Nachdem dann auch der Papierkram erledigt war, erz&auml;hlte man uns, dass unser Bungalow leider noch nicht fertig ist. Wir machten es uns in der Sitzecke bequem und keine 10 bis 15 min sp&auml;ter konnten wir unseren Bungalow „E“ beziehen.
        </p>
        <p>
            Wir lie&szlig;en erst einmal alles fallen und erkundeten die Anlage und gingen gleich darauf zur &ouml;rtlichen Tauchbasis. Hier hie&szlig; es dann Infos sammeln und anmelden. Die Basis steht &uuml;brigens unter deutscher Leitung. Hanschi, der Leiter kommt aus Neubrandenburg und so gab es nat&uuml;rlich einiges auszutauschen. Anschlie&szlig;end h&uuml;pften wir in den Pool, da dringend Erfrischung n&ouml;tig war. Dieser ist ziemlich chlorhaltig, ansonsten aber ganz ok von der Gr&ouml;&szlig;e und auch von der Pflege her. Die Liegen am Pool k&ouml;nnten mal gereinigt werden, aber ansonsten sind sie ebenfalls ganz ok.
        </p>
    </div>

    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5115.jpg" alt="Frittierte Pizza Hawaii in Alona Beach" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Am fr&uuml;hen Nachmittag beschlossen wir dann nach Alona Beach reinzufahren, denn das Hotel bot nun nicht so viel an Essen an. Der Sicherheitsmann vom Hotel rief seinen Kumpel an und kurz darauf kam das Tricycle.... dieses war verflucht eng. Es gibt hier also noch wieder eine andere Variante von Tricycles. Und da waren wir: bei tausenden anderen Touristen im vollen Get&uuml;mmel inkl. zig Tourenverk&auml;ufern. Wir schlenderten erst durch die Gegend, erkundeten den langen Strand und irgendwann wurde es dunkel. Schwups da war der Strom weg!
        </p>
        <p>
            Wir gingen langsam zur&uuml;ck zur Hauptstra&szlig;e, bis wir am Ende bei Noahs landeten. Einem Italiener an der Ecke. Hier gab es f&uuml;r mich lecker Bolognese und f&uuml;r Basti eigentlich eine Pizza Hawaii. Hmm die Dame sagte bei der Bestellung immer wieder etwas, aber wir haben beide nur Bahnhof verstanden. Somit meinte Basti nur „&uuml;berrasch mich einfach“ und die Kellnerin verschwand. Meine Bolo kam ziemlich zeitig und bevor sie kalt wurde, a&szlig; ich schon mal. Ich war schon eine Weile fertig, da kam endlich Basti’s “Pizza”. Naja oder was auch immer. Denn mit Pizza hatte sie gar nichts zu tun. Das war eine Art Schmalzgeb&auml;ck-Teig, drinnen fand man K&auml;se und Co. Das Ganze war zusammen geklappt, frittiert und mit Salz bestreut. Auf einmal war wieder der Strom weg und wir sa&szlig;en im Dunkeln. Dieses ist hier wohl gang und gebe, es k&uuml;mmert alle nicht wirklich und so redeten wir noch eine Weile, bis wir beschlossen zur&uuml;ck ins Resort zu fahren. Wir winkten uns ein Tricycle ran und los ging die Fahrt. Im Zimmer machten wir es uns dann mit einem Film gem&uuml;tlich und entspannten des Rest des Abends.
        </p>
    </div>

</div>
<!--=== End Post ===-->
