---
layout: blog/de/travel-blog
title: "04.04. Tauchen und Schnorcheln"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Panglao
  - Danao Beach

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi"

overview:
  intro: "Basti hatte sich gestern ja zum tauchen für heute angemeldet und währenddessen erfuhren wir schon, dass weder der Bereich vorm"
  image:
    url: "/assets/img/blog/2018-philippines/small/P4040842.jpg"
    alt: "Basti beim tauchen"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Hotel, nach links oder rechts davon zum schwimmen bzw. Schnorcheln geeignet ist. Na das kann ja ein lustiger Aufenthalt werden, war mein erster Gedanke. Ich blieb im Zimmer und Basti ging zur Tauchbasis, um sich fertig zu machen. Ich hatte gerade die ersten Seiten gelesen, da stand Basti wieder in der Tür „da is noch ein Mädel das zum Schnorcheln mit rausfährt. Willst mit? Hättest 30 min. Zeit um Dich fertig zu machen“. Hm ok, er wieder los und ich aus den Schlafklamotten raus, frisch gemacht, Sonnencreme drauf, Badesachen an und los.
        </p>
        <p>
            Er kam mir quasi schon entgegen, da ich wohl der Zeit hinterher hing, aber ich kämpfe mal wieder mit unserem Terrassentürschloss. Da uns Hanschi gestern gesagt hatte, es ist quallenfrei, hab ich nicht weiter über einen Anzug nachgedacht und bin gleich aufs Boot. Auf dem Boot stellte sich dann heraus, dass Bianca, das andere Schnorchelmädel, samt ihrer Begleitung Hamburgerinnen sind. So kamen wir natürlich gleich ins Gespräch. Die Fahrt zum „Blue Water“-Tauchplatz ging fix und schon waren wir im Wasser. Leider war die Stelle fürs Schnorcheln nicht sehr geeignet, da die Wassertiefe schon ziemlich gewaltig war. Naja und dann waren da ja noch die Quallen! Ja genau, Quallen - soviel zu „quallenfrei“! Das Wasser ziemlich voll davon und wir beiden Schnorchler hatten alle Mühe aus der Nummer heil rauszukommen. Hier und da brannte es zwar, aber bei weitem nicht so heftig wie in Anda. Ich ging relativ zeitig wieder aufs Boot, da eh nichts zu sehen war und genoss die Stille des Meeres bis die Taucher wieder oben waren.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}" />
        </div>
    </div>

    <div class="col-md-12">
        <p>
            Wieder an der Basis angekommen, beschwerten wir uns erst einmal bei Hanschi. Dieser war sehr erstaunt, das Quallen dort waren und entschuldigte sich gleich mehrmals. Naja er kann da ja nun wirklich nichts für! Ich hüpfte nun erst einmal in den Pool und entspannte anschließend in der Sonne. Basti hatte sich gleich mit der anderen Hamburgerin, für einen zweiten Tauchgang am Mittag verabredet und so blieben wir im Resort. Kurz bevor Basti zum zweiten Tauchgang los musste, bin ich mit Handtuch und Buch bewaffnet Richtung Strand. „Leider“ lief ich den Mädels über den Weg und die überredeten mich auf eine zweite Runde Schnorcheln, diesmal mit Anzug. Alleine würde Sie nicht wollen etc. Weiber!!!!!
        </p>
        <p>
            Hanschi gab mir einen Anzug, ich dackelte zurück zum Zimmer und zog mich um. Da war der entspannte Nachmittag dahin. Diesmal fuhren wir ein Stück weiter hinaus, die Quallen konnten uns so gar nichts an haben, aber zu sehen gab es dennoch wieder nichts. Das Wasser war wieder viel zu tief. Die Wellen wurden mit der Zeit immer mehr und ich merkte, das mir komisch wurde. Verdammt, ich hatte auch die Tabletten vergessen! Im Meer bleiben hilft mir da leider gar nicht und so kletterte ich wieder an Bord. Der Bootsführer half mir aus dem Anzug und die Weite des Horizonts gehörte mir! Man war mir übel und die Taucher ließen sich so gar nicht blicken. Irgendwann rief er dann meine Mitschwimmerin ins Boot, denn er meinte er hätte die Taucher gesehen. Hm wir fuhren und fuhren und versteckt hinter zwei weiteren Booten sah ich sie dann auch. Also er kann sie nie im Leben gesehen haben. Das muss Kommunikation von Schiff zu Schiff gewesen sein!
        </p>
    </div>

    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/P4050890.jpg" alt="Eine seltenere Art der Anemonenfische" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Basti sah schon, dass es mir nicht gut ging und schickte mich, als wir wieder an Land waren, direkt in den Bungalow. Dort gab‘s eine kühle Dusche und eine runde Dösen im Bett. Nach knapp 1,5 Stunden war ich endlich wieder ansprechbar und wir wollten wieder nach Alona reinfahren. Wir trafen dann aber wieder einmal auf die beiden Mädels und beschlossen spontan gemeinsam im Resortrestaurant zu essen. Dort gab es dann böse-leckeren Hamburger, ertränkt in Knoblauch für mich. Basti hatte Hähnchenfleisch mit Gemüse und Kartoffelspalten. Während des Essens sprachen wir über die Pläne für die nächsten Tage. Für die Mädels sollte es morgen nach Oslob gehen, um dort mit Walhaien schwimmen zu gehen und Basti plante morgen Vormittag noch ein letztes Mal tauchen zu gehen. Anschließend steht ggf. noch eine Erkundung der Nachbarorte auf unserem Zettel.
        </p>
        <p>
            Wir überlegten auch was wir am Freitag machen könnten. Die Idee war ein Boot zu chartern und noch eine Runde raus zu fahren, um noch einen letzten Versuch zu starten, dass ich Schildkröten zu Gesicht bekomme. Die beiden Mädels erzählten dann, dass Sie bereits auf Balicasag waren und das es sehr schön war und man förmlich über die Schildkröten fällt. Wir fragten an der Rezeption nach und dort erklärte man uns, dass es kein Problem wäre, es gäbe ein privates Boot und die Kosten liegen bei 1800 PHP (ca. 30€) inkl. 2 Begleiter, zzgl. 250PHP (ca 4,50€) pro Nase Naturschutzgebühr. Cool! Die Mädels kündigten auch schonmal Interesse an. Wir beschlossen mit der Buchung zu warten, bis die Mädels von Ihrem Ausflug nach Oslob zurück sind.
        </p>
        <p>
            Wir schnackten noch eine Weile, bis wir uns irgendwann verabschiedeten und uns einkuschelten. Gute Nacht.
        </p>
    </div>

</div>
<!--=== End Post ===-->
