---
layout: blog/de/travel-blog
title: "23.05. Buchstabensalat Teil 1"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Serbien
  - Belgrad
  - Deutschland
  - Hamburg
  - M&uuml;nchen

headline:
  image:
    url: "/assets/img/blog/2019-belgrade/sunset-at-danube.jpg"
    alt: "Sonneuntergang &uuml;ber der Donau in Beldgard"

author: "Steffi"

overview:
  intro: "Heute ging es von der Arbeit direkt zum Flughafen, denn Belgrad wartete auf uns. Bl&ouml;derweise litt ich schon den ganzen Tag unter b&ouml;sen"
  image:
    url: "/assets/img/blog/2019-belgrade/IMG_5577.jpg"
    alt: "Das IN Hotel von der anderen Seite der Stra&szlig;e aus"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Kopfschmerzen, wo nicht einmal eine Tablette gegen ankam. Somit gab es am Flughafen erst einmal etwas zu trinken sowie zu essen inkl. einer erneuten Tablette. Die half aber auch nicht und die Migr&auml;ne klopfte mittlerweile sehr laut an.
        </p>
        <p>
            Am Sicherheitsbereich war extrem viel los und es bewegte sich erst einmal gar nichts. Naja, 30 min. bis zum Boarding-mal nicht nerv&ouml;s werden. Wir bequatschten die Dame an der Fastlane und durften zum Gl&uuml;ck diese dann auch nutzen.
        </p>
        <p>
            Am Ende passte es und wir sa&szlig;en p&uuml;nktlich im Flieger. Da kam auch schon Durchsage, dass wir Versp&auml;tung haben. Der Flieger w&auml;re hinten zu schwer, und muss umgeladen werden. Knapp 20 min. sp&auml;ter rollten wir dann endlich los und kamen noch zeitig genug in M&uuml;nchen an, um unseren Anschlussflug nach Belgrad zu erwischen. W&auml;hrend der Fl&uuml;ge sah ich eigentlich nur Sterne und war froh, endlich in Belgrad zu landen.
        </p>
        <p>
            Hier erwartete uns schon der Fahrer, der uns von der Konferenz gestellt wurde. Leider ging es nicht gleich weiter, denn wir warteten noch auf einen anderen Teilnehmer der Konferenz, der mitfahren sollte. Dieser kam knapp 15 min nach uns, so dass wir um Mitternacht endlich im Hotel waren. Vom Fahrstil des Fahrers reden wir nun besser mal nicht....
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Fix eingecheckt, das Zimmer bezogen und frisch gemacht, so dass dann endlich das Reich der Tr&auml;ume zum greifen nah war. Leider wollte die Klimaanlage nicht so wie wir und heizte uns bei 26grad im Zimmer ganz sch&ouml;n ein. Die Nacht war mehr oder wenig unruhig und vor allem sehr warm.
        </p>
        <p>
            F&uuml;r Basti ging es dann um 8.00 Uhr schon aus dem Zimmer, da er bereits eine Veranstaltung hatte. Ich versuchte noch zu schlafen, wurde aber nichts. Zumal gegen&uuml;ber im Zimmer die Putzfrau mit dem Staubsauger hantierte. Also fertig gemacht und Fr&uuml;hst&uuml;ck gesucht.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2019-belgrade/IMG_8452.jpg" alt="Steffi auf dem Donaudampfer Restaurant beim bestellen" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Die erste &Uuml;berraschung gab es beim Zimmernummer-Ansagen beim Fr&uuml;hst&uuml;ck. Direkt dahinter qualmten die Mitarbeiter, obwohl hier &uuml;berall Nichtraucher-Schilder stehen. Na Hallelujah!
        </p>
        <p>
            Im Fr&uuml;hst&uuml;cksbereich hat man davon zum Gl&uuml;ck nichts gemerkt und das Fr&uuml;hst&uuml;ck selbst bot eine sehr gro&szlig;e Auswahl.
        </p>
        <p>
            Die Mitarbeiter haben die Freundlichkeit hier zwar nicht gepachtet, daf&uuml;r aber den Ehrgeiz. Kaum hatte ich nur mal die Gabel aus der Hand gelegt, wohlgemerkt... auf dem Teller war noch genug, wollten die mir alles wegnehmen.
        </p>
        <p>
            Nach dem Fr&uuml;hst&uuml;ck verzog ich mich erst einmal in die Lobby, da ich der Reinigungskraft beim Zimmer verlassen gesagt hatte, sie h&auml;tte nun eine Stunde Zeit bis R&uuml;ckkehr. Gut, das ich gute B&uuml;cher dabei habe.
        </p>
        <p>
            Zur&uuml;ck auf dem Zimmer machte ich mich dann fertig zum Umgebung erkunden. Ein Blick zum Bett, welches so einladend war, dass ich einfach drauf viel und f&uuml;r 2 Stunden dahin driftete. Soviel zum Thema losgehen. Meine Motivation war allerdings immer noch nicht besser, so dass ich auf dem Bett blieb und weitergelesen habe.
        </p>
        <p>
            Bl&ouml;derweise ging mir irgendwann das trinken aus, so dass ich doch raus musste. Ich stolperte also von Schlagloch zu Schlagloch und fand kurz darauf auch einen Supermarkt und das trotz der Gedanken „K&ouml;nnen die keine richtigen Buchstaben nutzen, wie soll man denn hier was lesen oder finden k&ouml;nnen“.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Da ich nun schon mal drau&szlig;en war, wollte ich die Chance nutzen, und das von Hotel gegen&uuml;berliegenden Einkaufszentrum aufsuchen. Den Weg musste ich aber erst einmal suchen, denn mich trennte eine Autobahn vom Ziel. Angekommen, waren zwar ein paar Gesch&auml;fte zu finden, aber mit Elektrokram kann ich nichts anfangen und Sportklamotten ebenfalls nicht. Also einmal rumgeschlichen bzw. gestolpert und versucht, was essbares aufzutreiben. Leider sahen die Imbisse aber absolut nicht einladend aus und gerochen hat es noch viel schlimmer. Also musste die Packung Kekse aus dem Supermarkt erst einmal reichen.
        </p>
        <p>
            Wieder auf dem Zimmer kam der Hausmeister und erkl&auml;rte mit H&auml;nden, F&uuml;&szlig;en und schlechteren Englisch als meinem, dass die Klimaanlagen aus sind. W&auml;ren schlie&szlig;lich nur 20 Grad drau&szlig;en. Drau&szlig;en is mir das ja auch egal. Wir verrecken im Zimmer vor W&auml;rme! Er meinte dann, dass er das System mal hochf&auml;hrt und ein Setup macht und joa.. abwarten!
        </p>
        <p>
            Somit weiter lesen, Kekse futtern und gucken was der Abend noch mit sich bringt.
        </p>
        <p>
            Nachdem Basti von der 2. Veranstaltung des Tages zur&uuml;ck war, ging es f&uuml;r uns Richtung Donau. Dort landeten wir auf einem mehr oder weniger vermoderten Hoteldampfer inkl. Restaurant. Dort stillten wir dann meinen Hunger und machten uns anschlie&szlig;end gem&uuml;tlich, mit Umwegen, zur&uuml;ck zum Hotel. Basti hatte schlie&szlig;lich noch das Speaker-Dinner am Abend.
        </p>
        <p>
            Auf mich wartete das n&auml;chste Buch bzw. ein Film.
        </p>
    </div>

</div>
<!--=== End Post ===-->
