---
layout: blog/de/travel-blog
title: "25.05. Buchstabensalat Teil 2"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Serbien
  - Belgrad
  - Deutschland
  - Hamburg
  - M&uuml;nchen

headline:
  image:
    url: "/assets/img/blog/2019-belgrade/sunset-at-danube.jpg"
    alt: "Sonneuntergang &uuml;ber der Donau in Beldgard"

author: "Steffi"

overview:
  intro: "Heute Morgen gab es ein gemeinsames Fr&uuml;hst&uuml;ck und anschlie&szlig;end lie&szlig;en wir uns von der Rezeption ein Taxi rufen, welches uns zum Kalemegdan Park"
  image:
    url: "/assets/img/blog/2019-belgrade/IMG_5589.jpg"
    alt: "Der Tempel des Heiligen Sava "
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} fuhr. Hier liegt u.a. eine alte Burgruine und es findet aktuell noch das Manifest-Festival statt. Da wird anscheinend direkt zur Er&ouml;ffnung da waren, war noch nicht viel los und man konnte in Ruhe schm&ouml;kern. Laut Bildern im Internet sollten hier auch Hei&szlig;luftballons sein, gesehen haben wir nicht einen. Daf&uuml;r erinnerte alles ein wenig an die Reisemesse in Hamburg. Lokale und umliegende Anbieter boten Reisen und Spezialit&auml;ten an und es gibt div. kleine B&uuml;hnen.
        </p>
        <p>
            Weiter ging es dann zu Fu&szlig; in die Einkaufsstra&szlig;e. Hier landeten wir zu erst in einem Einkaufszentrum, was preislich aber doch &uuml;ber unserem Verst&auml;ndnis liegt. Zumindest gab es dort kostenfrei, wenn auch ziemlich widerlich-dreckige Toiletten. Anschlie&szlig;end schlenderten wir weiter durch die Einkaufsstra&szlig;e und landeten am Ende in einem kleinen Café bei frischem O-Saft, Smoothie und deutschem online Radio.
        </p>
        <p>
            Anschlie&szlig;end machten wir uns zu Fu&szlig; auf den Weg zum Tempel des Heiligen Sava. Leider konnten wir jedoch nicht rein, denn es herrschte Sanierung von oben bis unten. Zumindest von au&szlig;en bot dieser dennoch einen ganz schicken Anblick. Wir verweilten noch eine Weile am Brunnen dort und beschlossen dann, einen Italiener um die Ecke aufzusuchen. Hier gab’s dann Pasta bzw. Pizza zum mittlerweile schon Nachmittag. Das Essen war wirklich sehr lecker. Wir waren so derma&szlig;en vollgefuttert, dass wir uns kurzerhand ein Taxi zum Hotel nahmen.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Kaum im Zimmer angekommen, schlief Basti auch schon 2 Stunden durch - in der Hoffnung, die mittlerweile aufgetretenen Kopfschmerzen loszuwerden.
        </p>
        <p>
            Zum Abendbrot landeten wir dann in dem Restaurant hinter dem Hotel. Wir blieben allerdings nicht lange alleine, denn innerhalb von 40 min. tauchten 30 - 40 Nerds von der Konferenz auf und brachten die 2(!!) Kellner samt dem Koch m&auml;chtig ins schwitzen.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2019-belgrade/IMG_8471.jpg" alt="Mihailo, Steffi und Sebastian Thoss beim abendessen in Belgrad" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Das Fr&uuml;hst&uuml;ck am Morgen verbrachte ich wieder alleine, da Basti bereits auf der Konferenz war. Hier stand schlie&szlig;lich heute sein Vortrag an!
        </p>
        <p>
            Anschlie&szlig;end ging es f&uuml;r mich in das nahegelegene Shopping-Center, denn drau&szlig;en war es mir eindeutig zu schw&uuml;l. Das Center erstreckte sich &uuml;ber 3 oder 4 Etagen samt Kino. Das es hier jetzt besonders g&uuml;nstig war, wie es hei&szlig;t f&uuml;r Serbien, konnte ich nicht feststellen.
        </p>
        <p>
            Leider war das Center so extrem laut, dass ich mich nach 1,5 Stunden schon wieder verkr&uuml;melte und zur&uuml;ck zum Hotel ging. Meine Idee, an die Donau zu gehen, hatte ich ganz schnell verworfen, als ich aus dem Center kam und mir mit einer Hitze-Keule eins &uuml;bergebraten wurde. Also gem&uuml;tlich zur&uuml;ck zum Hotel, Klimaanlage an, Film geschaut bzw. Buch gelesen und Nachmittag genossen.
        </p>
        <p>
            Basti schlug dann gehen 17.20h auf und gemeinsam machten wir uns auf den Weg mit dem Taxi an die Donau. Hier erwartete uns Mihailo, ein serbischer Arbeitskollege von Basti, der zuf&auml;llig auch das Wochenende hier ist. Wir landeten in einem total gem&uuml;tlichem Restaurant an der Donau, abseits der Massen. Dort speisten wir wirklich sehr lecker, g&uuml;nstig und viel zu viel. Der Kellner wunderte sich dann auch gleich wieder dar&uuml;ber, was f&uuml;r eigenartige W&uuml;nsche wir deutschen haben. Wie kann man nur Selter mit Saft mischen oder Bier mit Sprite!
        </p>
        <p>
            Daf&uuml;r wurden wir in Australien bereits das eine oder andere mal bel&auml;chelt. Die wissen doch alle nicht, was lecker ist!
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Da die M&uuml;cken hier Hochsaison haben und zudem aktuell extreme Warnungen vor den Viechern herrschen, da die zzt. das West-Nil-Fieber verteilen, zogen wir trotz W&auml;rme die Jacken &uuml;ber. Half leider nur bedingt, so dass wir dann beschlossen uns einfach noch ein St&uuml;ckchen zu bewegen. So spazieren wir dann zusammen an einem wirklich netten Fleck in Belgrad entlang, bis wir Mihailo verabschiedeten. Hier noch einmal ein Danke an Mihailo f&uuml;r den sch&ouml;nen Abend. Zu zweit tr&ouml;delten wir noch ein St&uuml;ckchen weiter, bis wir uns ein Taxi anhielten, welches uns zur&uuml;ck zum Hotel brachte.
        </p>
    </div>

</div>
<!--=== End Post ===-->
