---
layout: blog/de/travel-blog
title: "16.03.19 Canada Brothers Day 9"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2019-kanada

locations:
  - Kanada
  - Montreal

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "Die Skyline von Toronto vom Flieger aus gesehen"

author: "Matze & Basti"

overview:
  intro: "Heute also das Highlight unserer Reise. Die Veranstalter der Konferenz fahren mit den Speakern und deren Assistenten (also mir) zum Sugar Shack."
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_7873.jpg"
    alt: "Der typisch gelbe Schulbus der uns zur Sugar Shack gebracht hat"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Endlich mal etwas Kanadische Kultur und Tradition. Diese hat, wie so vieles in Kanada, mit Essen zu tun. Denn die Nordamerikaner stehen auf Ernährung. Es wundert mich nur, daß die Leute hier auch nicht dicker sind als in Deutschland.
        </p>
        <p>
            Einer der typischen gelben Schulbusse fährt mit uns eine Stunde raus aus Montreal und rein in den Wald. Hier liegt noch richtig viel Schnee. Wir werden in ein Pferdefuhrwerk umgeladen und finden uns an ein paar Holzhütten wieder. Hier wird Ahornsirup hergestellt. Überall an den Baumstämmen hängen kleine Blecheimer. Eine Inspektion ergibt, daß dort der Rohe Baumsaft des Zuckerahorn hineinläuft. Aus diesem soll dann später der Sirup werden.
        </p>
        <p>
            In einer der Holzhütten ist ein großer Saal, der ein wenig an ein Bayrisches Bierzelt mit Kamin erinnert. Also einfache Bänke und Tische und gute Laune. Doch statt Blasmusik gibt es  Geige und Gitarre. Ist mir auch lieber so.
        </p>
        <p>
            Die Kanadier nehmen dieses Sugar Shag sehr ernst. Es ist also keine Touristenveranstaltung. Eine Kellnerin erklärt uns kurz was es zu Essen gibt, und dann geht es auch schon los. Große Schüsseln mit Suppe, Fleisch, Kartoffelbrei und noch mehr Fleisch werden herumgereicht. Zum Nachtisch gibt es noch Pancakes.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Also nichts für Leute mit Schlankheitswahn, denn alles was man dort isst oder trinkt MUSS!!! mit Ahornsirup übergossen werden. Die einzige Ausnahme die die Kanadier machen ist der Sugar Bun zum Abschluss. Der ist Karamell pur und so süß, daß niemand mehr als ein Mini Stück essen kann. Nicht umsonst wird diese Veranstaltung auch Diabetes Development Center genannt.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2019-canada/small/IMG_7885.jpg" alt="Der Ahornsirup im Schnee" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Draußen wird Ahornsirup in den (hoffentlich) sauberen Schnee gegossen. Dann kann dieser um ein Holzstäbchen gewickelt werden und schon hat man einen Lolli. Mein Bedarf an Zucker ist allerdings vorerst gedeckt. Wir schauten uns dann noch ein wenig auf dem Gelände um, gingen noch kurz in den Souvenir Shop bevor wir den Weg zurück zum Bus schlitterten.
        </p>
        <p>
            Zurück am Hotel beschlossen wir erste einmal eine kurze Pause einzulegen bevor wir weiter die unterirdischen Gänge Montreals erkunden wollten. Naja aus nur kurz, wurden dann mehrere Stunden die wir beide auf den Betten faulenzten und über Gott, die Welt, Politik und Presse diskutierten.
        </p>
        <p>
            Irgendwann machten wir uns aber dann trotzdem auf den Weg und liefen durch die wirren Gänge und schmökerten von Ladengeschäft zu Ladengeschäft. Nachdem wir in einer Futtermeile noch was gegessen hatte, probierten wie hier noch bubble tea aus. Es stellte sich als Zuckerwasser mit ganz vielen künstlichen Aromen heraus, in dem eine Art eingeweichte Haribos schwimmen. Sehr widerlich. Basti‘s war wohl geschmacklich besser.
        </p>
        <p>
            Zurück im Hotel spühlten wir den künstlich Geschmack noch mit Bier und Cocktails runter, debattierten noch ein wenig weiter und machten uns irgendwann auf den Weg ins Bett.
        </p>
        <p>
            Gute Nacht da draußen.
        </p>
    </div>

</div>
<!--=== End Post ===-->
