---
layout: blog/de/travel-blog
title: "03.09.2024 Auf nach Istanbul"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2024-ist-dxb

locations:
  - Türkei
  - Istanbul

headline:
  image:
    url: "/assets/img/blog/2024-ist-dxb/PAN_IMG_9431.jpg"
    alt: "Der Turkisch Airlines Flieger am HAM Airport"

overview:
  intro: "Der heutige Tag stand ganz im Zeichen des Aufbruchs. Online einchecken klappte gestern Abend leider nicht, also ging’s heute ein bisschen früher"
  image:
    url: "/assets/img/blog/2024-ist-dxb/small/20240903-IMG_9472.jpg"
    alt: "TEXT_HERE"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} zum Airport – klassisch zum Schalter. Dort erklärte mir die Dame, dass wir mit einem anderen Flugzeug fliegen als ursprünglich geplant. Und damit gab’s auch einen neuen Sitzplatz: statt 5A nun 4A. Kann ich mit leben.
        </p>
        <p>
            Der Flieger sollte auch noch rund 45 Minuten später abheben. Die Wartezeit verbrachte ich gleich in zwei Lounges: Erst in der Lufthansa Lounge, weil dort das Essen besser ist, und dann in der Hamburg Airport Lounge – wegen der besseren Aussicht. Beides hat seine Vorzüge.
        </p>
        <p>
            An Bord des Turkisch Airlines Fliegers war es angenehm. Der Flieger war zwar nicht der modernste, aber ich hatte den Platz neben mir frei, was ein kleines Upgrade bedeutet. Der Service war top, viele Getränke zur Auswahl und ein gutes Essen dazu. So macht fliegen Spaß.
        </p>
        <p>
            Besonders schön wurde es beim Blick aus dem Fenster: Zum Sonnenuntergang flogen wir über die rumänischen Karpaten. Ich war schon zweimal in Rumänien unterwegs. Damals sind wir nur durch die Karpaten durchgefahren, aber die Landschaft ist mir in Erinnerung geblieben. Und jetzt von oben, ins Abendlicht getaucht, sah das Ganze nochmal eindrucksvoller aus. Ein richtig schöner Moment für gute Fotos.
        </p>
        <p>
            In Istanbul landeten wir fast pünktlich. Der Flughafen ist riesig – es dauert also, bis man durch die Passkontrolle und am Gepäckband ist. Mein Koffer war offenbar schneller als ich, der drehte schon geduldig seine Runden. Ich schnappte ihn mir und checkte ihn direkt wieder für den morgigen Flug nach Dubai ein. Dabei half mir ein sehr freundlicher Mitarbeiter, der mir auch gleich ein Business-Class-Upgrade anbot. Ich verstand zunächst, es solle 1.000 Lira kosten – also rund 25 €. Klang fast zu gut. War’s auch. Er meinte dann, es seien 1.000 US-Dollar. Also nein danke.
        </p>
        <p>
            Über meinen Vielfliegerstatus bekomme ich mehrfach im Jahr kostenfrei eSIM-Karten für das Ausland. Für Istanbul wäre das ideal gewesen – leider ließ sich die Buchung diesmal nicht abschließen. Irgendeine neue Verifizierung war plötzlich notwendig, und obwohl ich alle Daten eingab, passierte einfach nichts. Der Kundenservice antwortete im Chat nur mit mehreren Stunden Verzögerung. Irgendwann hatte ich genug und besorgte mir kurzerhand für 8 € eine eSIM von Maya Mobile. Läuft.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2024-ist-dxb/small/20240903-IMG_9457.jpg" alt="Die Karpaten von oben" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Um ein bisschen Geld zu sparen, beschloss ich, mit der Metro in die Stadt zu fahren und erst dort ein Taxi zum Hotel zu nehmen. Die Ticketsituation war allerdings etwas unübersichtlich. Es gibt mehrere Automaten, aber keinerlei Info, welchen man für Fahrkarten in die Innenstadt braucht. Nach kurzer Beobachtung wurde klar: Man braucht eine aufladbare Prepaidkarte. Ich fand ein kleines Schild mit türkischen Tarifen – alle unter einem Euro. Ich kaufte mir also so eine Karte und lud sie großzügig auf. Reicht für hin und zurück.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Etwas überraschend: In der Metro gibt’s weder WLAN noch Handynetz. Und da die Fahrt fast eine Stunde dauert, fiel meine Idee flach, unterwegs mit Steffi zu schreiben oder meine Abendplanung zu checken.
        </p>
        <p>
            An der Endhaltestelle nahm ich erst mal den falschen Ausgang – direkt hinein ins Chaos eines riesigen Autobahnkreuzes. Stau in alle Richtungen. Also wieder runter, nächsten Ausgang versucht. Ein freundlicher Mann zeigte mir die richtige Richtung, ganz ohne gemeinsame Sprache – sehr sympathisch.
        </p>
        <p>
            Mit einem Uber fuhr ich schließlich zum Hotel in der Altstadt. Das Zimmer ist gut, schnell ein paar Sachen ausgepackt, und dann direkt rauf aufs Hoteldach. Die Aussicht auf den Palast und die Hagia Sophia und die Blaue Moschee (Foto: Im Hintergrund) im Abendlicht war großartig.
        </p>
        <p>
            Danach trödelte ich noch bis spät in die Nacht durch die beleuchtete, von Polizei und Sicherheitskräften gut bewachte Altstadt. Ich sog die Atmosphäre auf, genoss die Ruhe und das Licht. Als selbst die letzten Restaurants schlossen, machte ich mich zurück ins Hotel und ins Bett.
        </p>
        <p>
            Morgen wird schließlich wieder ein langer Tag.
        </p>
    </div>

</div>
<!--=== End Post ===-->
