---
layout: blog/de/travel-blog
title: "15.05.25 Treibholz & Vorfreude"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2025-usa

locations:
  - USA
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_DSC07987.jpg"
    alt: "Flugzeuge beim starten am Washington National Flughafen"

overview:
  intro: "Der Morgen begann wieder einmal am Rechner – ein bisschen Basteln, ein paar kleinere Dinge erledigen. Danach gönnte ich mir eine heiße Dusche."
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_2367.jpg"
    alt: "Ein Wassertaxin in Washington D.C."
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Mein Nacken war seit zwei Tagen ein wenig verspannt, und die Wärme tat richtig gut. Zum Antrocknen legte ich mich nur kurz aufs Bett … und zack – weg war ich. Irgendwie war ich dann doch für gut eine Stunde eingenickt.
        </p>
        <p>
            Gegen Mittag raffte ich mich schließlich auf und machte mich auf den Weg an die frische Luft. Ziel: The Wharf. Ich nahm die Metro, stieg ein paar Stationen später wieder aus und holte mir unterwegs noch schnell ein Sandwich und einen Milchshake bei Potbelly. Kleiner Fehler: Ich ließ ein paar „Hot Peppers“ draufpacken und fan das eine gute Sache, dachte ich. Aber wow, das war ernst gemeint. Nach ein paar Bissen schmeckte ich vom Steak jedenfalls nichts mehr – es war einfach nur noch scharf. Zwar auch lecker scharf aber um die Steakstreifen war es mit zu schade.
        </p>
        <p>
            Am Wasser angekommen wollte ich eigentlich ganz gemütlich eine Runde mit dem Wassertaxi drehen – im Kreis, einfach im Kreis fahren und schauen. Aber daraus wurde nichts: Wegen der starken Regenfälle der letzten Tage war der Potomac flussaufwärts nicht befahrbar. Hochwasser. Der Fluss war voll mit Treibholz, Ästen, Müll – kurz gesagt: mit jeder Menge Unart. Der Fahrplan war entsprechend geändert, also fuhr ich einfach bis Alexandria und zurück.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Vor der Abfahrt schlenderte ich noch ein wenig am Hafenbecken entlang und entdeckte dabei mehrere Schildkröten, die dort im ruhigen Wasser lebten. Ich kam mit einem Einheimischen ins Gespräch, der mir erzählte, dass er die „Schiggies“ – wie er sie nannte – seit über zehn Jahren immer wieder hier sehe. Eine schöne Begegnung.
        </p>
        <p>
            Die Fahrt nach Alexandria und zurück war ganz entspannt. Besonders spannend war die Nähe zum Flughafen – man kommt direkt an Washington National vorbei, einem viel genutzten Innenstadtflughafen. Die Flieger zogen teils wilde Kurven, um im richtigen Winkel landen zu können. Einmal musste ein Flugzeug sogar den Landeanflug abbrechen, weil die Rollbahn noch nicht frei war.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_2373.jpg" alt="Sebastian Thoss am The Wharf Pier in Washington D.C." />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Fast beiläufig fiel mir auf dem Rückweg das große, eher unspektakuläre Gebäude im Hintergrund auf. Das Pentagon. Gesehen. Haken dran. Weiter.Langsam merkte ich wieder, wie gemein meine innere Uhr sein kann. Nach fünf Nächten in dieser Zeitzone – und ebenso vielen Nächten, in denen ich tapfer gegen den Jetlag ankämpfte – meldete sich mein Körper zuverlässig gegen 22:30 Uhr deutscher Zeit. Also 16:30 Ortszeit und wollte müde sein. Danke auch.
        </p>
        <p>
            Zurück an Land besorgte ich mir erst mal eine Cola und setzte mich damit auf den Steg neben dem Wassertaxi. Ich hatte noch keine Lust, weiterzuziehen. Stattdessen beobachtete ich die landenden Flugzeuge, ließ den Blick über das ruhige Hafenbecken schweifen und schaute zwei Adlern zu, die sich in der Luft um ihr Futter stritten. Es war ruhig, friedlich.
        </p>
        <p>
            Und plötzlich war schon wieder eine ganze Weile vergangen. Erst gegen 19 Uhr realisierte ich, wie spät es inzwischen war. Und dass ich heute ja noch etwas vorhatte. Trommelwirbel: Wäsche waschen.
        </p>
        <p>
            Auf dem Weg zurück ins Hotel traf ich noch einen Herrn mit fast der gleichen Kamera wie meiner. Natürlich kamen wir ins Gespräch. Sein Name ist Sam, ein professioneller Fotograf – und früher mal ITler. Wir plauderten fast eine Stunde über die Suche nach dem richtigen Motiv, über Kameraeinstellungen und über heiße Foto-Spots in D.C. Er zeigte mir auch noch ein paar echt shöne Bilder auf seiner Webseite <a href="https://www.blueboxdm.com/portfolio" target="_blank">www.blueboxdm.com</a>
        </p>
        <p>
            Danach ging’s aber wirklich zurück. Ich wusch und trocknete meine Sachen, allerdings blieben beide Hosen nach dem Trockengang noch immer leicht klamm. Die muss ich morgen früh wohl noch mal in den Trockner tun. Der Rest war zum Glück trocken – bis auf eine Socke, die spurlos verschwunden war. Keine Ahnung wo, aber: weg ist weg. Gut, dass ich sowieso nur eine Sorte trage. Ich hab Steffi einfach gebeten, eine Ersatzsocke einzupacken.
        </p>
        <p>
            Sie selbst konnte übrigens auch nicht gut schlafen. Sie ist viel zu früh aufgewacht – kein Wunder, schließlich fliegt sie in ein paar Stunden los. Zu mir. Endlich! Morgen geht’s für mich zurück nach New York – mit dem Zug. Und dann hole ich Steffi vom Flughafen ab. Aber jetzt: Erst mal Augen zu.
        </p>
        <p>
            Bis morgen.
        </p>
    </div>

</div>
<!--=== End Post ===-->
