---
layout: blog/de/travel-blog
title: "18.05.2025 Kopfweh & Kirchen"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2025-usa

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_7897.jpg"
    alt: "Die Tier Figuren am Kaffeetisch vor dem World Trade Center"

overview:
  intro: "Kurze Nacht für Steffi – um 4:20 Uhr war die Nacht für sie vorbei. Immerhin war das Frühstück dieses Mal ohne Anstehen möglich."
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_2486.jpg"
    alt: "Die Chorproben in der Trinity Church Downtown Manhattan"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Draußen: glasklarer Himmel. Eigentlich perfekt, um nochmal mit der Fähre zur Freiheitsstatue zu fahren. Aber leider wurde nichts daraus – Steffi hatte üble Kopfschmerzen, also wurde umgeplant.
        </p>
        <p>
            Stattdessen ging’s zum World Trade Center. Dort stehen verschiedene Tierstaturen in unerwarteten Szenen auf den Wegen. Unter anderem eine Guppe Tiere um eine Kaffeetafel herum. (Siehe oben)
            Wir machten einige alberne Fotos und schauten uns dann am Ground Zero und den beiden Springbrunnen um.
            Dieses mal gingen wir nicht ins 9/11 Museum. Da waren wir beim letzten mal drin und das war damals schon nicht leicht.
        </p>
        <p>
            Dann ging es weiter in die Trinity Church. Wunderschöne Glasfenster – und während wir dort waren, probte gerade der Chor. Eine ruhige, fast andächtige Atmosphäre. Draußen im Kirchgarten telefonierten wir eine gute Weile mit Jackie und halfen Ihr die Zoom App wieder zum laufen zu bekommen. Währenddessen entdeckten wir dabei zufällig das Grab von Alexander Hamilton hier im Kirchgarten. Ja, genau der mit dem eigenen Musical.
        </p>
        <p>
            Danach liefen wir weiter zur Wall Street und schauten nochmal bei TJ Maxx rein. Dieses Mal war ich dran: ein paar Klamotten für mich. Auf dem Weg zur South Ferry gönnte sich Steffi noch einen Corn Dog – ihr Kopfweh war immer noch nicht ganz weg, und der Wind machte es nicht besser.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Mit der Metro Linie 1 fuhren wir bis zur 50th Street und landeten bei Applebee’s. Ein Salat für zwei, dazu gab’s 18 % Servicepauschale direkt obendrauf – herzlich willkommen in der Touristenfalle.
        </p>
        <p>
            Anschließend ging es Richtung Rockefeller Center und dann weiter zur Saint Patrick’s Cathedral. Drinnen lief gerade eine Ehrung für Pfadfinder – wir warfen trotzdem einen Blick in das beeindruckende Kirchenschiff. Draußen waren wieder einige Straßen für eine Parade gesperrt, aber wir standen dieses mal leider am falschen Ende.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_8102.jpg" alt="TEXT_HERE" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Also weiter zum Times Square – unterwegs durch den hübsch bepflanzten Garten am Rockefeller. Im Hard Rock Hotel shoppten wir ein T-Shirt für Steffi. Danach zu Junior’s: Torte musste sein. Und ja, sie war genauso gut, wie sie in der Auslage schon aussah.
        </p>
        <p>
            Nächster Stopp: TKTS. Wir wollten wissen, wie das mit den Broadway-Rabatten funktioniert. Antwort: Für Nachmittags-Shows sollte man gegen 12 Uhr da sein, für Abends gegen 14 Uhr. Gute Info für die nächsten Tage.
        </p>
        <p>
            Kurz bei Old Navy reingeschaut – Preise verglichen mit dem Outlet von gestern. Mit ein bisschen Glück wäre Steffis Hose hier sogar günstiger gewesen. Weiter zu Skechers – leider gab’s die Schuhe für NadScho hier auch nicht mehr.
        </p>
        <p>
            Vor den Stores machten Straßenkünstler eine Akrobatikshow und zogen mich prompt mit rein. Raus kam ich nur gegen eine kleine Spende – klassische New-York-Nummer. Danach noch in den Disney Store: am liebsten hätten wir alles leer gekauft, aber Disney world Florida steht ja erst noch an – entweder kaufen wir die Stores in Florida leer oder auf dem Rückweg dann hier in Manhattan.
        </p>
        <p>
            Letzter Shopping-Stopp: der Hard Rock Cafe Store. Leider wieder nichts Passendes gefunden – das eine Hemd war zwar schick, aber natürlich zu klein. Dafür gab es nebenan bei Bubba Gump Shrimps (aus dem Forrest Gump Film) ein cooles T-Shirt für mich.
        </p>
        <p>
            Am späten Nachmittag ging’s dann Richtung Hudson Yards – zur High Line. Eine ehemalige Metrotrasse die auf Stelzen steht und heute in einen Park und Spazierweg umgestaltet wurde. Ein echtes Highlight, besonders bei dem Licht. Leider war ich genau da an meinem Tiefpunkt des Tages – die Beine schwer, die Energie fast aufgebraucht. Aufgeben war aber trotzdem nicht drin. Wir liefen noch ein Stück auf der High Line entlang und an "The Vessel" - einem ... keine Ahung wie man es beschreibt. Es sieht aus wie eine 10 Etagen großer Bienenkorb, besteht aber nur aus Treppen und Aussichtsplattformen.
            Danach liefen wir sogar die Strecke noch zu Fuß zum Hotel.
        </p>
        <p>
            Zum Abendessen gab’s Toast mit Käse und Geflügel. Danach noch eine Folge NCIS – und dann war endgültig Feierabend.
        </p>
        <p>
            Gute Nacht – bis morgen.
        </p>
    </div>

</div>
<!--=== End Post ===-->
