---
layout: blog/de/travel-blog
title: "01.06.25 Raumfähren & eine Beule"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2025-usa

locations:
  - USA
  - Cape Canaveral
  - Orlando

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_9283.jpg"
    alt: "Eine Rakete auf dem Geläde des Kennedy Space Center Visitor Complex"

overview:
  intro: "Der Wecker klingelte um sieben – gefühlt direkt, nachdem ich die Augen überhaupt erst geschlossen hatte. Steffi hatte noch mehr mit der Nacht zu"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_3132.jpg"
    alt: "Eine Apollo Rakete in Vollausprägung und mit Lander"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} kämpfen, ihr Hals machte wieder Probleme. Trotzdem: Anziehen, rein ins Auto und los. Frühstück gab’s nur schnell unterwegs – ein Joghurt mit frischen Früchten und ein Schoko-Croissant von Publix, dann ging’s zum Kennedy Space Center Visitor Complex, etwa eine Stunde Fahrt von unserem Hotel entfernt.
        </p>
        <p>
            Kurz vor dem Eingang stand plötzlich ein riesiges, verwildertes schwarzes Schwein am Straßenrand. Offenbar stammen die Tiere von ein paar Schweinen ab, die vor Jahrzehnten ausgebüxt sind und sich seitdem hier draußen selbst überlassen durchs Leben schlagen. Florida-Feeling pur.
        </p>
        <p>
            Am Eingang tauschten wir unsere günstig über AttractionTickets gebuchten Voucher gegen Eintrittskarten und jeweils einen $15 Essensgutschein ein. Dann ging es direkt los – vorbei an beeindruckenden Raketen in allen Größenordnungen hin zum Bus, der uns zum Saturn V / Apollo Center brachte.
        </p>
        <p>
            Die Fahrt dorthin war überraschend spannend: Wir entdeckten mehrere Alligatoren (teilweise echt riesig!) und einige Wildschweine, passierten das berühmte Vehicle Assembly Building (VAB) und sahen sogar den gigantischen Raupentransporter, mit dem die Raketen zum Startplatz gebracht werden.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Im Apollo Center besuchten wir mehrere Shows – unter anderem im originalen Kontrollzentrum der Apollo-Missionen, mit Originalaufzeichnungen des Starts von Apollo 8. Beeindruckend. Im riesigen Hangar dahinter hing eine originale Saturn V Rakete in voller Länge über unseren Köpfen – inklusive sämtlicher Stufen und Tanks. Ganz hinten stand sogar noch eine echte Mondlandefähre. Auch die Astronauten, die während der Apollo-Missionen ums Leben kamen, wurden in einer würdevollen Ecke gewürdigt.
        </p>
        <p>
            In einer weiteren Show wurden die dramatischen letzten Minuten vor der Mondlandung von Apollo 11 nachgestellt – inklusive aller Fehlermeldungen und der Notlandung auf einer falschen Position. Sehr spannend.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="margin-bottom-15 img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_9249.jpg" alt="Die Raumfähre Atlantis" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Danach ging’s mit dem Bus zurück zum Hauptbereich – leider etwas unspektakulär, aber immerhin mit Klimaanlage.
        </p>
        <p>
            Nächster Stopp: Space Shuttle Atlantis Halle. Schon draußen begrüßte uns ein riesiger Nachbau des Tanks samt Boostern. Drinnen startete alles wie gewohnt mit einer kurzen Show über den Übergang von Apollo zu den Shuttles – und als die Leinwand plötzlich durchsichtig wurde, erschien dahinter das Original der Raumfähre Atlantis. Ein großartiger Moment. Wir konnten das Shuttle über mehrere Ebenen hinweg aus verschiedenen Blickwinkeln bestaunen.
        </p>
        <p>
            Dann wurde’s interaktiv: Wir versuchten, ein Shuttle im Simulator zu landen. Steffi schaffte es zweimal, ich vergeigte es jedes Mal kurz vor Schluss beim Anheben der Nase – peinlich. Das Andocken an die ISS lief bei mir wenigstens etwas besser.
        </p>
        <p>
            In der Halle hingen auch nachgebaute Teile der ISS, die den Besuchern und vor allen den Kindern, zeigen sollte wie viel oder auch wenig Platz in der ISS eigentlich ist. Steffi ließ es sich nicht nehmen selbst auch mal da durch zu krabbeln. Sie merkte aber hinterher auch sher schnell, dass es eher für Kinderknie gedacht ist. Ihre schmerzten nach dem Krabbeln duch die Röhren ein wenig. Mir war das ganze zu eng.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Danach lösten wir endlich unsere Essensgutscheine ein – es gab Salat. War tatsächlich ganz okay, nur das passende Dressing für Steffi fehlte leider wieder mal.
        </p>
        <p>
            Noch schnell ein Erinnerungsfoto mit einem Typen im Raumanzug, dann ging es ins Kino zur nächsten Show: Eine spannende Doku über das James-Webb-Teleskop – wie es gebaut wurde, wie es funktioniert und vor allem: diese Bilder! Beeindruckend.
        </p>
        <p>
            Weiter zur Gateway-Halle, wo aktuelle Raumfahrtprojekte präsentiert werden. Eine gebrauchte SpaceX Falcon 9 Rakete hing spektakulär von der Decke – Rußspuren und Brandflecken inklusive. Auch echte Raumanzüge und Kapseln von SpaceX und Boeing waren zu sehen.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            Dort stand auch ein weiterer Andock-Simulator – diesmal von Boeing. Ich versuchte mein Glück… und vergeigte es erneut. Steffi hingegen meisterte die Aufgabe mit Bravour. Und als wäre das nicht schon peinlich genug, knallte ich mir beim Aussteigen auch noch den Kopf an – die Beule wird mich noch ein paar Tage an meine „Leistung“ erinnern. 🤕
        </p>
        <p>
            Weiter hinten in der Halle gab es einen eigenen Bereich zu den verschiedenen Marsrovern, die in den letzten Jahrzehnten auf den Roten Planeten geschickt wurden. Zu sehen waren natürlich keine Originale, sondern maßstabsgetreue Nachbauten – aber schon diese haben Eindruck gemacht. Ich verfolge die Missionen von Curiosity und Perseverance schon seit Jahren, nicht nur wegen der faszinierenden Bilder, die sie regelmäßig von der Marsoberfläche senden, sondern auch, weil mich die gesamte Idee einfach motiviert: Was man alles erreichen kann, wenn man es wirklich will.
        </p>
        <p>
            Was mich allerdings richtig überrascht hat, war die Größe dieser Rover. Ich hatte mir Curiosity immer in etwa so groß wie einen XXL-Schuhkarton vorgestellt, Perseverance vielleicht in Couchtisch-Dimensionen. Aber nein – Curiosity ist so groß wie ein amerikanischer Doppeltür-Kühlschrank, und Perseverance bringt es locker auf die Ausmaße eines Smarts. Damit hatte ich wirklich nicht gerechnet – und es hat meinen Respekt für diese Missionen noch einmal gesteigert.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="margin-bottom-15 img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_3211.jpg" alt="Der Rover Curiosity" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Draußen entdeckten wir dann noch einen echten Astronauten Terrence Wilcutt – einfach so im Vorbeigehen. Es war mittlerweile fast 16 Uhr, das Gelände schließt um 17 Uhr, also war nicht mehr allzu viel Zeit. Einige Bereiche wie die Bustour waren schon zu. Wir bummelten noch ein wenig, kauften ein NASA-T-Shirt für mich und einen Aufkleber für den Koffer, dann machten wir uns auf den Weg zurück zum Auto.
        </p>
        <p>
            Unser letzter Stopp des Tages war die Pier am Cocoa Beach. Dort gab’s Abendessen mit Blick auf den Strand – und auf die verschiedenen Raketenstartplätze in der Ferne. Ein schöner Abschluss.
        </p>
        <p>
            Zurück im Hotel mit kurzer Pause für einen kleinen Lebensmitteleinkauf. Gegen 20 Uhr waren wir wieder im Zimmer. Morgen steht Disney auf dem Plan – also wieder früh raus, aber diesmal gehen wir rechtzeitig ins Bett.
        </p>
        <p>
            Gute Nacht – bis morgen.
        </p>
    </div>

</div>
<!--=== End Post ===-->
