---
layout: blog/de/travel-blog
title: "15.01.2026 Regen in Kuta"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2025-vietnam-bali

locations:
  - Indonesien
  - Bali
  - Kubu
  - Kuta

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/kuta.jpg"
    alt: "Die Aussicht von unserem Balkon in Kuta"

overview:
  intro: "Nach einem nun wirklich letzten Frühstück machten wir uns daran, die letzten Dinge einzupacken. Kurz darauf kam auch schon der Koffertransport. Das"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_2249.jpg"
    alt: "Unser BAd im Amnaya Resort Kuta"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} ist hier irgendwie wie von Zauberhand geregelt – man stellt die Koffer bereit und muss sich um nichts weiter kümmern.
        </p>
        <p>
            Nachdem auch die Pflichtaufgaben wie das Begleichen der Rechnung erledigt waren, ging es ans Verabschieden. Die Mitarbeiter versuchten sogar noch, Barbara zu erreichen. Diese ließ allerdings ausrichten, dass sie für die nächsten Tage im Hauptbüro am anderen Ende der Insel sei. Schade, wir hätten uns gern noch persönlich von ihr verabschiedet.
        </p>
        <p>
            Also stiegen wir schließlich zu Made ins Auto und machten uns auf den Weg. Es muss wirklich an Made liegen, denn kaum saßen wir im Wagen, fing es wieder an zu schütten. 🤪 Immer, wirklich immer, wenn wir mit ihm unterwegs waren (3x), goss es aus Eimern. 🤣
        </p>
        <p>
            Während der Fahrt erhielt Basti noch eine WhatsApp von Barbara. Sie schrieb, dass sie es sehr bedauere, sich nicht persönlich verabschieden zu können, und wünschte uns eine gute Heimreise. Wir erzählten ihr noch von den Krebsen in unserer Dusche, und sie versprach mit einem zwinkern, sich gut um sie zu kümmern und sie zu pflegen, bis wir wiederkommen.
        </p>
        <p>
            Made brachte uns sicher nach Kuta. Nach ein- oder zweimal falsch Abbiegen fuhren wir plötzlich über Wege, die eher wie Fußgängerpfade wirkten als richtige Straßen. Aber am Ende kamen wir tatsächlich am Amnaya Resort Kuta an.
        </p>

    </div>
    <div class="col-md-6 overflow-h margin-top-15">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Sobald der Papierkram erledigt war, wurden wir gebeten, noch kurz Platz zu nehmen, da unser Zimmer noch nicht ganz fertig sei. Also warteten wir ein wenig.
        </p>
        <p>
            Nach einiger Zeit konnten wir dann endlich unser Zimmer beziehen – und staunten mal wieder über die Ideen moderner Architekten. Das Badezimmer war direkt im Schlafzimmer und Dusche und Toilette waren durch eine Glaswand vom Zimmer getrennt. Und zwar ohne viel Tönung. Nur eine Folie, die Schattenspiele ermöglichte. Immerhin konnte man einen Vorhang zuziehen. Trotzdem fragt man sich wirklich, warum dieser Trend überall auf der Welt so beliebt ist.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_2255.jpg" alt="Die Mall in Kuta" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Da es inzwischen schon später Nachmittag war, meldeten sich unsere Mägen. Also zogen wir los Richtung Hauptstraße, um etwas zu essen zu suchen. Kaum waren wir dort angekommen, brach allerdings ein heftiger Wolkenbruch los.
        </p>
        <p>
            Also schnell wieder rein – dieses Mal in die gegenüberliegende Mall. Dort schlenderten wir erst einmal eine Weile herum und warteten darauf, dass der Regen nachließ. Allerdings waren wir genau durch diese Regenfront zuvor gefahren, sodass klar war, dass das durchaus etwas dauern könnte.
        </p>
        <p>
            Irgendwann wurde es tatsächlich wieder trocken und wir wollten auf der Rückseite der Mall noch ein Stück Richtung Wasser gehen. Dort angekommen stellten wir allerdings fest, dass alles eine einzige Großbaustelle war und man kaum erkennen konnte, wo man überhaupt entlanglaufen sollte.
        </p>
        <p>
            Natürlich fing es genau in diesem Moment wieder an zu schütten. Also beschlossen wir kurzerhand, einfach in der Mall etwas zu essen.
        </p>
        <p>
            Das Wetter wurde den ganzen Abend über nicht wirklich besser. In einer kurzen trockenen Phase schafften wir es schließlich zurück ins Hotelzimmer. Dort gab es dann noch die obligatorische Portion Serien, bis uns schließlich die Müdigkeit einholte.
            <br />
            Gute Nacht.
        </p>
    </div>

</div>
<!--=== End Post ===-->
