---
layout: english
title: PFE and big five for life

meta:
  description: My purpose for existence PFE and my big 5 for life
  keywords:
    - big five for life
    - PFE
    - purpose for existence

hreflang:
  en:
    href: /en/big-five-for-life.html
  de:
    href: /de/big-five-for-life.html

active_nav: big-5
---
<!-- Interactive Slider v2 -->
<div class="interactive-slider-v2" style="background-image: url({{ site.url }}/assets/img/big5/header.jpg)">
    <div class="container">
        <h1>My big 5 for life</h1>
        <p>and Purpose For Existence (PFE)</p>
    </div>
</div>
<!-- End Interactive Slider v2 -->

<!-- Callout Tagbox v7 -->
<div class="container content-md">
    <div class="call-action-v1 call-action-v1-boxed tag-box-v7 margin-bottom-10">
    <div class="call-action-v1-box">
        <div class="call-action-v1-in text-center">
            <h2 class="color-darker">
                <strong>
                    My purpose for existence
                </strong>
            </h2>
            <p>
                <em>
                    I want to help others (people / animals / nature) to have an easier life filled with love, passion and devotion.
                </em>
            </p>
        </div>
    </div>
</div>
</div>
<!-- End Callout Tagbox v7 -->

<!-- Where all this comes from -->
<div class="bg-color-light" id="pfe">
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-50">
                <img class="img-responsive" src="{{ site.url }}/assets/img/big5/big5-book.png" alt="Image of the book the big 5 for life by John P. Streleckey">
            </div>
            <div class="col-md-6">
                <br><br><br>
                <div class="headline-left margin-bottom-30">
                    <h2 class="headline-brd">Where all this comes from</h2>
                    <p>
                        I got this book recommended by a colleague.
                        She told me about her &quot;big 5 for life&quot; and how it helps her to improve her personal way of life.
                        I loved reading this book and can recommend it to any of my friends and family.
                    </p>
                </div>
                <ul class="list-unstyled lists-v2 margin-bottom-30">
                    <li><i class="fa fa-check"></i> It's a nice but sad story.</li>
                    <li><i class="fa fa-check"></i> Written in style of a novel.</li>
                    <li><i class="fa fa-check"></i> Favourite quote: <em>&quot;Is it a good Museum Day?&quot;</em></li>
                </ul>
            </div><!--/end row-->
        </div>
    </div>
</div>
<!-- End Where all this comes from -->

<!--=== Content Part ===-->
<div class="container content-md">

    <!-- Big 5 Headline-->
    <div class="heading heading-v1 margin-bottom-40">
        <h2>My big 5 for life</h2>
        <p>
            I was at a position in my life where I should have been perfectly happy but still something was not feeling correct.
            After reading the book I was thinking about my personal big 5 for life for a long time.
            Spending weeks of thinking what my purpose of existence is and defining my big 5 for life.
            It turned out that the first letter of each sentence is even forming the word <span class="color-green">WORLD</span>.
            Following you can find them including a short description:
        </p>
    </div>
    <div class="clearfix margin-bottom-20"><hr></div>
    <!-- End Big 5 Headline-->

    <!-- Book -->
    <div class="row margin-bottom-20">
        <div class="col-sm-5 sm-margin-bottom-20">
            <img class="img-responsive" src="{{ site.url }}/assets/img/big5/small/write-a-book.jpg" alt="Mood image for Sebastian Thoss goal of writing a good selling book">
        </div>
        <div class="col-sm-7">
            <div class="news-v3">
                <h2><span class="text-primary text-bold">W</span>rite a good selling book</h2>
                <p>
                    Lorem Ipsum dolor
                    Lorem Ipsum dolor
                    Lorem Ipsum dolor
                    Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin sed. Cras erat est, euismod id congue sed, sollicitudin sed odio. Nullam non metus in mi rhoncus efficitur...
                </p>
            </div>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"><hr></div>
    <!-- End Book -->

    <!-- Company -->
    <div class="row margin-bottom-20">
        <div class="col-sm-5 sm-margin-bottom-20">
            <img class="img-responsive" src="{{ site.url }}/assets/img/big5/small/own-company.jpg" alt="Mood image for Sebastian Thoss goal of owning a well running company">
        </div>
        <div class="col-sm-7">
            <div class="news-v3">
                <h2><span class="text-primary text-bold">O</span>wn a well running company</h2>
                <p>
                    Lorem Ipsum dolor
                    Lorem Ipsum dolor
                    Lorem Ipsum dolor
                    Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin sed. Cras erat est, euismod id congue sed, sollicitudin sed odio. Nullam non metus in mi rhoncus efficitur...
                </p>
            </div>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"><hr></div>
    <!-- End Company -->

    <!-- Living -->
    <div class="row margin-bottom-20">
        <div class="col-sm-5 sm-margin-bottom-20">
            <img class="img-responsive" src="{{ site.url }}/assets/img/big5/small/rethink-living.jpg" alt="Mood image for Sebastian Thoss goal of rethinking his way of life">
        </div>
        <div class="col-sm-7">
            <div class="news-v3">
                <h2><span class="text-primary text-bold">R</span>ethink living.</h2>
                <p>
                    I want to get into the position to decide today where I want to life tomorrow without changing my whole life and and losing job or friends.
                    The website Maptia created an amazing Manifesto which fits quite well:
                </p>
                <p>
                    <em>
                        &quot;I, Sebastian Thoss want to see the world. Follow a map to its edges, and keep going. Forgo the plans. Trust my instincts. Let curiosity be my guide. I want to change hemispheres. Sleep with unfamiliar stars. And let the journey unfold before me.&quot;
                    </em>
                </p>
            </div>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"><hr></div>
    <!-- End Living -->

    <!-- Love -->
    <div class="row margin-bottom-20">
        <div class="col-sm-5 sm-margin-bottom-20">
            <img class="img-responsive" src="{{ site.url }}/assets/img/big5/small/love-what-you-do.jpg" alt="Mood image for Sebastian Thoss goal of only do thinks he loves">
        </div>
        <div class="col-sm-7">
            <div class="news-v3">
                <h2><span class="text-primary text-bold">L</span>ove what I do. Do what I love</h2>
                <p>
                    Lorem Ipsum dolor
                    Lorem Ipsum dolor
                    Lorem Ipsum dolor
                    Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin sed. Cras erat est, euismod id congue sed, sollicitudin sed odio. Nullam non metus in mi rhoncus efficitur...
                </p>
            </div>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"><hr></div>
    <!-- End Love -->

    <!-- Development -->
    <div class="row margin-bottom-20">
        <div class="col-sm-5 sm-margin-bottom-20">
            <img class="img-responsive" src="{{ site.url }}/assets/img/big5/small/development.jpg" alt="Mood image for Sebastian Thoss goal of keep developing himself">
        </div>
        <div class="col-sm-7">
            <div class="news-v3">
                <h2><span class="text-primary text-bold">D</span>evelopment</h2>
                <p>
                    Not just software but more important myself. Be open for feeback and stay hungry to learn and try new things
                </p>
                <p>
                    Lorem Ipsum dolor. Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet molestie est volutpat at.
                </p>
            </div>
        </div>
    </div>
    <!-- End Development -->

</div><!--/container-->
<!-- End Content Part -->