---
layout: english
title: PFE and big five for life

meta:
  description: My purpose for existence PFE and my big 5 for life
  keywords:
    - big five for life
    - PFE
    - purpose for existence

hreflang:
  en:
    href: /en/big-five-for-life.html
  de:
    href: /de/big-five-for-life.html

active_nav: big-5
---
<!-- Interactive Slider v2 -->
<div class="interactive-slider-v2" style="background-image: url({{ site.url }}/assets/img/big5/header.jpg)">
    <div class="container">
        <h1>My big 5 for life</h1>
        <p>and Purpose For Existence (PFE)</p>
    </div>
</div>
<!-- End Interactive Slider v2 -->

<!-- Where all this comes from -->
<div class="bg-color-light" id="pfe">
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-50">
                <img class="img-responsive" src="{{ site.url }}/assets/img/big5/big5-book.png" alt="Image of the book the big 5 for life by John P. Streleckey">
            </div>
            <div class="col-md-6">
                <br><br><br>
                <div class="headline-left margin-bottom-30">
                    <h2 class="headline-brd">Where all this comes from</h2>
                    <p>
                        I got this book recommended by a colleague.
                        She told me about her &quot;big 5 for life&quot; and how it helps her to improve her personal way of life.
                        I loved reading this book and can recommend it to any of my friends and family.
                    </p>
                </div>
                <ul class="list-unstyled lists-v2 margin-bottom-30">
                    <li><i class="fa fa-check"></i> It's a nice but sad story.</li>
                    <li><i class="fa fa-check"></i> Written in style of a novel.</li>
                    <li><i class="fa fa-check"></i> Favourite quote: &quot;Is it a good Museum Day?&quot;</li>
                </ul>
            </div><!--/end row-->
        </div>
    </div>
</div>
<!-- End Where all this comes from -->

<!--=== Content Part ===-->
<div class="container content-md">

    <!-- Book -->
    <div class="row margin-bottom-20">
        <div class="col-sm-5 sm-margin-bottom-20">
            <img class="img-responsive" src="{{ site.url }}/assets/img/big5/small/write-a-book.jpg" alt="Mood image for Sebastian Thoss goal of writing a good selling book">
        </div>
        <div class="col-sm-7">
            <div class="news-v3">
                <h2><span class="text-primary text-bold">W</span>rite a good selling book</h2>
                <p>
                    Lorem Ipsum dolor
                    Lorem Ipsum dolor
                    Lorem Ipsum dolor
                    Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin sed. Cras erat est, euismod id congue sed, sollicitudin sed odio. Nullam non metus in mi rhoncus efficitur...
                </p>
            </div>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"><hr></div>
    <!-- End Book -->

    <!-- Company -->
    <div class="row margin-bottom-20">
        <div class="col-sm-5 sm-margin-bottom-20">
            <img class="img-responsive" src="{{ site.url }}/assets/img/big5/small/own-company.jpg" alt="Mood image for Sebastian Thoss goal of owning a well running company">
        </div>
        <div class="col-sm-7">
            <div class="news-v3">
                <h2><span class="text-primary text-bold">O</span>wn a well running company</h2>
                <p>
                    Lorem Ipsum dolor
                    Lorem Ipsum dolor
                    Lorem Ipsum dolor
                    Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin sed. Cras erat est, euismod id congue sed, sollicitudin sed odio. Nullam non metus in mi rhoncus efficitur...
                </p>
            </div>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"><hr></div>
    <!-- End Company -->

    <!-- Living -->
    <div class="row margin-bottom-20">
        <div class="col-sm-5 sm-margin-bottom-20">
            <img class="img-responsive" src="{{ site.url }}/assets/img/big5/small/rethink-living.jpg" alt="Mood image for Sebastian Thoss goal of rethinking his way of life">
        </div>
        <div class="col-sm-7">
            <div class="news-v3">
                <h2><span class="text-primary text-bold">R</span>ethink living.</h2>
                <p>
                    Lorem Ipsum dolor
                    Lorem Ipsum dolor
                    Lorem Ipsum dolor
                    Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin sed. Cras erat est, euismod id congue sed, sollicitudin sed odio. Nullam non metus in mi rhoncus efficitur...
                </p>
            </div>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"><hr></div>
    <!-- End Living -->

    <!-- Love -->
    <div class="row margin-bottom-20">
        <div class="col-sm-5 sm-margin-bottom-20">
            <img class="img-responsive" src="{{ site.url }}/assets/img/big5/small/love-what-you-do.jpg" alt="Mood image for Sebastian Thoss goal of only do thinks he loves">
        </div>
        <div class="col-sm-7">
            <div class="news-v3">
                <h2><span class="text-primary text-bold">L</span>ove what I do. Do what I love</h2>
                <p>
                    Lorem Ipsum dolor
                    Lorem Ipsum dolor
                    Lorem Ipsum dolor
                    Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin sed. Cras erat est, euismod id congue sed, sollicitudin sed odio. Nullam non metus in mi rhoncus efficitur...
                </p>
            </div>
        </div>
    </div>
    <div class="clearfix margin-bottom-20"><hr></div>
    <!-- End Love -->

    <!-- Development -->
    <div class="row margin-bottom-20">
        <div class="col-sm-5 sm-margin-bottom-20">
            <img class="img-responsive" src="{{ site.url }}/assets/img/big5/small/development.jpg" alt="Mood image for Sebastian Thoss goal of keep developing himself">
        </div>
        <div class="col-sm-7">
            <div class="news-v3">
                <h2><span class="text-primary text-bold">D</span>evelopment</h2>
                <p>
                    Not just software but more important myself. Be open for feeback and stay hungry to learn and try new things
                </p>
                <p>
                    Lorem Ipsum dolor. Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet molestie est volutpat at.
                </p>
            </div>
        </div>
    </div>
    <!-- End Development -->

</div><!--/container-->
<!-- End Content Part -->