---
layout: blog/de/familie
title: "29.03. Kraken, Nemos und Co"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Philipinen
  - Mactan

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi"

overview:
  intro: "Nach dem Frühstück ging es erst einmal wieder aufs Zimmer, denn wir hatten noch immer keine Unterkunft für unsere letzte Woche auf den Phillies."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4893.jpg"
    alt: "Die Happy Hour mit Cocktails"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Die einschlägigen Portale besucht, irgendwie keine Entscheidung treffen können und somit fertig zum schnorcheln gemacht.
        </p>
        <p>
            Kaum waren wir im Wasser, winkte Basti mich zu sich und zeigte nach unten „hö was will der denn, da is doch nichts“, aber dann sah ich sie: eine Krake, direkt unter uns am Meeresgrund. Seelenruhig bewegte sie sich als am Meeresgrund und passte sich in Bruchteilen von Sekunden Ihrer Umgebung an. Kaum haben wir mal über Wasser kommuniziert, hatten wir echt Mühe sie wiederzufinden. Wir folgten ihr eine ganze Weile bis wir, vorbei an Seepferdchen, wieder bei Familie Clownfisch landeten. Basti hat dann die Spaß-/Ausruhinsel für sich entdeckt und ist immer wieder von dort ins Wasser gesprungen.
        </p>
        <p>
            Er legte sich dann trocken, da ihm die Sonne allmählich zu viel wurde und ich blieb noch eine Weile drin. Nachdem ich auch rauskam, ging es Richtung Strandmuschel. Diese hatten wir tatsächlich am Morgen ergattert und Basti ließ sich reinfallen, während ich mit der Kamera zum Pool weiterging. Danach ließ ich mich ebenfalls in die Muschel fallen und tat erst einmal nichts mehr. Irgendwann rief das Meer aber wieder lauter und somit ging ich erneut Schnorcheln und traf dieses Mal auf einen verdammt großen Seestern mit 8 armen, welcher eigentlich ziemlich unheimlich aussah und zudem noch fix am Boden unterwegs war.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4905.jpg" alt="Das Asia Restaurant von dem wir unser Mittag geliefert bekommen haben" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Wieder an der Strandmuschel angekommen, erzählte Basti was von Hunger und somit bestellten wir uns was bei der Asia-Küche und diese lieferten es kurz darauf direkt an den Strand. War jetzt nicht der Bringer, aber konnte man essen. Basti’s Burger war aber wohl ganz OK. Am Abend sind wir dann in die Tapas-Bar und gönnten uns einen Abschlusscocktail während der Happy Hour. Basti machte noch die letzten Mails fertig bevor das Experiment für seinen Arbeitgeber beendet war und sein Urlaub endlich anfangen konnte.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}" />
        </div>
    </div>

    <div class="col-md-6">
        <p>
            Ich beobachtet gleichzeitig einen kleinen Jungen der versuchte Dart zu spielen. Irgendwann zuckte dieser böse zusammen und schaute nach unten. Da lief aus dem nichts auf einmal eine verflucht große Spinne in unsere Richtung. Sie war etwa so groß wie eine Männerfaust. So schnell hatte ich noch nie meine Beine auf einer Sitzbank und Basti rief nach dem Keller. Dieser grinste erst und beschäftige sich weiter mit seinen Gläser, als er aber merkte, das wir keine Ruhe geben, wurde er tätig. Erst versuchte er die Spinne mit seinen Füßen vor die Tür zu schieben, diese weigerte sich aber und flitze unter einen Barhocker. Der Keller holte sich eine Serviette und nahm das Vieh so vorsichtig auf und brachte diese nach draußen. Eeeeeeekelig!!! Irgendwann wurde mir dann aber auch langweilig und ich gesellte mich zu dem Jungen und spielte ebenfalls eine Runde Dart.
        </p>
        <p>
            Irgendwie war mir nach was knusprigen, aber die Tapas-Bar bot leider nichts passendes. Wir zogen also ins Restaurant um, bestellten Pommes und vegetarische Frühlingsrollen mit süß-sauer-Dip! Hm, die Pommes kamen, die Frühlingsrollen auch, aber ebenfalls noch eine dritte Sache. Anscheinend ist süß-sauer hier was anderes, denn wie sich später heraus stellte, kam da noch eine ganze Portion Schweinefleisch frittiert süß-sauer. Basti fand es oberlecker und somit war alles gut. Natürlich spielte auch heute Abend die Band und irgendwann landeten sie dann wieder bei uns (man gewöhnt sich echt dran) und diesmal gab es auf unseren Wunsch hin, Elvis Presley mit „Hound Dog“.
        </p>
        <p>
            Morgen geht es dann nach Bohol. Mal schauen wie das wird.
        </p>
    </div>
</div>
<!--=== End Post ===-->
