---
layout: blog/de/familie
title: "01.04 12 Schildkröten und Quallen"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Philippinen
  - Bohol
  - Anda

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi"

overview:
  intro: "Heute ging es ohne Frühstück direkt zur Tauchbasis, denn es sollte schon um 10.30 Uhr losgehen. Mit dabei waren auch die Sachsen vom Vortag"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4960.jpg"
    alt: "Ein Banka Boot am Strand von Anda im Sonneuntergang."
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}, sowie ein Vater mit seinen beiden Kindern. Basti hatte wieder einen eigenen Guide, da er nicht so tief tauchen wollte wie die anderen. Nach einigen durcheinander, was kommt mit, wer trägt was, ging es dann runter zum Boot. Wir hatten vorsorglich jeder ein Drops genommen, aber der wäre nicht nötig gewesen, denn wir fuhren keine 300 m weit. Naja besser als am Ende Fische füttern!
        </p>
        <p>
            Die Taucher verschwanden in blaue tief und auch wir Schnorchler machten uns fertig und hüpften rein. Der erste Gedanke war, ganz schön tief hier, zu sehen wird es kaum was geben. Dieses sollte sich dann auch schon sofort bewahrheiten, denn ich war quasi sofort wieder aus dem Wasser. Auf einmal brannte es am ganzen Körper. Von Haaransatz bis zu den Fußspitzen spürte ich auf einmal Unmengen von einer Art Stromschlägen. Ich war mitten in einen Schwarm von Miniquallen bzw. etwas größeren Quallen geraten. Ich schätze, dass was ich in dem Moment fühlte, war eine Panikattacke kurz vor dem ausbrechen. Ich suchte das Boot, was leider schon ein ganzen Stück weg war und machte mich schnellstens auf den Rückweg. Die Stromschläge wurden nicht weniger und dann sah ich schon, dass ein Stück von mir entfernt die Kids panisch um sich schlugen und der Papa sie ebenfalls zum Boot brachte. Denen ging es wohl genauso wie mir. Endlich auf dem Boot angekommen, sah die Crew wohl schon was passiert war, denn sie badeten uns alle in Essig.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}" />
        </div>
    </div>

    <div class="col-md-12">
        <p>
            Es brannte am ganzen Körper wie Sau, aber mein Gesicht setze diesem noch ein drauf. Der Essig half zwar, aber nochmal muss ich das bitte nicht erleben. Soviel also zum schönen Schnorchelausflug! Die Kids und ich setzten uns an den Bootsrand, kippen immer wieder Essig nach und warteten das die Taucher wieder kamen.
        </p>
        <p>
            Irgendwann setzte das Boot dann um und wir legten kurz vor dem Ufer wieder an. Die Kids riskierten nochmal ein Fuß ins Wasser und meinten, es wären keine Quallen da. Ich riskierte auch ein Blick und es war tatsächlich quallenfrei und zudem relativ flach, so dass ich gleich auf Nemo und Co. traf. Im Wasser merkte ich zum Glück kaum das Brennen und so genoss ich die Fischvielfalt. Irgendwann gab mir die Crew ein Zeichen, dass sie die Taucher einsammeln und ich schaute, wo ich mich aktuell befand. Ich war so nah am Strand, dass ich das OK-Zeichen gab und so fuhren Sie los. Nachdem die Taucher eingesammelt waren, kam das Boot direkt zum Strand und ich schwamm so hinterher. Kaum aus dem Wasser fing es wieder an zu brennen, also fix in der Tauchbasis alles ausgespült und rein in den Pool. Der half leider nicht so gut wie das Meer, aber Hauptsache ein Hauch von Abkühlung und vor allem Ablenkung.
        </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5063.jpg" alt="Die Tricycles im Regioalen Aufbau" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Basti berichtete dann, dass er beim tauchen ziemlich starke Strömung hatte.
            Es war sein erster Tauchgang bei dem er mit der Strömung tauchte.
            Das war ungewohnt da Ihn das Wasser immer wieder mal aus dem Gleichgewicht brachte oder Ihm auf die Flossen drückte.
            Dafür hatte er das Glück unterwasser auf 12 Schildkröten zu treffen.
            In manchen Momenten, sagte er, waren da so viele Tiere dass er dem einen oder anderen Tier fast näher gekommen ist als gewollt.
            Ansonsten war es für Ihn wohl ein interessanter Tauchgang oberhalb einer Steilwand mit vielen Korallen, Anemonen und vor allem vielen Fischen.
        </p>
        <p>
            Später landeten wir dann an der Rezeption und schauten uns zum wiederholten Male den Ausflugskatalog an. Dort sprang uns eine Tour immer wieder an, aber so ganz passte sie nicht zu uns. Wir klärten dann, ob man diese anpassen kann und man erklärte uns „sie können die Tour planen, wie sie möchten, denn sie bekommen einen Minibus samt Fahrer ganz für sich alleine“. Na das ist doch mal eine Aussage. Also haben wir hier und da ein wenig umgemodelt und schon hatten wir den den Fahrer für morgen gebucht.
        </p>
        <p>
            Gegen Abend war dann zum Glück das meiste Brennen durch die Quallen weg, zurückgebliebene Stellen gab es auch nicht und so beschlossen wir, einen Ausflug nach Anda zu machen, zumal wir eh Mundwasser und Sonnenmilch brauchten. Das Hotel rief uns ein Tricycle und knapp 10 min später war dieses auch da.
        </p>
    </div>

    <div class="col-md-12">
        <p>
            Und siehe da... Die Tricyles sehen hier noch wieder anders aus. Diesmal gab es hinten Sitzbänke und wir hatten richtig Platz. Die Fahrt dauerte knapp 10-15 min. und wir ließen uns an der örtlichen Kirche absetzen. Als erstes steuerten wir den Strand an und wow war der voll, zu mindest im Vergleich zu all dein einsamen Stränden die wir bisher gesehen haben. Hier herrschte mal leben und es waren viele Pavillons aufgestellt und die Leute kochten und aßen zusammen. Im Internet haben wir vorher gelesen, das der Strand von Anda zu den schönsten auf den Philippinen gehört und das können wir unterschreiben. Schöner langer, sehr feiner und heller Sandstrand und zudem sehr sauber. Wir schlenderten dem Sonnenuntergang entgegen und machten uns dann auf den Weg durch die Ortschaft.
        </p>
        <p>
            Hier besorgten wir dann die benötigten Sachen und landeten gleich noch beim Bäcker und holten uns wieder lecker Brötchen fürs Abendbrot und für unsere morgige Inseltour. Wieder im Hotel angekommen, lagerten wie die Sachen dann auch im Kühlschrank. Wir sind schließlich lernfähig was Ameisen und Essen angeht!
            Den Rest des Abends entspannten wir wieder im Resort. Gute Nacht!
        </p>
    </div>


    </div>
<!--=== End Post ===-->
