---
layout: blog/de/familie
title: "06.04. Balicasag und Virgin Island"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Philippinen
  - Balicasag
  - Virgin Island

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Wir trafen uns um kurz nach 8 Uhr an der Tauchbasis, packten unsere dort liegenden gebliebenen Schnorchelsachen ein und zusätzlich noch"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5230.jpg"
    alt: "Katalog Foto auf der Sandbank von Virgin Island"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Neoprenanzüge, da die Quallen sich doch arg vermehrt hatten. Da kam auch schon ein Filipino um die Ecke und fragte, ob wir bereit wären. Aber sicher doch! Also Kisten geschnappt und losgelaufen, denn es herrschte mal wieder Ebbe und das Boot lag ganz schön weit weg vom Strand. Endlich angekommen und alles verstaut, ging schon der Motor an und auuuuuua... unsere armen Ohren. Das Miniteil war so dermaßen laut, das wir alle nicht ein Wort während der Fahrt gewechselt haben und am Ende Tinnitus hatten. Die Fahrt ansonsten verlief entspannt und nach knapp 30 Minuten kamen wir an einer mit Booten belagerten Insel namens Balicasag an. Auf dem Weg dorthin gab es sogar kurz echte fliegende Fische zu sehen.
        </p>
        <p>
            Wir fuhren auf die nordöstliche Seite der Insel, da dort Windstille herrschte und somit keine Wellen waren. Zwischen all den Booten fanden wir tatsächlich einen Platz und erstaunlicher Weise waren kaum Leute zu sehen.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5234.jpg" alt="Endlich eine Schildkröte für Steffi" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Perfekt! Fix die Naturschutzgebühr unsere Crew in die Hand gedrückt, Sachen geschnappt und beschlossen, das wir bzw. drei von uns erst einmal ohne Neo ins Wasser gehen. Basti stellte da mit erschrecken fest, das er seine Flossen vergessen hat, aber das war nun leider nicht mehr zu ändern. Der erste sprang schon, Nummer zwei und drei folgten und dann ging ich zum Einstieg. Und schon brüllten sie „Schildkröten Schildkröten... koooooomm. Da sind welche, mach schnell, los“.
        </p>
        <p>
            Himmel Herrgott, echt jetzt... in Windeseile in Flossen und Maske gerutscht und rein ins Wasser und da waren sie... Schildkröten „für mich“... unter Wasser.... YEEEEEES! Sie zogen gemächlich ihre Kreise zwischen Riff und Abgrund und ich konnte in Ruhe staunen, mich einen Keks freuen und natürlichen Bilder machen! Und dann fiel mir auf, das um uns herum ewig viel Fisch war. Die Schildkröten verzogen sich in die ewigen Weiten des Meeres und wir zogen, bisher Quallenfrei, unsere Kreise zwischen den Fischen. Die Vielfalt war wirklich groß und das Riff selbst ebenfalls sehr schön. Zumal dieses an einer Art Steilwand wirklich ziemlich tief runter ging und ins dunkle blau verschwand. Oberhalb der Kante, bis hin zur Oberfläche war alles bunt und das Wasser kristallklar. Hier und da zwickte es mal an der Haut und auf einmal sah man dann auch Quallen. Diese waren aber in so geringer Anzahl, das ich weiterhin ohne lästigen Anzug im Wasser blieb. Basti sah eine Schildkröte weiter unten am Abgrund sitzen und beobachtete sie. Ich gesellte mich dazu, denn sie musste ja irgendwann mal wieder Luft holen. Nach einiger Zeit rührte sie sich dann und steuerte langsam die Oberfläche an. Ich heftete mich an ihre Fersen und begleitete sie, bis sie nach geraumer Zeit im Nichts verschwand.
        </p>
        <p>
            Ich selbst brauchte auch mal eine Auszeit und sagte Basti, das ich mich an den Strand verziehe. Im dem Zuge sagte er mir, dass wir gegen 11 Uhr weiter fahren - also hatte ich etwas über eine halbe Stunde. Durch absolut kristallklares Wasser, vorbei an schönen Korallen und Fischen landete ich am nicht sooo schönen Strand und setzte mich auf einen Palmenstamm. Der Strand war leider sehr ungepflegt und ziemlich dreckig und das drum herum sah leider auch nicht viel besser aus. Mich sprach ein älterer Filipino an und wir unterhielten uns, soweit es unsere beiden Sprachkenntnisse zuließen. Er hatte zum Glück eine Uhr und so konnte ich rechtzeitig wieder im Wasser sein. Auf dem Weg zum Boot entdeckte ich im Flachwasser dann eine Krake, aber leider war diese beim zweiten hinschauen nicht mehr wiederzufinden. Dafür zeigte sich dann Khan aus „findet Nemo“ (ein Halfterfisch).
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Wieder am Boot angekommen, ging es dann recht schnell rüber nach Virgin Island oder auch „bin ich in einem Katalog gelandet-Insel“. Eigentlich ist dort eine Sandbank, auf Grund von Hochwasser stand diese aber unter Wasser und zwar unter so kristall-türkisfarbenen Wasser, dass wir dachten, wir sind in einem Reisekatalog!!! Das Wasser reichte uns knapp bis zu den Knien und wir erkundeten zu viert die Gegend.
        </p>
        <p>
            Auf der Sandbank waren einige Stände aufgebaut. Die fliegenden Händler ließen natürlich nicht lange auf sich warten und wollten ihren Schmuck loswerden. Bei uns vergebens! An den Ständen selbst gab es viel Getier aus dem Meer zu kaufen, welches für einen frisch zubereitet wurde oder aber frisches Obst. Dieses entweder pur oder karamellisiert und frittiert. Die Mädels holten sich als ersten frittierte Bananen, nicht so meins, und dann landeten wir bei der Dame mit den Ananas. Diese waren beim probieren so lecker, das wir gleich eine große Tüte kauften und noch an ihrem Stand leer futterten. Die Mädels holten sich für später dann noch eine weitere Tüte und wir zogen zum nächsten Stand. Dort holte Basti sich dann karamellisierte Süsskartoffeln, aber diese fielen bei uns leider auch durch. Die Mädels holten sich noch süßen, in Bananenblätter gepressten Reis und fanden diesen zudem oberlecker.
        </p>
        <p>
            Wir bewegten uns nun langsam Richtung Boot und machten erst einmal ausreichend Bilder und genossen dieses unglaubliche Wasser und die Aussicht. Wir fühlten uns eindeutig wie in einem Katalog - sowas unglaubliches hatten wir beide noch nicht gesehen.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Wir sind mitten im Ozean, es gibt einen Markt, kristall-türkisfarbenes Wasser und obwohl viele Boote da waren, war es nicht voll. Nachdem wir alle wieder auf dem Boot waren, setzte sich Basti ganz vorne auf die Spitze vom Boot und wir anderen ließen ebenfalls die Beine vorne baumeln. Bei dem Lärm vom Motor, war es eh die beste Lösung. So wie wir da saßen, hätte die Fahrt noch ewig weiter gehen können, aber da waren wir auch schon wieder an der Unterkunft.
        </p>
        <p>
            Wir vier spielten noch ein paar Runden UNO, aber dann hieß es Abschied nehmen, denn wir mussten noch packen. Es stand der letzte Unterkunftswechsel dieses Urlaubes an. Wir verzogen uns in den Bungalow und füllten erneut unsere Rucksäcke, bis wir müde ins Bett fielen.
        </p>
        <p>
            Fazit des Tages für mich:
            <br />
            Einer der schönsten Ausflüge, die ich bisher auf meinen Reisen erlebt habe.
        </p>
    </div>

</div>
<!--=== End Post ===-->
