---
layout: blog/de/familie
title: "01.02.2018 Worcation Philippinen"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Philippinen
  - Cebu

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Mit diesem Beitrag möchte ich eine neue Reihe einleiten. Bei dieser geht es um eine neue Art des Reisens. Es handelt sich dabei um ein"
  image:
    url: "/assets/img/blog/2018-philippines/small/cartoon-2898206.png"
    alt: "Eine Zeichnung auf dem ein Mann auf einem Liegestuhl am Strand mit einem Laptop arbeitet."
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Experiment, welches ich zusammen mit meinem Arbeitgeber auf den Philippinen durchführen werde.
        </p>
        <p>
            Als erstes möchte ich euch kurz den Begriff Worcation erklären. Worcation kommt aus dem Englischen und ist die Kombination der Worte Work (Arbeit) und Vacation (Urlaub). Es bedeutet so viel wie „arbeiten an einem selbst gewählten Ort“, ohne festen Arbeitsplatz und oft während einer längeren Reise.
        </p>
        <p>
            Wie oben beschrieben, handelt es sich dabei um Experiment, bei dem sich zeigen soll, ob das Unternehmen digital genug aufgestellt ist und es wirklich egal ist, von wo aus ein gut eingearbeiteter Kollege seine Leistung erbringt. Weiterhin möchten wir den internationalen Kollegen anbieten, in besonderen Situationen auch mal zur Familie zu fliegen und den Aufenthalt durch Worcation zu verlängern.
        </p>
        <p>
            Da ich nun mal selbst Weltenbummler bin, habe ich mit meinem Chef zusammen beschlossen, dass ich dieses Experiment selbst durchführe. Mir persönlich soll es zeigen, ob ich Remote arbeite kann, ob es was für mich wäre und ob ich mich trotz Urlaubsregion auf die Aufgaben konzentrieren kann.
        </p>
        <p>
            Folgend einige Bedingungen, die wir für das Experiment festgelegt haben, um es so aussagekräftig wie möglich zu machen.
        </p>
    </div>
    <div class="col-md-12">
        <ul>
            <li>Mindestens 4 Zeitzonen in der Zukunft</li>
            <li>Ein voller Monat soll gearbeitet werden</li>
            <li>Es solle die reguläre Arbeitszeit eingehalten werden</li>
            <li>Es soll währenddessen Ortswechsel geben</li>
            <li>Die Kollegen und die Aufgaben sollen nicht beeinträchtigt werden</li>
        </ul>
        <p>
            Nach einiger Recherche habe ich mich für die Philippinen und den Monat März 2018 entschieden. Die Philippinen liegen 7 Stunden in der Zukunft. Mit der Umstellung auf Sommerzeit in Deutschland sind es dann aber nur noch 6 Stunden. Neben vielen Kriterien, die Thailand auch geboten hat, gewannen die Philippinen am Ende wegen Ihrer Währung. Dort wird in Philippinischen Peso gehandelt. Die Abkürzung dafür lautet PHP. Da PHP auch eine Programmiersprache ist und ich sogar Abteilungsleiter der PHP Entwickler bin, war das dann das Zünglein an der Waage. Ich weiss, wir sind halt alle Nerds!
        </p>
    </div>
    <div class="col-md-6">
        <p>
            Also der Finale Plan sieht aktuell wie folgt aus. Ich fliege am 23.02.2018 nach Manila. Da ich kein Freund von Mega Metropolen bin, bleibe ich dort nur 2 Tage um Handynummer und mobiles Internet sicher zu stellen und dann fliege ich weiter nach Cebu, in der Hoffnung dort Wasser, Strand und Tauchmöglichkeiten zu finden. Von 28.02.2018 bis Ostern (Ende März) will ich dann von verschiedenen Orten aus Arbeiten. Im Anschluss gibt es dann noch 10 Tage Urlaub, bevor es wieder nach Hause geht.
        </p>
        <p>
            Ihr werdet euch jetzt bestimmt Fragen: “Und was ist mit Steffi?“ Keine Sorge. Steffi kommt bereits am 17.03.2018 nach und macht die letzten zwei Wochen meiner Arbeitszeit schon mal Urlaub, bevor wir dann gemeinsam die über 7600 Inseln Ganztags unsicher machen. Ich möchte damit auch herausfinden wie gut es mit dem arbeiten klappt, wenn man alleine Worcation macht und wie es sich verändert, wenn man zu zweit unterwegs ist und nur einer arbeitet.
        </p>
        <p>
            Am 08.04.2018 geht unser Flug zurück von Manila nach Hamburg. Fast alle Reiseorte und Unterkünfte dazwischen sind noch ungeplant und sollen sich ein wenig nach Handyempfang und Internet Geschwindigkeit richten.
        </p>
        <p>
            Soviel erst einmal für heute. Bald dazu aber mehr.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top0">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/apartment-1899964.jpg" alt="Laptop mit Kaffee und Aussicht" />
        </div>
    </div>
</div>
<!--=== End Post ===-->
