---
layout: blog/de/familie
title: "26.03. Flug nach Cebu"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Philipinen
  - Dauin
  - Malatapay
  - Dumaguete
  - Cebu

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi"

overview:
  intro: "Heute hieß es Abschied von der Insel Negros nehmen, denn es sollte für uns rüber nach Cebu gehen. Gegen 11h verließen wir die Unterkunft"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4817.jpg"
    alt: "Der Menschenleere Markt in Malatapay"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} und steuerten wieder einmal das Dauin Dive Café an, denn Basti hatte schon vorab mit dem Tauchlehrer Per geklärt, dass wir unser Gepäck erst einmal dort lassen können. Eigentlich wollten wir schwimmen gehen, da wir beide aber keine Lust auf nass werden hatten, beschlossen wir mit dem Bus nach Malatapay zu fahren. Dort ist mittwochs immer Markt und zudem der Abfahrtsort, wenn man selbstorganisiert nach Apo Island rüber möchte. Leider ist da außer am Mittwoch wirklich alles dicht und somit schlenderten wir nur kurz an den Strand und setzten uns dann auf einem Milchshake sowie widerliche Pommern in ein Beach Café. Von dort aus beobachteten wir dann einen Tauchlehrgang samt Such- und Rettungsübung!
        </p>
        <p>
            Als wir uns dann auf den Rückweg machten, erlebten wir das erste mal, was es heißt, auf die philippinischen Verkehrsmittel angewiesen zu sein. Erst kam gar kein Bus, dann sahen wir endlich einen und der fuhr eiskalt an uns vorbei. Zwischenzeitlich standen noch zwei weitere Filipinas bei uns, der nächste kam und... er fuhr ebenfalls eiskalt an uns vorbei! Natürlich kam nicht mal ein Tricycle oder ein Jeppney vorbei, welche sonst in Massen fahren. Also weiter warten! Dann kam endlich ein Jeepney und es war sogar noch sowas wie Platz und wir konnten uns auf die Bank setzen. Leider mussten wir ganz durchrutschen, was sich beim aussteigen als ziemlich müßig erwiesen hat. Denn zwischenzeitlich  hat sich das Teil sehr gut gefüllt und die Leute saßen schon im Gang und joa, wir mussten vorbei. Wir haben sicherlich den einen oder andern Fuß erwischt, aber die Leute hatten ihren Spaß an uns viel zu großen deutschen.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Im Café gab es dann nochmal fix einen Drink und dann hieß es Sachen schnappen und wieder hoch an die Straße. Kaum da angekommen, sahen wir auch schon einen Bus, er hielt sogar und war zudem sogar ziemlich leer. Wieder in Dumaguete angekommen, stiegen wir dann direkt auf ein Tricycle um, welches uns zum Flughafen brachte. Da gab’s dann die böse Überraschung... Der Flieger hat 2 bis 3 Stunden Verspätung! Leider stellte sich die Abflughalle als Klimaanlagen-Monster, in Form von 11x 2m hohen Standgeräten dar, und Versorgung gab‘s da leider auch keine. Man konnte weder Getränke noch essen kaufen. Ich bekam nun aber doch ziemlich Durst und fragte bei der Sicherheitskontrolle nach Möglichkeiten. Dieser schickte mich nach ganz draußen, da is ab und zu jemand. Leider war da so gar keiner und als ich zurück kam, blickte er mich ziemlich ratlos an. Sein Kollege kam dann auf die Idee, mir einen Plastikbecher in die Hand zu drücken und mir von Ihrem Wasserspender was abzugeben. Na wenigstens etwas! Nach einigen Runden Uno und Film gucken, ging es dann auf einmal recht schnell und wir konnten sogar vor der angekündigten Verspätung boarden.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4852.jpg" alt="der cebu pacific Flieger nach Cebu" />
        </div>
    </div>

    <div class="col-md-6">
        <p>
            Da stellten wir dann auch fest, dass wir diesmal ziemlich daneben gelegen haben, was Sitzplätze aussuchen angeht. Wir haben extra die 1. Reihe gebucht, damit wir schnell draußen sind... tja nur leider nicht bei einer Propellermaschine von Cebu Pazific. Dort befindet sich vorne keine normale Tür, sondern das Gepäckfach. Wir waren zwar die ersten die drinnen waren, dafür aber auch die letzten, die draußen waren. Super und dafür haben wir extra bezahlt. Beömmelt haben wir uns dennoch vor lachen, denn sowas kann auch nur uns passieren. Den Herren gegenüber hat es aber noch schlimmer getroffen. Er hatte Reihe 1 gebucht und musste rückwärts fliegen. Mit nur wenig mehr als einer Std Verspätung landeten wir dann doch schon in Cebu.
        </p>
        <p>
            Nachdem wir unser Gepäck hatten, bestellten wir uns ein Uber und es ging relativ fix zum Resort. Hier trafen dann 2 Welten aufeinander: auf dem Weg zu Unterkunft Armut und notdürftig zusammengebaute Bambushütten. Dann passierten wir auf einmal  2 Sicherheitsschleusen und landeten im Paradies. Wir wurden sehr freundlich empfangen, unser Gepäck auf ein Kofferwagen geladen und dann ging es nur noch: „Ich kann Ihnen eine freudige Mitteilung machen... sie haben ein kostenfreies Zimmer Upgrade bekommen“ Auf unsere Frage nach was essbarem: „Ich kann Ihnen eine freudige Mitteilung machen... unser Restaurant hat 24 Std geöffnet“
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Der Spruch flog uns nur so entgegen. Nachdem alle Formalitäten erledigt waren, wurden wir zu unserem Zimmer 226 gebracht. Dieses entpuppte sich als schön geräumiges Familienzimmer inkl. großem Bad. Da uns der Hunger und vor allem der Durst hetzte, ging es für uns gleich wieder raus und rein und die Tapas Bar „Luna“. Hier gab es zur Begrüßung erst einmal 6 Mückenstiche an ein und der selben Stelle und als Nachtisch einen Strawberry Daiquiri sowie Tortilla de Patata für mich und für Basti einen Mango Daiquri sowie eine Pizza. Mittlerweile war es dann auch schon 1h morgens und das Bett rief ganz laut!
        </p>
    </div>
</div>
<!--=== End Post ===-->
