---
layout: blog/de/familie
title: "02.04.2018 Bohol Insel Tour"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Philippinen
  - Bohol
  - Anda

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi"

overview:
  intro: "Die Insel-Tour stand heute an und somit klingelte auch mal wieder der Wecker für uns. Als wir gerade fertig waren, hörten wir schon ein Hupen"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5010.jpg"
    alt: "Der Schriftzug I love Chocolate Hills in Carmen"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} auf dem Hotelgelände und ein Blick durch die Vorhänge bestätigte, dass unser Wagen da war. Wir wurden freundlich von unserem Fahrer (den Namen hab ich vergessen, irgendwas mit E) begrüßt und wir machten es uns auf der Mittelbank des Vans bequem.
        </p>
        <p>
            Auf Nachfrage teilte er uns mit, dass wir als erstes die Chocolate Hills ansteuern, da diese am weitesten weg sind. Die Fahrt sollte knapp 1,5 Std. dauern und führte vorbei an vielen schönen Reisfeldern, wo teilweise sogar noch mit Wasserbüffeln gearbeitet wurde. Leider gab es an genau diesen Stellen keine Haltemöglichkeiten, so dass wir bildlich nichts davon festhalten konnten. Es folgten noch Unmengen an Reisfeldern und diesmal konnten wir sogar halten. Der Fahrer wollte sogar die Männern und Frauen von der Arbeit abhalten, damit wir Bilder machen konnten, dieses lehnten wir aber dankend ab. Irgendwann führte uns die Straße dann an einem See vorbei und am Ende hielt der Fahrer an und zeigte uns den „Pilar Staudamm“. Wir gingen über die Straße und machten natürlich Bilder. Der Damm schien golden zu glänzen und der Fahrer erzählte mir, dass dieser See bzw. der daran angrenzende Fluss die ganzen Felder weiter nördlich mit Wasser versorgt.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4973.jpg" alt="Reisfelder zwischen Palmen" />
        </div>
    </div>

    <div class="col-md-12">
        <p>
            Weiter führte uns die Fahrt vorbei an etlichen Reis- und Maisfeldern, Ananas- und Wassermelonen Plantagen und selbstverständlich an ewig vielen Palmen mit Kokosnüssen. Alles wurde durch örtliche Bewohner am Straßenrand verkauft und das zu so niedrigen Preisen, dass man am liebsten alles mitnehmen möchte. Und dann näherten wir uns den Hills über den Ort Carmen. Übrigens sind die Chocolate Hills nicht von irgendeinem kreativen Menschen gemacht, sondern einzig durch die Natur vor vielen tausenden Jahren entstanden. Es handelt sich dabei um ca. 1.200 bis zu 120 m hohe kegelförmige Hügel. Diese sind mit Farnen und Wiesen bewachsen und schauen oben aus Palmenwäldern heraus. Im Spätsommer färben die Hügel sich braun, dann sieht das hier aus wie eine riesenpackung Pralinen.
        </p>
        <p>
            Um uns herum wurde es „touristischer“ und dann bogen wir schon links rein, vorbei an vielen Souvenir Shops und fuhren einen der Hügel hoch. Der Fahrer drückte uns einen Zettel samt seinem Kennzeichen in die Hand, erklärte das wir den Mann dort drüben Bescheid geben sollten und er würde wieder hochkommen, um uns einzusammeln. Wir irrten ein wenig verwirrt rum, unschlüssig ob wir nun Eintritt zahlen müssen oder sonst was und so machten wir erst einmal Bilder von der Fläche hinter den Ladenflächen. Dort konnte man schon einige der Hügel sehen! Trotz mehrerer Wolken, brannte die Sonne ganz schön und so gingen wir erst einmal in den Imbiss und sahen dort auch, das wir „Eintritt“ zahlen müssen. Eintritt kann man dieses aber eigentlich nicht nennen, denn man zahlt einfach die Gebühr für das Fahrzeug. Dafür also der Zettel von unserem Fahrer!
        </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Gebühr von 50 Peso pro Nase (ca. 80 Cent) gezahlt und dann hieß es bei Affenhitze 214 Stufen nach oben. Es war zum Glück nicht so viel los, so dass wir den Ausblick genießen konnten und Bilder schossen. Leider brannte die Sonne so böse, dass wir schnell den Schatten suchten und uns recht zügig wieder auf den Weg nach unten machten. Dort trödelten wir noch kurz durch die Souvenir Shops, bis wir im Klimaanlagen gekühlten Restaurant einkehrten und erst einmal was tranken. Anschließend ging es wieder in die Hitze und Basti ließ den Fahrer rufen.
        </p>
        <p>
            Wieder im Auto ging es hinunter und da ich bisher noch kein schickes Shirt gefunden hatte, hielt der Fahrer nochmal bei den Ständen am Fuss des Hügels an. Leider wurde ich auch hier nicht fündig und so ging die Fahrt weiter. Diesmal landeten wir bei den Tasieren, oder auch Koboldmakis genannt. Dieses sind kleine (max. 16 cm), auf Bohol lebende, nachtaktive Affen. Leider in freier Wildbahn fast gar nicht zu finden, daher führte uns die Fahrt in die  „Tasier Conservation Area“ in Loboc. Aus dem Internet kannte ich bisher nur die „Tasier Sanctury“ in Corella, also war ich gespannt, was mich hier erwartete. Wir lösten wieder einmal einen lachhaften Eintritt von unter 100 Peso (€ 1,70) pro Nase und los ging es. Wir waren kurz vor Feierabend da und so war nicht mehr viel los. Alles war wirklich sehr baufällig und im Umbau oder aber einfach unaufgeräumt und es kam schon die Frage auf, wie man diese winzigen Tiere finden soll.
        </p>
    </div>

    <div class="col-md-12">
        <p>
            Dann sahen wir aber ein Stück weiter einen Mitarbeiter. Diese stehen immer genau dort, wo gerade ein Tier sitzt, ansonsten würden man gnadenlos an den Tieren vorbei laufen. Zudem passen die Mitarbeiter aber auch auf, dass die Besucher den Tieren nicht zu nah kommen. Am Ende waren wir vielleicht 20 min. auf dem Gelände und sahen 9 Tiere, die schlafend fast versteckt in den Ästen saßen.
        </p>
        <p>
            Der nächste Stop war dann der Loboc River. Der Weg dorthin führte uns durch den menschengemachten Mahagoni Wald, wo einige Menschen am Straßenrand standen und Fotos machten. Weiter ging es durch einige Haarnadelkurven runter zum Fluss. Hier sollte es für uns eine Bootsfahrt inkl. Büffet geben. Fix die 550 Peso (€ 8,50) p. Person bezahlt und schon konnten wir aufs Boot und wurden an einen Tisch begleitet. Ich schaute mich erst einmal am Büffet um und befand dieses für gut und ausreichend. Bisher hatte ich gar nicht so viel Hunger, aber das Büffet änderte dies Recht schnell. Es befanden sich auch zwei Musiker an Bord und unterhielten uns während der Fahrt. Obwohl es relativ eng auf dem Boot war, verlief alles entspannt und führte uns sogar vorbei an einheimischen, die im Fluss ihre Wäsche machten oder auch einfach nur im Wasser plantschten. Dann legten wir einen Stop ein und wurden von einheimischen mit traditionellen Sing- und Tanzeinlage unterhalten. Am „Ende“ des befahrbaren Loboc Flusses sahen wir dann auch den Abenteuerpark, wo die Zipline durchführt. Dieses ist eine Art Seilbahn, nur das man darin liegend festgeschnallt wird und quer über Baumkronen und Fluss fliegt.
        </p>
    </div>

    <div class="col-md-6">
        <p>
            Wir drehten und es ging bei Verzehr von Ananas und Wassermelone zurück. Basti probierte währenddessen die philippinische Milchkaffee Variante - bestehend aus Kokosgelee mit Kaffeegeschmack in Milch ertränkt. Wieder am Anleger angekommen, gingen wir nochmal in einen der Souvenir Shops und ich fand endlich ein Shirt! Leider war es schon spät, so dass wir uns schon dachten, dass wir die Schmetterling-Station ausfallen lassen müssen, da hier alles recht früh schließt. Am Auto ankommen erzählte uns unser Fahrer aber, dass wir diese nun ansteuern. Cool!
        </p>
        <p>
            Die Fahrt dauerte nicht sehr lange und kurz darauf landeten wir bei der Schmetterlingsanlage, aber irgendwie sah das anders aus, als ich das aus dem Internet kannte. Und dann sah ich schon an den Schildern am Eingang, das wir woanders waren. Hier hingen auch Plakate von Riesenphytons etc. Davon hatte ich schon gelesen, aber da es mich nicht interessierte, hatte ich dies bei der Reiseplanung nicht als Ziel ausgesucht. Wir waren beim „Xzootic Animal Park“ gelandet!
        </p>
        <p>
            Der Eintritt war erneut lachhaft und so gingen wir rein und begangen einen verdammt großen Fehler, ohne es bis dahin zu wissen. Uns begleitete ein junger Filipino und fing gleich an, Dinge zu erklären und Werbung für die Schlangen zu machen. Wir wollten aber unbedingt die Schmetterlinge sehen und steuerten diese an.
        </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5027.jpg" alt="Loboc River Cruise mit Mittags Bufette" />
        </div>
    </div>

    <div class="col-md-12">
        <p>
            Die Area war eigentlich sehr nett angelegt und wir konnten gut die Makrofunktion der neuen Kamera testen. Der Guide drängelte immer wieder, aber wir ließen uns nicht so sehr hetzen, wie er es gerne hätte. Nachdem wir alles hatten, gingen wir weiter und landeten im blanken Horror.
        </p>
        <p>
            Es erwarteten uns sehr kleine Käfige mit blanken Beton- oder Fliesenboden, ohne jegliches Grünzeug, Äste, Wasser oder sonstigem. Dafür sehr viel Müll in den Käfigen und Touristen, die in den Käfigen die Tiere angrabbelten und Fotos machten. Unser Begleiter konnte so gar nicht nachvollziehen, dass wir das alles nicht wollten und schnellstens das Weite suchten. Unser Fahrer wollte uns mit den Schmetterlingen natürlich eine Freude machen und so sagten wir bei Ihm nichts. Wir beschlossen allerdings schon da, dass wir tätig werden müssen.
        </p>
        <p>
            Da dieses die letzte Station auf unserer Tagestour war, ging es nun zurück Richtung Hotel. Die Fahrt dauerte knapp 1,5 Std. und wir landeten eigentlich glücklich von dem schönen Tag, doch sehr geschockt durch den letzten Stop wieder im Resort. Wir dankten dem Fahrer, drückten Ihm ein Trinkgeld in die Hand und verzogen uns erst einmal aufs Zimmer zum frisch machen. Währenddessen ging ich auf Facebook und suchte diesen vermeintlichen Zoo und hinterließ dort eine böse Bewertung samt diverser Schlagwörter, damit dieses auch bei allen wichtigen Organisation aufschlägt. Basti übersetzte diese dann grob ins englische und schickte sie ebenfalls an einige Organisationen direkt. Hier muss dringend was getan werden und wir hoffen, dass jemand dort tätig wird.
        </p>
        <p>
            Wir machten es uns anschließend noch im Hotelrestaurant gemütlich und dann hieß es noch packen, denn morgen steht schon wieder ein Hotelwechsel an. Gute Nacht.
        </p>
    </div>

</div>
<!--=== End Post ===-->
