---
layout: blog/de/familie
title: "20.12.18 Trödeln durch Manhattan"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Die Skyline von Downtown Manhattan in schwarz weiss am fruehen Vormittag"

overview:
  intro: "Wie zu erwarten war, hat uns der Jetlag voll erwischt. Kurz vor 1 Uhr morgens (7 Uhr in Deutschland) hatte ich ausgeschlafen. Mist viel zu"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_6701.jpg"
    alt: "Die Auslage im Restaurant Essen"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} früh!!!
        </p>
        <p>
            Ich konnte mich zwar dann doch nochmal dazu zwingen wieder einzuschlafen, aber gegen 4:30 Uhr war dann endgültig vorbei. Ich hab mir meinen Rechner geschnappt und mich in die Lobby gesetzt. Gegen kurz vor sieben kam Steffi dann dazu. Sie konnte auch nicht mehr schlafen und war daher schon geduscht und fertig zum rausgehen. Wir besorgten uns noch schnell einen Touristenpass, mit dem wir uns 7 verschieden Attraktionen hier in New York anschauen können und so wenigstens einiges an Geld sparen.
        </p>
        <p>
            Zum Frühstück waren wir in einem komplett ungewohnten Laden. Der Name war “Essen“. Es ist eine Mischung aus Bahnhofsimbiss und Büffetrestaurant. Die haben eine riesige Auswahl und fast alles hat den Preis von 11 USD pro Pfund. Egal ob Rührei, Pfannkuchen oder Wrap.
        </p>
        <p>
            Nachdem Frühstück machten wir uns auf den Weg durch die Wall Street zu den neuen World Trade Hochhäusern zum 9/11 Memorial Museum. Dieses Stand als erstes auf unserem Zettel. Es ist schön und echt weitläufig angelegt. Es befindet sich komplett unterirdisch, an den noch immer existierenden und sichtbaren Fundamenten der beiden Hochhäuser die am 11.09.2001 von Terroristen mit zwei großen Passagierflugzeugen zum Einsturz gebracht wurden.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Die Ausstellung geht sehr ins Detail. Es sind eigentlich mehrere Teile. In einem Raum wird jedem im Detail erklärt, wie der zeitliche Ablauf war. Wer möchte kann sich sogar anhören, was an Board der 4ten Maschine ablief, die auf das Feld gestürzt ist. Es werden Aufnahmen aus dem Cockpit und von der Flugsicherung angespielt und auch Aufnahmen von Menschen, die versucht haben ihre liebsten zu erreichen und Nachrichten auf den Anrufbeantworter hinterließen. Das geht ganz schön nah, sag ich euch, denn dieses Mal ist bereits klar wie es ausgegangen ist. Aus genau diesem Grund findet man hier alle paar Meter auch Taschentuchspender. Überall stehen auch zerstörte Feuerwehrfahrzeuge rum, die beim Einsturz der Gebäude getroffen worden. Zudem steht an jeder Ecke freundliches Personal und erzählt bereitwillig Hintergründe und Geschichten zu den jeweiligen Dingen, wo man gerade steht.
        </p>
        <p>
            Nachdem Steffi sich noch ein schönes T-Shirt kaufte, mit dem Aufdruck „Love is stronger than hate“ (Liebe ist stärker als Hass), machten wir uns auf die Suche nach was zu essen. Auf dem Weg zum nächsten Subway Sandwich Store, hielten wir noch schnell bei T-Mobile an und besorgen mir noch Internet für mein Handy. Ohne Internet ist auch irgendwie doof.
        </p>
    </div>
    <div class="col-md-6 overflow-h ">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-usa/small/IMG_6784.jpg" alt="Pentatonix on Stage">
        </div>
    </div>
    <div class="col-md-6">

        <p>
            Den Nachmittag trödelten wie durch die Straßen Manhattans und kamen an Chinatown und Little Italy vorbei. Leider fing es dann an zu regnen, so dass wir uns in kleines Restaurant verzogen und erst einmal Creme Brûlée, „bomba“ (Eis mit Schokoüberzug), Cola und heiße Schokolade genossen. Danach machten wir uns auf den Weg zu Macy‘s, denn Steffi wollte dort in die Weihnachtsabteilung (Santaland). Leider hatte uns niemand vorher gesagt, dass man dort reservieren muss, so dass wir an der Einlasskontrolle abprallten.
        </p>
        <p>
            Danach zogen wir wie begossene Pudel bis zum Times Square weiter und schauten uns im Hard Rock Cafe, bei Bubba Gump Shrimps und natürlich im Disney Store um. Hier sollten sich aber unsere Wege trennen. Ich hatte für heute Abend noch eine Eintrittskarte für ein Konzert von Pentatonix. Einer A-capella Band aus den USA. Das Konzert war in einem wunderschönen Theater (Beacon Theater), mit ganz viel Prunk und Gold. Steffi schaute sich in der Zwischenzeit noch im M&M Store um und fuhr dann zurück ins Hotel. Nach dem Konzert machte ich mich dann auch auf den Weg zurück ins Hotel. Es regnete noch immer und der Wind wurde auch immer stärker. Vor dem Hotel hatte ich dann echt Probleme vorwärts zu kommen, da es so stürmte. Naja wollen wir hoffen das es morgen wieder besser ist. Steffi berichtete, dass das Fernsehprogramm  was von Sturmflut etc. erzählt, sah aber nicht so schlimm aus... mal abwarten! Gute Nacht.
        </p>
    </div>

</div>
<!--=== End Post ===-->
