---
layout: blog/de/familie
title: "05.04. Panglao City"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Philippinen
  - Panglao
  - Danao Beach

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Heute schreiben wir mal wieder gemeinsam einen Blogbeitrag. Basti fängt an von seinem letzten Tauchgang hier auf den Philippinen zu berichten."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5130.jpg"
    alt: "Sebastian Thoss und Steffi leicht spektisch in einem viel zu engen Tricycle"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Danach übernimmt Steffi die Schreibfeder und berichtet von unserem Ausflug nach Panglao City.
        </p>
        <h3>
            Basti’s letzter Tauchgang
        </h3>
        <p>
            Heute morgen ging der Wecker mal wieder, damit ich meinen letzten Tauchgang nicht verschlafe. Ich hatte mir im Tauchshop gewünscht noch einmal gemütlich an der Riffkante entlang zu driften und die Unterwasserwelt so richtig zu geniessen. Meine beiden Begleiter (ein älteres Deutsch-Asiatisches Paar) waren dort auch noch nicht und daher wurde es mir möglich gemacht. Im Gespräch stellte sich heraus, dass die beiden auch schon etwas an Erfahrung haben, aber schon länger nicht mehr tauchen waren.
        </p>
        <p>
            Wir fuhren also wieder mit dem Boot nur wenige Minuten, bis von oben die Riffkante zu erkennen war. Wir sprangen rein und innerhalb von Sekunden wurde klar, dass die anderen beiden keine Ahnung mehr von Tarierung (Schwebezustand) haben.  Erst kamen sie nicht runter und klatschten dann vollends auf dem Boden auf. Ein Glück, waren wir noch über Sand. Wären wir schon auf dem Riff gewesen, wäre dabei echt einiges zerstört worden. Wir machten uns dann gemeinsam mit unserem Guide auf zur Kante, wo auch sofort das Riff los ging. Dieses befand sich bei etwa 8 - 11 Meter Wassertiefe.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/P4050902.jpg" alt="Eine Pflanze. Nein, ein Tier!" />
        </div>
    </div>
    <div class="col-md-12">
        <p>Das Wasser war so klar, dass man von hier oben trotzdem noch den sandigen Grund bei etwa 25 Meter sehen konnte. Ich blieb bei maximal 11 Meter Wassertiefe, da ich die neue Kamera mit hatte und diese nur 15 Meter Maximaltiefe verträgt.</p>
        <p>
            Es dauerte nicht sehr lange bevor ich meinen beiden Tauchpartnern am liebsten auf die Finger gehauen hätte. Wenn man tauchen lernt, wird man immer wieder darauf hingewiesen, nichts anzufassen oder zu berühren. Korallen wachsen extrem langsam. Es dauert viele Jahrzehnte, wenn nicht sogar Jahrhunderte bis ein so schönes und unbeschadetes Riff entsteht, wie dieses in dem wir uns gerade befanden. Die beiden hielten sich trotzdem immer wieder an den Korallen fest. Aaaaaaaaaahhhh. FINGER WEG!!! Hätte ich am liebsten geschrien. Bringt unter Wasser nur leider nichts. Ich hab dann beschlossen nicht mehr so sehr auf die anderen beiden zu achten und mir nicht den Tauchgang vermiesen zu lassen. Ich schaute mir lieber die vielen verschiedenen Arten von Clownfischen an, die in Ihren Anemonen saßen und diese samt Ihrer Familie verteidigten sobald ich mit meiner Kamera zu nah kam. Die Weibchen stellten sich in dem Fall immer schützend vor die Anemone und den Rest der Familie. Quasi nach dem Motto: Nur über meine Leiche.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/P4050906.jpg" alt="Noch mehr Nemos." />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Kurz bevor wir wieder von der Riffkante weg schwammen, Richtung flachere Gewässer, sah ich noch einen wunderschönen Rotfeuerfisch, der Kopfüber vor einigen Korallen schwebte und versuchte wie eine Pflanze zu wirken. Selbst ich brauchte einige Augenblicke bis ich erkannte wo oben, unten, hinten und vorne bei dem Fisch war. Ein wirklich sehr schönes Tier.
        </p>
        <p>
            Wir schwammen dann weiter in den Sicherheitsbereich auf 3-5 Meter. Dort machten wir dann den üblichen Sicherheitsstop von 3 Minuten. Der deutsche Mittaucher ließ sich zurückfallen und hielt sich wieder einmal an Korallen fest. Er war noch immer so auf etwa 7 Meter tiefe, also etwas unterhalb des Sicherheitsbereichs. Nachdem mein Computer am Handgelenk sagte, dass meine Sicherheitspause rum ist schaute ich mich um und sah, dass der Taucher weg war. Ich schaute nach oben und da war er bereits an der Oberfläche. Unverantwortlich!!! Der Sicherheitsstop ist da, um den auf Tiefe aufgenommenen Stickstoff wieder langsam abzuatmen, da es sonst zu lebensgefährlichen Embolien kommen kann. Deswegen soll man auch nur sehr langsam auftauchen. Beides hat er komplett missachtet. Sobald wir an Bord waren, nahm ich Ihn mir auch zur Brust und fragte Ihn ob ihm klar ist, dass diese Regeln nicht ohne Grund existieren. Er antwortet nur, dass er in so flachen Wasser nicht klar komme. Er brauche mindestens 15 Meter, um gut tauchen zu können. Aaaaaaaaaahhh. Solchen Menschen gehört die Lizenz entzogen. Gott war ich froh, dass die junge Dame gestern, mit nur 5 Tauchgängen wesentlich besser tauchen konnte. Vielleicht schafft man es ja auch in Hamburg mal zusammen tauchen zu gehen.
        </p>
    </div>
    <div class="col-md-12">
        <h3>
            Steffi über unseren Ausflug nach Panglao
        </h3>
        <p>
            Nachdem Basti vom tauchen zurück war, beschlossen wir nach Panglao City reinzufahren. Also ließen wir uns wieder ein Tricycle rufen und los ging es. Wir haben uns dieses mal den örtlichen Markt als Ziel ausgesucht, nur war dort ziemlich tote Hose. Nach nur wenigen Minuten waren wir durch und beschlossen Richtung Wasser zu laufen. Auf dem Weg dorthin fing es leicht an zu regnen und wir suchten in einer Art Einkaufszentrum Zuflucht. Zuerst landeten wir in einem Bademoden-/Souvenir Shop, wo wir das ein oder anderen kauften. Da Basti auch langsam hungrig war beschlossen in einem SevenEleven-Supermarkt was zu essen und den leichten Regen abzuwarten. Er holte sich einen, mit Fleisch gefüllten Hefekloß und zum Nachtisch gab es noch ein Eis für Ihn. Ich fand dort in der Zwischenzeit aber endlich Haargummis und schlug gleich ordentlich zu, da ich die anderen 4, welche ich von zu Hause mitgebrachte hatte,mittlerweile verloren hatte.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            Danach machten wir uns auf die Suche nach Strand, landeten aber erst einmal bei einer Kirche. Es fand dort gerade die Abschlussfeier des Schuljahres statt und  zu unserem erstaunen, wurde diese sogar zweisprachig abgehalten, sowohl in englisch, als auch in Landessprache. Wir schauten eine Weile zu und gingen dann weiter Richtung Strand. Gefunden haben wir keinen, dafür landeten wir am Mangroven-Anleger. Wir fühlten uns ein wenig wie in Florida und haben eigentlich nur noch auf die Aligatoren/Krokodile gewartet. Diese soll es hier schließlich auch geben. Gefunden haben wir leider keine und da auch nicht mehr viel zu sehen war, beschlossen wir mit dem Tricycle nach Alona Beach weiterzufahren. Unser Fahrer, der uns hierher brachte, gab uns seine Telefonnummer, damit wir Ihn wieder anrufen konnte. Dieses versprachen wir auch, hatten schon das Telefon in der Hand, bis uns einfiel, dass wir beide kein Guthaben fürs telefonieren mehr übrig hatten. Leider ging die geschickte SMS nicht durch und so mussten wir einen anderen Fahrer nehmen. Blöd gelaufen!
        </p>
        <p>
            In Alona angekommen, ging es direkt zum „Duchess Spa & Salon“, denn ich wollte das mit der Maniküre doch mal ausprobieren und der Laden sah recht ordentlich aus, im Vergleich zu dem was wir bisher gesehen hatten. Also rein und auf chaotische Filipinas gestoßen. Irgendwie platzten wir zur falschen Zeit rein und alle wirkten ziemlich neben der Spur und waren so gar nicht auf Kunden ausgelegt. Ihnen stand mehr nach essen und wie immer sangen sie lauthals vor sich hin! Ich kam trotzdem gleich dran und landete auf dem tuffig-pinken Sofa.
        </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Zuerst unterschrieb ich das sterile Arbeitsmaterial und dann ging es an’s Farbe aussuchen. Ich konnte mich gar nicht entscheiden und so durfte Basti ran... am Ende entschied er sich für ein knalliges blau! Ohje, wenn das mal eine gute Idee war! Die Maniküre selbst wurde sehr gut ausgeführt, das Auftragen der Farbe ging auch gut, aber am Ende sah man dann, dass es nicht so perfekt war. Da man dieses nur bei näherem hinsehen sah, war mir das zu der Zeit egal. Das Ganze kam mich nicht einmal 4,50 € und meine Nägel hatten endlich wieder eine Form.
        </p>
    </div>

</div>
<!--=== End Post ===-->
