---
layout: blog/de/familie
title: "30.03. Formel 1 rennen auf Bohol"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Philippinen
  - Mactan
  - Bohol
  - Anda

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Heute fing endlich mein Urlaub an. Nun musste ich nicht mehr darüber nachdenken, wo ich die nächsten Tage eine gute Internetverbindung zum arbeiten"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4933.jpg"
    alt: "Eine der Heiligen auf Bohol die über die Landstrasse gebracht wird."
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} finde, sondern nun kann ich diese Reise endlich in vollen Zügen zusammen mit Steffi genießen. Zusätzlich ist auch noch Ostern, was für mich schon seit vielen Jahre, Entspannung und Zeit nur für uns bedeutet. Ziel für heute war das Blue Star Dive Resort in Anda auf der 10t größten Insel der Philippinen: Bohol. Dafür hatten wir auch einen echt einfachen und entspannten Plan.
        </p>
        <ul>
            <li>Erst einmal gemütlich Frühstücken</li>
            <li>Auschecken</li>
            <li>Shoppen gehen in einer Mall</li>
            <li>2 Stunden mit der Fähre nach Tagbilaran fahren</li>
            <li>1,5 Stunden nach Anda gefahren werden</li>
            <li>Einchecken</li>
            <li>Entspannen</li>
        </ul>
        <p>
            Alles in allem war der Tag entspannt, auch wenn nicht alle Punkte auf der Liste klappten. Bis zum Auschecken lief noch alles glatt. Dort fragten wir wann heute die Mall öffnet, da ja Karfreitag ist. Die Geschäfte haben hier im Land eigentlich täglich geöffnet und ich hab auch schon einige Läden gesehen die damit warben, dass sie immer geöffnet sind. Leider schloss “immer” die Osterfeiertage (hier Grünen Donnerstag und Karfreitag) nicht mit ein.  Die Dame an der Rezeption teilte uns nämlich mit, dass die Malls heute geschlossen sind.

        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4910.jpg" alt="Noch ein letztes schönes Foto am Strand des Resorts" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Somit ließen wir diesen Punkt auf unserer Liste einfach ausfallen und genossen noch eine weitere Stunde die schöne Hotelanlage. Wir machten noch einige Fotos und ließen uns noch ein letztes Mal die leckern Ananas Smoothies schmecken bevor uns wieder ein Uber abholte und zur Fähre brachte.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}" />
        </div>
    </div>

    <div class="col-md-6">
        <p>
            Am Hafen und auf dem Wasser lief wieder alles glatt. Steffi war so tiefenentspannt und schlummerte während der Überfahrt an meiner Schulter. Bei der Ankunft in Tagbilaran versuchten sich noch 3 ältere Koreanerinnen mit Steffi irgendwie zu verständigen. Leider klappte das nicht wirklich, denn die Damen sprachen schlecht bis kein Englisch. Steffi schaute mich hilfesuchend an, aber selbst ich hatte Sie nicht verstanden habe. Wir konnten uns gerade mal über unsere Nationalität austauschen.
        </p>
        <p>
            Am Pier stand dann bereits ein junger Mann mit einem Schild in der Hand, auf dem mein Name stand. Dieser Herr war wie immer sehr hilfsbereit und brachte uns zu einem schicken modernen Minivan. Wir fuhren gemütlich los und in der Stadt fuhr der junge Mann auch sehr rücksichtsvoll und gemütlich. Er erklärte uns noch, dass jeder Ort auf der Insel heute eine Prozession ihrer Heiligenfiguren hat. Die erste davon sahen wir direkt in Tagbilaran. Sobald wir die Stadt verlassen hatten, gab der Fahrer mehr und mehr Gas. Landstraße bedeutet hier aber nicht wie bei uns, dass man Gas geben sollte, denn hier sind immer Häuser und Hotels und Geschäfte am Straßenrand. Trotzdem fuhr der Fahrer immer schneller. Gefühlt fuhren wir 130 - 150 km/h. Steffi sagt aber, das wir nie schneller als 110 waren. Da es auch noch Nacht wurde fühle sich das einfach schneller an. Zwischendurch mussten wir aber ein Glück auch immer wieder mal kurzzeitig langsam fahren, wenn wieder einmal eine Prozession unseren Weg kreuzte. Für diese Pausen war ich verdammt dankbar.
        </p>
    </div>

    <div class="col-md-12">
        <p>
            Es war leicht zu erkennen, dass der Fahrer die Straßen sehr gut kannte und er ziemlich genau wusste an welchen Stellen die Straße höhere Geschwindigkeiten zuließ. Trotzdem war es stock dunkel und viel zu oft Menschen auf der Straße.
        </p>
        <p>
            Naja. Nach etwas über 2 Stunden sind wir endlich heil und ohne Unfall im Blue Star Dive Resort angekommen. Nur mein gefühltes Alter hat sich in der Zwischenzeit verdoppelt. Der Check-in ging erwartungsgemäß schnell und das Personal war wie immer hilfsbereit und nahm uns einige Taschen ab und begleitete uns zu unserem Zimmer mit Terrasse mit Gartenblick. Ein gut ausgestattetes Zimmer und die Terrasse war auch stattlich groß.
        </p>
        <p>
            Steffi packte bereits die wichtigsten Sachen aus, als ich noch einmal kurz zur Rezeption ging, um noch eine kleine Frage los zu werden. Als ich wieder kam, stand Steffi hinter der Verandatür und winkte mich ran. Als ich näher kam saß dort ein kleiner Kater vor der Tür und fauchte Steffi durch die Scheibe an und ließ sie partout nicht heraus. Ich schnappte mir den Stuhl und vertrieb das Tier. Nach wenigen Minuten stand das Tier wieder an der Tür. Wir beschlossen dann einfach das Tier zu ignorieren. Das half. Der Kater verschwand wieder und er hat sich nicht wieder bei uns an der Tür blicken lassen.
        </p>
        <p>
            Den Abend verbrachten wir auf der Terrasse, schauten uns einen Film an und genossen den Urlaub.
        </p>
    </div>

</div>
<!--=== End Post ===-->
