---
layout: blog/de/familie
title: "27.05. Buchstabensalat Teil 3"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Serbien
  - Belgrad
  - Deutschland
  - Hamburg
  - München

headline:
  image:
    url: "/assets/img/blog/2019-belgrade/sunset-at-danube.jpg"
    alt: "Sonneuntergang über der Donau in Beldgard"

author: "Steffi"

overview:
  intro: "Beim Frühstück war es dieses Mal lauter als sonst und vor allem voller. Nicht nur die ITler waren da, auch die Kämpfer der"
  image:
    url: "/assets/img/blog/2019-belgrade/IMG_8482.jpg"
    alt: "Steffi an Ihrem Geburtstag im Restaurant Novak"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Kendo-Europameisterschaft, die ebenfalls dieses Wochenende statt fand, befanden sich im Frühstücksraum.
        </p>
        <p>
            Eigentlich hatten wir für heute gedacht, dass wir ein Stückchen rausfahren, nur leider ist hier das öffentliche Netz dermaßen eingeschränkt, dass man nicht mal drüber nachdenken braucht. Selbst Google weigert sich hier Strecken vorzuschlagen. Ist halt so gar kein auf Touristen eingestelltes Land.
        </p>
        <p>
            Auf Grund des Regens zog es uns erst einmal wieder ins Shoppingcenter. Dieser hörte zwar unmittelbar nach verlassen des Hotels auf, aber was anderes hatten wir eh nicht auf den Plan. Nach dem ersten Viertel landeten wir erst in einem Café dort und erledigte Basti das ein oder andere am Computer, bis wir den Rest des Centers in Angriff nahmen.
        </p>
        <p>
            Anschließend führte uns der Weg Richtung Donau, wo wir trotz Nieselregen ganz lang spazierten. Auf den Weg dorthin fiel uns dann noch ein, dass wir Einchecken mussten, was wir dann auch gleich noch erledigten. Irgendwann bogen wir dann wieder Richtung Hotel ab, denn auf dem Weg lag eine Geschäftszeile, wo man vermeidlich gut essen konnte. Roch auf dem Hinweg zumindest danach. Wir landeten bei einem Asia Imbiss und grundlegend war das Essen sehr lecker, nur leider komplett in Soße ertränkt. Dafür hat es uns aber nicht mal 4€ für beide gekostet. Als Nachtisch gab es, einige Läden weiter, für jeden ein Eis und anschließend einen Film auf unserem Hotelzimmer.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Wenn schon Geburtstag, dann auch einen Wunsch erfüllen. Somit landeten wir am Abend nochmals im „Novak“, dem Restaurant neben unserem Hotel. Dieses gehört anscheinend dem Vater von Novak Djokovic, dem aktuellen Weltrang-Ersten im Tennis. Hier stehen alle Pokale und man kann div. Fankram erwerben. Davon aber mal abgesehen... das Essen ist hier sehr lecker, die Kellner freundlich und ich wollte hier zum Abschluss noch einen Crêpes essen.
        </p>
        <p>
            Den Crêpe gab es allerdings nur zum teilen mit Basti, denn mir war auf einmal doch mehr nach einer Minestrone.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2019-belgrade/IMG_8510.jpg" alt="Die Lobby des IN Hotel in Belgrad, Serbien" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Am Morgen gab es ein letztes Mal gemütlich frühstücken, den Rest einpacken, bis uns um 10.30 Uhr unser Fahrer zum Flughafen in Empfang nahm. Der Flughafen ist hier genauso teuer wie alle anderen auf der Welt. Einen Unterschied gibt’s aber, den wir so auch noch nicht kannten. Hier findet der Sicherheitscheck erst direkt am Gate statt.
        </p>
        <p>
            Nachdem wie das letzte serbische Geld ausgegeben hatten, bewegten wir uns zum Gate. Kurz darauf hieß es dann, das wir Verspätung hätten. Passte aber noch für unseren Anschluss!
        </p>
        <p>
            Kurz darauf kam dann die nächste Meldung in der Lufthansa App, dass wir unseren Anschluss in München nicht erreichen würden und wir uns beim Serviceschalter melden sollten. Super!
        </p>
        <p>
            Mit 30 min. Verspätung rollten wir vom Gate los und es ging endlich Richtung München. Wir hatten viel Platz, zum einen, weil wir in der Notausgangsreihe saßen, zum anderen war der Platz zwischen uns frei und der Flieger ziemlich leer. In München gelandet, bekamen wir über die App gleich die Meldung, dass wir auf den 16.15 Uhr-Flieger (1 Std später) umgebucht wurden. Super, also nicht mal mehr 15 min. bis zum Boarding. Beim Einstieg trafen wir dann auf den Flugbegleiter, den wir am Donnerstag auf dem Hinflug schon hatten. Somit wurden wir mit den Worten begrüßt „wir kennen uns doch. Wir sind doch gerade erst zusammen geflogen“. Faszinierend!
        </p>
        <p>
            In Hamburg gelandet steuerten wir dann, nachdem wir unsere Koffer hatten, als erstes unser Stammrestaurant an, denn unsere leeren Bäuche wollte gefüllt werden.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Fazit von Belgrad/Serbien
            <br />
            Steffi: nicht nochmal! Einfach nicht meine Richtung von Europa.
            <br />
            Basti: Für diese Konferenz gerne wieder. Explizit wegen Urlaub aber nicht.
        </p>
    </div>

</div>
<!--=== End Post ===-->
