---
layout: blog/de/familie
title: "10.09.2024 Treiben lassen"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - VAE
  - Dubai

headline:
  image:
    url: "/assets/img/blog/2024-ist-dxb/PAN_IMG_0023.jpg"
    alt: "Dubai Marina Beach"

overview:
  intro: "Heute habe ich mich mal wieder selbst gezwungen, länger zu schlafen. Ganz einfach, weil ich es kann – und weil es bei diesen Temperaturen sowieso besser ist, den Tag etwas später zu starten."
  image:
    url: "/assets/img/blog/2024-ist-dxb/small/20240910-DSC06815.jpg"
    alt: "Dubai Marina Beach bei Nacht"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
        </p>
        <p>
            Nach einem ausgiebigen Frühstück und einer kleinen Faulenzer-Runde auf der Terrasse stand erstmal ein bisschen Reiseplanung an. Ich möchte ja noch zwei Dinge erleben, bevor mein Aufenthalt hier endet:
        </p>
        <ol>
            <li>
                Eine Safari in der Wüste – für tolle Fotos, versteht sich.
            </li>
            <li>
                Eine geführte Tour nach Abu Dhabi, um die große Moschee und vielleicht noch ein bisschen mehr zu sehen.
            </li>
        </ol>
        <p>
            Also ließ ich mich beraten, sammelte Infos – und dann zog es mich raus in die Stadt.
        </p>
        <p>
            Zuerst ging’s mit dem Auto zur Nakheel Mall. Parken ist dort zum Glück kostenfrei, und von hier aus fährt die Monorail weiter Richtung Stadt. Also Auto abgestellt, Monorail genommen, und später noch mit der Tram bis zum Dubai Marina Beach.
        </p>
        <p>
            Ab da hieß es: zu Fuß weiter – und das bei über 35 Grad. 25 Minuten zu laufen klingt nicht viel, aber bei dieser Hitze wird daraus schnell ein echter Kraftakt. Also gönnte ich mir unterwegs bei McDonald's erstmal einen Mango-Smoothie für kleines Geld – runterkühlen, durchatmen.
        </p>
        <p>
            Mein Ziel: das kleine Einkaufsareal rund ums Dubai Eye, das riesige Riesenrad auf der Halbinsel.
            Hier gab’s dann auch noch einen kleinen Abstecher in den Hard Rock Shop, wo ich das obligatorische T-Shirt für mich und einen Pin für Rolf einsammelte.
            Abgesehen davon war auf der Halbinsel nicht allzu viel los. Viele Restaurants und Läden hatten geschlossen – Dienstag und absolute Low Season eben. Aber das machte nichts:
        </p>
        <p>
            Ich fand ein schönes, leeres Café direkt am Wasser, bestellte mir etwas zu trinken und genoss den Blick auf die glitzernde Skyline der Dubai Marina. Ganz entspannt. Übrigens: genau hier, auf der Terrasse mit Blick auf die Marina, entstehen gerade diese Zeilen.
        </p>
        <p>
            Und dann?
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2024-ist-dxb/small/20240910-IMG_0010.jpg" alt="Hochhäuser in Dubai" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Eigentlich wollte ich mit dem Wassertaxi zurück zur Dubai Marina Mall fahren. Aber daraus wurde nichts. In Dubai bedeutet eine ausgeschriebene Abfahrtszeit nämlich, dass das Boot zu diesem Zeitpunkt schon abgelegt hat – nicht, dass man erst einsteigen soll. Der freundliche Herr am Schalter erklärte mir das geduldig. Da das nächste Boot erst in 55 Minuten fahren sollte, entschied ich mich, doch zu Fuß zurück zur Tram zu laufen.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Immerhin: Dabei entstanden noch ein paar hübsche Skyline-Fotos.
        </p>
        <p>
            Zurück an der Nakheel Mall, wo mein Mietwagen stand, war ich schon ziemlich platt – es war inzwischen nach 21 Uhr. So richtig Lust aufs Hotel hatte ich aber noch nicht. Also beschloss ich spontan, mir noch einen Kaffee oder vielleicht ein Stück Kuchen zu gönnen.
        </p>
        <p>
            Als ich allerdings die Preise sah – 12 Euro für ein einfaches Stück Cheesecake! – verging mir schnell der Appetit.
        </p>
        <p>
            Stattdessen zog es mich in ein kleines chinesisches Restaurant. Dort bestellte ich mir frische, süße Buns – fluffige Hefeklöße mit verschiedenen Füllungen. Endlich mal wieder normale Preise, fast wie in Hamburg.
        </p>
        <p>
            Danach ging’s dann aber wirklich zurück ins Hotel.
        </p>
        <p>
            Na gut, müde war ich nach dem Essen nicht mehr so richtig – aber egal.
        </p>
        <p>
            Bis morgen!
        </p>
    </div>
</div>
<!--=== End Post ===-->
