---
layout: blog/de/familie
title: "29.12.25 Japan Town & Eislaufbahn"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Vietnam
  - Ho Chi Minh

author: Steffi & Basti

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/ho-chi-minh-city-skyline.jpg"
    alt: "Die Skyline von Ho Chi Minh City"

overview:
  intro: "Nach dem Frühstück beschlossen wir, noch einmal beim Ausflugs-Beratungsschalter im Hotel vorbeizuschauen. Vielleicht hätten sie ja doch noch eine"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_5619.jpg"
    alt: "Der Eingang zu Japan-Town"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Idee für uns.
        </p>
        <p>
            Und tatsächlich: Am Ende gingen wir mit einer Buchung zurück auf unser Zimmer. Immer noch völlig überteuert für die Region – aber dafür als private Tour, ganz nach unseren Wünschen. Keine Tunnel und keine eingesperrten Tiere. Wir machen das, worauf wir lust haben. Damit fühlte es sich plötzlich wieder richtig gut an.
        </p>
        <p>
            Danach machten wir uns auf den Weg zur Notre-Dame-Kathedrale. Leider ist sie komplett eingerüstet – und ist zudem innen gesperrt. Verdammt. Also auch hier nur ein Blick von außen.
        </p>
        <p>
            Wir zogen weiter Richtung Japan Town. Das war… eher nichts. Wahrscheinlich die falsche Uhrzeit, aber es wirkte vor allem wie eine Vergnügungsmeile mit zweifelhaftem Charme und entsprechend vielen Etablissements. Also nichts wie weiter.
        </p>
        <p>
            Danach landeten wir in einem Café über mehrere Etagen und kühlten uns ein wenig herunter. Nun ging es mit der erst rund ein Jahr alten Metro weiter. Basti berührte beim Einfahren des Zuges die gelbe Linie vor der Sicherheitsglastür – und wurde prompt ermahnt. Ups. Sorry.
        </p>
        <p>
            Eigentlich war unser Ziel das Landmark 81, Nummer 16 der höchsten Gebäude der Welt.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Doch wir scheiterten zunächst an der Überquerung der Straßen. Also riefen wir uns für die vielleicht drei Minuten Fahrzeit tatsächlich ein Grab-Taxi. Gar nicht peinlich aber wir wollten unfallfrei ankommen.
            Drinnen erwartete uns ein riesiges Einkaufszentrum – inklusive Eislaufbahn. Wir schauten kurz den Schlittschuhläufern zu und kühlten uns ein wenig ab. Danach ging es aber erst einmal zum Essen. Eigentlich wollte Steffi Pasta. Die war jedoch bereits mit Käse versetzt, also bekam sie extra eine käsefreie Pizza mit Pilzen und Tomaten. Der Teig war super, beim Rest… naja. Sie wollte halt Pasta.
        </p>
        <p>
            Anschließend schlenderten wir noch ein wenig durch das Center, bevor wir uns in den angrenzenden Park am Ufer des Saigon River aufmachten. Dort verweilten wir eine Weile und genossen den Japanischen Garten sowie den Blick über den Saigon River (Siehe Panorama Bild), bis wir erneut ein Grab-Taxi riefen, um noch den Jade Emperor Tempel zu besuchen.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_1510.jpg" alt="Landmark 81" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Dieser war recht überlaufen und sah auch nicht so schick aus wie viele andere Tempel, die wir bereits gesehen hatten. Trotzdem war es eine nette Abwechslung. Vor allem hatten sie dort aber auch viele verschiedene Orchideen. Am liebsten hätten wir welche eingepackt, wollen aber keinen Ärger mit den Deutschen Behörden.
        </p>
        <p>
            Zu Fuß machten wir uns danach auf den Weg zurück Richtung Hotel. Doch zunächst stellte sich uns eine wirklich große Kreuzung in den Weg. Wir standen bestimmt zehn Minuten da und überlegten, wie wir hier jemals rüberkommen sollten. Schließlich wechselten wir die Richtung und fanden eine Stelle, an der ein Polizist den Verkehr per Knopfdruck regelte. Dort hängten wir uns an eine Einheimische und gingen quasi gemeinsam rüber.
        </p>
        <p>
            Die Luft und der Lärm in dieser Ecke waren fast greifbar. Es wurde langsam dunkel, und unser Weg führte uns noch etwa 25 Minuten die Straße hinauf. Unterwegs gönnten wir uns ein Eis und landeten später noch in einem Café für Drinks – angenehm klimatisiert und vor allem: recht ruhig.
        </p>
        <p>
            Ein kurzer Stopp im Supermarkt, dann waren wir wieder auf unserem Zimmer. Dort gab es Fertignudeln und Wassermelone, dazu eine Serie, um den Abend ausklingen zu lassen.
        </p>
        <p>
            Morgen geht es früh los: zum Tempel auf dem Berg – dem Black Virgin Mountain – und weiter zum Cao-Dai-Tempel.
        </p>
        <p>
            Wir freuen uns drauf!
        </p>
    </div>

</div>
<!--=== End Post ===-->
