---
layout: blog/de/familie
title: "30.12.25 Kultur im Schleudergang"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Vietnam
  - Ho Chi Minh
  - Tây Ninh
  - Black Virgin Mountain


author: Steffi

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/happy-buddha.jpg"
    alt: "Die Skyline von Ho Chi Minh City"

overview:
  intro: "Dieses Mal klingelte der Wecker schon um 6:45 Uhr. Gar nicht lustig – aber was tut man nicht alles. Heute stand unsere private Tour mit Fahrer und"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/DSC01569.jpg"
    alt: "Die riesige Schwarze Jungfrau auf dem Black Virigin Mountain"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Guide Tri an: zum Black Virgin Mountain und zur Cao-Dai-Tempelanlage, rund 90 Kilometer von Ho-Chi-Minh-Stadt entfernt.
        </p>
        <p>
            Also schnell eine Kleinigkeit frühstücken und um 7:50 Uhr abfahrbereit in der Lobby stehen. Dort wurden wir direkt in Empfang genommen, und los ging die Fahrt. Geplant waren etwa drei Stunden – wobei wir davon gut zwei brauchten, um überhaupt aus der Stadt herauszukommen. Dieser Verkehr, diese Massen an Rollern sind wirklich enorm. Über das „Wie“ des Vorankommens sprechen wir besser gar nicht erst.
        </p>
        <p>
            Am Berg angekommen erwartete uns eine riesige Anlage. Kaum ausgestiegen, legte unser Guide ein ordentliches Tempo vor. Unsere Hoffnung: Vielleicht ist das nur der Anfang, weil wir etwas Bestimmtes zu einer festen Uhrzeit sehen sollen.
        </p>
        <p>
            Die Seilbahnfahrt war noch entspannt – der Rest leider gar nicht. Wir hetzten förmlich durch die Anlage und konnten kaum irgendwo wirklich stehen bleiben. Zuerst ging es in Richtung „Schwarzen Jungfrau“. Sie ist umgeben von vier kleineren Figuren. Diese sind immer noch etwa so Hoch wie ein Einfamilienhaus. Wir liefen aber nur einmal unten um die Kunst-Galerie außen herum. Für näher heran war scheinbar keine Zeit. Fotos – möglichst im Vorbeigehen.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Draußen zeigte sich ein neuer Bereich namens „Das Universum“. Die Eröffnung ist allerdings erst morgen – also nur kurz schauen und weiter.
        </p>
        <p>
            Auf dem Weg nach unten staute es sich an der Rolltreppe. Zwei ältere Damen waren offenbar noch nie Rolltreppe gefahren und gerieten in Panik. Unser Guide half ihnen – der Fahrstuhl wäre direkt daneben gewesen.
        </p>
        <p>
            Wir landeten an der Wassersäule, in der originale tibetische Schriftzeichen eingefasst sind, und gingen weiter zum lachenden Buddha. Auch hier wären wir einfach vorbeigeflogen, hätte ich nicht spontan ein paar Mönchen angeboten, Fotos von ihnen zu machen – und die Gelegenheit genutzt, auch ein paar von uns zu bekommen. Leider ist Fotografieren nicht ganz die Stärke unseres Guides. Hier muss später wohl Basti und die Software ran.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_1632.jpg" alt="Der Cao-Dai-Tempel" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Ich glaube, dieser Ort ist eigentlich wunderschön – wenn man durchatmen darf.
            Weiter ging es in den Zen-Garten. Ruhig, harmonisch, wirklich nett angelegt. Aber Zeit? Fehlanzeige.
        </p>
        <p>
            Zurück auf dem Hauptplatz verkündete Tri dann, wir hätten jetzt 15 Minuten „freie Zeit“. Wuhu. Ein kurzer Gang durch einen Bogengarten, fünf Minuten hingesetzt – und schon ging es wieder zum Auto. In der Hoffnung, dass wir nun endlich etwas essen würden.
            Nö. Keine Zeit. Der Cao-Dai-Tempel wartet.
        </p>
        <p>
            Also verdrückten wir die wohlweislich eingepackten Kekse. Etwa 25 Fahrminuten später waren wir am Tempel, wurden kurz am Straßenrand abgesetzt und direkt hineingeführt. Gerade fand die tägliche Zeremonie statt, der wir von der Vorhalle aus beiwohnen durften. Nach rund 20 Minuten war sie beendet, und wir durften ganz hinein.
        </p>
        <p>
            Die Decke und die Säulen sind wirklich wunderschön gestaltet – mit vielen Drachen, Augen und über 3.000 Sternen. Danach umrundeten wir den Tempel einmal und gingen ein paar Meter zu Fuß. Vielleicht 500 Meter. Vorbei an süßen Affen – aber auch hier blieb keine Zeit.
        </p>
        <p>
            Unser nächstes Ziel war eine Schule. Dort hängt ein Bild, das je nach Blickwinkel Hinduismus, Christentum oder Buddhismus zeigt. Spannend – und schon war die Zeit wieder vorbei.
            Ab ins Auto. Endlich zum Essen.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            In einem Restaurant, wenige Fahrminuten entfernt, erwartete uns eine rein vegetarische Auswahl. Wie immer viel zu viel – aber sehr lecker. Danach ging es direkt zurück nach Ho-Chi-Minh-Stadt.
            Gefühlt haben wir nichts wirklich gesehen – und verarbeitet schon gar nicht. Als wir zurück im Hotel waren, war es bereits nach 17 Uhr.
        </p>
        <p>
            Unser Fazit: Man kann das alles machen – aber man sollte sich für eine der beiden Sehenswürdigkeiten entscheiden. Beides an einem Tag ist einfach zu viel.
            Wir hatten ja extra schon die Chu Chi Tunnel als dritten Tagespunkt ausgelassen. Es bleibt keine Zeit, wirklich hinzuschauen oder anzukommen.
        </p>
        <p>
            Zurück auf unserem Zimmer bestellten wir uns Pasta und Burger per Roomservice und ließen den Abend gemütlich ausklingen. Nebenbei liefen zwei Maschinen Wäsche und der Trockner. Dummerweise ist der Ablufttrockner nicht für diese kleine Kammer gemacht – sie war danach von oben bis unten voller Kondenswasser. Also erst einmal trockenwischen.
        </p>
        <p>
            Upsi.
        </p>
        <p>
            Morgen ist Silvester. Mal schauen, was da auf uns wartet.
        </p>
    </div>

</div>
<!--=== End Post ===-->
