---
layout: blog/de/familie
title: "16.05.25 Highspeed durchs Gewitter"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - USA
  - New York
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_2440.jpeg"
    alt: "Der Blick vom Huddson River in Richtung Manhatten"

overview:
  intro: "Heute gibt’s ausnahmsweise zwei Posts – der gleiche Tag aus zwei Perspektiven – diesen hier von mir, ein weiterer von Steffi. Bald haben wir uns wieder!"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_2385.jpg"
    alt: "Wetterwarnung mit dem Hinweiß vor Überschwemmungen durch Starkregen"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Aber bevor wir zusammen durch New York streifen konnten, war bei mir erst noch ein halber Reisetag angesagt – mit dramatischer Wetterkulisse und schwerem Koffer.
        </p>
        <p>
            Die Nacht war – wie soll ich sagen – mittel. Ich habe mehrmals aufs Handy geschaut, um zu sehen, wie Steffi vorankommt. Sie fliegt heute die exakt gleiche Route wie ich vor einer Woche: erst von Hamburg nach München, dann weiter zu nach New York. Trotz einer kleinen Verspätung beim Abflug aus München lief am Ende aber alles glatt.
        </p>
        <p>
            Ich packte also morgens in Ruhe meine Sachen und machte mich gegen halb neun auf den Weg zur Union Station. Dort hatte ich noch über eine Stunde Zeit – leider in sibirischer Kälte. Alle Sitzbereiche waren direkt unter frostigen Klimaanlagen platziert. Sitzen? Lieber nicht. Also schnappte ich mir einen Tuna Melt Bagel, balancierte ihn zusammen mit meinem Rucksack und dem Koffer zum Gleis – und ab ging’s in den Zug nach New York.
        </p>
        <p>
            Der Zug war rappelvoll, aber ich ergatterte einen guten Platz im Bordrestaurant. Etwa auf halber Strecke wurde es plötzlich düster – und dann ging’s los: Gewitter, wie aus dem Bilderbuch. Es regnete so heftig, dass im gesamten Zug plötzlich Katastrophenwarnungen auf den Handys auftauchten – auf Englisch und Spanisch wurde vor Sturzfluten gewarnt. "Do not attempt to travel ... " Na dann – gut, dass ich in einem Zug sitze. Dieser heitzte weiter mit Highspeed durch das Gewitter.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Als wir schließlich in New York ankamen, nieselte es nur noch leicht. Ich machte mich direkt auf zum Hotel – SpringHill Suites by Marriott, Zimmer 2708 in der 27. Etage. Theoretisch Blick aufs One World Trade Center. Praktisch: Aktuell nur Wolken. Aber ich hatte eh keine Zeit für die Aussicht – ich wollte ja zum Flughafen, Steffi abholen!
        </p>
        <p>
            Am JFK lief alles wie im Film: Kaum war ich da, kam sie auch schon um die Ecke aus dem Sicherheitsbereich. Endlich hab ich sie wieder an meiner Seite! Wir nahmen direkt den nächsten Zug zurück in die Stadt, brachten ihr Handgepäck ins Hotel – unterwegs noch schnell Bananen und Erdbeeren eingesackt, günstiger als Zuhause übrigens – und machten uns dann frisch.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_2397.jpg" alt="Eine kleine Feuerwache in der Nähe des Chelsea Markets" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Steffis Deoroller hatte den Flug nicht überlebt, aber das war halbwegs schnell verschmerzt. Sowas kann man hier ja kaufen auch wenn es hier über das doppelte kostet. Nach einer kurzen Verschnaufpause zogen wir los in Richtung Chelsea Market. Also rüber zur 8th Avenue und runter bis zur 15th Street. Der Eingang liegt dann an der 9th Avenue – und drinnen gab’s Tacos. Perfekter Einstand!
        </p>
        <p>
            Auf dem Rückweg liefen wir die 6th Avenue wieder rauf und entdeckten eine geöffnete Feuerwache. Ich fragte kurz, ob wir Fotos machen dürften – und klar, kommt rein! Die Feuerwehrleute waren super freundlich. Wir machten ein paar Bilder, fragten nach der maximalen Höhe ihres Leiterwagens (Antwort: 8. Etage) und warfen noch einen Blick auf die Gedenkwand im Eingangsbereich – eine stille, eindrucksvolle Erinnerung an die Feuerwehrleute, die am 11. September ihr Leben ließen.
        </p>
        <p>
            Zurück im Hotel dann nur noch kurz die Aussicht genießen. Immerhin ein paar Lichter durch den sich lichtenden Nebel. Sogar die Hochhäuser im Financial Distric inklusive dem One World Trade, tauchten langsam auf. Und nun, ab ins Bett. Gute Nacht.
        </p>
        <p>
            Bis morgen!
        </p>
    </div>

</div>
<!--=== End Post ===-->
