---
layout: blog/de/familie
title: "02.06.2025 Enttäuschung Disney"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - USA
  - Orlando

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_3312.jpg"
    alt: "Mickey und seine Freunde vor dem Disney Schloss im Magic Kingdom in Orlando, USA"

overview:
  intro: "Der Wecker klingelte mal wieder um 7 Uhr. So langsam entwickelt sich das hier zu einem Trend… Müde schleppten wir uns aus dem Bett und holten uns"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_9345.jpg"
    alt: "Das Disney Schloss in Orlando, USA"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} zum Start in den Tag Croissants von Dunkin’ Donuts. Dann ging es los in Richtung Disney Magic Kingdom.
        </p>
        <p>
            Wir parkten auf dem Peter-Pan-Parkplatz, Bereich 212, und wurden anschließend per Golfcart-Zug zum „Bahnhof“ gebracht. Von dort nahmen wir das Boot zum Parkeingang – ganz klassisch und stimmungsvoll.
        </p>
        <p>
            Am Schloss angekommen, starteten wir mit der Opening Show, bevor wir uns in verschiedene Richtungen aufmachten:
        </p>
        <p>
            Steffi stellte sich für Space Mountain an – etwa 30 Minuten Wartezeit – und fand die Fahrt richtig gut. Ich hingegen setzte mich in den Tomorrowland People Mover – ganz ohne Wartezeit – und entdeckte Chip und Chap, die auf dem Platz herumliefen.
        </p>
        <p>
            Danach ging Steffi zum neuen Tron-Coaster, für den sie stolze 70 Minuten anstand. Das Warten hat sich laut ihr aber gelohnt – sie fand die Bahn „mega“ und wäre am liebsten gleich noch mal gefahren, doch die Wartezeiten blieben den ganzen Tag über lang, selbst kurz vor Schluss waren es noch über 50 Minuten Wartezeit.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Ich gönnte mir währenddessen einen Iced Latte ohne Koffeein – aber selbst dafür musste ich 30 Minuten anstehen. Danach besuchte ich das Carousel of Progress (5 Minuten Wartezeit) und die Monsters Inc. Laugh Floor (15 Minuten). Steffi war denn doch schon fertig und drehte ebenfalls eine Runde mit dem People Mover. Wir trafen uns dann bei Buzz Lightyear in der Schlange. Leider gab es dort scheinbar Probleme mit dem Fahrgeschäft was unsere Waretzeit auf 35 Minuten erhöhte.
        </p>
        <p>
            Danach fuhren wir gemeinsam eine Runde auf dem Tomorrowland Speedway – mit Steffi am Steuer. Leider ist lenken bei dem Schienfahrzeug sinnfrei und man wird dadurch immer hin und her geschüttelt. Das hat den Spaß weiter geschmälert.
            Wir stiegen um in die Disney Railroad und ließen uns nun erst einmal gemütlich um den ganzen Park fahren.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_3400.jpg" alt="Der Start der Festival of Fantisy Parade" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Mittags kehrten wir in die Skipper Canteen ein. Für 100 Dollar gab es Hähnchen mit Coleslaw (schmeckte laut Steffi irgendwie nach Blumen) und Steak mit Pommes und Grillgemüse. Ich fand mein Steak okay, aber für den Preis war es echt wenig. Wenigstens bei den Getränken waren sie spendabel. Die freundliche Bedienung gab jedem von uns noch einen weitere große Limo zum mitnehmen mit. Ohne Aufpreis.
        </p>
        <p>
            Danach schauten wir uns die Parade an – wirklich schön, aber recht kurz. Weiter ging es zur Jungle Cruise, der laut Schild 30 Minuten Wartezeit hatte, in echt aber fast eine Stunde dauerte. Bei den Pirates of the Caribbean hatten wir mehr Glück – dort waren wir nach rund 30 Minuten dran.
        </p>
        <p>
            Dann hieß es: Tiki Room. Eine Show zum Gehirnabschalten – dafür aber ohne Wartezeit. Die Aladdin Carpet Ride war dagegen ein schlechter Tausch: 10 Minuten Warten für nur ein paar Sekunden Fahrt. Entäuschend aber als Angestellte einer Teppichfabrik musste das sein.
        </p>
        <p>
            Besser war Mickey’s PhilharMagic – tolle 3D Show mit nur minimaler Wartezeit. Am Schluss steckte sogar eine riesige Animatroic Figur von Donald, Kopfüber im Mauerwerk. Wer jetzt Fragenzeichen in den Aufen hat, sollte hin fahren und es sich selber anschauen. Dieser Kurze Film ist das was wir hier eigentlich suchen. Disney durch und durch.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Leider war die Haunted Mansion wegen technischer Probleme geschlossen, und bei Peter Pan’s Flight war uns die 60-Minuten-Wartezeit einfach zu viel. Also landeten wir bei It’s a Small World – optisch wie neu, aber inhaltlich... sagen wir mal vorsichtig: Reizüberflutung, Ohrwurm-Garantie und gefühlt eine Gehirnwäsche. Immerhin nur 15 Minuten Wartezeit.
        </p>
        <p>
            Abends aßen wir im Pinocchio Village Haus: Caesar Salad, Chicken Tenders und Pommes. Danach wollten wir noch Under the Sea fahren – nach 10 Minuten Wartezeit hatten wir kurz einen Anlagenausfall, der aber schnell behoben wurde.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            Den Seven Dwarfs Mine Train ließen wir aus – 70 Minuten Wartezeit waren uns zu viel. Generell wurde es ab 20 Uhr seltsam ruhig: Viele Geschäfte und Restaurants schlossen, obwohl der Park offiziell bis 22 Uhr geöffnet und auch noch rappelvoll war.
        </p>
        <p>
            Zurück zur Monsters Inc. Laugh Floor – nochmal für einen kurzen Lacher – und dann weiter zur Happily Ever After Show. Die war wirklich schön, aber wer einen guten Platz will, sollte mindestens 45 Minuten vorher da sein.
        </p>
        <p>
            Als Absacker fuhren wir noch eine Runde mit dem People Mover – wieder ohne Wartezeit. Danach begann das nächste Anstehen: Über eine Stunde für die Monorail zurück zum Parkplatz. Mit dem Golfkart-Zug ging es schließlich zum Auto, wo wir gegen Mitternacht ankamen.
        </p>
        <p>
            Fazit Magic Kingdom:
            Anstehen. Überall. Immer. Selbst für Getränke muss man mit 30 Minuten rechnen – das ist nicht schön. Wir vermissten die klassischen Live-Shows und vor allem auch Mickey & Friends, die man tagsüber so gut wie gar nicht zu Gesicht bekam. Wer sie sehen wollte, musste... Trommelwirbel... anstehen.
        </p>
        <p>
            Zudem fehlte vielen Bereichen im Park das typische Disney-Flair – das hatten wir schon in Paris kritisiert, und hier war es nicht besser. Wenn wir je wieder kommen, dann nur im Januar (da soll es statistisch am leersten sein) und mit einem Lightning Pass, um nicht ständig zu warten. Insgesamt waren wir ziemlich enttäuscht.
        </p>
        <p>
            Zum Abschluss wurde noch getankt, wir fuhren zurück ins Hotel und checkten für unseren morgigen Rückflug nach JFK ein – leider ohne zugewiesene Sitzplätze.
        </p>
        <p>
            Wecker wieder auf 7 Uhr. Morgen früh geht der Flieger – und unsere Koffer sind noch nicht gepackt.
        </p>
        <p>
            Ab ins Bett – mit „Küss den Frosch“ Trickfilem auf dem iPhone. Ich schlief nach drei Minuten ein, und auch Steffi hielt nicht viel länger durch.
        </p>
        <p>
            Gute Nacht.
        </p>
        <p>
            Bis morgen.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_9479.jpg" alt="Das Disney Shloss in Bunt mit Feuerwerk zur Happily Ever After Show im Magic Kingdom Orlando, USA" />
        </div>
    </div>

</div>
<!--=== End Post ===-->
