---
layout: blog/de/familie
title: "10.05.2025 HAM MUC JFK"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_2440.jpeg"
    alt: "Der Blick vom Huddson River in Richtung Manhatten"

overview:
  intro: "Der Wecker klingelte erbarmungslos um 4:15 Uhr. Warum so früh? Damit ich vielleicht noch einen früheren Flug erwische? Nette Idee, aber:"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_1988.jpg"
    alt: "Der A380 für meinen Flug von MUC nach JFK"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Servicewüste Deutschland. Keine Chance, den Flug umzubuchen oder einen besseren Sitz zu bekommen, ohne gleich tief in die Tasche zu greifen. Naja, immerhin war ich damit wach und startklar.
        </p>
        <p>
            Nach einem kurzen Abschied von Hamburg ging es um 8:45 in einem A320neo Richtung München. Die Aussicht beim Start war traumhaft: Marschlandschaft satt, Hafenglanz und erste Sonnenstrahlen. Sogar WLAN an Bord! Ein paar Fotos vom Münchner Flughafen im Vorbeiflug mussten natürlich auch noch sein. Und auch schön: Pünktliche Landung in MUC, sogar zehn Minuten zu früh.
        </p>
        <p>
            Von dort dann ein direkter Marsch zum Gate L24. Nur: 50 Meter vorm Gate – Überraschung! – nochmal eine Extra-Kontrolle von Lufthansa. Danach war’s dann aber ruhig. Keine Lounge, keine Sitzplätze, nur drei Automaten und ein überteuerter Mini-Kiosk. Echt jetzt?
        </p>
        <p>
            Boarding lief dafür problemlos. Sitz 65A im A380 – Fensterplatz und zum Glück war der Mittelplatz frei. Der Flug? Ruhig, fast schon entspannt. Nur über Kanada hatte der Vogel plötzlich Lust auf ein kurzes leichtes Rodeo. Genau in dem Moment, als ich das Notebook rausgeholt hatte, um ein wenig Buchhaltung zu machen. Klar, was sonst? :D
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Der Anflug auf New York war grandios – entlang von Long Island, mit Blick auf einen schier endlosen Strand. Wusstet Ihr, dass der A380 am JFK die Triebwerke abschaltet und sich von einem Truck ans Gate ziehen lässt? Hab ich vorher auch nicht gewusst.
        </p>
        <p>
            Die Einreise? Lang, aber unspektakulär. Der Beamte wollte nur wissen, wie lange ich bleibe und ob ich privat unterwegs bin. That’s it. ESTA sei Dank. Ich hatte vorher ein bisschen Sorge, weil bei meiner Adresse „Unknown“ stand. Im Internet gab’s da ja Gruselgeschichten... Aber es ging alles glatt. Auch der Koffer wartete schon – Zollkontrolle gab’s diesmal auch keine.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_2022.jpg" alt="Das Treppenhaus des The Flat NYC" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Die eSIM im Handy hatte ich schon 2 Tage vor dem Start online über die Nomad App für kleines Geld gebucht und eingerichtet, somit musste ich hier keine mehr suchen. Halb im Jetlag-Modus ging’s zu Fuß durch eine Großbaustelle zum AirTrain. Auf dem Weg hat’s dann auch gleich meinen Lieblings-Handyhalter geschrottet. Danke, New York, für den herzlichen Empfang ;)
        </p>
        <p>
            In der Jamaica Station dann Umstieg in die Linie E. Voll, laut, typisch NYC. Wegen Bauarbeiten fährt die Linie aktuell auf der Strecke der F – das war für mich sogar ein Vorteil, weil’s näher zum Hotel war. Kleines NYC-Bonuslevel.
        </p>
        <p>
            Angekommen im The Flat NYC in der 24th Street: Zimmer 303, dritter Stock, kein Aufzug. Ich schleppte also meinen schweren Koffer und den Fotorucksack keuchend die Treppe hoch – Sport für heute erledigt. Das Zimmer selbst? Winzig. Ein Doppelbett, Mini-Schreibtisch, Waschbecken. Der Koffer passte kaum irgendwo hin. Aber hey, es reicht.
        </p>
        <p>
            Danach: ein Bummel durch den Food & Crafts Market auf der 6th Avenue. Bankautomaten getestet: 4 Dollar bei der Bank of America? Nope. 3,50 bei der ID Bank? Na gut. Dann eben dort 100 Dollar geholt, man will ja nicht ganz mittellos dastehen. ;)
        </p>
        <p>
            Kulinarischer Abschluss: ein Philly Cheese Steak vom Straßenwagen an der Ecke 6th/32nd. Geschmack top, Brot eher meh. Preis? 15 Dollar. Willkommen in Manhattan.
        </p>
        <p>
            Ein kurzer Abstecher zu TJ Maxx (die Preise sind immer noch traumhaft), dann noch zu LEGO (in Dollar einfach günstiger!) und mit einem völlig überteuerten, aber irgendwie doch leckeren Mango-Shake durch den Madison Square Park geschlendert. Eichhörnchen inklusive – süß wie eh und je.
        </p>
        <p>
            Natürlich habe ich auch noch Fotos vom Flatiron gemacht. Oder besser gesagt: von dem Gerüst am Flatiron Gebäude. Ja, es ist immer noch eingerüstet – wie schon Weihnachten 2018. Irgendwann sehe ich es auch mal wieder ohne Baugerüst. Vielleicht.
        </p>
        <p>
            Gegen 19:00 ging’s zurück ins Hotel. Noch schnell bei Dunkin’s vorbei, ein wenig umgepackt, für den Zug nach D.C. vorbereiteen, nebenher einem Hörbuch lauschen  – und dann gegen 20:30 war Schluss. Die Augen fielen zu. Ab ins Bett.
        </p>
        <p>
            Morgen wartet Washington D.C. auf mich.
        </p>
    </div>

</div>
<!--=== End Post ===-->
