---
layout: blog/de/familie
title: "12.05.2025 Schuhe & Cops"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - USA
  - New York
  - Washington D.C.
  - Miami
  - Cape Coral
  - Tampa
  - Cape Canaveral
  - Orlando

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_DSC07847.jpg"
    alt: "Das Capitol in Washington D.C."

overview:
  intro: "Was für eine Nacht. Obwohl mein Handy über acht Stunden Schlaf anzeigte, fühlte es sich beim Aufwachen an, als hätte ich kaum ein Auge zugemacht."
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_2241.jpg"
    alt: "Ein Helikopter am Weißen Haus"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Ich war mehrmals wach geworden, lag unruhig im Bett und hatte mir gleich viermal einen Einschlaffilm angemacht – in der Hoffnung, noch etwas länger zu schlafen. Geholfen hatte es nur bedingt.
        </p>
        <p>
            Morgens fühlte ich mich wie gerädert. Immerhin: Kaffee und Haferflocken warteten schon auf mich. Die vertraute Routine tat gut. Und pünktlich um sechs startete mein Arbeitstag mit dem ersten Statusmeeting im Washingtoner Hoteloffice. Headset auf, Kamera an, lächeln – es funktionierte erstaunlich gut, auch wenn ich platt war.
        </p>
        <p>
            Nach dem Meeting stellte sich die Frage: Was nun? Die Sonne schien, das Wetter war traumhaft. Ich zog mir ne Jacke an, packte meinen Laptop ein und machte mich auf den Weg. Mit der Red Line fuhr ich zur Metro Center Station und lief von dort zu Fuß zum Café du Parc, einem kleinen französisch angehauchten Café ganz in der Nähe des Weißen Hauses.
        </p>
        <p>
            Dort gönnte ich mir einen großen Iced Decaf Latte und ein Schweineohr – sündhaft teuer, aber ehrlich gesagt auch verdammt lecker. Während ich draußen saß und arbeitete, passierte etwas völlig Unerwartetes: Plötzlich hörte ich das Dröhnen eines Helikopters, der direkt hinter mir im Garten des Weißen Hauses landete. Es war offenbar der Präsidenten-Heli – mitten während meines Produktionsmeetings. Washington D.C. eben.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Gegen Mittag machte ich mich auf den Weg – mein rechter Fuß machte schon seit Tagen Probleme, und ich brauchte dringend neue Schuhe. Mein erster Versuch bei TJ Maxx blieb erfolglos. Also entschied ich spontan, zur Tanger Outlet Mall rauszufahren, um dort in Ruhe nach passendem Schuhwerk zu suchen.
        </p>
        <p>
            Mittagessen holte ich mir unterwegs bei einem ägyptischen Foodtruck – ein Wrap mit gegrilltem Hähnchen, frisch zubereitet und wunderbar gewürzt. In der Mall wurde ich dann tatsächlich fündig: Bei Columbia entdeckte ich ein Paar bequeme, robuste Sneaker für unter 40 Euro. Ich zog sie direkt an und warf die alten Schuhe in den nächsten Mülleimer. Was für eine Erleichterung – endlich wieder stabil und ohne Schmerzen im Knöchel laufen zu können.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/DSC07859.jpg" alt="Wandbild von Mutter Natur mit Höhe von über 10 Etagen" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Ich schlenderte noch durch ein paar andere Läden, sah viele schöne Dinge, aber kaufte nichts weiter. Danach ging es zurück in die Stadt. Ich stieg am Smithsonian Air and Space Museum aus, hätte gern noch einen kurzen Abstecher hienein gemacht. Leider benötigte man ein kostenloses Online-Ticket – und die waren für heute bereits vergriffen. Also blieb es beim Blick von außen.
        </p>
        <p>
            Ich lief weiter in Richtung Capitol. Überall auf der National Mall wurden Bühnen aufgebaut, Stühle aufgestellt und Technik installiert. Morgen sollte hier die Candlelight Vigil stattfinden – eine Veranstaltung zum Gedenken an im Dienst getötete Polizistinnen und Polizisten. Teil der National Police Week, die gerade in der Stadt stattfand. Ich hatte das Gefühl, mich in der sichersten Stadt der Welt zu befinden: Überall sah man Uniformen, fast jede zweite Person schien Polizistin oder Polizist zu sein – aktiv oder im Ruhestand. Die Polizeiwagen an jeder Straßenecke verstärkten diesen Eindruck.
        </p>
        <p>
            Ich machte ein paar Fotos vom Capitol und sprach mit einem Officer, der mir erklärte, dass es öffentliche Führungen gäbe – auch für internationale Besucher. Man könne sich sogar auf die Besuchertribüne des Senats setzen, müsse dafür aber vorher bei einem Senatsbüro anfragen. Da dort oben jedoch keine Kameras erlaubt seien, verschob ich das lieber auf einen anderen Tag.
        </p>
        <p>
            Mein Weg führte mich weiter in Richtung Supermarkt, vorbei an mehreren Gerichtsgebäuden, durch Chinatown und – natürlich – an unzähligen weiteren Polizisten. In einem kleinen Park an der Ecke der 6th Street Historic Synagogue entdeckte ich plötzlich ein Dudelsack- und Trommel-Ensemble mit elf Personen. Sie probten dort ganz öffentlich – vermutlich ebenfalls Teil der Police Week. Ich setzte mich eine Weile auf eine Bank, ließ die Musik auf mich wirken und verschnaufte ein wenig. Es war ein ganz besonderer Moment.
        </p>
        <p>
            Auf dem Rückweg knipste ich noch ein oder zwei Fotos – unter anderem von einem riesigen Wandbild mit dem Titel Mother Nature. Wunderschön. Das würde ich mir gern irgendwann groß ausdrucken lassen. Lebensmittel holte ich schließlich bei Safeway, danach ging es mit Lyft zurück ins Hotel. Zum Abendessen machte ich mir Toast mit Hähnchen und Käse. Dazu eine Folge Navy CIS – was sonst an einem Tag wie diesem – und dann war ich auch schon wieder reif fürs Bett.
        </p>
        <p>
            Bis morgen.
        </p>
    </div>

</div>
<!--=== End Post ===-->
