---
layout: blog/de/familie
title: "05.06.2025 USA Epilog"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - USA
  - New York
  - Washington D.C.
  - Miami
  - Cape Coral
  - Tampa
  - Cape Canaveral
  - Orlando

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_2440.jpeg"
    alt: "Der Blick vom Huddson River in Richtung Manhatten"

overview:
  intro: "Die Koffer sind ausgepackt, der Jetlag in vollem Gange und die Erinnerungen noch ganz frisch. Dreieinhalb Wochen USA liegen hinter uns"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_2623.jpg"
    alt: "Steffi und Ich auf dem Dach des Pier 57 Gebäudes mit Blick richtung Downtown Manhatten"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} – voller Eindrücke, Begegnungen, Lieblingsmomente und ein paar kleinen Herausforderungen. Zeit für einen Rückblick. Für uns. Und für Euch.
        </p>
        <p>
            Wir sind im Schnitt 10 Kilometer pro Tag zu Fuß gelaufen – durch Großstadtstraßen, Themenparks und tropische Küstenregionen. Immer mit offenen Augen, oft mit Kamera in der Hand, manchmal mit leicht schmerzenden Füßen, aber immer mit Freude.
        </p>
        <h2 class="margin-top-15">
            Zwischen Sirenen, Alligatoren und Raumfahrt
        </h2>
        <p>
            Ein paar Dinge haben sich besonders eingebrannt: Die Police Week in Washington, D.C. war einer meiner ganz persönlichen Höhepunkte. Überall Polizei und deren Autos. Ein schöner Überblick über die die uns jeden Tag beschützen, wirklich schön zu sehen.
        </p>
        <p>
            Die Flugshow am Strand von Miami Beach war ein echtes Spektakel: Jets, Hubschrauber und Tankflugzeuge im Tiefflug über türkisfarbenem Wasser – Gänsehaut pur. Und dann natürlich die Alligatoren in den Everglades, diese faszinierenden Urzeittiere in freier Natur zu sehen, war atemberaubend.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Nicht zu vergessen: Unser Besuch bei der NASA in Cape Canaveral. Für mich war Raumfahrt kein großer Kindheitstraum – aber die Technologien hinter Raumflügen, Marsrovern und Satelliten haben mich immer schon fasziniert. In Cape Canaveral spürt man die Größe menschlicher Ingenieurskunst. Und das inspiriert was wir alles schaffen können, wenn wir nur wollen.
        </p>
        <p>
            Natürlich lief nicht alles rund. Eine hartnäckige Erkältung hat mich einige Tage in New York begleitet. Und der Tag im Disney Magic Kingdom – mit endlosen Wartezeiten bei heißen Temperaturen – war eher ein Pflichtbesuch als ein Vergnügen. Aber hey, auch das gehört dazu.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive margin-bottom-10  img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_9406.jpg" alt="Pluto im Disney Magic Kingdom in Orlando" />
        </div>
    </div>
    <div class="col-md-6">
        <h2 class="margin-top-15">
            Steffi zwischen Broadway und Sumpflandschaft
        </h2>
        <p>
            Für Steffi war es eine Reise mit vielen Kontrasten. Sie kam erst eine Woche später in den USA und meinen Armen an. New York fühlte sich für sie diesmal nicht mehr ganz so sicher an wie früher. Trotzdem hat sie das meiste gesehen, was sie wollte. Und auch wenn NYC für sie erstmal abgehakt ist – irgendwann zieht es sie bestimmt nochmal dorthin zurück.
        </p>
        <p>
            Florida war auch ein Highlight für sie: die Everglades, das Licht, die Weite – einfach schön. Beim Shopping gab’s dagegen einen kleinen Dämpfer: Die Outlets sind deutlich teurer geworden. „Eigentlich kann man nur noch bei Ross, TJ Maxx oder Marshalls wirklich günstig einkaufen“. Gefunden haben wir aber trotzdem ein paar tolle Klamotten.
        </p>
        <p>
            Ein echtes Glanzlicht war für sie das Hugh Jackman Konzert "From New York With Love" in der Radio City Music Hall – und als ob das nicht schon genug gewesen wäre, hat Steffi ihn ein paar Tage zu vor auch noch auf der Straße getroffen. Dazu entspannte Stunden im Central Park – Sonne, Ruhe, Natur mitten in der Metropole.
        </p>
        <p>
            Aber auch sie hatte ihre Lowlights: Das teilweise kalte Wetter in New York war unerwartet. Der überlaufene, überteuerte Disney-Tag in Orlando ebenfalls. Und der Rückflug? Für Steffi besonders anstrengend – viel Übelkeit, wenig Komfort.
        </p>
        <h2 class="margin-top-15">
            Fazit: Ein Abenteuer in Etappen
        </h2>
        <p>
            Unsere Reise begann mit einer Woche allein in Washington, D.C. – für mich eine wertvolle Zeit voller Geschichte, ein wenig Arbeit, Erlebnisse und persönlicher Eindrücke. Danach ging es zu zweit weiter: New York, Florida – von der Ostküste bis an den Golf von Mexiko oder doch der Golf von Amerika. Wer weiß das schon. Zeit zum Verschnaufen war selten, aber das war bewusst so angelegt. Und wir haben genug Stoff für mehrere Alben voller Erinnerungen gesammelt.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Orlando und die Resort-Area – für Steffi abgehakt, muss nicht nochmal sein. Für mich war’s spannend, aber nicht unvergesslich. Dafür haben sich andere Orte tief ins Herz gebrannt: Cape Coral, mit seinen Kanälen und dem Haus mit eigenen Pool und der Strand im Fort De Soto Park mit seinen Beach- und Picknick-Vibes.
        </p>
        <p>
            Jetzt, zurück zu Hause, bleibt das Gefühl: Wir haben unglaublich viel erlebt. Die Reise war intensiv, emotional, anstrengend, manchmal entspannt aber vor allem schön. Nicht perfekt – aber ich würde nichts anders machen.
        </p>
        <p>
            Danke, dass Ihr virtuell mitgereist seid. Fürs Mitfiebern, Mitlesen, für all Eure Nachrichten und Reaktionen. Jetzt genießen wir erstmal ein langes Pfingstwochenende und freuen uns auf das, was kommt. Vielleicht ist es ja bald wieder Zeit für ein neues Kapitel. Die nächsten Reisen sind bereits in Planung.
        </p>
        <p>
            Bis bald!
        </p>
    </div>

</div>
<!--=== End Post ===-->
