---
layout: blog/de/familie
title: "16.05.25 Immer noch nicht da"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - USA
  - New York

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_2440.jpeg"
    alt: "Der Blick vom Huddson River in Richtung Manhatten"

overview:
  intro: "Heut geht es los. Die USA rufen, um 04.20 aufgewacht, also eine Stunde vor dem Wecker. Ganz schön nervig, aber ich bin hochgeschreckt mit dem"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_7694.jpg"
    alt: "Der Abflugmonitor in MUC mit Hinweis auf den Flug nach JFK"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            Basti's Post für den heutigen Tag habt Ihr ja schon gelesen. Hier kommt meiner:
        </p>
        <p>
            {{ page.overview.intro|raw }} Gedanken „oh Gott, ich hab verschlafen“. Es war auch schon hell, aber der Wecker zeigte, dass ich noch Zeit habe. Noch ein paar mal nach links und recht gedreht, aber einschlafen ging nicht mehr. Also ab unter die Dusche und diese dafür extra lange genossen. Ich war soweit fertig und ein Blick aus dem Fenster zeigte, dass das Taxi überpünktlich um 06.08 Uhr da war. Um 06.39 war ich dann auch schon am Flughafen und bin fix zum Lufthansa Sperrgepäck Schalter, um mir meine Bordkarten zu holen. Diese hat die blöde App leider nicht ausgespuckt, so dass ich dieses Mal auf Papier angewiesen war. Gar nicht nervig!
        </p>
        <p>
            Die Schlange an der Security war sehr kurz, so dass ich um 06.52 schon durch war und direkt die Star Alliance Lounge angesteuert und es mir dort mit einem Tee gemütlich gemacht habe. So eine Stunde kann ganz schön zäh sein, da kann der Rest vom Tag ja ganz schön übel werden, wenn das weiterhin so läuft mit der Zeit.
        </p>
        <p>
            Kurz vor 8h machte ich mich auf zum Gate und auch hier lief alles reibungslos. Das Boarding startete pünktlich um 08.15 Uhr. Leider wurde meine Gruppe als letztes  reingelassen.
            Werd ich nie verstehen - von hinten nach vorne wäre doch viel sinnvoller.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Am Gate traf ich auch auf den DRK Typen, der Jackie ans falsche Gate geliefert hat. Er erinnerte sich sogar noch an mich. Darauf konnte ich nun wirklich verzichten.
            Um 08.52 Uhr ist Pushback, wir sollten also pünktlich ankommen. Dem ist auch so, denn wir landen schon um 09.55 Uhr in München. Das aussteigen ging wirklich gesittet vonstatten, so dass ich schon im 10.21 Uhr beim Transferzug zum nächsten Terminal war.
        </p>
        <p>
            Fix die nächste Pass/Bordkarten Kontrolle passiert und glatt rausgezogen für einen zusätzlichen Securitycheck. Dabei hatte ich doch 2 min vorher im Bad alles neu sortiert fürs Flugzeug und nun doch nochmal alles auspacken. Verdammt!
            Wie sagte die Dame an der Passkontrolle „es tut mir leid, sie haben die Zufallenskarte gezogen“
            Dafür war das fix erledigt gewesen, alles durfte mit durch, auch die Getränke.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_7700.jpg" alt="Der viele Platz für Steffi alleine" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Ich steuerte gleich das Gate an um zu klären, ob ich von Fenster auf Gang wechseln könnte. Die Antwort kam prompt: Aber natürlich, wenn sie möchten. JAAAA!
        </p>
        <p>
            Hier hinten am Gate ist, wie Basti ja schon ankündigt hatte, nichts. Es blieb daher nur das dumm rumsitzen, was leider noch länger dauerte als geplant. Wir hatten Verspätung, das Boarding startete erst mit knapp 30 min. Verzögerung, da die „vorbereitenden Maßnahmen noch nicht abgeschlossen waren“.
            Um 12.08 Uhr bin auch ich mit meiner Gruppe 6 dran mit Boarding. Ob der Platzwechsel gut war?!? Von 82A auf 60H.
            Hab zwar ganz viel Beinfreiheit, aber dafür nen schmalen Sitz und keine Lehne zum hochmachen. Ach ja und direkt die Bordküche bei mir.
            Ach ja und nix Strom. 😵‍💫
        </p>
        <p>
            Dafür alle 3 Sitze frei. Kann also wechseln wohin ich will. Gang, Mitte, Fenster… na mal schauen, was das wird.
            Um 12.35 Uhr Pushback, 12.50 Uhr geben wir auf der Startbahn Gas.
            Kaum oben gibt es auch schon die ersten Drinks und Knabbereien. Gleich darauf folgt das Essen. Vorab wie fast immer die extra bestellten. Somit auch meins. Asiatisch-vegetarisch. Undefinierbar aber sonst ganz ok.
        </p>
        <p>
            15.34 Uhr. Während ich gleich beim Einstieg hätte einschlafen können, was aber nicht ging, da ja quasi sofort das Essen kam, bin ich nun mehr oder weniger wach. Vor allem aber ist es mächtig kalt. Hab sogar freiwillig diese ekeligen Decken übergelegt. Nun les ich also und hoffe, dass die Zeit ein wenig schneller läuft.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            17.06 Uhr und immer noch nicht da. Mittlerweile hab ich ich meine Beine in 2 Decken gewickelt. Himmel, hier sitzen alle in mehr als einer Decke. Liegt also nicht nur an mir.
        </p>
        <p>
            17.58 Uhr ich füll mich wie im Film. Es kommt die Ansage von Captain „wir haben einen medizinischen Notfall an Bord, sollte ein Arzt oder Ärztin an Bord sein, Ausdrücklich Arzt oder Ärztin, bitte umgehend beim nächst gelegenen Kabinenpersonal melden“
            Ooooooook?!
        </p>
    </div>
    <div class="col-md-6">

        <p>
            18.59 Uhr irgendwo über Kanada. Außentemperatur -60 Grad. Bisher waren es immer um die -40 Grad. Im Flieger fühlt es sich nicht unbedingt besser an und die Reisezeit beträgt immer noch 1 Stunde und 35 Minuten.
        </p>
        <p>
            20.03 Uhr kommt endlich die Ansage, dass man sich für den Landeanflug fertig machen soll, in 40 min wären wir da, inkl. der Ansage ein Gewitter zieht gerade über JFK und es sind nur 17 Grad. Na fein!
        </p>
        <p>
            Im Landeanflug lief durch Zufall „Where The Stars And Stripes The Eagle Fly“ von Aaron Tippin (<a href="https://open.spotify.com/intl-de/track/1tTZM7LUDkxcykOVVIGW4W?si=df2eb23912554227" target="_blank">In Spotify anhören</a>) auf meinen Kopfhörern.  Passender geht nicht. Das Lied gehört seit unserer Reise durch Kalifornien und Nevada in 2022 zu mir.
        </p>
        <p>
            Um 14.39 Uhr (6 Stunden zurück) endlich die Landebahn berührt, weit kamen wir aber nicht, denn diverse Flieger kreuzen die Bahn, so dass wir noch dumm rumstanden, bevor wir weiter rollen konnten. Kurz vor dem Gate wurden dann die Maschinen abgestellt und die restlichen Meter wurden wir gezogen.
            Währenddessen habe ich die eSIM in meinem Handy gestartet und festgestellt, dass ich von diversen Leuten via Flightradar verfolgt wurde. 👀 Da fühlt man sich gar nicht verfolgt.
        </p>
        <p>
            Um 15.10 Uhr an der Passkontrolle, nicht mal 10 Leute vor mir, Check beim netten Officer und um 15.24 Uhr war ich offiziell in den Vereinigten Staten von Amerika.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_7718.jpg" alt="Das günstige Obst in NYC am Straßenstand" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Wenige Schritte später hatte ich dann wieder den Basti bei mir und wir fuhren zum Hotel. Kurz vor dem Hotel holten wir an einem Stand noch frisches Obst für wirklich wenig Geld. 4 Bananen gerade mal 1$ und die Schale Erdbeeren auch nur 2$. Das ging doch schon mal gut los. Nach kurzem sortieren auf dem Zimmer und frisch machen, machten wir uns auf zum Chelsea Market. Hier gab es bei Takumi Taco lecker Abendessen, bis es dann zurück zum Hotel ging. Hier fiel ich um 21.06 Uhr ins Traumland und schlief mit einer kurzer Unterbrechung bis ca 07.00 Uhr durch.
        </p>
    </div>
</div>
<!--=== End Post ===-->
