---
layout: blog/de/familie
title: "31.05.2025 Ein Hauch von Disney"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - USA
  - Orlando

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_9192.jpg"
    alt: "Nur wenige mm hohe figuren von Mickey Mini und Pluto"

overview:
  intro: "Heute haben wir erstmal richtig ausgeschlafen. Das tat gut nach den intensiven Tagen zuvor. Zum Frühstück ging es dann zu Keke’s, wo wir nur"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_9136.jpg"
    alt: "Der riesige Stitch über den Eingang des Disney Stores. Achtung er verspritzt Wasser"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} knapp zehn Minuten warten mussten, bis wir einen Tisch bekamen. Wir teilten uns eine Combo: Ich hatte zwei riesige Pancakes, üppig getoppt mit frischem Obst. Steffi bekam ein Omelett, das eigentlich mit Hash Browns kommen sollte – stattdessen gab’s dann aber Bratkartoffeln (Frühstück à la Florida eben). Dazu wurde ein kleiner, aber richtig leckerer Joghurt mit Obst und Granola gereicht. Alles war superfrisch und sehr lecker.
        </p>
        <p>
            Nach dem Frühstück ging’s auf eine kleine Shoppingrunde – drei Ross-Filialen und ein Marshalls standen auf dem Programm. Am Ende landete immerhin ein Hemd für mich in der Tüte. Steffi telefonierte noch per Video mit Sonja, um ein neues Portemonnaie für sie zu finden, aber leider hatten wir damit kein Glück.
        </p>
        <p>
            Weiter ging es dann zur Orlando International Premium Outlets Mall. Die ist riesig – aber irgendwie auch ziemlich teuer, und leider fanden wir nichts, was uns wirklich gefiel. Also ab zurück ins Hotel.
        </p>
        <p>
            Kaum im Zimmer angekommen, fiel ich einfach aufs Bett – und war sofort eingeschlafen. Zwei Stunden Tiefschlaf, aber leider nicht wirklich erholsam. Ich fühlte mich danach eher noch fertiger als vorher. Steffi nutzte die Zeit am Handy, während ich selig schnarchte.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Trotz Müdigkeit entschieden wir uns am Abend spontan noch, Disney Springs zu besuchen – eine belebte Vergnügungsmeile im Disney-Stil. Sobald wir dort waren, war die Erschöpfung wie weggeblasen. Überall Shops mit Disney-Produkten – von klassischer Kleidung über Kristall-Disney-Schlösser bis hin zu ganzen Kunstwerken aus Holz. Auch die Restaurants waren wunderschön und liebevoll gestaltet, selbst wenn sie keinen direkten Bezug zu Disney hatten.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_9183.jpg" alt="Hier wird gerade Pluto für uns gezeichnet" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Ein besonderes Highlight war der Moment, als wir uns eine Pluto-Zeichnung anfertigen ließen – extra für uns. Eigentlich sollte das Bild erst am nächsten Tag gemalt werden, aber wir konnten die Zeichnerin tatsächlich überreden, es vorzuziehen und direkt heute Abend für uns zu zeichnen. Bis sie mit dem Bild anfing, bummelten wir solange durch die außergewöhnlich gestalteten Lokale und Cafés.
        </p>
        <p>
            Zur Überbrückung der Wartezeit gönnten wir uns noch einen übergroßen Donut und Wasser an einem Foodtruck mit Stitch-Design – Stitch war sowieso gerade allgegenwärtig, weil vor ein paar Tagen der neue Film in die Kinos kam.
        </p>
        <p>
            Als wir wieder bei der Zeihnerin ankamen, war unser Pluto schon halbfertig und wir konnten bestaunen wie schnell und Kreativ die Dame an die Sache ran ging. Nachdem die Zeichnung fertig war, fiel es uns schwer, nicht auch noch den passenden Disney-Bilderrahmen dazuzukaufen – leider sprengte der unser Budget und war nur in Schwarz erhältlich. Auf dem Rückweg zum Auto blieben wir dann noch an einem Kristall-Disney-Shop hängen. Ein echter Fehler. Oder auch nicht. Steffi verliebte sich in einen kleinen Glas-Weihnachtsbaum, der Platz für zwölf Mini-Glaskugeln bietet – jede mit einer anderen Disney-Figur bedruckt. Und natürlich nahmen wir ihn mit. Eine schöne Erinnerung mehr für unser Zuhause.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Wieder zurück im Hotel war es längst nach Mitternacht. Um 1:22 Uhr stellten wir den Wecker auf sieben Uhr – und fielen hundemüde ins Bett. Leider wurde Steffi gegen 3 Uhr nochmal wach, geplagt von hartnäckigem Husten. Hoffentlich wird das nicht schlimmer.
        </p>
        <p>
            Gute Nacht und bis morgen.
        </p>
    </div>

</div>
<!--=== End Post ===-->
