---
layout: blog/de/familie
title: "09.01.2026 Fluchtartiger Aufbruch"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Indonesien
  - Bali
  - Ubud
  - Kubu

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/besakih.jpg"
    alt: "Die Mutter aller Tempelanlagen auf Bali. Pura Besakih"

overview:
  intro: "Erstaunlicherweise habe ich durchgeschlafen. Zumindest kann ich mich an kein Wachsein erinnern. Wahrscheinlich hat mein Körper sich einfach gesagt:"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_2152.jpg"
    alt: "Die Zimmernummer für den Privat-Pool Bungalow mit fettem dreck oben drauf"

add_css:
  - /assets/plugins/owl-carousel/owl-carousel/owl.carousel.css
  - /assets/plugins/owl-carousel/owl-carousel/owl.theme.css
  - /assets/css/owl.carousel.css
  - /assets/plugins/fancybox/source/jquery.fancybox.css

js:
  scripts:
    - /assets/plugins/owl-carousel/owl-carousel/owl.carousel.js
    - /assets/js/plugins/owl-carousel.js
    - /assets/plugins/fancybox/source/jquery.fancybox.pack.js
    - /assets/js/plugins/fancy-box.js
  run_code:
    - OwlCarousel.initOwlCarousel();
    - FancyBox.initFancybox();
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} „Nicht wach werden – du schläfst sonst nicht wieder ein und bekommst nur Kopfkino.“
        </p>
        <p>
            Geweckt wurde ich schließlich davon, dass mir etwas über den Arm lief. Wieder einmal irgendein Krabbelvieh. Die Seite neben mir war allerdings schon leer. Da er auf Rufen nicht reagierte, schickte ich eine Nachricht. Als Antwort kam nur: „Bin im Bad und dokumentiere.“ Öhm … ok?!
        </p>
        <p>
            Wie sich herausstellte, hat Basti die Nacht über quasi gar nicht geschlafen. Bei Tagesanbruch hat er angefangen, die Mängel in der Villa zu dokumentieren und dabei auch beschlossen, dass wir ausziehen. Dagegen hatte ich absolut nichts. Ich fühlte mich hier mehr als unwohl. Also schnell angezogen und ab zur Rezeption. Wir mussten schließlich klären, was wir tun können – wir hatten immerhin „nicht stornierbar“ über Booking.com gebucht.
        </p>
        <p>
            Zusammen mit meinen Bildern und auch denen von Basti machten wir uns also über die eigentlich total schön angelegte Anlage auf den Weg zur Rezeption. Währenddessen beratschlagten wir noch einmal, was wir tun würden, wenn man uns eine andere Villa anbieten sollte. Schnell waren wir uns einig: keine Chance. Der Zug war abgefahren. Wir wollten den restlichen Urlaub ohne böse Gedanken genießen.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Auf dem Weg unterhielten wir uns noch mit einer älteren Dame aus England. Sie erzählte von ihrem Zimmer am Pool, das angeblich 5-Sterne-Hilton-Standard haben soll und wohl brandneu ist. Vielleicht hatten wir dieses Mal einfach nur Pech. Trotzdem fragt man sich dann, warum man eine Villa in diesem Zustand überhaupt vermietet.
        </p>
        <p>
            An der Rezeption bediente uns eine junge Dame, die gefühlt von Minute zu Minute ruhiger und blasser wurde, während wir unsere Erlebnisse schilderten. Zu unserer großen Überraschung konnten wir ohne Probleme abreisen – und das komplett ohne Bezahlung. Nicht einmal für die eine Nacht, die wir hier gewesen waren. Man würde uns eine Bestätigung für Booking vorbereiten, dass wir weder für die Nacht noch für die restliche Zeit etwas bezahlen müssen, und dann könnten wir das Hotel verlassen.
        </p>
    </div>

    <div class="col-md-12">
        {% include 'owl-carousel-v4.html.twig' with {
            'additionalContainerCss': 'margin-bottom-10 margin-top-10',
            'imageBasePath': '/assets/img/blog/2025-vietnam-bali/',
            'images': {
                'IMG_2149.jpg': 'Die komplett verkeimten Düsen des Whirlpools. Den kann man so doch gar nicht genießen.',
                'IMG_2154.jpg': 'Jeder Vorhang sa so aus',
                'IMG_2162.jpg': 'An mehreren Stellen war die Wand schimmlig. Das Dachh sah auch nicht besser aus',
                'IMG_2165.jpg': 'Die Polster waren zwar heil aber jedes hatte Flecken. Dies ist noch eins der besseren',
                'IMG_5970.jpg': 'Der Duschkopf war eine Zumutung. Die wenigen Strahlen die es noch gab hatten zu viel Druck und waren Schmerzhaft.',
                'IMG_5972.jpg': 'Der Fußboden im Lounge Bereich über der Dusche. Nicht nur defekt sondern auch überall Dreck. Siehe Bildränder.',
                'IMG_5974.jpg': 'Das Stand neben dem Tisch im Lounge Bereich. Keine Ahnung was das ist aber es stand vor Dreck und Staub!',
                'IMG_5994.jpg': 'Diese kleinen Schwarzen Punkte kamen aus der Klimaanlage und flogen direkt ins Bett. So sah es 5 min nach dem Einschalten aus.',
                'IMG_5996.jpg': 'Die Nachttischlampe aus Stein. Defekt',
            }
        } %}
    </div>

    <div class="col-md-12">
        <p>
            Außerdem überließen wir ihnen auf Wunsch unsere Bilder und Videos. Inzwischen standen dort schon zwei oder drei weitere Mitarbeiter vom Personal, und man versprach uns, umgehend mit dem Service Manager wegen der Villa zu sprechen.
        </p>
        <p>
            Die Bestätigung brauchte allerdings eine Weile. Also gingen wir erst einmal zurück zur Villa, um unsere Sachen wieder einzupacken. Dabei stellte sich natürlich sofort die nächste Frage: Was machen wir jetzt eigentlich? Etwas anderes in Ubud suchen – oder …?
            Das „oder“ war ziemlich schnell geklärt. Wir wollten zurück ins Siddhartha Oceanfront Resort &amp; Spa. Dort fühlten wir uns wohl, alles war sauber und das Personal einfach großartig.
        </p>
        <p>
            Auf der Homepage des Resorts checkten wir die Verfügbarkeit und wollten direkt buchen. Leider funktionierte das nicht, weil die Vorlaufzeit von „sofort“ zu kurz war. Also aktivierte Basti seine deutsche SIM-Karte und rief direkt im Hotel an. Anfangs hatten wir Schwierigkeiten, bei der richtigen Person zu landen. Als wir endlich durchkamen, erzählten wir, wer wir sind, und fragten, ob Barbara vielleicht in der Nähe sei.
            Diese muss ihren Namen zufällig im Vorbeigehen gehört haben – denn plötzlich war sie am Telefon. Von uns kam nur: „Hol uns hier raus, rette uns!“ Nach einer kurzen Erklärung versprach sie sofort, uns einen Fahrer zu schicken. Wir tauschten noch einmal die Nummern für den Notfall und auch für den Fahrer aus und verabschiedeten uns.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_2169.jpg" alt="Eine der kleinen Einkaufsgassen mit viel Nippes" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Wir hatten nun ungefähr drei Stunden Zeit.
            Basti duschte noch einmal schnell, da ihm die Suppe lief, während ich die Reste in die Koffer schmiss. Insgeheim hofften wir natürlich, dass wir uns aus der Villa kein Viehzeug eingefangen hatten und es nun mitschleppten.
            Dann ging es zurück zur Rezeption.
            Dort bezahlten wir noch unser Abendessen und die Tanzshow, bekamen die Bestätigung für Booking und ließen anschließend erst einmal unsere Koffer dort stehen.
            Wir hatten ja noch Shopping-Pläne für unsere Zeit in Ubud, die nun kurzfristig und vor allem im Schnelldurchgang erledigt werden mussten.
        </p>
        <p>
            Da wir auch auf das Frühstück verzichtet hatten, gingen wir zunächst in den gegenüberliegenden Supermarkt und nahmen anschließend ein Grab-Taxi ins Zentrum von Ubud. Dort schlenderten wir durch die Einkaufsstraße und steuerten gezielt den Juwelier an, in dem wir schon 2022 gewesen waren. Damals durfte ich mir dort bereits schicke Ohrringe aussuchen, die mir sehr gut gefielen und die ich auch wirklich gut vertrage. Ich brauchte also Nachschub.
        </p>
        <p>
            Wir waren bestimmt 30–40 Minuten in dem Laden und kauften einiges ein – unter anderem eine Kette mit passendem Anhänger zu den Ohrringen von 2022. Bezahlt habe ich natürlich wieder nicht. Hab dich lieb, mein … (Geheim)! 😉
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Nachdem dieser absolute Pflichtpunkt erledigt war, zogen wir weiter durch die nächste Straße und genossen, dass es dank der frühen Uhrzeit noch relativ leer war. Eigentlich stehen wir gar nicht so auf Nippes. Aber dieses Mal wurden wir schon wieder schwach – oder besser gesagt: Basti. Drei weitere Buddha-Figuren, die Teelichter halten, dürfen nun mit nach Deutschland reisen. Dafür fliegt zu Hause mein alter Kerzenleuchter raus.
        </p>
        <p>
            Unser Weg führte uns anschließend in die Markthalle, die wir ebenfalls schon vom letzten Mal kannten. Dort war inzwischen deutlich mehr Betrieb, und mich zog es relativ schnell wieder nach draußen – zurück in die etwas ruhigeren Nebenstraßen.
            Da wir nun doch noch ein wenig länger im Resort bleiben würden, hätte ich gern so eine typische Schlappershorts gehabt. Die meisten waren allerdings entweder viel zu kurz oder zu klein. Auf dem Markt hatte ich allerdings eine gesehen, die mir gefiel – nur leider war sie ziemlich lang. Der Gedanke an diese Hose ließ mich aber nicht mehr los.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            Also beschloss ich: Ich kaufe sie einfach und schneide sie später ab. Sie musste ja nicht ewig halten – Hauptsache bequem und für die Zeit am Meer ausreichend. Wenn sie länger hält, umso besser. Also noch einmal zurück zum Markt, Stand gesucht, schnell anprobiert und kurz verhandelt. Die Hose ging schließlich für den fairen Preis von umgerechnet 5 Euro mit.
        </p>
        <p>
            Danach gönnten wir uns in einem Restaurant erst einmal ein paar Drinks zum Abkühlen. Die Luftfeuchtigkeit hier ist doch noch einmal eine ganz andere als am Meer. Langsam mussten wir uns allerdings auch wieder auf den Rückweg machen, denn unser Abholdienst müsste bald eintreffen.
        </p>
        <p>
            Also wieder ein Grab-Taxi gerufen und zurück zum ARMA Museum & Resort. Dort warteten wir keine 20 Minuten, bis Made – unser bisheriger Fahrer – ankam. Ich glaube, weder Basti noch ich haben uns jemals so über ein Wiedersehen mit einem Fahrer gefreut. (Yuda natürlich ausgenommen!)
        </p>
        <p>
            Anmerkung Basti: Steffi hat sich noch nie so über jemanden gefreut, dem sie fast mal ins Auto gekotzt hat. LOL.
        </p>
        <p>
            Nach viel Gelächter, dicken Umarmungen und einer kurzen Erklärung, was eigentlich passiert war, wurden die Koffer verladen – und schon ging es los. Dieses Mal führte die Fahrt durch die Berge. Vorsichtshalber hatte ich natürlich wieder einen Anti-Kotz-Drops genommen, und alles ging gut.
        </p>
    </div>

    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_2170.jpg" alt="Der Eingang zum Arma Museum & Resort" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Leider kam es unterwegs wieder zu regelrechten sintflutartigen Regenfällen. Aber das war uns egal – schließlich ging es „nach Hause“. Die Landschaft war stellenweise wirklich wunderschön. Schade, dass das Wetter überhaupt nicht mitspielte. Teilweise stand die Straße komplett unter Wasser, und an einigen Stellen hatten sich schon kleine „Lawinen“ aus Schlamm, Ästen und Blättern gebildet.
        </p>
        <p>
            Zwischendurch musste ich an die Worte von Yuda denken: „Die Fahrt durch die Berge ist gefährlich bei Regen, wir fahren außen herum.“ Ja, diese Worte konnte ich nun absolut nachvollziehen – vor allem bei diesem Wetter. Aber sollte es einmal schön sein, ist diese Strecke bestimmt traumhaft. Das schreit definitiv nach einer Wiederholung.
            Entsprechend lange dauerte die Fahrt wieder. Aber irgendwann kamen wir an – und wurden strahlend lachend begrüßt.
        </p>
    </div>

    <div class="col-md-6 overflow-h margin-top-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_6014.jpg" alt="Regen und mit Dreck üperspühlte Straßen" />
        </div>
    </div>

    <div class="col-md-6">
        <p>
            Die Begrüßung im Hotel fiel wieder unglaublich herzlich aus und bestand vor allem aus sehr viel Gelächter. Viele Gäste, kommen schon seit vielen Jahren immer wieder. Aber niemand hat es bisher geschafft, innerhalb eines einzigen Tages wieder zurückzukommen.
        </p>
        <p>
            Ihr könnt euch also vorstellen, dass wir in den nächsten zwei Tagen – bis wirklich jeder, ob Personal oder Gäste, die Story kannte – ein beliebtes Gesprächsthema sein werden.
        </p>
        <p>
            Wir bekamen wieder unsere „alte“ Villa und freuten uns einfach, wieder hier zu sein. Als Erstes ging es allerdings direkt unter die Dusche und die Klamotten landeten in den Wäschesäcken. Wir hatten beide das starke Gefühl: Alles ist dreckig – wir inklusive.
        </p>
        <p>
            Den Nachmittag verbrachten wir dann ganz entspannt mit vorm Bungalow liegen, Pool und Drinks an der Bar. Zwischendurch ging Basti noch zur Tauchbasis und buchte sich natürlich direkt einen weiteren Tauchgang für morgen.
        </p>
        <p>
            Abends gönnten wir uns wieder ein gemütliches Essen im Restaurant des Hotels und gingen danach – glücklich und entspannt – noch einmal frisch geduscht (doppelt hält besser) in ein sauberes Bett.
        </p>
        <p>
            Gute Nacht.
        </p>
    </div>

</div>
<!--=== End Post ===-->
