---
layout: blog/de/familie
title: "08.01.26 Buddhas Bratapfel auf Bali"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Indonesien
  - Bali
  - Kubu

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/besakih.jpg"
    alt: "Die Mutter aller Tempelanlagen auf Bali. Pura Besakih"

overview:
  intro: "Manchmal beginnt ein Reisetag tropisch – und endet nach Bratapfel duftend. Heute hieß es erst einmal: „Tschüss Siddhartha, hallo Yuda – und"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_2018.jpg"
    alt: "Einer der ältesten Teile des Pura Besakih"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} auf nach Ubud.“
        </p>
        <p>
            Vor der Abreise stand jedoch noch ein letztes Frühstück im Siddhartha Oceanfront Resort & Spa an. Gepackt hatten wir bereits am Vorabend, sodass nach dem Frühstück nur noch die letzten Kleinigkeiten in die Koffer wandern mussten.
        </p>
        <p>
            Pünktlich um 9:30 Uhr stand auch schon der Kofferservice auf unserer Terrasse. Mit einem weinenden Auge verließen wir diesen besonderen Ort direkt am Meer.
            In der Lobby wartete bereits strahlend Yuda auf uns – unser Guide von vor zwei Jahren. Damals hatten wir mit ihm eine wunderschöne, entspannte Tour erlebt. Dass er uns auch diesmal begleiten sollte, war daher keine Frage. Zumal wir die ganze Zeit über via WhatsApp Kontakt gehalten hatten.
        </p>
        <p>
            Nach einer herzlichen Verabschiedung – inklusive dicker Umarmung mit Barbara, der Chefin und Made, dem liebenswerten Fahrer der uns vom Flughafen abgeholt hatte – fielen wir Yuda quasi direkt in die Arme. Ein bisschen Smalltalk, ein freundliches Lächeln, und schon saßen wir im Auto auf dem Weg zu unserem ersten Ziel: dem Pura Besakih, dem „Muttertempel“ Balis.
        </p>
        <p>
            Vor zwei Jahren waren wir schon einmal hier gewesen – allerdings kurz vor Feierabend und bei grauem Wetter.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Dieses Mal wollten wir uns mehr Zeit nehmen. Yuda fuhr wie immer ruhig und vorsichtig. Er entschied sich gegen die Bergstrecke, da das Wetter dort zu unsicher war, und nahm stattdessen den längeren, aber sicheren Weg außen herum. Seine Gelassenheit wirkt jedes Mal ansteckend.
            Am Tempel angekommen: wieder grau. Aber immerhin trocken – zunächst. Parken, Eintritt zahlen, Sarong umbinden lassen und dann mit dem Shuttle nach oben. Den Rückweg geht man zu Fuß – zumindest, wenn man kann.
        </p>
        <p>
            Oben warteten wieder die zuckersüßen Mädchen, die Postkarten und Souvenirs verkaufen. Neu waren diesmal „Instagram-Fotografen“. Basti und ich schauten uns an – und sagten spontan zu. Für 30.000 IDR (1,50 Euro) darf man auch einfach mal mitmachen.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_2058.jpg" alt="Das Schild des Bamboo Cafe auf Bali" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Doch dann öffnete der Himmel seine Schleusen. Und wie! Massiver Regen. Uns wurden Schirme gereicht und wir liefen die Stufen hinauf, bis wir endlich unter einem Wellblechdach Schutz fanden – bei einer Verkäuferin.
        </p>
        <p>
            Kalte Getränke. Schwer feuchte Luft. Dieses Gefühl, gleichzeitig zu schwitzen und klatschnass zu werden.
            Die Verkäuferin verstand ihr Geschäft. Erst schenkte sie jedem von uns eine Schlangenfrucht. Dieses Mal hatte ich Glück – saftig, süßlich, fast wie eine Mischung aus Ananas und etwas Eigenem. Yuda erklärte uns später noch einmal, dass es mehrere Sorten gibt. Manche sind trocken und ziehen einem jede Feuchtigkeit aus dem Mund – diese hier war perfekt.
        </p>
        <p>
            Da es weiter schüttete, schlenderte ich durch ihren kleinen Laden. Und dann kam es zu meiner ersten echten Verhandlung. Eine kleine Buddha-Statue aus schwarzem Lavastein hatte es mir angetan. Verhandeln ist so gar nicht meins. Yuda hatte uns vorher gesagt, der faire Preis läge irgendwo zwischen 100.000 und 180.000 IDR. Sie startete bei 300.000. Am Ende zahlten wir 178.000. Nicht perfekt – aber für mein erstes Mal war ich irgendwie stolz.
        </p>
        <p>
            Zur Einordnung: 200.000 IDR sind ungefähr 10 Euro.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Als der Regen endlich nachließ, schlenderten wir weiter durch die Tempelanlage. In den letzten zwei Jahren hatte sich hier viel getan: erneuerte Mauern, neu gedeckte Dächer aus Palmenfaser und sogar neue Tempel im Bau. Trotzdem war es hier aber auch immer wieder Grün. Am Wegesrand standen sogar Papaya Pflanzen und irgendwie wunderschöne Pagodenblumen. Auch die vom letzten mal bereits bekannten BVB-Spinnen waren wieder zu sehen. Die Spinnen werden hier so von den Einheimischen genannt, da sie die Farben der Fussballmanschaft haben. Schwarz-Gelb.
        </p>
        <p>
            Gegen frühen Nachmittag meldete sich der Hunger. Yuda schlug vor, noch eine Stunde durchzuhalten und im Bamboo Café zu essen – einem Ort, den er oft mit seiner Familie besucht. Gesagt, getan. Mit Keksen überbrückten wir die Zeit bis zur Ankuft und genossen den Ausblick während der gemütlichen fahrt dort hin.
        </p>
        <p>
            Von einem etwas abgelegenen Parkplatz, wurden wir per Shuttle durch einen beeindruckenden Bambuswald gefahren. Riesige, fast unendlich hohe Halme – Yuda erzählte, sie wachsen hier bis zu 30 cm am Tag. Trotz Regen war es magisch.
            Das Essen: hervorragend. Große Portionen, frisch, lecker – und insgesamt knapp 9 € für uns drei. Und das Wichtigste: unsere Mägen haben es vertragen. Das ist hier viel wert.
        </p>
    </div>

    <div class="col-md-6">
        <p>
            Direkt daneben lag ein traditionelles balinesisches Dorf – unser nächstes Ziel.
        </p>
        <p>
            Zunächst schien es menschenleer. Doch um die nächste Ecke warteten plötzlich unzählige Schüler. Viele Klassen kommen von Java hierher auf Ausflug. Überall Lächeln, Winken, neugierige Blicke.
        </p>
        <p>
            Wir liefen vorsichtig über die nassen Kopfsteinflaster Wege. Tatsächlich leben hier „echte“ Familien – man betritt quasi ihre Höfe. Am Eingang jedes Grundstücks steht, wie viele Männer und Frauen dort wohnen.
        </p>
        <p>
            Yuda erklärte uns die Zeremonienflächen mit sechs Pfeilern – Orte für Hochzeiten, Feste, aber auch Aufbahrungen. Er sprach auch über Hahnenkämpfe. Eine Tradition, die mich ehrlich gesagt eher bedrückt hat.
        </p>
        <p>
            Später zeigte er uns alte Wohnformen: kleine Bambushütten, alles auf engstem Raum, offenes Feuer. Kaum vorstellbar.
            An der Dorfglocke angekommen lernten wir noch, wie Nachrichten durch den Bürgermeister verbreitet werden: drei Schläge für eine Geburt, sechs für eine Hochzeit, neun für einen Todesfall.
        </p>
        <p>
            Leider lief uns wieder die Zeit davon. Also zurück zum Auto und weiter Richtung Ubud.
        </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_2067.jpg" alt="Das Balinesische Dorf auf dem Weg nach Ubud" />
        </div>
    </div>

    <div class="col-md-12">
        <p>
            Kurz vor Ubud zeigte Yuda uns, wo er wohnt – ein lebendiger Ort mit Markt, Sportplatz und Gemeinschaftsleben. Eigentlich auch ganz nett hier.
            Kurz vor dem Ziel verabredeten uns direkt wieder für den 12. Januar: Regenwald und Reisterrassen stehen dann auf dem Plan.
            Angekommen im ARMA Museum & Resort befand sich die provisorische Lobby aktuell im Museumseingang, da der Haupteingang renoviert wird. Zwei Mitarbeiter begleiteten uns zu unserer „privaten Villa mit Pool“.
            Der Weg dorthin war wunderschön – grün, detailverliebt, verwunschen. Wir schritten durch eine rote Tür, fast wie in einem Film.
        </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_2096.jpg" alt="Der eigentlich hübsche Pool unsererr Private Pool Villa" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Und dann kam der erste Dämpfer.
        </p>
        <p>
            Eigentlich hatten wir eine Villa mit Blick auf Reisfelder gebucht. Stattdessen: Bäume. Wand. Kein Panorama.
            Innen: getrennte Bereiche – Schlafzimmer, Ankleide mit Outdoor-Dusche, dahinter Bad und Galerie. Doch je genauer ich hinsah, desto mehr sank meine Laune. Alles wirkte alt. Abgenutzt. Ranzig. Fehlende Türgriffe. Schmutzige Sitzflächen.
        </p>
        <p>
            Wir wollten uns nicht direkt reinsteigern – also erst einmal zur Tanzaufführung direkt hinter unserer Villa. Eintritt: 15 € für uns beide. Die Aufführung war aber in Ordnung – klassische balinesische Darbietung, eine Stunde lang.
        </p>
        <p>
            Danach ging es ins Hoteleigene Restaurant. Dort bestellten wir nur einige Kleinigkeit – Frühlingsrollen und Pommes. Das Essen vom Mittag saß noch im Bauch.
            Beim bezahlen, sahen wir, dass neben Sebastians Namen eine ganz andere Zimmernummer stand. Wir hatten die 110 aber auf dem Zettel stand aber 101.
        </p>
        <p>
            Vielleicht haben sie uns doch in die falsche Villa gesteckt? Also ab zur Rezeption. Dort fragten wir nach. Leider waren wir doch in der richtigen, uns zugeordneten Villa.
            Wir klärten dann auch gleich noch, dass sie morgen bitte einmal komplett Grundreine machen und ein paar Dinge reparieren.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Zurück in der Villa fiel uns immer mehr auf:
            <br />
            Löchrige Vorhänge. Defekte Lichtschalter. Eine Duschbrause, die ihren Namen kaum verdient. Steckdosen, die aus der Wand hingen. Verdreckte Sitzkissen.
            Duschen war… sagen wir skuril. Da der Duschkopf so verkalkt war, dass nur wenige düsen überhaupt funktionierten, dauerte es ein wenig die Dusche so einzustelln, dass man keine Blauen Flecken von den Wasserstrahlen bekommt aber noch genügend Wasser raus kommt, das man auch nass wird.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            Und dann kam die vielleicht skurrilste Überraschung des Tages:
            <br />
            Das Duschgel roch intensiv nach Apfel.
            <br />
            Das Shampoo eindeutig und nicht weniger intensiv nach Zimt.
        </p>
        <p>
            In Kombination bedeutete das: Nach dem Duschen roch man original nach Bratapfel.
            Bratapfel? Auf Bali? Bei tropischer Luftfeuchtigkeit und 28 Grad?
            Irgendwie völlig unpassend für die Region – und gleichzeitig auch wieder nicht. Weihnachten ist schließlich noch gar nicht so lange her, und in Deutschland schneit es wohl gerade ordentlich. Während wir hier zwischen Palmen und Tempeln stehen, riechen wir wie ein Weihnachtsmarktstand im Dezember.
            Es war absurd. Und ein bisschen lustig.
        </p>
        <p>
            Leider verflog das Schmunzeln schnell wieder. Meine Füße waren nach wenigen Schritten durch die Villa dermaßen dreckig, dass ich am liebsten noch einmal geduscht hätte – diesmal ohne Zimt-Apfel-Aroma.
            Im Bett jagten wir erst einmal Ameisen. Dazu bließ die Klimaanlage wieder einmal direkt aufs Bett – also aus damit.
        </p>
        <p>
            Erstaunlicherweise schlief ich trotzdem schnell ein. Mein Kopf macht normalerweise bei „Tiere im Bett und unwohl fühlen“ keine Kompromisse. Aber ich war wohl einfach zu erschöpft.
        </p>
        <p>
            Basti hingegen lag wach. Und schmiedete Pläne.
        </p>
        <p>
            Aber dazu morgen mehr.
        </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_2100.jpg" alt="Das Schlafzimmer unserer Gruselvilla" />
        </div>
    </div>

</div>
<!--=== End Post ===-->
