{% extends "default.html.twig" %}

{% set metaDescription = "Meine private Webseite mit der ich meiner Familie und meinen Freunden zeigen m&ouml;chte was ich gerade mache" %}
{% set metaKeywords = ['Entwickler', 'Teamleiter', 'Ausbilder', 'Taucher', 'Dozent', 'Schulungen'] %}
{% set cookieConsentMessage = "Diese Webseite nutzt Cookies um das Erlebnis der Seite permanent zu verbessern." %}
{% set cookieConsentDismiss = "Danke" %}

{% block layout %}
    <!--=== Header v6 ===-->
    <div class="header-v6 header-classic-white header-sticky">
        <!-- Navbar -->
        <div class="navbar mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="menu-container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Navbar Brand -->
                    <div class="navbar-brand">
                        <p>
                            Sebastian Thoss
                        </p>
                    </div>
                    <!-- ENd Navbar Brand -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <div class="menu-container">
                        <ul class="nav navbar-nav">
                            <!-- Homepage -->
                            <li class="{% if page.active_nav == 'home' %}active{% endif %}">
                                <a href="{{ site.url }}/de/">
                                    Home
                                </a>
                            </li>
                            <!-- End Homepage -->

                            <!-- Talks -->
                            <li class="dropdown{% if page.active_nav starts with 'talks-' %} active{% endif %}">
                                <a href="{{ site.url }}/de/vortraege/" class="dropdown-toggle" data-toggle="dropdown">
                                    Vortr&auml;ge
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="{% if page.active_nav == 'talks-index' %}active{% endif %}"><a href="{{ site.url }}/de/vortraege/"><i class="fa fa-angle-double-right"></i>&Uuml;bersicht</a></li>

                                    {% for talk in site.talks.de %}
                                        {% set titleLength = talk.title|length %}
                                        <li class="{% if page.active_nav == talk.active_nav %}active{% endif %}"><a href="{{ site.url }}{{ talk.link }}"><i class="fa fa-angle-double-right"></i>{{ talk.title|raw }}{% if titleLength < 4 %} - {{ talk.subtitle }}{% endif %}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>

                            <!-- Reiseblog -->
                            <li class="{% if page.active_nav == 'travel-blog' %}active{% endif %}">
                                <a href="{{ site.url }}/de/reiseblog/">
                                    Reiseblog
                                </a>
                            </li>

                            <!-- Kontakt -->
                            <li class="{% if page.active_nav == 'kontakt' %}active{% endif %}">
                                <a href="{{ site.url }}/de/kontakt/">
                                    Kontakt
                                </a>
                            </li>

                            <!-- English Version -->
                            <li>
                                <a href="{{ site.url }}/en/">
                                    <i class="fa fa-globe"></i> English Version
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!--/navbar-collapse-->
            </div>
        </div>
        <!-- End Navbar -->
    </div>
    <!--=== End Header v6 ===-->

    {% block contentWrapper %}
        {{ page.blocks.content|raw }}
    {% endblock %}

    <!--=== Footer v2 ===-->
    <div id="footer-v2" class="footer-v2">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- Photo -->
                    <div class="col-md-3 col-sm-6">
                        <img id="logo-footer" src="{{ site.url }}/assets/img/sebastian_thoss.jpg" alt="Foto von mir">
                    </div>
                    <!-- End Photo -->

                    <!-- About -->
                    <div class="col-md-3 col-sm-6 md-margin-bottom-60">
                        <div class="latest-tweets">
                            <div class="headline"><h2 class="heading-sm">&Uuml;ber Sebastian Tho&szlig;</h2></div>
                            <div class="latest-tweets-inner">
                                <p>
                                    Nach mehrj&auml;hrigen Aufenthalten in der irischen und australischen IT kam ich zur&uuml;ck nach Deutschland, um hier tiefer in die Softwarearchitektur einzusteigen.
                                </p>
                                <p>
                                    Seit April 2015 k&uuml;mmere ich mich bei der kartenmacherei in Hamburg um Backend Projekte, das Team und die Ausbildung des Nachwuchses.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End About -->

                    <!-- Address -->
                    <div class="col-md-3 col-sm-6 md-margin-bottom-40">
                        <div class="headline"><h2 class="heading-sm">Kontaktdaten</h2></div>
                        <address class="md-margin-bottom-40">
                            <i class="fa fa-male"></i>Sebastian Tho&szlig; <br />
                            <i class="fa fa-home"></i>Ahrensburg, Schleswig-Holstein <br />
                            <i class="fa fa-skype"></i>Skype: sebastian301082 <br />
                            <i class="fa fa-globe"></i>Website: <a href="http://www.sebastianthoss.de/de/">sebastianthoss.de</a> <br />
                            <i class="fa fa-envelope"></i>Mail: <a href="mailto:thoss_sebastian@web.de">thoss_sebastian@web.de</a>
                        </address>

                        <!-- Social Links -->
                        <ul class="social-icons">
                            <li>
                                <a target="_blank" href="https://www.xing.com/profile/Sebastian_Thoss" data-original-title="XING" class="rounded-x social_xing" title="Sebastian Tho&szlig; auf Xing"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://github.com/DjThossi" data-original-title="GitHub" class="rounded-x social_github" title="Sebastian Tho&szlig; auf GitHub"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.facebook.com/sebastian.thoss" data-original-title="Facebook" class="rounded-x social_facebook" title="Sebastian Tho&szlig; auf Facebook"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://twitter.com/dj_thossi" data-original-title="Twitter" class="rounded-x social_twitter" title="Sebastian Tho&szlig; auf Twitter"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://sebastian301082.wordpress.com/" data-original-title="WordPress" class="rounded-x social_wordpress" title="Sebastian Tho&szlig; auf WordPress"></a>
                            </li>
                        </ul>
                        <!-- End Social Links -->
                    </div>
                    <!-- End Address -->

                    <!-- Termine -->
                    <div class="col-md-3 col-sm-6 md-margin-bottom-40">
                        <div class="headline"><h2 class="heading-sm">Termine</h2></div>
                        <ul class="list-unstyled link-news">
                            {% for meeting in site.meetings|slice(0, 3) %}
                                <li>
                                    <a target="_blank" href="{{ meeting.link.url }}">{{ meeting.link.text }}</a>
                                    <small>
                                        {{ meeting.date|date('d') }}.
                                        {% set m = meeting.date|date('n') %}
                                        {% if m == '1' %}Januar{% endif %}
                                        {% if m == '2' %}Februar{% endif %}
                                        {% if m == '3' %}M&auml;rz{% endif %}
                                        {% if m == '4' %}April{% endif %}
                                        {% if m == '5' %}Mai{% endif %}
                                        {% if m == '6' %}Juni{% endif %}
                                        {% if m == '7' %}Juli{% endif %}
                                        {% if m == '8' %}August{% endif %}
                                        {% if m == '9' %}September{% endif %}
                                        {% if m == '10' %}Oktober{% endif %}
                                        {% if m == '11' %}November{% endif %}
                                        {% if m == '12' %}Dezember{% endif %}
                                        {{ meeting.date|date('Y') }}
                                    </small>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- End Termine -->
                </div>
            </div>
        </div><!--/footer-->
        <div class="copyright">
            <div class="container">
                <p class="text-center">
                    Rechtliches: <a href="{{ site.url }}/de/impressum/">Impressum</a> |
                    <a href="{{ site.url }}/de/datenschutzerklaerung/">Datenschutzerkl&auml;rung</a>
                </p>
            </div>
        </div>

    </div>
    <!--=== End Footer v2 ===-->

{% endblock %}