{% extends "default.html.twig" %}

{% set metaDescription = "Meine private Webseite mit der ich meiner Familie und meinen Freunden zeigen m&ouml;chte was ich gerade mache" %}
{% set metaKeywords = ['Entwickler', 'Teamleiter', 'Ausbilder', 'Taucher', 'Dozent', 'Schulungen'] %}
{% set cookieConsentMessage = "Diese Webseite nutzt Cookies um das Erlebnis der Seite permanent zu verbessern." %}
{% set cookieConsentDismiss = "Danke" %}

{% block layout %}
    <!--=== Header v6 ===-->
    <div class="header-v6 header-classic-white header-sticky">
        <!-- Navbar -->
        <div class="navbar mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="menu-container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Navbar Brand -->
                    <div class="navbar-brand">
                        <p>
                            Sebastian Thoss
                        </p>
                    </div>
                    <!-- ENd Navbar Brand -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <div class="menu-container">
                        <ul class="nav navbar-nav">
                            <!-- Homepage -->
                            <li class="{% if page.active_nav == 'home' %}active{% endif %}">
                                <a href="{{ site.url }}/de/">
                                    Home
                                </a>
                            </li>
                            <!-- End Homepage -->

                            <!-- Homepage -->
                            <li class="{% if page.active_nav == 'big-5' %}active{% endif %}">
                                <a href="{{ site.url }}/de/big-five-for-life/">
                                    Big 5 For life
                                </a>
                            </li>
                            <!-- End Homepage -->

                            <!-- Talks -->
                            <li class="dropdown{% if page.active_nav starts with 'talks-' %} active{% endif %}">
                                <a href="{{ site.url }}/de/vortraege/" class="dropdown-toggle" data-toggle="dropdown">
                                    Vortr&auml;ge
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="{% if page.active_nav == 'talks-index' %}active{% endif %}"><a href="{{ site.url }}/de/vortraege/"><i class="fa fa-angle-double-right"></i>&Uuml;bersicht</a></li>

                                    {% for talk in site.talks.de %}
                                        {% set titleLength = talk.title|length %}
                                        <li class="{% if page.active_nav == talk.active_nav %}active{% endif %}"><a href="{{ site.url }}{{ talk.link }}"><i class="fa fa-angle-double-right"></i>{{ talk.title|raw }}{% if titleLength < 4 %} - {{ talk.subtitle }}{% endif %}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>

                            <!-- Reiseblog -->
                            <li class="dropdown{% if page.active_nav == 'travel-blog' %} active{% endif %}">
                                <a href="{{ site.url }}/de/reiseblog/" class="dropdown-toggle" data-toggle="dropdown">
                                    Reiseblogs
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="{% if page.active_nav == 'blog-newest' %}active{% endif %}">
                                        <a href="{{ site.url }}/de/reiseblog/"><i class="fa fa-angle-double-right"></i>Neuste Beitr&auml;ge</a>
                                    </li>
                                    {# <li class="{% if page.active_nav == 'blog-2024-ist-dxb' %}active{% endif %}">
                                        <a href="{{ site.url }}/de/reiseblog/2024-ist-dxb/"><i class="fa fa-angle-double-right"></i>2024 Istanbul & Dubai</a>
                                    </li>  #}
                                    <li class="{% if page.active_nav == 'blog-2021-teneriffa' %}active{% endif %}">
                                        <a href="{{ site.url }}/de/reiseblog/2021-teneriffa/"><i class="fa fa-angle-double-right"></i>2021 Teneriffa</a>
                                    </li>
                                    <li class="{% if page.active_nav == 'blog-2021-alpen' %}active{% endif %}">
                                        <a href="{{ site.url }}/de/reiseblog/2021-alpen/"><i class="fa fa-angle-double-right"></i>2021 Alpen</a>
                                    </li>
                                    <li class="{% if page.active_nav == 'blog-2019-kanada' %}active{% endif %}">
                                        <a href="{{ site.url }}/de/reiseblog/2019-kanada/"><i class="fa fa-angle-double-right"></i>2019 Kanada</a>
                                    </li>
                                    <li class="{% if page.active_nav == 'blog-2018-usa' %}active{% endif %}">
                                        <a href="{{ site.url }}/de/reiseblog/2018-usa/"><i class="fa fa-angle-double-right"></i>2018 USA</a>
                                    </li>
                                    <li class="{% if page.active_nav == 'blog-2018-philippines' %}active{% endif %}">
                                        <a href="{{ site.url }}/de/reiseblog/2018-philippinen/"><i class="fa fa-angle-double-right"></i>2018 Philippinen</a>
                                    </li>
                                    <li class="{% if page.active_nav == 'blog-2017-asia-oz' %}active{% endif %}">
                                        <a href="{{ site.url }}/de/reiseblog/2017-asia-oz/page/5/"><i class="fa fa-angle-double-right"></i>2017 Australien</a>
                                    </li>
                                </ul>
                            </li>

                            <!-- More -->
                            <li class="dropdown{% if page.active_nav starts with 'more-' %} active{% endif %}">
                                <a href="{{ site.url }}/de/vortraege/" class="dropdown-toggle" data-toggle="dropdown">
                                    Mehr
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- Kontakt -->
                                    <li class="{% if page.active_nav == 'more-kontakt' %}active{% endif %}">
                                        <a href="{{ site.url }}/de/kontakt/">
                                            <i class="fa fa-angle-double-right"></i>Kontakt
                                        </a>
                                    </li>

                                    <!-- News -->
                                    <li class="{% if page.active_nav == 'more-news' %}active{% endif %}">
                                        <a href="{{ site.url }}/de/news/">
                                            <i class="fa fa-angle-double-right"></i>News
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- English Version -->
                            <li>
                                <a href="{{ site.url }}/en/">
                                    <i class="fa fa-globe"></i> English Version
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!--/navbar-collapse-->
            </div>
        </div>
        <!-- End Navbar -->
    </div>
    <!--=== End Header v6 ===-->

    {% block contentWrapper %}
        {{ page.blocks.content|raw }}
    {% endblock %}

    <!--=== Footer v2 ===-->
    <div id="footer-v2" class="footer-v2">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- Photo -->
                    <div class="col-md-4 col-sm-6 text-center-sm-only">
                        <img id="logo-footer" class="img-responsive center-block" src="{{ site.url }}/assets/img/sebastian_thoss.jpg" alt="Foto von mir">
                    </div>
                    <!-- End Photo -->

                    <!-- About -->
                    <div class="col-md-4 col-sm-6 md-margin-bottom-60 text-center-sm-only">
                        <div class="latest-tweets">
                            <div class="headline"><h2 class="heading-sm">&Uuml;ber Sebastian Tho&szlig;</h2></div>
                            <div class="latest-tweets-inner">
                                <p>
                                    Nach mehrjährigen Aufenthalten in der irischen und australischen IT kam ich zurück nach Deutschland, um hier tiefer in die Softwarearchitektur und Cloudtechnologien einzusteigen.
                                </p>
                                <p>
                                    Seit Januar 2022 bin ich als Head of Tech bei Teppana in Hamburg für die Produktions-IT verantwortlich. Ich entwickle maßgeschneiderte Softwarelösungen und setze bei der Automatisierung auf PHP und AWS CDK, um robuste Produktionsabläufe zu schaffen.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End About -->

                    <!-- Address -->
                    <div class="col-md-4 col-sm-6 md-margin-bottom-40 text-center-sm-only">
                        <div class="headline"><h2 class="heading-sm">Kontaktdaten</h2></div>
                        <address class="md-margin-bottom-40">
                            <i class="fa fa-male"></i>Sebastian Tho&szlig; <br />
                            <i class="fa fa-home"></i>Ahrensburg, Schleswig-Holstein <br />
                            <i class="fa fa-globe"></i>Website: <a href="https://www.sebastianthoss.de/de/">sebastianthoss.de</a> <br />
                            <i class="fa fa-envelope"></i>Mail: <a href="mailto:thoss.sebastian@gmail.com">thoss.sebastian@gmail.com</a>
                        </address>

                        <!-- Social Links -->
                        <ul class="social-icons">
                            <li>
                                <a target="_blank" href="https://www.xing.com/profile/Sebastian_Thoss" data-original-title="XING" class="rounded-x social_xing" title="Sebastian Tho&szlig; auf Xing"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/in/sebastian-thoss-614356131/" data-original-title="LinkedIn" class="rounded-x social_linkedin" title="Sebastian Tho&szlig; auf LinkedIn"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://github.com/DjThossi" data-original-title="GitHub" class="rounded-x social_github" title="Sebastian Tho&szlig; auf GitHub"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.facebook.com/sebastian.thoss" data-original-title="Facebook" class="rounded-x social_facebook" title="Sebastian Tho&szlig; auf Facebook"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://twitter.com/dj_thossi" data-original-title="Twitter" class="rounded-x social_twitter" title="Sebastian Tho&szlig; auf Twitter"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://sebastian301082.wordpress.com/" data-original-title="WordPress" class="rounded-x social_wordpress" title="Sebastian Tho&szlig; auf WordPress"></a>
                            </li>
                        </ul>
                        <!-- End Social Links -->
                    </div>
                    <!-- End Address -->
                </div>
            </div>
        </div><!--/footer-->
        <div class="copyright">
            <div class="container">
                <p class="text-center">
                    Rechtliches: <a href="{{ site.url }}/de/impressum/">Impressum</a> |
                    <a href="{{ site.url }}/de/datenschutzerklaerung/">Datenschutzerkl&auml;rung</a>
                </p>
            </div>
        </div>

    </div>
    <!--=== End Footer v2 ===-->

{% endblock %}