---
layout: english
title: Travel Photos
meta:
  description: "Photos of our trip to Canada"
  keywords:
    - Photos
    - Travel
    - Vacation
active_nav: blog-2019-canada

add_css:
  - /assets/plugins/fancybox/source/jquery.fancybox.css

js:
  scripts:
    - /assets/plugins/fancybox/source/jquery.fancybox.pack.js
    - /assets/js/plugins/fancy-box.js
  run_code:
    - FancyBox.initFancybox();
---
<div class="heading heading-v1 margin-top-20">
  <h1>Travel Pictures Canada 2019</h1>
  <p>Here you can find all pictures of our trip to Montreal and Toronto</p>
</div>

<!-- Six Columns -->
<div class="container content">

    <div class="row margin-bottom-30">
        {% set images =  source('imageData/2019-canada.csv')|split(", ")|reverse %}

        {% for image in images %}
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="{{ site.url }}/assets/img/blog/2019-canada/{{ image }}" rel="gallery3" class="fancybox img-hover-v1" title="{{ image }}">
                    <span><img class="img-responsive" src="{{ site.url }}/assets/img/blog/2019-canada/small/{{ image }}" alt="{{ image }}"></span>
                </a>
            </div>
            {% if loop.index % 6 == 0 %}
                </div>
                <div class="row margin-bottom-30">
            {% endif %}
        {% endfor %}
    </div>
</div>
<!-- End Six Columns -->
