---
layout: english
permalink: en/talks/fun-about-recruiting.html

title: "Fun about recruiting - Let's turn the tables"
meta:
  description: "Talk description for 'fun about recruiting' session. Including 8 slides from the session."
  keywords:
    - recruiting
    - apprenticeship
    - hiring process
    - soft skills

active_nav: fun-about-recruiting

hreflang:
  en:
    href: /en/talks/fun-about-recruiting.html
  de:
    href: /de/vortraege/fun-about-recruiting.html

add_css:
  - /assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css
  - /assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css
js:
  scripts:
    - /assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js
    - /assets/js/cube-portfolio-overlay-bottom.js
---
<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-v3">
    <div class="container text-center">
        <h1>Fun about recruiting</h1>
    </div><!--/end container-->
</div>
<!--=== End Breadcrumbs v3 ===-->

<!--=== Container Part ===-->
<div class="container">
    <div class="content">
        <!-- Magazine Slider -->
        <div class="carousel slide carousel-v2 margin-bottom-40" id="portfolio-carousel">
            <ol class="carousel-indicators">
                <li class="active rounded-x" data-target="#portfolio-carousel" data-slide-to="0"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="1"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="2"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="3"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="4"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="5"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="6"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/fun-about-recruiting/true-tech-talks-001.jpg" alt="First slide of Sebastian Thoss talk Fun about recruiting" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/fun-about-recruiting/true-tech-talks-004.jpg" alt="With this slide Sebastian Thoss shows how international and kartenmacherei is" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/fun-about-recruiting/true-tech-talks-007.jpg" alt="With this slide Sebastian Thoss visualises the 4 pillars of kartenmacherei's recruiting process" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/fun-about-recruiting/true-tech-talks-009.jpg" alt="With this slide Sebastian Thoss his usual issues in recruiting IT people" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/fun-about-recruiting/true-tech-talks-012.jpg" alt="With this slide Sebastian Thoss shows the fun fact the you should not smoke shisha during job interview" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/fun-about-recruiting/true-tech-talks-017.jpg" alt="With this slide Sebastian Thoss shows a quote from a mean reply he got during hiring process" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/fun-about-recruiting/true-tech-talks-022.jpg" alt="With this slide Sebastian Thoss explains that there is a new regulation regarding refugees in apprenticeships">
                </div>
            </div>

            <a class="left carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="prev">
                <i class="fa fa-angle-left arrow-prev"></i>
            </a>
            <a class="right carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="next">
                <i class="fa fa-angle-right arrow-next"></i>
            </a>
        </div>
        <!-- End Magazine Slider -->


        <div class="row margin-bottom-30">
            <div class="col-sm-8">
                <div class="headline"><h2>Talk Abstract</h2></div>
                <p>
                    This time we have turned the tables. We show that we’re all just humans.
                    It’s a lot of work and especially for us working in IT and not having many recruiting skills.
                    But we’re sitting on the other side of the table for over 2 years now.
                    Let’s talk about good and bad AND funny parts of recruiting.
                </p>
                <p>
                    This talk was a great success we prepared for a meetup hosted at kartenmacherei.
                    We had even 30 minutes Q&amp;A session after the 45 minutes presentation.
                    On top we had one to one discussions for several hours afterwards.
                    Great topic. I’d love to give this talk again to share and learn more about recruiting in tech.
                </p>
            </div>
            <div class="col-sm-4">
                <div class="headline"><h2>Talk Details</h2></div>
                <ul class="list-unstyled project-details">
                    <li><strong>Co Speaker:</strong> Misha Skyda</li>
                    <li><strong>Length:</strong> 45 to 60 minutes</li>
                    <li><strong>First held:</strong> 29 August 2017</li>
                    <li>
                        <strong>Slides:</strong> <a href="#" target="_blank">on SlideShare<i class="fa fa-external-link margin-left-5"></i></a>
                    </li>

                </ul>
            </div>
        </div>

        {% include 'other-talks/en.html.twig' with {skipId: '7'} %}

    </div>
</div>
<!--=== End Container Part ===-->