---
layout: german
title: Reisefotos
meta:
  description: "Hier findet Ihr ein paar schöne Bilder meiner Reise nach Istanbul und Dubai 2024"
  keywords:
    - Fotos
    - Reisen
    - Urlaub
    - Türkei
    - Istanbul
    - Vereinigte Arabische Emirate
    - Dubai
active_nav: blog-2024-ist-dxb

add_css:
  - /assets/plugins/fancybox/source/jquery.fancybox.css

js:
  scripts:
    - /assets/plugins/fancybox/source/jquery.fancybox.pack.js
    - /assets/js/plugins/fancy-box.js
  run_code:
    - FancyBox.initFancybox();
---
<div class="heading heading-v1 margin-top-20">
  <h1>Reisebilder aus Istanbul und Dubai 2024</h1>
  <p>Hier findet Ihr ein paar schöne Bilder und die <a href="{{ site.url }}/de/reiseblog/2024-ist-dxb/">Blogposts</a> meiner Reise nach Istanbul und Dubai 2024</p>
</div>

<!-- Six Columns -->
<div class="container content">

    <div class="row margin-bottom-30">
        {% set images =  source('imageData/2024-ist-dxb.csv')|split(", ")|reverse %}

        {% for image in images %}
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="{{ site.url }}/assets/img/blog/2024-ist-dxb/{{ image }}" rel="gallery3" class="fancybox img-hover-v1" title="{{ image }}">
                    <span><img class="img-responsive" src="{{ site.url }}/assets/img/blog/2024-ist-dxb/small/{{ image }}" alt="{{ image }}"></span>
                </a>
            </div>
            {% if loop.index % 6 == 0 %}
                </div>
                <div class="row margin-bottom-30">
            {% endif %}
        {% endfor %}
    </div>

</div>
<!-- End Six Columns -->