---
layout: german
permalink: de/vortraege/don-t-fear-the-walking-dead.html

title: "Don't fear the walking dead - How we get rid of our monolith"
meta:
  description: "Details &uuml;ber Sebastian Tho&szlig;'s Vortrag zum Thema ersetzen von gewachsenen Applikationen die eigentlich keiner mehr anfassen m&ouml;chte."
  keywords:
    - ersetzen
    - alt
    - Software
    - Architektur
    - testen
    - Entwickling

active_nav: talks-fury

hreflang:
  en:
    href: /en/talks/don-t-fear-the-walking-dead.html
  de:
    href: /de/vortraege/don-t-fear-the-walking-dead.html

add_css:
  - /assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css
  - /assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css
js:
  scripts:
    - /assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js
    - /assets/js/cube-portfolio-overlay-bottom.js
---
<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-v3">
    <div class="container text-center">
        <h1>Don't fear the walking dead</h1>
        <p>How we get rid of our monolith</p>
    </div><!--/end container-->
</div>
<!--=== End Breadcrumbs v3 ===-->

<!--=== Container Part ===-->
<div class="container">
    <div class="content">
        <!-- Magazine Slider -->
        <div class="carousel slide carousel-v2 margin-bottom-40" id="portfolio-carousel">
            <ol class="carousel-indicators">
                <li class="active rounded-x" data-target="#portfolio-carousel" data-slide-to="0"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="1"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="2"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="3"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="4"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="5"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="6"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="7"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/don-t-fear-the-walking-dead/phpughh-slides-1.jpg" alt="Erste Folie mit dem Titel des Vortrag">
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/don-t-fear-the-walking-dead/phpughh-slides-12.jpg" alt="Die Folie auf der wir zeigen wie wir die neue Komponente vor die Altsoftware schalten">
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/don-t-fear-the-walking-dead/phpughh-slides-15.jpg" alt="Die Folie auf der wir zeigen, wie wir an das fertig gerechnete HTML aus dem K/V Storage gelangen">
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/don-t-fear-the-walking-dead/phpughh-slides-20.jpg" alt="Die Folie zeigt, wie Fury eine Anfrage beantwortet">
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/don-t-fear-the-walking-dead/phpughh-slides-22.jpg" alt="Die Folie zeigt, wie wir mit 404 Not Found Antworten aus Fury umgehen">
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/don-t-fear-the-walking-dead/phpughh-slides-27.jpg" alt="Die Folie zeigt, wie die Server Architektur f&uuml;r Fury aussieht">
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/don-t-fear-the-walking-dead/phpughh-slides-32.jpg" alt="Die Folie zeigt, wie den finalen Schritt eines Fury deployments">
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/don-t-fear-the-walking-dead/phpughh-slides-37.jpg" alt="Die Folie zeigt, was wir als n&auml;chstes vor haben">
                </div>
            </div>

            <a class="left carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="prev">
                <i class="fa fa-angle-left arrow-prev"></i>
            </a>
            <a class="right carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="next">
                <i class="fa fa-angle-right arrow-next"></i>
            </a>
        </div>
        <!-- End Magazine Slider -->

        <div class="row margin-bottom-40">
            <div class="col-sm-8">
                <div class="headline"><h2>Kurzbeschreibung</h2></div>
                <p>
                    Veraltete Software ist oft wie ein Zombie. Irgendwie funkioniert sie noch aber niemand w&uuml;rde
                    sie als lebendig oder sauber bezeichnen. Der Gedanke sie anfassen zu m&uuml;ssen l&auml;sst die
                    Entwickler schaudern oder gar weglaufen. Also was kannst du tun um diesen Zombie los zu werden?
                </p>
                <p>
                    Wir ersetzen gerade unseren monolithischen Onlineshop mit einer schicken neuen L&ouml;sung die
                    direkt auf unsere Business zugeschnitten ist. Wir m&ouml;chten euch gerne unsere L&ouml;sung f&uuml;
                    das Problem zeigen und mit euch dar&uuml;ber sprechen, was wir alles dabei gelernt haben.
                </p>
            </div>
            <div class="col-sm-4">
                <div class="headline"><h2>Daten & Links</h2></div>
                <ul class="list-unstyled project-details">
                    <li><strong>Vortragender:</strong> Sebastian Tho&szlig;</li>
                    <li><strong>Vortragender:</strong> Sebastian Heuer</li>
                    <li><strong>L&auml;nge:</strong> 30 - 45 Minuten</li>
                    <li><strong>Erstelldatum:</strong> 10. Mai 2016</li>
                    <li><strong>Folien:</strong> <a target="_blank" href="https://www.slideshare.net/kartenmacherei/dont-fear-the-walking-dead-ipc-2016">auf SlideShare<i class="fa fa-external-link margin-left-5"></i></a>
                </ul>
            </div>
        </div>

        {% include 'other-talks/de.html.twig' with {skipId: '1'} %}

    </div>
</div>
<!--=== End Container Part ===-->