---
layout: german
permalink: de/vortraege/fun-about-recruiting.html

title: "Fun about recruiting - Let's turn the tables"
meta:
  description: "Wir m&ouml;chten zeigen wie schwierig es auch f&uuml;r uns ist Bewerber einzusch&auml;tzen"
  keywords:
    - Bewerbung
    - Bewerber
    - Einstellungsprozess
    - soft skills

active_nav: fun-about-recruiting

hreflang:
  en:
    href: /en/talks/fun-about-recruiting.html
  de:
    href: /de/vortraege/fun-about-recruiting.html

add_css:
  - /assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css
  - /assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css
js:
  scripts:
    - /assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js
    - /assets/js/cube-portfolio-overlay-bottom.js
---
<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-v3">
    <div class="container text-center">
        <h1>Fun about recruiting</h1>
    </div><!--/end container-->
</div>
<!--=== End Breadcrumbs v3 ===-->

<!--=== Container Part ===-->
<div class="container">
    <div class="content">
        <!-- Magazine Slider -->
        <div class="carousel slide carousel-v2 margin-bottom-40" id="portfolio-carousel">
            <ol class="carousel-indicators">
                <li class="active rounded-x" data-target="#portfolio-carousel" data-slide-to="0"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="1"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="2"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="3"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="4"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="5"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="6"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/fun-about-recruiting/true-tech-talks-001.jpg" alt="Erste Folie von Sebastian Thoss's Vortrag zu Fun about recruiting" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/fun-about-recruiting/true-tech-talks-004.jpg" alt="Mit dieser Folie zeigt Sebastian Thoss wie international die kartenmacherei aufgestellt ist" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/fun-about-recruiting/true-tech-talks-007.jpg" alt="Mit dieser Folie zeigt Sebastian Thoss die 4 S&auml;ulen des Bewerbungsprozesses" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/fun-about-recruiting/true-tech-talks-009.jpg" alt="Mit dieser Folie zeigt Sebastian Thoss eine Liste der meisten Fehler im Bewerbungsprozess" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/fun-about-recruiting/true-tech-talks-012.jpg" alt="Mit dieser Folie zeigt Sebastian Thoss dass Shisha rauchen w&auml;rend einer Bewerbung nicht gut kommt" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/fun-about-recruiting/true-tech-talks-017.jpg" alt="Mit dieser Folie zeigt Sebastian Thoss das Beispiel einer unh&ouml;flichen Antwort" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/fun-about-recruiting/true-tech-talks-022.jpg" alt="Mit dieser Folie zeigt Sebastian Thoss das es jetzt bessere Regelungen f&uuml;r Fl&uuml;chtlinge in der Ausbildung gibt">
                </div>
            </div>

            <a class="left carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="prev">
                <i class="fa fa-angle-left arrow-prev"></i>
            </a>
            <a class="right carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="next">
                <i class="fa fa-angle-right arrow-next"></i>
            </a>
        </div>
        <!-- End Magazine Slider -->


        <div class="row margin-bottom-30">
            <div class="col-sm-8">
                <div class="headline"><h2>Kurzbeschreibung</h2></div>
                <p>
                    Dieses mal sitzen wir auf der anderen Seite des Tischs.
                    Wir zeigen, dass wir alle auch nur Menschen sind.
                    Es ist viel arbeit.
                    Vor allem da wir ITler sind und nur wenig Erfahrung mit Vorstellungsgespr&auml:chen haben.
                    Heute sitzen wir nun seit 2 Jahren auf der anderen Seite und m&ouml;chten mit euch über unsere Erfahrungen positive wie netgative sprechen.
                </p>
                <p>
                    Dieser Vortrag war ein gro&szlig;er Erfolg.
                    Wir hatten nach der Pr&auml;sentation 30 Minuten Fragen und Antworten Session.
                    Auch danach hatten wir noch mehrere Tiefgründige gespr&auml;che und regen Wissensaustausch.
                </p>
            </div>
            <div class="col-sm-4">
                <div class="headline"><h2>Daten & Links</h2></div>
                <ul class="list-unstyled project-details">
                    <li><strong>Vortragender:</strong> Sebastian Tho&szlig;</li>
                    <li><strong>Vortragender:</strong> Misha Skyda</li>
                    <li><strong>L&auml;nge:</strong> 45 - 60 Minuten</li>
                    <li><strong>Erstelldatum:</strong> 29. August 2017</li>
                    <li><strong>Folien:</strong> <a target="_blank" href="#">on SlideShare<i class="fa fa-external-link margin-left-5"></i></a>
                </ul>
            </div>
        </div>

        {% include 'other-talks/de.html.twig' with {skipId: '7'} %}

    </div>
</div>
<!--=== End Container Part ===-->