---
layout: german
permalink: de/vortraege/phpunit-in-four-parts.html

title: "PHPUnit - In 4 parts"
meta:
  description: "Details &uuml;ber Sebastian Tho&szlig;'s Vortrag zum Thema PHPUnit in vier Teilen"
  keywords:
    - test
    - testen
    - Software
    - SmokeTests
    - Entwicklung
    - phpunit

active_nav: phpunit-in-four-parts

hreflang:
  en:
    href: /en/talks/phpunit-in-four-parts.html
  de:
    href: /de/vortraege/phpunit-in-four-parts.html

add_css:
  - /assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css
  - /assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css
js:
  scripts:
    - /assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js
    - /assets/js/cube-portfolio-overlay-bottom.js
---
<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-v3">
    <div class="container text-center">
        <h1>PHPUnit</h1>
        <p> In 4 parts</p>
    </div><!--/end container-->
</div>
<!--=== End Breadcrumbs v3 ===-->

<!--=== Container Part ===-->
<div class="container">
    <div class="content">
        <!-- Magazine Slider -->
        <div class="carousel slide carousel-v2 margin-bottom-40" id="portfolio-carousel">
            <ol class="carousel-indicators">
                <li class="active rounded-x" data-target="#portfolio-carousel" data-slide-to="0"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="1"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="2"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="3"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="4"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="5"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="6"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="7"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/under-construction.jpg" alt="Die Titel Folie von Sebastian Thoss Vortrag SmokeTests - The what, why and how" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/under-construction.jpg" alt="Mit dieser Folie beschreibt Sebastian Thoss " />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/under-construction.jpg" alt="Auf dieser Folie zeigt Sebastian Thoss " />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/under-construction.jpg" alt="Mit dieser Folie zeigt Sebastian Thoss " />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/under-construction.jpg" alt="Mit dieser Folie zeigt Sebastian Thoss " />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/under-construction.jpg" alt="Mit dieser Folie wei&szligt Sebastian Thoss darauf hin, " />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/under-construction.jpg" alt="Anhand dieser Folie erkl&auml;rt Sebastian Thoss wie " />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/under-construction.jpg" alt="Hier zeigt Sebastian Thoss " />
                </div>
            </div>

            <a class="left carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="prev">
                <i class="fa fa-angle-left arrow-prev"></i>
            </a>
            <a class="right carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="next">
                <i class="fa fa-angle-right arrow-next"></i>
            </a>
        </div>
        <!-- End Magazine Slider -->

        <div class="row margin-bottom-30">
            <div class="col-sm-8">
                <div class="headline"><h2>Kurzbeschreibung</h2></div>
                <p>
                    Wir beginnen mit den Grundlagen und führen Sie durch die 4 Teile des schreibens von Tests mit PHPUnit.
                </p>
                <ul>
                    <li>
                        Teil 1: Unit Testing
                    </li>
                    <li>
                        Teil 2: Integration Testing
                    </li>
                    <li>
                        Teil 3: Acceptance Testing
                    </li>
                    <li>
                        Teil 4: Smoke Testing
                    </li>
                </ul>
                <p>
                    Nach diesem Vortrag haben Sie ein gutes Verständnis für alle 4 Arten von Tests.
                    Sie werden wissen, wie sie strukturiert werden sollten und in welchen Fällen die Tests verwendet werden.
                    Außerdem erhalten Sie für jeden Typ eine Vielzahl von Beispielen und Übungen.
                </p>
                <p>
                    Die Intention dieses Vortrags ist es, einen Überblick darüber zu geben, wie diese 4 Testarten strukturiert und geschrieben werden können, sowie wo und wann sie voneinander zu trennen sind.
                    Die Folien enthalten grafische Erklärungen sowie Ausführungen zum Quellcode für jeden Teil.
                </p>
            </div>
            <div class="col-sm-4">
                <div class="headline"><h2>Talk Details</h2></div>
                <ul class="list-unstyled project-details">
                    <li><strong>Vortragender:</strong> Sebastian Thoss</li>
                    <li><strong>L&auml;nge:</strong> 35 to 45 minutes</li>
                    <li><strong>Probedatum:</strong> noch nicht festgelegt</li>
                    <li><strong>Probe Event:</strong> noch nicht festgelegt</li>
                    <li><strong>Vortrag am:</strong> 14. M&auml;rz 2019</li>
                    <li><strong>Vorbereitet f&uuml;r</strong> <a href="https://confoo.ca/en/yul2019/session/phpunit-in-4-parts" target="_blank">ConFoo 2019, Montreal<i class="fa fa-external-link margin-left-5"></i></a></li>
                </ul>
            </div>
        </div>

        {% include 'other-talks/de.html.twig' with {skipId: '10'} %}

    </div>
</div>
<!--=== End Container Part ===-->