---
layout: german
permalink: de/vortraege/smoke-tests-the-what-why-and-how.html

title: "SmokeTests - The what, why and how"
meta:
  description: "Details &uuml;ber Sebastian Tho&szlig;'s Vortrag zum Thema Smoke Tests "
  keywords:
    - test
    - testen
    - Software
    - SmokeTests
    - Entwicklung
    - phpunit

active_nav: talks-smoke-tests-what-why-how

hreflang:
  en:
    href: /en/talks/smoke-tests-the-what-why-and-how.html
  de:
    href: /de/vortraege/smoke-tests-the-what-why-and-how.html

add_css:
  - /assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css
  - /assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css
js:
  scripts:
    - /assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js
    - /assets/js/cube-portfolio-overlay-bottom.js
---
<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-v3">
    <div class="container text-center">
        <h1>SmokeTests</h1>
        <p>The what, why and how</p>
    </div><!--/end container-->
</div>
<!--=== End Breadcrumbs v3 ===-->

<!--=== Container Part ===-->
<div class="container">
    <div class="content">
        <!-- Magazine Slider -->
        <div class="carousel slide carousel-v2 margin-bottom-40" id="portfolio-carousel">
            <ol class="carousel-indicators">
                <li class="active rounded-x" data-target="#portfolio-carousel" data-slide-to="0"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="1"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="2"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="3"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="4"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="5"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="6"></li>
                <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="7"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/smoke-tests/smoke-tests-what-why-how-confoo-001.jpg" alt="Die Titel Folie von Sebastian Thoss Vortrag SmokeTests - The what, why and how" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/smoke-tests/smoke-tests-what-why-how-confoo-014.jpg" alt="Mit dieser Folie beschreibt Sebastian Thoss die Testpyramide" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/smoke-tests/smoke-tests-what-why-how-confoo-017.jpg" alt="Auf dieser Folie zeigt Sebastian Thoss was SmokeTests sind" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/smoke-tests/smoke-tests-what-why-how-confoo-022.jpg" alt="Mit dieser Folie zeigt Sebastian Thoss was ein Smoke Test pr&uuml;ft" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/smoke-tests/smoke-tests-what-why-how-confoo-025.jpg" alt="Mit dieser Folie wei&szlig;t Sebastian Thoss darauf hin, dass ein einzelner SmokeTest langsam ist" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/smoke-tests/smoke-tests-what-why-how-confoo-034.jpg" alt="Mit dieser Folie zeigt Sebastian Thoss wie oft SmokeTests laufen und wie es aussieht wenn sie langsam werden" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/smoke-tests/smoke-tests-what-why-how-confoo-037.jpg" alt="Anhand dieser Folie erkl&auml;rt Sebastian Thoss wie die Library funktioniert" />
                </div>
                <div class="item">
                    <img class="full-width img-responsive" src="{{ site.url }}/assets/img/smoke-tests/smoke-tests-what-why-how-confoo-057.jpg" alt="Hier zeigt Sebastian Thoss das es auch SmokeTesting as a Service gibt" />
                </div>
            </div>

            <a class="left carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="prev">
                <i class="fa fa-angle-left arrow-prev"></i>
            </a>
            <a class="right carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="next">
                <i class="fa fa-angle-right arrow-next"></i>
            </a>
        </div>
        <!-- End Magazine Slider -->


        <div class="row margin-bottom-30">
            <div class="col-sm-8">
                <div class="headline"><h2>Talk Abstract</h2></div>
                <p>
                    Heute ist ganz klar, warum wir Unit Tests benötigen.
                    Selbst integration- und acceptance tests sind durchaus üblich.
                    Keiner dieser Tests wird jedoch im Allgemeinen in der Produktionsumgebung durchgeführt.
                    Sind Sie sicher, dass alle Ihre Webseiten in Produktion funktionieren, nachdem das neueste Feature implementiert wurde?
                    Entdecken Sie SmokeTests (auch bekannt als sanity- oder availability tests) und erfahren Sie, warum jedes Webentwicklungsteam diese einrichten sollte.
                </p>
                <p>
                    Ich werde zeigen, dass Smoke Tests eine gute Möglichkeit sind, um zu bestätigen, dass alle kritischen URLs funktionieren.
                    Der erste Teil ist eine allgemeine Übersicht über das testen von Source code.
                    Anschließend wird SmokeTesting ausführlich erläutert, einschließlich Codebeispiele zur einfachen Wiederverwendung.
                    Außerdem zeige ich, wie der Workflow von deployments in Produktionsumgebungen aussehen könnte.
                    Sie erfahren, wie die richtige Serverkonfiguration dazu beiträgt, dass SmokeTests ausgeführt werden, und wie wir sicherstellen, dass der Smoke Test die Benutzer nicht beeinträchtigt.
                </p>
            </div>
            <div class="col-sm-4">
                <div class="headline"><h2>Talk Details</h2></div>
                <ul class="list-unstyled project-details">
                    <li><strong>Vortragender:</strong> Sebastian Thoss</li>
                    <li><strong>L&auml;nge:</strong> 35 to 45 minutes</li>
                    <li><strong>Vortrag am:</strong> 15. M&auml;rz 2019</li>
                    <li><strong>Vorbereitet f&uuml;r</strong> <a href="https://confoo.ca/en/yul2019/session/smoketests-the-what-why-and-how" target="_blank">ConFoo 2019, Montreal<i class="fa fa-external-link margin-left-5"></i></a></li>
                    <li><strong>Github:</strong> <a href="https://github.com/DjThossi/smoke-testing-php" target="_blank">Smoke-Testing-PHP<i class="fa fa-external-link margin-left-5"></i></a></li>
                </ul>
            </div>
        </div>

        {% include 'other-talks/de.html.twig' with {skipId: '9'} %}

    </div>
</div>
<!--=== End Container Part ===-->