
<div class="blog_masonry_3col">
    <div class="container content grid-boxes">

        {% for post in posts %}
            <div class="grid-boxes-in">
                {% if post.overview.image.url %}
                    {% if post.overview.external_link %}
                        <a href="{{ post.overview.external_link }}" target="_blank">
                            <img class="img-responsive center-block" src="{{ site.github.url }}{{ post.overview.image.url }}" alt="{{ post.overview.image.alt }}">
                        </a>
                    {%  else %}
                        <a href="{{ site.github.url }}{{ post.url }}">
                            <img class="img-responsive center-block" src="{{ site.github.url }}{{ post.overview.image.url }}" alt="{{ post.overview.image.alt }}">
                        </a>
                    {%  endif %}
                {% endif %}
                <div class="grid-boxes-caption">
                    <h3>
                        {% if post.overview.external_link %}
                            <a href="{{ post.overview.external_link }}" target="_blank">{{ post.title }}</a>
                        {%  else %}
                            <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
                        {%  endif %}
                    </h3>
                    <ul class="list-inline grid-boxes-news">
                        <li><i class="fa fa-calendar"></i>
                            {{ post.date | date_to_long_string }}
                        </li>
                        <li>
                            <i class="fa fa-globe"></i>
                            {% for location in post.locations limit:3 %}
                                {% if forloop.last == false %}
                                    {{ location }},
                                {% else %}
                                    {{ location }}
                                {% endif %}
                            {% endfor %}
                        </li>
                    </ul>
                    <p>
                        {{ post.overview.intro }}
                    </p>

                    <p>
                        {% if post.overview.external_link %}
                            <a class="btn-u btn-u-sm" href="{{ post.overview.external_link }}" target="_blank">{{ readMore }} <i class="fa fa-external-link margin-left-5"></i></a>
                        {%  else %}
                            <a class="btn-u btn-u-sm" href="{{ site.url }}{{ post.url }}">{{ readMore }} <i class="fa fa-angle-double-right margin-left-5"></i></a>
                        {%  endif %}
                    </p>

                </div>
            </div>
        {% endfor %}

    </div><!--/container-->
</div>