{% if cols is not defined %}
    {% set cols = 4 %}
{% endif %}

{% set filteredTalks = [] %}
{% for talk in talks if talk.id != skipId %}
    {% set filteredTalks = filteredTalks|merge([talk]) %}
{% endfor %}

<div id="grid-container" data-cols="{{ cols }}" class="cbp-l-grid-agency">

    {% for talk in filteredTalks|slice(0, limit) %}
        <div class="cbp-item  {{ talk.tags|join(' ') }}">
            <a href="{{ site.url }}{{ talk.link }}" class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="{{ site.url }}{{ talk.image.url }}" alt="{{ talk.image.alt|raw }}">
                </div>
                <div class="cbp-caption-activeWrap default-transparent-hover">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">{{ talk.title|raw }}</div>
                            <div class="cbp-l-caption-desc">{{ talk.subtitle|raw }}</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}

</div>
<!--/end Grid Container-->