---
layout: blog/en/travelblog
title: "Day trip to Manly"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

headline:
  image:
    url: "/assets/img/blog/auszeit/IGP6574_sea_life_manly.jpg"
alt: "The Sea Life Aquarium in Manly from the water side"

overview:
  intro: "A few weeks ago I decided to go from the hostel to Manly with some beliefs. Manly is a district of Sydney, which borders directly on the sea in the northeast and has many beaches. Not only to the open sea but also towards the port. There we absolutely wanted to walk through the Haitunnel to Manly\'s best -known beach and in the Sealife Aquarium Manly."
  image:
    url: /assets/img/blog/auszeit/small/igp6529.jpg
alt: "The Rhapsody of the Seas in the port of Sydney"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
  </div>
  <div class="col-md-7">
    <p> A few weeks ago I decided to go from the hostel to Manly with some beliefs. Manly is a district of Sydney, which borders directly on the sea in the northeast and has many beaches. Not only to the open sea but also towards the port. There we absolutely wanted to walk through the Haitunnel to Manly's best -known beach and in the Sealife Aquarium Manly. </p>
    <p> The easiest way to get to Manly from the city center is by ferry. This drives off between the Harbor Bridge and the opera house on such a Gennanten Circular Quay. On this day we also had nice weather and even a cruise ship in the harbor. So you can imagine that I have already taken countless photos on the way to Manly. </p>
    <p> When we arrived in Manly, we went straight to the Sealife Aquarium along a small but fine and well -lived beach. </p>
    <p> Unfortunately, some beach access was closed. When we read the signs we couldn't believe the reason for the blocking. The signs said that the access is partially blocked because penguins are breeding there. I have to say that this piece of beach is not a way away from the beach in the middle of nature but is a jetty for a harbor ferry operating in a 30 -minute clock. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-183448.jpg" alt="It is really 20% larger than it appears through the glass.">
  </div>
  <div class="col-md-7">
    <p> There are also tens of surf, paddle and sailing schools as well as a small marina. The city starts right next to the beach. On the investor, thousands of people joined every day and even the usual suspects such as Mc Donalds, Subway and Aldi are represented directly on the investor. Definitely no place where you can suspect breeding penguins. We found it absolutely unimaginable. </p>
    <p> There was also a small group of penguins in the aquarium and how we learned from a friendly employee. They are called that because they are only 30cm the smallest kind of penguins and secondly their plumage shimmers blue in the sun. This colony is the last here in the state. Until recently there was a second bigger one. If I remember correctly, here too in Sydney. However, this was wiped out by a single dog. </p>
    <p> After we had made ourselves smart about the penguins, who lived on the upper floor we continued through the aquarium. There were several artificial coral reef on the ground floor in which many colorful fish and corals live. We were lucky enough to feed some of these fish and to learn a lot again. For example, we learned that some of these fish and octopuses have dark lights or green blood and three hearts. But what was much more impressive was the fact that this fish that I have so often admired in aquariums in Germany are at home here. One more reason to drive to the Great Barrier Reef. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-183448.jpg" alt="It is really 20% larger than it appears through the glass.">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-181431.jpg" alt="Manly Beach in wind">
  </div>
  <div class="col-md-7">
    <p> In the basement there was the huge shark and turtles by which you can walk through a kind of glass tunnel in the circle. Alternatively, you could jump into the pool for a certain surcharge and feed sharks. We left it through the tunnel. That was creepy enough a few times when suddenly a 2 meter long shark is behind you and you don't know about it. Then you are startled briefly. There were also huge spiked rays and turtles that hovered past us like weightlessly or lay still on the glass tube above us. </p>
    <p> We also listened to a lecture on these giants down there. We learned that stingrays are not poisonous and attacks only fatal when the sting really went straight through the heart. Haie are not as dangerous as you may think. Nevertheless, I don't want to encounter any of these fish in the wild. From the beach I might put up with it but in no way in the water. The nurse then showed us the interesting looking eggs of the sharks. They are about twice the size of a human fist and remind you very badly of a sea grass in the form of a corkscrew. </p>
    <p> Now we had learned a lot about the underwater world of Australia and decided to eat something. After enjoying a small snack on the jetty, we decided to take the short walk over to the big beach where the group then dissolved. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> Since it was too windy for me in the long run, I decided to go a little along the beach promenade and then return to the small beach on the investor through side streets and to enjoy the afternoon there in peace. </p>
    <p> There I spent a lot of time brooding over the penguins under the jetty and the letter of further blog entries. Before I made my way home in the early evening, of course, I quickly went shopping at Aldi. I even got German Christmas biscuits at horrendous prices. So I drove back to the city center of Sydney with a slightly heavier than imaginary bag. By chance, I took exactly the last ferry before the sunset and gave you the opportunity to take some impressive photos of the opera in the evening light on the way home. </p>
  </div>
</div>
