---
layout: blog/en/travelblog
title: "Sleeping places for the beginning"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Auckland
  - Christchurch
  - Sydney

overview:
  intro: "After I have spent a lot of time reading and writing over the past few weeks, I have to take care of the preparations for Australia again."
  image:
    url: /assets/img/blog/auszeit/small/1_l.jpg
alt: "Pentland\'s backpackers hostel"
---

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> After I have spent a lot of time reading and writing over the past few weeks, I have to take care of the preparations for Australia again. </p>
    <p> The only thing I've been doing for several weeks a day is to send applications to Australian companies. I have the little hope that a company may plan so far and promise me a job for a few months. It doesn't look that bad at the moment. I have already arranged an interview in Sydney and I should also report to at least 5 employment agents and companies as soon as I am in Australia. I should call two other personnel managers this week. <!--more--></p>
    <p> With the interview and the phone calls in the hindquarters, I decided to take a look at mine again <a title="Planung. Das A und O meiner Reise" href="{{ site.url }}/de/reiseblog/2012/07/29/planung-das-a-und-o-meiner-reise.html"> Todo list </a> to throw and tackle the next points. I decided to take care of the topic of accommodation next. As in the post " <a title="&Ouml;ffnet den Beitrag Probleme mit Camper Van f&uuml;r NZ" href="{{ site.url }}/de/reiseblog/2012/08/21/probleme-mit-camper-van-fuer-nz.html"> Problems with Camper van for NZ </a> "I already report 2 accommodations in New Zealand. One in Auckland and one in Christchurch. In addition, I would like to book accommodation for the first few days in Sydney. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
  </div>
  <div class="col-md-9">
    <h2> Auckland </h2>
    <p> In Auckland I need accommodation for 3 days. Since Sam also needs accommodation in Auckland for the first few days, we decided to search together. </p>
    <p> The race won that in the end <a title="&Ouml;ffnet die Hostel Webseite im neuen Fenster" href="https://www.german.hostelworld.com/hosteldetails.php/Pentlands-Backpackers-Hostel/Auckland/32629" target="_blank"> Pentland's backpackers hostel </a> for several reasons. One of the reasons is that it is a very cheap deal because the 3rd night is free. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> Apparently it is also a family -run hostel, which usually promises a higher quality. Despite that it apparently lies a little from the Zetrum, it should be easy to reach from the airport by bus. We chose one place in the 4 bed room. I only pay super cheap $ 51 (approx. 34 &euro;) for all 3 nights. Hopefully the hostel will keep what it promises even in its consistently good reviews. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-3 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/2_l.jpg" alt="Photo by the Haka Lodge">
  </div>
  <div class="col-md-9">
    <h2> Christchurch </h2>

    <p> In Christchurch the selection was different. Finally, I was spoiled for choice between 3 sleeping options. </p>
    <ol>
      <li> The <a title="&Ouml;ffnet die Hostel Webseite im neuen Fenster" href="https://www.german.hostelworld.com/hosteldetails.php/Kiwi-Basecamp/Christchurch/34237" target="_blank"> Kiwi Basecamp </a> In the city center </li>
      <li> The <a title="&Ouml;ffnet die Hostel Webseite im neuen Fenster" href="https://www.german.hostelworld.com/hosteldetails.php/Haka-Lodge/Christchurch/49121" target="_blank"> Haka Lodge </a> that is a little outside </li>
      <li> An old can that <a title="&Ouml;ffnet die Hostel Webseite im neuen Fenster" href="https://www.german.hostelworld.com/hosteldetails.php/Jailhouse-Accommodation/Christchurch/17155" target="_blank"> Jailhouse accommodation </a></li>
    </ol>
  </div>
  <div class="col-md-3 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/2_l.jpg" alt="Photo by the Haka Lodge">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> In the end I chose the jail and for the Haka Lodge, because I get the rare way to stay in a dormitory where there are no double -decker beds. In addition, this lodge is so well hidden at the end of the city that it is easy to get to the southeastern regions. In addition, other travelers report free internet, which I will need for my job search. By the way, the 3 nights will cost me $ 84NZ (approx. 56 &euro;), which is not quite as cheap as Auckland. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/8_l.jpg" alt="Photo from Balmain Backpackers">
  </div>
  <div class="col-md-9">
    <h2> Sydney </h2>
    <p> Since the selection in Sydney is so large and unfortunately the quality is not exactly very high, I just searched for the hostel with the most zuca offers. It is only for the first few days. Then I spontaneously got myself for that <a title="&Ouml;ffnet die Hostel Webseite im neuen Fenster" href="https://www.german.hostelworld.com/hosteldetails.php/Balmain-Backpackers/Sydney/1708" target="_blank"> Balmain Backpackers </a> decided. </p>
    <p> There are really many free additional offers in this hostel. Among other things, free WiFi and free calls to the Australian fixed and mobile network. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> So thanks to Skype, I can make calls to Germany inexpensively. Furthermore, there is also free breakfast and on Sundays there is a barbecue for everyone. The 6 nights in the 6 bed rooms cost reasonably cheap $ 126 (approx. 102 &euro;) </p>
    <p> The <a title="&Ouml;ffnet die Hostel Webseite im neuen Fenster" href="https://www.german.hostelworld.com/hosteldetails.php/Balmain-Backpackers/Sydney/1708" target="_blank"> Balmain Backpackers </a> Also a little off from the city center, but why do I actually have feet and also nearby is a stop of local local ferry. I hope it is not that expensive. </p>
    <p> So I have the next points on mine <a title="Planung. Das A und O meiner Reise" href="{{ site.url }}/de/reiseblog/2012/07/29/planung-das-a-und-o-meiner-reise.html"> Todo list </a> Completed and can take care of the postal address and bank account in Australia in the next few days. </p>
  </div>
</div>
