---
layout: blog/en/travelblog
title: "Two and a Half Days in Auckland"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Auckland

overview:
  intro: "I've spent the last two and a half days in Auckland. The plan was to use this time to fight off the inevitable jet lag. Thanks to getting some good sleep on the flights and quickly adapting to the new day/night rhythm (11 hours ahead of Germany), I didn't have any major problems. I only had a small energy dip on the afternoon after arrival, but I sometimes get those at home too, usually after a heavy lunch."
  image:
    url: /assets/img/blog/auszeit/small/20121015-2257131.jpg
    alt: "Pentlands Backpackers Hostel"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
  </div>
  <div class="col-md-8">
    <p>I've spent the last two and a half days in Auckland. The plan was to use this time to fight off the inevitable jet lag. Thanks to getting some good sleep on the flights and quickly adapting to the new day/night rhythm (11 hours ahead of Germany), I didn't have any major problems. I only had a small energy dip on the afternoon after arrival, but I sometimes get those at home too, usually after a heavy lunch.</p>
    
    <p>On Thursday, my arrival day, I reached the Pentlands Backpackers Hostel around 4 PM. The reception was closed, but after just a few seconds, a friendly gentleman came and checked me in. He gave me the key and showed me to my bed for the next three nights. I got lucky again and got a single bed (not a bunk) in a five-bed room, and it was even by the window! I left my bags in the room and went to look for Sam. As we'd arranged by text, I found her outside on the lawn next to the hostel.</p>
    
    <p>After chatting for a few minutes, we decided to get some exercise and climb Mount Eden, which is almost 200 meters high. The view of the city from up there was really beautiful. Since Mount Eden is a volcano, we could clearly see its crater, which is about 50 meters in diameter. The crater is now completely covered in grass.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121015-225323.jpg" alt="Mount Eden with its volcanic crater">
  </div>
  <div class="col-md-8">
    <p>After walking around the rim and feeling the cold wind up there, we decided to head to the nearby supermarket to get me some supplies for the first few days. When I saw the prices, I nearly fell over backward! A single bell pepper or a bag of Haribo candy costs NZ$3 (€2) in Auckland. A medium-sized jar of Nutella costs NZ$9 (€6). Sam and I decided we'd have to curb our cravings here and try to do without these luxuries. But there are some more affordable foods - bananas, kiwis, and some types of sausage and cheese are reasonably priced. After shopping, we went back to the hostel, cooked dinner, and enjoyed the rest of the day.</p>
    
    <p>On Friday, I headed into the city. Since the weather was good, I walked to really take in my new surroundings. My destination was the Sky Tower. You could see it clearly from far away, which made it easy to navigate there. Once I arrived, I looked up and saw someone jumping down from above! Fortunately, they were secured by three ropes and landed gently on the designated platform.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121015-225323.jpg" alt="Mount Eden with its volcanic crater">
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121015-225350.jpg" alt="The Sky Tower in Auckland">
  </div>
  <div class="col-md-9">
    <p>My plan was to visit the 220-meter-high observation deck. I went through the entrance to the ticket counter. To avoid paying the full price of NZ$28 and get the discounted backpacker rate of NZ$18 instead, I had gotten a confirmation from the hostel. Everything went smoothly, and up I went to the 220-meter level. From there, I took lots of photos (hopefully they turned out well!) of Auckland, the harbor where a container ship from Hamburg was unloading, and of course the surrounding islands.</p>
    
    <p>I spent several hours on that level before slowly making my way back down. I stopped again at about 186 meters to look around and watch the jumpers whizzing past. Just watching them made me feel dizzy, so I decided it was time to get some fresh air at the base of the tower.</p>
    
    <p>While looking for a McDonald's (for the free WiFi and a small snack), I passed an Irish-style whiskey shop where I quickly tried some New Zealand whiskey - and quite liked it! At McDonald's, I spent about an hour browsing the internet for things I'd like to do in the coming days.</p>
    
    <p>As the weather was getting increasingly windy and wet, I decided to head back to the hostel and spend a cozy evening there.</p>
    
    <p>Saturday isn't really worth mentioning because it poured rain all morning and was stormy all day. I didn't venture beyond the property boundary. I passed the time reading, cooking, and chatting with other travelers. Most of the other guests in the hostel are German too.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>On my last day in Auckland, I picked up my campervan for the next two weeks. What went wrong with that and who helped me out - well, you'll find out next time!</p>
    
    <p>Greetings from New Zealand!</p>
  </div>
</div>
