---
layout: blog/en/travelblog
title: "Road Trip: Driving My MINI from Dublin to Hamburg"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Belgium
  - Brussels
  - Cambrai
  - Germany
  - Dublin
  - France
  - Hamburg
  - Ireland
  - Netherlands
  - Roscoff
  - Rosslare

overview:
  intro: "As promised on Twitter, today I want to tell you about my journey driving my MINI from Dublin to Hamburg."
  image:
    url: /assets/img/blog/auszeit/small/20120912-085024.jpg
    alt: "The ferry Oscar Wilde as we were driving onto it"
---

<div class="row margin-bottom-10">
    <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
        <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20120912-084333.jpg" alt="One of the many historic villages in the Irish National Heritage Park">
    </div>
    <div class="col-md-7">
        <p>As promised on Twitter, today I want to tell you about my journey driving my MINI from Dublin to Hamburg.</p>
        <p>It all started last Wednesday when Steffi arrived in Dublin. Since I still had to work Wednesday and Thursday, Steffi found other ways to keep herself busy in the city. In the evening, we prepared the car for its long journey and sorted out everything we needed to take.<!--more--></p>

        <h2>Friday</h2>
        <p>Friday morning, we finally set off. Since we didn't need to be at the ferry until 3 PM, we decided to take a small detour - first to do some clothes shopping for Steffi, then to visit the Irish National Heritage Park. The park is really nice and very informative, though you should plan at least 2 hours for the visit, and good weather definitely helps!</p>

        <p>When we arrived at the ferry terminal, everything moved quickly. Within about 30 minutes, we were on board and in our 3-star interior cabin.</p>
    </div>
    <div class="col-md-5 hidden-sm hidden-xs">
        <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20120912-084333.jpg" alt="One of the many historic villages in the Irish National Heritage Park">
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-md-5 margin-bottom-10">
        <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20120912-085024.jpg" alt="The ferry Oscar Wilde as we were driving onto it">
    </div>
    <div class="col-md-7">
        <p>This two-bed cabin was definitely much more spacious than the two-star four-bed cabin I had on my journey to Ireland. After showing Steffi around the ship and departing right on schedule, our journey began. We got bored pretty quickly though. At first, we thought about getting dinner, but changed our minds when we saw the restaurant prices. We spent some time in our cabin and on deck, which didn't help much with the boredom. Finally, we settled into one of the ship's bars with hot chocolates, staring out the window.</p>

        <h2>Saturday</h2>
        <p>We arrived in Roscoff just as punctually as we'd left Rosslare. Even though we hadn't booked Speedy Exit, we were off the ship in just over 30 minutes and ready to tackle our planned 700km drive. The journey was relatively uneventful. We stopped at Carrefour twice to fill up on cheap fuel and grab drinks and fresh croissants. The price difference between highway gas stations and Carrefour in France is quite extreme - fuel on the highway was about €0.20 to €0.25 more expensive per liter. Since Carrefour stores are often near highways, these small detours were definitely worth it.</p>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
        <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20120912-085040.jpg" alt="The Premiere Class Hotel Proville in Cambrai, France">
    </div>
    <div class="col-md-7">
        <p>Our destination for Saturday was Cambrai in northern France, since the potential buyer for the car hadn't committed yet. We paid about €30 in tolls to get there - €5.30 here, €6.50 there, and so on. In the evening, we had a bit of trouble finding our hotel because it wasn't at the beginning of the street as shown in our documents, but hidden at the end of an alley. We made such good time that we arrived at the hotel almost three hours early.</p>
        
        <p>After checking in and seeing our small room and even tinier bathroom, we decided to head into the city center. We had dinner at a small Chinese takeaway where the dishes were just microwaved and served in plastic containers on plates. Afterward, we took a pleasant walk through the streets before heading back to the hotel.</p>

        <h2>Sunday</h2>
        <p>Sunday was okay, but things didn't go quite as smoothly as Saturday. When we set out, we remembered it was Sunday and weren't sure if any shops would be open. Luckily, we found an open bakery where I could quickly buy fresh croissants before we headed toward Brussels. Since our GPS showed we'd reach Hamburg around 3 PM (plus breaks), we decided to take a longer 2-3 hour break in Brussels.</p>
    </div>
    <div class="col-md-5 hidden-sm hidden-xs">
        <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20120912-085040.jpg" alt="The Premiere Class Hotel Proville in Cambrai, France">
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p>Brussels is fundamentally a beautiful city, though there was quite a lot of litter around - it looked like there had been a huge party the night before. Later we saw cleaning crews busy at work. After a short walk, we stopped at a small café to treat ourselves to authentic Belgian hot chocolate. Then we went looking for the Hard Rock Café to buy some t-shirts, exploring the historic city center along the way. Eventually, though, we had to get back on the road.</p>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-md-5 margin-bottom-10">
        <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20120912-085104.jpg" alt="A canal with a free ferry crossing we had to use because the highway was closed">
    </div>
    <div class="col-md-7">
        <p>Things stopped running so smoothly once we reached the Netherlands. Due to construction work, one of the highways we planned to take was completely closed. The detour took us on a zigzagging route via ferries and country roads toward Utrecht. This cost us almost two hours and added about 100km to our journey.</p>
        
        <p>Once we finally got back on the highway toward Germany, things improved. However, near Meppen, between Bremen and Osnabrück, we tried to get onto the A1 toward Hamburg, but that entrance was also closed. We had to drive several kilometers toward Osnabrück before finding an exit where we could turn around.</p>
        
        <p>We finally arrived in Hamburg just before 11 PM. After more than 13 hours and 811 kilometers, we were incredibly happy to be there and ready to fall straight into bed.</p>

        <h2>The Days After</h2>
        <p>After spending three hours on Monday getting the MINI registered in Germany again, I received an email from Ireland - the potential buyer now wanted to take the car after all! I could have screamed. On Tuesday, I headed back to Ireland for my final 3.5 weeks before returning to Hamburg to start my journey to New Zealand and Australia.</p>
        
        <p>Until next time,<br>Your Basti</p>
    </div>
</div>
