---
layout: blog/en/travelblog
title: "New Zealand: Greymouth - Haast"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Fox Glacier
  - Franz Josef Glacier
  - Greymouth
  - Haast

headline:
  image:
    url: "/assets/img/blog/auszeit/IGP5179_haast.jpg"
alt: "The blue hour in the parking lot near Haast"

overview:
  intro: "God was another night. I was shaken pretty well again because the wind was unfortunately no less. This time the wind did not come directly across the beach. So at least we were not in the middle of the sandstorm. After a few photos we decided to drive quickly because we also had something really interesting on the list today."
  image:
    url: /assets/img/blog/auszeit/small/20121031-073420.jpg
alt: "A Kea at the parking lot in front of the Franz Josef Gletscher"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-073420.jpg" alt="A Kea at the parking lot in front of the Franz Josef Gletscher">
  </div>
  <div class="col-md-8">
    <p> God, it was another night. I was shaken pretty well again because the wind was unfortunately no less. This time the wind did not come directly across the beach. So at least we were not in the middle of the sandstorm. After a few photos, we decided to drive on quickly because we also had something really interesting on the list today. </p>
    <p> Something that I really wanted to see here in New Zealand and therefore stood high up on my must-do list was finally looking at a glacier. Since we came through New Zealand for 4 days faster than I initially thought, I had enough time to drive the west coast south. According to the travel guide and friends, two really beautiful glaciers should be there. So we decided to take a look at the two. </p>
    <p> At the first, Franz Josef Gletscher, we treated ourselves to a longer break and only hiked through dense rainforest before it ends suddenly and gives the view of a large level and the glacier in the distance. On the approximately 45 -minute walk through the plane it went along many beautiful waterfalls. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-073547.jpg" alt="One of the many waterfalls in the valley of Franz Josef Glacier">
  </div>
  <div class="col-md-8">
    <p> The path ended suddenly about 300m in front of the glacier. There is an information board that is supposedly too dangerous to go on, but you could make a guided hike there for expensive money. </p>
    <p> We spent the night on a beautifully located free campsite near the beach. The way there led again through beautiful rainforest. It was about tight curves and mountain up and down. Sometimes it went down the mountain quite steeply on the right of the street and I thought several times that you didn't want to fall down there. You will definitely not be found there. But after a few minutes the street opened towards the beach. There were very bushy/shaky shrubs on the roadside where you had to just over. Oh f%#k! Braking! The shrubs moved. On the street. They were not shrubs at all. It was sheep who urgently needed a shear. After a few moments, they freed the road again and disappeared into the undergrowth of the rainforest. </p>
    <p> The parking space came a few hundred meters further. He was quite small and growing up by dense bushes. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-073547.jpg" alt="One of the many waterfalls in the valley of Franz Josef Glacier">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-073617.jpg" alt="The recovered conveyor belt made from gold digging times">
  </div>
  <div class="col-md-8">
    <p> We treated ourselves to a walk there, where we came across the remains of gold flakes. We learned that these are several failed attempts to search the sand for gold. We found a crowned conveyor belt and some old large gears made of rusted steel. </p>
    <p> The next morning we went back to the Fox Glacier. Once there, we first went to the tourist information and found that we couldn't get closer there either. So we decided to bite the very acid apple and output the $ 115 (75 &euro;). We got a 3-4 hour hike to and on the glacier. We were given to slamotes. However, the guide told us that we would not need all shifts, since the weter on the glacier had been great for days and we would otherwise sweat too much. </p>
    <p> Unfortunately, the weather took us a stroke through really good photos. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-073525.jpg" alt="Glacier hike on the Fox Glacier">
  </div>
  <div class="col-md-8">
    <p> As soon as we went to the glacier with the glacier, it started to hail violently and only stopped when we were down from the ice. It was still nice to see and you get a good feeling for how sensitive nature is and how much strength such a glacier has. </p>
    <p> In the evening we drove until shortly before Haast.
      We stopped in a larger parking lot that is nicely located behind a dune on the beach and even a high seat from which I could photograph the sunset.
      We decided that we are too broken to drive on and stay here.
      The night was so clear that I could still take really great photos of the blue hour before it was to bed. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-073525.jpg" alt="Glacier hike on the Fox Glacier">
  </div>
</div>
