---
layout: blog/en/travelblog
title: "Obituary for two years of Ireland"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Dublin
  - Ireland

overview:
  intro: "I have already seen most of the countries centrally and west of Europe and I can only say Ireland best so far. I was there for almost exactly 2 years now. I saw and experienced so much in these two years. I am very grateful for that."
  image:
    url: /assets/img/blog/auszeit/small/20121012-1123051.jpg
alt: "The harp. A bridge in Dublin"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
  </div>
  <div class="col-md-8">
    <p> I have already seen most of the countries centrally and west of Europe and I can only say Ireland best so far. I was there for almost exactly 2 years now. I saw and experienced so much in these two years. I am very grateful for that. </p>
    <p> But everything started very turbulent. Actually, I hadn't expected a job in Ireland and looked for something else in Germany. One day a company called to me and ask if I would have time for a short conversation. It turned out that it was one of the companies that I had applied. I had completely forgotten that. 2 more days later I had the job. Over the next 4 weeks, all my friends and family helped me to dissolve my apartment in Hamburg and to clear them in a small warehouse. </p>
    <p> At that time, many of my friends asked me what you have to consider so that you can work as a German in Ireland. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> The question was answered very quickly. Just a PPS number. This is a mixture of social security and tax identification number. You can apply for this directly on site and are required for everything else such as bank account or cell phone contract. </p>
    <p> In mid -October 2010 I started in Dublin at the new company? In which all colleagues were very friendly and, above all, helpful. I quickly found new friends and felt very native to my new flat share. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-3 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121012-113008.jpg" alt="A round tower in Glendalough with Celtic Cross in front of it">
  </div>
  <div class="col-md-9">
    <p> It was just stupid that I already realized on the flight to Dublin that something was not in ornament with my voice. The first few days in a foreign country and in foreign language without really talking were not easy. Especially since I had never really taken care of health/medicine in the English courses. So I am without really talking, let alone know the words to the next pharmacy and got me something to inhale by giving a few incomprehensible sounds of me and showing on my throat. It worked, the rest didn't care. </p>
    <p> Still from Germany, I organized a German -language evening in a completely unknown pub to come across like -minded people and, if necessary, get more tips. I met a really nice woman at this meeting. Your name is Sam. I have been traveling with her regularly since then and we explored a lot of angles in Ireland. Initially even smaller tours through Dublin and in the surrounding area, since my car was still in Germany at that time. Sam is still a very good friend. </p>
    <p> During this time we walked fantastic hiking trails through the city and along the coast. As soon as I brought my car to Ireland Easter 2011, travel really started. I was in Galway and on the Ring of Kerry. Visited acquaintances in Cork. I was at Giant's Causeway with Sam. We consciously dealt and landed on the beach by car. Have explored beautiful mountain landscapes. Were on the highest mountain in Wicklow. We made great rides on the beach and in the mountains. Of course, I also visited almost every major city in the two years. To name just a few: Belfast, Newcastle, Bushmills, Sligo, Donegal, Galway, Killarney, Cork, Waterford, Wexford, Kilkenny, Athlone, Wicklow and of course Dublin. </p>
  </div>
  <div class="col-md-3 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121012-113008.jpg" alt="A round tower in Glendalough with Celtic Cross in front of it">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121012-113456.jpg" alt="Sheep in Ireland">
  </div>
  <div class="col-md-8">
    <p> In Dublin itself I saw many beautiful and traditional pubs and of course the extraordinary pubs. I enjoyed drinks in a church converted into a pub and in an old bank building. I was seduced to the French S&eacute;ine in Irish pubs or moved back in a pub around the corner by several centuries. </p>
    <p> I was also in a wide variety of restaurants in Dublin. Starting with drunk karaoke for the evening Irish Breakfast. Burgers continued in a wide variety of restaurants to Lebanese and Tepepenyaki. </p>
    <p> I also realized with events. I was at Cirque du Soleil, Jeff Dunnham, Lord of the Rings concert, John Williams Soundtrack concert and several Klasian concerts. With the company I was in the horse and dog race. I was in the botanical garden for the orchid exhibition and visited several whiskey distilleries. Museums and galleries were of course also there. I was still at Comedy Nights and in the theater. Finally, in Dublin there were also the Tall Ships that I looked at. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> Unfortunately, I did not get the Cliff of Moher to which I drove and then turned back to the too expensive parking lot and I haven't seen the state of Donegal with its dreamlike nature either. </p>
    <p> I still think I used the time in Ireland very well and made the best of it. Even if I'm just a few days away from Ireland, I somehow miss it. So here below a farewell pleasure in Irish and English, which I got from a good colleague. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-offset-2 col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121012-113731.jpg" alt="The waterfall in Glendalough">
  </div>
  <div class="col-md-offset-2 col-md-4">
    <blockquote class="text-right bq-green">
      <h3> Irish </h3>
      <p> Go n-&eacute;ir&iacute; an B&oacute;thar Leat
        Go Raibh to Ghaoth Go Br&aacute;ch AG Do Ch&uacute;l <br> Go Lonra&iacute; an Ghrian Go Te Ar d'Aghaidh <br> Go dite to Bh&aacute;isteach Go M&iacute;n Ar do Ph&aacute;irceanna <br> Agus Go Mbuailimid Le Ch&eacute;ile Ar&iacute;s, <br> Go gcoinn&iacute; dia i mbos a l&aacute;imhe th&uacute;. </p>

      <h3> English </h3>
      <p> May the road rise up to meet you. <br> May the Wind Be Always at your back. <br> May the Sun Shine Warm Upon Your Face; <br> The Rain's Fall Soft Upon Your Fields and Until We Meet Again, <br> May God Hold You In The Palm of his Hand </p>
    </blockquote>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121012-113731.jpg" alt="The waterfall in Glendalough">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> So that was my obituary for two fantastic years Ireland. Maybe I'll go back there at some point. Now New Zealand and Australia are being explored. </p>
  </div>
</div>
