---
layout: blog/en/travelblog
title: "A Day Trip to Manly"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

headline:
  image:
    url: "/assets/img/blog/auszeit/IGP6574_sea_life_manly.jpg"
    alt: "The SEA LIFE Aquarium in Manly viewed from the water"

overview:
  intro: "A few weeks ago, I decided to go to Manly with some friends from the hostel. Manly is a suburb of Sydney located in the northeast that directly borders the sea and has many beaches, not only facing the open ocean but also toward the harbor. We were eager to visit Manly's most famous beach and walk through the shark tunnel at the SEA LIFE Aquarium Manly."
  image:
    url: /assets/img/blog/auszeit/small/igp6529.jpg
    alt: "The Rhapsody of the Seas in Sydney Harbour"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
  </div>
  <div class="col-md-7">
    <p>A few weeks ago, I decided to go to Manly with some friends from the hostel. Manly is a suburb of Sydney located in the northeast that directly borders the sea and has many beaches, not only facing the open ocean but also toward the harbor. We were eager to visit Manly's most famous beach and walk through the shark tunnel at the SEA LIFE Aquarium Manly.</p>
    <p>The easiest way to get to Manly from the city center is by ferry. The ferry departs from Circular Quay, which is located between the Harbour Bridge and the Opera House. That day, we had beautiful weather and there was even a cruise ship in the harbor. As you can imagine, I had already taken countless photos just on the journey to Manly.</p>
    <p>After arriving in Manly, we walked directly to the SEA LIFE Aquarium along a small but lovely and lively beach.</p>
    <p>Unfortunately, some beach access points were closed. When we read the signs, we could hardly believe the reason for the closure. The signs stated that access was partially restricted because penguins were nesting there. I should mention that this section of beach is not some remote natural area, but rather the docking point for a harbor ferry that operates on a 30-minute schedule.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-183448.jpg" alt="It's actually 20% larger in real life than it appears through the glass.">
  </div>
  <div class="col-md-7">
    <p>Additionally, there are dozens of surf, paddle, and sailing schools, as well as a small marina. The urban area begins right next to the beach. Thousands of people crowd the dock area daily, and the usual suspects like McDonald's, Subway, and Aldi are all represented directly at the ferry terminal. Definitely not a place where you'd expect to find nesting penguins. We found it absolutely incredible.</p>
    <p>There was also a small group of penguins in the aquarium, and as we learned from a friendly employee, what we'd seen was true—a colony of 50-60 pairs of "Little" or "Blue Penguins" do live under the ferry dock. They're called that because, first, at only 30cm tall they're the smallest species of penguin, and second, their feathers shimmer blue in the sunlight. This colony is the last one in the state. Until recently, there was a second, larger colony (also in Sydney, if I remember correctly), but it was wiped out by a single unleashed dog.</p>
    <p>After learning about the penguins, which lived on the upper floor, we continued through the aquarium. On the ground floor, there were several artificial coral reefs inhabited by many colorful fish and corals. We were lucky enough to witness the feeding of some of these fish and learned quite a bit in the process. For example, we discovered that some of these fish and octopuses glow in the dark or have green blood and three hearts. But what was even more impressive was the realization that these fish, which I had so often admired in aquariums in Germany, are native here. One more reason to visit the Great Barrier Reef.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-183448.jpg" alt="It's actually 20% larger in real life than it appears through the glass.">
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-181431.jpg" alt="Manly Beach on a windy day">
  </div>
  <div class="col-md-7">
    <p>In the basement was the enormous shark and turtle tank, which you can walk around in a circular glass tunnel. Alternatively, for an additional fee, you could jump into the pool and feed the sharks. We stuck with walking through the tunnel, which was already scary enough at times when a 2-meter-long shark would suddenly appear behind you without warning. It gave me quite a start. There were also huge stingrays and turtles that floated past us as if weightless or lay motionless on the glass tube above us.</p>
    <p>We also listened to a presentation about these giant creatures. We learned that stingrays aren't actually poisonous and attacks are only fatal if the barb goes directly through the heart. Sharks, too, aren't as dangerous as people might think. Nevertheless, I wouldn't want to encounter any of these fish in the wild. I might be willing to observe them from the beach, but certainly not while in the water. The keeper then showed us the interesting-looking shark eggs, which are about twice the size of a human fist and strongly resemble a corkscrew-shaped seaweed.</p>
    <p>By then, we had learned quite a bit about Australia's underwater world and decided to get something to eat. After enjoying a small snack at the dock, we decided to take the short walk over to the large beach, where our group eventually dispersed.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>Since it was too windy for me after a while, I decided to stroll along the beach promenade for a bit and then return to the small beach by the ferry terminal via the side streets to enjoy the rest of the afternoon in peace.</p>
    <p>I spent much of that time pondering the penguins under the dock and writing more blog entries. Before heading home in the early evening, I naturally made a quick shopping trip to Aldi. I even found German Christmas cookies, albeit at horrendous prices. So I returned to Sydney's city center with a heavier bag than anticipated. By chance, I caught the last ferry before sunset, which gave me the opportunity to take some impressive photos of the Opera House in the evening light on the way home.</p>
  </div>
</div>
