---
layout: blog/en/travelblog
title: "Finding Places to Stay: The First Steps"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Auckland
  - Christchurch
  - Sydney

overview:
  intro: "After spending the past few weeks mostly reading and writing, it's time to focus on my preparations for Australia again."
  image:
    url: /assets/img/blog/auszeit/small/1_l.jpg
    alt: "Pentlands Backpackers Hostel"
---

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>After spending the past few weeks mostly reading and writing, it's time to focus on my preparations for Australia again.</p>
    
    <p>The only thing I've been doing consistently for several weeks now is sending job applications to Australian companies. I have a small hope that some company might be planning far enough ahead to offer me a position for a few months. Things aren't looking too bad actually - I've already arranged an interview in Sydney, and at least five recruitment agencies and companies want me to contact them as soon as I arrive in Australia. I also need to call two more HR managers this week.<!--more--></p>
    
    <p>With the interview and phone calls lined up, I decided to take another look at my <a title="Planning: The Essential Foundation of My Trip" href="{{ site.url }}/en/travelblog/2012/07/29/planning-the-be-all-and-end-all-of-my-trip.html">todo list</a> and tackle the next items. I decided to focus on accommodation next. As mentioned in my post about "<a title="Booking My New Zealand Campervan: Not As Easy As Expected" href="{{ site.url }}/en/travelblog/2012/08/21/problems-with-camper-van-for-nz.html">Problems with the Campervan for NZ</a>", I need two places to stay in New Zealand - one in Auckland and one in Christchurch. I also want to book somewhere for my first few days in Sydney.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
  </div>
  <div class="col-md-9">
    <h2>Auckland</h2>
    <p>I need accommodation in Auckland for three days. Since Sam also needs a place to stay in Auckland for the first few days, we decided to search together.</p>
    
    <p>After looking around, we settled on the <a title="Opens the hostel website in a new window" href="https://www.german.hostelworld.com/hosteldetails.php/Pentlands-Backpackers-Hostel/Auckland/32629" target="_blank">Pentlands Backpackers Hostel</a> for several reasons. One major factor was their great deal where the third night is free.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>It's also a family-run hostel, which usually means higher quality. While it's a bit outside the city center, it should be easily accessible from the airport by bus. We each booked a bed in a four-bed room. I'm only paying NZ$51 (about €34) for all three nights, which is super cheap. I hope the hostel lives up to its consistently good reviews!</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-3 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/2_l.jpg" alt="Photo of the Haka Lodge">
  </div>
  <div class="col-md-9">
    <h2>Christchurch</h2>
    <p>In Christchurch, I had a different selection to choose from. I narrowed it down to three options:</p>
    
    <ol>
      <li>The <a title="Opens the hostel website in a new window" href="https://www.german.hostelworld.com/hosteldetails.php/Kiwi-Basecamp/Christchurch/34237" target="_blank">Kiwi Basecamp</a> in the city center</li>
      <li>The <a title="Opens the hostel website in a new window" href="https://www.german.hostelworld.com/hosteldetails.php/Haka-Lodge/Christchurch/49121" target="_blank">Haka Lodge</a> which is a bit outside the center</li>
      <li>A converted prison called <a title="Opens the hostel website in a new window" href="https://www.german.hostelworld.com/hosteldetails.php/Jailhouse-Accommodation/Christchurch/17155" target="_blank">Jailhouse Accommodation</a></li>
    </ol>
  </div>
  <div class="col-md-3 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/2_l.jpg" alt="Photo of the Haka Lodge">
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>In the end, I chose the Haka Lodge over the jail because they offer something rare - a dorm room without bunk beds. Plus, the lodge is well-positioned at the edge of the city, making it easy to access the southeastern regions. Other travelers also mentioned they have free internet, which will be essential for my job search. The three nights will cost me NZ$84 (about €56), which isn't quite as cheap as Auckland, but still reasonable.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/8_l.jpg" alt="Photo of Balmain Backpackers">
  </div>
  <div class="col-md-9">
    <h2>Sydney</h2>
    <p>Sydney has a huge selection of hostels, but the quality seems to vary widely. Since I only need somewhere for the first few days, I focused on finding a place with the most included amenities. I ended up choosing <a title="Opens the hostel website in a new window" href="https://www.german.hostelworld.com/hosteldetails.php/Balmain-Backpackers/Sydney/1708" target="_blank">Balmain Backpackers</a>.</p>
    
    <p>This hostel offers lots of free extras, including WiFi and free calls to Australian landlines and mobile phones.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>Thanks to their phone service and Skype, I'll be able to call Germany affordably. They also provide free breakfast, and on Sundays, they have a BBQ for all guests. Six nights in a six-bed room costs AU$126 (about €102), which is fairly reasonable.</p>
    
    <p>The <a title="Opens the hostel website in a new window" href="https://www.german.hostelworld.com/hosteldetails.php/Balmain-Backpackers/Sydney/1708" target="_blank">Balmain Backpackers</a> is also a bit outside the city center, but I have feet to walk with, and there's a local ferry stop nearby. I just hope the ferry isn't too expensive!</p>
    
    <p>So that's another few items checked off my <a title="Planning: The Essential Foundation of My Trip" href="{{ site.url }}/en/travelblog/2012/07/29/planning-the-be-all-and-end-all-of-my-trip.html">todo list</a>. Next up: sorting out my postal address and bank account in Australia.</p>
  </div>
</div>
