---
layout: blog/en/travelblog
title: "Disgusting: Balmain Backpacker\'\'s"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Newcastle
  - Sydney

overview:
  intro: "Well, when I think of this hostel I only think of words like: corner, dirty, spotted, neglected and just Pfui."
  image:
    url: /assets/img/blog/auszeit/small/20121104-154521.jpg
alt: "Balmain backpackers. No thanks!"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121104-154521.jpg" alt="Balmain backpackers. No thanks!">
  </div>
  <div class="col-md-8">
    <p> Well, when I think of this hostel I only think of words like: corner, dirty, spotted, neglected and just Pfui. </p>
    <p> I had booked the Balmain Backpacker's Hostel in Sydney in Sydney for my first 6 nights because it was cheap and a little bit of the center. The problems with the hostel started before I was there. Since everything took a little longer at the airport, I tried to reach the hostel by phone to make sure that I still come in because the reception is only occupied until 5 p.m. Of course I couldn't reach anyone except that. So I just drove there, hoping that someone is already leaving me in. </p>
    <p> A friendly young man also opened the door to me and also knew about my arrival. After we went through the nothing that was said, it became strange for the first time. The gear behind the door ended in a garage. There were several vehicles, a washing machine two autmats and a group of really rancid chairs around an even more rancid table. Smiling, the young man told me that this was one of the lounges. I still hoped that it would be better. Unfortunately it wasn't. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121104-154511.jpg" alt="One of the two non -usable kitchens">
  </div>
  <div class="col-md-8">
    <p> In the middle of the garage, a staircase went up to the first floor, in which one of the two kitchens was located. This did not look really inviting and was also full of people. We then went on to the second floor, where there are some guest rooms and the second kitchen. This was actually no longer usable. The oven was missing completely and most of the shelves were missing. The seating furniture that stood in front of the kitchenette looked like they had been brought to bulky waste 3 times and unloaded here again. Sit through, with holes and slots. The wooden floor has also been wet several times because it had risen in some places like a sponge. </p>
    <p> It then continued over a terrace, with dirty and unkempt garden furniture, to another stairwell. On the next floor, he showed me other wicked rooms, such as bathrooms, toilets, a really corner ironing board and also the room where I should sleep for the next 6 nights. The room was even reasonably clean. But so small that there was no space for decent storage space. So I just had to put my things on the floor. In addition, there was no way for me to close my valuables properly. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121104-154511.jpg" alt="One of the two non -usable kitchens">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121104-154502.jpg" alt="The extremely corner ironing board">
  </div>
  <div class="col-md-8">
    <p> The door could only be opened inwards. So you always have to push yourself past one of the beds when leaving the room. The window went out to the main street and was open all the time, otherwise we would braise in our own juice. Of course there is no air conditioning. The upper end of the wall to the hallway is made of glass stones. Thus, the room is heavily illuminated at night, whenever someone turns the door to the hallway and triggers the motion detector for light. Oh and the double -stick bed has no ladder and also wiggled suspiciously. </p>
    <p> The bathroom was so dirty and disgusting that I taught myself how to use a bathroom including showering without touching anything. The sagrotan bottle became my best friend there. The sink wobbled. The amatur was only loose in the bracket. The door of the shower cubicle had been replaced by a poorly attached shower curtain. The tiles themselves did not look that old yet, but the joints were so dirty that you don't get them clean without a hammer and chisel. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121104-154452.jpg" alt="Dirt everywhere you look">
  </div>
  <div class="col-md-8">
    <p> In the evening it smelled suspiciously of hemp in the garage in the garage and as much as that could be really bad. I was glad that I hadn't paid for every 6 nights. It quickly became clear to me that I won't be able to endure it for a very long time. The next day I went to management to address the problems. The lady took note of it all, but looked at me as if nothing would change anyway. </p>
    <p> I decided to stay a second night because the next day I was invited to Newcastle for a trial day at an agency. I still had to pay for 3 nights because Balmain Backpacker's Hostel had to be booked at least 3 nights. I only regret the German girl, which was in a room with me. She thought similarly to me, but had decided to stay there all booked nights. I hope that she found something better afterwards. </p>
    <p> Next time how it was in Newcastle. </p>
    <p> Update spring 2021: The hostel is called "Clover Free Car Parking Hostel" today and seems to have been renovated. Nevertheless, I would still have to pay a lot of money today before I stayed there again. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121104-154452.jpg" alt="Dirt everywhere you look">
  </div>
</div>
