---
layout: blog/en/travelblog
title: "Travel report: Mini to Hamburg"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Belgium
  - Brussels
  - Cambrai
  - Germany
  - Dublin
  - France
  - Hamburg
  - Ireland
  - Netherlands
  - Roscoff
  - Rosslare

overview:
  intro: "Today, as already announced on Twitter, I would like to report on the tour with the Mini to Hamburg."
  image:
    url: /assets/img/blog/auszeit/small/20120912-085024.jpg
alt: "The ferry Oscar Wilde Wähend we drive on it"
---

<div class="row margin-bottom-10">
    <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
        <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20120912-084333.jpg" alt="One of the many villages in the Irish National Heritage Park">
    </div>
    <div class="col-md-7">
        <p> Today, as already announced on Twitter, I would like to report on the tour with the Mini to Hamburg. </p>
        <p> Everything started in Dublin last Wednesday when Steffi arrived with me. Since I still had to work on Wednesday and Thursday, Steffi was looking for another job in Dublin. In the evening we prepared the car for the long journey and sorted everything that should be. <!--more-->
        </p>

        <h2> Friday </h2>
        <p> It finally started on Friday. Since we only had to be on the ferry at 3 p.m., we decided to drive a small detour to buy clothes for Steffi and stop at the Irish National Heritage Park. This park is quite nice and very informative. But you should have at least 2 hours and good weather would be an advantage. </p>

        <p> Arrived at the ferry terminal, everything went very quickly and we were on board in about 30 minutes and in our 3 star inner cabin. </p>
    </div>
    <div class="col-md-5 hidden-sm hidden-xs">
        <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20120912-084333.jpg" alt="One of the many villages in the Irish National Heritage Park">
    </div>
</div><div class="row margin-bottom-10">
    <div class="col-md-5 margin-bottom-10">
        <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20120912-085024.jpg" alt="The ferry Oscar Wilde Wähend we drive on it">
    </div>
    <div class="col-md-7">
        <p> This 2 -bed cabin was definitely much more spacious than the 2 stars 4 bed cabin, which I had on the way at the time. After showing Steffi the ship and we had put it on time for the minute, the trip started. We were very boring pretty quickly. At first we considered going food, but then let go of it when we saw the prices in the restaurants. After that we were in the room and on deck for some time, which was not exactly helpful when bored. Finally, we sat in one of the on -board pubs and drank hot chocolate and stared out the window. </p>

        <h2> Saturday </h2>
        <p> As punctual as we had put in Rosslare, we also arrived in Rosscoff. Despite that we had not booked a Speedy Exit, we drove off the ship in just over half an hour and went to the planned 700km. These were relatively unspectacular. We took a break at Carrefour twice to fill up with cheap and get drinks and fresh croissants. The price difference between the highway and carrrefour is really extreme in France. On the highway, the fuel was approximately &euro; 0.20 to &euro; 0.25. Since Carrefour is often near motorways, the small detour was twice worthwhile. </p>
    </div>
</div><div class="row margin-bottom-10">
    <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
        <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20120912-085040.jpg" alt="The premiere Class Hotel Proville at Cambrai, France">
    </div>
    <div class="col-md-7">
        <p> Our daily destination was Cambrai in northern France on Saturday because the potential buyer for the car did not get out of the kink. We had to pay about 30 &euro; toll until then. Here &euro; 5.30 and there again 6.50 &euro; and so on and so on. In the evening we had to search for the hotel a little because it was not at the beginning of the street, as was shown on our documents, but was hidden at the end of the alley. We even got through so well that we arrived at the hotel for just under 3 hours earlier. </p>
        <p> After checking in and visiting the small room and the much smaller bath, we decided to go to the city center. There we fed in a small Chinese snack in which the dishes are only warmed up in the microwave and were served in plastic shells on the plate. Then we treated ourselves to a little walk through the streets before we drove back to the hotel. </p>

        <h2> Sunday </h2>
        <p> The Sunday was ok, but unfortunately not everything went as well as on Saturday. When driving off we think that it is Sunday and we first have to see whether shops open at all. Luckily, a baker was open, in which I was able to quickly buy fresh croissants before we made our way towards Brussels. Since we would arrive in Hamburg at around 3 p.m. + breaks, we decided to take a longer break of 2 to 3 hours in Brussels. </p>
    </div>
    <div class="col-md-5 hidden-sm hidden-xs">
        <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20120912-085040.jpg" alt="The premiere Class Hotel Proville at Cambrai, France">
    </div>
</div><div class="row margin-bottom-10">
    <div class="col-md-12">
        <p> Brussels is fundamentally a beautiful city, but unfortunately there was quite a lot of garbage around, as if a huge party took place the night before. Later the hustle and bustle of the cleaning columns could also be observed. After a little walk we are in a small caf&eacute; to treat us to a real hot Belgian chocolate. Then we started looking for the Hard Rock Caf&eacute; to buy shirts. On the way there we still roamed the historic city center. But then we had to continue. </p>
    </div>
</div><div class="row margin-bottom-10">
    <div class="col-md-5 margin-bottom-10">
        <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20120912-085104.jpg" alt="Channel with free ferry crossing because the highway was closed">
    </div>
    <div class="col-md-7">

        <p> In Holland it was no longer possible to run as smoothly. Because of construction work, one of the highways we wanted to take was completely closed. The detour that followed led over ferries and country roads in a zigzag towards Utrecht. As a result, we had lost almost two hours and ride about 100km more. </p>
        <p> After we were finally back on the highway towards Germany, things went better again. Behind Meppen between Bremen and Osnabr&uuml;ck we tried to come to the A1 towards Hamburg. Unfortunately, this driveway was also closed. So we had to drive for a few km towards Osnabr&uuml;ck before an exit we could turn. </p>
        <p> We finally arrived in Hamburg shortly before 11 p.m. After over 13 hours and 811 km we were really happy to be there and only ripe for the bed. </p>

        <h2> Days after </h2>
        <p> After we needed 3 hours on Monday, I got an email from Ireland again in Germany that the potential buyer would like to take the mini now. I could have cursed. Tuesday I went back to Ireland for the remaining 3.5 weeks before I go to Hamburg to start my trip to New Zealand and Australia from there. </p>
        <p> See you soon. <br> Your basti </p>
    </div>
</div>
