---
layout: blog/en/travelblog
title: "Reflections on Two Years in Ireland"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Dublin
  - Ireland

overview:
  intro: "Having traveled through most of Central and Western Europe, I can honestly say that Ireland has been my favorite country so far. I spent almost exactly two years there, during which I saw and experienced so much. I'm incredibly grateful for all of it."
  image:
    url: /assets/img/blog/auszeit/small/20121012-1123051.jpg
    alt: "The harp bridge in Dublin"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt | raw}}">
  </div>
  <div class="col-md-8">
    <p>Having traveled through most of Central and Western Europe, I can honestly say that Ireland has been my favorite country so far. I spent almost exactly two years there, during which I saw and experienced so much. I'm incredibly grateful for all of it.</p>
    <p>It all started quite unexpectedly. I had actually given up hope of finding a job in Ireland and was looking for something else in Germany. Then one day, a company called asking if I had time for a quick chat. It turned out to be one of the companies I had applied to - I had completely forgotten about that application! Two days later, I had the job. Over the next four weeks, all my friends and family helped me pack up my apartment in Hamburg and move everything into a small storage unit.</p>
    <p>At that time, many of my friends asked me what requirements there were for Germans wanting to work in Ireland.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>The answer was quite simple: all you need is a PPS number. This is a combination of social security and tax identification number. You can apply for it once you're in Ireland, and you need it for everything else like opening a bank account or getting a mobile phone contract.</p>
    <p>I started at my new company in Dublin in mid-October 2010. All my colleagues were incredibly friendly and, most importantly, helpful. I quickly made new friends and felt right at home in my new shared apartment.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-3 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121012-113008.jpg" alt="A round tower in Glendalough with Celtic Cross in front of it">
  </div>
  <div class="col-md-9">
    <p>The only problem was that I noticed something wrong with my voice during the flight to Dublin. Those first few days in a foreign country, trying to communicate in a foreign language without being able to speak properly, were quite challenging. It didn't help that I had never really covered health/medical vocabulary in my English courses. So there I was, barely able to speak, let alone knowing the right words, making my way to the nearest pharmacy. Through a combination of incomprehensible sounds and pointing at my throat, I managed to get some inhalation medicine. It worked, and that's all that mattered.</p>
    <p>While still in Germany, I had organized a German-language meetup at a pub I'd never been to, hoping to meet like-minded people and maybe get some local tips. At this meetup, I met a really lovely woman named Sam. Since then, we've regularly traveled together and explored many corners of Ireland. Initially, we stuck to smaller tours around Dublin and the surrounding area, as my car was still in Germany at the time. Sam remains a very good friend to this day.</p>
    <p>During this time, we walked fantastic hiking trails through the city and along the coast. Once I brought my car over from Germany at Easter 2011, our real travels began. I visited Galway and drove the Ring of Kerry with my family. I visited friends in Cork. Sam and I went to the Giant's Causeway. We got deliberately lost once and ended up driving on a beach. We explored beautiful mountain landscapes and climbed the highest peak in Wicklow. We went horseback riding on beaches and through mountains. Of course, I also visited almost every major city during those two years, including Belfast, Newcastle, Bushmills, Sligo, Donegal, Galway, Killarney, Cork, Waterford, Wexford, Kilkenny, Athlone, Wicklow, and of course Dublin.</p>
  </div>
  <div class="col-md-3 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121012-113008.jpg" alt="A round tower in Glendalough with Celtic Cross in front of it">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121012-113456.jpg" alt="Sheep in Ireland">
  </div>
  <div class="col-md-8">
    <p>In Dublin itself, I explored many beautiful traditional pubs as well as some truly unique ones. I enjoyed drinks in a church that had been converted into a pub and in an old bank building. Some pubs transported me to the banks of the French Seine, while others felt like stepping back several centuries in time.</p>
    <p>I also experienced Dublin's diverse culinary scene. From late-night karaoke sessions with evening Irish breakfasts to gourmet burgers at various restaurants, and from Lebanese cuisine to Teppanyaki, I tried it all.</p>
    <p>The city's cultural scene was equally rich. I saw performances by Cirque du Soleil and Jeff Dunham, attended concerts featuring music from The Lord of the Rings and John Williams soundtracks, and enjoyed several classical concerts. Through work, I experienced both horse and dog racing. I visited the Botanical Gardens during their orchid exhibition and toured several whiskey distilleries. Of course, I also explored museums and galleries. I enjoyed comedy nights and theater shows, and even got to see the Tall Ships when they visited Dublin.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>The only regrets I have are not seeing the Cliffs of Moher (I actually drove there but turned back when I saw how expensive the parking was) and not yet exploring County Donegal with its stunning natural beauty.</p>
    <p>Still, I believe I made the most of my time in Ireland. Even though I've only been away for a few days, I already miss it. So I'll end with this beautiful Irish blessing that a dear colleague shared with me:</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-offset-2 col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121012-113731.jpg" alt="The waterfall in Glendalough">
  </div>
  <div class="col-md-offset-2 col-md-4">
    <blockquote class="text-right bq-green">
      <h3>Irish</h3>
      <p>
        Go n-éirí an bóthar leat<br>
        Go raibh an ghaoth go brách ag do chúl<br>
        Go lonraí an ghrian go te ar d'aghaidh<br>
        Go dtite an bháisteach go mín ar do pháirceanna<br>
        Agus go mbuailimid le chéile arís,<br>
        Go gcoinní Dia i mbos a láimhe thú.
      </p>

      <h3>English</h3>
      <p>
        May the road rise up to meet you.<br>
        May the wind be always at your back.<br>
        May the sun shine warm upon your face;<br>
        The rains fall soft upon your fields and until we meet again,<br>
        May God hold you in the palm of His hand.
      </p>
    </blockquote>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121012-113731.jpg" alt="The waterfall in Glendalough">
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>And so ends my reflection on two wonderful years in Ireland. Perhaps I'll return there someday. But for now, it's time to explore New Zealand and Australia.</p>
  </div>
</div>
