---
layout: blog/en/travelblog
title: "Disgusting: Balmain Backpacker's"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Newcastle
  - Sydney

overview:
  intro: "When I think of this hostel, only words like revolting, filthy, grimy, neglected, and simply 'ugh' come to mind."
  image:
    url: /assets/img/blog/auszeit/small/20121104-154521.jpg
    alt: "Balmain backpackers. No thanks!"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121104-154521.jpg" alt="Balmain backpackers. No thanks!">
  </div>
  <div class="col-md-8">
    <p>When I think of this hostel, only words like revolting, filthy, grimy, neglected, and simply 'ugh' come to mind.</p>
    <p>I had booked the Balmain Backpacker's Hostel in Sydney for my first six nights because it was inexpensive and slightly away from the city center. The problems with the hostel started before I even arrived. Since everything took longer than expected at the airport, I tried calling the hostel to make sure I could still check in, as the reception was only staffed until 5 PM. Of course, I couldn't reach anyone except their answering machine. So I just went there, hoping someone would let me in.</p>
    <p>A friendly young man did open the door for me and was aware of my arrival. After we went through the unremarkable entrance door, things started to get strange. The hallway behind the door led into a garage. There were several vehicles, a washing machine, two vending machines, and a group of really grimy chairs around an even grimier table. Smiling, the young man told me this was one of the common areas. I was still hoping it would get better. Unfortunately, it didn't.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121104-154511.jpg" alt="One of the two unusable kitchens">
  </div>
  <div class="col-md-8">
    <p>In the middle of the garage, a staircase led up to the first floor, where one of the two kitchens was located. It didn't look very inviting and was also full of people. We then continued to the second floor, where some guest rooms and the second kitchen were located. This kitchen was essentially unusable. The oven was completely missing, and most of the shelves in the refrigerator were gone. The seating furniture in front of the kitchenette looked like it had been taken to the dump three times and then brought back here. The seats were worn through, with holes and tears. The wooden floor had clearly been wet multiple times, as it had swollen up like a sponge in several places.</p>
    <p>We continued across a terrace with dirty, neglected garden furniture, to another stairwell. On the next floor, he showed me more disgusting rooms, including bathrooms, toilets, a truly revolting ironing board, and finally the room where I was supposed to sleep for the next six nights. The room was actually reasonably clean. But it was so small that there was no space for proper storage. So I had to put my things on the floor. Also, there was no way for me to properly secure my valuables.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121104-154511.jpg" alt="One of the two unusable kitchens">
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121104-154502.jpg" alt="The extremely disgusting ironing board">
  </div>
  <div class="col-md-8">
    <p>The door could only open inward, so you always had to squeeze past one of the beds when leaving the room. The window faced the main street and was open all the time; otherwise, we would have stewed in our own sweat. Of course, there was no air conditioning. The upper part of the wall facing the hallway was made of glass blocks, so the room would be brightly illuminated at night whenever someone opened the hallway door and triggered the motion sensor for the lights. Oh, and the bunk bed had no ladder and wobbled suspiciously.</p>
    <p>The bathroom was so dirty and disgusting that I taught myself how to use a bathroom, including showering, without touching anything. My bottle of disinfectant became my best friend there. The sink wobbled. The faucet was loose in its fixture. The door of the shower stall had been replaced by a poorly attached shower curtain. The tiles themselves didn't look that old, but the grout was so filthy that you couldn't clean it without a hammer and chisel.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121104-154452.jpg" alt="Dirt everywhere you look">
  </div>
  <div class="col-md-8">
    <p>In the evening, there was a suspicious smell of marijuana in the garage, and it was so strong that it could make you feel sick. I was glad I hadn't paid for all six nights upfront. It quickly became clear to me that I wouldn't be able to tolerate it for very long. The next day, I went to management to address the problems. The lady took note of everything but looked at me as if nothing would change anyway.</p>
    <p>I decided to stay a second night because the next day I was invited to Newcastle for a trial day at an agency. I still had to pay for three nights because Balmain Backpacker's Hostel required a minimum booking of three nights. I feel sorry for the German girl who was in my room. She felt similarly to me but had decided to stay for all her booked nights. I hope she found something better afterward.</p>
    <p>Next time, I'll tell you about Newcastle.</p>
    <p>Update Spring 2021: The hostel is now called "Clover Free Car Parking Hostel" and seems to have been renovated. Nevertheless, even today, you'd have to pay me a lot of money before I'd stay there again.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121104-154452.jpg" alt="Dirt everywhere you look">
  </div>
</div>
