---
layout: blog/en/travelblog
title: "2.5 days Auckland"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Auckland

overview:
  intro: "I spent the last 2.5 days in Auckland. It was planned to fight against the very likely jet during this time. So that I was able to sleep quite well on the flights and found the new day / night rhythm (11 hours later than in Germany), I had no major problems. Only on the first day after arrival I had a little follower in the afternoon. But sometimes I also have them at home. Usually after a hearty and big noon."
  image:
    url: /assets/img/blog/auszeit/small/20121015-2257131.jpg
alt: "Pentland\'s backpacker hostel"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
  </div>
  <div class="col-md-8">
    <p> I spent the last 2.5 days in Auckland. It was planned to fight against the very likely jet during this time. So that I was able to sleep quite well on the flights and found the new day / night rhythm (11 hours later than in Germany), I had no major problems. Only on the first day after arrival I had a little follower in the afternoon. But sometimes I also have them at home. Usually after a hearty and big noon. </p>
    <p> On Thursday, the day of my journey, I reached the Pentlands Backpacker Hostel around 4 p.m. Unfortunately the reception was still closed but after a few seconds a friendly gentleman came and let me check in. He gave me the key and showed me my bed for the 3 nights. I was lucky again and got a single bed in a 5 bed room and it even stood by the window. I left my bags in the room and started looking for Sam. As discussed by SMS before, I found her outside in the meadow next to the accommodation. </p>
    <p> After a few minutes of chatting, we decided to move a little and climb Mount Eden with its almost 200 meters. From up there we had a really nice view of the city. Since Mount Eden is a volcano, you could see the crater very well with its about 50m diameter. But this was already fully overgrown with lawn. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121015-225323.jpg" alt="Mount Eden with volcanic rates">
  </div>
  <div class="col-md-8">
    <p> After we were around a round and the wind up there was very cold, we decided to go to the nearby food market and to shop for me for the first few days. When I saw the prices, I fell almost in the back. A single pepper or a bag of Haribo costs $ 3 (2 &euro;) in Auckland. A medium glass Nutella costs $ 9 (6 &euro;). Sam and I decided that we will descend our additives here and try without getting along. But there are also cheaper foods. Bananas, Kiwis, some varieties sausage and cheese can be obtained here for a good course. After shopping, we went back to the hostel, cooked and enjoyed the rest of the day. </p>
    <p> On Friday I made my way to the city. Since the weather was good, I went on foot to really see the new environment. My goal was the Sky Tower. You could already see it well from a long time and it made it just to walk there. Once on site, I looked up and saw someone jumped down from above. Fortunately, this person was secured on 3 ropes and gently landed on the planned platform. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121015-225323.jpg" alt="Mount Eden with volcanic rates">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121015-225350.jpg" alt="The television tower in Auckland">
  </div>
  <div class="col-md-9">
    <p> My plan was now to get the 220m high viewing platform. So off through the entrance and to the cash register. So that I did not have to pay the full price of $ 28, but only the reduced backpacker price of $ 18 I had a confirmation from the hostel. That worked without any problems and I was able to go up on the 220m. From there I took many, hopefully beautiful photos of Auckland, the port in which a Hamburg container ship was extinguishing and of course the surrounding islands. </p>
    <p> I spent several hours on this floor before I slowly turned down again. I stopped again at a height of about 186m and looked around there again in peace and checked the sprinklers past. I made it very different from watching and I decided to go to the fresh air at the foot of the tower. </p>
    <p> In search of an MC Donalds (because of free WiFi and a small snack) I came past a Irish style in whiskey shop in which I quickly tried New Zealand whiskey and found it good. When I arrived at MC Donalds, I rummaged for about a hour on the Internet to things that I would like to do in the next few days. </p>
    <p> Since the weather was increasingly windy and wet, I decided to go back to the hostel and end the evening comfortably on site. </p>
    <p> Saturday is not really worth mentioning because it rained from barrels throughout the morning and storm all day.  I did not go further than up to the property border. I brought the day around the corner with reading, cooking and exchange ideas with other travelers. Most other guests in the hostel are also Germans. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> On the last day in Auckland I picked up my motorhome for the next 2 weeks. What went wrong and who then helped me, you will find out next time. </p>
    <p> Greetings from New Zealand </p>
  </div>
</div>
