---
layout: blog/en/travelblog
title: "November in Sydney"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

headline:
  image:
    url: "/assets/img/blog/auszeit/IGP6534_harbour_bridge.jpg"
alt: "The just huge Harbor Bridge in Sydney"

overview:
  intro: "Now there is a month around again and I\'ve been traveling for two months now. My God runs as time. Since Australia is a good bit more expensive than planned and I also had a great vacation in New Zealand on October, I decided to step a little shorter in November. Nevertheless, I\'ve seen and experienced a lot here in Sydney. I would like to report on some of these experiences today."
  image:
    url: /assets/img/blog/auszeit/small/20121206-221611.jpg
alt: "Photo of the opera house in Sydney"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
  </div>
  <div class="col-md-7">
    <p> Now there is a month around again and I've been traveling for two months now. My God runs as time. Since Australia is a good bit more expensive than planned and I also had a great vacation in New Zealand on October, I decided to step a little shorter in November. Nevertheless, I've seen and experienced a lot here in Sydney. I would like to report on some of these experiences today. </p>
<h2> Attractions snapshot </h2>
<p> As I have already reported in the last posts, I spent the first few weeks in 3 hostels and looked for a job and an apartment during the time. In the rest of the time I have already looked at parts of some of the major main attractions in Sydney. </p>
<p> Among other things, I have already seen the opera house and the Harbor Bridge. But I'm not over the really huge bridge yet. I haven't got around the opera house either. But that is simply because I decided to look at the attractions bit by bit and in the first attempts I spontaneously came in between or it was already dark. The attractions are not very far away from my current home. I still have enough time to visit everything in peace. </p>

  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121206-224429.jpg" alt="A full size">
  </div>
  <div class="col-md-7">
    <h2> Merlin Annual Pass </h2>
    <p> Furthermore, I got an annual ticket (Merlin Annual Pass) for 11 attractions in Australia and Sydney, as this is cheaper if you visit at least 4 attractions. So now I have more than enough and opportunity to see something. For example in a very hot afternoon. Then I walked comfortably along the really worth seeing Darlin Harbor. Came by Wildlife Australia, where admission to me is free of charge. Since I was grateful for a little variety and was also happy to get out of the sun, I decided to go in. </p>
    <p> The wildlife here you have to imagine a little like zoo the other way around. You yourself are in a kind of air -conditioned glass tube and the animals are outside. There are only native animals to be seen. Which is really impressive. Even a huge salt water crocodile and helmet kasurs can be found there. Of course, the known representatives such as kangaroos, Wombats and all kinds of snakes are also represented. But here, too, I did not take a look at the first visit, but only a part and then went out again in the sun to enjoy the rest of the afternoon. The next time I visit there, I have to marvel at the butterfly farm, the Koalas and many other animal species. So it's worth going in again. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121206-224429.jpg" alt="A full size">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121210-205108.jpg" alt="Two boys well equipped">
  </div>
  <div class="col-md-7">
    <h2> Old acquaintance </h2>
    <p> As I already indicated in the last post, I should meet the two German boys Jan and Fabian again, whom I met in the hostel. Here is the resolution. I had also told you that the large double room was released in the shared apartment. You already suspect it. Yes, exactly! One day Jan and Fabian stood in the apartment door and moved in. You can imagine the amazement. In a city with more than 4.5 million inhabitants, we randomly move into the same apartment without which it was only partially talked about. I think it's good because the boys cook almost tasty every day and I can jail here and there. So I don't have to eat the typical pasta with ketchup anymore. </p>
    <h2> More excursions </h2>
    <p> In addition to the actions already mentioned above, I have experienced many little things. I've been swimming a few times, even if not in the sea but only in swimming pools and outdoor pools. What strikes me right now: I was even here one time or another by the sea, but I haven't come into contact with sea water yet. Will be time to catch up! </p>
    <p> I also go hiking through the city here in Sydney for several evenings a week and exploring the area. </p>
    <p> I also discovered Chinatown. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121210-212945.jpg" alt="Transition to the blue hour">
  </div>
  <div class="col-md-7">
    <p> I also discovered Chinatown. Where I went out to eat with some of the hostel a few days later. Since we cannot really read Mandarin now, most of us decided to be safe and order barbecue with hangers, which was really tasty. Melinda, however, ordered only a few chops due to the lack of hunger. You simply order the first from above there, apart from the word H&auml;nchen, nothing else was translated in English. It was a culinary letdown. The skewers were so keen that they needed some glasses of water to get down. </p>
    <p> A week earlier we were all together on the other side of the port under the Harbor Bridge and enjoyed the sunset with our finger on the trigger of our cameras. We were lucky and got a really fantastic gold hour that went into the blue hour incredibly. Absolutely perfect for photos. Unfortunately, I later had a very hard wind and really good night shots from Sydney's Skyline I had to move to another day. </p>
    <p> Furthermore, we drove with some people to Manly to the Sealife Aquarium and I looked at one or two fireworks and the official introduction to the Christmas season. In addition, you will receive more informed reports in the next few days. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121210-212945.jpg" alt="Transition to the blue hour">
  </div>
</div>
