---
layout: blog/en/travelblog
title: "New Zealand: From Greymouth to Haast"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Fox Glacier
  - Franz Josef Glacier
  - Greymouth
  - Haast

headline:
  image:
    url: "/assets/img/blog/auszeit/IGP5179_haast.jpg"
    alt: "The blue hour at the parking lot near Haast"

overview:
  intro: "Good grief, what another night! I was thoroughly shaken again as the wind unfortunately hadn't died down. This time, at least, the wind wasn't coming directly across the beach, so we weren't caught in the middle of a sandstorm. After taking a few photos, we decided to move on quickly since we had something really interesting planned for today."
  image:
    url: /assets/img/blog/auszeit/small/20121031-073420.jpg
    alt: "A Kea at the parking lot in front of the Franz Josef Glacier"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-073420.jpg" alt="A Kea at the parking lot in front of the Franz Josef Glacier">
  </div>
  <div class="col-md-8">
    <p>Good grief, what another night! I was thoroughly shaken again as the wind unfortunately hadn't died down. This time, at least, the wind wasn't coming directly across the beach, so we weren't caught in the middle of a sandstorm. After taking a few photos, we decided to move on quickly since we had something really interesting planned for today.</p>
    <p>One thing I absolutely wanted to see in New Zealand, which was high on my must-do list, was to finally get a close-up look at a glacier. Since we were making better time through New Zealand than I'd initially planned (about four days ahead of schedule), I had enough time to drive south along the West Coast. According to both travel guides and friends, there are two really beautiful glaciers there. So we decided to check them both out up close.</p>
    <p>At the first one, Franz Josef Glacier, we took a longer break and hiked through dense rainforest before it suddenly opened up to reveal a large plain with the glacier visible in the distance. The roughly 45-minute walk across the plain took us past many beautiful waterfalls.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-073547.jpg" alt="One of the many waterfalls in the valley of Franz Josef Glacier">
  </div>
  <div class="col-md-8">
    <p>The path abruptly ended about 300 meters from the glacier. There was an information board explaining that it was too dangerous to proceed further, though you could pay a considerable amount for a guided hike to get closer. </p>
    <p>We spent the night at a beautifully located free campsite near the beach. The route there led through stunning rainforest, with tight curves and lots of ups and downs. At times, the road had steep drop-offs to the right, and I thought several times that you wouldn't want to go over the edge there - you'd definitely never be found. After a few minutes, the road opened up toward the beach. There were very bushy, shaggy-looking shrubs along the roadside that we had to pass quite close to. Oh no! BRAKES! The shrubs were moving. Onto the road. They weren't shrubs at all - they were sheep that desperately needed shearing! After a few moments, they cleared the road and disappeared into the undergrowth of the rainforest.</p>
    <p>The parking area appeared a few hundred meters further on. It was quite small and surrounded by dense bushes.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-073547.jpg" alt="One of the many waterfalls in the valley of Franz Josef Glacier">
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-073617.jpg" alt="The abandoned conveyor belt from gold prospecting times">
  </div>
  <div class="col-md-8">
    <p>We went for a walk there and came across remnants of gold prospecting. We learned that these were from several failed attempts to search the sand for gold. We found a rusted-through conveyor belt and some large old gears made of corroded steel.</p>
    <p>The next morning, we headed back to Fox Glacier. Once there, we first stopped at the tourist information center and discovered that we couldn't get any closer to this glacier either without a tour. So we decided to bite the VERY sour apple and spend $115 (€75) for a 3-4 hour guided hike to and on the glacier. We were provided with various pieces of clothing, though the guide told us we wouldn't need all the layers since the weather on the glacier had been great for days and we would otherwise sweat too much.</p>
    <p>Unfortunately, the weather did us no favors for taking really good photos.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-073525.jpg" alt="Glacier hike on the Fox Glacier">
  </div>
  <div class="col-md-8">
    <p>As soon as we got close to the glacier, it started to hail heavily and only stopped when we were off the ice. Despite this, it was still beautiful to see, and we gained a good appreciation for how delicate nature is and how much power a glacier possesses.</p>
    <p>In the evening, we drove until just before Haast. We stopped at a larger parking area nicely situated behind a dune on the beach, which even had a viewing platform from which I could photograph the sunset. We decided we were too exhausted to drive any further and would stay there for the night. The night was so clear that I was able to take some really great photos during the blue hour before going to bed.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-073525.jpg" alt="Glacier hike on the Fox Glacier">
  </div>
</div>
