---
layout: blog/en/travelblog
title: "Weekend in Newcastle"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Newcastle
  - Sydney

overview:
  intro: "As promised last time, I would like to tell you about my time in Newcastle and about my job search there."
  image:
    url: /assets/img/blog/auszeit/small/20121120-131946.jpg
alt: "Newcastle from above"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121120-131946.jpg" alt="Newcastle from above">
  </div>
  <div class="col-md-8">
    <p> As promised last time, I would like to tell you about my time in Newcastle and about my job search there. </p>
    <p> As already reported, the Balmain Backpacker Hostel was in an earthly state. Nevertheless, I decided to stay there for another night, because I drove to Newcastle the next day to pass a detailed recruitment test with a software agency. The second reason for my second night in the Bruchbude was that I knew what was coming in the test. I wanted to take advantage of the remaining time and not look for a better place to stay. Last but not least, I had to pay for three nights anyway because it was the minimum in the hostel. </p>
    <p> As I said, since I didn't sleep better in the disgusting Balmain Backpacker Hostel in the disgusting Balmain, I looked at the morning that I came away and even made a train to Newcastle. I had already roughly looked at the area around Sydney on a map. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121120-131856.jpg" alt="The beach in front of the Yha Hostel in Newcastle">
  </div>
  <div class="col-md-8">
    <p> I then assumed that I drive through the entire travel time of 2.5 hours through the city or at least city. It was nothing. After just 15 minutes, the city suddenly disappeared and beautiful forested hills appeared. A short time later, water was added and the fjord landscape was ready. Some of the houses that appeared here and there were definitely only accessible by boat and should have extremely cheap rents, according to a fellow traveler. </p>
    <p> When I arrived in Newcastle, I made my way to the recruitment test. This then took over 5 hours and even had a lot of fun. Were nice to program nice functions. I didn't finish quite, but what I delivered was well thought out and implemented even better. I'm really a little proud of work. The company also offered me the job. The contract should go over the full 6 months and only start at the end of November. But I first asked for a little time to think about, because 6 months are actually a little too long for me. Otherwise I would work over the whole summer and travel in the Australian winter, and I also had an interview at Productreview.com.au in Sydney on Monday afterwards. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121120-131856.jpg" alt="The beach in front of the Yha Hostel in Newcastle">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121120-131938.jpg" alt="The Newcastle lighthouse from a distance">
  </div>
  <div class="col-md-8">
    <p> So I decided to treat myself to a nice weekend in Newcastle and make a head to make possible work scenarios. Since I have seen from Europe, the quality of the hostels in Australia had a little to be desired to be desired this time. I booked the hostel for the weekend on the YHA website. YHA is the Australian variant of the German Youth Haster Association. You can be sure that you get a certain quality. It was the same in Newcastle. The youth hostel (Yha Newcastle Beach) is only 200m from the beach and apparently many decades old. Nevertheless, the hostel was in good condition. Everywhere there were smaller lounges and some with a fireplace. The main carpenter reminded me of a traditional pub that I had once visited in the rural west of Ireland. Everywhere large comfortable sofas with small tables that only scream afterwards: get a beer, sit down and relax. </p>
    <p> On Saturday I didn't really get away from the hostel. I was on the nearest mountain in the morning to get an overview. </p>

  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121120-133124.jpg" alt="A really nice truck complete made of carbon">
  </div>
  <div class="col-md-8">
    <p> The way there led along the beach, which was very beautiful and also relatively empty. As soon as the path led away from the beach, there were pretty annoying flies around me. I quickly realized that away from the sea with his breeze there are many flying and I can tell you that they are annoying without end. So I then watched that I came back to the hostel and spent the rest of the day with phone calls with family and friends. </p>
    <p> On Sunday I actually wanted to go to Whale Watching (watching whales) but then I should have got up earlier. I just didn't feel like it and slept. I decided to run the beach in front of the hostel in the other direction and maybe go to the lighthouse. When I walk around, I stumbled across a Trucker Festival with hundreds of Australian trucks. A lot then promptly again that my dad had given me the order to photograph trucks on my trip. Now I got the opportunity. I took so many photos that my order is now more than fulfilled. I have to say my dad's darling is. I could even get him the brochures from the Australian variant. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121120-133124.jpg" alt="A really nice truck complete made of carbon">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> In the evening I drove back to Sydney. I had already used their reservation service in Newcastle and had a bed in the YHA reserved at the main train station in Sydney. The train journey back to Sydney was really impressive. To see a lot again and the train too quickly to really see it. At some point I look at the area in peace. </p>
    <p> I will tell you how my job search went on next time. </p>
  </div>
</div>
