---
layout: blog/en/travelblog
title: "13.03. Adelaide to Sydney"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Adelaide
  - Glenrowan
  - Goulburn
  - Grampians
  - Illawarra
  - Keith
  - Melbourne
  - Sydney

overview:
  intro: "In the last 6 days I've driven almost 2000km to get back to Sydney. During this time I didn't experience too many exciting things, so I'd like to summarize the return trip in a single entry."
  image:
    url: /assets/img/blog/auszeit/small/igp8180.jpg
alt: "Whenever you put a dollar in the top to start the grill, it falls right back out."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8180.jpg" alt="Whenever you put a dollar in the top to start the grill, it falls right back out.">
  </div>
  <div class="col-md-7">
    <p> In the last 6 days I've driven almost 2000km to get back to Sydney. During this time I didn't experience too many exciting things, so I'd like to summarize the return trip in a single entry. </p>
    <h3> 08.03. Rest area in Keith </h3>
    <p> Today I didn't want to go too far. Just back to Keith, but first I wanted to go to a shopping center to stock up on supplies for the return trip. So I quickly packed everything in the morning and headed out shopping. </p>
    <p> Unfortunately, I discovered that Steffi accidentally took the cable that connects my iPad to the car radio. Since I wanted to listen to a lot of audiobooks on the way back, I had to get another cable. After getting a new clasp for my necklace (the old one was lost the day before), I slowly started my journey back. </p>
    <p> Arriving in Keith, I stumbled upon a rest area in the middle of town. It was equipped with several BBQ grills and a large playground. Since nobody was around and there wasn't much traffic, I decided to just stay there. I quickly bought some fresh sausages for the grill at the nearest store and enjoyed the evening as it came to an end. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8193.jpg" alt="A waterfall from several hundred meters away">
  </div>
  <div class="col-md-7">
    <h3> 09.03. Mackenzie Falls </h3>
    <p> Before setting off this morning, I quickly went looking for a geocache. But unfortunately, I wasn't lucky with that again. </p>
    <p> My tour took me to the Grampians today. The Grampians is a mountain range between Adelaide and Melbourne. Some well-known friends had told me I should drive through there. So I looked on the map for MacKenzie Falls and drove there. </p>
    <p> Once there, I treated myself to a short hike on the well-maintained trails before sitting next to my car to write and read blog posts. As dusk set in, huge kangaroos emerged and hopped across the parking lot looking for food. Since they were almost my size, I decided to slowly retreat to my car and turn in for the night. </p>
    <h3> 10.03. Melbourne </h3>
    <p> This morning I drove through the Grampians to the Gold Museum in Ballarat. I actually wanted to visit it, but the price was so high. After being told there wasn't even a discount with my youth hostel card, I decided to just continue driving to Melbourne. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8193.jpg" alt="A waterfall from several hundred meters away">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> Once there, I also found that the campsite had become quite a bit more expensive. It was a festival weekend - so prices were elevated. Well, it's only for one night. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8276.jpg" alt="Me at a campsite with a postcard">
  </div>
  <div class="col-md-7">
    <h3> 11.03. Glenrowan Melbourne Aquarium </h3>
    <p> This morning I traveled through Melbourne using free public transport. First, I visited the Melbourne Aquarium, which was okay. I particularly liked the underwater tunnels. </p>
    <p> After the aquarium, I visited a shopping center. Bought a few birthday cards and then headed to Glenrowan, where I stayed at a campsite near the highway that even had a small pool. </p>
    <p> So I enjoyed the evening in the pool, took a photo for my friend's birthday, and then made a call before turning in for the night. </p>
    <h3> 12.03. Goulburn and the giant sheep </h3>
    <p> This morning I was awakened by nature again. The birds around me make quite a racket in the morning. Well, I wanted to get an early start on the road anyway. I hadn't set any particular goal for the day. Just drive and see how far I get. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> By the end of the day, I had driven a total of 450km to Goulburn. This is the town where Steffi and I had previously stopped briefly at the "Golden M" with the oversized sheep statue by the highway. It's an unbelievably large two-story sheep! Tonight I stayed at the campsite right next to the sheep, and tomorrow I'll comfortably head back to nature before returning to Sydney. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8310.jpg" alt="Scenic view from a mountain across wide plains to the open sea">
  </div>
  <div class="col-md-7">
    <h3> 13.03. Back in Sydney </h3>
    <p> Before returning to Sydney today, I drove to the Illawarra Fly Treetop Walk. There are several Fly Treetop parks in Australia. A few days ago, I visited one on the Great Ocean Road with Steffi. Unfortunately, that one wasn't very impressive. However, this one turned out to be a hidden gem. The view from the tower is absolutely incredible. You can see over the plains all the way to the open sea and enjoy the view in peace, because there really aren't many people here. I only encountered 6 people during my several-hour tour. </p>
    <p> After another unsuccessful attempt at geocaching, I slowly made my way back to the city. Somehow, the closer I got to my destination, the less I wanted to return to the city. Eventually, I arrived at the office and decided to sleep in the car here too, rather than move into the expensive hostel. </p>
    <p> After checking in with my boss, I decided to start work again tomorrow. So from tomorrow, no more daily photos until my trip continues. </p>
    <p> See you soon. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8310.jpg" alt="Scenic view from a mountain across wide plains to the open sea">
  </div>
</div>
