---
layout: blog/en/travelblog
title: "Diving with a chance of shark"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "Today I'd like to tell you how I got into diving and what an incredibly fun experience it can be."
  image:
    url: /assets/img/blog/auszeit/small/img_1913.jpg
    alt: "This is what Gordon's Bay looks like in good weather."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/img_1913.jpg" alt="Gordon's Bay, Sydney, Australia in sunshine">
  </div>
  <div class="col-md-7">
    <p> Today I'd like to tell you how I got into diving and what an incredibly fun experience it can be. </p>
    <p> To be brief, I had already been diving before this course and thought it was great. I went diving for the first time when I was 13 in the Warnem&uuml;nde swimming pool. There was a huge children's day event with trial diving. My friends Carola, Peer, and I thought it would be great to try it out. The second opportunity to dive came through Qype a few years ago. In the depths of winter, about 20 of us went to an outdoor pool. It was freezing cold. Ice cold! But it was still great. </p>
    <p> When it became clear that I was going to Australia, I immediately knew I wanted to go diving at the Great Barrier Reef, and not just once if possible. After some internet research, I discovered that you can visit the reef even without an official diving certificate, accompanied by diving instructors. The prices for this are really hefty—often two to three times the price compared to divers with certification. </p>
    <p> Two weeks ago, I was sitting at my desk again, browsing through Groupon deals, and stumbled across a diving course for just $199 at ProDive. I could hardly believe it and did some research on the diving school. Several colleagues already knew the branch in the Coogee area and assured me it wasn't bad at all. Looking more closely at the offer, I discovered where they were cutting costs: you have to complete the theoretical part on your own via an online platform before the practical training can begin. Well, I figured I could manage that. The practical part then takes 3 days: 1 day in the pool and 2 days in open water. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/tauchen3.jpg" alt="Bare Island in the background with 8 people including me in the foreground">
  </div>
  <div class="col-md-7">
    <p> As we all know, I'm not the fittest or slimmest person. Therefore, as recommended in the offer, I went to a diving doctor to get checked out. Diving doctors in Sydney's city center are quite a bit more expensive, but some also speak German. The examination took about an hour and showed that I'm actually relatively fit, apart from my being overweight. My hearing is even better than I would have expected. So nothing stood in the way of getting my diving license. </p>
    <p> After a quick consultation with my boss about the practical days, I booked the offer. When booking, I still had the choice between two different certifications: SSI and PADI. </p>
    <p> Since PADI was supposed to cost around $150 more and a quick online search showed me that both certificates are almost equally recognized, I decided on the cheaper SSI option. The SSI online training is even completely free and can be completed without booking the practical part. </p>
    <p> So I had my voucher with a scheduled practical date (April 8-10, 2013) and started on the theory portion. As is often the case, the theory was a bit dry. It took a few afternoons to work through the reading material and answer the questionnaires that pop up throughout. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/tauchen3.jpg" alt="Bare Island in the background with 8 people including me in the foreground">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/tauchen4.jpg" alt="8 people jumping, including me">
  </div>
  <div class="col-md-7">
    <p> After completing the online theory, the practical days began. First, we had to watch 3 videos about diving safety and take a check-up test to prove that we had read and understood the theoretical part. Next, we gathered our equipment and drove to the outdoor pool in Victoria Park. </p>
    <p> Once there, I jumped into my wetsuit and first had to swim a few laps and then tread water for 10 minutes without holding onto anything. This wasn't easy when you have to do it with many others in a small area. Then we were divided into two groups and were given a practical explanation of how the equipment is assembled and tested. After that, we got back into the water. There we performed the mandatory exercises such as putting on and taking off the diving equipment in and under water, and clearing our diving masks underwater. </p>
    <p> It also became apparent that I had a fairly high air consumption rate underwater. Since we stayed in the pool for a few hours, I needed a new tank in between. At the very end, we all had to get out of the water and then jump in backwards. I immediately knew that this last task and I would not be friends. I don't like the feeling of jumping into water backward with so much extra weight. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/tauchen2.jpg" alt="Many people in front of a beautiful backdrop">
  </div>
  <div class="col-md-7">
    <p> After we were all out of the water again, the equipment was broken down into its component parts and I peeled off my neoprene suit. I have never been so exhausted after a day at an outdoor pool. I barely made it back to my car and then just watched a movie. </p>
    <p> The next day we had our first two dives in the open sea. After quickly collecting our equipment in the morning, we drove just a few minutes to the nearest dive spot, Gordon's Bay. There we struggled into our equipment in the rain and set off. After about 200 meters, we finally reached the water. I can tell you, 200 meters in full diving gear is no walk in the park. What I didn't know was that even tougher approaches to the water would be waiting for me later. </p>
    <p> Once at the water, it turned out that getting in wasn't easy because there were a few waves. Since the water was warmer than the air, I was happy to finally get in. After we all helped each other into deeper water, the training continued. This time it was much nicer because we were surrounded by many beautiful and colorful fish during the exercises on the surface. </p>
    <p> You could tell that a young Asian woman in my group was uncomfortable. After just a few minutes in the water and before we submerged, she decided to cancel the dive and return to the base alone. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/tauchen2.jpg" alt="Many people in front of a beautiful backdrop">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/tauchen1.jpg" alt="People grilling">
  </div>
  <div class="col-md-7">
    <p> We waited until she was out of the water before we finally descended into the beautiful underwater world. With a pleasant visibility of 5 meters, we completed the exercises that we had discussed before the dive. After we got through those, we had a little air left to enjoy the marine life down there. Even a very large blue groper appeared. Blue gropers look quite similar to carp, except they're blue like gemstones. As I learned in the debriefing after the dive, this particular fish even has a name. His name is Elvis—so called because he was supposedly caught and declared dead once, but keeps reappearing. </p>
    <p> During our second dive of the day, we spent even more time underwater. According to my dive computer, I was underwater for a total of 38 minutes with my equipment. The exercises weren't the most difficult again. This time they were about situations when you run out of air. The instructor turned off the air supply underwater to a participant and then checked the correct response of the diver and their buddy all the way to the surface. </p>
    <p> After completing the second dive, we went back into the water without tanks but with buoyancy vests to do some exercises with snorkels. Then we returned to the diving school to clean our equipment and plan the next day. In the evening, I wasn't as completely exhausted as the day before. I didn't do much again, since there was still one more diving day ahead of me. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> This morning there was a briefing about what would happen today, and then we set off for two more dives at a different location than yesterday. Today we went to the La Perouse district. From there, we planned to make two dives around Bare Island. The island and dive site are known for two things. First, every Mission Impossible 2 fan knows the island because a large part of the film was shot there. Second, you're supposed to be able to encounter seahorses and harmless Port Jackson sharks around the island. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/diver-verification-11-dives.png" alt="Official graphic of my diving license from SSI through ProDive">
  </div>
  <div class="col-md-7">
    <p> Once there, we first walked on foot without equipment to the first dive site to see what awaited us. After that, we set out to assemble our equipment and went through the buddy check protocol again. As soon as everyone was ready, we finally headed back into the water. Unfortunately, the visibility wasn't so good today—only one to two meters. So we did the previously discussed exercises and enjoyed the underwater world for a few more minutes before we had to return to the surface. </p>
    <p> By this time, it was sunny and pleasantly warm. Perfect for lunch outdoors. Then we moved on to the second and final dive of the course. This was quite a bit more challenging at the start, as we had to climb down an approximately 2-meter high cliff in full gear to reach our new entry point. This dive was all about navigation. Each person had to swim a few meters away from the group while watching their compass and the instructor. Then we had to reverse direction and return to the group. Nobody got lost, as expected. </p>
    <p> Unfortunately, I wasn't lucky enough to see any sharks or seahorses during either dive today. But I did see some impressive corals and was able to enjoy the good weather. The view over the harbor basin and Bare Island is really fantastic. And, quite casually, I passed my Open Water Diver exam. This now allows me to dive to a depth of 18 meters. </p>
    <p> Great Barrier Reef, here I come!!! </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/diver-verification-11-dives.png" alt="Official graphic of my diving license from SSI through ProDive">
  </div>
</div>
