---
layout: blog/en/travelblog
title: "New Year\'s Eve 2012/2013"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "As promised last time, there is finally a report about my New Year\'s Eve and where I was probably looking at the world\'s largest New Year\'s Eve."
  image:
    url: /assets/img/blog/auszeit/small/20130202-152810.jpg
alt: "The \'Hope\' was ready. The English word for hope."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
  </div>
  <div class="col-md-7">
    <p> As promised last time, there is finally a report about my New Year's Eve and where I was probably looking at the world's largest New Year's Eve. </p>
    <p> During my time in Ireland, I started to think about my personal New Year's Festival in Australia. I stumbled across one <a title="&Ouml;ffnet Liste mit Schiffen im neuen Fenster" href="https://www.sailaustralia.com.au/" target="_blank"> website </a> which I have a list of all bookable ships for New Year's Eve. At that time I decided that it would probably be a cool idea to spend New Year's Eve a boat and enjoy the fireworks in the front row. </p>
    <p> But then I saw the prices for such a trip. They were between $ 300 and $ 800 (approx. 650 &euro;) I decided to wait a little. But I had already put a favorite right. The Emerald Star. </p>
    <p> I had postponed the decision whether I treat myself to this now. A few days before New Year's Eve, I found the official website for the Sydney New Year's Eve of fireworks with a little research. When I browse it, I realized how huge this fireworks will be and that it was even 2 fireworks. One at 9 p.m. for families with children and of course the big one at midnight. In the end, I decided to celebrate my New Year's Eve on a ship. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-153139.jpg" alt="Delicious fish in the Sealife Aquarium Darling Harbor">
  </div>
  <div class="col-md-7">
    <p> So I got out the list of ships again and tried to get more information where the individual ships are during the fireworks. My favorite, the Emerald Star, should be too far away from the gift for my taste. I then looked for the Southern Cross. This ship was $ 100 more expensive, but the lady assured me on the phone that we stay close to the opera. So one of the best places for both fireworks should have. That sounded good and I decided to book it. </p>
    <p> On New Year's Eve myself, I worked for an hour or two in the morning before I made myself on my way to the investor much too early. Since I came to the closed port area without problems and without queuing, I now had a few hours until the ship came. Since there wasn't much going on at Sealife, I decided spontaneously. Thanks to my Merlin annual ticket, I no longer had to pay admission. </p>
    <p> After I wasted my too much planned time there, I slowly went to the ship. In the meantime, the weather had become even better and warmer. Each of the passengers was glad that cold drinks were available for greeting. And then the journey started. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-153139.jpg" alt="Delicious fish in the Sealife Aquarium Darling Harbor">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-152756.jpg" alt="Sunset on New Year\'s Eve">
  </div>
  <div class="col-md-7">
    <p> First we drove out very comfortably from the Darling Harbor and then west away from opera and Harbor Bridge to see the sunset there. This was even more beautiful than usual. After that, we slowly made our way so that we are on time for the first fireworks in the agreed place. On the way there I was involved in an interesting conversation, about God and the world by 2 older men. When talking, a Kelner with different snacks came by regular intervals. These were excellent. </p>
    <p> A few minutes before the start of the first fireworks, we were finally in our position. I can tell you it was really the first row. To be precise not just the first row but in the middle of the fireworks. Immediately in front of us was one of the 7 shock forms next to it with the opera with the skyline in the background and of course with full view of the Harbor Bridge. Behind the ship there were 3 other platforms of which the fireworks were started. </p>
    <p> The fireworks started punctually at 9 p.m. as planned. It was really breathtakingly beautiful. Especially since the ship was in an almost perfect place. Unfortunately, the wind was a little stronger at the time, which pressed us out of the direction and the skipper had some to do with the ship. We a great view of the fireworks. <a href="https://www.youtube.com/watch?v=14FWIvAmVWQ" target="_blank"> Here is my recording on YouTube. </a></p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> After the fireworks were over and the area around the fireworks were released, some of the ships switched on their jewelry lighting and lined up in the light parade. Our ship also took part in this parade. We had a yellow lighting with small flashing birds on the side. </p>
    <p> In the meantime, the crew had built up a real delicacle buffet on the lower deck. With pretty much everything you can wish for. From Indian curry to seafood to melon ham. I have to mention it again how Lcker the food was. Then I got a decent drink (Whiskey Cola) and sat on the open aft deck. There I spent the rest of the time between the fireworks and enjoyed the view of Sydney and the thousands of ships. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Sailboat adorned with pink fairy lights and the word Embrace on the side" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-153443.jpg">
  </div>
  <div class="col-md-7">
    <p> We turned a big round through the harbor and then countless around one of the fireworks position before we went back to the same position where we were also for the fireworks. This time the wind was completely different and the boat was calm. </p>
    <p> The fireworks started slowly a few seconds before midnight. First the last seconds of the old year were counted down and at midnight the city literally exploded with fireworks and light. It was an absolute dream. I have already seen some fireworks but something like that was adjusted and synchronized fireworks was also new to me. Just wow !! <a href="https://www.youtube.com/watch?v=7wYF-JkswK4" target="_blank"> Here is my recording on YouTube. </a></p>
    <p> It took almost 13 minutes and even included some of the high -rise buildings in the city center. Unfortunately, after a few minutes, something went wrong on the shooting platform right in front of us, because from there no fireworks were suddenly shot down while everyone else was always fired heavily. But they got the problem again after about a minute and fired up again. The bridge was also really nice with fireworks. Even a curtain from golden rain went down from the bridge. </p>
    <p> I have to say it again it was just wow !! </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Sailboat adorned with pink fairy lights and the word Embrace on the side" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-153443.jpg">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> After the fireworks, I actually expected the many thousands of ships to make the alarm at least, but nothing was. Everyone just waited for the port to be released to make their way back. The ship on which I was did not put on the Darling Habrour again, but let us go between the opera and the bridge. So I then had a really tight walk in the middle of the closed George Street (main shopping street). Which was really surprising that even shops had even opened. Not only feed stalls but also hairdressers and clothes shops. Not many but anyway! Who will go shopping on January 1st in the morning at 2 a.m. Strange people here. </p>
    <p><a href="https://www.youtube.com/watch?v=b-7KqTYbzRI" target="_blank"> Here again a non -blurred version of the midnight fireworks. </a></p>
  </div>
</div>
