---
layout: blog/en/travelblog
title: "February 14-15: Bruises and Injuries"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Kangaroo valley

author: Steffi

overview:
  intro: "Today I have the pleasure of not having to write the blog myself, as Steffi was kind enough to contribute this post about our days at Wombats Grove. Thanks, Schnulli!"
  image:
    url: /assets/img/blog/auszeit/small/20130531-153456.jpg
    alt: "Fitzroy Falls. A nice short walk on the way to the wombats."
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130531-153456.jpg" alt="The Fitzroy waterfall in close-up">
  </div>
  <div class="col-md-8">
    <p>Today I have the pleasure of not having to write the blog myself, as Steffi was kind enough to contribute this post about our days at Wombats Grove.</p>
    <p>Thanks, Schnulli!</p>
    <h3>Of Bruises and Other Injuries</h3>
    <p>Today we headed toward Kangaroo Valley, more precisely to the "Bendeela Recreation Area," somewhere in the middle of nowhere about 150 km southwest of Sydney. We had heard a lot of <strong>bizarre</strong> things about this place, which were ultimately confirmed and made the whole experience quite unique!</p>
    <p>After a winding, narrow, and partially steep descent on a kind of serpentine road (Oh no, we'll have to go back up at the end...?!!), with a beautiful view over the valley, we arrived at the recreation area. Since it wasn't very busy, we had a pretty free choice of parking spots, so we chose a place right by the fence next to a large grassy area. After a quick inspection of the site, we set up for the next two nights: table and chairs out, sun shade up, time to relax! By then it was around 5 PM and dinner time. The kangaroos must have thought the same thing, because they suddenly appeared out of nowhere on the meadow and started having their dinner, completely undisturbed by our presence. Of course, the camera came out immediately... First wild animals of this vacation: check!</p>
    <p>During our meal, we found ourselves surrounded by more and more ducks. We discovered that some of them are quite pushy and aren't even deterred by us waving towels at them. Shortly after dinner, we were surprised by Australian wildlife again. Right in front of our camper, a wombat suddenly appeared and casually walked in our direction. Camera out again, and another wild animal spotted and checked off the list.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130531-153610.jpg" alt="Wide green meadows with rainforest-covered mountains in the background.">
  </div>
  <div class="col-md-7">
    <p>Completely undisturbed, the wombat walked past our camper and under the fence to enjoy its meal on the other side. It didn't stay alone for long, as 2-3 more wombats followed and joined it. This is what they call pure nature!</p>
    <p>All in all, it was very cozy, if only someone had some sugar handy to pour into our annoying neighbors' generator to finally silence it!</p>
    <p>Four tents full of children/teenagers in nature, and all they do is watch endless Blu-rays and other stuff on their TV sets and Blu-ray players! Of course, not without the appropriate supply of full gas canisters!</p>
    <p>We still enjoyed the beautiful play of colors in the sky and the starry night, complete with shooting stars and satellites, until we went to bed... without knowing what would await us that night.</p>
    <p>I was awakened around 5:30 AM by violent shaking and scratching noises, and my first thought was just "Oh my God, all the stories are true." I woke up Basti and said "They're here!!!" and looked through the curtains to see if I could spot anything. Shortly after, the shaking and scratching stopped, and a very large wombat appeared beneath my side of the camper and made its way to the next camper opposite ours! While I was still completely amazed and said "Look, there it goes," the gentleman beside me seemed to have fallen back asleep... Ugh!!!</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130531-153610.jpg" alt="Wide green meadows with rainforest-covered mountains in the background.">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130531-153826.jpg" alt="A wombat on the meadow">
  </div>
  <div class="col-md-7">
    <p>The next morning, our dear neighbors' generator was already running. Super, such a constant nerve-wracking noise right in the middle of nature! After we finished breakfast and completed a two-person hair-washing operation for me, we set off to explore the surroundings a bit. But not without acquiring more bruises and other injuries. More on that in a moment!</p>
    <p>We walked a stretch along the Kangaroo River and decided to go geocaching, immediately finding a cache online. It was supposed to be only 400m as the crow flies... and after Basti trudged through the undergrowth in flip-flops, we found it! However, in the end we were on the move for an hour, walked about 3 km, were bothered by a large buzzing fly, and were delayed on our way back by two wombats. The latter crossed our path and made themselves comfortable on the roadside. It looked like a mother with her child. So we had to wait at a safe distance and let the animals pass! You never know how they might react.</p>
    <p>Shortly before reaching the campsite, Basti apparently saw something on the ground that he wanted to take a closer look at. He somehow got too close to the slightly sloping edge of the road, lost his footing, and quickly got a close-up view of the road surface. Fortunately, apart from a few burning scrapes, nothing serious happened, so we could continue walking slowly and then observe the next round of kangaroos during dinner.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130531-153922.jpg" alt="Steffi's legs covered with bruises">
  </div>
  <div class="col-md-8">
    <p>The kangaroos were all in the meadow enjoying their dinner. When we arrived back at the camper, we first tended to Basti's scrapes and documented them with photos, as these weren't the first injuries on this adventure trip! I'd been at war with the trailer hitch since day one and had various bright bruises on both legs.</p>
    <p>Looks really great with shorts!!!</p>
    <p>The evening passed quite quickly, the wombats came by for dinner again, and after an adventurous and makeshift shower behind the camper, we went to bed. This night, however, turned out to be even "wilder" than the previous one. In the morning, I noted that our camper had been used as a scratching post by wombats at least 6 times. The gentleman next to me seemed to have slept through all of it.</p>
    <p>In the morning, we were set to continue toward Australia's capital, Canberra.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130531-153922.jpg" alt="Steffi's legs covered with bruises">
  </div>
</div>
