---
layout: blog/en/travelblog
title: "Diving with a chance of shark"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "Today I would like to tell how I came to diving and what huge fun it can."
  image:
    url: /assets/img/blog/auszeit/small/img_1913.jpg
alt: "This is what Gordon\'s Bay looks like in good weather."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/img_1913.jpg" alt="Gordon\'s Bay, Sydney, Australia in sunshine">
  </div>
  <div class="col-md-7">
    <p> Today I would like to tell how I came to diving and what huge fun it can. </p>
    <p> To get briefly. I was already diving in my life in front of this diving course and thought it was great. I was diving for the first time when I was 13 in the Warnem&uuml;nder swimming pool. There was a huge children's day party with trial diving. We friends Carola, Peer and I thought the idea was great to try it all out. The second way to dive gave me Qype a few years ago. In the deepest winter we went to a outdoor pool with about 20 people. It was cold. Asskin! But it was great anyway. </p>
    <p> When it was clear to me that I would go to Australia it was immediately clear that I would like to go diving at the Great Barrier Reef and, if possible, not just once. After some surfing on the Internet, I even found that you can visit the reef there even without an official diving certificate with diving instructors. The prices for this are really a hearty. Often the two to triple the price, as for divers with a diving license. </p>
    <p> Two weeks ago I sat at my desk again and smelled of great deals at Groupon and stumbled across a diving course for just $ 199 at Prodive. I almost couldn't believe that and made myself smart about the diving school. Some colleagues already knew the branch in the Coogee district and were able to assure me that he was not bad at all. Now I took a closer look at the offer and it turned out where to save here. You have to do the theoretical part alone via an online platform before the practical part can start. Well, I should get that. The practical part is then done for 3 days. 1 day in the pool and 2 days in the open water. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/tauchen3.jpg" alt="Bare Island in the background. In the foreground 8 people including me">
  </div>
  <div class="col-md-7">
    <p> As we all know, I am not the fittest and not the slimest. Therefore, I am recommended to go to the diving doctor in the offer to have me checked through. In Sydney's city center, diving doctors are a lot more expensive for this but they also speak German. The test was a matter of about an hour and showed me that I am actually relatively fit, apart from my overweight. Can even hear better than I would have expected. So nothing stood in the way of the diving license. </p>
    <p> After a short consultation with my boss because of the practice days, I now booked the offer. When booking, I still had the choice between two different certifications. SSI and Padi. </p>
    <p> Since Padi was supposed to cost around $ 150 and a short research on the net showed me that both certificates are almost equally recognized, I decided on the cheaper Varainte SSI. The online training of SSI is even completely free of charge and can be completed without booking the practical part. </p>
    <p> Now that I had the voucher to have a practical date (April 8th, 2013 - April 10th, 2013) and had booked and booked the theory. As so often, the theory was a bit dry. It cost a few afternoons and promised to box through the reading and to answer the questionnaires that appear again and again. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/tauchen3.jpg" alt="Bare Island in the background. In the foreground 8 people including me">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/tauchen4.jpg" alt="8 people in the jump. One of them me.">
  </div>
  <div class="col-md-7">
    <p> After the online theory was through, the practical days now started. First of all, we had to watch 3 videos about diving security and take a check -up test to prove that we also read and understood the theoretical part. Next we searched for the equipment and drove to the outdoor pool in Victoria Park. </p>
    <p> Once there, I jumped into my wetsuit and first had to swim a few lanes and then step for 10 minutes without holding on to somewhere. This was not that easy if you should do it with many others in a small area. Then we were divided into two groups and we were explained again in practice how the equipment is built up and tested. Then it went back into the water. There we then did the compulsory exercises such as pulling and taking off the diving equipment in and under water or the ventilation of the diving goggles under water. </p>
    <p> It also turned out that I had a fairly high air consumption under water. Since we stayed in the pool for a few hours, I also needed a new tank in between. At the very end we all had to get out of the water and then bounce into the back on the back. I immediately found that the last task and I will not be friends. I find the feeling stupid to bounce into the water with so much extra weight. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/tauchen2.jpg" alt="Many people in front of a beautiful backdrop">
  </div>
  <div class="col-md-7">
    <p> Now that we were all out of the water again, the technology was broken down into its individual parts and I had dropped out of the neoprene skin. I have never been to the outdoor pool after a day like today. I only tortured myself back to my car and watched a film. </p>
    <p> Yesterday we went to the first two dives in the open sea. After we quickly collected our equipment in the morning, we only drove a few minutes to the nearest diving spot Gordon's Bay. There we tortured ourselves in our equipment when it rains and started. After about 200 meters we finally arrived at the water. I can tell you 200 meters in full diving equipment are not a walk. What I didn't know that later would wait for me even tougher paths into the water. </p>
    <p> Once at the water, it turned out that the path into the 22 degree warm water was not easy because there were a few waves. Since the water was warmer than the air, I was happy to finally get into the water. After we all helped each other in deeper water, the training continued. Only this time it was much nicer because we were surrounded by many beautiful and colorful fish during the exercises on the surface. </p>
    <p> A young Asian in my group could be seen that she was not comfortable. Do only a few minutes in the water and before we dived, she decided to cancel the dive and return to the base alone. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/tauchen2.jpg" alt="Many people in front of a beautiful backdrop">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/tauchen1.jpg" alt="People grilling">
  </div>
  <div class="col-md-7">
    <p> We waited until she was out of the water before we finally dived into the beautiful underwater world. With a pleasant 5 meters of view, we went to the exercises that we had discussed before the dive. After we got through it, we remained a little air to enjoy the wildlife down there. Even a very large blue grouper showed up. Blue Grouper have a great similarity to carp only that they are blue like gemstones. As I should learn in the meeting after the dive, this special fish even has a name. His name is Elvis. Elvis because he supposedly caught and declared to death but kept appearing. </p>
    <p> At the second dive of the day, we spent even more time under the water surface. Overall, I came up with my equipment for 38 minutes according to the computer. The exercises were not the most difficult again. This time it was about situations when you get out of the air. The trainer turned the air under water to a participant and then checked the correct behavior of the diver and its buddy up to the water surface. </p>
    <p> Now that we were through the second dive, we went into the water again without a bottle but with a vest to do a few exercises with the snorkel. Then we went back to the diving school to clean our equipment and plan the next day. In the evening I wasn't in the bucket like the day before. I didn't do much again, since there was still a diving day ahead of me. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> This morning there was briefing what will happen today and then it started again to two more dives in a different place than yesterday. Today we went to the La Perouse district. From there we wanted to make two dives around the island of Bare Island. The island and the diving spot are known for two things. First, every mission Impossible 2 fan knows the island because a large part of the film was shot on the island. Second, you should be able to meet seahorses and harmless Port Jackson Haie around the island. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/diver-verification-11-dives.png" alt="Official graphics of my diving license from SSI on Prodive.">
  </div>
  <div class="col-md-7">
    <p> Once there, we first went on foot and without equipment until the first diving spot to look at what awaits us. After that, we set out to put the equipment together and went through the protocol for the so-called buddy check again. As soon as everyone was finished, we finally went back into the water. Unfortunately, the view was not so good today. Only one to two meters. So we did the exercises discussed beforehand and enjoyed the underwater world for a few more minutes before we had to go back to the surface. </p>
    <p> In the meantime it was sunny and pleasantly warm. Perfect for lunch outdoors. Then we went to the second and last dive belonging to the exam. This was a good bit more difficult when we started, as we had to climb down an approx. 2 meter high cliff in full gear to get to our new starting point. This dive was all about the direction of direction. So everyone had to swim from the group away a few meters with a view of the compass and the trainer. Then the other way around and returned to the group was found. Nobody was lost, as was to be expected. </p>
    <p> In both dives today, unfortunately I was not lucky when it comes to sharks or seahorses. For this I saw a few impressive corals and could enjoy the good weather. The view over the harbor basin and Bare Island is really great. Oh and very casually I passed my Open Water Diver exam. This now allows me to dive to a depth of 18 meters. </p>
    <p> Great Barrier Reef I come !!! </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/diver-verification-11-dives.png" alt="Official graphics of my diving license from SSI on Prodive.">
  </div>
</div>
