---
layout: blog/en/travelblog
title: "March 2013 Working in Sydney"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Katoomba
  - Sydney

overview:
  intro: "Today, as promised, here's a summary of what I did in the second half of this month."
  image:
    url: /assets/img/blog/auszeit/small/igp8336.jpg
    alt: "I'd call that a front yard in the middle of Katoomba's city center"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8336.jpg" alt="Well-maintained and pretty bushy front yard with a terrace">
  </div>
  <div class="col-md-7">
    <p> Today, as promised, here's a summary of what I did in the second half of this month. </p>
    <p> As mentioned in my previous post, I started work again on March 14th. However, since I didn't have an apartment lined up and certainly didn't feel like staying in a hostel, I decided to continue living in the van. So I parked Hugo in a free parking space on a nearby side street and slept there for the rest of the week. This had the advantage of making my commute to the office even shorter. Since there are toilets and showers in the building, hygiene wasn't a problem either. </p>
    <p> When I received my new employment contract on Friday, I was completely floored when I saw the change in my salary. From now on, I'll be earning significantly more per hour. This shows me that my superiors are really happy with my work. </p>
    <p> On my first weekend back in Sydney, I decided to return to the Blue Mountains to spend the night at a small free campsite in Megalong. I also wanted to check out a riding stable that sounded promising. Unfortunately, it turned out after driving by and calling that this stable only has horses with weight limits. So I spent the evening at the actually very nice, small, and natural campsite. I put on the next audiobook and worked diligently on adding more Velcro fasteners to the curtains. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8349.jpg" alt="Mountains in the background with the buildings of Katoomba in the middle and foreground">
  </div>
  <div class="col-md-7">
    <p> On Sunday, I took a small tour of Katoomba in search of a cozy spot with a view where I could write or read blog posts. After wandering around and driving back and forth, I parked at the Coles supermarket in the town center and discovered there was a public library on the roof. I went up there and found a huge terrace with relaxing music, a beautiful view over the Blue Mountains, and even WiFi. So I made myself comfortable there to write my blog. </p>
    <p> The next week was pretty routine. Nothing much besides work. Since I hadn't found an apartment, I was still sleeping in the van and slowly getting used to it. In the office, I have everything I need except for a washing machine. I took this as an opportunity to get a 15-visit card for the hostel so I could occasionally get out of the car. And do laundry there. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8349.jpg" alt="Mountains in the background with the buildings of Katoomba in the middle and foreground">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8357.jpg" alt="Three imposing stone pillars several hundred meters high, viewed slightly from above">
  </div>
  <div class="col-md-7">
    <p> On the weekend, I went back to the free campsite in Megalong to continue making improvements to Hugo. On Sunday, I wanted to return to the library to continue writing, but since I couldn't really concentrate, I decided to drive to Echo Point, which I'd heard mentioned often. </p>
    <p> Once there, I parked Hugo on a side street and walked to the town's #1 tourist attraction. Echo Point is a large area directly on a huge cliff. From there, you have a fantastic view over the Blue Mountains and the Three Sisters rock formation. There's also a tourist information center for the region. There, you can also get advice on hiking routes. So that's what I did. I found a short trail that went directly below the viewing platform and started hiking. </p>
    <p> After just a few kilometers, I heard a helicopter flying very low over me, which then went into a hover near the viewing platform. So I quickly headed back to see the spectacle up close. And what a spectacle it was! I couldn't tell whether it was a training exercise or a real emergency. In any case, several people were being lowered by rope into a narrow gorge directly in front of the viewing platform. From the hiking trail below the platform, some people were also climbing into the gorge. Several people were then lifted out by the helicopter and flown away. It was a huge spectacle with many spectators and some excellent photo opportunities. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8388.jpg" alt="Helicopter with several rescuers secured on ropes, plus their backpacks">
  </div>
  <div class="col-md-8">
    <p> After I had captured some very good shots, I went back to my car and discovered that I had left the lights on. So the battery was now dead. Well, not really a problem because I'm in the ADAC (German automobile club) after all. So as usual, I took out my cell phone and called ADAC. After giving them my membership number and briefly explaining the situation, the gentleman on the other end of the line kindly informed me that he couldn't help me because ADAC only provides service in Europe, and I wasn't in a life-threatening situation. Since he had no other advice for me, he hung up rather quickly. </p>
    <p> So what now? I remembered that I have jumper cables in the car and in the back box. So I cleared out the car and searched for the cables. After finding the cables and locating the battery under the passenger seat, all I needed was a second vehicle to give Hugo a jump start. It only took a few minutes before a pickup truck drove by, and the driver asked what problem I was having. He helped me without making a big deal of it, and within a few minutes, the engine was running again. </p>
    <p> To let the battery charge properly, I immediately headed back to Sydney. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8388.jpg" alt="Helicopter with several rescuers secured on ropes, plus their backpacks">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8403.jpg" alt="A helicopter just a few meters above the gorge">
  </div>
  <div class="col-md-7">
    <p> I spent the rest of the month working with a team that I'm enjoying more and more, signed up for a diving course at the beginning of next month, and rebooked my return flight from the end of April to the end of August. </p>
    <p> Oh, and since I can't find an apartment for a period of just 2 months, I've made peace with the idea and am making myself comfortable in my well-equipped van. </p>
    <p> See you soon. </p>
  </div>
</div>
