---
layout: blog/en/travelblog
active_nav: travel-blog
title: "06/10/13 Gold Coast and Brisbane"
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Ballina
  - Coffs Harbour
  
headline:
  image:
    url: /assets/img/blog/auszeit/Auszeit-1887.jpg
    alt: "The beach right in front of our sleeping place in Ballina"

overview:
  intro: "We woke up to dry weather this morning. Unfortunately, it wouldn't stay that way. I had heard or read somewhere that there are dolphins in Ballina Bay, which sometimes even come very close to the beach."
  image:
    url: /assets/img/blog/auszeit/small/Auszeit-1889.jpg
    alt: "Pelicans waiting for fish"
---

<div class="row margin-bottom-10">
    <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
        <img class="img-bordered img-responsive img-centered" src="{{ site.url }}/assets/img/blog/auszeit/small/Auszeit-1889.jpg" alt="Pelicans waiting for fish">
    </div>
    <div class="col-md-7">
        <p>
            <span class="dropcap"> H </span> We woke up to dry weather this morning. Unfortunately, it wouldn't stay that way.
            I had heard or read somewhere that there are dolphins in Ballina Bay, which sometimes even come very close to the beach. Since the beach starts right on the other side of the street, I sent Mom with the camera while I prepared the car for our onward journey. </p>
		<p> Unfortunately, there were no dolphins in the bay this morning, but there were some pelicans. Once again, they were waiting for fishermen to finish cleaning their catch so they could get the leftovers. After I checked out, I took a few steps to the beach to look at the spectacle myself. Then we set off. </p>
		<p> We weren't planning to go far today. Just a little more than 100km to Surfers Paradise. There were 3 things I wanted to do: </p>
		<ol>
			<li> Go for a walk on the promenade with Mom </li>
			<li> Visit the Hard Rock Cafe to buy shirts </li>
			<li> Go to the observation deck on the 77th and 78th floors of the Q1 Tower </li>
		</ol>

    </div>
    <div class="col-md-5 hidden-sm hidden-xs">
        <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/Auszeit-1889.jpg" alt="Pelicans waiting for fish">
    </div>
</div><div class="row margin-bottom-10">
	<div class="col-md-5">
        <img class="img-bordered img-responsive img-centered" src="{{ site.url }}/assets/img/blog/auszeit/small/Auszeit-1891.jpg" alt="The beautiful view at Lennox Head overlooking the open sea">
    </div>
    <div class="col-md-7">
		<p> On the way there, we wanted to stop at a few viewpoints again, hoping to see a whale. At Lennox Head, we could make out something in the distance that might have been a jumping whale. So we decided to continue to Byron Bay and try our luck there again. </p>
		<p> Unfortunately, it started to pour down in buckets on the way. So in Byron Bay, we decided not to leave the dry safety of our van and hoped for better weather further north. </p>
		<p> Once in Surfers Paradise, it briefly looked like the rain might stop.
			So we quickly found a covered parking lot and started looking for the Hard Rock Cafe. 
			On the way there, we came to a shopping center from which you could see the promenade. 
			From this vantage point, unfortunately we had to face the reality that it probably wasn't going to stop raining—
			at least not in the next few minutes. </p>
		<p> At the Hard Rock Cafe, I was lucky enough to meet the manager in person. 
			A few weeks ago, I had accidentally met her at the HRC in Sydney, and she had promised me at the time to set aside a shirt in my size. ;) </p>
	</div>
</div><div class="row margin-bottom-10">
    <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
        <img class="img-bordered img-responsive img-centered" src="{{ site.url }}/assets/img/blog/auszeit/small/Auszeit-1892.jpg" alt="My mother and I together with an employee at the Hard Rock Cafe Shop in Surfers Paradise">
    </div>
    <div class="col-md-7">
		<p> Since the sky had just opened up all its floodgates again, we chatted for a while with her and a nice employee who then asked us to send greetings to a Kiwi colleague at the Hamburg Hard Rock Cafe. </p>
        <p> After a while, we made our way back to the car. Walking through the city, we decided to skip the other two items on my list and simply continue on to Brisbane. We were just tired of the rain. </p>
		<p> In Brisbane, the Big4 campsite was full again. 
			But it's not so bad today because tomorrow morning we want to go to a workshop first to have the shock absorbers replaced.
			The current ones are a bit spongy, and the highway ends just past Brisbane. 
			We don't know what the roads will be like beyond that. </p>
		<p> So now we're making ourselves comfortable in a gas station parking lot with some sausage and cheese. </p>
		<p> Hopefully it will stop raining soon. </p>
    </div>
    <div class="col-md-5 hidden-sm hidden-xs">
        <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/Auszeit-1892.jpg" alt="My mother and I together with an employee at the Hard Rock Cafe Shop in Surfers Paradise">
    </div>
</div>
