---
layout: blog/en/travelblog
title: "14. & 15.02. Blue spots and injuries"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Kangaroo valley

author: Steffi

overview:
  intro: "Today I have the great pleasure that I do not have to report myself, but that Steffi has been spoiled and contributed the contribution to the Wombats Grove for both days. Thanks Schnulli"
  image:
    url: /assets/img/blog/auszeit/small/20130531-153456.jpg
alt: "Fitzroy Falls. Nice short walk on the way to the Wombats"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130531-153456.jpg" alt="The Fitzroy waterfall as a close -up">
  </div>
  <div class="col-md-8">
    <p> Today I have the great pleasure that I do not have to report myself, but that Steffi has been spoiled and contributed the contribution to the Wombats Grove for both days. </p>
    <p> Thanks Schnulli </p>
    <h3> From blue spots and other injuries </h3>
    <p> Today it goes towards the kangaroo valley, more precisely to the "Bendela Recreation Area", somewhere in nowhere or 150 km southwest of Sydney. We already had a lot about the system <strong> bizarre </strong> heard, which in the end was confirmed and made the whole thing a unique thing! </p>
    <p> After a curvy, tight and partially steep descent (ohje we have to come up in the end ...? !!?) On a kind of serpentine road with a chic view over the valley we arrived in the area after a short time. Since there was not much going on, we had relatively free selection of the parking space and so we chose a place on the fence directly to a large green area. After a short inspection of the site, we set up for the next 2 nights; Table and chairs out, sail excited and enjoy time! In the meantime it was something at 5 p.m. and meal time. The kangaroos probably thought that, because they suddenly appeared out of nowhere on the meadow and devoted themselves to their dinner without being disturbed by us. Of course, the camera was pulled out immediately ... The first freely alive animals for this vacation were ticked off! </p>
    <p> During the meal we were then taken by more and more ducks around us. You had to find out that some of these are quite pushy and are not even disturbed by flying towels. Shortly after dinner we were surprised by the Australian wildlife again. Right in front of our camper, a Wombat suddenly appeared and walked comfortably in our direction. Camera pulled out and the next wildly seen animal -seen animal hooked off on the list. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130531-153610.jpg" alt="Wide green meadows and rainforest hung mountains behind it.">
  </div>
  <div class="col-md-7">
    <p> Leaving nothing and nobody disturbing, the Wombat walked past the camper, under the fence through the fence to enjoy it on the other side of the fence. He didn't stay long alone, because 2-3 more Wombats followed and joined it. Pure nature is said! </p>
    <p> Everything in everyone was all very cozy, now only someone should have sugar ready to tip the annoying campaign barn into their generator so that it finally gives rest! </p>
    <p> 4 tents full of children / adolescents in nature and they do nothing but massive blueerays and anything else on their TV set with them <strong> en </strong> , Blu Ray Playern etc. to look !!! Of course, not without the right supply of full benzink assets! </p>
    <p> We still enjoyed a chic play of colors in the sky and the starry sky including stars and satellites until we went into the feathers ... without knowing what would expect that night. </p>
    <p> I was awakened by violent shaking and scratching noises at around 5/5:30 a.m. and my first thought was only "Oh my god, the stories are all true". I woke up Basti and only said "You are there !!!" And looked through the curtains to see anything if necessary. Shortly thereafter, the shaking and scratching stopped and under my side of the camper a very large wombat appeared and made his way to the next camper opposite our! While I was still completely amazed and said "Look, he is running", the gentleman seemed to sleep again ... Tz !!! </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130531-153610.jpg" alt="Wide green meadows and rainforest hung mountains behind it.">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130531-153826.jpg" alt="A WIMBAT on meadow">
  </div>
  <div class="col-md-7">
    <p> The next day, the generator of the dear neighbors ran in the morning. Super such a permanent nerve sound in the middle of nature! After we ended our breakfast and started a 2-man hair wash campaign with me, we set off to explore the surroundings a little. But not without further purchases of blue spots and other injuries. More on that! </p>
    <p> We walked a piece along the kangaroo river, decided to go a round of geocaches and immediately made up a cache on the Internet. This should only be removed 400m as the crow flies ... and, after Basti has hit flip -flops on his feet through the undergrowth, also found! However, in the end we were on the road for 1 hour, ran about 3 km, were bothered by a thick flying brummer and held by the way back by 2 wipes. The latter crossed our way home and made themselves comfortable on the roadside. It looked like it was a mother with a child. So we had to wait a few meters away and let the animals go ahead! You never know how they react. </p>
    <p> Shortly before stopping at the campsite, Basti probably saw something on the floor that he wanted to take a closer look at. He somehow came too far to the slightly sloping edge of the street and lost his hold and quickly took a closer look at the road surface. Fortunately, apart from a few burning scratches, nothing happened, so that we could continue to go slowly and then examine the next kangaroos during dinner. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130531-153922.jpg" alt="Steffi\'s legs covered with blue spots">
  </div>
  <div class="col-md-8">
    <p> They were all on the meadow and enjoyed dinner. When we arrived at the camper, we first cared for the scratches and captured them figuratively, because these are not the first injuries on this adventure trip! I have been standing on war foot with the trailer coupling since the first day and have various shining bruises on both legs. </p>
    <p> Makes yourself really great with shorts !!! </p>
    <p> The evening went around quite quickly, the Wombats came to dinner again and after an adventurous and temporary shower behind the camper we went to bed. However, this night should become even "wilder" than the one in front of it. In the morning I was able to note that our camper was abused by Wombats at least 6 times. The gentleman next to me seemed to have overslept all of this. </p>
    <p> In the morning it should go further towards Australia's capital Canberra. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130531-153922.jpg" alt="Steffi\'s legs covered with blue spots">
  </div>
</div>
