---
layout: blog/en/travelblog
title: "03/02/13 Mini kite in Alice Springs"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Adelaide
  - Alice Springs

author: Steffi

overview:
  intro: "Today we woke up early again, but not to drive the next section of our route. Instead, we needed to catch our flight to the Red Centre on time. Fortunately, I was feeling better, so after packing everything in the car and finishing up, we could make our way to the airport."
  image:
    url: /assets/img/blog/auszeit/small/20130720-000230.jpg
    alt: "Bye Adelaide! Hello Alice Springs!"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130720-000230.jpg" alt="Bye Adelaide! Hello Alice Springs!">
  </div>
  <div class="col-md-8">
    <h3> Steffi </h3>
    <p> Today we woke up early again, but not to drive the next section of our route. Instead, we needed to catch our flight to the Red Centre on time. Fortunately, I was feeling better, so after packing everything in the car and finishing up, we could make our way to the airport. </p>
    <p> Since we were a little early, we stopped at a supermarket on the way and first bought some rolls for breakfast, which we ate on the way to the airport. </p>
    <p> Once at the airport, we headed to the long-term parking area to find a suitable parking spot... for a van without power steering and with enough space that we could get out of the parking lot later (people here don't seem to understand reasonable parking... they park wherever there's a free space). After a short while, we found a spot, unloaded our suitcase and backpacks, and locked the car. </p>
    <p> Not only are people unable to park properly, they also don't think about reasonable planning. To get out of the parking lot, you have to walk all the way around and go through the barrier system at the entrance/exit with your suitcase... No footpaths anywhere, open areas uselessly filled with canteens, no signs showing where the shuttle to the terminal goes, etc... </p>
    <p> After finding the shuttle stop, we quickly boarded the bus and shortly afterward were dropped at our terminal. With Qantas' service, which is nonexistent because there are no counters to be found, we had to check in at a machine. We had to weigh our suitcase ourselves, and discovered that packing for 3 days for two people was harder than for my 4 weeks on site. Where did all that stuff come from??? Case checked, placed on the conveyor belt, scanned and sent off. </p>
    <p> Welcome to Qantas at Adelaide Airport. Service: zero!!! </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/anflug-alice-springs.jpg" alt="Approaching Alice Springs">
  </div>
  <div class="col-md-7">
    <p> After going through security, we first explored the terminal and checked the international flight security for my return trip in a few days, asking about drinks and other regulations. Then we sat down at our gate and time passed very slowly. </p>
    <p> My hope that it would be a small aircraft (after all, we were flying to the middle of nowhere) was shattered - it was a regular-sized plane that would take us to the Red Centre, and completely full too... well, the main thing is that we're going there, nothing else matters! </p>
    <p> Finally boarding, Basti let me have the window seat while he sat in the middle. A gentleman sat in the aisle seat, and I offered him the window - with my height, I fit better in the middle - but he declined! </p>
    <p> The flight was smooth, snacks and drinks were served, and soon we could see the red landscape from above, including many dried-up lakes and rivers as well as a few houses. After a little over 2 hours, we landed in Alice Springs. Since we were sitting in the second-to-last row, we took our time gathering our things... but then suddenly the aircraft door opened, and we were the first to disembark. We walked a short distance across the airport to the terminal, where we headed to the car rental desk. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/anflug-alice-springs.jpg" alt="Approaching Alice Springs">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130720-000408.jpg" alt="Hey, what are you looking at... I live here!">
  </div>
  <div class="col-md-7">
    <p> After completing various paperwork, we headed to the car... opened the doors, stowed our suitcases and other items, and turned on the air conditioning as quickly as possible. There's no other way to say it - the climate here is completely different! </p>
    <p> After Basti familiarized himself with the car, we drove to the YHA Hostel, which we reached after about 20 minutes. There, we had to wait patiently. Eventually, we were able to get our family room and shortly afterward went shopping for food for the next 2 days. </p>
    <p> This was a bigger challenge than we expected. Nothing should need refrigeration since we didn't have that option, but it shouldn't dry out completely either, and it should still taste good rather than just consisting of sweets and cookies. Then there was the drinking problem! How hot would it get in the "desert," how long would we really be out there, what if something happened on the way, etc. We finally found some food and decided on a 10-liter box of water with a dispensing system. So, with that settled, it was time to check out. </p>
    <p> After dropping off our shopping at the hostel, we walked to the reptile center. After paying for admission and even getting a discount with our YHA card, we first went to see the lizards in the "dark chamber." </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Hands off, these are our branches..." src="{{ site.url }}/assets/img/blog/auszeit/small/bartagamen.jpg">
  </div>
  <div class="col-md-7">
    <p> After a quick look, we went up to the next room, where a lecture was about to start. Since I wasn't particularly interested and wouldn't understand much of it (language difficulties), Basti was supposed to attend it alone while I looked around. However, I quickly changed my mind when it turned out that some animals would be involved in the presentation. </p>
    <p> The young employee spoke so clearly, without any harsh accent, that I understood more than I initially thought. There were some interesting and amusing things to hear, and then the first animal was brought out. It was a bearded dragon. We were allowed to hold it, and to my surprise, it was much softer than it looked. </p>
    <p> Shortly after, a blue-tongued skink was taken out of one of the boxes, and we were told that they protect themselves against predators by mimicking a snake - they tuck in their legs, flick their tongue a bit, and attack! If they're lucky!!! </p>
    <p> Basti decided to hold this animal, and then it was passed to me. I have to say that the blue-tongued skink really does look like a snake... it has the same sinister appearance, it's cold, and above all, it feels strange! </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Hands off, these are our branches..." src="{{ site.url }}/assets/img/blog/auszeit/small/bartagamen.jpg">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="The camera-friendly, bizarre reptile" src="{{ site.url }}/assets/img/blog/auszeit/small/teuflische-angelegenheit.jpg">
  </div>
  <div class="col-md-9">
    <p> Then the employee explained that she once worked as a tour guide at Uluru. With her group, who were walking there, she had discussed beforehand that if a snake crossed their path, they shouldn't move. And as fate would have it, a snake did cross their path! But instead of standing very still while the snake slithered around the guide's leg, everyone rushed forward to get the best photo. </p>
    <p> Yeah, typical tourists - getting pictures is more important than getting out alive!!! <br> She then explained what to do if you encounter a snake, how to behave if one crosses your path, etc., and then the next box was opened and an olive python was brought out. Next to me I just heard something like "Eww, oh God, I'm not touching that" - and so it was. Basti would not touch the animal... at first! </p>
    <p> After the "lecture" was over, a few people were still gathered around the employee with the snake on her arm, while Basti was still in his chair. I don't know how it happened, but suddenly she went over to Basti, and before he knew it, the snake was wrapped around his neck. He didn't look happy at all while everyone else was doubled over with laughter. But he was quickly rescued... though not without taking the perfect photo first. And as they say: the man survived *g* </p>
    <p> We then continued to the second section of the reptile center and got to see more blue-tongued skinks, monitor lizards, and a thorny devil. The latter really looks very suspicious! </p>
    <p> After we had seen everything and left the center, we started looking for something to eat. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Too much liquid refreshment?!?!" src="{{ site.url }}/assets/img/blog/auszeit/small/hicks.jpg">
  </div>
  <div class="col-md-7">
    <p> This was more difficult than expected - either everything was closed or incredibly expensive. In the end, we found a pizza place and something like kebab with fries. Not very authentic, but the shops were open and it was affordable! </p>
    <p> After dinner, we returned to the supermarket or rather its adjacent liquor store, and each of us chose something delicious. We wanted to enjoy these drinks during a relaxing evening by the pool. Unfortunately, our plans were ruined by a sign at the pool prohibiting glass bottles and stating that the pool closed at sunset. For better or worse, we moved to our room and spent the evening there. </p>
    <p> The evening, or rather the night, turned out to be quite chaotic for me. The room had air conditioning, but it couldn't be controlled or turned on/off. It blew directly on my face. At some point this stopped bothering me, but then I was too hot. It got to the point where I grabbed my things again to take a cold shower. It didn't help much, but eventually I managed to fall asleep. </p>
    <p> So, a big apology to the men in the room for all my tossing, turning, and grumbling! </p>
    <p> Good night </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Too much liquid refreshment?!?!" src="{{ site.url }}/assets/img/blog/auszeit/small/hicks.jpg">
  </div>
</div>
