---
layout: blog/en/travelblog
active_nav: travel-blog
title: "06/10/2013 Gold Coast and Brisbane"
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Ballina
  - Coffs Harbor
  
headline:
  image:
    url: /assets/img/blog/auszeit/Auszeit-1887.jpg
alt: "The beach right in front of our sleeping place in Ballina"

overview:
  intro: "We got up in dry weather this morning. Unfortunately, that shouldn\'t stay that way. I had heard / read somewhere that there should be Delphine in the Bay of Ballina, which should sometimes even come very close to the beach."
  image:
    url: /assets/img/blog/auszeit/small/Auszeit-1889.jpg
alt: "Pelicans waiting for fish."
---

<div class="row margin-bottom-10">
    <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
        <img class="img-bordered img-responsive img-centered" src="{{ site.url }}/assets/img/blog/auszeit/small/Auszeit-1889.jpg" alt="Pelicans waiting for fish">
    </div>
    <div class="col-md-7">
        <p>
            <span class="dropcap"> H </span> Tomorrow we got up in dry weather. Unfortunately, that shouldn't stay that way.
            I had heard / read somewhere that there should be Delphine in the Bay of Ballina, which should sometimes even come very close to the beach. Since the beach starts right on the other side of the street, I sent nuts with the camera while preparing the car for the onward journey. </p>
		<p> Unfortunately, dolphins were not in the bay this morning, but already some pelicans. They once again waited for some fishermen to finish cleaning their catch and that they can get the remains. After I checked out, I took a few steps to the beach to look at my spectacle. Then we made our way. </p>
		<p> It shouldn't go far today. Just a little more than 100km to Surfers Paradise. There are 3 things I would like to do. </p>
		<ol>
			<li> Go for a walk on the promenade with nuts </li>
			<li> To the hard rock cafe, buy shirts </li>
			<li> On the Qeck. Viewing deck to 77. And 78th floor of the Q1 Tower </li>
		</ol>

    </div>
    <div class="col-md-5 hidden-sm hidden-xs">
        <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/Auszeit-1889.jpg" alt="Pelicans waiting for fish">
    </div>
</div><div class="row margin-bottom-10">
	<div class="col-md-5">
        <img class="img-bordered img-responsive img-centered" src="{{ site.url }}/assets/img/blog/auszeit/small/Auszeit-1891.jpg" alt="The beautiful view on the Lennox Head on the open sea">
    </div>
    <div class="col-md-7">
		<p> On the way there we wanted to drive past one or the other viewing platform again, hoping to see a whale. At the Lenox Head we could even make a difference in the distance that a jumping whale could have been. So we decided to continue driving to Byron Bay and our luck there again. </p>
		<p> Unfortunately, it started on the way there how to pour out of buckets. So in Byron Bay we decided not to leave the dry security of our vans and to hope for better weather north. </p>
		<p> Once in Surfer's paradise, it looked shortly afterwards as if it stopped raining.
			So we quickly looked for a covered parking lot and started looking for the hard rock cafe. 
			On the way there we came to a shopping center from which you can look at the promenade. 
			With this foresight, unfortunately we had to look at the reality that told us that it would probably not stop raining.
			At least not in the next few minutes. </p>
		<p> When I arrived at Hard Rock Cafe, I was lucky enough to meet the boss back personally. 
			A few weeks ago, I had accidentally met you at the HRC in Sydney and she promised me at the time to put a shirt in my size aside. ;) </p>
	</div>
</div><div class="row margin-bottom-10">
    <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
        <img class="img-bordered img-responsive img-centered" src="{{ site.url }}/assets/img/blog/auszeit/small/Auszeit-1892.jpg" alt="My mother and I together with the employee in Hard Rock Cafe Shop Surfers Paradise">
    </div>
    <div class="col-md-7">
		<p> Since the sky had just scored all the goals again, we chatted a little with her and a nice employee who then gave us the order to greet a Kiwi colleague in the Hamburg Hard Rock Cafe. </p>
        <p> After a while we made our way back to the car. On the way through the city, we then decided to drop the other two points on my list and simply continue to Brisbane. We just don't feel like rain anymore. </p>
		<p> In Brisbane, the Big4 campsite was full again. 
			But it's not that bad today, because tomorrow morning we want to go to the workshop first to have the shock absorbers exchanged.
			The current ones are a bit spongy and the highway is over just behind Brisbane. 
			We don't know what the streets look like. </p>
		<p> So we are now making it comfortable in the parking lot of a petrol station with meat sausage and cheese. </p>
		<p> Hopefully it will stop raining soon. </p>
    </div>
    <div class="col-md-5 hidden-sm hidden-xs">
        <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/Auszeit-1892.jpg" alt="My mother and I together with the employee in Hard Rock Cafe Shop Surfers Paradise">
    </div>
</div>
