---
layout: blog/en/travelblog
title: "03.03. Yulara we come"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Alice Springs
  - Yulara

author: Steffi

overview:
  intro: "The alarm clock went very early so that we had enough of the day and especially for the long journey and so we were sitting in the car early. However, the first stop took us to a petrol station to drive into the desert with a really full tank."
  image:
    url: /assets/img/blog/auszeit/small/dsc02192.jpg
alt: "Toilettenhaus of a different kind in nothing in the red center"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02192.jpg" alt="Toilettenhaus of a different kind in nothing in the red center">
  </div>
  <div class="col-md-7">
    <h3> Steffi </h3>
    <p> The alarm clock went very early so that we had enough of the day and especially for the long journey and so we were sitting in the car early. However, the first stop took us to a petrol station to drive into the desert with a really full tank. </p>
    <p> I actually drove towards Yulara, to Uluru, better known as Ayers Rock, I couldn't believe it yet! Can you be so lucky at once? </p>
    <p> The route took us to Stuart Highway. We should follow this a few hundred km. Fortunately, 130km/h are at least allowed in the desert. It was already noticeable that we had somehow imagined something else under "desert". Everything was much overgrown here and greener than painted. There were (green) bushes and trees everywhere on the way. The path then led us past a camel farm, where we drove briefly across the square, but classified it for "not inviting" and continued. </p>
    <p> We then discovered eagles further on the street, which was troubled by a carcass. We throttled the pace and tried to get the eagles on the picture, but they were gone faster than we could see and the traffic also had to be kept in mind, so that we could not look afterwards. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02212.jpg" alt="Long, longer, the longest ... road train!">
  </div>
  <div class="col-md-7">
    <p> Then we saw something pretty big to get on ourselves ... Should it actually be a roadtrain?! Yes ... it was one. Down from the accelerator pedal, keep left, camera shooting and then he was already on the other side. The roadrains are really indescribably long and impressive! </p>
    <p> In the meantime, the "sanitary facilities" topic was now settled again and in the middle of nothing! HELP! However, the prayers were heard. Somewhere on the roadside there was something like a parking lot and a toilet house! There was nothing but red earth, a dry river and this little sheet metal house! I ran all the pictures of evil snakes etc. in front of my eyes so that I sent Basti to open the door and to risk a look. <br> When this was classified for "safe", I went there and I can tell you: I've never seen such a clean toilet ... on no resting place in this world! </p>
    <p> The journey continued and after a few hundred km we reached the junction. There was also a gas station with a "restaurant", which we visited before going on. It is not for nothing that it means "tank with every possibility" what noticed; The prices rose many times over! Slowly, refueling really hurt. </p>
    <p> I had already spun around what we would pay in the end, unlike all the fuel stops before on our trip ... but that it would really be the case in the end, we have not yet guessed it. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02212.jpg" alt="Long, longer, the longest ... road train!">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02298.jpg" alt="Comfortable drive through the outback">
  </div>
  <div class="col-md-7">
    <p> There was also an &Uuml;&uuml;&uuml;&uuml;&uuml;berlanger Roadtrain on the rest of the Rasthof and of course we did not miss the opportunity to take a closer look. Then we went to the "sales room" and looked at the Emus on the edge of the petrol station, which lived there on a fenced terrain. </p>
    <p> After the tank and "sanitary facilities" stopped (you should always use the 2nd point), we drove on the State Route 4. We still saw some eagles and other birds as well as the most associated carcasses on the street and there was still a roadtrain. The temperature display in the car and the number of kilometers rose and climbed. </p>
    <p> But we were then slowed down pretty quickly, as a convoy drove into a crossing in front of us. They had invited one or more houses. Overtaking excluded! We crept a little after we decided to pause on the side of the path and treat ourselves to a meal. After 15 minutes we drove on, but then quickly caught up with the convoy. Fortunately, there was a rest area at some point, which was no longer in operation and the convoy was parked there. Finally over, we came forward again until we were stopped by an "ox". This stood directly on the roadside, without a fence or other, and was not disturbed by anything or anyone. So quickly took photos and on. </p>
    <p> While the number of kilometers rose, we saw the first stone from wide (*note see closing word). There was also a small bay with a toilet house. </p>

  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> We stopped and while Basti stayed in the car, since it was too warm, I got out and took a picture or two and of course searched for it, surprisingly clean, toilet house. </p>
    <p> After many more kilometers, the next and last tank facility came to the finish. So go back and to refuel or represent legs. While Basti filled the car and almost crying started at the price (I should never open my flap that way before), I represented my legs. There were some flowering shrubs on the edge of the petrol station, which I wanted to take a closer look at until right next to me was looking for a little attention. A toilet house was built there and I saw a gentleman there shortly before. Nothing special ... until I discovered the little Waran (approx. 40-50 cm)! This crept behind the toilets and put his nose in every cabin until he chose the last. Where the gentleman went into it! </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <img class="img-bordered img-responsive img-center" alt='ob heute jemand zu erschrecken ist? Ohja, dort ist jemand.. also rein da!"' src="{{ site.url }}/assets/img/blog/auszeit/klobesuch.jpg">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> I felt like in the cinema in the next moments; He put his nose in, looked around again and then disappeared into the cabin ... seconds later you heard a "Ahhhhh" and the gentleman came from the cabin. I couldn't laugh anymore! I was sorry for the Lord, but sorry ... stay serious, no! Unfortunately Basti missed the scene, but then came with too high tank bill shortly afterwards and then we continued. </p>
    <p> We finally reached Yulara. Yulara is a small place created for tourists and is about 20km in front of the Uluru. The nest consists only of accommodations, a tank, a small town center and the obligatory tourist information. Of course, what should not be missing, as is common with Australian villages, is a separate airport. </p>

  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="The heat and. The drought demands their toll ... areas of battered by fires" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02443.jpg">
  </div>
  <div class="col-md-7">
    <p> We headed for the reception of our department. For cost reasons, it should only be a 4-bed room this time. So check it in quickly, have it described away to the room and go. With strange feeling and praying that there is still no one, we put the key into the castle and lo and behold: there was really nobody. So we still had a free selection! The room, Joa ... stop to stay. There were 2 bunk beds, a mirror, air conditioning and a window. End! The two lower beds were of course ours immediately. </p>
    <p> Find everything together quickly that is needed for the evening, sanitary facilities visited, freshly made and go. First we headed for the "center", where supermarket, caf&eacute; and Co. were. Many have previously told us that everything was excessively expensive there and that you should stock up well beforehand. We had done too! But would not have been necessary, the prices in the supermarket were not much different than there was enough! </p>
    <p> Next we headed the souvenir shop and discovered the souvenir badly. Everyone who knows us knows that we can bring ourselves from the Hard Rock Caf&eacute;s of the respective city, if available, T-shirts. There was no HRC here, but "T-shirt imitations" in the form of "Hard Rock With No Cafe" shirts and the Uluru on it. Try it out quickly and off to the cash register. At least me! Unfortunately, Basti was unlucky for the size and had to do without for better or bad. Before the store we had seen shelves with different head nets against the many flies, completely overpriced, of course, which we, however, did not pay any further attention after a short examination. We didn't know how much we would regret this in the end. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="The heat and. The drought demands their toll ... areas of battered by fires" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02443.jpg">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02305.jpg" alt="Entrance to the national park">
  </div>
  <div class="col-md-7">
    <p> Back in the car we didn't get very far, because we discovered a parking space where a path was connected that led to a viewpoint. Always pay attention to the way so that nothing badly messes up the day and went up to the viewpoint with an absolutely beautiful view of the Uluru and the surrounding area! During the photo shoot, we were bothered by various flies and beat almost continuously around us, which was pretty much hit on the nerve costume. Since it was time that we drove to the national park, we made our way back to the car and continued the journey. </p>
    <p> At the National Park entrance we bought tickets for 2 days. We decided that we first look where we get the best view of sunset later. </p>
    <p> After this was made, we continued to explore the area. The Uluru came closer and the mood in the car became calmer. We were both just impressed and were amazed at the radiance of the stone that was right ahead of us. On our trip we heard the following sentence in various conversations </p>
    <div class="tag-box tag-box-v2"> "It's just a mountain, but if you stand in front of this mountain, he will knock you over" </div>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02339.jpg" alt="The washed -out part of the Uluru">
  </div>
  <div class="col-md-8">
    <p> And so it was. What this stone radiates cannot be described, but it really knocks you over! We decided to drive around the Uluru and landed in the cultural center. Here, however, everything was closed not to find no human soul, nothing to see and so we only visited the toilets and drove on. </p>
    <p> The next stop was a parking lot right on the Uluru! Basti refused to get out due to the warmth and flies and so I alone started to take pictures (even if this is fundamentally not very desirable, as is pointed out by signs) and the whole thing to let me work. Then it should go to the previously selected place for us, because the sun should soon go under. At least we hoped that the existing clouds in the sky made us worry. Did we organize all of this and shouldn't get a bright sunset on the Uluru ??? </p>
    <p> The parking space was quickly reached and how could it be otherwise, the fly plague was already on site. As soon as you only touch the car door, they plunge into one. While I put on the tripod and the camera, I had to beat me throughout and Saint Saint Saint. Basti's, on the other hand, was already in the basement. He saw in the car! I did everything extremely against the grain, but I didn't want to ruin this trip through these stupid cattle. So eyes too (in the truest sense) and through! </p>
    <p> Many many photos were taken, there was a small lizard on the floor here and there and then the sunset announced. Finally I was able to lure Basti out of the car so that at least one or the other photo of us came together or from him there. However, this turned out to be very tedious. Be annoyed, beat around, but then look out of the laundry cleverly! What a work! Why didn't we buy the overpriced networks ??? (Basti actually has one, but this has remained in Adelaide ... we would have guessed it all beforehand) </p>
    <p> Basti moved back into the car pretty quickly, while I was just impressed by the Uluru. The whole spectacle went around pretty quickly, and after sunset the parking lot emptied quickly. We stayed for a while and then slowly drove back to the accommodation. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02339.jpg" alt="The washed -out part of the Uluru">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02388.jpg" alt="If someone discovers the gift mentioned from the contribution of February 20, 2013">
  </div>
  <div class="col-md-7">
    <p> The bear now stapped there, in the form of grill dinner and music. First of all, we headed for our room and for great joy, we still had this for ourselves! So all of them unloaded and out into the fray, where we sat at a table and destroyed the ordered burgers. At the bar there was a large facility where you could get yourself free, well -chilled water, which of course we liked to use. In addition to the meal, we then invited the pictures of the last few days to the computer and then the showers called. </p>
    <p> Which was amazing; In the entire resort area it was not so swarming with flying so that we could end the evening relaxed! Unfortunately, all the cattle were bustled in the shower area, which "swelled out" and twitched together during showering. That's how it is when people spread out in the middle of nothing. </p>
    <p> The lighting on the site between the houses unfortunately leaves a lot to be desired, so that you have to concentrate quite on the paths. Which is not easy if you suspect all evil animals in the undergrowth. You are happy when you reach the room safely. </p>
    <p> We talked for a while until our eyes took our eyes or at least one of us. Somehow I didn't find real peace and sleeping didn't work at all. </p>
    <p> Still good night. </p>
  </div>
</div>
