---
layout: blog/en/travelblog
title: "December in Sydney"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "Unfortunately, I didn't get much chance to write in December. I'd like to finally catch up on that today."
  image:
    url: /assets/img/blog/auszeit/small/igp1617.jpg
    alt: "There it is. Still not sold, unfortunately!"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp1617.jpg" alt="Blue Mini One 2008 R56">
  </div>
  <div class="col-md-8">
    <p>Unfortunately, I didn't get much chance to write in December. I'd like to finally catch up on that today.</p>
<h2>My beloved MINI</h2>
<p>Since the MINI still hadn't sold, I took it to a repair shop at the beginning of the month, hoping that might make it more sellable. I nearly fell over backward when I heard how much the repairs would cost. Fortunately, I'm currently working at a really cool company. My manager allowed me to work as much paid overtime as I wanted, whenever I wanted. Even on public holidays it wasn't a problem. So I spent a lot of time at the office in December. I'm just glad that I enjoy my job, so I didn't have to force myself to put in the extra hours.</p>
<h2>A little free time</h2>
<p>I tried to make the most of the few hours I had left besides working and sleeping. I went to the indoor or outdoor pool a few times and did a lot of walking.</p>

  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp7032_1.jpg" alt="Lawn Bowl green with many colorful balls">
  </div>
  <div class="col-md-7">
    <h2>Christmas party</h2>
    <p>Of course, we also had a Christmas party at the company. We went out for Vietnamese food at lunchtime. Afterward, we went to play lawn bowls, where we spent the afternoon playing games, drinking, and having fun. In the evening, the company treated us to a really delicious but very expensive fish restaurant. There were oysters and tuna steaks on the menu. It turned out that the tuna steak couldn't compare to the ones I had in Key West. Afterward, we joined the HotelsComined company's celebration and partied until late into the night. The next day was, shall we say, not very pleasant.</p>
    <h2>Walk to Bondi</h2>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp7032_1.jpg" alt="Lawn Bowl green with many colorful balls">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>The following weekend, I wanted to discover a new area of Sydney and decided to walk toward the sea. I walked the first nice stretch through residential areas on foot. On the way to the water, I came across an Aldi where I quickly stopped to buy a few things for Christmas. To avoid walking along a busy main road for many kilometers, I decided to walk to a bay and take the ferry to Watson Bay, which is a few kilometers north of Bondi Beach. From there, I walked south along the coast. The route typically leads across meadows between houses and along the cliffs. I got some really nice photos of the local flora and fauna.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp7543_1.jpg" alt="Lighthouse with a large meadow in front of it">
  </div>
  <div class="col-md-7">
    <h2>Photo sessions</h2>
    <p>Speaking of photos, I just remembered that in December, I also went out a few times with my roommate Jan looking for great photo opportunities. We had a lot of fun—trains passed over our heads, we (and a lens cap) went for an unplanned swim, we were mistaken for speed cameras, and we made Jan completely disappear except for one of his feet. We captured some really nice photos, including this one.</p>
    <h2>Fireworks</h2>
    <p>As for fireworks as a photo subject, I naturally tried more than once and naturally failed more than once. Sometimes I was too close, other times I was too far away.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Fireworks photographed from below" src="{{ site.url }}/assets/img/blog/auszeit/small/igp7132_1.jpg">
  </div>
  <div class="col-md-7">
    <p>Sometimes I was too high up, and other times I felt like I was right underneath them. Still, I managed to get a few good snapshots. When it comes to the frequency of fireworks, Sydney is unbeatable. On one Saturday in December, I saw five major fireworks displays in Sydney's city center.</p>
    <h2>Museums and exhibitions</h2>
    <p>I saw fewer of these than I had planned. I only visited the Sydney Tower Eye twice—which is the highest observation deck in Sydney—and Sea-Life once. I'm saving the other museums and exhibitions for January.</p>
    <h2>Christmas</h2>
    <p>That's right—Christmas was also in December. I went to a German restaurant with some roommates, which I wrote about last time.</p>
    <p>Of course, New Year's Eve comes after Christmas. I'll tell you about that next time, and I'll definitely show you more photos!<br>
      <br>
    </p><h2>What's coming in 2013</h2>
    <p>There's a lot planned for 2013. Above all, I'm determined to finally see more of Australia rather than just staying in Sydney.</p>

  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Fireworks photographed from below" src="{{ site.url }}/assets/img/blog/auszeit/small/igp7132_1.jpg">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>I'm planning to get a minibus soon, and as soon as Steffi arrives, we'll start our tour toward Adelaide. Furthermore, my plan for 2013 includes seeing much more of Australia and also working a bit to ensure my travel funds don't completely run out. In the European summer, I plan to begin my journey back to Europe.</p>
    <p>So that's it for December in Sydney. As already promised, next time I'll tell you more about my New Year's Eve celebrations and what I experienced there.</p>
    <p>Greetings and, once again,<br>a happy New Year to everyone!</p>  </div>
</div>
