---
layout: blog/en/travelblog
title: "March 2013 Working in Sydney"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Katoomba
  - Sydney

overview:
  intro: "Today, as promised, the summary of what I did in the second half of this month."
  image:
    url: /assets/img/blog/auszeit/small/igp8336.jpg
alt: "I call that a front yard in the middle of the city center of Katoomba"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8336.jpg" alt="Well -maintained and pretty bushy front yard with terrace">
  </div>
  <div class="col-md-7">
    <p> Today, as promised, the summary of what I did in the second half of this month. </p>
    <p> As described in the previous post, I started on March 14th. Again with work. However, since I was not yet in prospect and certainly not in the prospect and certainly not in the desire for hostel, I decided to continue to be in the van. So I parked Hugo in the next side of the side in a free parking space and slept there for the rest of the week. This had the advantage that the way to the office got even shorter. Since there are also toilets and showers in the building, hygiene is also not a problem. </p>
    <p> When I got my new employment contract on Friday, I was so flat when I saw the change in the salary. From now on there is a good bit more salary per hour. That shows me that my superiors are really peace with my work. </p>
    <p> On my first weekend back in Sydney, I decided to go back to the Blue Mountains to spend the night on a small free campsite in Megalong. In addition, I wanted to see a riding stable that sounded promising. Unfortunately, it turned out to drive past and when calling that this riding stable only has horses with weight limits. So I stayed the evening on the actually very nice, small and natural space. Whistled in the next audio book and made further Velcro fasteners on the curtains with deep fervor. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8349.jpg" alt="The mountains in the background. In the middle and for the foreground, houses of the city of Katoomba">
  </div>
  <div class="col-md-7">
    <p> On Sunday I made a small tour of KatoOmba in search of a cozy place with a view to write or read blog. After some running around and danger back and forth, I parked at the Coles food market in the town center and found that there was a public library on the roof. So I went up there and found that there is a huge terrace there with relaxation music, beautiful view over the Blue Mountains and even WiFi. So I made it comfortable to write blog there. </p>
    <p> The next week was pretty unspecific. There were no more than work. Since I had not found an apartment, I was still slept in the van and slowly got used to it. In the office I have everything I need except for a washing machine. I took this as an opportunity to get a 15 card for the hostel to get out of the car here and there. You can do the wash washing. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8349.jpg" alt="The mountains in the background. In the middle and for the foreground, houses of the city of Katoomba">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8357.jpg" alt="Three tips several hundred meters high stone columns. Slightly seen from above.">
  </div>
  <div class="col-md-7">
    <p> At the weekend I went back to Megalong to the free campsite to further improve Hugo. On Sunday I wanted to go back to the library to continue writing. But since I couldn't really concentrate, I decided to drive to the Echo Point, which was often heard. </p>
    <p> Once there, I parked Hugo in a side street and went to the number 1 tourist attraction in town. The Echo Point is a large space directly on a large cliff. From there you have a fantastic view over the Blue Mountains and the Three Sisters. You will also find a tourist information for the region there. There you also get some tips where you can go hiking. Said done. I looked for a short route directly below the viewing platform and started. </p>
    <p> After just a few km, I heard a helicopter flew very deep over me and went into a floating state near the viewing platform. So I quickly got back to the way back to look at the spectacle up close. And what a spectacle I got to see there. It was not possible to find out whether it was an exercise or a real commitment. In any case, several people were roped into a narrow gorge directly in front of the viewing platform. From the hiking trail below the platform from the platform, some people also climbed into the gorge. Several people were then brought out with the helicopter and flew away. It was a huge spectacle with really many spectators and a few very good photo opportunities. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8388.jpg" alt="Heli on which several rescuers are secured on ropes plus their backpacks.">
  </div>
  <div class="col-md-8">
    <p> After I had some very good shots in the box, I went back to my car and had to find out that I had left the light full. So the battery was now in the bucket. Well, actually not a problem because I'm in the ADAC after all. So as always. Call your cell phone from your pocket and ADAC. After I gave him my membership number and briefly explained the situation, the gentleman at the other end of the line kindly said that he could not help me because the ADAC only applies in Europe and I was not in a life -threatening situation. Since he had no other tips for me, he rose very quickly. </p>
    <p> And now? I fell that I have a starter cable in the car and in the back box. So clear out the car and search for cables. After I found the cable and the battery under the passenger seat, only a second vehicle was missing to give Hugo start -up help. It only took a few minutes for a pick-up to drive past and gather what a problem I have. He helped me without a big priority and within a few minutes the engine ran again. </p>
    <p> So that the battery could store in peace, I made myself directly on the way back to Sydney. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8388.jpg" alt="Heli on which several rescuers are secured on ropes plus their backpacks.">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8403.jpg" alt="A helicopter just a few meters above the chubby.">
  </div>
  <div class="col-md-7">
    <p> I spent the rest of the month with work in a team, which is more and more fun, reported for a diving course at the beginning of next month and booked my return flight to from the end of April to the end of August. </p>
    <p> Oh and since I cannot find an apartment for a period of no more 2 months, I thought of the thought and make myself comfortable in my top -equipped van. </p>
    <p> See you soon. </p>
  </div>
</div>
