---
layout: blog/en/travelblog
title: "02/28/13: Crazy Ideas & Their Implementation"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Keith

author: Steffi &amp; Basti

overview:
  intro: "This morning we didn't dawdle for long and set off quickly. We had already looked for campsites for today last night, and since we were allowed to use the hostel kitchen, breakfast was also taken care of quickly."
  image:
    url: /assets/img/blog/auszeit/small/20130718-094639.jpg
    alt: "Activating the autopilot"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt | raw }}">
  </div>
  <div class="col-md-7">
    <h3>Basti</h3>
    <p>This morning we didn't dawdle for long and set off quickly. We had already looked for campsites for today last night, and since we were allowed to use the hostel kitchen, breakfast was also taken care of quickly.</p>
    <p>Today's route quickly changed from yesterday's winding coastal road to an endless straight line, only interrupted here and there by construction sites. To the left and right of the road, the lush meadows were increasingly replaced by dried-out pastures. After a few kilometers, we drove more and more through endless vineyards. So we arrived at the Barossa Valley, the wine region of South Australia!</p>
    <p>At some point in the middle of nowhere, my navigation system told me to turn right. Said and done. After another 2km, we were standing at a campsite between two wineries, and it wasn't even noon yet. We looked at each other and decided to continue driving. The lady at the reception only looked at us with boredom when we turned around to head back to the main road. In the next village, we stopped for a while, first to get out of the car, and second to check our camping guide to see where we would go this afternoon.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130718-094541.jpg" alt="Shade provider for the sheep">
  </div>
  <div class="col-md-8">
    <h3>Steffi</h3>
    <p>So today our journey took us to a fairly deserted campsite in Keith... no other campers, no one in the office... Everything seemed abandoned! So we first looked for a spot for our car and eagerly eyed the pool from a distance, which was beckoning to us from behind the fence in this heat. There we also spotted a lady who soon after came to the campsite and disappeared into the office. Basti then went to register and pay for us and came back shortly afterward with a long face:</p>
    <p><em>"The pool is closed today, it would be too cold."</em></p>
    <p>Aaaaaaaaah, really??? Okay, the Aussies have definitely gotten too much sun! I noticed this with an employee of a fast food chain in Canberra. At over 25°C outside temperature, this person was wiping tables wearing a thick fur jacket (zipped all the way up), long pants, thick shoes, etc.!!! They all walk around in thick fur boots, etc., even when the outside temperature is 35°C... no comment!!!</p>
    <p>So no relaxing in the pool, but we started preparing for dinner... or not. Because our plans were thwarted by a group of kangaroos that appeared on the meadow next to the campsite. They were so trusting that you could get quite close to the fence to take a few pictures. This would all have been super nice if it weren't for these monster bulldog flies, which grow up to 45mm and aren't entirely harmless. Unfortunately, they were flying along the fence in enormous numbers, where they had one or another entrance to their dwelling, so that we had to stop our kangaroo watching.</p>
    <p>We then moved with our kitchen utensils to the BBQ area and started to cook something. Unfortunately, a lot of bulldog flies were also flying around here, so we sprayed a circle of insect repellent around us. This actually helped!</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130718-094541.jpg" alt="Shade provider for the sheep">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130718-094650.jpg" alt="Do they want to join us for dinner?">
  </div>
  <div class="col-md-8">
    <p>It kept going through my head that with the best will in the world, I wasn't going to see any red earth. I had already mentioned that one time or another on the journey, and every time we would muse, "If we leave now, we could make it," but no... we never actually did it. After all, you can't have everything! And I'm getting to see much more on this trip than ever before on a vacation!</p>
    <p>That was about to change today. Our musings became more frequent and suddenly we found ourselves looking up car rental companies, airlines, etc., and it became more concrete! Suddenly the flights were booked and we were looking for a rental car, accommodation, and things we could take. Unfortunately, the internet wasn't cooperating as we wanted, and since it was already late, we decided to postpone the remaining bookings until tomorrow.</p>
    <p>Good night!</p>
  </div>
</div>
