---
layout: blog/en/travelblog
title: "28.02. Crazy ideas & their implementation"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Keith

author: Steffi &amp; Basti

overview:
  intro: "Basti this morning we didn\'t dawdle around for long and drove off. Campsites for today we had already looked for ourselves last night and since we were allowed to use the kitchen of the hostel, breakfast was also done quickly."
  image:
    url: /assets/img/blog/auszeit/small/20130718-094639.jpg
alt: "Activation of the autopilot"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
  </div>
  <div class="col-md-7">
    <h3> Basti </h3>
    <p> We didn't dawdle around for long and drove off this morning. Campsites for today we had already looked for ourselves last night and since we were allowed to use the kitchen of the hostel, breakfast was also done quickly. </p>
    <p> Today's route quickly changed from a coastal road that was still winding yesterday to an endless straight line that was only interrupted here and there by construction sites. To the left and right of the street, the juicy meadows were increasingly replaced by dried pastures. After a few km we drove more and more through endless wine fields. So we arrived at Barrosa Valley, the wine area of &#8203;&#8203;South Australia! </p>
    <p> At some point in the middle of nowhere my navigation system said then I should turn right. Said done. After another 2km we stood in the middle of two wineries on a campsite and it wasn't even noon. We both looked at and decided to continue driving. The lady at the reception only looked boring when we returned to the main street. In the next village we turned a little longer to get out of the car again and secondly in the camping book to watch where we are going to go this afternoon. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130718-094541.jpg" alt="Shadow donor for the sheep">
  </div>
  <div class="col-md-8">
    <h3> Steffi </h3>
    <p> So today the journey took us on a fairly abandoned campsite in Keith ... no other camper, no person in the office ... Everything like extinct! So we first looked for a location for our car and already examined the pool from a long time, which awaited us happily behind the fence at the temperatures. There we also discovered a lady who came to the campsite shortly afterwards and disappeared into the office. Basti is then behind to register and pay us and came back shortly afterwards with a long face </p>
    <p><em> "The pool is closed today, it would be too cold" </em></p>
    <p> A&auml;&auml;&auml;&auml;&auml;&auml;&auml;h please ???? <br> Ok, the Aussies got too much sun! I noticed that from an employee of a fast food chain in Canberra. At over 25 degrees outside temperature, this has wiped the tables with thick fur jacket (closed to the top), long trousers, thick shoes etc. !!! They all run around with thick fur boots etc., even if the outside temperature is 35 degrees ... no comment !!! </p>
    <p> So no tension on the pool, but prepare everything for the food ... or not. Because our plan was thwarted by a group of kangaroos that appeared on the meadow next to the campsite. These were so trusting that you could get quite close to the fence to catch one or the other picture. That would all have been super chic if it weren't for these monsters of bulldog genes, which grow up to 45 mm and are not entirely without. Unfortunately, they ran along the fence in an enormous variety, where they had one or the other access to their dwelling, so that we had to stop our kangreading. </p>
    <p> We then moved with our kitchen utensils to the BBQ area and started to cook something. Unfortunately, a lot of bulldog genes also ran around here, so that we sprayed a circle of insect resources around us. This also helped! </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130718-094541.jpg" alt="Shadow donor for the sheep">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130718-094650.jpg" alt="Do they want to contest our dinner?">
  </div>
  <div class="col-md-8">
    <p> I still went through my head that with the best will in the best sake, I shouldn't see any red earth. I had already mentioned that one or the other time on the way, and we spun around every time "If we drive off now, we can do it", but no ... we never implemented the whole thing. After all, you can't have everything! And I get much more to see on this trip than ever on a vacation! </p>
    <p> That should change today. The spinning mills became more and suddenly we found ourselves on rental car company, airlines etc. and it became more concrete! Suddenly the flights were booked and we were looking for a rental car, accommodation and things that you could take. Unfortunately, the internet didn't want to be as we wanted and we decided because it was already late to postpone the remaining bookings to the next. </p>
    <p> Good night </p>
  </div>
</div>
