---
layout: blog/en/travelblog
title: "December in Sydney"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "Unfortunately, I didn\'t really get to write in December. I would finally like to make up for that today."
  image:
    url: /assets/img/blog/auszeit/small/igp1617.jpg
alt: "There he stands. Unfortunately still not sold!"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp1617.jpg" alt="Blue Mini One 2008 R56">
  </div>
  <div class="col-md-8">
    <p> Unfortunately, I didn't really get to write in December. I would finally like to make up for that today. </p>
<h2> My beloved mini </h2>
<p> Since the mini was unfortunately still not sold, I sent it to the workshop in the hope that it may be better sold afterwards. I almost fell over when I heard what the repair costs me. I am currently working in a really cool company. My manager allowed me to do so many Bezalted overtime how and when I want. Even on public holidays it was not a problem. So I spent a lot of time in the office in December. I am only glad that I like my job and therefore didn't have to force myself to the overtime. </p>
<h2> A little time left </h2>
<p> I tried to use the few hours that have stayed next to me next to work and sleep. I was in the swimming pool or outdoor pool one or the other time and on foot. </p>

  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp7032_1.jpg" alt="Lawn Bowl lawn with many colorful balls">
  </div>
  <div class="col-md-7">
    <h2> Christmas party </h2>
    <p> Of course we also had a Christmas party in the company. We already went to eat Vietnamese at noon. Then we went to play Bowls. There we spent the afternoon with games, drinking and having fun. In the evening, the company had invited to a really delicious but much too expensive fish restaurant. There was oysters and tunfish steak. It turned out that tunfish steak in Key West was simply unbeatable. In the end we joined the celebration company of HotelsCompined and celebrated until late at night. The next day was not very, well, pleasant. </p>
    <h2> Walk to Bondi </h2>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp7032_1.jpg" alt="Lawn Bowl lawn with many colorful balls">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> The following weekend I wanted to discover a new area in Sydney again and decided to walk towards the sea. I then walked the first beautiful piece through residential areas on foot. On the way to the water there was an Aldi in which I quickly stopped again to buy a little for Christmas. So that I don't have to run on a heavily used main street for many km, I decided to run to a bay and drive the ferry to Watson Bay. This is a few km north of Bondi Beach. From there I always walked south along the coast. The route usually leads across meadows between houses and the cliffs. I got some really nice photos of flora and fauna. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp7543_1.jpg" alt="Lighthouse with a large meadow in front of it">
  </div>
  <div class="col-md-7">
    <h2> Photosessons </h2>
    <p> Where we are on the subject of photos. I think that in December I was also looking for great photo opportunities with my roommate Jan in December. We had a lot of fun because Babei drove trains over our heads, we and a lens cover went swimming, we were thought to be a speed speedster and made Jan completely disappear to one of his feet. Some very nice photos, like this one, were taken. </p>
    <h2> Fireworks </h2>
    <p> With fireworks, as a photo motif, of course I also got myself more than once and of course I also failed more than once. Once I was too close and next time I was too far away. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Fireworks photographed from below" src="{{ site.url }}/assets/img/blog/auszeit/small/igp7132_1.jpg">
  </div>
  <div class="col-md-7">
    <p> Sometimes even too high and sometimes I had the feelings to be right below. I still succeeded in one or the other snapshot. As far as fireworks are frequently concerned, Sydney is unbeatable. On a Saturday in December I got 5 large fireworks in the Sydney City Center. </p>
    <h2> Museums and outputs </h2>
    <p> I saw less of that than I had taken. I was only in the Sydney Tower Eye twice. What is the highest viewing platform in Sydney and once in Sea-Life. I raise the other museums and exhibitions for January. </p>
    <h2> Christmas </h2>
    <p> True. Christmas was also in December. I was eating with some roommates in a German restaurant. I reported about that last time. </p>
    <p> Of course, New Year's Eve also comes after Christmas. Tell telling about it and above all I'll show you more next time! <br>
      <br>
    </p><h2> 2013 what's coming now </h2>
    <p> There is a lot in 2013 again. Above all, I have finally seen something from Australia and not just staying in Sydney. </p>

  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Fireworks photographed from below" src="{{ site.url }}/assets/img/blog/auszeit/small/igp7132_1.jpg">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> I want to get a minibus for the days and as soon as Steffi is here, the tour towards Adelaide starts. Furthermore, there is a lot more to see from Australia for 2013 and also work a little so that the rice base is not completely empty. In the European summer it is planned to start my journey home to Europe. </p>
    <p> So that's it on December in Sydney. As already promised, there will be more to learn about my New Year's Eve next time and what I have experienced there. </p>
    <p> Greetings and again <br> A happy new year to everyone </p>  </div>
</div>
