---
layout: blog/en/travelblog
title: "02.03. Mini kite in Alice Springs"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Adelaide
  - Alice Springs

author: Steffi

overview:
  intro: "Today it went out of the feathers early again ... but not to create the next section of the route, but to get the plane into the red center in time. Fortunately, I was doing well again and so, after we finished everything in the car and finished, we could make our way to the airport."
  image:
    url: /assets/img/blog/auszeit/small/20130720-000230.jpg
alt: "Bye Adelaide! Alice Springs we are coming!"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130720-000230.jpg" alt="Bye Adelaide! Hello Alice Springs!">
  </div>
  <div class="col-md-8">
    <h3> Steffi </h3>
    <p> Today it went out of the feathers early again ... but not to create the next section of the route, but to get the plane into the red center in time. Fortunately, I was doing well again and so, after we finished everything in the car and finished, we could make our way to the airport. </p>
    <p> Since we were a little early, we inserted a stopover in the supermarket on the way and first got rolls for breakfast, which were then destroyed on the way to the airport. </p>
    <p> Once at the airport, it was time to go to the long -term parking space and find a suitable parking space ... for a van, without power steering and with so much space that you can get down from the parking lot somehow later (from reasonable parking, people here are not being parked here ... where a place is free). After a short time we found a place, unloaded the suitcase and the back bags and closed the car. </p>
    <p> Not only that people cannot all park, no of reasonable planning they don't think anything. In order to get down from the parking lot you have to run around the pudding and with a suitcase through the barrier system of the entrance/exit ... Footpaths are far from, free areas bricked up senselessly with canteen, signage ... Where does the shuttle go to the terminal etc. ... </p>
    <p> Found the stop for the shuttle, we were already sitting on the bus and shortly afterwards were stopped at our terminal. With the service of Qantas, which is none at all, because switches are searched here in vain, we then checked in at the machine. Our suitcase then had to weigh ourselves, although we had to find out that it is more difficult for the 3 days for two than for my 4 weeks on site. Where did all that come from ??? Case lodged, placed on the transport tape, scanned and sent. </p>
    <p> Welcome to Qantas at Adelaide Airport. Service zero !!! </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/anflug-alice-springs.jpg" alt="Land approach Alice Springs">
  </div>
  <div class="col-md-7">
    <p> Through the security check, we first looked at the terminal and for me at the SI check for the international flights, we inquire how the drinks etc. are there. After all, I should go home from there in a few days. Then we sat down at our gate and the time ran very slowly. </p>
    <p> In my assessment and also hope that it would be a small machine (after all we fly into nowhere), it was destroyed in the front ... it would be a normal machine that takes us to the red center and also fully utilized ... well, the main thing is, the rest is no matter! </p>
    <p> Finally entered, Basti left me the window and he sat in the middle. After a gentleman sat on the course in the course, I offered him the window seat ... with my size, I better fit in the middle, but he rejected! </p>
    <p> The flight went calmly, snacks and drinks were served and soon you could discover the red world from above, including Many dried lakes and rivers as well as a few house. After a little over 2 hours we ended up in Alice Springs. Since we were sitting in the penultimate series, we took time to pack together ... After all, there are a row in front of us. But think that suddenly the door was opened by the plane and we were the first to get out. On foot we went a bit over the airport to the terminal, where we then headed for the car rental. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/anflug-alice-springs.jpg" alt="Land approach Alice Springs">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130720-000408.jpg" alt="Ey what are you looking ... I live here!">
  </div>
  <div class="col-md-7">
    <p> According to various paperwork, we then headed the car on ... opened doors, stowed suitcases and the like and never started the air conditioning so quickly. You can't say it otherwise, but the climate there is different !!! </p>
    <p> After Basti familiarized himself with the car, we went towards Yha-Hostel, which we reached after almost 20 minutes. There it was a lot of patience. At some point we were able to get our family room and shortly afterwards we will be rid of food for 2 days. </p>
    <p> This was a greater challenge than before. Nothing should be cool, after all we didn't have this option, but it shouldn't be dust drying either, it should still taste and not just consist of sweets and cookies. Then the drinking problem! How hot it gets in the "desert", how long do we really need, what - if something happens on the way, etc. etc. We finally found something to eat and decided on a 10l cardboard water with a bottling system. So and now to the cash register. </p>
    <p> When we delivered shopping in the hostel, we made our way to the reptile center on foot. After we solved the entry there and even got a discount through the YHA card, we first went to the lizards into the "dark chamber". </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Fingers away, that\'s our branches ..." src="{{ site.url }}/assets/img/blog/auszeit/small/bartagamen.jpg">
  </div>
  <div class="col-md-7">
    <p> After a short look, we went up to the next room, as a lecture should be given there shortly afterwards. Since the whole thing was not particularly interested in me and I don't really understand anything about it (language technology), Basti should actually take part in it alone, while I would have looked around there. However, I quickly changed my opinion when it turned out that one or the other animal would be involved in the lecture. </p>
    <p> The young employee spoke so clearly, without nasty dialect etc. that I understood more than initially thought. There was some interesting and funny things to hear and then the first animal was unpacked. This was a bearded dragon. We were then allowed to take these in our hands and to my astonishment, it was much softer than she looks. </p>
    <p> Shortly thereafter, a blue tongue Kink was brought out of one of the boxes and it was told that they protect themselves against robbers by doing it as they do a snake. Legs dressed, a little grazed with the tongue and attacked the attacker! In the best case !!! </p>
    <p> Basti has resolved the animal to take the animal in his hand and so it was passed on to me. And I have to say that the blue tongue Kink really has something from a snake ... he looks just as bad, it is cold and above all it feels strange! </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Fingers away, that\'s our branches ..." src="{{ site.url }}/assets/img/blog/auszeit/small/bartagamen.jpg">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="the camera friendly, bizarre thirtation" src="{{ site.url }}/assets/img/blog/auszeit/small/teuflische-angelegenheit.jpg">
  </div>
  <div class="col-md-9">
    <p> Then the employee reported that she once worked as a tourist leader at Uluru etc. With the group with whom she was on foot there, she discussed beforehand that if a stroke was supposed to cross her way, she shouldn't move. And how should it be otherwise, a hit crossed her way! But instead of standing very quietly, while the snake meandled the leader of the guide, everyone stormed forward to get the best photo. </p>
    <p> Yeah, dear tourists - the main thing is to get pictures instead of getting out of the number in a salvation !!! <br> Then she explained what to do if you should catch the snake, how to behave if you cross her way etc. and then the next box was opened and an olivphyton was unpacked. Next to me I only heard something like a "Ihgitt Oh God, I don't take it" and so it was. Basti did not touch the animal ... Before! </p>
    <p> After the "lecture" was over, one or the other still distributed herself around the employee with the snake on her arm, while Basti was still on the chair. I don't know how it got at once, but she went to Basti and he had the snake around his neck in no time and didn't look happy from the laundry, while everyone else curled up with laughter. But then he was also quickly redeemed ... but of course not without taking the right photo. And it is known to be known: the man survived *g * </p>
    <p> We then continue in the 2nd section of the reptile center and were able to Watch more blue tongues, varane and a thorn at. The latter looks really very suspect! </p>
    <p> When we looked at everything and left the center, we started looking for something edible. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Too much liquid food?!?!" src="{{ site.url }}/assets/img/blog/auszeit/small/hicks.jpg">
  </div>
  <div class="col-md-7">
    <p> This was more difficult than expected, either everything was closed or incredibly expensive. In the end we ended up with a pizza and something like kebab with fries. Not very native, but the shops were open and the whole thing was affordable! </p>
    <p> After dinner we returned to the supermarket or in its adjacent beverage shop and everyone has chosen something delicious there. We wanted to enjoy this on a cozy evening by the pool. Unfortunately, our plans were destroyed by the fact that there was a sign on the pool, which prohibited the bringing of glasses / bottles and to which the pool was also closed at sunset. We moved to the room for better or bad and spent the evening there. </p>
    <p> The evening or the night turned out to be very chaotic for me. The room had air conditioning, but it could not be controlled or switched on/off. This blew exactly on the face. At some point this no longer disturbed, but then the heat. It then went so far that I grabbed my things again to visit the cold shower. It didn't bring too much, but at some point it went with sleeping too. </p>
    <p> At this point again a thick sorry on the men in the room for rolling around, rumbling and Co.! </p>
    <p> Good night </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Too much liquid food?!?!" src="{{ site.url }}/assets/img/blog/auszeit/small/hicks.jpg">
  </div>
</div>
