---
layout: blog/en/travelblog
title: "13.03. Adelaide to Sydney"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Adelaide
  - Glenrowan
  - Goulburn
  - Grampians
  - Illawarra
  - Keith
  - Melbourne
  - Sydney

overview:
  intro: "In the last 6 days I have driven almost 2000km to get back to Sydney. During this time I didn\'t experience too much, so I would like to summarize the return trip to an entry."
  image:
    url: /assets/img/blog/auszeit/small/igp8180.jpg
alt: "Whenever you throw in a dollar at the top to start the grill, it favors out again."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8180.jpg" alt="Whenever you throw in a dollar at the top to start the grill, it falls out again.">
  </div>
  <div class="col-md-7">
    <p> In the last 6 days I have driven almost 2000km to get back to Sydney. During this time I didn't experience too much, so I would like to summarize the return trip to an entry. </p>
    <h3> 08.03. Rest area in Keith </h3>
    <p> Today I didn't want to go too far. Just back to Keith, because I wanted to go to a shopping center beforehand to stock up on the return trip with food. So quickly packed everything in the morning and off to shopping. </p>
    <p> Unfortunately, I found that Steffi accidentally took the cable with which I can connect my iPad to the car radio. Since I wanted to hear a lot of audio books on the way back, I also had to get such a cable. After getting a new closure for my chain, because it was lost the day before, I slowly made my way back. </p>
    <p> Arrived in Keith, I stumbled across a rest area in the middle of the city. This was equipped with several BBQ surfaces and a large playground. Since nobody ran around here and there wasn't much traffic, I just decided to stay here. I quickly got fresh sausages for the grill in the next consumption and enjoyed the ending evening. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8193.jpg" alt="A waterfall from several hundred meters away">
  </div>
  <div class="col-md-7">
    <h3> 09.03. Mackenzie Falls </h3>
    <p> Before I started this morning, I quickly went looking for a treasure. But unfortunately I wasn't lucky with it again. </p>
    <p> My tour took me to the Grampians today. The Grampians is a mountain range between Adelaide and Melbourne. Some well -known friends said I have to drive past there. So on the menu I looked for the MC Kanzie Fall and drove there. </p>
    <p> On site I treated myself to a short hike on the well -tender hiking trails before I sat next to my car to write and read blog. With the onset of dusk, huge kangaroos came out and ran over the parking lot for feed. Since they were about to have my size, I decided to slowly pull back in the car and lie down. </p>
    <h3> 10.03. Melbourne </h3>
    <p> This morning I drove through the Grampians to the Gold Museum Balarat. I actually wanted to take a look at this, but the price was so high. After there was not even a discount on my youth hostel card, I just decided to continue driving to Melbourne. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8193.jpg" alt="A waterfall from several hundred meters away">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> Once there, I also had to find that the campsite had become a good deal more expensive. It was a festival weekend - so it was extra expensive. Well, it's only for one night. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8276.jpg" alt="I on a campsite with a postcard">
  </div>
  <div class="col-md-7">
    <h3> 11.03. Glenrowan Melbourne Aquarium </h3>
    <p> This morning I drove through Melbourne with free means of transport. First I was in the Melbourne aquarium, which was ok. I particularly liked the underwater passages. </p>
    <p> After the aquarium I was still in a shopping center. Buy a few birthday cards again and then I went to Glenrowan, where I stood near the highway on a campsite that even has a small pool again. </p>
    <p> So I enjoyed the evening in the pool and took a photo for nuts for his birthday and then called it before I lay on my side. </p>
    <h3> 12.03. Goulburn and the giant sheep </h3>
    <p> This morning I was woken up by nature again. The birds around me make a lot of rabatz in the morning. Well, I wanted to get rid of km early anyway. I hadn't set any goal for the day. Just drive and let's see how far I get. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> At the end of the day I drove a total of 450km to Goulburn. This is the village in which I was already with Steffi to insert a short stop at the Golden M, where the oversized sheep is on the highway. It is unimaginable 2 floors. Tonight I quickly stayed at the campsite right next to the sheep and then go to nature again comfortably tomorrow before I get back to Sydney. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8310.jpg" alt="Nice view from a mountain to wide levels to the open sea">
  </div>
  <div class="col-md-7">
    <h3> 13.03. Back in Sydney </h3>
    <p> Before I got back to Sydney today, I drove to the Illawarra Fly Treetop. Fly Treetop Parks are available in Australia. A few days ago I was in one on the Great Ocean Road with Steffi. Unfortunately, this was not very nice. However, this one should turn out to be an insider tip. The view from the tower is bare madness. You can look over the plane to the open sea and enjoy the view, because there is really not much going on here. I just met 6 people on my tour of several hours. </p>
    <p> After another round unsuccessful Geocachens, I slowly made my way back to the city. Somehow I had less and less desire to go to the city, the closer I got my destination. At some point I arrived at the office and decided to sleep in the car here too and not move into the expensive hostel. </p>
    <p> After I kept in mind with my boss, I decided to start again tomorrow. So from tomorrow no more photos of the day until my trip continues. </p>
    <p> See you soon. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8310.jpg" alt="Nice view from a mountain to wide levels to the open sea">
  </div>
</div>
