---
layout: blog/en/travelblog
title: "Hard Rocks and Santosa"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Singapore
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170603-banner.jpg
    alt: "The globe of Universal Studios Sentosa with a blue sky in the background"

overview:
  intro: "Since we couldn't think of anything better at the moment, we spontaneously decided this morning"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170603-11.jpg
    alt: "A fountain on Sentosa with the red Monorail in the background"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6 overflow-h visible-sm visible-xs margin-bottom-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }} to first visit the local Hard Rock Cafe to see if there might be something nice for me or Steffi.
            Not the smartest idea since our backpacks are already overflowing.
            If necessary, we'll just stuff everything else into our carry-on or loosely into the backpacks' transport bags. </p>
		<p> We chose the subway today. On the way to the station, people were sitting on the street several times with small stalls made of cardboard boxes.
            As we passed by, we noticed that they were selling unpackaged medication.
            On second glance, we even recognized a diamond-shaped medication by its typical blue color.
            Viagra. Ah yes. So you can buy medication here that requires a prescription in Germany. </p>
        <p> Taking the subway is extremely easy here in Singapore and also quite cheap.
            Even a trip from the airport to the city only costs 2.30 SGD (about 1.50 euros).
            You can simply get a single ticket from the machine and then recharge and reuse it up to 5 times at the machine.
            So we did a small favor to the environment and even saved a bit of money. </p>
        <p> Unfortunately, the Hard Rock Cafe in the city center wasn't much to look at from the outside. </p>
    </div>
    <div class="col-md-6 overflow-h hidden-sm hidden-xs">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> So we only looked around in the shop, which didn't offer much. As we would later find out, it had recently been renovated and might have been worth another look at the dining room.
            Since we still didn't have a specific plan for the day, we decided to go to the Hard Rock Hotel on the small island of Sentosa.
            Maybe that would be better, and besides some other interesting-sounding attractions, there's also a beach there. So off we went. </p>
        <p> You can get to Sentosa in 4 ways: by bus, ship, monorail, or cable car.
            We chose the monorail because it took us directly to the beach. On the way there, we learned that Sentosa is basically the attraction island.
            There's not just a beach and a Hard Rock Hotel, but also a Universal Studios theme park, an aquarium, and even indoor skydiving is possible there. </p>
        <p> We didn't stay long at the beach because it was quite small and it was just too hot to fry in the sun.
            So after a cold drink, we continued through the heat to the Hard Rock Hotel.
            The hotel was really nice and the service was much friendlier.
            There we even found some nice shirts for ourselves. </p>
    </div>
</div><div class="row">
    <div class="col-md-6 overflow-h margin-top-20 margin-bottom-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2017-asia-oz/small/20170603-10.jpg" alt="The main tree of the Gardens by the Bay at night">
        </div>
    </div>

    <div class="col-md-6">
        <p> Next, we wanted to try some other attraction on the island.
            Unfortunately, the aquarium was too crowded for us, and it was too late for Universal Studios.
            We then decided to slowly make our way to the Gardens by the Bay. </p>
        <p> It's a kind of modern botanical garden, in the center of which there are several tall artificial trees that are slowly being overgrown by foliage.
            There's a light and music show every evening. Star Wars is currently on the program.
            We had already seen this yesterday from the viewing platform of the Marina Bay Sands Hotel. </p>
        <p> When we arrived there, as expected, a large crowd of people was moving toward the artificial trees.
            We simply followed the masses, and with every meter, there were more people.
            After the show seemed to be delayed and then didn't even start with Star Wars music, it clicked with us.
            Something special must be happening here today.
            We pushed our way through the crowds to get a better view and got the information that it was a birthday celebration for the gardens.
            Despite being only 50 meters away from the trees, we could barely see anything of the show. </p>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> We then decided to move a bit away from the exit direction so that after the show ended, we wouldn't be caught in the rush of everyone leaving.
            We wanted to stay there for the second show in the evening.
            We even got a very good spot right in front of the largest of the trees.
            Unfortunately, no actors or singers performed at the second show, and there was only the music and a few nice animations on the trees. </p>
        <p> Then we made our way back to the hotel.
            On the way, we wanted to quickly look for good seats for our flight tomorrow and load our plane tickets onto our phones.
            Unfortunately, there was suddenly a big red warning telling us that something didn't match in our entered data and that none of the service team could help us.
            We only got a link to a website explaining the visa regulations of all countries.
            But I don't need a visa for home.
            After several more attempts to figure out what went wrong online, we just decided to drive directly to the airport tomorrow morning to use the early check-in and clarify the problem.
            Then we want to go back to the city to see and experience the rest of the time until we fly to London and then home late in the evening.
            Hopefully, everything will work out tomorrow. </p>
    </div>
</div><!--=== End Post ===-->
