---
layout: blog/en/travelblog
title: "Colorful garden"
active_nav: travel-blog
Author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Singapore
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170604-banner.jpg
alt: "Orchids in the Botanical Garden Singapore"

overview:
  intro: "This morning it was time to get up with an alarm clock, pack it, check out and take a taxi to the airport."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170604-12.jpg
alt: "A colorful building in Little India, Singapore"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6 overflow-h visible-sm visible-xs margin-bottom-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-6">
		<p> ___Twig_token_4___
            At the info we only asked about the early check-in and then about shower facilities.
            Because when we put our foot in front of the door again, we are immediately sweaty at the temperatures and since we only fly in the evening ...
            Fortunately, the lady said that there is the opportunity to shower in Terminal 3 for $ 17 and so we made our way to check-in.
            We found the early check-in area quickly, but since our flight should only be ready for check-in from 10.35h, we first looked for something for breakfast.
            Back at the switch, it was time to pull the number, sit down for 5 seconds and then we were called. Meaningless !!! </p>
		<p> As reported yesterday, there were problems with online check-in.
            We explained this to the gentleman at the counter, he looked at our ID cards, said we should wait here and gone he was ... together with papers !!!
            And then the head cinema started ...
            Foreign land, just one exit behind us, that has our documents ... In all films, the police would come shortly afterwards and take one with them!
            He came and came back and we considered what could be going on.
            After an eternity, he finally came back and showed Basti his passport and a boarding pass.
            And then the mistake showed ... Sebastian Herr.
            Somehow in the travel time as a second name "Lord" sneaked in and that blew up the system at British Airways. </p>
    </div>
    <div class="col-md-6 overflow-h hidden-sm hidden-xs">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Basti explained to him that this was the German word for "Mister", he looked a few more weird, asked if that was the first flight etc. - what we said no.
            Then we got the boarding passes "everything well" and we could go.
            And all because of such a stupid word ... aged for 5 years with the stress! </p>
        <p> After that was done, we brought our hand luggage cases to store, which was even relatively cheap for the whole day.
            Then it went towards the train, which should bring us to "Little India".
            Before that, however, we landed in a shoe shop, where I unfortunately found what I was looking for.
            We let our shoes put back and drove off.
            When we arrived in Little India, we strolled a little, boiled again in the sun and then we decided to continue to the "Orchid Garden".
            To get there we had to walk through the blazing sun for half an hour and still lift cash in a small shop.
            Because it was not possible to pay with a card if the amount is less than $ 10.
            So the lady sent us to the kiosk, we got something to drink and luckily we were able to pick up money at the same time. </p>
    </div>
</div><div class="row">
    <div class="col-md-6 overflow-h margin-top-20 margin-bottom-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2017-asia-oz/small/20170604-10.jpg" alt="A varan in the Botanical Garden Singapore">
        </div>
    </div>

    <div class="col-md-6">
        <p> Then we finally enjoyed the colors of flowers and the variety of different types.
            In the local shop we would have liked to bought some and took them to Germany, but, as the Internet revealed to us, there are too much Tamtam because of the quarantine and species protection.
            The seedlings were specially packed in such small glasses, etc., so actually perfect for transport.
            Around early afternoon we slowly made our way back to the train.
            On the way there we met a rather large varan, which was looking for what edible and found it in the leaves.
            Arrived at the airport, we first got our shoes and then got me something to eat in the food court.
            After we got the hand luggage, we continued to Terminal 3 and the lounge with the showers.
            Arrived on the lounge, paid $ 17 per nose and we were immediately able to take the showers.
            Just a few minutes later and we would have had to wait, because the snake behind us was very long.
            A lady each assigned us a room with a shower and so we enjoyed the cold and, above all, refreshing water.
            Everything was really clean, towels, shampoo and co was put and the rooms were really very big.
            While I then dried up my hair before the shower rooms, Basti in the meantime got hunger for pizza and so we then looked for a bar which pizza had on offer and also comfortable seating.
            There we spent the rest of the time until it was called "Boarding" and "Bye Singapore". </p>
    </div>
</div><!--=== End Post ===-->
