---
layout: blog/en/travelblog
title: "off into the air"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Bloomsbury
  - Airlie Beach
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170511-banner.jpg
alt: "The entrance to Airlie Beach Airport"

overview:
  intro: "It was damn a fresh night ..."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170511-14.jpg
alt: "The Great Barrier Reef from above"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6 overflow-h visible-sm visible-xs margin-bottom-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-6">
		<p> ___Twig_token_4___ But both too lazy or too tired to close the windows.
			Just 14 degrees, the car fogged completely, we were drawn to the street early to create the last 70 km to Airlie Beach.
			Arrived there shortly after 9 a.m., we immediately went to the first information center for excursions.
			Unfortunately, Basti was also taken hope for diving because the view was too bad ... We talk here from less than 7-10 meters ... &Auml;&auml;&auml;&auml;h what?!? </p>
		<p> She continued to tell that everything was completely in rubble and ash until recently.
			The reason for this was Zyklone Debbie about which we previously reported.
			The eye of the cyclone walked across the islands right off the coast.
			Happiness came from everywhere help and even the government sent gardeners, craftsmen and even the military for reconstruction.
			With various information we went to the next infobude to Simon, from which we heard 4 words from, looked at ourselves and were briefly started at $ 200 (approx. 135 euros) instead of $ 350 per person.
			The first word was "Bargain" which means as much as bargain.
			The other 3 words were "Fly Over Heart" what as much as "flight over the reef with a view of Heart Reef".
			At 3 p.m. the plane should go with us via the Great Barrier Reef and Heart-Reef !!! </p>
    </div>
    <div class="col-md-6 overflow-h hidden-sm hidden-xs">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
		<p> Now we went shopping ... travel tablets and food for lunch.
			Arrived at the campsite, checked in, eaten little things and we started again towards the airport.
			Checked in at Terminal 1, waiting half the hour and then Lee, our pilot. This showed us the route on the large wall map, letted us and then we went into the tin, also called aeruzenplane.
			With 6 other guests it went into the air. </p>
    </div>
</div><div class="row">
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2017-asia-oz/small/20170511-15.jpg" alt="The Great Reef">
        </div>
    </div>
    <div class="col-md-6">
		<p> The first thing you could see was that the "Debbie" cycle. 
			Along the start route, there were boats or honest wrecks in mango, on the street and in the silt.
			It went over various small islands until it was finally called "the heart comes in front".
			He made 4 rounds until everyone really had his photo and then we headed the Whithaven Beach.
			I have to say that from above it didn't look so white.
			Or it is long about my well -being, because the tight curves that Lee flew before were not getting me at all.
			Or "Debbie" also had her fingers in the game here?!? </p>
		<p> I tried to get my head back into harmony with my stomach while we put on the "Touch and Go" ... put on the water, slide over it and back up.
			I found this so brilliant that I was fine again at short notice! After almost 1 hour we were back at the terminal and there was still the mandatory "could we take another photo?".
			Of course there was this velvet pilot and plane and then there was a nice cold sugar dose in colaform and chair in the shade for me.
			Back in the city center we went to Simon from the info office again to book a tour by boat for tomorrow.
			Since we came back, there was even a little discount! 
			Later we called a dear friend who had his birthday and then we went back to the campsite for washing and packing things.
			Layer in the shaft !!! </p>
    </div>
</div><!--=== End Post ===-->
