---
layout: blog/en/travelblog
title: "Colorful Garden"
active_nav: travel-blog
Author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Singapore
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170604-banner.jpg
    alt: "Orchids in the Botanical Garden Singapore"

overview:
  intro: "This morning we had to get up with an alarm clock, pack up, check out, and take a taxi to the airport."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170604-12.jpg
    alt: "A colorful building in Little India, Singapore"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6 overflow-h visible-sm visible-xs margin-bottom-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }}
            At the information desk, we first asked about early check-in and then about shower facilities.
            Because as soon as we step outside, we immediately start sweating in these temperatures, and since we're only flying in the evening...
            Fortunately, the lady said there's a shower facility in Terminal 3 for $17, so we made our way to check-in.
            We quickly found the early check-in area, but since our flight wasn't ready for check-in until 10:35, we first looked for something to eat for breakfast.
            Back at the counter, we had to take a number, sit for 5 seconds, and then we were called. Pointless!!! </p>
		<p> As reported yesterday, there were problems with online check-in.
            We explained this to the gentleman at the counter, he looked at our ID cards, said we should wait here, and he was gone... along with our papers!!!
            And then the mind games started...
            Foreign country, just one exit behind us, and he has our documents... In all movies, the police would show up shortly after and take someone away!
            He kept not coming back, and we wondered what could be going on.
            After what felt like an eternity, he finally returned and showed Basti his passport and a boarding pass.
            And then the error became clear... Sebastian Herr.
            Somehow during the travel time, "Herr" had sneaked in as a second name, and that was causing problems with British Airways' system. </p>
    </div>
    <div class="col-md-6 overflow-h hidden-sm hidden-xs">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Basti explained to him that this was the German word for "Mister," he looked at us strangely a few more times, asked if this was our first flight, etc. - which we denied.
            Then we got our boarding passes with an "all good" and we could go.
            And all because of such a stupid word... we aged 5 years from the stress! </p>
        <p> After that was done, we brought our carry-on luggage to storage, which was relatively cheap for the whole day.
            Then we headed to the train that would take us to "Little India."
            Before that, however, we ended up in a shoe store where I unfortunately found what I was looking for.
            We had them hold the shoes and continued on our way.
            When we arrived in Little India, we strolled around a bit, boiled in the sun again, and then decided to continue to the "Orchid Garden."
            To get there, we had to walk through the blazing sun for half an hour and withdraw cash at a small shop.
            Because it wasn't possible to pay with a card if the amount was less than $10.
            So the lady sent us to the kiosk across the street, we got something to drink, and luckily we were able to withdraw money at the same time. </p>
    </div>
</div><div class="row">
    <div class="col-md-6 overflow-h margin-top-20 margin-bottom-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2017-asia-oz/small/20170604-10.jpg" alt="A monitor lizard in the Botanical Garden Singapore">
        </div>
    </div>

    <div class="col-md-6">
        <p> Then we finally enjoyed the colorful flowers and the variety of different species.
            In the local shop, we would have liked to buy some and take them to Germany, but as the internet revealed to us, there's too much hassle with quarantine and species protection.
            The seedlings were specially packed in small glass containers, etc., so they would have been perfect for transport.
            Around early afternoon, we slowly made our way back to the train.
            On the way, we encountered a rather large monitor lizard that was searching for something edible in the leaves and found it.
            Back at the airport, we first picked up our shoes and then got me something to eat in the food court.
            After we retrieved our carry-on luggage, we continued to Terminal 3 and the lounge with the showers.
            Arriving at the lounge, we paid $17 per person and were immediately able to use the showers.
            Just a few minutes later and we would have had to wait, as the line behind us grew very long.
            A lady assigned each of us a room with a shower, and so we enjoyed the cold and refreshing water.
            Everything was really clean, towels, shampoo, etc. were provided, and the rooms were really quite large.
            While I was drying my hair in front of the shower rooms, Basti got hungry for pizza, so we looked for a bar that had pizza on offer and comfortable seating.
            There we spent the rest of the time until it was called "Boarding" and "Goodbye Singapore." </p>
    </div>
</div><!--=== End Post ===-->
