---
layout: blog/en/travelblog
title: "Up in the Air"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Bloomsbury
  - Airlie Beach
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170511-banner.jpg
    alt: "The entrance to Airlie Beach Airport"

overview:
  intro: "It was a damn cold night..."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170511-14.jpg
    alt: "The Great Barrier Reef from above"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6 overflow-h visible-sm visible-xs margin-bottom-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }} But we were both too lazy or too tired to close the windows.
			Just 14 degrees, the car completely fogged up, we hit the road early to cover the last 70 km to Airlie Beach.
			Arriving there shortly after 9 a.m., we immediately went to the first information center for excursions.
			Unfortunately, Basti's hopes for diving were dashed because the visibility was too poor... we're talking less than 7-10 meters... what?!? </p>
		<p> She went on to tell us that until recently everything was completely in ruins and ashes.
			The reason for this was Cyclone Debbie, which we reported on earlier.
			The eye of the cyclone passed right over the islands off the coast.
			Fortunately, help came from everywhere and even the government sent gardeners, craftsmen, and even the military for reconstruction.
			With various information in hand, we went to the next info booth to Simon, where we heard just 4 words, looked at each other, and quickly got a deal for $200 (about 135 euros) instead of $350 per person.
			The first word was "Bargain" which means just that - a bargain.
			The other 3 words were "Fly Over Heart" which means "flight over the reef with a view of Heart Reef".
			At 3 p.m., the plane was supposed to take us over the Great Barrier Reef and Heart Reef!!! </p>
    </div>
    <div class="col-md-6 overflow-h hidden-sm hidden-xs">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
		<p> Now we went shopping... travel tablets and food for lunch.
			Arriving at the campsite, checked in, ate a little something, and we were off again towards the airport.
			Checked in at Terminal 1, waited half an hour, and then came Lee, our pilot. He showed us the route on the large wall map, briefed us, and then we went into the tin can, also known as a seaplane.
			With 6 other guests, we took to the air. </p>
    </div>
</div><div class="row">
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2017-asia-oz/small/20170511-15.jpg" alt="The Heart Reef">
        </div>
    </div>
    <div class="col-md-6">
		<p> The first thing you could see was the aftermath of Cyclone "Debbie". 
			Along the takeoff route, there were boats or rather wrecks in mangroves, on the road, and in the silt.
			We flew over various small islands until finally it was announced "the heart is coming up ahead".
			He made 4 rounds until everyone really had their photo, and then we headed for Whitehaven Beach.
			I have to say that from above it didn't look so white.
			Or maybe it was just my well-being, because the tight curves that Lee flew earlier didn't agree with me at all.
			Or maybe "Debbie" had her fingers in this too?!? </p>
		<p> I tried to get my head back in harmony with my stomach while we did the "Touch and Go"... touching down on the water, skimming across it, and back up.
			I found this so brilliant that I felt fine again in no time! After almost 1 hour, we were back at the terminal, and there was still the mandatory "could we take another photo?".
			Of course, there was this one with the pilot and plane, and then there was a nice cold sugar dose in cola form and a chair in the shade for me.
			Back in the city center, we went to Simon from the info office again to book a boat tour for tomorrow.
			Since we came back, there was even a small discount! 
			Later we called a dear friend who had his birthday, and then we went back to the campsite for washing and packing things.
			That's a wrap!!! </p>
    </div>
</div><!--=== End Post ===-->
