---
layout: blog/en/travelblog
title: "Hard Rocks and Santosa"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Singapore
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170603-banner.jpg
    alt: "The globe of Universal Studios Sentosa with a blue sky in the background"

overview:
  intro: "Since we couldn\'t think of anything better at the same time, we decided spontaneously this morning"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170603-11.jpg
    alt: "A fountain on Santosa with the red Monrail in the background"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6 overflow-h visible-sm visible-xs margin-bottom-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }} first to go to the local hard rock cafe to see if there may be something chic for me or Steffi.
            Full of the intelligent idea because our backpacks are already overvolved.
            If necessary, we simply plug everything else into the hand luggage or loosely into the transport bags of the backpacks. </p>
		<p> We chose the subway today. On the way to railway, people were sitting several times on the street with small stalls made of cardboard boxes.
            As we passed, we found that the goods offered are unpacked medication.
            During the second look, we even recognized a diamond -shaped medication from the typical blue color.
            Viagra. Ah yes. So you can buy medication here that are subject to prescription in Germany. </p>
        <p> Riding the subway is extremely easy here in Singapore and also cheap.
            Even a trip from the airport to the city costs only 2.30 SGD (approx. 1.50 euros).
            You can simply get a single ticket at the machine and can then charge and reuse it for 5 times at the machine.
            So we did the little favor to the environment and even saved a little. </p>
        <p> Unfortunately, the Hard Rock Cafe in the city center was not the hit from the outside. </p>
    </div>
    <div class="col-md-6 overflow-h hidden-sm hidden-xs">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> So we only looked around in the shop, which didn't gave much. As we should find out later, it was recently renovated and might have been worth another look at the dining room.
            Since we still had no explicit plan for the day, we decided to go to the Hard Rock Hotel on the small island of Santosa.
            Maybe that's better and besides some other interesting -sounding attractions, there is also a beach there. So said. </p>
        <p> You come to Santosa in 4 species. By bus, ship, the monorail or cable car.
            We chose the Monorail because it brought us directly to the beach. On the way there we learned that Santosa is almost the attraction island.
            There is not only beach and a hard rock hotel, but also a universal studios adventure park, an aquarium and even indoor skydiving is possible there. </p>
        <p> There were not long on the beach, because it was quite small and it was just too warm to fry in the sun.
            So after a cold drink we continued through the heat to the Hard Rock Hotel.
            The hotel was really nice and the service was much friendlier.
            There we even found some nice shirts for ourselves. </p>
    </div>
</div><div class="row">
    <div class="col-md-6 overflow-h margin-top-20 margin-bottom-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2017-asia-oz/small/20170603-10.jpg" alt="The main tree of the Garden by the Bay at night">
        </div>
    </div>

    <div class="col-md-6">
        <p> Next we wanted to try some more attraction on the island.
            Unfortunately, the aquarium was too full for us and unfortunately it was too late for Universal Studios.
            We then decided that we slowly make our way to the garden by the Bay. </p>
        <p> It is a kind of modern botanical garden, in the center of which there are several high artificial trees that are slowly overgrown by foliage.
            There is a light and music show every evening. Star Wars is currently on the program.
            We had already seen this yesterday from the viewing platform of the Marina Bay Sands Hotel. </p>
        <p> When we arrived there, as expected, we moved a large number of people towards the artificial trees.
            We simply followed the mass and with every meter there were more people.
            After the show was apparently delayed and then didn't even start music with Star Wars, it clicked with us.
            There is something special here today.
            We urged ourselves through the crowds to see better and got the information that was a birthday party for the gardens.
            Despite that we were only 50 m away from the trees, we could see almost nothing of the show. </p>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> We then decided to go a little out of the escape direction so that after the end of the show, not all of us ride out on the way here.
            We wanted to stay there for the second show in the evening.
            We even got a very good place right in front of the largest of the trees.
            Unfortunately, no actors or singers performed at the second show and there was only the music and a few nice animations on the trees. </p>
        <p> Then we made our way back to the hotel.
            On the way we wanted to quickly look for good seats for our tomorrow's flight and load our plane tickets on the cell phones.
            Unfortunately, there was suddenly a fat red warning that told us that something would not fit in our data entered and that none of the service team could help us.
            We only got a link to a website on which the visar gates of all countries were explained.
            But I don't need a visa for at home.
            After several more attempts to find out what went wrong online, we just decided to drive directly to the airport tomorrow morning to use the early check-in and to clarify the problem.
            Then we want to go back to the city to see and experience the rest of the time until we fly to London and then home late in the evening.
                Hopefully everything will work tomorrow. </p>
    </div>
</div><!--=== End Post ===-->
