---
layout: blog/en/travelblog
title: "03/24/18 Apo Island"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Apo Island
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

author: "Steffi"

overview:
  intro: "Today the alarm clock actually rang, as Per from the Dauin Dive Café had organized a diving and snorkeling tour to Apo Island for us."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4794.jpg"
    alt: "Nemo family photographed while diving"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} There are supposed to be many turtles there, which you can even see well as a snorkeler. We were supposed to be at the café at 7:15h, but we were running 5 minutes behind. We were just turning the third corner from the hotel when we heard something bigger coming from the front. So we made room and whoops... the driver from Café Bog Bog came around the corner with a minivan. "Uh, what are you doing here, is it because of us?" His watch made it clear... so much for German punctuality! </p>
        <p> After Basti got his diving gear together at the café and we packed our lunch, we drove several kilometers north where the driver dropped us off at a different dive center. Around us, various Filipinos were bustling about, loading a small motorboat with equipment and bringing it to a larger Banka boat. "Aaaaah, should I really go in there everywhere and especially climb up in these waves???? Maaaaaaaammmmii". After everything was loaded, we followed. So we rolled up our pants, walked through the water and over extremely slippery stones, and somehow managed to crawl into the small motorboat. That was the first challenge done. After a short trip, we arrived at the Banka and I was stupidly the first one who had to go over. So I couldn't even take an example from others. Two Filipinos on top of the Banka and one in our boat gave me instructions and, above all, helping hands, and then it was just a matter of waiting for the wave. This made our motorboat drift so high that we could get across to the other boat quite well. Yay, safe and above all dry!!! </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> The journey went quite calmly (thanks to Travacalm tablets) and it turned out that the girl who came on board with us was also German. We had a lively conversation and maybe even a business contact for Basti came out of it. That will show up in Germany! After almost an hour, we arrived at Apo Island and it was time to get ready for diving. Hmm, but where is my snorkeling guide? This was specially organized for me and was supposed to come to our boat from Apo Island. Suddenly there was one in front of me who had been with us the whole time. The one from the island didn't show up, so someone else stepped in. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4787.jpg" alt="Steffi and Sebastian on Banka Boat for Apo Island">
        </div>
    </div>
    <div class="col-md-6">
        <p> Well, it doesn't matter... the main thing is that I got into the water too! They actually pressed a vest into my hand and also explained to me that I had to hold on to the lifeguard ring that is pulled by the guide. Really now??? No sooner said than done, and unfortunately, this became one of my bad snorkeling experiences, alongside Frankland's Island in Australia. No time to look around, such deep water that was almost impossible to see anyway, and then too much and especially high waves. Then the guide finally stopped and pointed down - Seasnake! Please what, did I hear that right?!?!? I look down, and there is actually a cursed long sea snake exactly below us on the seabed. </p>
        <p> Wait, they are poisonous... I asked the guide... yes very poisonous... cursed - now I was in a hurry. Almost took a picture while starting off, and another animal was checked off my "I've already seen" list! Back at the boat, unfortunately, the next nasty surprise greeted me. Much too big fire jellyfish with eternal tentacles... right at the exit... great!!! I don't know how, but I got out of that situation safely and then took a breather. Then I went back to the guide and clarified about the sea snake. These are very common here and their poison is comparable to that of the Cobra. Supposedly, however, they are not very aggressive... more must happen than just snorkeling or diving past them. </p>
    </div>
    <div class="col-md-12">
        <p> Meanwhile, there was actually a rather large turtle at the surface of the sea, but unfortunately, I was too slow with the camera or the turtle was gone too quickly. Basti then came back from his dive and reported that he saw 2 turtles. It was clear again; everyone sees one, only I don't. At least underwater! We changed the berth, I granted Basti a short breather, and then he had to snorkel. We agreed with the guide that we would snorkel to the beach, and Basti was able to persuade the boys that I could go in the water without the stupid vest. After all, I've been able to swim since I was little! </p>
    </div>
    <div class="col-md-6">
        <p> Since Basti was hanging on the rescue ring, it wasn't even noticeable that I couldn't hold on this time, but could enjoy my freedom. Nevertheless, there was no time to look around here either. Once on the beach, it was pretty nice and I finally got turquoise water and pictures. On the way back, Basti nudged me and just said "sea snake" and I looked down. Unfortunately, the look went wrong because it was right at eye level. In no time I let myself fall back and changed to Basti's other side... stupidly messed up the photo. Uff... what an adrenaline rush! As soon as we had left the snake behind, quite a few jellyfish appeared. From miniature and funny bright ones to much too big ones. From then on, the fun was finally over for me... I just can't deal with jellyfish! At least we got out of the situation safely. Then we were already at the boat and again there was no turtle to see for me. So much for: everyone sees turtles here! </p>
        <p> After the rest of the divers were back, we changed the berth again and the waves also showed that they could get even higher than before. The desire to snorkel had passed anyway, my guide also looked like he was ready for a Filipino lunch break, and so I sunbathed and relaxed at the back of the ship. Unfortunately, this didn't last very long because the waves got higher and higher and there were thick black clouds for Filipino conditions. The "mainland" couldn't even be seen anymore. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4796.jpg" alt="Steffi and Sebastian on the beach of a small side bay by Apo Island">
        </div>
    </div>
    <div class="col-md-12">
        <p> When all the divers were back, we headed back and my snorkeling guide took the dinghy to Apo Island to pay the fees for snorkeling and diving. He had to struggle with the waves and the nutshell, and we were told that we should rather sit down for the return trip. </p>
        <p> We did this too, but somehow I was sitting very unfavorably because the waves were splashing over to me. So the boys put up the tarp, but unfortunately, they didn't secure it with the Velcro. After the next shower, I sat on the other side and that was it. From then on, only Basti's arm got wet because he tried to hold the tarp. Back at the starting point, our driver from the Dive Café was waiting for us. Once there, we first washed our equipment and then ordered something to eat. Unfortunately without having made peace with the mosquitoes! They were so aggressive that even our plate was full of them. We then moved inside with our meals, and the boss kindly distributed mosquito smoke sticks around us. Back at the hotel, we just freshened up, dropped onto the bed, and watched another movie. </p>
    </div>
</div><!--=== End Post ===-->
