---
layout: blog/en/travelblog
title: "04/15/2018 Conclusion Workation"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

overview:
  intro: "Today I would like to take the chance to recap our journey to the Philippines and share the conclusion with you."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4826.jpg"
    alt: "We on the beach of Malatabay"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} </p>
        <p> Like you on <a href="{{ site.url }}/de/reiseblog/2018/02/01/workation-philippinen.html" target="_blank"> Have already read the beginning </a> , this trip was planned as an experiment for me and my employer. It was about seeing how much card making is already set to long -term teleworking. It was interesting for me whether I can concentrate on my job a full 8 hours during a trip and especially in beautiful and interesting places. I was also interested in how my work motivation changes when Steffi gets and she can laze about while I want to concentrate. </p>
        <p> Since I am a team leader of a 14-headed programmer team, take care of 2 trainees and also like to program myself, my expectations were split. I wanted to break through the usual structures and chase myself out of the comfort zone again. </p>
        <p> I definitely succeeded. <br> After only 2 weeks in the Philippines, I had a day when I would have loved to get back to the next plane and would have come home. That was all too much that day. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Internet connection was bad, onward journey was still unclear, where would I be if Steffi ends up, with the blog I was after a few days after my own company would have wanted to have time from me and also work from 3:00 p.m. to 24:00. In addition, a stupid cold that I had brought from Germany did not want to go away. Somehow everything was too much with that at that moment. </p>
        <p> After a long phone call with Steffi and a good hat, I decided the following plan: I stay up to Steffi&rsquo;s arrival in the chic apartment in Dumaguete, put my company on ice and spend more time outside and on the beach. Since now the effort regarding the onset, accommodation search and the pressure <a href="https://www.smest.it" target="_blank"> Smest.it </a> I had enough time for this blog. My travel blog is really important to me. Especially since I know that my aunt read every article in my grandma and both are somehow part of our trips. </p>
        <p> This decision was absolutely right, everything else was just too much on the piece of paper. A few days later I was finally able to go diving again and enjoy my time here. When I finally had Steffi with me and we also traveled from one dream resort to the next, it became much more relaxed. Thanks, Steffi then took me off the writing of the blog articles and so I just had to take care of the online and my work for card making. So everything got much more relaxed. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5037.jpg" alt="A little banka">
        </div>
    </div>
    <div class="col-md-6">
        <p> It even turned out that the time shift of 7 or 6 hours was an unexpected advantage. Since I actually always get up in front of Steffi, I was often able to do up to 2 of my 8 hours of working time before she even put a foot out of bed. I got the hours again when we wanted to go out to eat in the evening, because then there was noon time in Hamburg and it regularly made it possible for me to work out. </p>
        <p> At the end of the experiment, we treated ourselves to 10 days of vacation. We fully used these for ourselves. We visited 5 more places. We enjoyed nature on Bohol, visited the Chocolate Hills as well as the Tarsiere and enjoyed the Loboc river at noon. Panglao was almost exclusively about water. I was diving several times and above all we treated ourselves to a wonderful and unforgettable day trip to Balicasag and Virgin Island, in which we saw turtles, saw real flying fish and enjoyed in the water, pineapple and fried sweet potatoes. In Manila we treated ourselves to one or the other souvenir on the way home and spent the last pesos that we had left. </p>
        <p> In the end it was all a successful journey with small lows, but all the bigger high. Several thousand photos have been taken again, especially from clown fishing. We were in a poor, but also very beautiful country with many friendly and in rural people. The Philippines are always worth a trip and if you do a little research, it will not be too expensive. To say it with Steffi&rsquo;s words: Philippines, always happy! </p>
    </div>

</div><!--=== End Post ===-->
