---
layout: blog/en/travelblog
title: "02/01/2018 Workation Philippines"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Manila
  - Cebu

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "With this post, I would like to start a new series. This is about a new way of traveling. It is an"
  image:
    url: "/assets/img/blog/2018-philippines/small/cartoon-2898206.png"
    alt: "A drawing showing a man working on a laptop while sitting on a deck chair at the beach"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} experiment that I will conduct together with my employer in the Philippines. </p>
        <p> First, I would like to briefly explain the term "workation" to you. Workation comes from English and is a combination of the words "work" and "vacation". It means something like "working in a self-chosen location", without a fixed workplace and often during a longer trip. </p>
        <p> As described above, it is an experiment to show whether the company is digitally advanced enough and whether it really doesn't matter where a well-trained colleague performs their work. Furthermore, we want to offer international colleagues the opportunity to fly to their family in special situations and extend their stay through workation. </p>
        <p> Since I am a globetrotter myself, I decided with my boss to conduct this experiment myself. Personally, it should show me whether I can work remotely, whether it would be something for me, and whether I can concentrate on the tasks despite being in a vacation region. </p>
        <p> Here are some conditions that we have set for the experiment to make it as meaningful as possible: </p>
    </div>
    <div class="col-md-12">
        <ul>
            <li> At least 4 time zones ahead </li>
            <li> A full month should be worked </li>
            <li> Regular working hours should be maintained </li>
            <li> There should be a change of location during this time </li>
            <li> Colleagues and tasks should not be affected </li>
        </ul>
        <p> After some research, I chose the Philippines and the month of March 2018. The Philippines are 7 hours ahead. With the switch to daylight saving time in Germany, it will be only 6 hours. Besides many criteria that Thailand also offered, the Philippines won in the end because of their currency. They use the Philippine Peso there. The abbreviation for this is PHP. Since PHP is also a programming language and I am even the head of the PHP developers department, that was the deciding factor. I know, we're all nerds! </p>
    </div>
    <div class="col-md-6">
        <p> So the final plan currently looks like this: I fly to Manila on February 23, 2018. Since I'm not a fan of mega metropolises, I'll only stay there for 2 days to secure a phone number and mobile internet, and then I'll continue to Cebu, hoping to find water, beach, and diving opportunities. From February 28, 2018, until Easter (end of March), I want to work from various locations. After that, there are 10 days of vacation before heading home. </p>
        <p> You're probably wondering: "And what about Steffi?" No worries. Steffi is already coming on March 17, 2018, and will be on vacation for the last two weeks of my working time before we then explore the over 7,600 islands all day long. I also want to find out how well it works with work when you're doing it alone and how it changes when you're traveling as a couple and only one person is working. </p>
        <p> On April 8, 2018, our flight goes back from Manila to Hamburg. Almost all travel locations and accommodations in between are still unplanned and should be determined based on cell phone reception and internet speed. </p>
        <p> That's all for today. But more soon. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top0">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/apartment-1899964.jpg" alt="Laptop with coffee and view">
        </div>
    </div>
</div><!--=== End Post ===-->
