---
layout: blog/en/travelblog
title: "04/15/2018 Conclusion Workation"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "Today I would like to take the opportunity to recap our journey to the Philippines and share the conclusion with you."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4826.jpg"
    alt: "We on the beach of Malatapay"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} </p>
        <p> As you have already read at the <a href="{{ site.url }}/de/reiseblog/2018/02/01/workation-philippinen.html" target="_blank">beginning</a>, this trip was planned as an experiment for me and my employer. It was about seeing how well the company is set up for long-term teleworking. I was interested in whether I could concentrate on my job for a full 8 hours during a trip, especially in beautiful and interesting places. I was also curious about how my work motivation would change when Steffi joined and could relax while I needed to focus. </p>
        <p> Since I am a team leader of a 14-person programming team, take care of 2 trainees, and also enjoy programming myself, my expectations were mixed. I wanted to break through the usual structures and push myself out of my comfort zone again. </p>
        <p> I definitely succeeded. <br> After only 2 weeks in the Philippines, I had a day when I would have loved to get on the next plane and go home. That day, everything was just too much. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Internet connection was bad, onward journey was still unclear, where would I be when Steffi arrives, with the blog I was already several days behind, my own company would have wanted time from me, and additionally, I had to work from 3:00 PM to midnight. On top of that, a stupid cold that I had brought from Germany just wouldn't go away. Somehow everything was too much at that moment. </p>
        <p> After a long phone call with Steffi and a good night's sleep, I decided on the following plan: I would stay in the nice apartment in Dumaguete until Steffi's arrival, put my company on ice, and spend more time outside and at the beach. Since the effort regarding onward travel, accommodation search, and the pressure to work on <a href="https://www.smest.it" target="_blank">Smest.it</a> was now gone, I had enough time for this blog. My travel blog is really important to me. Especially since I know that my aunt reads every article to my grandma, and both are somehow part of our trips. </p>
        <p> This decision was absolutely right; everything else was just too much on the plate. A few days later, I was finally able to go diving again and enjoy my time here. When I finally had Steffi with me and we traveled from one dream resort to the next, it became much more relaxed. Thankfully, Steffi then took over writing the blog articles, so I only had to take care of putting them online and my work for the company. So everything became much more relaxed. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5037.jpg" alt="A small banka">
        </div>
    </div>
    <div class="col-md-6">
        <p> It even turned out that the time difference of 7 or 6 hours was an unexpected advantage. Since I usually get up before Steffi, I was often able to complete up to 2 of my 8 hours of work time before she even got out of bed. I made up the hours when we wanted to go out to eat in the evening, because then it was noon in Hamburg, and it regularly allowed me to finish work earlier. </p>
        <p> At the end of the experiment, we treated ourselves to 10 days of vacation. We used these fully for ourselves. We visited 5 more places. We enjoyed nature on Bohol, visited the Chocolate Hills as well as the Tarsiers, and enjoyed lunch on the Loboc River. On Panglao, it was almost exclusively about water. I went diving several times, and above all, we treated ourselves to a wonderful and unforgettable day trip to Balicasag and Virgin Island, where we snorkeled with turtles, saw real flying fish, and enjoyed pineapple and fried sweet potatoes at the floating market stalls. In Manila, we treated ourselves to one souvenir or another on the way home and spent the last pesos we had left. </p>
        <p> In the end, it was all a successful journey with small lows but even bigger highs. Several thousand photos were taken again, especially of clownfish. We were in a poor but also very beautiful country with many friendly and cheerful people in the rural areas. The Philippines are always worth a trip, and if you do a little research, it won't be too expensive. To say it in Steffi's words: Philippines, always happy! </p>
    </div>

</div><!--=== End Post ===-->
