---
layout: blog/en/travelblog
title: "03/26/2018 Flight to Mactan"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dauin
  - Malatapay
  - Dumaguete
  - Mactan

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

author: "Steffi &amp; Basti"

overview:
  intro: "Today it was time to say goodbye to the island of Negros, as we were heading to Cebu by plane. Or rather to Mactan."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4817.jpg"
    alt: "The deserted market in Malatapay"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Cebu Airport is located on a neighboring island called Mactan. This island is completely surrounded by a reef. Therefore, almost every free centimeter of beach is built up with luxury resorts and hotel facilities. One of them is the Costabella Tropical Beach Resort. That's where we're heading today. </p>
        <p> Around 11 AM we left our accommodation and headed to the Dauin Dive Café again, as Basti had already arranged with the diving instructor Per that we could leave our luggage there first. Actually, we wanted to go swimming, but since neither of us felt like getting wet, we decided to take the bus to Malatapay. There's always a market on Wednesdays, and it's also the departure point if you want to self-organize a trip to Apo Island. Unfortunately, apart from Wednesday, everything is really quiet, so we just briefly strolled to the beach and then sat in a beach café with a milkshake and disgusting Pomeranian. From there, we watched a diving course including search and rescue exercises! </p>
        <p> When we started our way back, we experienced for the first time what it means to be dependent on Filipino transportation. First, no bus came, then we finally saw one and it drove past us coldly. Meanwhile, two more Filipinas joined us, the next bus came and... it also drove past us coldly! </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Of course, not even a tricycle or jeepney came by, which usually drive around in masses. So we kept waiting! Then finally a jeepney came, and there was even some space, so we could sit on the bench. Unfortunately, we had to slide all the way through, which proved quite difficult when getting out. Because by then the vehicle had filled up quite well, and people were already sitting in the aisle, and well, we had to get through. We probably caught one or two feet, but people had fun with us too-tall Germans. </p>
        <p> At the café, we had another drink, and then it was time to grab our things and head back to the street. As soon as we got there, we saw a bus, it even stopped and was quite empty. Arriving in Dumaguete, we immediately switched to a tricycle that took us to the airport. Then came the nasty surprise... the plane was 2 to 3 hours late! Unfortunately, the departure hall was an air conditioning monster, in the form of 11x 2m high standing devices, and unfortunately, there was no refreshment service. You couldn't buy drinks or food. But I was getting pretty thirsty and asked about possibilities at security. They sent me all the way outside, saying someone comes by from time to time. Unfortunately, there was nobody at all, and when I came back, he looked at me quite perplexed. His colleague then came up with the idea of giving me a plastic cup and letting me get some water from their dispenser. At least something! After watching a few rounds of UNO and some movies, it suddenly went very quickly, and we were even able to board before the announced delay. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4852.jpg" alt="The Cebu Pacific plane to Cebu">
        </div>
    </div>

    <div class="col-md-6">
        <p> Then we also found out that we were quite off the mark when it came to seat selection. We specifically booked the 1st row so we could get out quickly... Well, unfortunately not with a propeller plane from Cebu Pacific. There's no normal door at the front, but the luggage compartment. We were the first ones inside, but also the last ones to get out. Great, and we paid extra for that. We still had a good laugh about it, because something like that can only happen to us. The gentleman across from us had it even worse. He had booked row 1 and had to fly backwards. With just a little more than one hour delay, we landed in Cebu. </p>
        <p> After we got our luggage, we ordered an Uber (a kind of taxi where you're driven by private individuals) and it went relatively quickly to the resort. Here, two worlds met: on the way to the accommodation, poverty and makeshift bamboo huts. Then we passed through 2 security checkpoints at once and landed in paradise. We were welcomed very friendly, our luggage was loaded onto a luggage cart, and then it was just: "I can give you a joyful message... you got a free room upgrade" When asked about food: "I can give you a joyful message... Our restaurant is open 24 hours" </p>
    </div>
    <div class="col-md-12">
        <p> The announcements just kept coming. After all the formalities were done, we were brought to our room 226. This turned out to be a beautiful, spacious family room including a large bathroom. Since hunger and especially thirst were rushing at us, we went to the tapas bar "Luna". Here I got 6 mosquito bites in one and the same place, and for dessert, I had a Strawberry Daiquiri and Tortilla de Patata, while Basti had a mango daiquiri and a pizza. By then it was already 1 AM and the bed was calling very loudly! </p>
    </div>
</div><!--=== End Post ===-->
