---
layout: blog/en/travelblog
title: "05/14/2018 Long Weekend in the Harz"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Germany
  - Harz
  - Osterode
  - Nordhausen

overview:
  intro: "After Holly was finally back from the workshop, the Father's Day weekend could begin. The weather had been great so far, but"
  image:
    url: "/assets/img/blog/familienfoto-im-harz.jpg"
    alt: "Family photo in the Harz"

author: "Steffi"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} the forecast for the long weekend looked really bad, so we decided to follow the weather map. I was really in the mood for the beach and sea, but according to the temperatures and precipitation radar, we should head towards the Netherlands or further south. </p>
        <p> Basti and I met at our regular spot after work and had a comfortable meal while deciding to head towards the Harz again. Unfortunately, during our decision-making, a traffic jam formed right at the highway entrance, so we got stuck in it. </p>
        <p> After finally leaving the traffic jam behind us, it became clear that Basti wasn't as fit as he had hoped. The next traffic jam was ahead of us, so we ended up at a rest stop between Soltau and Hanover. It was already overflowing with trucks and the like, so we parked on the nearest car parking lot and then sat down in the restaurant with drinks and UNO cards. By 9 PM our eyes were already getting heavy, so we got ready in the motorhome and went to bed. Basti started a movie while I was practically gone immediately. The night was quite restless and especially loud, so it ended around 4 AM. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> I looked out through our curtain to the driver's cab and discovered a note on our windshield. Already cursing, we got ready and went outside. I grabbed the note from the windshield, expecting a ticket, but it wasn't one. It was another complaint from an annoyed car driver about how we motorhome drivers were blocking all the parking spaces again. We were just about to get upset about it when Basti noticed the "P". He said his father writes it the same way, and then he also noticed it was a delivery note for 11.5 tons of fish. We freshened up and then Basti texted his dad. </p>
        <p> When we were back on the highway, Peter called back and it turned out it really was him. He was coming from the north and saw on the "Friends Finder" that we were there. Unfortunately, there was no space left for his truck, so he could only stop briefly to attach the note. This was probably around 3 AM, and Basti later said he was awake shortly after. Darn! We chatted for a while and it turned out he was also driving past his "big child". He was also in the Harz with his family, where Peter was now driving through. But unfortunately at ungodly hours! </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/taalsperre-im-harz.jpg" alt="A beautiful view of the dam in the Harz">
        </div>
    </div>
    <div class="col-md-6">
        <p> For us, it was first off to Osterode, more specifically to the Aloha Adventure Pool. There we parked in the specially designated motorhome space and slept a good round. Around 11 AM we went to the hall and wow... quite small and hm, where are the loungers for relaxing or seating areas in general? There was no restaurant or kiosk to be found, and the outdoor area was also still closed. Fortunately, we found an empty beach chair and then went into the water. After 2 hours it got too boring for us and hunger was calling, so we changed and left. </p>
        <p> Conclusion about this pool: </p>
        <p> Everyone raves about the sauna area, which we didn't test due to the temperatures. The pool itself is not very inviting! No relaxation options in the form of sufficient loungers, and relatively small if you don't count the outdoor area. So it won't be welcoming us back as guests. </p>
        <p> Back at Holly (our motorhome), after unloading everything, we walked to the Chinese restaurant that we had discovered on our last visit to Osterode. We were fortunately there in time, because at 3 PM there was supposed to be a 2-hour break here. At first it was quite slow in the restaurant, but the food was really delicious and the service was also very friendly when it got quieter in the place. We'll be happy to come back here. </p>
    </div>
    <div class="col-md-12">
        <p> On the way back to Holly it started to rain slightly, so we made ourselves comfortable. There was a storm warning and we didn't want to drive around the area. The rain didn't last long and wasn't too bad, so we decided to drive to a parking space in front of the "Bärenbach" campsite near Braunlage. Unfortunately, no one was on site when we arrived and there was no parking space in sight. As we were wondering what to do, a couple from Essen came by and told us they had parked in the back. Hmm, there was definitely no space in front of the barrier, so we drove further onto the site and joined some other vehicles and connected everything. The announced storm failed to materialize, so we sat outside for a while and Basti called Matze, among other things, to arrange the meeting point for tomorrow. We then spent the evening working or watching a movie. </p>
        <p> Then I went to shower at some point. These are not inviting at all. Everything is clean, but unfortunately the cabins only have a curtain except for one. There's absolutely no storage space or anything else, so you have to undress in the main room and leave your things there. I was lucky, I got the only shower with a door and extra area for clothes. In addition, the water pressure was really good, rarely seen at a campsite! </p>
    </div>

</div><!--=== End Post ===-->
