---
layout: blog/en/travelblog
title: "12/23/18 at night in the museum"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - new York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan\'s skyline in black and white in the early morning"

author: "Steffi"

overview:
  intro: "Since we were awake much too early again, we went to the Staten Island ferry, because this time we wanted the sunrise from there"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_4402.jpg"
    alt: "Sunrise over Brooklyn"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} enjoy. Stupidly we forgot that there is Sunday and there are other departure times. So the sun opened without us and we took the ferry at 7 a.m. instead of 6:50 a.m. </p>
        <p> The crossing was still nice and we also had a little pink sky. Unfortunately, it was too cold again, so it didn't even help the masking principle including gloves, so we gave our way back to the last piece. When we arrived on Staten Iceland, we took some photos of the New York skyline and then dawned the empty streets until we ended up in a supermarket. </p>
        <p> There we got some things for December 25th, because then everything should actually be paralyzed here. In the meat shelf we discovered the "Boar&rsquo;s Head" brand and I was already very hip -free. Should I get my beloved sauce here? We actually found what we were looking for at the fresh counter, I grabbed joy and then the disillusionment came: &ldquo;Sell Before 11/22/18&rdquo; (for sale before November 22nd) Alternative until 02.12. Really now, I'm so close and yet so far ??? Damned!!! But take away things are not possible. We then checked the Internet and found a bit further a supermarket for meat. Well, it is a possibility, so we were going there, because the Boar&rsquo;s Head brand was already visible on pictures on the Internet. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Once in the shop, there was even an extra counter only for Boar&rsquo;s Head products. These sauces were there too, but unfortunately mine was not there. We then asked the seller if she was still hiding some. Unfortunately, this denied, but typically American, she unpacked the service and called the supplier and ordered the sauce for me. This should arrive at noon, but at the latest in the morning morning. So tomorrow we'll go to Staten Island again! </p>
        <p> We bought some of our favorite brand here and were allowed to try typically American. Yammmyyy !!!! </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-usa/small/IMG_7020.jpg" alt="Difficult to recognize which of the animals are real in the picture and which are drawn">
        </div>
    </div>
    <div class="col-md-6">
        <p> Back at the ferry terminal we treated each other to a fruit moothie, since we were not yet cold enough. Later on the ferry there was a short video call for my mom and showed her NY skyline. </p>
        <p> Due to acute frostbite, we landed back in the hotel after arrival and had breakfast and zapped through the TV channels. </p>
        <p> Finally raised again, the metro went to the 79th street, because the American Museum of Natural History is located there. You may know if you know "at night in the museum" with Ben Stiller. Before we went to the entrance, however, there was a video call for Basti&rsquo;s Mama, including hot dog meal. Unfortunately I found the sausage not fastable and there was Basti. </p>
        <p> After the call, we saw the main entrance to the museum and found it too full, so we tried it at a side entrance that we passed before. There we were immediately inside and then gave off our jackets and off you went and searched. This museum has no overview at all and finding something specific is only difficult. However, you have to say that the showcases with the animals are very well done and that you cannot distinguish whether you are in the event or not. </p>
    </div>
    <div class="col-md-12">
        <p> In the meantime it was so late that we wanted to cancel because we still wanted to go up to the viewing platform of the new World Trade Center. So we left the museum. Arrived at the One World Observatory, it was said with disillusionment that there is currently no admission due to overcrowding. </p>
        <p> So hire, redeem the card and get a ticket for 5:45 p.m. To witty the waiting time of 1.5 hours, we sit down in a caf&eacute; in the middle of the Westfield Shopping Center. It was correspondingly loud and hectic, so I put headphones on my ears and Basti dealt with the travel blog. </p>
    </div>
    <div class="col-md-6">
        <p> At 5:40 p.m. we stood again at the doors of the one world and were able to go through right away. This was followed by security checks and the elevator ride. With astonishing 41 km/h, this drives in just a few seconds to the 102nd floor. From there you are led to a compulsory video demonstration and you stand relatively closely in front of a gray wall with high -rise standards. Various pictures of NY were then shown here. In the end the wall went up slowly and you suddenly looked over the New York skyline. </p>
        <p> That was really cool! However, the wall went down again, enough lined, and it went into the next room. Here you could borrow iPads for $ 15 that explained the skyline and flew over it via virtual "helicopter". Fortunately, you could skip the room, so that we went on to the 101 floor and finally enjoyed the view. However, from the 101 floor you could not go directly to the disc, so that we went down another floor and were therefore on the 100th floor. Here you could lean directly on the window and look through the window reasonably well, without reflections on the lighting, and pictures. Unfortunately, no tripods are allowed at the top, so the selection of the pictures will be very poor. We circled the view once and then let the view of Hugh Jackman's house fall again before we went down again for almost 30 minutes. </p>
        <p> Now the metro led us to the Saks department store. Here the housing front should be decorated for Christmas. If we don't find Christmas in this city anywhere, maybe there. And in fact, when we arrived, the light show was running and accordingly there was more or less standstill on the footpaths. The show was really chic and finally there was something Christmas. Contrary to all the pictures from television, this is total cheese. Manhattan and Christmas ... ha !!! There are 2 - 3 points here that are Christmas and then it is over. M&ouml;nckebergstra&szlig;e in Hamburg offers more decoration. </p>
        <p> It finally continued in the sliding squeeze to the Rockefeller Christmas tree and its ice rink in front of it. Unfortunately, there was extreme overcrowding here, as expected, so that you couldn't necessarily enjoy the sight. Thinking about getting to the ice rink, you didn't need to. So a few pictures made and pushed towards the exit to get to the Times Square. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-usa/small/IMG_4431.jpg" alt="The waterfalls of the old World Trade Center from the 100th floor of the new One World Observatory">
        </div>
    </div>
    <div class="col-md-12">
        <p> We reached this after a short walk, of course it was full, but it is still somehow cool here. </p>
        <p> We dawned through some shops, still got something for the winner of the WhatsApp campaign "Love is Stronger than Hate" and then slowly made our way to the hotel. </p>
        <p> Good night and until tomorrow. </p>
    </div>

</div><!--=== End Post ===-->
