---
layout: blog/en/travelblog
title: "12/26/18 Trump Missed!"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - New York
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan's skyline in black and white in the early morning"

overview:
  intro: "The day started with breakfast on the second floor of our hotel. Unfortunately, like almost everywhere in the USA, there were plastic plates and"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_7369.jpg"
    alt: "The White House at sunset"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} plastic cutlery. We really don't understand the point of this in a hotel! The breakfast itself was typically American - hearty. Bacon, burger patties, bagels, tortillas, scrambled eggs, etc. Cold cuts were unfortunately nowhere to be found. We took two bagels with us and made them ready with cold cuts in our room before heading out. </p>
        <p> Since it was beautiful sunshine, we first headed to the White House. Here we encountered more barriers than we had previously seen in the media. You couldn't even get close to the fence, and police and Secret Service personnel were standing everywhere. Hmm, okay - unlike other presidents, he apparently doesn't like people at the fence - at least that was our opinion at the time. </p>
        <p> We went to the other side of the White House and ended up at the "official national Christmas tree." We already knew about this from the press, because due to the shutdown by the current president, the briefly non-functioning lights could only be brought back to life through visitor donations after several hours. There are now many coins scattered on the ground around the tree area. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Next, we strolled toward the Washington Monument, but unfortunately everything was fenced off here too. This time, however, due to construction work. So we quickly took a few pictures and continued toward the Capitol. </p>
        <p> However, we turned off before that and ended up at TJ-Maxx (yes, that's really what it's called), where Basti stocked up on various things again. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-usa/small/IMG_7364.jpg" alt="The hawk with its freshly caught prey">
        </div>
    </div>
    <div class="col-md-6">
        <p> Since we were both feeling sluggish, we decided to just go to Walmart, buy some food, and return to the hotel. In the supermarket, we spent a surprisingly large amount of money for surprisingly little in the cart. But there should be a delicious dinner now. </p>
        <p> On the way back, we decided to stop at the White House again, since the sun should be better positioned now. The photos didn't turn out well earlier today because of backlight. When we arrived, we first saw a hawk sitting on the lawn. It had just successfully hunted and had a squirrel in its grasp. My first thought, since the squirrel was still alive, was to chase away the hawk and thus save a life. But that would be interfering with nature, so we moved on and lo and behold... the extensive barriers were gone. </p>
        <p> You still couldn't get completely to the fence, but at least a bit closer. We asked a gentleman from the Secret Service what had been going on, but he only replied evasively, "We sometimes block things off." So we assume we missed the guy with the red tie. </p>
        <p> Back at the hotel, we went to cook and tried not to trigger the smoke detector. Because as nice as the room is, you can't open a window, and if the smoke detector goes off, it gets really expensive. At least that's what it says in the information. </p>
    </div>

</div><!--=== End Post ===-->
