---
layout: blog/en/travelblog
title: "04/03/18 Bohol Sea Resort"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Panglao
  - Alona Beach
  - Bohol
  - Anda

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

author: "Steffi"

overview:
  intro: "Today after waking up, we went straight to the sea. So into our swimsuits, grabbed our equipment and once again"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5122.jpg"
    alt: "Entrance of the Alona Sea Resort"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} took the steps down. There were many fish again, fortunately no jellyfish, and so we took countless photos of clownfish and co. and especially enjoyed the beautiful water. At least for a short while, because somehow the sea snakes had forgotten that they are nocturnal. There were more and more of them, we became increasingly restless, and so we decided to seek open water. First, we went to the room for a shower and then enjoyed our last breakfast at the "Blue Star Dive Resort".</p>
        <p> Our driver was ready around 12 noon, and to our surprise, it was the same driver as on our island tour. The journey took almost 2 hours, and when we finally arrived on Panglao, it became clear that it was more touristy. Shortly before our destination, we drove through Alona Beach, and there it was clearly designed for tourists. After another 5 minutes, luckily away from everything, we arrived at the "Bohol Sea Resort". We were waved through the security check, and then we and our driver were quite clueless. There was no reception to be seen, no driveway either, and so he drove as far as possible. The three of us stood in front of the car without a clue and were unloading when several employees came from somewhere and took care of our luggage. We followed them and ended up in the restaurant.</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>

    <div class="col-md-12">
        <p> The small reception was housed there, and before anything was done, we already had our welcome drink in our hands. This consisted of cucumber and lime juice and wouldn't have been so bad if it hadn't had extra sugar added again. After the paperwork was also done, we were told that our bungalow was unfortunately not yet ready. We made ourselves comfortable in the seating area, and less than 10 to 15 minutes later, we were able to move into our bungalow "E".</p>
        <p> We first dropped everything and explored the facility, immediately heading to the local diving base. Here it was time to collect and register information. Incidentally, the base is under German management. Hanschi, the manager, comes from Neubrandenburg, and so there was naturally a lot to discuss. Then we hopped in the pool because refreshment was urgently needed. It's quite chlorinated, but otherwise okay in size and maintenance. The pool loungers could use cleaning, but otherwise, they're also okay.</p>
    </div>

    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5115.jpg" alt="Fried Pizza Hawaii in Alona Beach">
        </div>
    </div>
    <div class="col-md-6">
        <p> In the early afternoon, we decided to go to Alona Beach because the hotel didn't offer much food. The security guard from the hotel called his buddy, and shortly afterward, the tricycle arrived... This was cursed tight. So there's another variant of tricycles. And there we were: among thousands of other tourists in full bustle, including dozens of tour sellers. We just strolled through the area, explored the long beach, and at some point, it got dark. Suddenly, the electricity went out!</p>
        <p> We slowly made our way back to the main street until we ended up at Noah's. An Italian restaurant on the corner. There was delicious Bolognese for me, and for Basti, there was actually a Pizza Hawaii. Hmm, the lady kept saying something when ordering, but we both only understood "train station". So Basti just said "surprise me," and the waitress disappeared. My Bolognese came quite early, and before it got cold, I ate it. I had been ready for a while when Basti's "Pizza" finally came. Well, or whatever. Because it had nothing to do with pizza. It was a kind of lard pastry dough, with cheese and co. inside. The whole thing was folded together, fried, and sprinkled with salt. Suddenly, the electricity was gone again, and we were sitting in the dark. This is common here, nobody really cares, and so we talked for a while until we decided to go back to the resort. We waved down a tricycle and off we went. In the room, we made ourselves comfortable with a movie and relaxed for the rest of the evening.</p>
    </div>

</div><!--=== End Post ===-->
