---
layout: blog/en/travelblog
title: "03/29/2018 Octopuses, Nemos and Co"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Mactan

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

author: "Steffi"

overview:
  intro: "After breakfast, we went back to the room because we still hadn't found accommodation for our last week in the Philippines."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4893.jpg"
    alt: "Happy hour with cocktails"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} We visited the relevant websites but couldn't make a decision, so we got ready to go snorkeling. </p>
        <p> As soon as we were in the water, Basti waved me over and pointed down - "Hmm, what does he want, there's nothing there" - but then I saw it: an octopus, right below us on the seabed. It moved serenely along the bottom and adapted to its surroundings in fractions of a second. As soon as we communicated above water, we had real trouble finding it again. We followed it for quite a while until we passed some seahorses and ended up back at the clownfish family. Basti then discovered the fun/rest island for himself and kept jumping into the water from there. </p>
        <p> He then went to dry off as the sun was gradually becoming too much for him, and I stayed in the water a while longer. After I came out, we headed to the beach shell. We had actually managed to get this in the morning, and Basti settled in while I went to the pool with the camera. After that, I also settled into the shell and did nothing for a while. At some point, the sea called louder again, so I went snorkeling again and this time encountered a huge starfish with 8 arms, which actually looked quite scary and was moving quickly along the bottom. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4905.jpg" alt="The Asian restaurant from which we had our lunch delivered">
        </div>
    </div>
    <div class="col-md-12">
        <p> Back at the beach shell, Basti mentioned being hungry, so we ordered from the Asian kitchen, and they delivered it directly to the beach shortly after. It wasn't amazing, but it was edible. Basti's burger was probably okay. In the evening, we went to the tapas bar and treated ourselves to a final cocktail during happy hour. Basti finished the last emails before the experiment for his employer ended and his vacation could finally begin. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>

    <div class="col-md-6">
        <p> Meanwhile, I watched a little boy trying to play darts. At some point, he suddenly flinched and looked down. There was suddenly a huge spider heading in our direction. It was about the size of a man's fist. I've never moved my legs onto a bench so quickly, and Basti called for the staff. He grinned at first and continued dealing with his glasses, but when he realized we weren't going to let it go, he took action. First, he tried to push the spider toward the door with his feet, but it refused and darted under a bar stool. The staff member got a napkin and carefully picked up the creature and took it outside. Ewwww!!! At some point, I got bored and joined the boy to play a round of darts. </p>
        <p> Somehow I was craving something crispy, but unfortunately, the tapas bar didn't offer anything suitable. So we moved to the restaurant and ordered fries and vegetarian spring rolls with sweet and sour dip! Hmm, the fries came, the spring rolls too, but also a third thing. Apparently, sweet and sour means something different here, because as it turned out later, there was also a whole portion of sweet and sour fried pork. Basti found it absolutely delicious, so everything was fine. Of course, the band played again tonight, and at some point, they came to our table again (you really do get used to it), and this time, at our request, they played Elvis Presley's "Hound Dog". </p>
        <p> Tomorrow we're heading to Bohol. Let's see how that goes. </p>
    </div>
</div><!--=== End Post ===-->
