---
layout: blog/en/travelblog
title: "12/29/18 Up in the Air!"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan's skyline in black and white in the early morning"

author: "Steffi"

overview:
  intro: "We would have liked some fresh air, but now we were completely caught by our colds and couldn't breathe properly. What else could we do but"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_7433.jpg"
    alt: "Mars Rover Marie Curie"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} make a new attempt to visit the Air & Space Museum in beautiful sunshine. If we can't get fresh air, then at least everything related to air. </p>
        <p> We arrived 10 minutes before opening and of course there were already lines. Fortunately, they weren't nearly as long, so we were quickly inside when the doors finally opened. After passing models of NASA rockets and Airbus models from earlier times, we decided to watch the planetarium show "Dark Universe". This cost us $9 per person, but entry to almost every museum in D.C. is completely free. </p>
        <p> I didn't really understand much of the show, partly because of the English and partly because I was more or less in a cold-induced coma. But it was beautiful to watch! We then wandered through the museum for a while until hunger drove us outside (food is strictly forbidden in the museum). Basti got something from a food truck while I ate a bagel from breakfast. </p>
        <p> We continued toward the Capitol. It's really beautiful to look at and makes for a great photo subject. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Next, we wanted to visit President Lincoln. However, it was too far for our cold-ridden state (about 4 km), so we ordered an Uber. The driver didn't take us directly there, preferring to drive across the city and around the outside. We didn't mind though, as Uber has fixed prices. </p>
        <p> When we arrived, we found that all tourists seemed to be in the same place. It was super crowded and you had to push through to get a look at the stone Lincoln. We walked past the reflecting pool where Forrest Gump reunited with his Jenny, then headed back to the Washington Monument. There we caught another Uber that took us to the hotel, where we ended up sleeping on the sofa. Colds on vacation are really the worst...!!! </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-usa/small/IMG_7517.jpg" alt="Zoolights">
        </div>
    </div>
    <div class="col-md-6">
        <p> But since we didn't want to let everything be ruined, we took an Uber to the Smithsonian National Zoo in the evening. The Zoolights are currently taking place there, and the guy with the red tie and strange hairstyle has announced that everything will be shut down here by January 2nd at the latest. So we absolutely wanted to see it. The journey took longer than expected because, once again, everyone else had the same idea. Nothing was moving around the zoo, so we let our driver go early and walked the rest of the way. </p>
        <p> The Zoolights are also free and set up along the entire main path through the zoo, so the animals are largely undisturbed. All the trees are decorated with LEDs and there are LED animals everywhere. There's also appropriate music playing here and there. For example, in the marine animals section, they were playing music from The Little Mermaid. After about an hour we were frozen through, and above all that, we had to find an Uber in the traffic chaos at a suitable spot, which took us back to the Capitol. We were hoping for some nice night shots here, but it wasn't that spectacular as it wasn't illuminated. Accordingly, we only took a few pictures before heading back to the hotel. We abandoned our plan to visit the other buildings. </p>
        <p> The cold had us completely under control. </p>
    </div>

</div><!--=== End Post ===-->
