---
layout: blog/en/travelblog
title: "04/01/18 12 Turtles and Jellyfish"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Bohol
  - Anda

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

author: "Steffi"

overview:
  intro: "Today we went straight to the dive center without breakfast, as it was supposed to start at 10:30 AM. The Saxons from the previous day were also there"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4960.jpg"
    alt: "A Banka boat on the beach of Anda at sunset."
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }}, along with a father and his two children. Basti had his own guide again because he didn't want to dive as deep as the others. After some confusion about what comes with what and who wears what, we went down to the boat. We had each taken a motion sickness pill as a precaution, but it wasn't necessary since we didn't even go 300 meters. Well, better than feeding the fish at the end!</p>
        <p> The divers disappeared into the blue depths, and we snorkelers also got ready and jumped in. My first thought was, it's really deep here, there won't be much to see. This proved true immediately, as I was almost instantly out of the water. Suddenly, it burned all over my body. From my hairline to the tips of my toes, I felt countless electric shock-like sensations. I was in the middle of a swarm of mini jellyfish or somewhat larger jellyfish. I think what I felt in that moment was a panic attack just before it fully broke out. I looked for the boat, which unfortunately was already quite a distance away, and quickly made my way back. The electric shocks didn't lessen, and then I saw that the kids were panicking a short distance from me, and their father was also bringing them to the boat. They were probably experiencing the same thing as me. Finally back on the boat, the crew must have seen what had happened because they all bathed us in vinegar.</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>

    <div class="col-md-12">
        <p> It burned terribly all over my body, but my face was the worst. The vinegar helped, but I never want to experience that again. So much for the beautiful snorkeling trip! The kids and I sat on the edge of the boat, repeatedly pouring vinegar on ourselves and waiting for the divers to return.</p>
        <p> Eventually, the boat moved to a new location, and we anchored again just before the shore. The kids risked putting their feet in the water and said there were no jellyfish. I also took a look, and it was indeed jellyfish-free and relatively shallow, so I immediately found Nemo and company. Fortunately, I hardly noticed the burning in the water, and so I enjoyed the variety of fish. At some point, the crew gave me a sign that they were collecting the divers, and I checked where I was. I was so close to the beach that I gave the OK sign, and they drove off. After collecting the divers, the boat came straight to the beach, and I swam behind. As soon as I was out of the water, it started burning again, so everything was rinsed off at the dive center and into the pool. Unfortunately, it didn't help as well as the sea, but at least there was a touch of cooling and, above all, distraction.</p>
    </div>

    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5063.jpg" alt="The tricycles in their regional structure">
        </div>
    </div>
    <div class="col-md-6">
        <p> Basti then reported that he had experienced quite strong currents while diving. It was his first dive where he dove with the current. This was unusual because the water kept throwing him off balance or pressing against his fins. However, he was lucky enough to encounter 12 turtles underwater. In some moments, he said, there were so many animals that he almost got closer to one or another than intended. Otherwise, it was probably an interesting dive for him above a steep wall with many corals, anemones, and especially many fish.</p>
        <p> Later, we ended up at the reception and looked at the excursion catalog again. One tour kept catching our attention, but it didn't quite fit us. We then asked if it could be adjusted, and they explained to us, "You can plan the tour however you want, because you get a minibus and driver all to yourself." Well, that's quite a statement. So we redesigned it here and there, and we had already booked the driver for tomorrow.</p>
        <p> Fortunately, by evening, most of the burning was gone, and there were no lasting marks, so we decided to take a trip to Anda, especially since we needed mouthwash and sunscreen anyway. The hotel called us a tricycle, and almost 10 minutes later, it was there.</p>
    </div>

    <div class="col-md-12">
        <p> And lo and behold... the tricycles look different here again. This time there were benches at the back, and we really had space. The journey took almost 10-15 minutes, and we had ourselves dropped off at the local church. First, we headed for the beach, and WOW, it was full, at least compared to all the lonely beaches we had seen so far. There was life here, with many pavilions where people were cooking and eating together. We had read online beforehand that Anda's beach is one of the most beautiful in the Philippines, and we can confirm that. A nice, long, very fine, and bright sandy beach, and also very clean. We strolled towards the sunset and then made our way through the village.</p>
        <p> Here we got the necessary things and ended up at the baker's, getting delicious rolls for dinner and for our island tour tomorrow. Back at the hotel, we put things away and stored them in the fridge. After all, we are capable of learning about ants and food! The rest of the evening we relaxed again in the resort. Good night!</p>
    </div>

</div><!--=== End Post ===-->
