---
layout: blog/en/travelblog
title: "04/02/2018 Bohol Island Tour"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Bohol
  - Anda

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

author: "Steffi"

overview:
  intro: "Today was our island tour, so the alarm clock rang for us again. When we were finished, we heard a horn"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5010.jpg"
    alt: "The sign 'I love Chocolate Hills' in Carmen"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} on the hotel grounds, and a look through the curtains confirmed that our car was there. We were warmly welcomed by our driver (I forgot his name, something with E) and we made ourselves comfortable on the middle bench of the van.</p>
        <p> Upon request, he informed us that we would first head to the Chocolate Hills since they were the furthest away. The journey would take about 1.5 hours and led past many beautiful rice fields, where some people were even working with water buffalo. Unfortunately, there were no stopping points at these exact locations, so we couldn't capture any photos. There were still plenty of rice fields, and this time we could stop. The driver even wanted to stop the men and women from working so we could take pictures, but we thankfully declined. At some point, the road led us past a lake, and finally, the driver stopped and showed us the "Pilar Dam". We crossed the street and, of course, took pictures. The dam seemed to shine golden, and the driver told me that this lake or the adjacent river supplies water to all the fields further north.</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4973.jpg" alt="Rice fields between palm trees">
        </div>
    </div>

    <div class="col-md-12">
        <p> The journey continued past several rice and corn fields, pineapple and watermelon plantations, and of course, countless palm trees with coconuts. Everything was sold by local residents on the side of the road at such low prices that you'd want to take everything with you. And then we approached the Hills through the town of Carmen. By the way, the Chocolate Hills weren't created by any creative person but were formed solely by nature many thousands of years ago. They are approximately 1,200 cone-shaped hills up to 120 meters high. These are overgrown with ferns and meadows and peek out from palm forests at the top. In late summer, the hills turn brown, making it look like a giant box of chocolates.</p>
        <p> It became "more touristy" around us, and then we turned left, past many souvenir shops, and drove up one of the hills. The driver handed us a piece of paper with his license plate, explaining that we should let the man over there know, and he would come up to collect us. We were a bit confused, unsure whether we had to pay admission or what else, so we first took pictures of the area behind the shops. There you could already see some of the hills! Despite several clouds, the sun was burning quite intensely, so we went into the snack bar and saw that we had to pay "admission". You can't really call this admission because you're simply paying the vehicle fee. That's what the note from our driver was for!</p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
        <p> After paying the fee of 50 pesos per person (about 80 cents), it was 214 steps up in scorching heat. Fortunately, it wasn't too crowded, so we could enjoy the view and take pictures. Unfortunately, the sun was burning so intensely that we quickly sought shade and made our way back down. There we browsed through the souvenir shops until we stopped at the restaurant, cooled by air conditioning, and had something to drink. Then it was back into the heat, and Basti called the driver.</p>
        <p> Back in the car, we went down, and since I hadn't found a nice shirt yet, the driver stopped again at the foot of the hill. Unfortunately, I didn't find what I was looking for here either, so the journey continued. This time we ended up at the Tarsiers, also called Koboldmakis. These are small (max. 16 cm), nocturnal monkeys living on Bohol. Unfortunately, they're hardly found in the wild anymore, so the journey took us to the "Tarsier Conservation Area" in Loboc. I had only known about the "Tarsier Sanctuary" in Corella from the internet, so I was curious to see what awaited us here. We paid another laughable entrance fee of less than 100 pesos (€1.70) per person and off we went. We were there shortly before closing time, so there wasn't much going on. Everything was really quite dilapidated and under renovation or simply untidy, and the question arose of how to find these tiny animals.</p>
    </div>

    <div class="col-md-12">
        <p> Then we saw an employee a bit further away. They always stand exactly where an animal is sitting, otherwise, you would mercilessly walk past the animals. Additionally, the employees also ensure that visitors don't get too close to the animals. In the end, we spent maybe 20 minutes on the premises and saw 9 animals that were almost hidden in the branches.</p>
        <p> The next stop was the Loboc River. The way there led us through the man-made mahogany forest, where some people stood on the side of the road taking photos. It continued through some hairpin curves down to the river. Here we were supposed to have a boat trip including a buffet. We quickly paid the 550 pesos (€8.50) per person and were already able to board the boat and were escorted to a table. I first looked around at the buffet and found it good and sufficient. I hadn't been very hungry before, but the buffet changed that very quickly. There were also two musicians on board who entertained us during the ride. Although it was relatively cramped on the boat, everything went smoothly, and we even passed locals who were doing their laundry in the river or just splashing in the water. Then we made a stop and were entertained by locals with traditional singing and dance performances. At the "end" of the navigable Loboc River, we also saw the adventure park where the zipline operates. This is a kind of cable car, only you're strapped in lying down and fly across treetops and the river.</p>
    </div>

    <div class="col-md-6">
        <p> We turned around and headed back while eating pineapple and watermelon. Meanwhile, Basti tried the Filipino milk coffee variant - consisting of coconut jelly with coffee flavor in milk. Back at the dock, we went to one of the souvenir shops again, and I finally found a shirt! Unfortunately, it was late, so we thought we would have to skip the butterfly station since everything closes very early here. At the car, our driver told us that we were now heading there. Cool!</p>
        <p> The journey didn't take very long, and shortly afterward, we ended up at the butterfly facility, but somehow it looked different from what I knew from the internet. And then I saw the signs at the entrance that we were somewhere else. I also saw posters of giant pythons etc. here, but since I wasn't interested, I hadn't selected this as a destination when planning the trip. We had landed at the "Xzootic Animal Park"!</p>
        <p> The admission was laughable again, so we went in and made a huge mistake without knowing it at the time. A young Filipino accompanied us and started explaining things and advertising the snakes. But we absolutely wanted to see the butterflies and headed for them.</p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5027.jpg" alt="Loboc River Cruise with lunch buffet">
        </div>
    </div>

    <div class="col-md-12">
        <p> The area was actually very nicely laid out, and we could test the macro function of the new camera well. The guide kept pushing, but we didn't let ourselves be rushed as much as he would have liked. After we had everything, we moved on and ended up in pure horror.</p>
        <p> Very small cages awaited us with bare concrete or tile floors, without any greenery, branches, water, or anything else. But there was a lot of garbage in the cages and tourists who were harassing the animals in the cages and taking photos. Our companion couldn't understand that we didn't want any of this and were looking to get away as quickly as possible. Our driver naturally wanted to make us happy with the butterflies, so we didn't say anything to him. However, we had already decided that we needed to take action.</p>
        <p> Since this was the last stop on our day tour, we now headed back toward the hotel. The journey took almost 1.5 hours, and we actually ended up happily from the beautiful day, but very shocked by the last stop, back at the resort. We thanked the driver, put a tip in his hand, and first went to the room. Meanwhile, I went on Facebook and searched for this supposed zoo and left a bad rating with various keywords so that it would also show up in all important organizations. Basti then roughly translated it into English and also sent it directly to some organizations. Something needs to be done here, and we hope that someone will take action.</p>
        <p> We then made ourselves comfortable in the hotel restaurant, and then it was time to pack because tomorrow there will be another hotel change. Good night.</p>
    </div>

</div><!--=== End Post ===-->
