---
layout: blog/en/travelblog
title: "04/08 & 04/09/2018 We don't want!"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Manila
  - Dubai
  - Germany
  - Hamburg

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "For today we had a lot on our agenda. First: Shopping!!! We checked out and left our backpacks and suitcases at"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5326.jpg"
    alt: "We don't want to go here!"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} the hotel. We then walked along the promenade in daylight and enjoyed the beautiful warm temperatures. Somehow we still didn't feel like flying home. </p>
        <p> We went to the Mall of Asia. A huge shopping center with over 600 shops and more than 200 restaurants. On the way there, we noticed that they were setting up for an open-air concert next door. We were worried that there might be traffic chaos in the evening, which would be pretty stupid since we need to get a taxi to the airport around 7 p.m. When we arrived at the center, we first looked for breakfast before systematically wandering through the rows and getting stuck in some shops. Steffi found a few more pairs of shoes, and I treated her to a chic bracelet that complemented her new nail polish. For me, there were no shoes. Size 45/46 is not so easy to find there, not even with brands like Adidas. </p>
        <p> We ended up at TGI Fridays for lunch. There, a waitress informed us that the open-air stage in front of the window was being set up for Ed Sheeran. That also explained why his music was playing throughout the mall all day. Steffi then discovered that there were even tickets available for purchase. Suddenly we really didn't feel like having to fly home anymore. We would have loved to see that. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5325.jpg" alt="Our last sunset in the Philippines. Beautiful.">
        </div>
    </div>
    <div class="col-md-12">
        <p> In the afternoon, we came to a kind of Galeria Kaufhof. That's where I found what I was looking for. First, I treated myself to a new laptop bag. Then came a yellow wallet, several belts, two pairs of shorts, and a baseball cap. There's customer service at every corner, and it feels like every shelf has its own employee. Of course, everyone was very nice and helpful. This is unfortunately becoming increasingly rare in Germany. Steffi then bought some chic new nail polish in a similar color for home. </p>
        <p> Our feet were really starting to hurt. So we made our way back to the hotel. As expected, the streets were packed, and there was no getting through. However, on the way to the hotel, we noticed that the intersection just before it was clear to the west. This wasn't the shortest way to the airport but the fastest way out of the concert area. So we ordered an Uber again, specifically to this intersection. When the friendly hotel employee noticed that we had to walk a few meters with our heavy bags to get to the vehicle, he grabbed both backpacks weighing about 30kg and carried them there for us. Wow. What service! </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
        <p> Thanks to the right choice of intersection, the trip to the airport went smoothly. What surprised us was that the driver had to pay the airport toll from the few pesos he earned from the trip. Of course, we reimbursed this with a generous tip. At the airport, after the first security check at the entrance, we made it to the exchange. I immediately packed my technology into my new laptop bag. I then handed the old laptop bag to a security guard. After all, you shouldn't leave bags unattended at an airport. In the morning, we had already repacked all other backpacks and suitcases in an Emirates-friendly way and also packed some sunshine and warm temperatures. Hopefully, customs won't complain. ;) </p>
        <p> At the Emirates counter, the ladies told us it had to be the other way around. The regulators should now go in the hand luggage. What now? As a result, I was running around with several smaller bags. It was getting really annoying. Additionally, Steffi found the long-sought flip-flops in a shop... with footbed, suitable color, comfortable, and also cheap. Opposite, I saw a chic Adidas backpack that wasn't even expensive. I decided that I didn't feel like dealing with many individual bags, especially since we also have to change planes in Dubai. So I bought the backpack, and suddenly it was just backpack and laptop bags. </p>
    </div>
    <div class="col-md-12">
        <p> As on the way there, the flight to Dubai was just damn long. I don't even want to start about the layover in Dubai and the onward flight to Hamburg. Everything was quiet, and we even flew past Calarasi in Romania. In Hamburg, Steffi's mom was already waiting for us to drive us home. As last year, we ended the day in our favorite restaurant in Ahrensburg. Tomorrow it's back to work as usual. Great! </p>
    </div>

</div><!--=== End Post ===-->
