---
layout: blog/en/travelblog
title: "04/07/18 Care for hand and foot"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Panglao
  - Manila

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

author: "Steffi"

overview:
  intro: "Since my nail polish had more or less taken on a life of its own, I went back to Alona Beach after breakfast"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5293.jpg"
    alt: "Sebastian Thoss enjoying his last mangoshake of the vacation."
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} to get everything renewed. Basti accompanied me but only dropped me off at the shop and then went for a walk. </p>
        <p> Today the shop seemed much more relaxed, so I booked both a manicure and pedicure. I spent almost 1.5 hours on the cozy sofa and then texted Basti. He informed me that he had made himself comfortable at Dunkin Donuts, so I picked him up there. </p>
        <p> Back at the resort, we packed the remaining things and the staff was already knocking at the door saying "The driver is here"! Since he arrived a bit earlier than expected, we forgot to take some photos of the facility in the end, but that couldn't be changed anymore. </p>
        <p> The trip to Tagbilaran Airport took almost 1 hour and there was a lot of activity when we arrived. Checking in our luggage went quite quickly, and so we ended up in a small waiting hall again. This became really full and loud over time, and then three musicians started playing. These are apparently arranged by the airport through the blind and disabled association, as the instruments were already there when we arrived. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5283.jpg" alt="The view from the roof terrace of the Tryp by Wyndham Mall of Asia by night">
        </div>
    </div>
    <div class="col-md-12">
        <p> They didn't play and sing badly at all, but it was annoying in the hall that was already much too loud. Then it was finally called "Boarding" and we were able to take our emergency exit seats in row 12. As soon as we were in the air, we were served our food, which was included in our package. This was actually very tasty (beef, rice, dark sauce, vegetables, chili's), just pretty spicy. The flight went smoothly and so we landed in Manila on time. Fortunately, our luggage didn't take long to arrive, so we could quickly order an Uber, which arrived after about 10 minutes. Luckily, the streets of Manila were quite empty this time, so the trip to the hotel "Tryp by Wyndham Mall of Asia" didn't take long. </p>
        <p> Hardly had we pulled up in front of the hotel when the car door was already opened and our luggage was invited onto a luggage cart. We were sent up the escalator and had to look around first, as there were unfortunately no signs for the reception - it was hidden behind the bar and conference room. Checking in went quite well, but luckily Basti was there, because in the end I only understood "train station". Credit card deposit here, security deposit there, credit here, etc. I would have been completely lost! In the end, we got our room card for room "807", strolled to the elevator, and went up to the 8th floor. The room was quite spacious, offered 2 large cozy beds, and also had a bench directly by the window with a beautiful view over the sea and the city. We were just enjoying the view on the windowsill when suddenly there was a ring. I went to the door and our suitcases were brought. The ringing didn't stop and we only then realized it was the phone. Oops! The lady from reception wanted to explain something to Basti again, and so in the end everything was fine again. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
        <p> After a short relaxation, we decided to go for a walk, but wanted to look at the pool on the roof first. Unfortunately, the elevator stops one floor lower, and here too the signage isn't the best, but you're rewarded with a beautiful roof terrace and an even better view once you've found the access. We took some photos, enjoyed the view until it got too windy, and then we went back down to leave. We walked along the promenade, past many restaurants, and then ended up at a fair that is permanently installed. The prices here were also totally laughable, and we should have used it right away, but unfortunately, I wasn't in the mood for carousel rides at all. When we reached the middle, there were suddenly many people looking towards the sea, and since we're curious tourists, we also stopped. The promenade was cordoned off a bit, and Basti discovered what looked like fireworks material on the promenade wall. Hmm, it was shortly before 7 p.m., so we just waited and hoped to be rewarded with a beautiful fireworks display shortly after. So we had done everything right again and were at the right time, in the right place. </p>
        <p> Basti got thirsty, so we went looking after the fireworks and ended up at a really small stand. It was so low that Basti only fit under it by crouching. He treated himself to a mangoshake, and then we leisurely went over to the Mall of Asia. There we comfortably strolled from shop to shop and even found small gifts for home. We had to walk a lot for that because the center is divided into categories. </p>
    </div>
    <div class="col-md-12">
        <p> Now hunger was also making itself heard, and we ended up in a Chinese snack/restaurant near dumplings and fried rice. We slowly made our way back to the hotel via the promenade and still sat in the bar. There was a Baileys for Basti, and I treated myself to a plastic bag with ice cubes. At some point, I had bumped something briefly over my knee, and the running and swelling had reached much too large dimensions and also hurt. Accordingly, I didn't order a drink at the bar, just ice in the bag. </p>
        <p> Since our cell phone batteries were empty, we went to the room and later under the rainforest shower. Unfortunately, it was also misplanted here, as the shower partition was far too short, so that the bathroom was partly underwater shortly after. Well, it's not my bathroom, but always annoying something. When drying my hair, I also noticed that the cleaning in the bathroom is unfortunately not the best. The sink had gray water marks everywhere. Too bad for such a new hotel. </p>
        <p> We then briefly chatted, but the beds were calling very loudly, and we disappeared into dreamland. </p>
    </div>

</div><!--=== End Post ===-->
