---
layout: blog/en/travelblog
title: "06.04. Balicasag and Virgin Island"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Balicasag
  - Virgin Island

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

author: "Steffi"

overview:
  intro: "We met with the girls at the dive shop shortly after 8 a.m., packed our snorkeling gear that we had left there, and additionally"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5230.jpg"
    alt: "Catalog photo on the sandbar of Virgin Island"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} wetsuits, since the jellyfish had increased significantly. A Filipino came around the corner and asked if we were ready. Of course! So we grabbed our boxes and ran off, because it was low tide again and the boat was quite far from the beach. Once we arrived and everything was stowed away, the engine started and auuuuuua... our poor ears. The mini-part was so loud that none of us exchanged a word during the ride and we ended up with tinnitus. Otherwise, the journey was relaxed, and after almost 30 minutes, we arrived at an island called Balicasag, which was besieged with boats. On the way there, we even briefly saw real flying fish. </p>
        <p> We went to the northeastern side of the island, as there was no wind and therefore no waves. We actually found a spot between all the boats, and surprisingly, there were hardly any people to be seen. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5234.jpg" alt="Finally a turtle for Steffi">
        </div>
    </div>
    <div class="col-md-12">
        <p> Perfect! Our crew quickly pressed the nature conservation fee into our hands, we grabbed our things, and decided that three of us would go into the water first without wetsuits. Basti discovered that he had forgotten his fins, but unfortunately, that couldn't be changed anymore. The first one jumped in, number two and three followed, and then I went to get started. And they were already shouting "Turtles turtles... coooome. There are some, hurry up and get in". </p>
        <p> Good heavens, really now... in no time I had my fins and mask on and was in the water, and there they were... turtles "for me"... underwater.... YEEEEEES! They were leisurely swimming their circles between the reef and the abyss, and I could marvel in peace, be happy as a clam, and take natural pictures! And then I noticed that there were lots of fish around us. The turtles moved into the eternal expanses of the sea, and we swam our circles between the fish, so far, so good. The variety was really great, and the reef itself was also very beautiful. Especially since it really went down like a steep wall and disappeared into the dark blue. Above the edge, up to the surface, everything was colorful, and the water was crystal clear. Here and there it pinched the skin, and suddenly you saw jellyfish. However, there were so few of them that I stayed in the water without the annoying suit. Basti saw a turtle sitting on the abyss below and watching it. I joined him because she would have to take a breath again at some point. After a while, she stirred and slowly headed for the surface. I followed in her wake and accompanied her until she disappeared into nothingness after some time. </p>
        <p> I myself also needed a break and told Basti that I was going to the beach. He told me that we would continue around 11 a.m. - so I had a little over half an hour. Through absolutely crystal-clear water, past beautiful corals and fish, I landed on the not-so-beautiful beach and sat on a palm trunk. Unfortunately, the beach was very neglected and quite dirty, and the surroundings didn't look much better either. An older Filipino spoke to me, and we talked as far as our language skills allowed. Fortunately, he had a watch, so I could be back in the water on time. On the way to the boat, I discovered an octopus in the shallow water, but unfortunately, it couldn't be found again when looking a second time. Instead, Khan from "Finding Nemo" (a triggerfish) showed up. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
        <p> Back at the boat, we quickly went over to Virgin Island, or "I landed in a catalog". Actually, there's a sandbar there, but due to high water, it was underwater, with such crystal-turquoise colored water that we thought we were in a travel catalog!!! The water reached just up to our knees, and we explored the area as a group of four. </p>
        <p> Some stands were set up on the sandbar. Of course, the flying vendors weren't long in coming and wanted to get rid of their jewelry. With us, in vain! At the stands themselves, there was lots of seafood to buy, which was prepared fresh, or fresh fruit. This either pure or caramelized and fried. The girls got fried bananas first, not my thing, and then we landed with the lady with the pineapples. These were so tasty when trying that we bought a large bag and still ate it empty at her stand. The girls got another bag for later, and we moved to the next stand. The girls also got sweet rice pressed in banana leaves and found it super delicious. </p>
        <p> We slowly moved towards the boat and first took enough pictures and enjoyed this incredible water and the view. We clearly felt like we were in a catalog - we both hadn't seen anything like it before. </p>
    </div>
    <div class="col-md-12">
        <p> We are in the middle of the ocean, there's a market, crystal-turquoise colored water, and although there were many boats there, it wasn't crowded. After we were all back on the boat, Basti took the top of the boat at the front, and we also let our legs dangle in the front. With the noise from the engine, it was the best solution anyway. The way we were sitting there, the journey could have continued forever, but we were already back at the accommodation. </p>
        <p> We four played a few more rounds, but then it was time to say goodbye because we still had to pack. It was the last change of accommodation of this vacation. We moved into the bungalow and filled our backpacks again until we fell into bed tired. </p>
        <p> Conclusion of the day for me: <br> One of the most beautiful excursions that I have experienced on my travels so far. </p>
    </div>

</div><!--=== End Post ===-->
