---
layout: blog/en/travelblog
title: "03/30/2018 Formula 1 Race on Bohol"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Mactan
  - Bohol
  - Anda

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "Today my vacation finally started. Now I no longer had to think about where to find a good internet connection to work for the next few days"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4933.jpg"
    alt: "One of the saints on Bohol being carried across the country road"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }}, but now I can finally enjoy this trip to the fullest together with Steffi. Additionally, it's Easter, which for many years has meant relaxation and time just for us. Our destination for today was the Blue Star Dive Resort in Anda on the 10th largest island of the Philippines: Bohol. We had a really simple and relaxed plan for this. </p>
        <ul>
            <li> First have a comfortable breakfast </li>
            <li> Check out </li>
            <li> Go shopping in a mall </li>
            <li> Take the 2-hour ferry to Tagbilaran </li>
            <li> 1.5-hour drive to Anda </li>
            <li> Check in </li>
            <li> Relax </li>
        </ul>
        <p> All in all, the day was relaxed, even though not all points on the list worked out. Everything went smoothly until checkout. There we asked when the mall would open today, since it's Good Friday. The shops here in the country are actually open every day, and I've already seen some shops advertising that they're always open. Unfortunately, "always" didn't include the Easter holidays (here Maundy Thursday and Good Friday). The lady at reception informed us that the malls are closed today. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4910.jpg" alt="One last nice photo on the beach of the resort">
        </div>
    </div>
    <div class="col-md-12">
        <p> So we simply skipped this point on our list and enjoyed the beautiful hotel complex for another hour. We took a few more photos and savored the delicious pineapple smoothies one last time before an Uber picked us up and took us to the ferry. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>

    <div class="col-md-6">
        <p> At the harbor and on the water, everything went smoothly again. Steffi was so deeply relaxed and dozed on my shoulder during the crossing. When arriving in Tagbilaran, three older Korean women tried to communicate with Steffi somehow. Unfortunately, that didn't really work because the women spoke little to no English. Steffi looked at me for help, but even I hadn't understood them. We could only exchange information about our nationalities. </p>
        <p> At the pier, there was already a young man with a sign bearing my name. As always, this gentleman was very helpful and brought us to a stylish modern minivan. We drove off comfortably, and the young man also drove very considerately and leisurely in the city. He also explained to us that every place on the island has a procession of their saint figures today. We saw the first of them directly in Tagbilaran. As soon as we left the city, the driver gave more and more gas. Country road here doesn't mean you should accelerate, because there are always houses, hotels, and shops along the roadside. Nevertheless, the driver drove faster and faster. It felt like we were going 130-150 km/h. But Steffi says we were never faster than 110. Since it was getting dark, it just felt faster. In between, however, we had to slow down again and again when a procession crossed our path. I was damn grateful for these breaks. </p>
    </div>

    <div class="col-md-12">
        <p> It was easy to see that the driver knew the streets very well, and he knew almost exactly at which points the road allowed higher speeds. Nevertheless, it was pitch dark and there were people on the street far too often. </p>
        <p> Oh well. After a little over 2 hours, we finally arrived at the Blue Star Dive Resort without an accident. In the meantime, only my perceived age has doubled. As always, the check-in was quick, and the staff was helpful, taking some bags and accompanying us to our room with a terrace overlooking the garden. A well-equipped room, and the terrace was also impressively large. </p>
        <p> Steffi was already unpacking the most important things when I briefly went to reception to ask a quick question. When I came back, Steffi was standing behind the sliding door and waved me over. When I got closer, there was a small cat in front of the door hissing at Steffi through the window and not letting her out. I grabbed my chair and chased the animal away. After a few minutes, the animal was back at the door. We then simply decided to ignore the animal. That helped. The cat disappeared again and didn't show itself at our door anymore. </p>
        <p> We spent the evening on the terrace, watched a movie, and enjoyed our vacation. </p>
    </div>

</div><!--=== End Post ===-->
