---
layout: blog/en/travelblog
title: "12/23/18 Night at the Museum"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan's skyline in black and white in the early morning"

author: "Steffi"

overview:
  intro: "Since we were awake much too early again, we headed to the Staten Island Ferry, because this time we wanted to enjoy the sunrise from there"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_4402.jpg"
    alt: "Sunrise over Brooklyn"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }}. Stupidly we forgot that it was Sunday and there are different departure times. So the sun rose without us and we took the ferry at 7 AM instead of 6:50 AM. </p>
        <p> The crossing was still nice and we even had a bit of pink sky. Unfortunately, it was way too cold again, so even the layering principle including gloves didn't help, so we retreated inside for the last part. When we arrived on Staten Island, we took some photos of the New York skyline and then wandered through the empty streets until we ended up in a supermarket. </p>
        <p> There we got some things for December 25th, because everything should be closed then. In the meat section we discovered the "Boar's Head" brand and I got really excited. Could I get my beloved sauce here? We actually found what we were looking for at the fresh counter, I grabbed it joyfully and then came the disappointment: "Sell Before 11/22/18" (for sale before November 22nd) alternative until 12/02. Really now, I'm so close yet so far??? Darn!!! But taking expired items is not possible. We then checked online and found a meat market a bit further away. Well, it's a possibility, so we headed there, because the Boar's Head brand was already visible in pictures online. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Once in the shop, there was even a special counter just for Boar's Head products. The sauces were there too, but unfortunately mine wasn't. We then asked the seller if she had any more hidden away. Unfortunately, she said no, but typically American, she went above and beyond and called the supplier and ordered the sauce for me. It should arrive by noon, but at the latest tomorrow morning. So we'll go back to Staten Island tomorrow! </p>
        <p> We bought some of our favorite brand here and were allowed to try some typically American products. Yummy!!! </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-usa/small/IMG_7020.jpg" alt="It's hard to tell which animals are real and which are drawn in the picture">
        </div>
    </div>
    <div class="col-md-6">
        <p> Back at the ferry terminal we treated ourselves to a fruit smoothie, since we weren't cold enough yet. Later on the ferry there was a short video call with my mom and I showed her the NY skyline. </p>
        <p> Due to acute frostbite, we ended up back at the hotel after arrival and had breakfast and channel surfed through the TV. </p>
        <p> Finally revived, we took the subway to 79th Street, because that's where the American Museum of Natural History is located. You might know it from "Night at the Museum" with Ben Stiller. Before we went to the entrance, however, there was a video call with Basti's mom, including a hot dog meal. Unfortunately, I found the sausage inedible and so did Basti. </p>
        <p> After the call, we saw the main entrance to the museum and found it too crowded, so we tried a side entrance that we had passed before. There we got right in and then checked our jackets and off we went exploring. This museum has no overview at all and finding something specific is quite difficult. However, you have to say that the displays with the animals are very well done and you can't tell whether they're real or not. </p>
    </div>
    <div class="col-md-12">
        <p> By this time it was so late that we wanted to leave because we still wanted to go up to the observation deck of the new World Trade Center. So we left the museum. When we arrived at the One World Observatory, we were disappointed to learn that there was currently no admission due to overcrowding. </p>
        <p> So we got in line, redeemed our card and got a ticket for 5:45 PM. To pass the 1.5 hour wait time, we sat down in a café in the middle of the Westfield Shopping Center. It was correspondingly loud and hectic, so I put on headphones and Basti worked on the travel blog. </p>
    </div>
    <div class="col-md-6">
        <p> At 5:40 PM we were back at the doors of One World and could go right through. This was followed by security checks and the elevator ride. At an astonishing 41 km/h, it takes just a few seconds to reach the 102nd floor. From there you're led to a mandatory video presentation and you stand relatively crowded in front of a gray wall with skyscraper setbacks. Various pictures of NY were shown here. At the end, the wall slowly rose and suddenly you were looking over the New York skyline. </p>
        <p> That was really cool! However, the wall went back down, enough lining up, and it was on to the next room. Here you could rent iPads for $15 that explained the skyline and flew over it via virtual "helicopter". Fortunately, you could skip the room, so we went on to the 101st floor and finally enjoyed the view. However, from the 101st floor you couldn't go directly to the disc, so we went down another floor and were therefore on the 100th floor. Here you could lean directly against the window and look through it reasonably well, without reflections from the lighting and pictures. Unfortunately, no tripods are allowed at the top, so the selection of pictures will be very limited. We circled the view once and then let the view of Hugh Jackman's house sink in again before we went back down for almost 30 minutes. </p>
        <p> Now the subway took us to the Saks department store. Here the building front should be decorated for Christmas. If we don't find Christmas anywhere in this city, maybe here. And indeed, when we arrived, the light show was running and accordingly there was more or less a standstill on the sidewalks. The show was really chic and finally there was something Christmas. Contrary to all the pictures from television, this is total cheese. Manhattan and Christmas... ha!!! There are 2-3 points here that are Christmas and then it's over. Mönckebergstraße in Hamburg offers more decoration. </p>
        <p> Finally, we continued in the sliding squeeze to the Rockefeller Christmas tree and its ice rink in front. Unfortunately, there was extreme overcrowding here, as expected, so you couldn't necessarily enjoy the sight. Thinking about getting to the ice rink, you didn't need to. So we took a few pictures and pushed towards the exit to get to Times Square. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-usa/small/IMG_4431.jpg" alt="The waterfalls of the old World Trade Center from the 100th floor of the new One World Observatory">
        </div>
    </div>
    <div class="col-md-12">
        <p> We reached this after a short walk, of course it was crowded, but it's still somehow cool here. </p>
        <p> We wandered through some shops, still got something for the winner of the WhatsApp campaign "Love is Stronger than Hate" and then slowly made our way back to the hotel. </p>
        <p> Good night and until tomorrow. </p>
    </div>

</div><!--=== End Post ===-->
