---
layout: blog/en/travelblog
title: "04/02/2018 Bohol Island Tour"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Bohol
  - Anda

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

author: "Steffi"

overview:
  intro: "The island tour was up today and so the alarm clock rang for us again. When we were finished, we heard a horn"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5010.jpg"
    alt: "The lettering i love chocolate hills in Carmen"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} on the hotel site and a look through the curtains confirmed that our car was there. We were kindly welcomed by our driver (I forgot the name, something with E) and we made ourselves comfortable on the middle bench of the vans. </p>
        <p> Upon request, he informed us that first we head for the Chocolate Hills because they are the most away. The journey should last almost 1.5 hours and led past many beautiful rice fields, where some of them even worked with water buffalos. Unfortunately, there were no holding options in exactly these places, so that we could not capture anything. There were still tons of rice fields and this time we could even hold. The driver even wanted to keep the men and women from work so that we could take pictures, but we thankfully rejected this. At some point the street led us past a lake and in the end the driver stopped and showed us the "Parlar Staudamm". We walked across the street and of course took pictures. The dam seemed to shine golden and the driver told me that this lake or the adjacent river supplies the entire fields further north. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4973.jpg" alt="Rice fields between palm trees">
        </div>
    </div>

    <div class="col-md-12">
        <p> Furthermore, the journey took us past several rice and corn fields, pineapple and watermelon plantations and of course many palm trees with coconuts. Everything was sold by local residents on the side of the road and at such low prices that you would like to take everything with you. And then we approached the Hills over the town of Carmen. Incidentally, the Chocolate Hills are not made by any creative person, but were created only by nature many thousands of years ago. It is approximately 1,200 up to 120 m high cone -shaped hills. These are overgrown with ferns and meadows and look out of palm forests at the top. In late summer the hills dye brown, then this looks like a giant pack of chocolates. </p>
        <p> It was "more tourist" around us and then we already turned in on the left, past many souvenir shops and drove up one of the hills. The driver pressed us a piece of paper and his license plate, explained that we should let the man know over there and he would come up again to collect us. We were a little confused, undecided whether we have to pay admission or what else and so we first took pictures of the area behind the shop. There you could already see some of the hills! Despite several clouds, the sun burned quite a bit and so we went into the snack bar and also saw that we have to pay "admission". You can't actually call this admission, because you simply pay the fee for the vehicle. So the note from our driver! </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-6">
        <p> Fee of 50 peso per nose (approx. 80 cents) paid and then it was called 214 steps upwards at monkey heat. Fortunately, it wasn't that much going on, so we could enjoy the view and take pictures. Unfortunately, the sun burned so badly that we quickly searched the shadow and made our way down again quickly. There we briefly dawned through the souvenir shops until we stopped the restaurant chilled in the air conditioning systems and drank something first. Then it went back into the heat and Basti had the driver called. </p>
        <p> Back in the car it went down and since I had not yet found a chic shirt, the driver stopped again at the foot of the hill. Unfortunately, I didn't find what I was looking for here either and so the journey continued. This time we landed in the task, or also called Koboldmakis. These are small (max. 16 cm), nocturnal monkeys living on Bohol. Unfortunately, almost not at all in the wild, so the journey took us to the "Tasier Conservation Area" in Loboc. So far I only knew the "Tasier Sanctury" in Corella from the Internet, so I was excited to see what awaited me here. We once again solved a laughing entry of less than 100 peso (&euro; 1.70) per nose and off we went. We were there shortly before the end of the day and so there wasn't much going on. Everything was really very dilapidated and in conversion or simply untidy and the question arose how to find these tiny animals. </p>
    </div>

    <div class="col-md-12">
        <p> Then we saw an employee a little further. These are always exactly where an animal is sitting, otherwise you would mercilessly walk past the animals. In addition, the employees also take care that visitors do not get too close to the animals. In the end we were maybe 20 minutes on the premises and saw 9 animals that almost hidden in the branches. </p>
        <p> The next stop was the Loboc River. The way there led us through the man -made mahogany forest, where some people stood on the side of the road and took photos. It continued through some hairpin curves down to the river. There should be a boat trip including buffet for us. Fix the 550 peso (&euro; 8.50) p. Person paid and we were already able to go on the boat and were accompanied to a table. I looked around at the buffet and found it good and sufficient. So far I haven't been so hungry, but the buffet changed it very quickly. There were also two musicians on board and entertained us while driving. Although it was relatively narrow on the boat, everything went relaxed and even led us past locals who made their laundry in the river or just splashed in the water. Then we put on a stop and were entertained by locals with traditional singing and dance performance. At the "end" of the navigable Loboc River we also saw the adventure park, where the Zipline carries out. This is a kind of cable car, only that you are strapped in lying down and flies across tree tops and river. </p>
    </div>

    <div class="col-md-6">
        <p> We turned and it went back when the pineapple and watermelon were eaten. Meanwhile, Basti tried the Filipino milk coffee variant - consisting of coconut jelly with coffee taste in milk. Arrived again at the investor, we went to one of the Souvenir Shops again and I finally found a shirt! Unfortunately it was late, so we already thought that we had to drop the butterfly station, since everything closes very early here. On the car, our driver told us that we are now heading for them. Cool! </p>
        <p> The journey did not take very long and shortly afterwards we ended up in the butterfly facility, but somehow it looked different when I knew it from the Internet. And then I already saw the signs at the entrance that we were elsewhere. I also read posters from giant phytons etc. here, but since I wasn't interested, I had not selected this as a goal when planning the travel. We had landed at the "XzooTic Animal Park"! </p>
        <p> Admission was laughable again and so we went in and made a damn big mistake without knowing it until then. A young Filipino accompanied us and started explaining things and advertising for the snakes. But we absolutely wanted to see the butterflies and headed for them. </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5027.jpg" alt="Loboc River Cruise with noon buffet">
        </div>
    </div>

    <div class="col-md-12">
        <p> The area was actually very nice and we were able to test the macro function of the new camera well. The guide kept pushing, but we didn't let ourselves be rushed as much as he would like. After we had everything, we went on and ended up in the bare horror. </p>
        <p> Very small cages awaited us with bare concrete or tile floor, without any greenery, branches, water or other. But a lot of garbage in the cages and tourists who embarrassed the animals in the cages and took photos. Our companion could not understand that we did not want all of this and were looking for the width as quickly as possible. Our driver naturally wanted to make us happy with the butterflies and so we didn't say anything with him. However, we already decided that we have to work. </p>
        <p> Since this was the last stop on our day tour, we now went back towards the hotel. The journey lasted almost 1.5 hours and we actually ended up happily from the beautiful day, but very shocked by the last stop again in the resort. We thanked the driver, put a tip in his hand and first gone to the room. In the meantime I went on Facebook and searched for this supposed zoo and left a bad rating with various keywords so that it also opened up in all important organization. Basti then roughly translated them into English and also sent them directly to some organizations. Something needs to be done here and we hope that someone will work there. </p>
        <p> We then made ourselves comfortable in the hotel restaurant and then it was time to pack, because tomorrow there will be a change of hotel again. Good night. </p>
    </div>

</div><!--=== End Post ===-->
