---
layout: blog/en/travelblog
title: "12/20/18 Strolling through Manhattan"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan's skyline in black and white in the early morning"

overview:
  intro: "As expected, the jet lag hit us hard. Shortly before 1 AM (7 AM in Germany) I was wide awake. Darn, way too"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_6701.jpg"
    alt: "The display in the Essen restaurant"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} early!!! </p>
        <p> I managed to force myself to fall back asleep, but by 4:30 AM it was definitely over. I grabbed my laptop and sat down in the lobby. Steffi joined me shortly before seven. She couldn't sleep anymore either and was already showered and ready to go out. We quickly got a tourist pass that allows us to visit 7 different attractions here in New York and save quite a bit of money. </p>
        <p> For breakfast, we went to a completely unusual place. The name was "Essen". It's a mix between a train station snack bar and buffet restaurant. They have a huge selection and almost everything costs $11 per pound, whether it's scrambled eggs, pancakes, or wraps. </p>
        <p> After breakfast, we made our way through Wall Street to the new World Trade Center buildings for the 9/11 Memorial Museum. This was first on our list. It's beautiful and really spacious. It's completely underground, at the still existing and visible foundations of the two skyscrapers that were brought down by terrorists with two large passenger planes on September 11, 2001. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> The exhibition goes into great detail. It's actually several parts. In one room, they explain in detail how the timeline of events unfolded. If you want, you can even listen to what happened on board the fourth plane that crashed in the field. They play recordings from the cockpit and air traffic control, as well as recordings of people who tried to reach their loved ones and left messages on answering machines. It's quite moving, I tell you, because this time you already know how it ended. For this reason, you'll find tissue dispensers every few meters. Destroyed fire trucks that were hit when the buildings collapsed are also displayed throughout. Additionally, friendly staff stands at every corner, willingly sharing background information and stories about the various items where you are. </p>
        <p> After Steffi bought a nice T-shirt with the print "Love is Stronger Than Hate", we started looking for something to eat. On our way to the next Subway sandwich store, we quickly stopped at T-Mobile to get internet for my phone. It's kind of stupid without internet. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-usa/small/IMG_6784.jpg" alt="Pentatonix on stage">
        </div>
    </div>
    <div class="col-md-6">
        <p> In the afternoon, we strolled through the streets of Manhattan and passed by Chinatown and Little Italy. Unfortunately, it started to rain, so we ducked into a small restaurant and enjoyed crème brûlée, "bomba" (ice cream with chocolate coating), cola, and hot chocolate. Then we made our way to Macy's, because Steffi wanted to visit the Christmas department (Santaland). Unfortunately, no one had told us beforehand that you need to make reservations there, so we were turned away at the entrance. </p>
        <p> Then we moved on to Times Square like wet poodles and looked around at the Hard Rock Cafe, Bubba Gump Shrimp, and of course the Disney Store. Here, however, our paths had to separate. I still had a ticket for a Pentatonix concert this evening. An a cappella band from the USA. The concert was really great and in a beautiful theater (Beacon Theater), with lots of splendor and gold. Meanwhile, Steffi looked around the M&M store and then headed back to the hotel. </p>
        <p> After the concert, I made my way back to the hotel. It was still raining and the wind was getting stronger. In front of the hotel, I had real trouble moving forward because of the storm. Well, let's hope it gets better tomorrow. Steffi reported that the TV program was talking about storm surge etc., but it didn't look so bad... we'll see! Good night. </p>
    </div>

</div><!--=== End Post ===-->
