---
layout: blog/en/travelblog
title: "24.03.2018 Apo Island"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Apo Island
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

author: "Steffi"

overview:
  intro: "Today the alarm clock actually rang, because by the Dauin Dive Café, a diving and snorkeling tour to Apo Island organized for us."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4794.jpg"
    alt: "Nemo family picked up while diving."
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} There should be a lot of turtles there, which you can even see well as a snorkeler. We should be at the caf&eacute; at 7:15 hp, but hanging behind for 5 minutes. We were currently turning the 3rd curve from the hotel, when we heard something bigger coming from the front. So we make room and cheeky ... The driver from Caf&eacute; Bog Bog around the corner with Minivan. &amp; OpenCurlydoublequote; uh Huch what do you do here, for example because of us? &amp; Closecurlydouble odds; This was clear to his watch ... so much for German punctuality </p>
        <p> After Basti put together his diving matters at the caf&eacute;, we had packed the noon, a few kilometers went north, where the driver put us on a different diving center. Around us, various Filipinos and Beluden whispered a small motorboat with the equipment and brought it to a larger Banka boat. "A&auml;&auml;&auml;h, should I really go in there everywhere and above all climb on the waves ???? Maaaaaaaammmmii". After everything was loaded, we also followed. So roll up the pants, walk through the water and over extremely slippery stones and somehow crawl into the small motorboat. That would be done before. After a short trip we arrived at Banka and I was stupidly the first to over. So I couldn't even take an example on others. Two Filipinos on the top of the Banka and one in our boat gave me instructions and, above all, helping hands and then it was just a waiting for the wave. This made our motorboat drift so high that you came across the other boat quite well. Juhu salvation and above all dry !!! </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> The journey went quite calmly (thanks to Travacalm tablets) and it turned out that the girl, which went on board with us, is also German. We talked to ourselves and maybe even a company contact for Basti has jumped out. That will show up in Germany! After almost an hour we put on APO Island and it was ready to dive. Hmm, but where is my snorkeling guide? This was organized especially to me and should come to our boat by Apo Island. Suddenly there was one in front of me, which has been with us all the time. That from the island did not appear, so someone else jumped in. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4787.jpg" alt="Steffi and Sebastian on Banka Boat for Apo Island">
        </div>
    </div>
    <div class="col-md-6">
        <p> Well, it doesn't matter ... the main thing is that I came into the water too! They actually pressed a vest in my hand and also explained to me that I had to hold on to the lifeguard that is pulled by the guide. Really now??? No sooner said than done and unfortunately one, next to Frankland's Iceland in Australia, who experiences bad snorkeling trips. No time to watch, so deep water, which was almost impossible anyway and then too much and above all high waves. Then the guide finally stopped and pointed down Seasnake! Please what, did I just interrogate?!?!? I look down, and there is actually a cursed long sea snake exactly below us on the seabed. </p>
        <p> Wait, they are poisonous ... I asked the guide ... yes very poisonous ... cursed - now I was in a hurry. Almost a picture was taken while starting off and the next animal was done on my "I've already seen" list! Arrived again at the boat, unfortunately the next nasty surprise greeted me. Much too big fire jellyfish with eternal tentacles ... right at the exit ... well !!! I don't know how, but I got out of the number in a salvation and then took a breather. Then I am back to the guide and clarified it with the sea snake. This is very common here and your poison is comparable to that of the Cobra. Supposedly, however, these are not very aggressive ... more must happen than just snorkeling or diving. </p>
    </div>
    <div class="col-md-12">
        <p> In the meantime, there was actually a rather large turtle on the surface of the sea, but unfortunately I was too slow with the camera or the turtle was gone too quickly. Basti then came back from his dive and reports that he saw 2 turtle. It was clear again; Everyone sees one, only me not. At least underwater! We changed the berth, I granted Basti a short breather and then he had to snorkel. We agreed with the guide that we snorkel and Basti was able to persuade the boys that I can do in the water without stupid vest. After all, I can swim from an early age! </p>
    </div>
    <div class="col-md-6">
        <p> Since Basti hung on the rescue ring, it was not even noticed that I couldn't hold on this time, but could enjoy my freedom. Nevertheless, there was no time to watch here either. Once on the beach, he was pretty chic and I finally got turquoise water and pictures. On the way back, Basti nudged me and only said "sea snake" and I looked down. Unfortunately, the look went wrong, because this was right at eye level. In no time I let myself go and changed the other side to Bastis ... stupidly messed up the photo. Uff ... what an adrenaline boost! As soon as we had left the snake, quite a few jellyfish appeared. From miniature and funny bright to much too big. From it, the fun was finally over for me ... I just can't do with jellyfish! At least we got out of the matter safely. Then we were already on the boat and again there was no turtle to see for me. So much for: everyone sees turtles here! </p>
        <p> After the rest of the divers were back, we changed the berth again and the waves also showed that they can even higher than before. The desire to snorkel had passed anyway, my guide also looked honest after a Filipino lunch break and so I sunbathed and relaxed at the hinge of the ship. Unfortunately, this was not very long, because the waves went higher and higher and there were thick black clouds for Filipino conditions. The &ldquo;mainland&rdquo; could not even be seen. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4796.jpg" alt="Steffi and Sebastian on the beach of a small side bay by Apo Island">
        </div>
    </div>
    <div class="col-md-12">
        <p> When the divers were all back, it went back again and my snorkeling guide put on the dinghy to Apo Island to pay the fees for snorkeling and diving. This had to struggle with the waves and the nutshell and we were told that we should rather sit down for the return trip. </p>
        <p> We did this too, but somehow I was very unfavorable, because the waves spilled over to me. So the boys made the tarpaulin, but unfortunately they didn't keep them with the Velcro. After the next shower, I sat on the other side and done. From then on, only Basti's arm got wet, because he tried to hold the tarpaulin. Arrived again at the starting point, our driver from the Dive Caf&eacute; was waiting for us. Once there, we first washed our equipment and then ordered something to eat. Unfortunately without having made the bill with the mosquitoes! These were so aggressive that even our plate was full of them. We then moved inside with our meals, and the boss gave way to the mosquito smoked sticks around us. Back in the hotel we just made ourselves fresh, dropped to the bed and watched another film. </p>
    </div>

</div><!--=== End Post ===-->
