---
layout: blog/en/travelblog
title: "12/31/18 Rockefeller Center"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-from-rockefeller.jpg"
    alt: "The skyline of New York towards Downtown from Rockefeller Center"

author: "Steffi &amp; Basti"

overview:
  intro: "New day, new luck. This morning we packed all our things properly one last time and strategically distributed them across all our bags,"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_7576.jpg"
    alt: "The two of us at the top of Rockefeller Center trying to look healthy"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} because tonight we're heading home. </p>
        <p> But not until late tonight. So we have time to see a few more corners of New York all day. Unfortunately, our colds were still there and we had to take it slow. First, we got tickets for the observation deck at Rockefeller Center. Since we still had 1.5 hours until we could go up, we looked for something to eat and drink. But only short walks because of this stupid cold. It's really annoying. </p>
        <p> When we were finally allowed to go up to the top 3 floors of Rockefeller Center, it started to rain lightly. Nevertheless, we took the chance to call our parents via video call from up here and share the view with them. Unfortunately, the connection had other ideas, so we had to cut it short. </p>
        <p> After we had our fill of the view, we went back down and hunger made itself known. This was to be satisfied by redeeming the next point on our sightseeing pass. Because with this, you can also stop at certain restaurants and treat yourself to something nice. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> In this case, we were drawn to an Italian restaurant near Times Square. Here we had pizza and pasta - both not bad at all. </p>
        <p> Unfortunately, the weather didn't get better, nor did our well-being, so we headed back to the hotel to get our suitcases. Here it was time to open the suitcases, get out clothes and toiletries, disappear into the hotel bathroom, change and freshen up. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-usa/small/IMG_7586.jpg" alt="The two of us, completely exhausted at Amsterdam Airport">
        </div>
    </div>
    <div class="col-md-6">
        <p> After we had done all of this, our ordered Uber arrived and took us to the airport. </p>
        <p> When checking in, there was hope for an earlier flight, so we hurried to get to the counter in the security area. Unfortunately, it turned out to be false information when we arrived, so we still had plenty of time. We used this time to search for tissues, which failed, so we had to make do with napkins from the restaurants. </p>
        <p> Getting something to eat was also unsuccessful, as it was simply too outrageous for us. To charge almost €15 for a simple roll with cold cuts... sorry, we're out. </p>
        <p> Eventually, boarding started and we were able to take our seats. </p>
        <p> After we had done all of this, our ordered Uber came and took us to the airport. </p>
        <p> When checking in, there was hope for an earlier flight, so we took our legs in hand to get to the switch in the security area. Unfortunately, however, it turned out to be a misinemona when we arrived, so that we still had enough time. We use this with the search for handkerchiefs that failed so that we made the restaurants easier for their napkins. </p>
        <p> Something was also unsuccessful to eat, as it was simply too intangible for us. To request just under &euro; 15 for a simple roll with a cut ... Sorry, we're out. </p>
        <p> At some point the boarding started and we were able to take our places. </p>
        <p> Basti tried to sleep and with me, almost immediately, migraines appeared immediately when putting. My head was just before the bursts and I was also stupid. So first look into the front seat after the emergency bag, luckily discovered it, so try to take your head out to sleep. Unfortunately, this did not work at all and so it became a flight again without sleeping cleverly. </p>
        <p> Fortunately, my migraine went halfway at some point, so that I couldn't see reasonably clearly, which was welcomed to the new year in the plane at 5 o'clock. Champus was served and some New Year's song was on the plane. </p>
    </div>
    <div class="col-md-12">
        <p> The display also told me that we were somewhere above the Sankt Lorenz golf in Canada. Landed in Amsterdam, we were still worse than right, so that the waiting time was drawn badly. </p>
        <p> When we finally arrived in Hamburg, we went through the red channel of customs. Here we wanted to register our too many too many things. Due to the low amount, however, we would be waved through and were able to jump into my mom's available car. She preferred to bring us back home, where we tortured ourselves until early evening and then finally fall into bed </p>
        <p> Conclusion: <br> It was more expensive than expected, it was more beautiful than expected and damn ... I'm still not finished with New York !!! </p>
    </div>

</div><!--=== End Post ===-->
