---
layout: blog/en/travelblog
title: "05/27/19 Letter Salad Part 3"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Serbia
  - Belgrade
  - Germany
  - Hamburg
  - Munich

headline:
  image:
    url: "/assets/img/blog/2019-belgrade/sunset-at-danube.jpg"
    alt: "Sunset over the Danube in Belgrade"

author: "Steffi"

overview:
  intro: "Breakfast was louder than usual this time and, above all, crowded. Not only were the IT people there, but also the fighters from the"
  image:
    url: "/assets/img/blog/2019-belgrade/IMG_8482.jpg"
    alt: "Steffi on her birthday at the Novak restaurant"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Kendo European Championship, which was also taking place this weekend, were in the breakfast room. </p>
        <p> Actually, we had thought about going out a bit today, but unfortunately, the public transportation network is so limited here that you don't even need to think about it. Even Google refuses to suggest routes here. It's just not a country set up for tourists. </p>
        <p> Due to the rain, we were drawn back to the shopping center. It stopped raining immediately after leaving the hotel, but we didn't have anything else planned anyway. After the first quarter, we ended up in a café and let Basti work on the computer for a while until we tackled the rest of the center. </p>
        <p> Then our path led us towards the Danube, where we walked for a long time despite the drizzle. On the way there, we remembered that we had to check in, which we then did. At some point, we turned back towards the hotel because there was a business district on the way where you could supposedly eat well. At least it smelled good on the way there. We ended up at an Asian snack bar, and while the food was very tasty, it was unfortunately completely drowned in sauce. But it didn't even cost us €4 for both of us. For dessert, we found some shops, got an ice cream each, and then watched a movie in our hotel room. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> If it's a birthday, you should fulfill a wish. So in the evening, we ended up at "Novak" again, the restaurant next to our hotel. This apparently belongs to the father of Novak Djokovic, the current world number one in tennis. All the trophies are here, and you can buy various fan merchandise. But apart from that... the food is very tasty here, the waiters are friendly, and I wanted to have a crepe here at the end. </p>
        <p> However, the crepe was only for sharing with Basti because suddenly I was more in the mood for minestrone. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2019-belgrade/IMG_8510.jpg" alt="The lobby of the Hotel in Belgrade, Serbia">
        </div>
    </div>
    <div class="col-md-6">
        <p> In the morning, we had a big breakfast one last time, packed the rest of our things until our driver picked us up for the airport at 10:30 AM. The airport is just as expensive here as everywhere else in the world. But there's one difference we hadn't encountered before: here, the security check takes place directly at the gate. </p>
        <p> After spending our last Serbian money, we moved to the gate. Shortly after, it was announced that we were delayed. But it was still suitable for our connection! </p>
        <p> Shortly after that, the next message came in the Lufthansa app that we wouldn't make our connection in Munich and that we should report to the service desk. Great! </p>
        <p> We rolled out of the gate 30 minutes late and finally headed towards Munich. We had plenty of space, on one hand because we were sitting in the emergency exit row, and on the other hand, the space between us was free and the plane was quite empty. After landing in Munich, we got a message via the app that we were rebooked to the 4:15 PM flight (1 hour later). Great, not even 15 minutes until boarding. When we started, we met the flight attendant who we had already had on the outbound flight on Thursday. So we were greeted with the words "We know each other. We just flew together." Fascinating! </p>
        <p> In Hamburg, after getting our suitcases, we first headed to our regular restaurant because our empty stomachs needed to be filled. </p>
    </div>
    <div class="col-md-12">
        <p> Conclusion of Belgrade/Serbia <br> Steffi: Not again! Just not my direction in Europe. <br> Basti: Gladly again for this conference. But not specifically for vacation. </p>
    </div>

</div><!--=== End Post ===-->
