---
layout: blog/en/travelblog
title: "03/16/19 Canada Brothers Day 9"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Canada
  - Montreal

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "The skyline of Toronto seen from the plane"

author: "Matze & Basti"

overview:
  intro: "Today was the highlight of our trip. The conference organizers took the speakers and their assistants (that's me) to a Sugar Shack."
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_7873.jpg"
    alt: "The typical yellow school bus that took us to the Sugar Shack"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Finally, some Canadian culture and tradition. Like so much in Canada, this has to do with food. Because North Americans are really into their food. I'm only surprised that people here aren't fatter than in Germany. </p>
        <p> One of the typical yellow school buses took us an hour out of Montreal and into the forest. There's still a lot of snow here. We were transferred to a horse-drawn sleigh and found ourselves at a few wooden cabins. This is where maple syrup is made. Small metal buckets hang everywhere on the tree trunks. An inspection shows that the raw tree sap from the sugar maple runs into them. This will later become the syrup. </p>
        <p> In one of the wooden cabins is a large hall that's a bit reminiscent of a Bavarian beer tent with a fireplace. Simple benches and tables and good mood. But instead of brass music, there's violin and guitar. I prefer it that way too. </p>
        <p> The Canadians take this Sugar Shack very seriously. So it's not a tourist event. A waitress briefly explains what to eat, and then it starts. Large bowls with soup, meat, mashed potatoes, and more meat are passed around. There are pancakes for dessert. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> So not for people with dieting obsessions, because everything you eat or drink there MUST!!! be covered with maple syrup. The only exception the Canadians make is the Sugar Bun at the end. It's pure caramel and so sweet that no one can eat more than a mini piece. No wonder this event is also called a diabetes development center. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2019-canada/small/IMG_7885.jpg" alt="The maple syrup in the snow">
        </div>
    </div>
    <div class="col-md-6">
        <p> Outside, maple syrup is poured into the (hopefully) clean snow. Then it can be wrapped around a wooden stick and you have a lollipop. However, my sugar needs are covered for now. We then looked around the grounds a bit, went into the souvenir shop before sliding our way back to the bus. </p>
        <p> Back at the hotel, we decided to take a short break before we wanted to continue exploring Montreal's underground passages. Well, from just briefly, it became several hours where we both lazed around and discussed God, the world, politics, and the press. </p>
        <p> At some point, we still set off and walked through the confusing corridors, browsing from shop to shop. After eating something in a food court, we tried bubble tea like here. It turned out to be sugar water with lots of artificial flavors in which some kind of soaked gummy bears swim. Very disgusting. Basti's was probably better in terms of taste. </p>
        <p> Back at the hotel, we washed down the artificial taste with beer and cocktails, debated a bit more, and eventually made our way to bed. </p>
        <p> Good night out there. </p>
    </div>

</div><!--=== End Post ===-->
