---
layout: blog/en/travelblog
title: "03/17/19 Canada Brothers Day 10 & 11"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Canada
  - Montreal
  - France
  - Paris
  - Germany
  - Hamburg

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "The skyline of Toronto seen from the plane"

overview:
  intro: "So today was it again. The last day of our little adventure had arrived. I was feeling much better by now."
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_7909.jpg"
    alt: "The metro on wheels in Montreal"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} After we had packed our suitcases and stored them at the entrance, we made our way to Saint Helen's Island by metro. According to Google, there should be something to see there, and Matze wanted to maybe take a photo or two of one of Montreal's main bridges. When we arrived at the platform, we discovered that there were no rails there and the metro runs on regular wheels here. After some googling, Matze found out that normal steel wheels couldn't handle the necessary inclines that would have been required here in Montreal. We're also in the French part of Canada, and that's why they run the same trains as Paris out of solidarity. "The Canadians again." </p>
        <p> When we arrived on the island, we found that there wasn't much going on here today. Most of the footpaths were completely hidden under thick layers of ice. We only took a few photos and then decided to head back. It had become quite cold again overnight. Uncomfortably cold. </p>
        <p> Back in the city center, we wandered through the shopping centers, ate something, and treated ourselves to a great dessert in a train station café. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Then came our ordered taxi, which took us to the airport. Once there, we found that we were there way too early and the check-in counter wasn't open yet. When we looked at the displays, we were also informed that our flight was delayed. Great. Oh wait a minute. How long do we have for our connection in London? Only 1.5 hours. Oops, then we have a little problem now. </p>
        <p> As soon as the counter opened, we were already facing an extremely helpful lady who did everything to help both of us. She informed us that we wouldn't make our flight in London, and that's why British Airways had already resold our two seats. The next flight from London to Hamburg with available seats would only have been 10 hours later. Really? The friendly lady really gave it her all. She tried many other options and even with other airlines to get us to Germany. In the end, she had a solution that didn't sound so bad at first glance. She rebooked us on a flight from Montreal to Paris with Air France. From there, it should continue to Hamburg after a short layover. We would then have landed in Hamburg with just over an hour's delay. Of course, we immediately asked for a free upgrade. Unfortunately, we weren't lucky today and had to fly economy class. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2019-canada/small/IMG_7902.jpg" alt="Matze while packing">
        </div>
    </div>
    <div class="col-md-6">
        <p> Matze wasn't pleased when he squeezed into the narrow aisle seat. At least the seat next to him was free. The movie selection on this 7-hour flight wasn't worth using, and I don't even want to start about the food. We both actually thought that the French were into good food. Unfortunately, there was no sign of that up here. </p>
        <p> When we arrived in Paris, Matze almost got into a fight with a lady from security when she started roughly pulling Matze's expensive camera equipment from his backpack. When we finally made it through passport control and some crowds to the gate, there was another delay. At the moment we were supposed to fly, the plane was just rolling up to the gate. Matze is definitely fed up with the French. Completely fed up! </p>
        <p> In Hamburg, a rental car was waiting for Matze again. Unfortunately, a warning light came on when starting. So back to the counter to swap cars again. Of course, everything was no problem and ran smoothly here too, but it took more time. </p>
        <p> We were actually supposed to arrive in Hamburg at noon. When we drove off with the rental car, the sun was already hanging very low over the city. </p>
        <p> Apart from a stupid cold and the problems on the way back, everything else in Canada worked well. Actually, you'd have to go there again if it weren't so cold. To see more of the country and maybe get a bit more into the mountains. If only it weren't for that language (French). Just creepy. </p>
        <p> Greetings to all. </p>
    </div>

</div><!--=== End Post ===-->
