---
layout: blog/en/travelblog
title: "05/23/19 Letter Salad Part 1"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Serbia
  - Belgrade
  - Germany
  - Hamburg
  - Munich

headline:
  image:
    url: "/assets/img/blog/2019-belgrade/sunset-at-danube.jpg"
    alt: "Sunset over the Danube in Belgrade"

author: "Steffi"

overview:
  intro: "Today we went straight from work to the airport, because Belgrade was waiting for us. Unfortunately, I had been suffering from terrible headaches all day."
  image:
    url: "/assets/img/blog/2019-belgrade/IMG_5577.jpg"
    alt: "The IN Hotel from across the street"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Not even a painkiller helped. So at the airport, I had something to drink and eat, including another pill. But it didn't help, and the migraine was now knocking very loudly. </p>
        <p> There was a lot going on at the security area, and nothing was moving at first. Well, with 30 minutes until boarding, there's no need to get nervous. We chatted up the lady at the Fast Lane, and luckily we were allowed to use it. </p>
        <p> In the end, it all worked out, and we were seated on the plane on time. Then came the announcement that we were delayed. The plane was too heavy in the back and needed to be reloaded. Almost 20 minutes later, we finally rolled out and arrived in Munich early enough to catch our connecting flight to Belgrade. During the flights, I actually only saw stars and was happy to finally land in Belgrade. </p>
        <p> Here, the driver provided by the conference was already waiting for us. Unfortunately, we couldn't leave right away because we were waiting for another conference participant who was supposed to ride with us. He arrived almost 15 minutes after us, so we finally made it to the hotel at midnight. We'd better not talk about the driver's driving style... </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> After checking in, the room was ready and freshly made up, so the realm of dreams was finally within reach. Unfortunately, the air conditioning didn't want to cooperate with us and heated the room to 26 degrees. The night was more or less restless and, above all, very warm. </p>
        <p> For Basti, it was out of the room at 8:00 AM because he already had an event. I tried to sleep, but it didn't work out. Especially since the cleaning lady was handling the vacuum cleaner in the room. So I got ready and went for breakfast. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2019-belgrade/IMG_8452.jpg" alt="Steffi at the Danube steamer restaurant while ordering">
        </div>
    </div>
    <div class="col-md-6">
        <p> The first surprise was at the room announcement during breakfast. The employees were smoking right behind, even though there are no-smoking signs everywhere. Well, hallelujah! </p>
        <p> Fortunately, nothing was noticeable in the breakfast area, and the breakfast itself offered a very large selection. </p>
        <p> The employees here haven't leased their friendliness, but their ambition. As soon as I put my fork down - mind you, there was still plenty on the plate - they wanted to take everything away. </p>
        <p> After breakfast, I first moved to the lobby because I had told the cleaner to leave the room that she had an hour until return. Well, good thing I brought good books with me. </p>
        <p> Back in the room, I finished exploring the area. A look at the bed, which was so inviting that I just drifted off on it and slept for 2 hours. So much for that topic. However, my motivation still wasn't better, so I stayed on the bed and continued reading. </p>
        <p> Unfortunately, I got thirsty at some point, so I had to go out. So I stumbled from pothole to pothole and shortly afterward found a supermarket, despite the thoughts "they can't use real letters, how can you read or find anything here." </p>
    </div>
    <div class="col-md-12">
        <p> Since I was already outside, I wanted to take the chance and visit the shopping center across the street. I had to search for the path first because a highway separated me from the destination. Once there, there were a few shops to be found, but I can't do anything with electrical office supplies. So I sneaked around or stumbled and tried to find what's edible. Unfortunately, the snacks didn't look inviting and smelled much worse. So the pack of cookies from the supermarket had to be enough. </p>
        <p> The caretaker came back to the room and explained with hands, feet, and worse English than mine that the air conditioning systems are out. After all, it would only be 20 degrees outside. I don't care about outside. We're dying of heat in the room! He then said that he would drive up the system and make a setup and wait...! </p>
        <p> So continue reading, eating cookies, and see what the evening brings. </p>
        <p> After Basti was back from the 2nd event of the day, we went towards the Danube. There we landed on a more or less mottled hotel steamer including a restaurant. There we then satisfied my hunger and then made ourselves comfortable, with detours, back to the hotel. Basti finally had the speaker dinner in the evening. </p>
        <p> The next book or a film was waiting for me. </p>
    </div>

</div><!--=== End Post ===-->
