---
layout: blog/en/travelblog
title: "05/25/19 Letter Salad Part 2"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Serbia
  - Belgrade
  - Germany
  - Hamburg
  - Munich

headline:
  image:
    url: "/assets/img/blog/2019-belgrade/sunset-at-danube.jpg"
    alt: "Sunset over the Danube in Belgrade"

author: "Steffi"

overview:
  intro: "This morning we had breakfast together and then had the reception call us a taxi to take us to Kalemegdan Park"
  image:
    url: "/assets/img/blog/2019-belgrade/IMG_5589.jpg"
    alt: "The Temple of Saint Sava"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }}. Here you'll find an old castle ruin and the Manifest Festival is currently taking place. Since we were there right at the opening, it wasn't too crowded yet and we could browse in peace. According to pictures on the internet, there should be hot air balloons here, but we didn't see any. Instead, everything reminded us a bit of the travel fair in Hamburg. Local and surrounding providers offered trips and specialties, and there were various small stages. </p>
        <p> Then we walked to the shopping street. Here we first ended up in a shopping center, but the prices were beyond our understanding. At least there were free toilets, though they were quite disgusting and dirty. Afterward, we strolled through the shopping street and ended up in a small café with fresh orange juice, smoothies, and German online radio. </p>
        <p> Then we made our way on foot to the Temple of Saint Sava. Unfortunately, we couldn't go inside because it was under renovation from top to bottom. At least from the outside, it offered a very nice sight. We lingered at the fountain for a while and then decided to visit an Italian restaurant around the corner. Here we had pasta and pizza for what was now afternoon. The food was really delicious. We were so stuffed that we quickly took a taxi back to the hotel. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> As soon as we arrived in the room, Basti slept for 2 hours - hoping to get rid of the headache that had now developed. </p>
        <p> For dinner, we ended up in the restaurant behind the hotel. However, we weren't alone for long, because within 40 minutes, 30-40 nerds from the conference appeared and made the 2 (!!) waiters and the cook sweat. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2019-belgrade/IMG_8471.jpg" alt="Mihailo, Steffi and Sebastian Thoss at dinner in Belgrade">
        </div>
    </div>
    <div class="col-md-6">
        <p> I had breakfast alone in the morning because Basti was already at the conference. After all, his presentation was today! </p>
        <p> Then I went to the nearby shopping center for myself, because it was clear to me outside. The center extended over 3 or 4 floors including the cinema. I couldn't find out that it was particularly cheap, as is said for Serbia. </p>
        <p> Unfortunately, the center was so extremely loud that after 1.5 hours I crumbled again and went back to the hotel. I quickly rejected my idea of going to the Danube when I came out of the center and was overwhelmed by a heat wave. So comfortably back to the hotel, air conditioning, watched a film or read a book and enjoyed the afternoon. </p>
        <p> Basti then hit at 5:20 PM and together we made our way to the Danube by taxi. Here Mihailo, a Serbian colleague of Basti's, awaited us, who happens to be here for the weekend. We landed in a totally cozy restaurant on the Danube, away from the crowds. There we ate really delicious, cheap, and far too much food. The waiter was then amazed at what strange wishes we Germans have. How can you only mix juice or beer with Sprite! </p>
        <p> We were already smiled at for this in Australia. They all don't know what's tasty! </p>
    </div>
    <div class="col-md-12">
        <p> Since the mosquitoes are in high season here and there are currently extreme warnings about the West Nile fever, we put on our jackets despite the warmth. Unfortunately, it only helped to a limited extent, so we then decided to just move around a bit. So we walked along a really nice spot in Belgrade until we said goodbye to Mihailo. Here again thanks to Mihailo for the nice evening. For the two of us, we wandered a bit further until we took a taxi that brought us back to the hotel. </p>
    </div>

</div><!--=== End Post ===-->
