---
layout: blog/en/travelblog
title: "06/30/21 Rain, smoke, rain"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alps

locations:
  - Germany
  - Austria

author: Steffi & Basti

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the Nebelhorn down to the mountain station"

overview:
  intro: "And every day the marmot greets - or in our case: the rain. Last night it dripped again properly. Steffi even said"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0636.jpeg"
    alt: "The mountain chalet Baad"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} there had been a thunderstorm. I completely missed it. Whether that's due to the fresh mountain air or my inner peace remains to be seen - at least I woke up well rested in the morning. </p>
        <p> It was rather chilly in the car - we call it "Alpine indoor climate". So: heating on. But as soon as the good piece was running, there was already a vigorous knocking at the door. Our camping neighbor pointed with a concerned look at the white cloud of smoke that enveloped our car. Oops! No fire alarm - just a kind of involuntary papal election. White smoke rose and we thought: "Have you just opened a new council?" </p>
        <p> So quickly turn off the heating, take a deep breath and really wake up first. Then we ventured a second attempt under strict observation. The internet, our digital camping consultant, recommended heating through for an hour, then the spook should be over. And lo and behold - after five minutes the white fog was history. There was probably just too much moisture in the system. Or someone had lit an incense stick in the exhaust. </p>
        <p> Around 11 a.m. it finally stopped raining - at least long enough that you didn't have to reach for the rain jacket right away. So into the hiking boots and off we go. The bus took us to the end of the Kleinwalsertal, to Baad - a small, quiet place that scores with lots of mountain idyll. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> We made a small round around the mountain chalet that we booked with friends for February - quick check if it's still standing (it was), two or three photos for anticipation, and then into the attached inn. The stomach had priority. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2021-alps/IMG_0648.jpeg" alt="Alpine strawberries">
        </div>
    </div>
    <div class="col-md-6">
        <p> After a really good meal and nice chat with the table neighbors about God, the mountains and the weather, we decided: there's still something going on! And lo and behold - the sun actually showed itself briefly. So off we go: along the stream, quick step, fresh air. From Baad to Höfle, accompanied by the rippling of the Breitach, always towards dessert. Because drinks and dessert were waiting in Höfle - with panorama included. Vacation as it should be. </p>
        <p> But wait - there's more! We didn't want to go back by bus yet. So on we went - half along the slope, through forest and meadow, to Riezlern. On the way we found a few tiny wild strawberries. I don't know how they survived, but they were there - and delicious! Quickly rinsed in the stream and nibbled directly. Gourmet enjoyment à la Alpine Edition. </p>
        <p> In Riezlern we got a bus ticket back to the campsite. The next rain area was piling up on the horizon - presumably the one from yesterday, only with reinforcements. But as gracious as it was, it let us eat in peace - with mountain view and residual sun. </p>
        <p> Then: rain. Again. So back into the car, make yourself comfortable. Watch some films, write blog, wash laundry - the classic camping mix of everyday life and adventure. </p>
        <p> In the end it was a typical vacation day: first rain, then sun, then cake - and everything is fine. </p>
    </div>

</div><!--=== End Post ===-->
