---
layout: blog/en/travelblog
title: "09/16/24 Photos Instead of Abu Dhabi"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2024-ist-dxb

locations:
  - UAE
  - Dubai

headline:
  image:
    url: "/assets/img/blog/2024-ist-dxb/PAN_IMG_0364.jpg"
    alt: "The view towards Dubai Marina across the Palm Island"

overview:
  intro: "As you probably already guessed from the headline, once again my planned side trip to"
  image:
    url: "/assets/img/blog/2024-ist-dxb/small/20240917-IMG_0397.jpg"
    alt: "A Dubai skyline motif from DXB Airport"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Abu Dhabi didn't work out - even though I had actually woken up early enough.
        </p>
        <p>
            But sometime in the morning, I decided to discover Abu Dhabi at another opportunity, completely at leisure - with more time and less deadline pressure. So maybe next time. And the fact that I will come back to this region someday is already certain for me. Dubai is even more cosmopolitan and friendlier than I had imagined before.
        </p>
        <p>
            So I spent the morning very relaxed - between the beach, sea, pool, and the terrace of my suite. Towards the afternoon, I still felt like going out a bit. I wanted to try to take some great photos of Palm Jumeirah Island from above. My plan: to go to the observation deck "The View".
        </p>
        <p>
            Unfortunately, it didn't happen. You're not allowed to take a backpack up there - which is somehow strange considering the admission prices. When I explained to the lady at the entrance that my photo equipment was in my backpack and I wanted to use it up there, she looked at me as if I had offered to smuggle three kilos of gold to Germany.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Her solution: I could tuck the camera and accessories under my arm - but the backpack stays downstairs. No thanks, I've experienced that elsewhere. And this time I also had the tripod with me. I really didn't feel like trudging up there with everything loose under my arm. So I let it be.
        </p>
        <p>
            Instead, I treated myself to something delicious in a café in the adjacent mall - a really good fajita wrap and a hot chocolate to go with it. Meanwhile, I transferred my photos from the camera to the laptop so that a backup finally exists. There are really some beautiful pictures among them - I can even imagine some of them as large prints. You've already seen some photos in the recent blog posts. But I've picked out a few more for you - feel free to check them out <a href="{{ site.url }}/en/travelblog/2024-ist-dxb/photos/">here</a>!
        </p>
        <p>
            Later I quickly went to fill up with gas. Interestingly, there are significantly fewer classic gas stations here than expected. Instead, you find so-called "Mobile Gas Stations" - trucks that drive into residential areas so that you can refuel practically right outside your front door. Also somehow practical.
        </p>
        <p>
            Back in the suite, I continued packing my suitcase. I noticed that suddenly there was no more water pressure - neither in the bathroom nor in the kitchen. The reception probably already knew about it, but unfortunately there was no solution until bedtime. Luckily, I still had a few bottles of water in stock, so I could at least freshen up and brush my teeth.
        </p>
        <p>
            I finally went to bed much too late - and tomorrow morning the alarm clock will already ring at 5:30 am. It's time to go back home.
        </p>
        <p>
            Good night to all of you!
        </p>
    </div>

</div>
<!--=== End Post ===-->
