---
layout: blog/en/travelblog
title: "09/08/24 Burj Al Arab"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2024-ist-dxb

locations:
  - UAE
  - Dubai

headline:
  image:
    url: "/assets/img/blog/2024-ist-dxb/PAN_IMG_0364.jpg"
    alt: "The view towards Dubai Marina across the Palm Island"

overview:
  intro: "Today I got out of bed quite late. Not because I slept well, but rather because the night was pretty restless. Back"
  image:
    url: "/assets/img/blog/2024-ist-dxb/small/20240908-IMG_9810.jpg"
    alt: "The Royal Suite of the Burj al Arab"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} and sinuses were fighting each other – sleeping was rather secondary.
        </p>
        <p>
            Fortunately, both concerns disappeared quite quickly after a good breakfast. So the day could still start well.
        </p>
        <p>
            Around noon, I made my way to the Burj Al Arab. Since 2022, you can officially book a guided tour here – a rare opportunity to take a look inside one of the most luxurious hotels in the world. However, the concept is not entirely self-explanatory: The starting point of the tour is not directly at the hotel, but a few hundred meters away – in a separate building called Inside Burj Al Arab, squeezed between Jumeirah Street, the Wild Wadi Water Park, and the Jumeirah Beach Hotel.
        </p>
        <p>
            Parking is convenient at the Jumeirah Beach Hotel. Simply drop off your car with the parking service, which then parks it in a shady spot – pleasantly uncomplicated.
        </p>
        <p>
            Inside the Inside Burj Al Arab, a first small world in the style of the original awaits: shiny floors, golden details, lots of marble – everything feels like a gentle introduction to what's to come. I had deliberately chosen the 5 PM tour, hoping to enjoy a beautiful sunset from above later.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            By the way, the prices for this tour are not for the faint-hearted – starting at around €65 per person. But you also get a pretty exclusive experience.
        </p>
        <p>
            Before the tour started, we had to lock up bags, backpacks, and large cameras. Only small cameras and phones were allowed. A shame – really good photos with the big camera would have been nice, of course. We were also informed that we weren't allowed to just stand in the lobby – and shouldn't take photos either. So: Walk through, marvel, remember.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2024-ist-dxb/small/20240908-IMG_9863.jpg" alt="Cocktail and dessert in the UMA Lounge" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            When the tour started, we didn't go in a Rolls-Royce (like the hotel guests), but by golf cart towards the hotel. The entrance was also not the main access, but a specially set up side entrance with its own small lobby. The reception was still very friendly: rose water, chilled refreshment towel, a small welcome drink – along with the first explanations.
        </p>
        <p>
            Then we moved quite quickly through the gigantic lobby. The space is built like a huge triangle: You can look up to the 25th floor, where each "floor" is actually two normal stories high – because each suite extends over two levels. The atrium is thus 50 stories high, until the blue ceiling comes at the very top. The design plays with the colors of the four elements – and with very, very much gold. And yes: Much of it is real gold.
        </p>
        <p>
            A panoramic elevator then took us to the 25th floor in just a few seconds. There are two of what used to be the largest suites. One of them has been converted into a museum, the other – the Royal Suite – has been preserved as a showcase model. A night here used to cost around 25,000 euros.
        </p>
        <p>
            I treated myself to a drink in the lounge and enjoyed the view over Dubai and the slowly darkening sky. A little later, I was even invited on a private tour of the Royal Suite – 780 square meters, designed for just six adults. Opulence at the highest level.
        </p>
        <p>
            At the end, the path naturally led through a few souvenir shops. Afterwards, I ended up in the UMA Lounge – a relaxed location with a view of The Palm Jumeirah. I concluded the visit with a non-alcoholic cocktail and a dessert.
        </p>
        <p>
            Only when I was reminded that it was almost closing time did I remember: My backpack was still in the locker! I was actually the last visitor to pick up their luggage – they locked up after me.
        </p>
        <p>
            I picked up the car at the hotel lobby and drove to the beach once more to take some night photos of the Burj Al Arab. Many beaches here are even equipped with floodlights so that you can still swim after sunset – during the day it's simply too hot for many people.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            On the way back to the hotel, I made a spontaneous stop at the Nakheel Mall – a new pair of summer pants and some shoes were on the list. Said and done.
        </p>
        <p>
            Back at the hotel – by now well after 10 PM – I had a small dinner on the terrace, with a view of the glittering skyline, and a "short" (meaning quite long) phone call with Steffi.
        </p>
        <p>
            But now it's time for bed.
        </p>
        <p>
            See you tomorrow.
        </p>
    </div>

</div>
<!--=== End Post ===-->