---
layout: blog/en/travelblog
title: "09/03/24 Off to Istanbul"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2024-ist-dxb

locations:
  - Turkey
  - Istanbul

headline:
  image:
    url: "/assets/img/blog/2024-ist-dxb/PAN_IMG_9431.jpg"
    alt: "The Turkish Airlines plane at HAM Airport"

overview:
  intro: "Today was all about departure. Unfortunately, online check-in didn't work last night, so I went a bit earlier"
  image:
    url: "/assets/img/blog/2024-ist-dxb/small/20240903-IMG_9472.jpg"
    alt: "View of Istanbul at sunset"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} to the airport - classic to the counter. There, the lady explained to me that we would be flying with a different plane than originally planned. And with that came a new seat: 4A instead of 5A. I can live with that.
        </p>
        <p>
            The plane was also scheduled to take off about 45 minutes later. I spent the waiting time in two lounges: first in the Lufthansa Lounge, because the food is better there, and then in the Hamburg Airport Lounge - because of the better view. Both have their advantages.
        </p>
        <p>
            It was pleasant on board the Turkish Airlines plane. The plane wasn't the most modern, but I had the seat next to me free, which means a small upgrade. The service was top-notch, many drinks to choose from and a good meal to go with it. That's how flying is fun.
        </p>
        <p>
            It became especially beautiful when looking out the window: At sunset, we flew over the Romanian Carpathians. I had already been to Romania twice. Back then, we only drove through the Carpathians, but the landscape stayed in my memory. And now from above, bathed in evening light, the whole thing looked even more impressive. A really beautiful moment for good photos.
        </p>
        <p>
            We landed in Istanbul almost on time. The airport is huge - so it takes a while to get through passport control and to the baggage claim. My suitcase was apparently faster than me, it was already patiently making its rounds. I grabbed it and checked it in directly for tomorrow's flight to Dubai. A very friendly employee helped me with this, who also immediately offered me a business class upgrade. At first, I understood it would cost 1,000 Lira - about 25 €. Sounded almost too good. It was. He then said it was 1,000 US dollars. So no thanks.
        </p>
        <p>
            Through my frequent flyer status, I get free eSIM cards for abroad several times a year. That would have been ideal for Istanbul - unfortunately, the booking couldn't be completed this time. Some new verification was suddenly necessary, and although I entered all the data, nothing happened. Customer service only responded in the chat with several hours of delay. Eventually, I had enough and quickly got myself an eSIM from Maya Mobile for 8 €. Works.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2024-ist-dxb/small/20240903-IMG_9457.jpg" alt="The Carpathians from above" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            To save a bit of money, I decided to take the metro into the city and only take a taxi to the hotel from there. The ticket situation was a bit confusing, though. There are several machines, but no information on which one you need for tickets to the city center. After a short observation, it became clear: You need a rechargeable prepaid card. I found a small sign with Turkish tariffs - all under one euro. So I bought such a card and loaded it generously. Enough for the round trip.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Somewhat surprising: There's neither WiFi nor mobile network in the metro. And since the journey takes almost an hour, my idea of writing to Steffi on the way or checking my evening plans fell flat.
        </p>
        <p>
            At the final stop, I first took the wrong exit - directly into the chaos of a huge highway intersection. Traffic jam in all directions. So back down, tried the next exit. A friendly man showed me the right direction, without any common language - very likeable.
        </p>
        <p>
            I finally took an Uber to the hotel in the old town. The room is good, quickly unpacked a few things, and then straight up to the hotel roof. The view of the palace and the Hagia Sophia and the Blue Mosque (photo: in the background) in the evening light was magnificent.
        </p>
        <p>
            Afterwards, I strolled through the illuminated old town, well guarded by police and security forces, until late at night. I soaked up the atmosphere, enjoyed the peace and the light. When even the last restaurants closed, I made my way back to the hotel and to bed.
        </p>
        <p>
            Tomorrow will be another long day after all.
        </p>
    </div>

</div>
<!--=== End Post ===-->
