---
layout: blog/en/travelblog
title: "09/05/24 The Pool and the Sea"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2024-ist-dxb

locations:
  - UAE
  - Dubai

headline:
  image:
    url: "/assets/img/blog/2024-ist-dxb/PAN_IMG_0364.jpg"
    alt: "The view towards Dubai Marina across the Palm Island"

overview:
  intro: "The alarm rang at 10 o'clock. Annoying, but necessary – breakfast is only served until 11. So out of bed, quickly freshened"
  image:
    url: "/assets/img/blog/2024-ist-dxb/small/20240905-IMG_9611.jpg"
    alt: "The kitchen and dressing room of my suite for the next 2 weeks"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} up and off to the restaurant. Fortunately – it was worth it. ;)
        </p>
        <p>
            Back in the room, it was finally time to really arrive: unpacking, enjoying the suite a bit. Almost 70 square meters, including a small terrace, fully equipped kitchen, separate bedroom, and even a dedicated dressing room. Not bad for an apartment hotel.
        </p>
        <p>
            For today, I deliberately set only a few goals:
        </p>
        <ol>
            <li>
                Relax
            </li>
            <li>
                Shave
            </li>
            <li>
                Continue relaxing
            </li>
            <li>
                Listen to an audiobook
            </li>
            <li>
                Relax even more
            </li>
            <li>
                Buy groceries
            </li>
            <li>
                End the evening in a relaxed way
            </li>
        </ol>
        <p>
            That should be more than enough as a mandatory program.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">

        <p>
            In the early afternoon – I had just put my headphones in and was about to go to the pool – there was suddenly a knock at the door. When I opened it, a sofa was standing upright in front of it. In front of that, a hotel employee who explained to me that my room would be getting "a small upgrade" – and therefore they were now replacing the sofa. The old one looked like it was fresh from the catalog, but the new one had a built-in, full-sized bed. Five minutes later, the exchange was complete, and the pool could come.
        </p>
        <p>
            Later, I was drawn to the beach, just to walk a bit, feel the sand under my feet. Suddenly, I found a wet smartphone in the sand. I took it to the nearby water sports station. The guys there laughed, called a colleague – and indeed: it was his. They had searched the entire beach, even already arranged for a replacement. So much for "thought to be lost".
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2024-ist-dxb/small/20240905-IMG_9618.jpg" alt="The hotel complex in Dubai with pool" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            From the afternoon, the pool was in the shadow of the hotel – ideal with the still very high temperatures. On the Palm Island, it's a bit more pleasant than on the mainland, "only" 35 degrees. I stayed until just before sunset and did what you can do so wonderfully here: nothing.
        </p>
        <p>
            For sunset, I then made my way on foot to the other side of the island – not a big hike, only about 200 meters as the crow flies. The play of colors in the sky was really beautiful: orange, purple, gray. But then unfortunately somewhat disappointing. The sun disappeared well above the horizon in the hazy mist over the water. No clear sunset, more of a creeping fading. A bit like a Marvel movie without a cliffhanger in the credits.
        </p>
        <p>
            After that, the last task of the day was still pending: shopping. I drove to the nearby Nakheel Mall to stock up on groceries and buy a charging cable for my watch. I had forgotten mine at home. A shopping bag full of basics – fruit, muesli, bread, a bit of cold cuts, pasta, tomato sauce – but immediately cost 50 euros. Ouch. Welcome to Dubai.
        </p>
        <p>
            Since I didn't want to go straight back to the hotel, I treated myself to a smoothie in the food court and took the opportunity to sort through some photos. The mall is huge – and you can easily get lost there.
        </p>
    </div>
    <div class="col-md-12">

        <p>
            No wonder there are signs everywhere telling you to remember your parking space number. Of course, I didn't do that and needed two extra rounds at the end until I found my car again.
            Back at the hotel, just a quick meal, briefly stretching my legs on the terrace – and then completely exhausted into bed.
        </p>
        <p>
            See you tomorrow.
        </p>
    </div>

</div>
<!--=== End Post ===-->
