---
layout: blog/en/travelblog
title: "09/10/24 Drifting Along"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2024-ist-dxb

locations:
  - UAE
  - Dubai

headline:
  image:
    url: "/assets/img/blog/2024-ist-dxb/PAN_IMG_0023.jpg"
    alt: "Dubai Marina Beach"

overview:
  intro: "Today I forced myself to sleep in again. Simply because I can – and because with these temperatures, it's better to start the day a bit later anyway."
  image:
    url: "/assets/img/blog/2024-ist-dxb/small/20240910-DSC06815.jpg"
    alt: "Dubai Marina Beach at night"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
        </p>
        <p>
            After an extensive breakfast and a short lazy session on the terrace, it was time for some travel planning. I still want to experience two things before my stay here ends:
        </p>
        <ol>
            <li>
                A safari in the desert – for great photos, of course.
            </li>
            <li>
                A guided tour to Abu Dhabi to see the grand mosque and perhaps a bit more.
            </li>
        </ol>
        <p>
            So I got some advice, gathered information – and then I felt drawn to go out into the city.
        </p>
        <p>
            First, I drove to the Nakheel Mall. Parking there is fortunately free, and from here the monorail continues towards the city. So I parked the car, took the monorail, and later continued with the tram to Dubai Marina Beach.
        </p>
        <p>
            From there it was: continue on foot – and that in over 95°F (35°C). Walking for 25 minutes doesn't sound like much, but in this heat, it quickly becomes a real challenge. So I treated myself to a mango smoothie at McDonald's for a small price along the way – cooling down, catching my breath.
        </p>
        <p>
            My destination: the small shopping area around the Dubai Eye, the huge Ferris wheel on the peninsula.
            Here I also made a small detour to the Hard Rock Shop, where I collected the obligatory T-shirt for myself and a pin for Rolf.
            Apart from that, there wasn't much going on at the peninsula. Many restaurants and shops were closed – Tuesday and absolute low season, after all. But that didn't matter:
        </p>
        <p>
            I found a nice, empty café right by the water, ordered something to drink, and enjoyed the view of the glittering skyline of Dubai Marina. Very relaxed. By the way: right here, on the terrace with a view of the Marina, these lines are currently being written.
        </p>
        <p>
            And then?
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2024-ist-dxb/small/20240910-IMG_0010.jpg" alt="Skyscrapers in Dubai" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            I actually wanted to take the water taxi back to Dubai Marina Mall. But that didn't happen. In Dubai, a posted departure time means that the boat has already departed at that time – not that you should board then. The friendly gentleman at the counter explained this to me patiently. Since the next boat wasn't scheduled to leave for 55 minutes, I decided to walk back to the tram after all.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
        <p>
            At least: I got a few pretty skyline photos in the process.
        </p>
        <p>
            Back at the Nakheel Mall, where my rental car was parked, I was already quite exhausted – it was after 9 PM by then. But I wasn't really in the mood to go back to the hotel yet. So I spontaneously decided to treat myself to a coffee or maybe a piece of cake.
        </p>
        <p>
            However, when I saw the prices – 12 euros for a simple piece of cheesecake! – my appetite quickly disappeared.
        </p>
        <p>
            Instead, I was drawn to a small Chinese restaurant. There I ordered fresh, sweet buns – fluffy yeast dumplings with various fillings. Finally normal prices again, almost like in Hamburg.
        </p>
        <p>
            After that, though, it was really time to go back to the hotel.
        </p>
        <p>
            Well, I wasn't really tired anymore after eating – but that's okay.
        </p>
        <p>
            See you tomorrow!
        </p>
    </div>
</div>
<!--=== End Post ===-->