---
layout: blog/en/travelblog
title: "Introduction to Istanbul and Dubai"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2024-ist-dxb

locations:
  - Turkey
  - UAE
  - Istanbul
  - Dubai

headline:
  image:
    url: "/assets/img/blog/2024-ist-dxb/PAN_IMG_0364.jpg"
    alt: "The view towards Dubai Marina across the Palm Island"

overview:
  intro: "Today I would like to briefly tell you what will be happening to me - and thus also textually to you - in the coming weeks. In short, I'm going to Turkey and the United Arab Emirates."
  image:
    url: "/assets/img/blog/2024-ist-dxb/small/20240904-DSC06769.jpg"
    alt: "The Yeni Mosque at the Golden Horn in Istanbul"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
        </p>
        <p>
            For those who prefer a longer version: As most of you know, I'm leaving my job at Kartenmacherei at the beginning of October. As a result, I already have the entire month of September off. Remaining vacation days and overtime hours send their regards.
        </p>
        <p>
            I decided to use the free time for a trip. The vacation with Steffi to Greece in mid-September has been planned since the beginning of the year. Since Steffi can't take the whole month off, she convinced me once again to venture out on my own and explore a part of the world she wouldn't want to visit anyway.
        </p>
        <p>
            The options were a guided tour through Morocco - including several overnight stays in the desert - or a trip to the United Arab Emirates. While researching, I found out that with a flight to Dubai on Turkish Airlines, you can make a free stopover in Istanbul. And since I had only the Hagia Sophia - this fascinating church/mosque/museum-and-now-mosque-again - on my list for Istanbul, a 24-hour stay there sounded more than sufficient.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            So I decided on Istanbul and Dubai. The flights were quickly booked, and the accommodation in Istanbul, right near the Hagia Sophia, was quickly organized with Steffi's help. Selecting a good hotel in Dubai was the bigger challenge. The selection is simply enormous.
            In the end, I decided on the Wyndham Residences The Palm Jumeirah, a five-star apartment hotel on the outer ring of the Palm Island. I also rented a car for the two weeks so that I could get around flexibly.
        </p>
        <p>
            Of course, I already looked at what you can experience and see in Dubai and the Emirates. But I'm not booking anything yet - the only task I'm taking with me for the first few days is: relax. Listen to two or three audiobooks, a little pool time, a little beach club, and then - at some point - I'll explore the city.
        </p>
    </div>

    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2024-ist-dxb/small/20240908-IMG_9782.jpg" alt="The view from the Burj al Arab" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            But a few things are already on the wish list: drive into the desert to take photos. Enjoy a drink on the 25th floor of the Burj al Arab. Photograph the Museum of the Future - and find out what it actually is. A day trip to Abu Dhabi is also firmly planned. I want to visit the Grand Mosque there, learn something about Islam, and see the Royal Palace. Let's see what I actually do - and what other nice things might come up.
        </p>
        <p>
            Dubai isn't completely new to me, by the way. I was there once before, in 2013. At that time, I had a small moment of shock upon entry: My last name contains an "ß", which in the passport quickly looks like a "B", and in the machine-readable line is converted to "ss". The result: The customs officer wasn't sure if my papers were genuine - and until that was clarified, an armed officer stood across from me and scrutinized me critically. It wasn't a drama, but definitely an uncomfortable moment. Let's see if everything goes smoothly this time.
        </p>
        <p>
            So, tomorrow afternoon I'll be heading to Istanbul first - which I'm really looking forward to. The day after tomorrow, the Hagia Sophia and the old town, and in the evening, on to Dubai.
        </p>
        <p>
            Stay tuned. I'll keep you posted.
        </p>
    </div>

</div>
<!--=== End Post ===-->
