---
layout: blog/en/travelblog
title: "09/18/24 Summary Istanbul & Dubai"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2024-ist-dxb

locations:
  - Turkey
  - UAE
  - Istanbul
  - Dubai

headline:
  image:
    url: "/assets/img/blog/2024-ist-dxb/PAN_IMG_0364.jpg"
    alt: "The view towards Dubai Marina across the Palm Island"

overview:
  intro: "Summary: The trip was very nice, and I wouldn't want to do anything differently under the same circumstances - on the contrary, I experienced almost everything I had wished and hoped for beforehand."
  image:
    url: "/assets/img/blog/2024-ist-dxb/small/20240904-DSC06753.jpg"
    alt: "The Hagia Sophia in Istanbul"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
        </p>
        <p>
            For those who prefer a bit more detail:
            <br />
            This trip to Dubai was primarily a break for me - a conscious interruption of everyday life in which I wanted not only to relax but also to broaden my horizons. I wanted to learn more about Arab and Islamic culture, travel to a country that Steffi "unfortunately" isn't interested in, and simply live a few days without a fixed plan.
        </p>
        <p>
            I managed to do all of that. On the way to Dubai, I made a short stopover in Istanbul to stroll through the old town for a day and explore the Hagia Sophia. While I learned a lot about the history of the building, I learned little about the culture. I was then able to learn a lot about the culture - and especially Islam - in Dubai. At the Jumeirah Mosque, I took a tour and learned more about Islam and the everyday life of Muslim people in 60 minutes than I had ever known before.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            I finally found the relaxation I was looking for at the hotel on Palm Jumeirah. However, it was often too hot for extended beach days - usually one to two hours in the sun was enough. Instead, I enjoyed the shady terrace right next to my suite with a great view of the Marina and the rest of the Palm Island.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2024-ist-dxb/small/20240908-IMG_9768.jpg" alt="Me Sebastian Thoss in front of the Burj Al Arab" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            I was also able to take away quite a bit in terms of culture. During a desert safari, I learned more about the life of the Bedouins in earlier times and how they were able to survive in the inhospitable environment behind Dubai. The desert was surprisingly green - and I was lucky enough to get a few animal inhabitants in front of the camera.
        </p>
        <p>
            Dubai itself impressed me again. The palpable friendliness, openness, and omnipresent spirit of optimism make it a very special place. New residential projects are emerging everywhere, often appearing surprisingly affordable. A modern 70-80 m² apartment with its own pool and a view of the Marina costs around 250,000 USD here - in Hamburg, you probably wouldn't even get the storage room for that.
        </p>
        <p>
            A real highlight was my visit to the Burj Al Arab. Finally, I could see with my own eyes how magnificent and at the same time tasteful the hotel - or rather: its suites - are furnished.
        </p>
        <p>
            What I had firmly planned but then not implemented was the visit to other emirates or even neighboring Oman. The latter was already ruled out upon arrival in Dubai when I was told at the Europcar counter that border crossings outside the Emirates are not allowed.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            I actually wanted to head to Abu Dhabi as well - first with a tour, later perhaps on my own. In the end, however, I was simply too comfortable for that. For my next stay in the region, Abu Dhabi is now firmly planned - but with two or three overnight stays right away.
        </p>
        <p>
            Because one thing is certain: I will come back. It doesn't have to be immediately, but sometime again - perhaps even for a longer stay in winter to escape the northern German gray. Because here you really feel safe, and life seems to be more relaxed.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            If I could plan the trip all over again, without having to take anything into account, I would change only a few things. First: Take Steffi with me, because I really missed her in some places. Second: Lower the average temperature by about five degrees - at 29 to 45 degrees, it was already quite hot in September. And third: Plan two to three more days to explore Abu Dhabi at leisure. Everything else I would do exactly the same way again.
        </p>
        <p>
            Now I'm back home, have two days to repack my suitcases, take care of a few private and professional things - and then I'll continue with my Steffi to the next relaxing vacation in Greece.
        </p>
        <p>
            So, now it's really the end of writing for this time.
        </p>
        <p>
            All the best to you!
        </p>
        <p>
            Until next time.
        </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2024-ist-dxb/small/20240912-DSC06840.jpg" alt="View of Dubai from the 52nd floor of The View" />        </div>
    </div>

</div>
<!--=== End Post ===-->
