---
layout: blog/en/travelblog
title: "12/23/25 Finally Turning Left"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-vietnam-bali

locations:
  - Germany
  - Singapore

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/lufthansa-business-class.jpg"
    alt: "The Lufthansa Business Class sign on the plane to Munich"

overview:
  intro: "At exactly 3 PM, Seb and Mom were at my office to pick me up. From there, we went straight to the airport. No rush, no stress –"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_5393.jpg"
    alt: "The legroom in Business Class on the way from MUC to SIN"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} everything felt surprisingly calm.
        </p>
        <p>
            Only about twenty minutes later, we were already at Hamburg Airport, quickly dropped off our suitcases, and shortly after were sitting in the Lufthansa Senator Lounge. Yes, exactly – Senator Lounge. Because this time we're flying Business Class. We really made it and finally redeemed our miles that we had painstakingly accumulated over the years.
        </p>
        <p>
            The first flight to Munich started on time. We were served a bean and mushroom mousse – quite tasty, but we weren't actually hungry. Despite the early time of 6:05 PM, we were both extremely tired. Even the Coke didn't really help us stay awake.
        </p>
        <p>
            In Munich, we had a layover of about three hours. So back to the lounge, with more drinks, snacks, and a few rounds of Uno to combat the fatigue. Around 9:20 PM, we slowly made our way to our A350 plane and boarded shortly after.
        </p>
        <p>
            This time we were finally allowed to turn left to the Business Class seats – and not to the right into Economy Class as usual. A small detail, but a really good feeling.
        </p>
        <p>
            The seats aren't the very latest models, but we were still hugeley excited.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            As soon as we were seated, we were provided with drinks and snacks. Because we were still waiting for two passengers from Geneva, we started with about a 20-minute delay. Perfect for us – so we could try out all the seat functions in peace.
        </p>
        <p>
            Then we were off. The food came quickly, and shortly after, we said goodbye to dreamland. I transformed my seat directly into a bed and put the mattress on it. Seb must have adjusted his settings later, because when I woke up briefly in between, he was suddenly also all the way down and slumbering peacefully.
        </p>
        <p>
            And I really have to say: sleeping went surprisingly well. Despite the many people around me and although I had been skeptical about it before. The seat offered more space than I had expected, and I was able to really come to rest.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_1283.jpg" alt="The view from our hotel room in Singapore" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Christmas Eve, 7 AM German time, our night was over. I was awake every now and then, but overall felt surprisingly good. Shortly after, breakfast arrived.
        </p>
        <p>
            After almost 11 hours and 30 minutes, we landed in Singapore. Quickly through passport control, called a Grab taxi, and off to the hotel. There we were greeted in typical Asian style with live music and Christmas carols. Our room is on the 27th of 30 floors – and we actually have a mega view of the Marina Bay Sands and the Singapore skyline.
        </p>
        <p>
            First, freshen up and then head out again before fatigue and hunger hit completely. Again with a Grab, we went to Clarke Quay. After some walking around, we ended up in a burger joint with a great view of the Marina Bay Sands. Unfortunately, the burgers were anything but mega. My chicken seemed to consist only of goo, skin, and fat. At the first bite, it already wanted to come back up, so I stuck to the fries. Seb took pity and took over my "meat".
        </p>
        <p>
            Back in the room, the lights went out at some point around midnight. To be safe, we set the alarm for 9 AM – firmly assuming that we wouldn't need it anyway. We expect the jet lag to wake us up before then.
        </p>
        <p>
            Far from it. But more about that tomorrow.
        </p>
    </div>

</div>
<!--=== End Post ===-->
