---
layout: blog/en/travelblog
title: "06/04/25 The Last Travel Day"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_2440.jpeg"
    alt: "The view from the Hudson River towards Manhattan"

overview:
  intro: "The alarm goes off at 8:30 AM, but Steffi has been awake for an hour already. While I'm still in the shower, Steffi is already preparing the"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_9573.jpg"
    alt: "The famous Pepsi Cola sign in Long Island City, New York"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} suitcase.
            Breakfast is downstairs in the basement. Plates, cutlery, cups – everything made of plastic. Is that necessary? No, it's not! But at least: There's cheese and ham to choose from, croissants, Nutella. Not fancy, but solid.
        </p>
        <p>
            After that, we finish packing, check out, and leave our luggage at the reception. We take Line 7 to Gantry Plaza State Park – a small promenade on the East River, with a view of Manhattan. We lie down on the loungers by the water, enjoying the peace and quiet. We briefly consider taking the ferry. The dock is right next to the famous Pepsi-Cola sign. But we decide against a boat tour.
        </p>
        <p>
            On the way back to the hotel, we stop by Target – still looking for a suitable souvenir for Sonja. Unfortunately unsuccessful again. So we pick up our luggage and head to the subway: Line E and then the AirTrain to Terminal 1 at JFK Airport.
        </p>
        <p>
            Upon arrival, we can already see the crowds in front of the security checkpoint from a distance – our hopes for a relaxed stay in the Lufthansa Business Lounge are fading. But before we get that far, we have to wait 10 minutes at check-in before we can even get rid of our suitcases.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Just as we approach the long line at security, we discover a sign for the "VIP One Lounge" – it's located before security, offers Fast Track, and is included in the Priority Pass. A quick look, a nod – decision made: Treat ourselves while we still can. So into the lounge, a small snack, something to drink, then quickly and stress-free through security in just 3 minutes.
        </p>
        <p>
            Still almost two hours until boarding. Time for the Lufthansa Lounge – I have access through my frequent flyer status, Steffi through her Amex Platinum. But at the reception, we're suddenly told we can go to the second floor. Behind us, though, it clearly states: Ground floor: Business Lounge; 1st floor: Senator Lounge; 2nd floor: First Class Wine & Dine. Really now?
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_9578.jpg" alt="The Lufthansa A380 from JFK to MUC" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Whatever. We've just eaten anyway and decide to go to the Senator Lounge – preferably take a comfortable shower before the long-haul flight. In the lounge, we meet a family of four from Hannover, who had also just come from Florida. We exchange a few stories – then it's time for boarding.
        </p>
        <p>
            The flight departs at 5:30 PM. Our seats: 65G and H – both aisle seats, but this time without a free seat next to us. Pure flight time: 7.5 hours.
        </p>
        <p>
            Shortly after takeoff, the crew tries to sell upgrades: €540 per person for Premium Economy. Typical Lufthansa – greedy with a loss of service. It's sad how a formerly good airline has deteriorated so much.
        </p>
        <p>
            The flight itself is smooth, but I still can't sleep. I just can't find a good position for it. So I watch three movies: Tom and Jerry, The Wild Robot, and Sonic. Unfortunately, Steffi feels worse – she can't sleep either and even feels really sick. Even the travel pill doesn't help anymore.
        </p>
        <p>
            In Munich, everything goes surprisingly quickly. We land around 7:45 AM – an hour before the A321 to Hamburg departs. Through passport control, directly to Gate G04. Barely ten minutes of waiting, and we're off again.
        </p>
        <p>
            Steffi takes seat 20C in the front part of the plane as she's still not feeling better – less turbulence. I sit in 34D - with a free seat next to me, but also quite a bit of rocking. The landing is not very bumpy, but rather rustic: The captain puts the thing down so hard that we even bounce once. That's how it feels, anyway.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            In Hamburg, everything went quickly. Suitcase and backpack from the belt, then continuing with a MOIA – an electric shared taxi service that is booked via app. Five minutes to our car, then off home.
        </p>
        <p>
            There, first a shower and two hours of sleep. Then some shopping, trying to stay awake. Steffi goes to bed around 9 PM – I hold out until the normal bedtime. A few movies, a bit of computer work, backing up and sorting photos – that helps.
        </p>
        <p>
            With that, the vacation is officially over. Tomorrow, everyday life begins again. Steffi works half a day, I take care of paperwork for health insurance, the camera maintenance program, blog, and account. But: It's Pentecost – the next long weekend is already waiting. Maybe it will help to ease back into the local rhythm a bit more gently.
        </p>
        <p>
            A final comprehensive blog post will follow tomorrow – and then it will be quiet here for a while.
        </p>
        <p>
            Good night. And until tomorrow.
        </p>
    </div>

</div>
<!--=== End Post ===-->