---
layout: blog/en/travelblog
title: "06/02/25 Disappointment Disney"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - Orlando

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_3312.jpg"
    alt: "Mickey and his friends in front of the Disney Castle in Magic Kingdom, Orlando, USA"

overview:
  intro: "The alarm went off at 7 AM again. This is slowly becoming a trend... Tired, we dragged ourselves out of bed and got"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_9345.jpg"
    alt: "The Disney Castle in Orlando, USA"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} croissants from Dunkin' Donuts to start the day. Then we headed off toward Disney Magic Kingdom.
        </p>
        <p>
            We parked in the Peter Pan parking lot, area 212, and were then taken by golf cart train to the "station." From there, we took the boat to the park entrance – very classic and atmospheric.
        </p>
        <p>
            Arriving at the castle, we started with the Opening Show before heading off in different directions:
        </p>
        <p>
            Steffi lined up for Space Mountain – about a 30-minute wait – and found the ride really good. I, on the other hand, got on the Tomorrowland People Mover – with no wait time at all – and spotted Chip and Dale running around the plaza.
        </p>
        <p>
            After that, Steffi went to the new Tron Coaster, for which she waited a proud 70 minutes. According to her, the wait was worth it – she found the ride "mega" and would have loved to ride again right away, but the wait times remained long throughout the day, even just before closing it was still over 50 minutes.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Meanwhile, I treated myself to a decaf iced latte – but even for that I had to wait 30 minutes. After that, I visited the Carousel of Progress (5-minute wait) and the Monsters Inc. Laugh Floor (15 minutes). Steffi was already finished and also took a ride on the People Mover. We then met up in the line for Buzz Lightyear. Unfortunately, there seemed to be problems with the ride, which increased our wait time to 35 minutes.
        </p>
        <p>
            After that, we took a ride together on the Tomorrowland Speedway – with Steffi at the wheel. Unfortunately, steering is pointless in this rail vehicle, and you get constantly shaken back and forth. That further diminished the fun.
            We switched to the Disney Railroad and took a leisurely ride around the entire park.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_3400.jpg" alt="The start of the Festival of Fantasy Parade" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            For lunch, we went to the Skipper Canteen. For $100, we got chicken with coleslaw (which according to Steffi somehow tasted like flowers) and steak with fries and grilled vegetables. I found my steak okay, but for the price, it was really not much. At least they were generous with the drinks. The friendly server gave each of us another large soda to take away. No extra charge.
        </p>
        <p>
            After that, we watched the parade – really beautiful, but quite short. We continued to the Jungle Cruise, which according to the sign had a 30-minute wait time, but in reality took almost an hour. We had more luck with Pirates of the Caribbean – there we were up after about 30 minutes.
        </p>
        <p>
            Then it was time for the Tiki Room. A show to switch off your brain – but with no wait time. The Aladdin Carpet Ride, on the other hand, was a bad trade: 10 minutes of waiting for just a few seconds of riding. Disappointing, but as an employee of a carpet factory, it had to be done.
        </p>
        <p>
            Mickey's PhilharMagic was better – great 3D show with only minimal wait time. At the end, there was even a huge animatronic figure of Donald, stuck upside down in the wall. If you're confused now, you should go there and see it for yourself. This short film is what we're actually looking for here. Disney through and through.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Unfortunately, the Haunted Mansion was closed due to technical problems, and the 60-minute wait time for Peter Pan's Flight was simply too much for us. So we ended up at It's a Small World – visually like new, but content-wise... let's say carefully: sensory overload, guaranteed earworm, and what felt like brainwashing. At least only a 15-minute wait.
        </p>
        <p>
            In the evening, we ate at Pinocchio Village Haus: Caesar salad, chicken tenders, and fries. After that, we wanted to ride Under the Sea – after a 10-minute wait, we had a brief system failure, but it was quickly fixed.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            We skipped the Seven Dwarfs Mine Train – 70 minutes of waiting was too much for us. In general, it got strangely quiet after 8 PM: Many shops and restaurants closed, although the park was officially open until 10 PM and still packed.
        </p>
        <p>
            Back to the Monsters Inc. Laugh Floor – again for a quick laugh – and then on to the Happily Ever After Show. It was really beautiful, but if you want a good spot, you should be there at least 45 minutes early.
        </p>
        <p>
            As a nightcap, we took another ride on the People Mover – again with no wait time. After that, the next waiting began: Over an hour for the monorail back to the parking lot. With the golf cart train, we finally made it to the car, where we arrived around midnight.
        </p>
        <p>
            Conclusion Magic Kingdom:
            Waiting. Everywhere. Always. Even for drinks, you have to expect 30 minutes – that's not nice. We missed the classic live shows and especially Mickey & Friends, who were hardly seen during the day. If you wanted to see them, you had to... drumroll... wait in line.
        </p>
        <p>
            In addition, many areas in the park lacked the typical Disney flair – we had already criticized this in Paris, and it wasn't any better here. If we ever come back, it will only be in January (which is statistically supposed to be the emptiest) and with a Lightning Pass to avoid constantly waiting. Overall, we were quite disappointed.
        </p>
        <p>
            To finish, we filled up the car, drove back to the hotel, and checked in for our return flight to JFK tomorrow – unfortunately without assigned seats.
        </p>
        <p>
            Alarm set for 7 AM again. The plane leaves early tomorrow morning – and our suitcases aren't packed yet.
        </p>
        <p>
            Off to bed – with "The Princess and the Frog" cartoon on the iPhone. I fell asleep after three minutes, and Steffi didn't last much longer either.
        </p>
        <p>
            Good night.
        </p>
        <p>
            Until tomorrow.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_9479.jpg" alt="The Disney Castle in color with fireworks during the Happily Ever After Show in Magic Kingdom Orlando, USA" />
        </div>
    </div>

</div>
<!--=== End Post ===-->