---
layout: blog/en/travelblog
title: "05/23/2025 Shopping with a View"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - New York
  - New Jersey

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_2440.jpeg"
    alt: "The view from the Hudson River towards Manhattan"

overview:
  intro: "A new day – and finally I'm feeling a little bit better. Not completely fit, but at least not a total wreck anymore. Outside, unfortunately, it looks"
  image:
    url: "/assets/img/blog/2025-usa/small/DSC08003.jpg"
    alt: "An airplane during takeoff"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} similar to the last few days: The weather remains changeable. Sometimes sun, sometimes gray clouds, with rain showers in between. At least the wind has died down a bit, which makes the city immediately more pleasant.
        </p>
        <p>
            After breakfast, we treated ourselves to an extended nap. The body demands what it needs – and apparently both our batteries were pretty empty. So: eyes closed, world off, take another deep breath. By noon, we felt rested enough to venture on a small excursion – nothing big, but a destination that can be reached with little movement and lots of escalators: The Jersey Gardens Outlet Mall.
        </p>
        <p>
            We made our way to the bus terminal – the Port Authority Bus Terminal, a huge hub west of Times Square. Unlike train stations as you know them from Europe, this one is not only huge but also vertically organized. The buses depart from different floors here – like in a parking garage for long-distance travel. Our bus, the Express 115, departed from Gate 223 – and was conveniently already there when we arrived. As soon as we sat down, we were already rolling.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            The ride took us out of Manhattan, past Newark Airport (EWR). The bus crept through traffic right along the runways. The road was slightly congested, but that made it possible to observe the planes in peace: departing aircraft, rolling jets, blinking lights – almost like a small airport show from the front row. Despite everything, the journey took less than 45 minutes – and we were already in a completely different world.
        </p>
        <p>
            The Jersey Gardens Mall is large, air-conditioned, covered – and perfect for a rainy day. After we had oriented ourselves a bit, we went directly to the food court, where various cuisines from around the world crowd next to each other. Steffi was in the mood for Asian: fried rice with vegetables (although the "vegetables" consisted mainly of fried cabbage) and sweet and sour chicken. I myself wasn't particularly hungry – and Steffi's portion was huge anyway – so I just occasionally helped myself with a spoon from her plate. That's enough.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_2658.jpg" alt="A perfume that Steffi liked but was no longer available to purchase in good condition." />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Well-fortified, we set off – strolling a bit through the corridors, browsing through stores, looking for bargains and finds. It wasn't the big shopping success day, but at least: two new pairs of pants for me and a shirt for Steffi ended up in our bags. Steffi also found a nice perfume. Unfortunately, only the tester was left, and it was already without a cap and almost empty. So we'll keep our eyes open and see if we can find it somewhere else. Sometimes it's already a success not to return empty-handed.
        </p>
        <p>
            On the way back, it was raining again. Big drops, gray sky – not a city for walks today. So back to the hotel, out of the shoes, into bed. The rest of the day was then entirely dedicated to recovery: lots of rest, little movement, movies to unwind, and once again our proven dinner in bed – toast, peanut butter, sausage, cheese. A small hotel picnic with series accompaniment.
        </p>
        <p>
            A quiet day, a bit out of the city, a bit into the everyday life of the American shopping world. Tomorrow, hopefully, there will be more energy – for new paths, new impressions, and less coughing.
        </p>
        <p>
            Good night!
        </p>
        <p>
            Until tomorrow.
        </p>
    </div>

</div>
<!--=== End Post ===-->