---
layout: blog/en/travelblog
title: "05/16/25 Still Not There"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - New York

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_2440.jpeg"
    alt: "The view from the Hudson River towards Manhattan"

overview:
  intro: "Today's the day. The USA is calling, woke up at 04:20, so an hour before the alarm. Pretty annoying, but I jolted awake with the"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_7694.jpg"
    alt: "The departure monitor at MUC with information about the flight to JFK"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            You've already read Basti's post for today. Here's mine:
        </p>
        <p>
            {{ page.overview.intro|raw }} thought "oh God, I overslept." It was already light outside, but the alarm showed that I still had time. Tossed and turned a few more times, but couldn't fall back asleep. So off to the shower, which I enjoyed extra long. I was all ready, and a glance out the window showed that the taxi was early, arriving at 06:08. By 06:39 I was already at the airport and quickly headed to the Lufthansa oversized baggage counter to get my boarding passes. The stupid app unfortunately didn't spit them out, so this time I had to rely on paper. Not annoying at all!
        </p>
        <p>
            The security line was very short, so I was through by 06:52 and headed straight to the Star Alliance Lounge, where I made myself comfortable with a cup of tea. An hour can drag on quite a bit; the rest of the day could be pretty rough if time continues to crawl like this.
        </p>
        <p>
            Shortly before 8, I made my way to the gate, and everything went smoothly here too. Boarding started punctually at 08:15. Unfortunately, my group was let in last.
            I'll never understand that - boarding from back to front would make much more sense.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            At the gate, I also ran into the Red Cross guy who delivered Jackie to the wrong gate. He even remembered me. I really could have done without that.
            At 08:52, pushback began, so we should arrive on time. And we did, landing in Munich at 09:55. Disembarking went very orderly, so by 10:21 I was already at the transfer train to the next terminal.
        </p>
        <p>
            Quickly passed the next passport/boarding pass check and was promptly pulled aside for an additional security check. I had just reorganized everything for the plane in the bathroom 2 minutes earlier, and now I had to unpack everything again. Damn!
            As the lady at passport control said, "I'm sorry, you've drawn the random card."
            But it was done quickly, everything was allowed through, including the drinks.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_7700.jpg" alt="All the space for Steffi alone" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            I headed straight to the gate to see if I could switch from a window to an aisle seat. The answer came promptly: Of course, if you'd like. YESSS!
        </p>
        <p>
            Back here at the gate, as Basti had already warned, there's nothing. So all I could do was sit around stupidly, which unfortunately took even longer than planned. We were delayed, boarding didn't start until almost 30 minutes late because the "preparatory measures were not yet completed."
            At 12:08, it was finally my turn with Group 6 for boarding. Was the seat change a good idea?!? From 82A to 60H.
            I have lots of legroom, but a narrow seat and no reclining backrest. Oh, and the galley is right next to me.
            Oh, and no power outlet. 😵‍💫
        </p>
        <p>
            But all 3 seats are free. So I can switch wherever I want. Aisle, middle, window... we'll see how it goes.
            At 12:35, pushback, at 12:50 we accelerate on the runway.
            As soon as we're up, the first drinks and snacks are served. The meal follows right after. As almost always, the special orders come first. Including mine. Asian-vegetarian. Unidentifiable but otherwise okay.
        </p>
        <p>
            15:34. While I could have fallen asleep right after boarding, which wasn't possible because the food came almost immediately, I'm now more or less awake. Above all, though, it's mighty cold. I've even voluntarily draped these disgusting blankets over myself. So now I'm reading and hoping that time passes a little faster.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            17:06 and still not there. By now I've wrapped my legs in 2 blankets. Heavens, everyone here is sitting under more than one blanket. So it's not just me.
        </p>
        <p>
            17:58 I feel like I'm in a movie. There's an announcement from the captain: "We have a medical emergency on board, if there is a doctor on board, explicitly a doctor, please report immediately to the nearest cabin crew member."
            Ooooooook?!
        </p>
    </div>
    <div class="col-md-6">

        <p>
            18:59 somewhere over Canada. Outside temperature -60 degrees. Until now it had always been around -40 degrees. It doesn't feel much better in the plane, and the remaining travel time is still 1 hour and 35 minutes.
        </p>
        <p>
            20:03 finally the announcement to prepare for landing approach, we'd be there in 40 minutes, including the announcement that a thunderstorm is currently passing over JFK and it's only 17 degrees. Great!
        </p>
        <p>
            During the landing approach, "Where The Stars And Stripes The Eagle Fly" by Aaron Tippin (<a href="https://open.spotify.com/intl-de/track/1tTZM7LUDkxcykOVVIGW4W?si=df2eb23912554227" target="_blank">Listen on Spotify</a>) was playing on my headphones by chance. Couldn't be more fitting. This song has been part of me since our trip through California and Nevada in 2022.
        </p>
        <p>
            At 14:39 (6 hours back) finally touched the runway, but we didn't get far because various planes were crossing the runway, so we had to stand around stupidly before we could continue rolling. Just before the gate, the engines were turned off and we were towed the remaining meters.
            Meanwhile, I activated the eSIM in my phone and discovered that I was being tracked by various people via Flightradar. 👀 Doesn't make you feel stalked at all.
        </p>
        <p>
            At 15:10 at passport control, not even 10 people ahead of me, check with the nice officer, and at 15:24 I was officially in the United States of America.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_7718.jpg" alt="The inexpensive fruit at a street stand in NYC" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            A few steps later, I had Basti with me again and we headed to the hotel. Just before the hotel, we picked up some fresh fruit at a stand for really little money. 4 bananas for just $1 and a container of strawberries for only $2. That was a good start. After a quick sort-out in the room and freshening up, we headed to Chelsea Market. Here we had a delicious dinner at Takumi Taco before heading back to the hotel. There I fell into dreamland at 21:06 and slept through until about 07:00 with just one brief interruption.
        </p>
    </div>
</div>
<!--=== End Post ===-->