---
layout: blog/en/travelblog
title: "05/18/2025 Headaches & Churches"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_7897.jpg"
    alt: "The animal figures at the coffee table in front of the World Trade Center"

overview:
  intro: "Short night for Steffi – at 4:20 AM, her night was over. At least breakfast was possible without waiting in line this time."
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_2486.jpg"
    alt: "The choir rehearsal in Trinity Church Downtown Manhattan"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Outside: crystal clear sky. Actually perfect for taking the ferry to the Statue of Liberty again. But unfortunately, nothing came of it – Steffi had terrible headaches, so we had to change plans.
        </p>
        <p>
            Instead, we went to the World Trade Center. There are various animal statues in unexpected scenes along the paths. Among them, a group of animals around a coffee table. (See above)
            We took some silly photos and then looked around at Ground Zero and the two fountains.
            This time we didn't go into the 9/11 Museum. We were there last time, and it wasn't easy even then.
        </p>
        <p>
            Then we continued to Trinity Church. Beautiful stained glass windows – and while we were there, the choir was rehearsing. A quiet, almost reverent atmosphere. Outside in the churchyard, we talked on the phone with Jackie for a good while and helped her get the Zoom app working again. Meanwhile, we accidentally discovered Alexander Hamilton's grave here in the churchyard. Yes, exactly the one with his own musical.
        </p>
        <p>
            After that, we walked further to Wall Street and looked into TJ Maxx again. This time it was my turn: some clothes for me. On the way to South Ferry, Steffi treated herself to a corn dog – her headache still wasn't completely gone, and the wind wasn't making it any better.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            We took the Metro Line 1 to 50th Street and ended up at Applebee's. A salad for two, plus an 18% service charge right on top – welcome to the tourist trap.
        </p>
        <p>
            Afterward, we headed toward Rockefeller Center and then on to Saint Patrick's Cathedral. Inside, there was a ceremony honoring Boy Scouts – we still took a look at the impressive nave. Outside, several streets were blocked off for a parade again, but unfortunately, we were at the wrong end this time.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_8102.jpg" alt="Saint Patrick's Cathedral in New York" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            So on to Times Square – passing through the beautifully planted garden at Rockefeller. At the Hard Rock Hotel, we shopped for a T-shirt for Steffi. Then to Junior's: cake was a must. And yes, it was just as good as it looked in the display case.
        </p>
        <p>
            Next stop: TKTS. We wanted to know how the Broadway discounts work. Answer: For afternoon shows, you should be there around noon, for evening shows around 2 PM. Good info for the coming days.
        </p>
        <p>
            Briefly checked out Old Navy – compared prices with yesterday's outlet. With a bit of luck, Steffi's pants would have even been cheaper here. On to Skechers – unfortunately, they didn't have the shoes for NadScho here either.
        </p>
        <p>
            In front of the stores, street performers were doing an acrobatic show and promptly pulled me in. I only got out with a small donation – classic New York move. After that, into the Disney Store: we would have loved to buy everything, but Disney World Florida is still coming up – either we'll empty the stores in Florida or on the way back here in Manhattan.
        </p>
        <p>
            Last shopping stop: the Hard Rock Cafe Store. Unfortunately, nothing suitable found again – the one shirt was nice, but of course too small. But next door at Bubba Gump Shrimp (from the Forrest Gump movie), I got a cool T-shirt.
        </p>
        <p>
            In the late afternoon, we headed toward Hudson Yards – to the High Line. A former elevated metro track that now stands on stilts and has been transformed into a park and walking path. A real highlight, especially in that light. Unfortunately, I was at my low point of the day – heavy legs, energy almost depleted. But giving up wasn't an option. We walked a bit along the High Line and to "The Vessel" - a... I don't know how to describe it. It looks like a 10-story beehive, but consists only of stairs and viewing platforms.
            Afterward, we even walked the distance back to the hotel.
        </p>
        <p>
            For dinner, we had toast with cheese and poultry. Then an episode of NCIS – and then it was definitely time to call it a day.
        </p>
        <p>
            Good night – until tomorrow.
        </p>
    </div>

</div>
<!--=== End Post ===-->