---
layout: blog/en/travelblog
title: "12/28/25 Pink Churches"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-vietnam-bali

locations:
  - Vietnam
  - Ho Chi Minh

author: Steffi & Seb

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/ho-chi-minh-city-skyline.jpg"
    alt: "The skyline of Ho Chi Minh City"

overview:
  intro: "Today, getting up wasn't particularly easy either – but breakfast was waiting. After we had enjoyed that, we set off towards the"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/DSC01500.jpg"
    alt: "Squirrels in a park in Ho Chi Minh City"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Christian Tan Dinh Church.
        </p>
        <p>
            Before we arrived there, however, we made an unplanned stop: in a Skechers store, we bought a pair of new sneakers for Steffi. Her sandals were hurting and longer distances simply weren't doable with them today.
        </p>
        <p>
            Right after that, we went through a small park – and it completely surprised us. Squirrels were scurrying everywhere. We identified at least three different species: classic squirrels, chipmunks, and another variant whose fur looked almost like a skunk but moved like a squirrel in size and behavior. We stood for a while, took photos, and observed the busy activity.
        </p>
        <p>
            Only then did we reach the bright pink Tan Dinh Church. For us as tourists, it was unfortunately closed today – as apparently generally on weekends. So it remained a photo from the outside.
        </p>
        <p>
            After that, we called a Grab taxi to take us to the other side of the river. The destination was a sports watch shop because Seb's dive computer strap was broken.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Unfortunately, there was nothing suitable for him there. But we stayed in the area for the time being, because it was surprisingly quiet and relaxed here. We strolled along artificial waterways and observed various fish for a while – a small oasis in the middle of the city.
        </p>
        <p>
            We continued to the Thiso Mall around the corner. We dallied a bit and asked at the cinema if by any chance Zootopia 2 was running in English with English subtitles. Unfortunately no – only English sound with Vietnamese subtitles. So we moved on to eat.
        </p>
        <p>
            We ended up at Pho Sol. Was okay, but you don't necessarily have to repeat it. In this part of the city, it became clear: English is significantly less common here, even in such a large mall.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_1480.jpg" alt="A quieter area in Ho Chi Minh City" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            We then took a Grab taxi back towards the city, to another shop that the previous watch store had recommended to us. But Seb didn't find anything here either.
        </p>
        <p>
            Apparently, we had meanwhile landed directly in the tourist corner of Ho Chi Minh City. Many Western faces, plus rows of hostels, massage parlors, tourist shops, and the like. A tourist information center was also supposed to be located here, which we had saved on Google Maps. We found it quite quickly – however, it was dark and looked completely deserted. Just as we wanted to move on, two other Westerners entered the shop, and you could see the lady behind the counter virtually "waking up".
        </p>
        <p>
            Unfortunately, the tourist info offered almost nothing in English, so we moved on quickly. The temple right around the corner was also closed, so we made our way back to the hotel and spent the evening there. Steffi wasn't feeling particularly well in her neck and head, which is why we didn't go out in the evening as originally planned.
        </p>
        <p>
            In between, we kept searching for possible excursions. Especially for New Year's Eve, we wanted to see the fireworks from a boat on the Saigon River. Unfortunately, even the reception couldn't help us. The good tours were booked up, and five hours on a speedboat without a toilet was out of the question for us.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            The other offers didn't really convince us either: sometimes caged animals were involved, sometimes narrow tunnels, sometimes bee or coconut farms. A tour to a mountain and a few temples still sounded quite good – but even there, tunnel visits were "possibly" planned. Seb texted with a tour operator via WhatsApp in between, but the prices were so high that we quickly declined. So at the moment, it didn't look like any excursions for us.
        </p>
        <p>
            At least we found out something very important this evening:
            We are responsible for heating our own shower water.
            There is an extra button on the bathroom door for that.
            Woohoo – finally more than lukewarm water when showering!
        </p>
        <p>
            Let's see what waits for us tomorrow. Good night!
        </p>
    </div>

</div>
<!--=== End Post ===-->
