---
layout: blog/en/travelblog
title: "05/14/25 Tourist Tour in DC"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_DSC07953.jpg"
    alt: "Police cars in front of the Capitol"

overview:
  intro: "This morning the rain was finally over. The air remained humid and heavy, but at least no water was coming from above. I spent the"
  image:
    url: "/assets/img/blog/2025-usa/small/DSC07862.jpg"
    alt: "Lincoln Monument"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} morning at the computer anyway – a bit of tinkering, a few coordination calls with work. Around half past eleven, I couldn't stand it anymore and set off.
        </p>
        <p>
            First destination: the Lincoln Memorial. On foot today. I just had to take the right exit at the roundabout in front of the hotel door and then straight ahead towards the National Mall. At Constitution Garden, I turned right around the small lake, and there he was towering before me – Abraham Lincoln, enormous and stone, serious and oversized on his marble chair. As always, there was a lot going on, many tourists. It felt like every second adult was in uniform again today – cops from all parts of the country, it seemed.
        </p>
        <p>
            From the Lincoln Memorial, I continued to the World War II Memorial. There I was lucky and witnessed a small ceremony honoring war veterans. It was moving to see how people who served their country are honored here. At the same time, it got me thinking – as always with such topics. Why must there be wars at all? What unnecessary madness.
        </p>
        <p>
            I continued my walk, further on a photo safari towards the Washington Monument, the huge obelisk that rises between the National Mall and the White House.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            I made a short detour to the south side of the White House, but found out: This side is rather unsuitable for photos. The high fence obscures too much of the building. My tip: Either use a strong zoom from the lawn in front of the Washington Monument – or better go directly to the north side. There you can get right up to the fence and have a much better view for good photos.
        </p>
        <p>
            The next destination was again Café du Parc, right next to the White House. I had been there the day before yesterday. On the way there, I passed the World War I Memorial. It's significantly smaller and quieter than the other monuments, but the figures are impressively detailed and look like they've been extracted from the middle of a dramatic war scene. Nevertheless – or perhaps because of this – I decided not to take photos. I didn't want to capture any more war images and preferred to let my thoughts wander.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/DSC07939.jpg" alt="The Capitol again" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            At the café, I treated myself to a sweet iced tea, wrote a few lines of this blog entry, and tried to cool down a bit. Even without rain, the humidity today was so high that you would start sweating just from walking.
        </p>
        <p>
            After a short time, hunger made itself known. At Café du Parc, a dry croissant would have cost over five dollars – so I looked for something else. I was in the mood for Asian food, preferably with rice. A food truck would have been nice, but I found something anyway: Near the FBI headquarters, I discovered a small Korean fast-food restaurant called Rice Bar Market Place. There I filled out an order form and got a delicious bowl with rice, chicken, and vegetables in a poké style. Exactly what I needed.
        </p>
        <p>
            After that, I continued to the National Gallery of Art. Steffi had sent me a photo that was taken somewhere nearby – it showed the dome of the Capitol, framed by trees and plants. I searched for a while, then actually found the spot – a really beautiful scene.
        </p>
        <p>
            Afterwards, I continued walking towards the Capitol. On 3rd Street, right at the Capitol Reflecting Pool, numerous police vehicles were on display: old, new, and unusual models. Later they all even drove past me with sirens blaring – loud and impressive.
        </p>
        <p>
            I strolled further to Chinatown, but by then I was completely out of energy. I didn't feel like doing anything anymore, so I got on the Metro and went back to the apartment. On the way, I quickly grabbed a doughnut for later.
        </p>
        <p>
            Arriving at the Placemakr, I immediately started a load of laundry and made myself comfortable afterward.
            I had a movie playing in the background and simply enjoyed the peace and quiet for a bit.
            For dinner, I had a combination of honey-mango and a sandwich – simple, but exactly the right thing to peacefully end the day.
        </p>
        <p>
            Around 10 PM, I was pretty exhausted. I snuggled into bed, briefly reviewed the day, and finally fell asleep. Good night, DC.        </p>
        <p>
            See you tomorrow.
        </p>
    </div>

</div>
<!--=== End Post ===-->
