---
layout: blog/en/travelblog
title: "12/26/25 Off to Ho Chi Minh"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-vietnam-bali

locations:
  - Vietnam
  - Ho Chi Minh

author: Steffi & Seb

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/ho-chi-minh-city-skyline.jpg"
    alt: "The skyline of Ho Chi Minh City"

overview:
  intro: "After breakfast, we took a Grab back to the airport in Singapore. However, we ended up in the wrong terminal first"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_1368.jpg"
    alt: "The butterfly garden in Terminal 3 in the secure area of SIN Airport"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} – Seb had confused arrival Terminal 2 with departure Terminal 3. Oops.
        </p>
        <p>
            So first, over to the right terminal via the Skytrain. The ride was, as to be expected in Singapore, spectacular: The train travels through the Jewel Mall, directly past the waterfall, right through this tropical, lushly planted interior. Once in Terminal 3, there was a series of photos. Currently, everything here is focused on Disney – that probably has something to do with a new Disney cruise ship.
        </p>
        <p>
            Afterwards, we checked in our suitcases and went to the first lounge. However, after a short time, an Asian man who apparently hadn't heard of headphones was annoying. So we moved on and ended up first in the butterfly garden – and then in the lounge right next to it. Shortly after, it was already time for boarding. So legs in hand and off, because here the security check takes place at the gate and the way there is so long that you even have to take a feeder train.
        </p>
        <p>
            We have a travel plan, but we apparently didn't have it quite present. Food was waiting for us on the plane. Ah – we had pre-ordered something? Okaaaay.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            For me there was a delicious fruit plate, and Seb got something vegetarian that was probably quite spicy but very tasty. About an hour and a half later, we already went into the landing approach.
            From the plane, it was straight onto a bus and on to the immigration hall. Fortunately, we only had to wait for about 40 minutes – horror stories from the internet report four hours and more here.
        </p>
        <p>
            After a little chaos at the Grab taxi stand, it was then about six kilometers in about 40 minutes through the city. Not for the faint of heart. The traffic chaos – at least it seems so to us Europeans – is really something else.
        </p>
        <p>
            At the Sherwood Suites Hotel, we were welcomed very friendly and immediately provided with cool drinks. These were really delicious, by the way. The elevator took us to the 8th floor, room 801, where our booked studio suite is located. It is really beautiful: large, clean, and a well-equipped kitchen, even with dishes and pots. As usual, things like salt and pepper are missing – but we had cautiously tucked some away on the plane.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_5563.jpg" alt="Our suite at the Sherwood Suites Hotel Ho Chi Minh City" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            After a short rest, we set off for the supermarket diagonally opposite. We browsed through the aisles and stocked up on tropical fruit and emergency food. In the clothing department, it got really bizarre: if you are 166 cm tall and weigh 66 kilos here, you already wear XXL. There's nothing larger. Completely crazy.
            At the candy section, there was a nice saleswoman, she said we should definitely try Haribo cola bottles because they are on sale right now. :) We were happy to try but then preferred to buy local chocolate cakes.
        </p>
        <p>
            The shopping was – even for a multi-million city – surprisingly cheap.
        </p>
        <p>
            After shopping, we treated ourselves to the hotel restaurant. There was "fried rice" for me and a pizza for Seb. We wouldn't call it fried rice at home – it was just rice with lots of garlic and almost no vegetables. But okay. Seb's pizza was quite all right for that.
        </p>
        <p>
            After eating, we went back to the supermarket once more because we had forgotten the water for drinking and brushing our teeth. After that, we dallied a bit in the room until it was time for bed.
        </p>
        <p>
            Tomorrow we want to explore the city – so stay tuned.
        </p>
    </div>

</div>
<!--=== End Post ===-->
