---
layout: blog/en/travelblog
title: "12/29/25 Japan Town & Ice Rink"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-vietnam-bali

locations:
  - Vietnam
  - Ho Chi Minh

author: Steffi & Seb

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/ho-chi-minh-city-skyline.jpg"
    alt: "The skyline of Ho Chi Minh City"

overview:
  intro: "After breakfast, we decided to stop by the excursion advisory desk in the hotel again. Maybe they would have an"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_5619.jpg"
    alt: "The entrance to Japan Town"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} idea for us.
        </p>
        <p>
            And indeed: in the end, we went back to our room with a booking. Still completely overpriced for the region – but for that as a private tour, entirely according to our wishes. No tunnels and no caged animals. We do what we feel like. With that, it suddenly felt really good again.
        </p>
        <p>
            Afterwards, we made our way to the Notre Dame Cathedral. Unfortunately, it is completely scaffolded – and is also closed inside. Damn. So here too, only a look from the outside.
        </p>
        <p>
            We moved on towards Japan Town. That was… rather nothing. Probably the wrong time of day, but it seemed mainly like an entertainment mile with dubious charm and a corresponding number of establishments. So let's move on.
        </p>
        <p>
            After that, we ended up in a café over several floors and cooled down a bit. Now we continued with the metro, which is only about a year old. Seb touched the yellow line in front of the security glass door as the train was pulling in – and was promptly admonished. Oops. Sorry.
        </p>
        <p>
            Actually, our destination was Landmark 81, number 16 of the tallest buildings in the world.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            But we initially failed at crossing the streets. So we actually called a Grab taxi for the maybe three-minute drive. Not embarrassing at all but we wanted to arrive accident-free.
            Inside, a huge shopping center awaited us – including an ice rink. We watched the ice skaters for a short while and cooled down a bit. After that, we first went to eat. Actually, Steffi wanted pasta. However, that was already mixed with cheese, so she got a specially cheese-free pizza with mushrooms and tomatoes. The dough was great, for the rest… well. She just wanted pasta.
        </p>
        <p>
            Afterwards, we strolled through the center for a while before heading into the adjacent park on the banks of the Saigon River. We lingered there for a while and enjoyed the Japanese garden as well as the view over the Saigon River (see panorama picture), until we called a Grab taxi again to visit the Jade Emperor Temple.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_1510.jpg" alt="Landmark 81" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            This one was quite crowded and didn't look as fancy as many other temples we had already seen. Nevertheless, it was a nice change. Above all, though, they had many different orchids there. We would have loved to pack some but don't want any trouble with the German authorities.
        </p>
        <p>
            On foot, we then made our way back towards the hotel. But first, a really large intersection stood in our way. We stood there for at least ten minutes and wondered how we would ever get across here. Finally, we changed direction and found a spot where a policeman regulated the traffic at the push of a button. There we tagged along with a local and virtually crossed together.
        </p>
        <p>
            The air and the noise in this corner were almost tangible. It was slowly getting dark, and our path led us about 25 minutes up the street. On the way, we treated ourselves to an ice cream and later ended up in a café for drinks – pleasantly air-conditioned and above all: quite quiet.
        </p>
        <p>
            A short stop at the supermarket, then we were back in our room. There were instant noodles and watermelon, plus a series to end the evening.
        </p>
        <p>
            Tomorrow starts early: to the temple on the mountain – the Black Virgin Mountain – and on to the Cao Dai Temple.
        </p>
        <p>
            We're looking forward to it!
        </p>
    </div>

</div>
<!--=== End Post ===-->
