---
layout: blog/en/travelblog
title: "12/27/25 Markets Smog & Millions"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-vietnam-bali

locations:
  - Vietnam
  - Ho Chi Minh

author: Steffi & Seb

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/ho-chi-minh-city-skyline.jpg"
    alt: "The skyline of Ho Chi Minh City"

overview:
  intro: "After breakfast, we set off on foot to Ben Thanh Market. After only a few meters it became clear: you don't just cross streets here"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_1434.jpg"
    alt: "A small local market alley in Ho Chi Minh City"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} just like that. The most important rule is: don't stop. And it's best to find a local and just start walking with them. They know how it works – and the traffic seems to organize itself around you somehow.
        </p>
        <p>
            Ben Thanh Market itself is exactly what you expect: overcrowded, loud, cramped. There are countless fakes, a lot of junk, and aisles where you can hardly pass each other. For Steffi, this quite quickly became too much, so we moved on towards Bitexco Tower, a skyscraper with an observation deck.
        </p>
        <p>
            On the way there, we passed through a small, local market alley. Everything was really being sold there – from apples to fabric softener, at tiny stalls right by the side of the road. That was much more exciting than the large tourist market and simply nice to observe.
        </p>
        <p>
            Since it was warm and sunny again today, we first looked for a coffee shop. We just hoped that card payment would be possible, because we still didn't have any cash. Fortunately, that worked without a problem.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Arriving at Bitexco Tower, we treated ourselves to the ride up to the 49th floor for about 5 euros per person. For the tickets, we first had to go to the fourth floor – past hidden restaurants and sportswear outlets. The weather was not ideal, there was a lot of smog in the air, but at that price, it was okay.
            Seb would have liked to take a closer look at floors 26 & 36 because, according to the sign, Amazon Web Services is located there. Something related to his work. Nerd stuff and so on.
        </p>
        <p>
            Once at the top, the view was… well: a huge, overcrowded metropolis in the haze. Exciting highlights couldn't really be discovered except perhaps the Saigon River. We walked around once, took a few photos, and then were finished quite quickly.
        </p>
        <p>
            Afterwards, we finally got some cash. 1.5 million Vietnamese Dong look impressive – but are just about 50 euros.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/DSC01439.jpg" alt="The view from the Bitexco Tower Skydeck towards Landmark 81" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            For lunch, we ended up at Ann Quán restaurant opposite. There were spring rolls and noodles for Seb, for me noodles with vegetables. Unfortunately, mine were quite seasoned with chili oil or something similar – and accordingly spicy.
        </p>
        <p>
            Afterwards, we looked into a mall, but that didn't offer anything really exciting either. So we made our way back to the hotel and spent the next few hours by and in the pool. Although: rather in the jacuzzi, because it had a more pleasant warmth. The pool itself was a little too fresh for us.
        </p>
        <p>
            In the evening, there were bao buns warmed up in the microwave in the room – with meat or vegetarian filling. We had bought them at the supermarket the day before and they were actually quite delicious. In addition, German series were running on TV – thanks to streaming services, even Southeast Asia sometimes feels a bit like home.
        </p>
        <p>
            While relaxing, a little bit of bad news: Seb noticed that the strap of his dive computer is broken. Fortunately, there is a Suunto store here in the city. We want to stop by there tomorrow and hope that they can help us – or at least organize something to Bali.
        </p>
        <p>
            We'll see.
        </p>
        <p>
            Until tomorrow.
        </p>
    </div>

</div>
<!--=== End Post ===-->
