---
layout: blog/en/travelblog
title: "05/12/25 Shoes and Cops"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_DSC07847.jpg"
    alt: "The Capitol in Washington D.C."

overview:
  intro: "What a night. Although my phone showed over eight hours of sleep, when I woke up it felt like I had barely closed an eye."
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_2241.jpg"
    alt: "A helicopter at the White House"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} I had woken up several times, lay restlessly in bed, and had started four different sleep-inducing movies – hoping to sleep a little longer. It had only helped to a limited extent.
        </p>
        <p>
            In the morning, I felt completely exhausted. At least coffee and oatmeal were already waiting for me. The familiar routine felt good. And right on time at six, my workday started with the first status meeting in my Washington hotel office. Headset on, camera on, smile – it worked surprisingly well, even though I was drained.
        </p>
        <p>
            After the meeting, the question arose: What now? The sun was shining, the weather was gorgeous. I put on a jacket, packed my laptop, and set off. I took the Red Line to Metro Center Station and walked from there to Café du Parc, a small French-inspired café very close to the White House.
        </p>
        <p>
            There I treated myself to a large iced decaf latte and a palmier – sinfully expensive, but honestly also damn delicious. While I was sitting outside working, something completely unexpected happened: Suddenly I heard the roar of a helicopter landing directly behind me in the White House garden. It was apparently the presidential helicopter – right in the middle of my production meeting. That's Washington D.C. for you.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Around noon, I set off – my right foot had been causing problems for days, and I urgently needed new shoes. My first attempt at TJ Maxx was unsuccessful. So I spontaneously decided to drive out to the Tanger Outlet Mall to look for suitable footwear at my leisure.
        </p>
        <p>
            I got lunch on the way from an Egyptian food truck – a wrap with grilled chicken, freshly prepared and wonderfully seasoned. At the mall, I actually found what I was looking for: At Columbia, I discovered a pair of comfortable, sturdy sneakers for under $40. I put them on right away and threw the old shoes in the nearest trash can. What a relief – to finally be able to walk stably and without pain in my ankle again.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/DSC07859.jpg" alt="Mural of Mother Nature over 10 stories high" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            I strolled through a few other stores, saw many nice things, but didn't buy anything else. After that, it was back to the city. I got off at the Smithsonian Air and Space Museum, would have liked to make a quick detour inside. Unfortunately, you needed a free online ticket – and they were already sold out for today. So I had to settle for the view from outside.
        </p>
        <p>
            I continued walking towards the Capitol. Everywhere on the National Mall, stages were being set up, chairs arranged, and equipment installed. Tomorrow, the Candlelight Vigil was scheduled to take place here – an event commemorating police officers killed in the line of duty. Part of National Police Week, which was currently happening in the city. I felt like I was in the safest city in the world: Uniforms everywhere, almost every other person seemed to be a police officer – active or retired. The police cars at every street corner reinforced this impression.
        </p>
        <p>
            I took a few photos of the Capitol and spoke with an officer who explained to me that there are public tours – also for international visitors. You could even sit in the visitor gallery of the Senate, but you would have to request this from a Senate office beforehand. Since cameras aren't allowed up there, I decided to postpone that for another day.
        </p>
        <p>
            My path led me further towards the supermarket, past several court buildings, through Chinatown, and – of course – past countless more police officers. In a small park at the corner of the 6th Street Historic Synagogue, I suddenly discovered a bagpipe and drum ensemble with eleven people. They were rehearsing there quite publicly – probably also part of Police Week. I sat on a bench for a while, let the music affect me, and caught my breath a bit. It was a very special moment.
        </p>
        <p>
            On the way back, I took one or two more photos – including one of a huge mural titled Mother Nature. Beautiful. I would like to have that printed large someday. I finally got groceries at Safeway, then took a Lyft back to the hotel. For dinner, I made myself toast with chicken and cheese. Watched an episode of NCIS – what else on a day like this – and then I was ready for bed again.
        </p>
        <p>
            See you tomorrow.
        </p>
    </div>

</div>
<!--=== End Post ===-->