---
layout: blog/en/travelblog
title: "12/31/25 3 Temples & 1 Firework"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-vietnam-bali

locations:
  - Vietnam
  - Ho Chi Minh

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/happy-buddha.jpg"
    alt: "The laughing Buddha at Black Virgin Mountain"

overview:
  intro: "New Year's Eve – and still no plan for the evening. So first, breakfast in a very relaxed way. Afterwards, we set off for a"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_1702.jpg"
    alt: "The Chùa Pháp Hoa Temple from the inside"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} temple exploration across the city. Footpaths are partly a real scarcity here, so it's straight across the streets. Past plenty of garbage, small stalls, and friendly greeting vendors.
        </p>
        <p>
            Our first stop: Chùa Pháp Hoa. Unfortunately, we were a good 25 minutes too early. Since thirst was calling and it was meanwhile also shortly after 1 PM, a slight hunger also announced itself. So we stopped at a small restaurant. There were drinks, for me noodles in soy sauce and for Seb a waffle filled with peanut butter.
        </p>
        <p>
            While I had already finished eating for surely ten minutes, a small drama unfolded behind us. The first attempt at the waffle failed. The second apparently as well. Suddenly, three, at times even four cooks and waiters stood in the kitchen and deliberated. At some point, I noticed that someone started a video call – instructions were given, movements shown, and everything explained in great detail. In between, Seb was offered something jelly-like as an apology, but gratefully declined. Hunger wasn't that big after all.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            At some point it finally came: the waffle, served with a broad grin and a big apology.
        </p>
        <p>
            By now it was something after 2 PM and we finally went over to the temple. Since I was wearing a sleeveless T-shirt today, I put a cloth over my shoulders at the steps. The lady at the entrance acknowledged this with a friendly smile and nod. The temple itself was not as large as it appeared from the outside, but laid out over three levels – and almost completely empty.
        </p>
        <p>
            On the way to the next destination, we discovered another temple on the other side of the river. However, there was no bridge here, so back again and take the previous crossing.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_5779.jpg" alt="Midnight 01/01/2026 in Ho Chi Minh City" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            It was the Chùa Chantarangsay. Arriving there, a Cambodian style with pictures of Angkor awaited us. The halls and living areas felt almost like a sick camp. In fact, we saw several very old women who also looked very frail.
        </p>
        <p>
            In one hall sat a monk, in front of him a dog was slumbering. Of course, it was promptly startled and began to bark. While I and the monk admonished the dog, Seb beat a hasty retreat and went around the outside to collect his shoes.
            The main hall had very beautiful wall and ceiling paintings, but was also not particularly large.
        </p>
        <p>
            Over stick and stone – or rather street and garbage – we continued with a small detour via a café for drinks to the Vinh Nghiem Temple. Here everything immediately felt much more commercial: at the entrance, a trinket shop and all sorts of stalls awaited us.
        </p>
        <p>
            You could even buy tiny, tightly huddled birds there, which were then put into even smaller cages. You could take these with you and release them up at the temple – where they would presumably end up in traps again a few hours later.
            We were lucky and could attend a ceremony. Afterwards, we visited the temple, which inside was not among the most spectacular, however. But it was a nice change nonetheless.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Meanwhile, we were quite exhausted and returned to the hotel. Briefly into the pool, a round of being bitten by mosquitoes, and then we ordered something to eat to the room again.
            Now it was a matter of killing a little time before we trotted to the local "party mile".
            A boat had no longer been obtainable, and the observation towers didn't offer anything really exciting either: one was far away, the other had no outdoor area and cost so little that it sounded suspiciously like a flop.
        </p>
        <p>
            So we stayed on the party mile and sat on a wall in front of the town hall. On the stage, some singers and bands played, and the clock showed 17 minutes to midnight.
            Time passed surprisingly quickly. Exactly at midnight, the fireworks started. Anyone who thought all hell would break loose here – nope. People stayed calm and felt like they were heading home just seconds later.
        </p>
        <p>
            The fireworks were also mostly hidden behind a skyscraper. After a while, it moved a bit more to the center, but it wasn't a huge hit. Accordingly, we also moved on around 12:20 AM and got a midnight snack in the form of smoothies and a croissant.
        </p>
        <p>
            Now off to bed for now.
        </p>
        <p>
            Until tomorrow and Happy New Year!
        </p>
    </div>

</div>
<!--=== End Post ===-->
