---
layout: blog/en/travelblog
title: "05/30/25 Universal Parks Orlando"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - Orlando


headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_3023.jpg"
    alt: "A dinosaur watching us from the dense bushes in Universal Park Orlando"

overview:
  intro: "The alarm went off at 7 AM today, because a big day was ahead: Our visit to Universal Studios Florida and Islands of"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_2852-1.jpg"
    alt: "The fire-breathing dragon on the roof of Gringotts Bank in Universal Studios Park in Orlando"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Adventure! After a quick hotel breakfast – $12 per person, quite okay, but nothing special – we set off around 8:15 AM. At the park entrance, we immediately hit the first disappointment: $32 parking fee. Ouch.
        </p>
        <p>
            At 9:17 AM, we were finally in the park and started full of anticipation – our first ride took us into the world of the Minions. We stood on moving points of a conveyor belt and were sent with virtual cannons against villains – funny, colorful, and quite hectic.
        </p>
        <p>
            Next up was the Jimmy Fallon 3D ride through New York. Pretty fast-paced – especially for the eyes! It probably would have been more pleasant further back, but we made it through. The planned visit to the Fast & Furious ride unfortunately fell through: Technical problems. At least we could admire the exhibited cars in peace – a nice bonus for fans of the series.
        </p>
        <p>
            After that, it got magical: Off to Diagon Alley and Knockturn Alley. A real highlight – the details, the atmosphere, simply magnificent. Unfortunately, our stay was repeatedly interrupted by rain showers.
        </p>
        <p>
            The next ride took us to Men in Black – but with obstacles: After about 30 minutes of waiting, we finally sat in the car, the safety bars closed – and suddenly the entire system shut down. Silence. Even the monitors were off. We were stuck for a full 25 minutes before we were at least allowed to get out. A real experience of a different kind. Since it remained unclear when the ride would start up again, we decided to move on.
        </p>
        <p>
            So off to the Simpsons – the ride was cool, colorful, and chaotic – typical Springfield. For lunch, we had fried fast food – not exactly healthy, but exactly what you need on a park day like this.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="margin-bottom-5 img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_2852.jpg" alt="The fire-breathing dragon on the roof of Gringotts Bank in Universal Studios Park in Orlando" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            We had brought some drinks to the park as a precaution. After they were all gone, we got a refill cup for a hefty $16, about €14. This cup holds about 600 ml and has a tilt lid. You can refill as often as you want and have a choice of over 20 types of soft drinks. Refills are available at self-service machines or at almost every stand, which were well distributed throughout the park. There was even slush at some stands for refilling. There's only one limitation: you can supposedly only refill once every 10 minutes. Nope. It works more often. We were thirsty and didn't stick to the 10 minutes initially. What we didn't know, however, was that you can always get still water for free at the self-service stations, regardless of whether it's the refill cup or your own water bottles.
        </p>
        <p>
            In the afternoon, we were enchanted by DreamWorks: We saw Fiona, Donkey, and a digital Kung Fu Panda Po. Afterward, we enjoyed the small parade – short, but lovingly made.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="margin-bottom-5 img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_9041.jpg" alt="Steffi, me, and the Scooby-Doo crew" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Things got exciting at the Horror Make-Up Show, where they explained how monsters come to life in films. The audience was involved – seemingly randomly, but we discovered hidden name tags on the side. Nicely done!
        </p>
        <p>
            Directly across from the theater where the Horror Make-up Show took place, we first met Bart and Homer Simpson. Of course, we took the opportunity for a few funny photos with them. And just a few meters further, the next highlight awaited us: Scooby-Doo and his daring crew – Fred, Daphne, Velma, and Shaggy – were also out and about. We immediately took some more souvenir photos with them too. Such encounters in the middle of the park make the visit truly special.
        </p>
        <p>
            It was time to switch to the second park – so off to the Hogwarts Express. The waiting time of about an hour passed quickly, but when we were finally up, the next disappointment came: Technical problems – the compartment was wet. As compensation, we at least received express passes, which would prove useful later. Important to know: The Hogwarts Express connects two parks – you need a special park-to-park ticket for this, which cannot be purchased on-site.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            In Islands of Adventure, we went straight to Toothless, where we took a great photo and saw a beautiful T-shirt: Toothless and Light Fury as a yin-yang motif, across the entire front. Unfortunately, at $50, it was a bit too expensive. So it stayed there.
        </p>
        <p>
            Then it was: Off to the children's land! In Seuss Land (known from Horton and the Grinch stories), we let out the children in us. First, there was a cherry slush, then a comfortable train ride on a monorail that led through the area at a height of about 10 meters – really nicely done. This was followed by two carousels: One with colorful figures from the Seuss world, and one where we rode in a plastic fish in circles, up and down – trying to avoid the water jets. It was silly and wonderful at the same time.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            Then came a heavy shower, which fortunately was short and intense. In the Marvel world, we just looked around without riding – many things were closed due to the rain or simply too extreme for our taste.
        </p>
        <p>
            For dinner, we went to the Captain America Diner – salad for both of us, for a change, something fresh. In Toon Lagoon, we marveled at two water rides – but it quickly became clear: Anyone who rides these gets soaked to the bone. So just look, don't get on.
        </p>
        <p>
            We continued to Skull Island, where we did the "Reign of Kong" ride. A real blast – exciting, spectacularly staged, but so loud that we had to dig out our ear protection plugs in the middle of the ride. Still: Absolutely impressive.
        </p>
        <p>
            The next stop: Jurassic Park. Beautifully landscaped areas, many lifelike dinosaurs, really well done. Unfortunately, the Raptor Encounter was already closed again. So we got on the water boat tour. Initially leisurely, with animatronic dinosaurs to marvel at, then suddenly a scene change: We accidentally end up in the raptor area. It gets loud, hectic – and finally a huge T-Rex stands above us, roars – and boom, a 25-meter plunge downward. My stomach didn't appreciate the loss of gravity – and additionally, the bow wave completely soaked me. And the best part: Steffi next to me remained almost completely dry. Of course, she was wearing my rain jacket. Well: Happy wife, happy life.
        </p>
    </div>

    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="margin-bottom-5 img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_9082.jpg" alt="A lone walker in the heavy rain in Universal Park" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            In the evening, we went back to Hogwarts, where we rode the "Flight of the Hippogriff" – a small but fast roller coaster without loops or screws, so just barely manageable for me. Thanks to our express pass, we got on quickly – or so we thought. The ride broke down just before, and we had to wait another 10 minutes. The ride itself lasted only a few seconds, but afterward, everything felt like jelly for me – especially my balance and legs.
        </p>
    </div>

    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="margin-bottom-5 img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_9119.jpg" alt="Hogwarts Castle during the evening show" />
        </div>
    </div>

    <div class="col-md-6">
        <p>
            In Hogsmeade, many things were already closed. The staff was preparing for the evening light show at Hogwarts. Even the famous Hagrid's Motorbike Coaster wasn't running – just empty cars, obviously more technical problems. A bit disappointing – so many defects in one day in two premium parks...
        </p>
        <p>
            But we didn't let that spoil our mood, instead enjoying the light show at the castle before making our way back. The exit led us – like the entrance in the morning – to Universal CityWalk, which connects the two parks. Restaurants, souvenir shops, lights everywhere – beautiful, but our feet just wanted to go to bed.
        </p>
        <p>
            Back at the hotel, we were exhausted. And what's coming tomorrow? No idea. Maybe into Orlando, maybe just put our feet up. We'll listen to what our feet have to say.
        </p>
        <p>
            Good night – until tomorrow.
        </p>
    </div>

</div>
<!--=== End Post ===-->