---
layout: blog/en/travelblog
title: "12/22/25 Prologue: Southeast Asia"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-vietnam-bali

locations:
  - Singapore
  - Vietnam
  - Ho Chi Minh
  - Indonesia
  - Bali

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/amex-koffer-wand.jpg"
    alt: "A blue wall in the Amex Centurion Lounge at LHR Airport"

overview:
  intro: "Tomorrow after work we're off. While the Christmas peace slowly settles outside, two suitcases are ready here, carrying a completely different"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_E0121.jpg"
    alt: "A view from the pool over the sea and other parts of Bali 2023"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} promise within them: warmth, foreign cities, the sound of the sea, new impressions – and above all, time for us.
        </p>
        <p>
            This trip is something special. Not only because it takes us to three countries at once, but because we have planned it as a luxury trip for a long time. For over seven years, we have collected flight miles and have now redeemed them: For 400,000 miles and 370 euros, we are flying to Singapore and back in Business Class – otherwise the whole thing would have cost around 7,500 euros. We booked the shorter flights in between individually, all in Economy Class again, but affordable and flexible.
        </p>
        <p>
            Our route reads almost like a short novel:
        </p>
        <ul>
            <li>12/23/2025: Overnight with Lufthansa from Hamburg to Singapore</li>
            <li>12/26/2025: With Vietnam Airlines from Singapore to Ho Chi Minh City</li>
            <li>01/02/2026: Continue with VietJet to Bali</li>
            <li>01/16/2026: With AirAsia back to Singapore</li>
            <li>01/17/2026: Overnight again back to Hamburg</li>
        </ul>
        <p>
            Vietnam is new territory for us. We already know Singapore and Bali – but Bali was much too short last time to really arrive. That's exactly what we want to change this time.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            In Singapore, we start at the Grand Copthorne Waterfront Hotel. Thirty stories high, right on the river – we hope for a room high up with a view over the city. We will get around there quite relaxed by public transport. The network is simple, clean, and efficient. In Vietnam and on Bali, however, a driver will usually take over – uncomplicated and comfortable thanks to the Grab app (something like FreeNow or Uber). I really don't want to have to drive myself. This holiday should be light and relaxed.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_7189.jpg" alt="Steffi and I at Lempuyang Temple on our 2023 trip" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            In Ho Chi Minh City, we are staying at the Sherwood Suites Hotel, a five-star house right in the city center. From there, many things can surely be explored on foot. For New Year's Eve, we are still looking for a boat tour to see the fireworks from the water. Maybe we'll also spend one or two nights on a boat on the Mekong – nothing besides the hotel is booked there yet.
        </p>
        <p>
            Bali will then be the quiet pole of the trip. At the Siddhartha Oceanfront Dive Resort & Spa, we are staying in an oceanfront bungalow – right by the sea. After almost eight years, I will go diving in the open ocean there again. In recent years, there has only been occasional training in the swimming pool. So the anticipation for real salt water, reefs, and the feeling of truly diving in again is all the greater.
        </p>
        <p>
            On January 8th, an old acquaintance comes into play: Yuda. We were already traveling with him at the end of 2023. We liked his relaxed style – also behind the wheel – so much that we definitely wanted to be on the road with him again. He will pick us up at the Siddhartha Hotel on our departure day, we'll go on a day trip together across the island, and in the evening he'll take us to our new home on Bali.
        </p>
        <p>
            Waiting for us there at the Arma Museum and Resort is a private pool villa. More than twice as large as our apartment, with a large pool, whirlpool, and plenty of space for two people who just want to enjoy themselves. From there, we are planning at least one more tour with Yuda and want to explore the city of Ubud and the surrounding area – but above all, we want to arrive there, slow down, and not have to do anything.
        </p>
        <p>
            To finish off, it's back to Singapore once more. We don't have much time left there. In the evening and the next morning, we want to do something small before heading to the airport early. Changi Airport is worth a trip in itself – with Jewel Mall, Dinosaur Walk, and the butterfly garden. And then, late in the evening, our return flight takes off. The next morning we land back in Hamburg.
        </p>
        <p>
            What lies ahead of us is not an adventure in the classic sense. It is not "higher, further, faster". It is a trip with a lot of comfort, special places, new countries – and a lot of time for each other.
        </p>
        <p>
            And that's exactly what we want to tell you about in the coming weeks.
        </p>
    </div>

</div>
<!--=== End Post ===-->
