---
layout: blog/en/travelblog
title: "05/16/25 Highspeed Through the Storm"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - New York
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_2440.jpeg"
    alt: "The view from the Hudson River towards Manhattan"

overview:
  intro: "Today, exceptionally, there are two posts – the same day from two perspectives – this one from me, another from Steffi. We'll be reunited soon!"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_2385.jpg"
    alt: "Weather warning with notice about flooding due to heavy rainfall"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} But before we could roam through New York together, I still had half a travel day ahead of me – with dramatic weather scenery and a heavy suitcase.
        </p>
        <p>
            The night was – how should I put it – mediocre. I checked my phone several times to see how Steffi was progressing. Today she's flying the exact same route I took a week ago: first from Hamburg to Munich, then on to New York. Despite a small delay on the departure from Munich, everything went smoothly in the end.
        </p>
        <p>
            So I packed my things calmly in the morning and set off for Union Station around 8:30. I still had over an hour there – unfortunately in Siberian cold. All seating areas were placed directly under frosty air conditioners. Sitting? Better not. So I grabbed a tuna melt bagel, balanced it along with my backpack and suitcase to the platform – and off I went on the train to New York.
        </p>
        <p>
            The train was packed, but I managed to snag a good spot in the dining car. About halfway through the journey, it suddenly got dark – and then it started: a thunderstorm, straight out of a picture book. It rained so heavily that disaster warnings suddenly appeared on everyone's phones throughout the train – warnings of flash floods in English and Spanish. "Do not attempt to travel..." Well then – good thing I'm sitting in a train. It continued to speed through the storm at high speed.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            When we finally arrived in New York, it was only drizzling lightly. I headed straight to the hotel – SpringHill Suites by Marriott, room 2708 on the 27th floor. Theoretically with a view of the One World Trade Center. Practically: just clouds at the moment. But I didn't have time for the view anyway – I wanted to get to the airport to pick up Steffi!
        </p>
        <p>
            At JFK, everything went like in a movie: I had barely arrived when she came around the corner from the secure area. Finally, I have her by my side again! We took the next train straight back to the city, brought her carry-on to the hotel – quickly grabbing bananas and strawberries on the way, cheaper than at home by the way – and then freshened up.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_2397.jpg" alt="A small fire station near Chelsea Market" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Steffi's deodorant roll-on didn't survive the flight, but that was quickly forgotten. You can buy such things here, even if they cost more than double. After a short breather, we headed out towards Chelsea Market. So over to 8th Avenue and down to 15th Street. The entrance is on 9th Avenue – and inside there were tacos. Perfect start!
        </p>
        <p>
            On the way back, we walked up 6th Avenue again and discovered an open fire station. I quickly asked if we could take photos – and sure, come on in! The firefighters were super friendly. We took a few pictures, asked about the maximum height of their ladder truck (answer: 8th floor) and took a look at the memorial wall in the entrance area – a quiet, impressive reminder of the firefighters who lost their lives on September 11.
        </p>
        <p>
            Back at the hotel, we just enjoyed the view briefly. At least a few lights through the clearing fog. Even the skyscrapers in the Financial District, including the One World Trade, slowly emerged. And now, off to bed. Good night.
        </p>
        <p>
            Until tomorrow!
        </p>
    </div>

</div>
<!--=== End Post ===-->