---
layout: blog/en/travelblog
title: "06/01/25 Space Shuttles and a Bump"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - Cape Canaveral
  - Orlando

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_9283.jpg"
    alt: "A rocket on the grounds of the Kennedy Space Center Visitor Complex"

overview:
  intro: "The alarm went off at seven – it felt like right after I had just closed my eyes. Steffi had an even harder time with the night, her throat was"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_3132.jpg"
    alt: "A complete Apollo rocket with lander"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} causing problems again. Nevertheless: Get dressed, into the car, and off we went. Breakfast was just a quick stop along the way – a yogurt with fresh fruits and a chocolate croissant from Publix, then we headed to the Kennedy Space Center Visitor Complex, about an hour's drive from our hotel.
        </p>
        <p>
            Just before the entrance, a huge, wild black pig suddenly appeared at the roadside. Apparently, these animals are descendants of a few pigs that escaped decades ago and have since been fending for themselves out here. Pure Florida feeling.
        </p>
        <p>
            At the entrance, we exchanged our vouchers, which we had booked cheaply through AttractionTickets, for admission tickets and a $15 food voucher each. Then we went straight ahead – past impressive rockets of all sizes to the bus that took us to the Saturn V / Apollo Center.
        </p>
        <p>
            The ride there was surprisingly exciting: We spotted several alligators (some really huge!) and some wild pigs, passed the famous Vehicle Assembly Building (VAB), and even saw the gigantic crawler transporter that carries the rockets to the launch pad.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            At the Apollo Center, we attended several shows – including one in the original control center of the Apollo missions, with original recordings of the launch of Apollo 8. Impressive. In the huge hangar behind it, an original Saturn V rocket hung above our heads in full length – including all stages and tanks. At the very back, there was even a real lunar module. The astronauts who lost their lives during the Apollo missions were also honored in a dignified corner.
        </p>
        <p>
            Another show recreated the dramatic final minutes before the Apollo 11 moon landing – including all error messages and the emergency landing at the wrong position. Very exciting.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="margin-bottom-15 img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_9249.jpg" alt="The Space Shuttle Atlantis" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            After that, we took the bus back to the main area – unfortunately not very spectacular, but at least with air conditioning.
        </p>
        <p>
            Next stop: Space Shuttle Atlantis Hall. Outside, we were greeted by a huge replica of the tank with boosters. Inside, everything started as usual with a short show about the transition from Apollo to the shuttles – and when the screen suddenly became transparent, the original Space Shuttle Atlantis appeared behind it. A great moment. We could admire the shuttle from different angles across several levels.
        </p>
        <p>
            Then it got interactive: We tried to land a shuttle in the simulator. Steffi managed it twice, I messed it up each time just before the end when raising the nose – embarrassing. At least docking with the ISS went a bit better for me.
        </p>
        <p>
            The hall also contained replicas of ISS parts, which were meant to show visitors, especially children, how much or how little space there actually is in the ISS. Steffi couldn't resist crawling through herself. But she quickly realized afterward that it was more designed for children's knees. Hers hurt a bit after crawling through the tubes. It was all too tight for me.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            After that, we finally redeemed our food vouchers – we had salad. It was actually quite okay, only the right dressing for Steffi was missing again.
        </p>
        <p>
            A quick souvenir photo with a guy in a space suit, then it was off to the cinema for the next show: An exciting documentary about the James Webb Telescope – how it was built, how it works, and above all: those images! Impressive.
        </p>
        <p>
            On to the Gateway Hall, where current space projects are presented. A used SpaceX Falcon 9 rocket hung spectacularly from the ceiling – soot marks and burn marks included. Real space suits and capsules from SpaceX and Boeing were also on display.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            There was also another docking simulator there – this time from Boeing. I tried my luck... and messed it up again. Steffi, on the other hand, mastered the task with flying colors. And as if that wasn't embarrassing enough, I also bumped my head when getting out – the bump will remind me of my "performance" for a few more days. 🤕
        </p>
        <p>
            Further back in the hall, there was a separate area dedicated to the various Mars rovers that have been sent to the Red Planet over the last few decades. Of course, there were no originals on display, but scale models – but even these were impressive. I've been following the missions of Curiosity and Perseverance for years, not only because of the fascinating images they regularly send from the Martian surface, but also because the whole idea simply motivates me: What you can achieve if you really want to.
        </p>
        <p>
            What really surprised me, though, was the size of these rovers. I had always imagined Curiosity to be about the size of an XXL shoebox, Perseverance perhaps in coffee table dimensions. But no – Curiosity is as big as an American double-door refrigerator, and Perseverance easily reaches the dimensions of a Smart car. I really hadn't expected that – and it increased my respect for these missions even more.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="margin-bottom-15 img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_3211.jpg" alt="The Curiosity rover" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Outside, we then discovered a real astronaut, Terrence Wilcutt – just in passing. It was almost 4 PM by now, the grounds close at 5 PM, so there wasn't much time left. Some areas like the bus tour were already closed. We strolled around a bit more, bought a NASA T-shirt for me and a sticker for the suitcase, then we made our way back to the car.
        </p>
        <p>
            Our last stop of the day was the pier at Cocoa Beach. There we had dinner with a view of the beach – and of the various rocket launch sites in the distance. A nice conclusion.
        </p>
        <p>
            Back to the hotel with a short stop for some grocery shopping. We were back in the room around 8 PM. Tomorrow Disney is on the agenda – so another early start, but this time we're going to bed on time.
        </p>
        <p>
            Good night – until tomorrow.
        </p>
    </div>

</div>
<!--=== End Post ===-->