---
layout: blog/en/travelblog
title: "12/30/25 Culture in Spin Cycle"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-vietnam-bali

locations:
  - Vietnam
  - Ho Chi Minh
  - Tây Ninh
  - Black Virgin Mountain

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/happy-buddha.jpg"
    alt: "The skyline of Ho Chi Minh City"

overview:
  intro: "This time the alarm went off at 6:45 AM. Not funny at all – but what don't you do. Today our private tour with driver and"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/DSC01569.jpg"
    alt: "The giant Black Virgin on Black Virgin Mountain"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} guide Tri was on the agenda: to Black Virgin Mountain and the Cao Dai Temple complex, about 90 kilometers from Ho Chi Minh City.
        </p>
        <p>
            So quickly have a small breakfast and be ready to go in the lobby at 7:50 AM. We were picked up directly there, and off we went. About three hours were planned – although we needed a good two of those just to get out of the city. This traffic, these masses of scooters are truly enormous. Better not even talk about the "how" of getting ahead.
        </p>
        <p>
            Arriving at the mountain, a huge facility awaited us. Hardly out of the car, our guide set a proper pace. Our hope: maybe this is only the beginning because we are supposed to see something specific at a fixed time.
        </p>
        <p>
            The cable car ride was still relaxed – the rest unfortunately not at all. We literally rushed through the complex and could hardly stand still anywhere. First, it was towards the "Black Virgin". She is surrounded by four smaller figures. These are still about as high as a single-family house. But we only walked around the art gallery outside at the bottom once. There seemed to be no time for closer. Photos – preferably while passing by.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Outside, a new area called "The Universe" was shown. However, the opening is only tomorrow – so just a quick look and on.
        </p>
        <p>
            On the way down, it jammed at the escalator. Two older ladies had apparently never ridden an escalator and panicked. Our guide helped them – the elevator would have been right next to it.
        </p>
        <p>
            We ended up at the water column in which original Tibetan characters are encased, and went on to the laughing Buddha. Here too, we would have just flown by had I not spontaneously offered some monks to take photos of them – and used the opportunity to also get a few of us. Unfortunately, photography is not quite our guide's strength. Seb and the software will probably have to deal with this later.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_1632.jpg" alt="The Cao Dai Temple" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            I believe this place is actually beautiful – if you are allowed to breathe.
            On to the Zen garden. Quiet, harmonious, really nicely laid out. But time? None.
        </p>
        <p>
            Back on the main square, Tri then announced we now had 15 minutes of "free time". Woohoo. A short walk through an arched garden, sat down for five minutes – and already it was back to the car. In the hope that we would finally eat something now.
            Nope. No time. The Cao Dai Temple is waiting.
        </p>
        <p>
            So we devoured the wisely packed cookies. About 25 minutes of driving later, we were at the temple, were briefly dropped off at the side of the road and led directly inside. The daily ceremony was just taking place, which we were allowed to attend from the vestibule. After about 20 minutes it was over, and we were allowed all the way in.
        </p>
        <p>
            The ceiling and the pillars are truly beautifully designed – with many dragons, eyes, and over 3,000 stars. After that, we circled the temple once and walked a few meters. Maybe 500 meters. Past cute monkeys – but here too, no time remained.
        </p>
        <p>
            Our next destination was a school. A picture hangs there that, depending on the perspective, shows Hinduism, Christianity, or Buddhism. Exciting – and already the time was up again.
            Into the car. Finally to eat.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            In a restaurant, a few minutes' drive away, a purely vegetarian selection awaited us. As always far too much – but very delicious. After that, it was straight back to Ho Chi Minh City.
            It felt like we hadn't really seen anything – and certainly hadn't processed it. When we were back at the hotel, it was already after 5 PM.
        </p>
        <p>
            Our conclusion: You can do all that – but you should decide on one of the two sights. Both in one day is simply too much.
            We had already deliberately omitted the Chu Chi Tunnels as a third point of the day. There is no time to really look or arrive.
        </p>
        <p>
            Back in our room, we ordered pasta and burgers via room service and let the evening end comfortably. Meanwhile, two loads of laundry and the dryer were running. Stupidly, the exhaust dryer is not made for this small chamber – it was afterwards full of condensation from top to bottom. So first, wipe it dry.
        </p>
        <p>
            Oops.
        </p>
        <p>
            Tomorrow is New Year's Eve. Let's see what awaits us there.
        </p>
    </div>

</div>
<!--=== End Post ===-->
