---
layout: blog/en/travelblog
title: "05/31/25 A Touch of Disney"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - Orlando

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_9192.jpg"
    alt: "Miniature figures of Mickey, Minnie, and Pluto just a few millimeters tall"

overview:
  intro: "Today we really slept in. That felt good after the intense days before. For breakfast, we went to Keke's, where we only"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_9136.jpg"
    alt: "The giant Stitch above the entrance of the Disney Store. Caution, he sprays water"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} had to wait about ten minutes until we got a table. We shared a combo: I had two giant pancakes, generously topped with fresh fruit. Steffi got an omelet that was supposed to come with hash browns – but instead came with fried potatoes (breakfast Florida-style). It was served with a small but really delicious yogurt with fruit and granola. Everything was super fresh and very tasty.
        </p>
        <p>
            After breakfast, we went on a small shopping tour – three Ross stores and one Marshalls were on the agenda. In the end, at least one shirt for me made it into the bag. Steffi also video-called with Sonja to find a new wallet for her, but unfortunately, we had no luck with that.
        </p>
        <p>
            We then continued to the Orlando International Premium Outlets Mall. It's huge – but somehow also quite expensive, and unfortunately, we didn't find anything we really liked. So back to the hotel.
        </p>
        <p>
            As soon as we arrived in the room, I just fell onto the bed – and was immediately asleep. Two hours of deep sleep, but unfortunately not really restful. I felt even more exhausted afterward than before. Steffi used the time on her phone while I was blissfully snoring.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Despite the fatigue, we spontaneously decided to visit Disney Springs in the evening – a lively entertainment district in Disney style. As soon as we were there, the exhaustion was gone. Disney products everywhere – from classic clothing to crystal Disney castles to entire works of art made of wood. The restaurants were also beautifully and lovingly designed, even if they had no direct connection to Disney.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_9183.jpg" alt="Here Pluto is being drawn for us" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            A special highlight was the moment when we had a Pluto drawing made – especially for us. The picture was actually supposed to be drawn the next day, but we were able to convince the artist to move it up and draw it directly for us tonight. Until she started with the picture, we strolled through the extraordinarily designed restaurants and cafes.
        </p>
        <p>
            To pass the waiting time, we treated ourselves to an oversized donut and water at a food truck with a Stitch design – Stitch was omnipresent anyway because the new movie had come to theaters a few days ago.
        </p>
        <p>
            When we returned to the artist, our Pluto was already half-finished, and we could marvel at how quickly and creatively the lady approached the task. After the drawing was finished, it was hard for us not to buy the matching Disney picture frame – unfortunately, it exceeded our budget and was only available in black. On the way back to the car, we got stuck at a crystal Disney shop. A real mistake. Or maybe not. Steffi fell in love with a small glass Christmas tree that has space for twelve mini glass ornaments – each printed with a different Disney character. And of course, we took it with us. One more beautiful memory for our home.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Back at the hotel, it was long after midnight. At 1:22 AM, we set the alarm for seven o'clock – and fell dog-tired into bed. Unfortunately, Steffi woke up again around 3 AM, plagued by persistent coughing. Hopefully, it won't get worse.
        </p>
        <p>
            Good night and until tomorrow.
        </p>
    </div>

</div>
<!--=== End Post ===-->