---
layout: blog/en/travelblog
title: "01/15/26 Rain in Kuta"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-vietnam-bali

locations:
  - Indonesia
  - Bali
  - Kubu
  - Kuta

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/kuta.jpg"
    alt: "The view from our balcony in Kuta"

overview:
  intro: "After what was now really a last breakfast, we set about packing the last things. Shortly after, the suitcase transport already came. The"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_2249.jpg"
    alt: "Our bathroom in the Amnaya Resort Kuta"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} is somehow regulated here like by magic – you get the suitcases ready and don't have to worry about anything else.
        </p>
        <p>
            After also the mandatory tasks like settling the bill were done, it was time for saying goodbye. The staff even tried to reach Barbara. She sent word, however, that she would be in the main office at the other end of the island for the next few days. Too bad, we would have liked to say goodbye to her personally.
        </p>
        <p>
            So we finally got into the car with Made and made our way. It must really be up to Made, because hardly were we sitting in the car, it started to pour again. 🤪 Always, really always, when we were on the road with him (3x), it poured in buckets. 🤣
        </p>
        <p>
            During the drive Seb received another WhatsApp from Barbara. She wrote that she very much regretted not being able to say goodbye personally and wished us a good trip home. We still told her about the crabs in our shower, and she promised with a wink to take good care of them and to nurse them until we come back.
        </p>
        <p>
            Made brought us safely to Kuta. After one or two wrong turns we suddenly drove over paths that looked more like pedestrian paths than real streets. But in the end we actually arrived at the Amnaya Resort Kuta.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-15">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            As soon as the paperwork was done, we were asked to take a seat for a moment as our room was not yet quite ready. So we waited a little.
        </p>
        <p>
            After some time we could then finally move into our room – and marveled once more at the ideas of modern architects. The bathroom was directly in the bedroom and shower and toilet were separated by a glass wall from the room. And that without much tinting. Only a foil that allowed shadow plays. At least one could pull a curtain. Nevertheless one really wonders why this trend is so popular all over the world.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_2255.jpg" alt="The mall in Kuta" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Since it was meanwhile already late afternoon, our stomachs spoke up. So we set off towards the main street to look for something to eat. Hardly had we arrived there, however, a heavy cloudburst broke out.
        </p>
        <p>
            So quickly back in – this time in the opposite mall. There we first strolled around for a while and waited for the rain to subside. However, we had driven exactly through this rain front before, so that it was clear that this could thoroughly take some time.
        </p>
        <p>
            At some point it indeed became dry again and we wanted to go a bit towards the water at the back of the mall. Arriving there we found out, however, that everything was a single large construction site and one could hardly recognize where one should walk along at all.
        </p>
        <p>
            Of course it started to pour again exactly in this moment. So we decided without further ado simply to eat something in the mall.
        </p>
        <p>
            The weather didn't really get better all evening long. In a short dry phase we finally made it back to the hotel room. There was then still the obligatory portion of series until finally the tiredness caught up with us.
            <br />
            Good night.
        </p>
    </div>

</div>
<!--=== End Post ===-->
