---
layout: blog/en/travelblog
title: "01/14/26 Rainy Season"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-vietnam-bali

locations:
  - Indonesia
  - Bali
  - Kubu

author: Steffi & Seb

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/siddhartha-spa.jpg"
    alt: "The Buddha figure in front of the SPA of the Siddhartha Oceanfront Resort and Spa"

overview:
  intro: "The night already suggested it: the waves became even stronger and partly even came over the hotel wall. Also the wind had"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_2240.jpg"
    alt: "The waves are getting higher and higher"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} picked up considerably, so that one had to be careful with the palms and flowers. Again and again something fell down – among other things also coconuts.
        </p>
        <p>
            Two days after Seb's encounter with the corals, his arm then spoke up again after all. The spot where he had landed in the corals back then suddenly started to turn red and itch properly. All other small scratches that he had caught during it, on the other hand, made no problems at all. Apparently exactly this spot had received a bit more. Luckily it wasn't really bad, but it looked a bit as if he had caught a particularly stubborn nettle.
        </p>
        <p>
            Upon our arrival we had received spa vouchers again. We hadn't redeemed them at all during the first stay because Seb didn't want to back then because of his sunburn. This time he signed up, however, and treated himself to a Balinese massage – though only for the back.
        </p>
        <p>
            He raved so much about it afterwards that I finally signed up for the next day as well. Actually I am rather reserved with such things and don't like that particularly. But my back would surely be happy, so I also limited myself to back, arms, and hands.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Since the red flag was still hanging at the sea and it slowly became a bit boring and the pool area was quite in the wind, we set off for the supermarket once more – this time to the small one. There we treated ourselves to an ice cream. We couldn't eat that fast enough, though, because it literally ran away from us in the heat.
        </p>
        <p>
            On the way back we didn't take the direct way to the hotel this time, but made a small detour to the temple next door. Unfortunately we had to find out that this was locked. So nothing else remained for us than to walk back to the hotel again.
        </p>
        <p>
            Later we leafed through the excursion folder once more, but nothing really jumped out at us anymore. Much lay quite far away or somehow didn't interest us. Above all the weather continued to play crazy too. From doomsday mood with heavy rain to stormy sunshine, everything was there in a single day. Only one thing remained constant: the red flag at the sea.
        </p>
        <p>
            And suddenly it was indeed already January 14th and my massage was due. Back, arms, and hands – and I must admit: it was really incredibly relaxing. At the end one smelled quite intensely of dragon balm, though, which one should let soak in for about an hour before one was allowed to shower. That was indeed a bit of getting used to, but thoroughly bearable.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-15">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_6052.jpg" alt="The squinting moth on the towel" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            After the balm was finally washed off again, we passed the time at the pool. There we received repeated visits from a tiny little moth that really squinted extremely. It landed again and again on our pool towels and even let itself be photographed. A droll little creature that flickered around us again and again.
        </p>
        <p>
            In the pool we then noticed at the edge again and again something that immediately disappeared as soon as one approached. After a bit of observing it turned out that it was a hermit crab. Shortly after we discovered even several of them. Apparently they had somehow landed in and at the pool. One even on the stairs down to the toilet.
        </p>
        <p>
            We collected them without further ado and brought them towards the sea where we set them down on the meadow. With the strong swell they should be able to decide for themselves whether they want back into the sea or rather hide on land. In the chlorinated pool they had nothing to seek, anyway.
        </p>
        <p>
            How else do you notice that another week has passed? The hotel staff unpacks the mosquito bomb. With a kind of leaf blower they then run over the entire complex and distribute the remedy against the mosquitoes. This time the wind stood a bit unfavorably, though, so that we rather retreated towards the sea in order not to stand in the middle of the cloud. One doesn't necessarily have to have that stuff in the lungs, after all.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            In the evening it was then also already time to pack suitcases again, because tomorrow we continue to Kuta, near the airport, for our last night on Bali.
            We had booked our transfer with Made again in advance. Thus we can look forward to a relaxed morning tomorrow.
        </p>
        <p>
            But more about that tomorrow.
            <br />
            Good night.
        </p>
    </div>

</div>
<!--=== End Post ===-->
