---
layout: blog/en/travelblog
title: "01/04/26 Between Two Worlds"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-vietnam-bali

locations:
  - Indonesia
  - Bali
  - Kubu

author: Steffi & Seb

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/schildkroete-banner.jpg"
    alt: "A real hawksbill turtle off the coast of Bali"

overview:
  intro: "For Seb, a very quick – and above all very small – breakfast was on the agenda today. The dive center was calling and it was finally time to go into the"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/P1041647.jpg"
    alt: "Fish on black lava ground"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} water.
        </p>
        <p>
            After quick checks, a few questions, and organizational preliminaries, he headed towards the house reef. I, on the other hand, retreated for now under the air conditioning of our bungalow – relaxation Balinese style.
            About the dive, Seb tells himself:
        </p>
        <h3>Seb's Dive Report</h3>
        <p>
            The dive center here in the resort is really awesome. All-round carefree service, super organized, incredibly friendly – and today even educational to boot. As Steffi already mentioned yesterday, I had signed up for a refresher course including a Nitrox dive.
        </p>
        <p>
            Briefly for explanation: Nitrox is simply breathing air with a higher oxygen content – specifically 32% oxygen instead of the usual 21%. This reduces the health risk when diving and ensures that you don't feel quite as exhausted afterwards.
        </p>
        <p>
            The theory part on land was kept pleasantly short: a few basic rules, hand signals, behaviors, and the sequence of the dive.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            The complete equipment was already waiting fully assembled. I only had to check and acknowledge the oxygen content of the tank as well as make a quick check if everything was correctly mounted. Afterwards, the heavy equipment was carried the few meters to the water's edge at the house reef entrance – it is only put on there. What a service. My back is most happy about it!
        </p>
        <p>
            We went into the water as a threesome: with the German dive instructor and my dive buddy Komang.
        </p>
        <p>
            In the water itself, it was initially unusual – after almost eight years without an open water dive, but probably completely normal. But the underwater world distracted very quickly: we swam past clownfish, huge schools of mackerel, coral formations, and an impressive variety of fish species.
        </p>
        <p>
            Our first stop took us to a sandbank with about 1.5 m high Buddha statues underwater. There we did some exercises. The exercise "mask clearing" didn't go optimally today, to be honest – I definitely have to train that more relaxed in the coming days.
        </p>
        <p>
            From there we continued from about 7 m depth down to around 18 m. On the way, Komang showed us a beautiful black-blue, variable headshield slug – unfortunately I didn't have a camera with me today since it was a course. Tomorrow for sure. I just hope it's still there then.
        </p>
        <p>
            Afterwards, we dived on to the so-called "Project" – an artificial reef that is meanwhile full of life. Large and small life everywhere. Highlight here: a huge pufferfish, certainly 50–60 cm long, which swam relaxed between the erected grids on which many plants and corals are already growing.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-15">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/P1041649.jpg" alt="Another colorful fish off Bali" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            After a short stay at 18 m, we slowly headed back towards shallower water, past beautiful but extremely shy pink skunk anemonefish. Shortly after the safety stop, at about 3 m depth, we then met a large hawksbill turtle that was not bothered by us at all.
        </p>
        <p>
            After 45 minutes and exactly 50 bar remaining pressure (¼ of the tank as emergency reserve), we surfaced again – back from a completely different world.
        </p>
        <p>
            Wow. I surely saw over 2,000 animals, from over 150 different species. There is an unbelievable amount of life in the water here. Tomorrow I'll be back – then definitely with a camera.
            When we came out of the water, Steffi was already standing at the entry and welcomed us.
        </p>
        <h3>Back to Steffi</h3>
        <p>
            For lunch, I also finally wanted to go into the sea myself. So I grabbed Seb and our snorkeling gear – and off we went into the water. Even when snorkeling there was really a lot to see. The absolute highlight was of course a hawksbill turtle that was not bothered by us at all and calmly continued eating at the corals. In between it surfaced briefly, took a breath – and then headed exactly for the same spot again to continue eating. Mega.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            After cleaning the equipment, we ended up first in the pool. Since the food in the resort is somewhat more expensive compared to the rest of the island level, we decided to head for the local supermarket in the afternoon. It is conveniently located right at the turn-off of our street, so we didn't have to walk over the "main road". There we stocked up on instant noodles and sweets and made our way back.
        </p>
        <p>
            We still spent the evening in the restaurant – today no one felt like noodles from a cup.
        </p>
        <p>
            For Seb there was chicken Cordon Bleu, for me Nasi Pecel: a vegetarian dish with rice, tofu, tempeh, and lots of cabbage and vegetables. To be honest, it wasn't quite mine – but the peanut sauce with it was really delicious.
        </p>
        <p>
            A day between two worlds: upstairs relaxation in the resort, downstairs a fascinating underwater world. And tomorrow Seb goes directly back into the water – this time with a camera.
        </p>
    </div>

</div>
<!--=== End Post ===-->
