---
layout: blog/en/travelblog
title: "01/17/26 Singapore Once More"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-vietnam-bali

locations:
  - Singapore

author: Seb

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/clarke-quay.jpg"
    alt: "The colorful houses at Clarke Quay in Singapore."

overview:
  intro: "Today is our last full day on this trip. The plane doesn't leave until tonight at 11:55 PM back home, so there remains a whole"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_2313.jpg"
    alt: "The entrance to Clarke Quay in Singapore."
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} day in Singapore. Time enough then to move through the city once more before we finally make our way home tonight.
        </p>
        <p>
            The day began with breakfast at the hotel. That was less relaxed than hoped, however. It was loud, quite full, and somehow also a bit chaotically organized. People were queuing everywhere and overall it felt more like a station hall than a hotel restaurant.
        </p>
        <p>
            After breakfast we did the checkout. Thereby we also mentioned once more the many small things in the room that we had noticed – which we had already described yesterday. Nothing dramatic and actually complaining on a high level. But at over 230 euros per night one expects then a bit more perfection. The rest of the hotel was really top. We subsequently gave our suitcases for storage and set off on foot.
        </p>
        <p>
            The first walk led us through the colorful food mile at Clarke Quay towards Fort Canning Park. At this time it was still surprisingly quiet there, however. Many restaurants were still closed and overall it was almost deserted. Actually quite pleasant.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_2318.jpg" alt="The view from Fort Canning Park towards Marina Bay Sands Hotel">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Shortly after we discovered a family from Bangladesh who were trying to take a group photo. Steffi offered them directly to take a photo of all of them so that really everyone is on it. That also worked well – only the family had the idea afterwards that they would now also like photos together with us. The son spoke as the only one English and explained to us laughing that the family absolutely wanted that. So we stood shortly after ourselves on the vacation photos of a family completely foreign to us. Somehow also a nice memory.
        </p>
        <p>
            In Fort Canning Park it then became significantly quieter. We walked comfortably through the paths, made a few photos here and there, and also enjoyed the small Spice Garden which is really beautifully laid out.
            While we were thus strolling through the park, a church tower suddenly caught our eye that towered over the trees. Curious as we are, we naturally wanted to know what kind of church that is. So we walked in the direction and stood a short time later in front of the Wesley Methodist Church. Unfortunately the gates were closed and everything looked like one cannot visit the church. Too bad actually, from the outside it looked really interesting.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_2350.jpg" alt="The delicious juices and their machines" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            From there we walked further towards Orchard Road. On the way we discovered two machines that pressed fresh juice. One for apple juice, one for orange juice. Of course we had to try that.
        </p>
        <p>
            The juice was pressed directly before our eyes from the fruits and tasted really very good. And with two Singapore Dollars, so about 1.30 euros per drink, that was also absolutely fair. So fair that both of us treated ourselves to a second round right away.
        </p>
        <p>
            Slowly it became quite hot, however, and we noticed that we indeed already had some kilometers in our legs. So we walked on to the Plaza Singapura simply to get a bit of cooling in the air conditioning.
            I was meanwhile so sweaty that I immediately started to freeze in the mall. Hopefully I don't catch anything from that.
            Let's keep our fingers crossed that the vitamins from the fresh juices know to prevent that.
        </p>
        <p>
            In one of the electronics shops we then even discovered a Sony lens at a really good price. The salesman explained to us quite openly, however, that the price would only be so cheap if one is a bit creative with the truth at customs. Since we are honest people and have no desire for such games, we rather left the lens on the shelf after all.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            With the metro we subsequently drove on until City Hall to get to St Andrew's Cathedral. That sounded easier than it was. In the huge underground mall at the station we completely got lost and ended up in a completely different mall in the end.
            At some point we found the right exit after all, though, and stood finally in front of the cathedral. We walked once around the church, looked at it from inside and outside and made a few photos before we directly got back into the metro.
        </p>
        <p>
            Our next destination was the Sultan Mosque. Around the mosque lie many small alleys with shops, restaurants, and cafés. However, there was really much going on here meanwhile. The streets were full of people and everywhere there was a proper hustle and bustle.
            Into the mosque itself we didn't go, however. One had to register beforehand and fill out forms again. After all the entry papers of the last weeks we honestly had no desire for that anymore.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            In the early evening we were then drawn back again towards Boat Quay. There is located the restaurant Maharani Table which we had already searched out before our trip, actually for a Christmas dinner.
        </p>
        <p>
            Steffi ordered a rice dish and I decided on a selection of different Naan bread varieties. The waiter still asked if I wanted to have a dip with it. Sure, why not. I decided on Chicken Tikka Masala as a dip.
        </p>
        <p>
            When the food came, I marveled not bad, however. The dip bowl was rather a small cereal bowl and in it even three proper pieces of chicken were swimming. For a dip I definitely hadn't expected that.
        </p>
        <p>
            When the bill came later it was also clear why. A complete Chicken Tikka Masala main course was simply charged. Since the food was really very delicious, both of us were stuffed and we had no desire for discussions, we simply paid – but without tip.
        </p>
        <p>
            Afterwards we slowly walked back towards the hotel. Next door in the mall we still wanted to quickly get something to drink and ended up in the Don Don Donki supermarket. There are almost exclusively Japanese products there.
        </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_2358.jpg" alt="The Mosque" />
        </div>
    </div>

    <div class="col-md-12">
        <p>
            Of course we couldn't resist and packed a few KitKat varieties unknown to us and additionally something to drink. After that it went back into the hotel to pick up our suitcases.
        </p>
        <p>
            Around 6:30 PM we then ordered for the last time on this trip a Grab taxi to the airport. In front of us stopped a black minivan that looked rather like a small lounge inside. In the back stood individual seats that reminded more of comfortable armchairs – including reclining and massage function.
        </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_6106.jpg" alt="The minivan to the airport" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            The driver was super friendly, drove very pleasantly and we quickly got into conversation. We said at some point jokingly if he couldn't drive us directly until Hamburg. He laughed and told that he had only once driven a really long distance so far – until the Thai border, about 36 hours. Further he had never come with the car.
        </p>
        <p>
            Arriving at the airport we first went into the Jewel Lounge. Our plan was actually only to shower. Eating we didn't need anymore, we were still full from the Indian food.
        </p>
        <p>
            The selection of drinks was also rather poor, however. Steffi suddenly had desire for a Fanta – that there wasn't there of course. Furthermore we waited in the end indeed an hour for a shower.
        </p>
        <p>
            So I still ran a small round through the mall in the airport. Thereby I caught by chance a small show at the large waterfall and indeed found another Don Don Donki supermarket. There I then also discovered a Fanta for Steffi.
        </p>
        <p>
            After some time the showers were free, we made ourselves fresh once more and subsequently went to check-in. Everything further from the journey home we then tell in the next post. Until then
            <br />
            Good Night.
        </p>
    </div>

</div>
<!--=== End Post ===-->
