---
layout: blog/en/travelblog
title: "01/09/26 Hasty Departure"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-vietnam-bali

locations:
  - Indonesia
  - Bali
  - Ubud
  - Kubu

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/besakih.jpg"
    alt: "The mother of all temple complexes on Bali. Pura Besakih"

overview:
  intro: "Surprisingly, I slept through the night. At least I can't remember being awake. Probably my body just said to itself:"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_2152.jpg"
    alt: "The room number for the private pool bungalow with thick dirt on top"

add_css:
  - /assets/plugins/owl-carousel/owl-carousel/owl.carousel.css
  - /assets/plugins/owl-carousel/owl-carousel/owl.theme.css
  - /assets/css/owl.carousel.css
  - /assets/plugins/fancybox/source/jquery.fancybox.css

js:
  scripts:
    - /assets/plugins/owl-carousel/owl-carousel/owl.carousel.js
    - /assets/js/plugins/owl-carousel.js
    - /assets/plugins/fancybox/source/jquery.fancybox.pack.js
    - /assets/js/plugins/fancy-box.js
  run_code:
    - OwlCarousel.initOwlCarousel();
    - FancyBox.initFancybox();
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} "Don't wake up – otherwise you won't fall asleep again and just get a head cinema."
        </p>
        <p>
            I was finally woken up by something running over my arm. Once again some crawling critter. The side next to me was already empty, though. Since he didn't react to calling, I sent a message. The answer was just: "Am in the bathroom and documenting." Um … ok?!
        </p>
        <p>
            As it turned out, Seb practically didn't sleep at all during the night. At daybreak he started to document the defects in the villa and thereby also decided that we move out. I had absolutely nothing against that. I felt more than uncomfortable here. So quickly dressed and off to the reception. We had to clarify what we could do after all – we had booked "non-refundable" via Booking.com.
        </p>
        <p>
            Together with my pictures and also those from Seb, we made our way over the actually totally beautifully laid out complex to the reception. Meanwhile, we deliberated once more what we would do if they offered us another villa. We quickly agreed: no chance. The train had left. We wanted to enjoy the rest of the vacation without bad thoughts.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            On the way we still talked with an older lady from England. She told about her room at the pool, which is supposed to have 5-star Hilton standard and is probably brand new. Maybe we just had bad luck this time. Nevertheless, one wonders then why one rents out a villa in this condition at all.
        </p>
        <p>
            At the reception, a young lady served us who felt like she became quieter and paler from minute to minute while we described our experiences. To our great surprise, we were able to depart without problems – and completely without payment. Not even for the one night we had been here. They would prepare a confirmation for Booking that we don't have to pay anything neither for the night nor for the remaining time, and then we could leave the hotel.
        </p>
    </div>

    <div class="col-md-12">
        {% include 'owl-carousel-v4.html.twig' with {
            'additionalContainerCss': 'margin-bottom-10 margin-top-10',
            'imageBasePath': '/assets/img/blog/2025-vietnam-bali/',
            'images': {
                'IMG_2149.jpg': 'The completely germ-infested nozzles of the whirlpool. You can\'t enjoy it like this.',
                'IMG_2154.jpg': 'Every curtain looked like this',
                'IMG_2162.jpg': 'In several places the wall was moldy. The roof didn\'t look any better either',
                'IMG_2165.jpg': 'The cushions were intact but every single one had stains. This is one of the better ones',
                'IMG_5970.jpg': 'The shower head was an impertinence. The few jets that still existed had too much pressure and were painful.',
                'IMG_5972.jpg': 'The floor in the lounge area above the shower. Not only broken but also dirt everywhere. See image edges.',
                'IMG_5974.jpg': 'This stood next to the table in the lounge area. No idea what it is but it was filthy with dirt and dust!',
                'IMG_5994.jpg': 'These small black dots came out of the air conditioning and flew directly into the bed. This is what it looked like 5 min after switching on.',
                'IMG_5996.jpg': 'The bedside lamp made of stone. Broken',
            }
        } %}
    </div>

    <div class="col-md-12">
        <p>
            Furthermore, we left them our pictures and videos upon request. Meanwhile, two or three other staff members were already standing there, and they promised us to speak immediately with the service manager because of the villa.
        </p>
        <p>
            The confirmation took a while, though. So first we went back to the villa to pack our things again. Thereby the next question naturally arose immediately: what do we actually do now? Search for something else in Ubud – or …?
            The "or" was cleared quite quickly. We wanted to go back to the Siddhartha Oceanfront Resort & Spa. We felt comfortable there, everything was clean, and the staff was simply great.
        </p>
        <p>
            On the resort's homepage we checked the availability and wanted to book directly. Unfortunately, that didn't work because the lead time of "immediately" was too short. So Seb activated his German SIM card and called the hotel directly. Initially we had difficulties landing with the right person. When we finally got through, we told who we were and asked if Barbara might be nearby.
            She must have heard her name by chance while passing by – because suddenly she was on the phone. From us came only: "Get us out of here, save us!" After a short explanation, she immediately promised to send us a driver. We swapped numbers again for emergencies and also for the driver and said goodbye.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_2169.jpg" alt="One of the small shopping alleys with lots of trinkets" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            We now had about three hours time.
            Seb showered quickly once more as he was sweating profusely while I threw the remains into the suitcases. Secretly we hoped of course that we hadn't caught any vermin from the villa and were now carrying it with us.
            Then it was back to the reception.
            There we paid for our dinner and the dance show, got the confirmation for Booking, and then first let our suitcases stand there.
            We still had shopping plans for our time in Ubud, which now had to be done at short notice and especially in double time.
        </p>
        <p>
            Since we had also waived breakfast, we first went to the opposite supermarket and then took a Grab taxi to the center of Ubud. There we strolled through the shopping street and specifically headed for the jeweler we had already been to in 2022. Back then I was already allowed to pick out chic earrings there which I liked very much and which I also tolerate really well. So I needed supplies.
        </p>
        <p>
            We were surely 30–40 minutes in the shop and bought quite a bit – among other things a necklace with a matching pendant for the earrings from 2022. Of course I didn't pay again. Love you, my … (secret)! 😉
        </p>
    </div>
    <div class="col-md-12">
        <p>
            After this absolute mandatory point was done, we moved on through the next street and enjoyed that it was still relatively empty thanks to the early hour. Actually we are not so much into trinkets. But this time we became weak again – or better said: Seb. Three more Buddha figures holding tea lights may now travel with us to Germany. For that, my old candlestick at home is going out.
        </p>
        <p>
            Our path then led us to the market hall which we also already knew from last time. There was meanwhile significantly more activity, and I was drawn back outside relatively quickly – back into the somewhat quieter side streets.
            Since we would now stay a little longer at the resort after all, I would have liked such typical floppy shorts. Most were either much too short or too small, though. At the market I had seen one that I liked – only unfortunately it was quite long. But the thought of these pants didn't let go of me anymore.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            So I decided: I just buy them and cut them off later. They didn't have to last forever – main thing comfortable and sufficient for the time at the sea. If they last longer, all the better. So back to the market once more, searched for the stand, quickly tried them on and negotiated briefly. The pants finally went for the fair price of the equivalent of 5 euros.
        </p>
        <p>
            Afterwards we first treated ourselves to a few drinks in a restaurant to cool down. The humidity here is yet again a completely different one than at the sea. Slowly we had to make our way back, though, because our pick-up service should arrive soon.
        </p>
        <p>
            So called a Grab taxi again and back to the ARMA Museum & Resort. There we waited not even 20 minutes until Made – our previous driver – arrived. I believe neither Seb nor I have ever been so happy about a reunion with a driver. (Yuda excluded of course!)
        </p>
        <p>
            Seb's note: Steffi has never been so happy about someone she almost vomited into the car of once. LOL.
        </p>
        <p>
            After much laughter, big hugs, and a short explanation of what had actually happened, the suitcases were loaded – and off we went. This time the drive led through the mountains. To be safe I had taken an anti-vomit drop again, of course, and everything went well.
        </p>
    </div>

    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_2170.jpg" alt="The entrance to Arma Museum & Resort" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Unfortunately, downpours occurred again on the way. But that didn't matter to us – after all, we were going "home". The landscape was really beautiful in places. A pity that the weather didn't cooperate at all. Partly the road was completely under water, and in some places small "avalanches" of mud, branches, and leaves had already formed.
        </p>
        <p>
            In between I had to think of Yuda's words: "The drive through the mountains is dangerous in rain, we drive around the outside." Yes, I could now absolutely comprehend these words – especially in this weather. But if it should be nice, this route is surely dreamlike. That definitely cries for a repetition.
            Correspondingly long the drive took again. But at some point we arrived – and were greeted with bright laughter.
        </p>
    </div>

    <div class="col-md-6 overflow-h margin-top-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_6014.jpg" alt="Rain and streets washed over with dirt" />
        </div>
    </div>

    <div class="col-md-6">
        <p>
            The welcome at the hotel was again incredibly warm and consisted above all of very much laughter. Many guests have been coming back again and again for many years. But no one has managed to come back within a single day so far.
        </p>
        <p>
            So you can imagine that in the next two days – until really everyone, whether staff or guests, knew the story – we would be a popular topic of conversation.
        </p>
        <p>
            We got our "old" villa again and were just happy to be back here. First thing, however, was directly into the shower and the clothes ended up in the laundry bags. We both had the strong feeling: everything is dirty – us included.
        </p>
        <p>
            The afternoon we then spent quite relaxed with lying in front of the bungalow, pool, and drinks at the bar. In between Seb still went to the dive base and of course directly booked another dive for tomorrow.
        </p>
        <p>
            In the evening we again treated ourselves to a cozy meal in the hotel restaurant and afterwards went – happy and relaxed – once more freshly showered (better safe than sorry) into a clean bed.
        </p>
        <p>
            Good night.
        </p>
    </div>

</div>
<!--=== End Post ===-->
