---
layout: blog/en/travelblog
title: "04/29/26 Flight to Italy"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2026-sicily

locations:
  - Italy
  - Sicily

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2026-sicily/mount-etna.jpg"
    alt: "Mount Etna volcano near Catania in Sicily, Italy"

overview:
  intro: "The day actually started like any other Wednesday – with work. But only until noon. Both Seb and I had decided to call it a day"
  image:
    url: "/assets/img/blog/2026-sicily/small/IMG_7051.jpg"
    alt: "The trunk of the too-small rental car"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} at exactly 12 o'clock and meet directly at the airport. Said and done.
        </p>
        <p>
            When I arrived, Seb was already standing in the queue for baggage drop-off. I joined him and we waited... and waited. Too bad the counter hadn't even opened yet. Somehow we hadn't thought about that beforehand. In hindsight we could have easily worked another half hour. Well, lesson learned for next time.
        </p>
        <p>
            At the security check things got a bit annoying for the first time. We of course picked exactly the wrong queue. It felt like every second piece of hand luggage was pulled out for inspection, while at the belt next door everything just flowed through. When we were finally through, not much time remained. But it was still enough for a quick visit to the lounge. So we quickly ate something, had a drink and then it was already time to head to the gate.
        </p>
        <p>
            The boarding itself went surprisingly quickly. Afterwards however we stood around for quite a while before we finally started rolling. With a good half hour delay we finally took off towards Milan.
        </p>
        <p>
            I had gotten the middle seat this time, Seb sat on the aisle. At the window... well... at the window unfortunately sat a guy I won't forget anytime soon. It smelled truly beastly of garlic, sweat and... no idea... as if he hadn't washed for three weeks. The rows on ITA Airways were already extremely tight anyway. Even I with my 1.64 m was constantly bumping my knees against the front seat. Our seat neighbor made it no better and slammed his backrest back completely without consideration. Behind him sat a significantly taller man. That he didn't say anything still borders on a miracle to this day.
            And as if all that wasn't enough, our neighbor constantly placed his arm on the armrest of the seat in front. With the motto: if I'm already smelling, then please for everyone.
        </p>
        <p>
            On this particular morning I had apparently overdone it a bit with perfume and accidentally sprayed my scarf quite generously too. For the first time ever I was really glad about it. I wedged the scarf under my glasses in front of my nose and could at least smell something else in between. The one and a half hours to Milan still felt like an eternity though.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3 margin-top-20">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2026-sicily/small/IMG_7047.jpg" alt="Steffi with improvised mask" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            At least we landed around 30 minutes earlier than planned.
            In Milan the next surprise was already waiting. Although we were only transferring, we had to go through the security check all over again. This made the transfer time immediately tighter again. So just quickly into the Leonardo Lounge, something to drink and on to the next gate.
        </p>

        <p>
            The second flight was also completely full. This time however I had significantly more luck. Next to me sat a small Italian woman who was barely noticeable in her seat and most importantly smelled of... nothing at all. Already quite good.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3 margin-top-20">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-6">
        <p>
            As we slowly flew over Sicily, the clouds became thicker, but we could still look out of the window on the left side and actually catch a glimpse of Mount Etna. Even the snow on the summit was still clearly visible. With that the anticipation rose definitively.
        </p>
        <p>
            After landing we grabbed our suitcases and set out to find Europcar. According to the description the station should be directly in the airport building. Of course it wasn't. Instead we walked with all our luggage for a good ten minutes through the area until we found the rental car center outside the terminal.
            Paperwork done, keys received and off to the car.
        </p>
        <p>
            Well... Sicilian cars and German travel luggage simply don't go together.
            Already after the first attempt it was clear that this would never work with 4 people, 4 suitcases and several backpacks.
            It would only have fit if one of us had ridden on the roof.
        </p>
        <p>
            So we quickly called KaDa, sent this photo and decided together: this won't work. While I stayed with the luggage, Seb marched back to the counter and exchanged the car for a bigger model. Thanks to credit card and status the surcharge stayed within limits fortunately and suddenly everything fit in without problems.
        </p>
        <p>Now the vacation can finally really begin.</p>
    </div>
</div>
<!--=== End Post ===-->
